<!DOCTYPE html>
<html data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Search for people who matter to you. Connect with them through introduction by your trusted network. Discover hidden connections across your multiple networks.">
    <meta name="author" content="Relatas">
    <title>Network | Relationship Intelligence | Relatas</title>
    <!--scroll bar-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/mediaq.css" rel="stylesheet">
    <link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/scheduleIntegration.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);
            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document, 'script', 'twitter-wjs');
    </script>
    <style>

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: -34px;
            }
            /*.form-width {*/
            /*width: 100% !important;*/
            /*}*/
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }

            .nav>li>a>img {
                height: 30px;
                width: 85px;
            }
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    <script>

        $(document).ready(function(){
            $(".open-leftbar").click(function(){
                $("#sidebar-wrapper").toggle();
            });
        });
    </script>
</head>
<body style="overflow-x: hidden;" ng-cloak>
<div class="KK">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}} toggle-sidebar" id="{{disableNav}}" style="margin-top: 0px !important;"></div>
    <div id="page-content-wrapper" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="row margin-top40" data-ng-controller="search_results">
                        <span style="font-size: 13px; margin-left: [[left]];">[[totalResultsMessage]]</span><br><br>
                        <div class="list-contacts grey-green-bg col-xs-5 col-sm-3" page="{{page}}" id="pageType">
                            <div class="secondary-navbar contact-list-filter clearfix cursor-pointer" ng-repeat="contact in contactsList" ng-click="selectSearchItem(contact)">
                                <div class="pull-left">
                                    <img ng-if="!contact.noPicFlag == 1" class="[[contact.myConnectionCSSList]]" title="[[contact.fullName]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" imageonload="imageNotLoaded(contact)">
                                    <span ng-if="contact.noPicFlag == 1"><span class="[[contact.myConnectionCSSList]]" title="[[contact.fullName]]" ng-show="contact.noPicFlag==1">[[contact.noPPic]]</span></span>
                                </div>
                                <div class="pull-left">
                                    <ul class="list-unstyled">
                                        <li title="[[contact.fullName]]"> [[contact.name]]<span class="hashtag-true">[[contact.hashSymbol]]</span></li>
                                        <li title="[[contact.fullDesignation]]">[[contact.designation]]</li>
                                        <li title="[[contact.fullCompanyName]]">[[contact.companyName]]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="details-contacts grey-green-bg col-xs-7 col-sm-6">
                            <img ng-if="show_selected_right" class="[[selectedContact.myConnectionCSS]] [[selectedContact.imagePointerClass]]" ng-click="goToContact(selectedContact.contactUrl)" title="[[selectedContact.fullName]]" ng-src="[[selectedContact.image]]" ng-hide="selectedContact.noPicFlag==1">
                            <span ng-if="selectedContact.noPicFlag == 1"><span class="[[selectedContact.myConnectionCSS]] cursor" title="[[selectedContact.fullName]]" ng-if="selectedContact.noPicFlag==1" ng-click="goToContact(selectedContact.contactUrl)">[[selectedContact.noPPic]]</span></span>
                            <h2 ng-if="show_selected_right" title="[[selectedContact.fullName]]">[[selectedContact.name]]</h2>
                            <h3 ng-if="show_selected_right" class="lite" title="[[selectedContact.fullTitle]]">[[selectedContact.title]]</h3>
                            <p ng-if="show_selected_right" class="clearfix"><i class="fa fa-map-marker orange-color"></i><span title="[[selectedContact.locationFull]]">[[selectedContact.location]]</span></p>
                            <p data-ng-controller="best_common_count">[[commonConnectionsCount]]</p>

                            <div class="display-hashtags" ng-if="selectedContact.ShowHashtags">
                                <span ng-repeat="hashtag in selectedContact.hashtag">[[hashtag]]</span>
                            </div>
                            <div ng-if="selectedContact.publicProfileUrlStr != null">
                                <a href="[[selectedContact.publicProfileUrlStr]]" class="btn btn-green">Schedule a Meeting</a>
                            </div>

                            <!--<div ng-if="selectedContact.ShowHashtags">&lt;!&ndash;absolute-bottom&ndash;&gt;-->
                                <!--<form>-->
                                    <!--<input type="text" placeholder="Hashtag this Contact" class="form-control hashtag-contact" ng-model="hashtag"></input>-->
                                    <!--<button type="submit" class="btn btn-green" ng-click="addHashtag(selectedContact.p_id,hashtag)">Add</button>-->
                                <!--</form>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">
                    <!--<div data-ng-controller="contacts_within_your_company" ng-show="contacts_company_section">
                        <div class="row text-center connect-row1">
                            <div class="col-sm-11">
                                <p class="fs-14">Contacts within your company who can connect you to <strong>[[contactName]]</strong> <button class="btn btn-green">INVITE TEAM MEMBERS</button></p>
                                <div class="connect-sprite">
                                    <div class="profile-from">
                                        <img class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]">
                                    </div>
                                    <button class="btn btn-green"><i class="fa fa-arrow-right"></i> Initiate Introduction</button>
                                    <div class="profile-via">
                                        <img class="image-placeholder-medium" title="[[pathOne.name]]" ng-src="[[pathOne.image]]">
                                        <h5>[[pathOne.name]]</h5>
                                        <p>[[pathOne.duration]]</p>
                                    </div>
                                    <div class="profile-to">
                                        <img class="image-placeholder-medium" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center" ng-show="contacts_company_section2">
                            <div class="col-sm-11">
                                <div class="connect-sprite">
                                    <div class="profile-from">
                                        <img class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]">
                                    </div>
                                    <button class="btn btn-green"><i class="fa fa-arrow-right"></i> Initiate Introduction</button>
                                    <div class="profile-via">
                                        <img class="image-placeholder-medium" title="[[pathTwo.name]]" ng-src="[[pathTwo.image]]">
                                        <h5>[[pathTwo.name]]</h5>
                                        <p>[[pathTwo.duration]]</p>
                                    </div>
                                    <div class="profile-to">
                                        <img class="image-placeholder-medium" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-controller="other_common_connections" ng-show="otherCommon">
                        <div class="row text-center connect-row2">
                            <div class="col-sm-11">
                                <p class="fs-14">Other common connections who can connect you to <strong>[[contactName]]</strong> <button class="btn btn-green-lg" ng-click="uploadContacts()"><i class="fa fa-file-excel-o"></i>Upload Contacts from XLS</button></p>
                                <div class="connect-sprite">
                                    <div class="profile-from">
                                        <img class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]">
                                    </div>
                                    <button class="btn btn-green"><i class="fa fa-arrow-right"></i> Initiate Introduction</button>
                                    <div class="profile-via">
                                        <img class="image-placeholder-medium" title="[[pathOne.name]]" ng-src="[[pathOne.image]]">
                                        <h5>[[pathOne.name]]</h5>
                                        <p>[[pathOne.duration]]</p>
                                    </div>
                                    <div class="profile-to">
                                        <img class="image-placeholder-medium" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center" ng-show="otherCommon2">
                            <div class="col-sm-11">
                                <div class="connect-sprite">
                                    <div class="profile-from">
                                        <img class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]">
                                    </div>
                                    <button class="btn btn-green"><i class="fa fa-arrow-right"></i> Initiate Introduction</button>
                                    <div class="profile-via">
                                        <img class="image-placeholder-medium" title="[[pathTwo.name]]" ng-src="[[pathTwo.image]]">
                                        <h5>[[pathTwo.name]]</h5>
                                        <p>[[pathTwo.duration]]</p>
                                    </div>
                                    <div class="profile-to">
                                        <img class="image-placeholder-medium" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div data-ng-controller="best_connection_controller" ng-show="contacts_section">
                        <div class="row text-center connect-row2">
                            <div class="col-sm-11">
                                <p class="fs-14">Common connections who can connect you to <strong>[[contactName]]</strong>
                                    <!--<button class="btn btn-green-lg" ng-click="uploadContacts()"><i class="fa fa-file-excel-o"></i>Upload Contacts from XLS</button></p>-->

                                <input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">
                                <div ng-repeat="path in bestPaths">
                            <div class="connect-sprite">
                                    <div class="profile-from">
                                        <img ng-if="!lUser.noPicFlag" class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]" imageonload="imageNotLoaded(lUser)">
                                        <span ng-if="lUser.noPicFlag" style="width: 78px; height:78px;"><span class="no-image-placeholder-medium" title="[[lUser.name]]" >[[lUser.nameNoImg]]</span></span>
                                        <h5>[[lUser.name]]</h5>
                                    </div>
                                    <button class="btn btn-green initiate-intro"><i class="fa fa-arrow-right"></i> Initiate Introduction</button>
                                    <div class="profile-via cursor-pointer" ng-click="interactionsContext(path.pathUserEmailId)">
                                        <img ng-if="!path.noPicFlag" class="image-placeholder-medium" title="[[path.name]]" ng-src="[[path.image]]" imageonload="imageNotLoaded(path)">
                                        <span ng-if="path.noPicFlag" style="width: 78px; height:78px;"><span class="no-image-placeholder-medium" title="[[path.name]]" >[[path.nameNoImg]]</span></span>
                                        <h5>[[path.name]]</h5>
                                        <p>[[path.duration]]</p>
                                    </div>
                               <!-- <button class="btn btn-green forward-intro"><i class="fa fa-arrow-right"></i>Introduce</button> -->
                                    <div class="profile-to">
                                        <img class="image-placeholder-medium" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]" ng-hide="selectedUser.noPicFlag==1" imageonload="imageNotLoaded(selectedUser)">
                                        <span ng-if="selectedUser.noPicFlag == 1"><span class="no-image-placeholder-medium" title="[[selectedUser.fullName]]" ng-show="selectedUser.noPicFlag==1" style="color: #70848d;padding: 7px 0;">[[selectedUser.noPPic]]</span></span>
                                     <h5>[[selectedUser.name]]</h5>
                                        <p>[[selectedUser.designation]]</p>
                                        <p>[[selectedUser.companyName]]</p>
                                    </div>
                                </div><br>
                                    <div class="toggle-initiate-intro">
                                        <form role="form">
                                            <div class="form-group">
                                                <textarea ng-model="path.initiateIntroMessageContent" class="form-control" rows="35" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" ng-click="initiateIntroduction(path)" class="btn btn-green disable-on-action">SEND</button>
                                        </form>
                                    </div>
                                    <div class="toggle-forward-intro">
                                        <form role="form">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <textarea ng-model="path.forwordIntroMessageContent" class="form-control" rows="35" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" ng-click="forwordIntroduction(path.forwordIntroMessageContent,path.pathUserEmailId,path.luserEmailId,path.cEmailId)" class="btn btn-green disable-on-action">SEND</button>
                                        </form>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center connect-row1" data-ng-controller="no_recommended" ng-show="no_recommended_hide">
                        <div class="col-sm-11">
                            <p class="fs-14">Contacts within your company who can connect you to <strong>[[contactName]]</strong> <button ng-if="!isCorporateUser" class="btn btn-green move-enterprise">MOVE TO ENTERPRISE PLAN</button></p>
                            <div class="move-to-enterprise">
                                Please mail us at <a href="mailto:hello@relatas.com">hello@relatas.com</a> to enable Enterprise Plan.
                            </div>
                            <div class="connect-sprite">
                                <div class="profile-from">
                                    <img class="image-placeholder-medium" title="[[lUser.name]]" ng-src="[[lUser.image]]">
                                     <h5>[[lUser.name]]</h5>
                                </div>
                                <div class="no-paths-error">You don't have paths to [[contactName]] yet</div>
                                <div class="profile-no-via">
                                    <img class="image-placeholder-medium" src="/landing/img/logo-sm.png">
                                </div>
                                <div class="profile-to">
                                    <img class="image-placeholder-medium" ng-if="!selectedUser.noPicFlag == 1" title="[[selectedUser.fullName]]" ng-src="[[selectedUser.image]]">
                                    <span ng-if="selectedUser.noPicFlag == 1"><span class="image-placeholder-medium-text" title="[[selectedUser.fullName]]">[[selectedUser.noPPic]]</span></span>
                                    <h5>[[selectedUser.name]]</h5>
                                    <p>[[selectedUser.designation]]</p>
                                    <p>[[selectedUser.companyName]]</p>
                                </div>
                            </div>
                            <div class="via-error-action">
                                <p>If you want to connect with <strong>[[contactName]],</strong> we recommend: </p>
                                <p>Adding another email account will help us find more connections between <br> you
                                    and the people you want to meet
                                </p>
                                <p>
                                    When our contacts join Relatas their networks become part of your<br> extended network
                                    and you see more paths to the people you want to meet
                                </p>
                                <ul class="list-unstyled">
                                    <li><button class="btn btn-green-lg" ng-click="add_account = !add_account; invite_contacts = false"><i class="fa fa-plus-circle"></i>Add Account</button></li>
                                    <li><button class="btn btn-green-lg" ng-click="invite_contacts = !invite_contacts; add_account=false"><i class="fa fa-user-plus fa-flip-horizontal"></i>Invite Contacts</button></li>
                                    <!--<li><button class="btn btn-green-lg" ng-click="uploadContacts()"><i class="fa fa-linkedin-square"></i>Import Linkedin Contacts</button></li>-->
                                </ul>
                                <div class="get-more-connections" ng-show="add_account">
                                    <h5 class="normal">Add additional Email Address</h5>

                                    <ul class="list-unstyled" ng-show="add_account">
                                        <li><button class="btn btn-off-white" ng-click="addAccounts(addAccountsUrl)"><i class="fa fa-google orange-color"></i>Google Account</button></li>
                                        <li><button class="btn btn-off-white disabled"><img src="/images/ms-ex.png"> Outlook Account</button></li>
                                        <li><button class="btn btn-off-white disabled"><span class="orange-color">@</span> POP/IMAP Account</button></li>
                                    </ul>
                                </div>
                                <div class="get-more-connections" ng-show="invite_contacts">
                                    <h5 class="normal">Invite Contacts</h5>
                                    <form ng-show="invite_contacts">
                                        <div class="form-group">
                                            <label>TO:</label>
                                            <input type="text" ng-model="toEmailId" class="form-control" placeholder="Multiple email addresses can be separated by commas">
                                        </div>
                                        <div class="form-group">
                                            <label>MESSAGE:</label>
                                            <textarea ng-model="messageContent" class="form-control" rows="35" placeholder="Message"></textarea>
                                        </div>
                                        <button type="submit" ng-click="sendInvite(toEmailId,messageContent)" class="btn btn-green">Send Message</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "timeOut": "8000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $('.fa-chevron-down').click(function(){
            var scrollHeight = $(window).scrollTop();
            var stotsPosition   =   $('.set_meeting_slots').position().top;
            var sectionPosition = $('.banner-section').position().top;
            var sectionHeight = $('.banner-section').height();
            var sectionPositionEnd =   sectionPosition + sectionHeight;
            if(scrollHeight >= 0) {
                $('html, body').stop().animate();
                var scrollSection = ".common-connection-container";
                scrollToAnchorTooSlow(scrollSection);
            }
            else{
                alert("False");
            }
        });
        function scrollToAnchorTooSlow(scrollSection){
            var aTag = $(scrollSection);
            $( "html,body" ).animate({scrollTop: aTag.offset().top}, { duration: 1000,
                specialEasing: {
                    width: "linear",
                    height: "easeOutBounce"
                },
                complete: function() {
                    _animateValidate = true;
                }
            });
        }

    })
</script>

<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/angularConfig.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<!--<script type="text/javascript" src="/javascripts/common/searchController.js"></script>-->
<script type="text/javascript" src="/javascripts/contactsjs/contactConnect.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>
