<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Contacts | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<!--<div class="navigation-container">-->
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>
<!--</div>-->

<div class="page-wrapper row clearfix">
    <div data-ng-controller="left_contacts_bar" class="contact-list-hidden-xs col-md-3 padding-r0">
        <div class="contacts-list-v2">
            <div>
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>
            <div data-ng-include="'/contacts/list'" id="leftbar">
            </div>
        </div>
    </div>
    <div class="main-page-wrapper set-height col-md-9">
        <div ng-show="noContactsFound" class="no-contacts-found">
            <i class="fa fa-exclamation-triangle"></i>No contacts found.
        </div>
        <div ng-show="isDnt" class="no-contacts-found" ng-controller="dntController">
            <i class="fa fa-exclamation-triangle"></i>[[dntContactDetails]] is not being tracked. <br>
            <a class="btn btn-white-border" data-ng-click="startTracking(dntContactDetails)" style="color: #555">Start tracking</a>
        </div>
        <div class="row margin0">
            <div class="col-md-8 mid-board relative">
                <div class='refresh-data-widget' ng-controller="refresh_data" ng-show="!dataRefreshed">
                    [[message]] <span data-ng-click="refreshData()" ng-show="!dataNoSync">Update now</span>
                    <span data-ng-click="reloadPage()" ng-show="dataSynced">Reload page</span>
                </div>

                <div data-ng-controller="contact_details">

                    <!--<div class="mail-notifications" ng-show ="notificationsExist" href="[[inightsMailUrl]]" data-ng-click="goToInsightsMails()">-->
                        <!--You have new important mails.-->
                    <!--</div>-->
                    <div class="row box-ui">
                        <div class="col-md-7 tb-cell this-height">
                            <div class="row clearfix">
                                <a style="cursor: pointer;[[p_favoriteColor_a]]" title="Important contact" ng-click="updateFavorite(p_id,p_favorite)" class="favourite btn-white-border mContactFavorite">
                                    <i class="fa fa-star fa-lg orange-color" style="[[p_favoriteColor]];"></i>
                                </a>
                                <div class="pull-left image">
                                    <span ng-show="no_pic" class="no-image-placeholder">[[p_pic]]</span>
                                    <img ng-show="!no_pic" class="no-image-placeholder" ng-src="[[p_pic]]" imageonload="imageNotLoaded()">
                                    <div class="open-opp-value">
                                        [[openOpportunitiesValue]]
                                        <span>[[noOfOpenOpportunities]]</span>
                                    </div>
                                </div>
                                <div class="pull-left contact-details cursor" ng-click="editContact()">
                                    <h2>[[p_name]]</h2>

                                    <p>[[designation]]<span ng-show="designation">, </span></p>
                                    <p> [[companyName]]</p>

                                    <ul class="list-unstyled">
                                        <li><span class="fa fa-map-marker orange-color" aria-hidden="true"></span>[[p_location]]</li>
                                        <li><span class="fa fa-phone orange-color"></span>[[p_mobileNumber]]</li>
                                        <li><span class="fa fa-envelope orange-color" aria-hidden="true"></span>[[p_emailId]]</li>
                                    </ul>
                                </div>

                                <div class="modal-open convert-modal-sidebar contact-edit" ng-show="editContactModal">
                                    <div class="opportunity-form form-box-shadow">
                                        <div class="modal-header clearfix">
                                            <h3>Edit Contact</h3>
                                        </div>
                                        <div class="row max-height">
                                            <div class="col-md-12 clearfix">

                                                <label>Full Name</label>
                                                <input type="text" value="[[p_name]]" ng-model="detailsValue.p_name">

                                                <label>Designation</label>
                                                <input type="text" placeholder="[[designation]]" ng-model="detailsValue.designation">

                                                <label>Company</label>
                                                <input type="text" placeholder="[[companyName]]" ng-model="detailsValue.companyName">

                                                <label>Location</label>
                                                <input type="text" value="[[p_location]]" ng-model="detailsValue.p_location" id="autocomplete">

                                                <label>Phone Number</label>
                                                <input type="text" ng-model="detailsValue.p_mobileNumber">

                                                <label>Email Id</label>
                                                <input type="text" ng-model="detailsValue.p_emailId" value="[[p_emailId]]">
                                            </div>
                                        </div>

                                        <div class="footer clearfix">
                                            <button class="btn btn-primary margin-top0 pull-right" ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)">SAVE</button>
                                            <button class="btn btn-white margin-top0 pull-right close-btn" data-ng-click="cancel()" style="margin-right: 10px">CANCEL</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 padding0">
                            <div class="relationship-container" data-ng-controller="contact_relation">

                                <div>
                                    <a class="btn btn-white-border mContactCustomer" ng-click="updateRelation(l_userId,p_id,p_relation_customer,p_relation_key_prospect_customer,p_relation_contact_value)" style="[[p_contactColor]]">Contact</a>
                                    <a class="btn btn-white-border mContactProspect" ng-click="updateRelation(l_userId,p_id,p_relation_prospect,p_relation_key_prospect_customer,p_relation_lead_value)" style="[[p_leadColor]]">Lead</a>
                                    <a class="btn btn-white-border mContactProspect" ng-click="updateRelation(l_userId,p_id,p_relation_prospect,p_relation_key_prospect_customer,p_relation_prospect_value)" style="[[p_prospectColor]]">Prospect</a>
                                    <a class="btn btn-white-border mContactCustomer" ng-click="updateRelation(l_userId,p_id,p_relation_customer,p_relation_key_prospect_customer,p_relation_customer_value)" style="[[p_customerColor]]">Customer</a>
                                </div>
                                <div>
                                    <a class="btn btn-white-border mContactInfluencer" ng-click="updateRelation(l_userId,p_id,p_relation_partner,p_relation_key_decisionmaker_influencer,p_relation_partner_value)" style="[[p_partnerColor]]">Partner</a>
                                    <a class="btn btn-white-border mContactInfluencer" ng-click="updateRelation(l_userId,p_id,p_relation_influencer,p_relation_key_decisionmaker_influencer,p_relation_influencer_value)" style="[[p_influencerColor]]">Influencer</a>
                                    <a class="btn btn-white-border mContactDecisionMaker" ng-click="updateRelation(l_userId,p_id,p_relation_decision_maker,p_relation_key_decisionmaker_influencer,p_relation_decision_maker_value)" style="[[p_decision_makerColor]]">Decision Maker</a>
                                </div>
                                <div>
                                    <a class="btn btn-white-border" ng-click="updateCXO(l_userId,p_id,cxoStatus)" style="[[p_cxoColor]]">CXO</a>
                                </div>
                                <div ng-show="remindToConnect" ng-mouseover="setRTC()" class="cursor remindToConnectSelector"><i class="fa fa-clock-o"></i>[[remindToConnect]]</div>
                                <div>
                                    <a class="btn btn-white-border" style="color: #555;" ng-click="dntThisContact(l_userId,p_id,p_emailId,p_mobileNumber)">Do No Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-controller="interactions_opportunities" class="relative margin-top50">
                    <div class="row pseudo-btn-wrapper">
                        <div class="float-btns">
                            <ul class="clearfix">
                                <li ng-click="openEmailModal()">
                                    <button class="[[actionToggle]]"><i class="fa fa-envelope"></i> <span class="hide-xs">Email</span></button>
                                </li>
                                <li ng-click="addOpportunity()">
                                    <button class="[[actionToggle]]"><i class="fa fa-dollar"></i><span class="hide-xs">Opportunity</span></button>
                                </li>
                                <li ng-click="openNoteModal()">
                                    <button class="[[actionToggle]]"><i class="fa fa-sticky-note"></i><span class="hide-xs">Add Note</span></button>
                                </li>
                                <li ng-click="schedule()">
                                    <button class="[[actionToggle]]" ng-disabled="!isRelatasUser"><i class="fa fa-calendar"></i><span class="hide-xs">Meeting</span></button>
                                </li>
                                <li ng-click="openHashtagModal()">
                                    <button class="[[actionToggle]]"><i class="fa fa-hashtag"></i><span class="hide-xs">Add Tag</span></button>
                                </li>
                                <li ng-mouseover="setRTC()">
                                    <button class="[[actionToggle]] remindToConnectSelector"><i class="fa fa-clock-o"></i><span class="hide-xs">Reminder</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row box-ui">
                        <div class="section">
                            <h5 class="cursor" ng-click="openEmailModal()">Interactions</h5>
                            <div ng-repeat="item in recentActivity">
                                <div class="clearfix interactions [[item.cursor]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')">
                                    <div class="pull-left first-child">
                                        <div class="clearfix relative" style="[[item.dataObj.itemPointer]]">
                                            <i class="fa [[item.iconClass]] font-20 timeline-icons"></i>
                                            <span class="pos-abs-action-type-4series [[item.interactionInitClass]]"><i class="[[item.actionType]] rotate-45"></i></span>
                                            <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]"></span>
                                            <span class="email-read duration-css" ng-show="item.callDuration">[[item.callDuration]]</span>
                                            <div ng-show="item.emailRead" class="email-read" style="float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div><span class="time-info-details bold">[[item.dateText]]</span></div>
                                        <div><span class="time-info-details lite">[[item.duration]]</span></div>
                                    </div>
                                </div>

                                <div class="modal-open convert-modal-sidebar" ng-show="item.dataObj.emailBodyBox && item.dataObj.isReplyModalOpen">
                                    <div class="opportunity-form form-box-shadow">
                                        <!--<div class="close-btn" ng-click="closeModal()">-->
                                            <!--X-->
                                        <!--</div>-->
                                        <div class="modal-header clearfix">

                                            <div class="col-md-5 clearfix">
                                                <h3>Reply </h3>
                                            </div>
                                            <div class="col-md-7 clearfix">
                                                <div class="pull-left">
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" ng-model="item.dataObj.compose_email_remaind">
                                                        <label > Notify in 7 Days</label>
                                                    </div>
                                                </div>
                                                <button class="btn btn-flat pull-right" ng-click="replyEmail(replyBody,item)">SEND</button>
                                                <button class="btn btn-flat pull-right cancel" ng-click="closeModal()" >CANCEL</button>
                                            </div>
                                        </div>
                                        <div class="row max-height email">
                                            <div class="col-md-12">
                                                <div class="clearfix">
                                                    <div>
                                                        <label>To: [[to]]</label>
                                                        <label ng-click="openCC()" style="margin: 3px 0; cursor: pointer;">Add CC</label>
                                                    </div>
                                                </div>

                                                <div class="form" ng-show="openCCItem">
                                                    <div class="row margin0">
                                                        <div class="relativec cc">
                                                            <div>
                                                                <input ng-model="email_cc" type="text" class="compose-text-box" ng-change="searchContacts(email_cc,'cc')">
                                                            </div>
                                                            <ul class="list-unstyled email-id-cc">
                                                                <li ng-repeat="item in add_cc track by $index" ng-click=removeCC(item)>[[item]]</li>
                                                            </ul>
                                                            <div class="search-box-wrapper clearfix" ng-show="showResultscc">
                                                                <div ng-repeat="item in ccs track by $index" class="clearfix">
                                                                    <div class="clearfix cursor" ng-click="addCCToList(item)">
                                                                        <div class="pull-left relative">
                                                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                                        </div>
                                                                        <div class="pull-left">
                                                                            <p class="margin0">[[item.name]]</p>
                                                                            <p class="margin0">[[item.emailId]]</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mail-view">
                                                    <div class="reply-to-this">
                                                        <div class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                                                        <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent">

                                                        </div>
                                                        <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                                                    </div>
                                                    <div id="[[item.dataObj.bindHtmlKey]]"></div>
                                                </div>
                                                <label>Reply</label>
                                                <textarea ng-model="replyBody" autofocus></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="view-more" ng-click="viewAllInteractions()" ng-show="ifInteractions">More</a>
                            <div class="clearfix" ng-if="showMoreInteractions">
                                <div class="pull-right">
                    <span class="green-color fs-12 underline cursor" style="margin-right: 10px;" ng-click="viewAllInteractions(meetingDetails.personEmailId)">
                        View All <i class="fs-14 fa fa-angle-right"></i>
                    </span>
                                    <!--<div class="more-contacts btn-reset">-->
                                    <!--<button class="action text-buttons" ng-disabled="currentPageInteractions == 0" ng-click="currentPageInteractions=currentPageInteractions-1"> <i class="fa fa-angle-left"></i> </button>-->
                                    <!--[[currentPageInteractions+1]]/[[numberOfPages()]]-->
                                    <!--</div>-->
                                    <!--<div class="more-contacts btn-reset">-->
                                    <!--<button class="action text-buttons" ng-disabled="currentPageInteractions >= numberOfInteractions/pageSizeInteractions - 1" ng-click="currentPageInteractions=currentPageInteractions+1"> <i class="fa fa-angle-right"></i> </button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <h5 class="cursor" ng-click="addOpportunity()">Opportunities</h5>
                            <div ng-repeat='item in opportunityTimeline' class="clearfix opportunities" ng-click="editOpportunity(item)">
                                <div class="clearfix">
                                    <div class="pull-left name-value" ng-show="item.sourceType != 'Renewal'">
                                        <p><i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="item.isStale"></i> [[item.opportunityName]]</p>
                                    </div>
                                    <div class="pull-left name-value" ng-show="item.sourceType == 'Renewal'">
                                        <p><i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="item.isStale"></i> [[item.opportunityName]] - Auto renewal</p>
                                    </div>
                                    <div class="pull-left base-style [[item.stageStyle]]" ng-style="item.stageStyle2">[[item.relatasStage]]</div>
                                    <!--<div class="pull-left">[[item.wonOrLost]]</div>-->

                                    <div class="pull-right close-dt">
                                        <p>[[item.closeDateFormatted]]</p>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="margin-set currency">
                                        <p>
                                            [[item.currency]] <span class="normal">[[item.amountWithNgm]]</span>
                                            <span ng-show="item.ngmReq">([[item.netGrossMargin]]% of [[item.amount]])</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-open convert-modal-sidebar" ng-show="isOppModalOpen">
                            <div class="opportunity-form form-box-shadow">
                                <div class="modal-header clearfix">
                                    <div class="col-md-5">
                                        <h3>Add/Edit Opportunity</h3>
                                    </div>

                                    <div class="col-md-7 clearfix">
                                        <div class="clearfix">
                                            <div class="pull-left" ng-show="mailOptions">
                                                <label>
                                                    <input type="checkbox" ng-model="mailOrgHead" ng-disabled="notificationForOrgHead">Mail Organisation Head
                                                </label>
                                                <label>
                                                    <input type="checkbox" ng-model="mailRm" ng-disabled="notificationForReportingManager">Mail Reporting Manager
                                                </label>
                                            </div>
                                            <button class="btn btn-flat pull-right" ng-click="saveOpportunity()" ng-show="!opp.isNotOwner">SAVE</button>
                                            <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>

                                            <div class="owner" ng-show="opp.owner.fullName" title="[[opp.owner.fullName]], [[opp.owner.emailId]]">
                                                <img ng-if="!opp.owner.noPicFlag" src="[[opp.owner.image]]" imageonload="imageNotLoaded(opp.owner)">
                                                <span ng-if="opp.owner.noPicFlag">[[opp.owner.nameNoImg]]</span>
                                                <strong>[[opp.owner.fullName]]</strong>
                                            </div>
                                        </div>

                                        <div>
                                            <div ng-show="createdDateFormatted" class="text-right margin-top10">
                                                Created Date: [[createdDateFormatted]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="max-height">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Opportunity Name <a class="green-color underline" href="#" ng-show="opp.source == 'renewal'" data-ng-click="loadSourceOpp(opp)">( View Source )</a>  <span class="required">*</span></label>
                                            <input type="text" ng-model="opp.opportunityName">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Close Date <span class="required">*</span></label>
                                            <input onkeydown="return false" type="text" ng-model="opp.closeDateFormatted" id="opportunityCloseDateSelector" ng-mouseover="registerDatePickerId()">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Stage <span class="required">*</span></label>
                                            <select ng-model="opp.stage" class="stage-list" ng-change="ifOppClose(opp.stage)">
                                                <option ng-repeat="stage in stages" value=[[stage]]>[[stage]]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" ng-if="!netGrossMargin">
                                            <label>Amount ([[currency]]) <span class="required">*</span></label>
                                            <input type="text" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                                        </div>
                                        <div class="col-md-6" ng-if="netGrossMargin">
                                            <div class="row margin0">
                                                <div class="col-md-7 padding-l0">
                                                    <label>Amount ([[currency]]) <span class="required">*</span></label>
                                                    <input type="text" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                                                </div>
                                                <div class="col-md-5 padding-r0">
                                                    <label>Net Gross Margin % <span class="required">*</span></label>
                                                    <input type="text" ng-model="opp.netGrossMargin">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div ng-show="companyDetails.geoLocations.length>0">
                                                <label>Region <span ng-show="isRegionRequired" class="required">*</span></label>
                                                <div class="add-town clearfix">
                                                    <select ng-model="opp.geoLocation.zone">
                                                        <option ng-repeat="item in companyDetails.geoLocations" ng-selected="opp.geoLocation.zone == item.region" value="[[item.region]]">[[item.region]]</option>
                                                    </select>
                                                    <input type="text" placeholder="Add Location" value="[[opp.geoLocation.town]]" ng-model="opp.geoLocation.town" id="autocompleteCity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-show="companyDetails.sourceList.length>0">
                                                <label>Source <span ng-show="isSourceRequired" class="required">*</span></label>
                                                <div class="product-list clearfix">
                                                    <select ng-model="opp.sourceType" ng-disabled="opp.isNotOwner">
                                                        <option ng-repeat="item in companyDetails.sourceList" ng-selected="opp.sourceType == item.name" value="[[item.name]]">[[item.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<hr>-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div ng-show="companyDetails.productList.length>0">
                                                <label>Products <span ng-show="isProductRequired" class="required">*</span></label>
                                                <div class="product-list clearfix">
                                                    <select ng-model="opp.productType">
                                                        <option ng-repeat="item in companyDetails.productList" ng-selected="opp.productType == item.name" value="[[item.name]]">[[item.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-show="companyDetails.verticalList.length>0">
                                                <label>Vertical <span ng-show="isVerticalRequired" class="required">*</span></label>
                                                <div class="product-list clearfix">
                                                    <select ng-model="opp.vertical">
                                                        <option ng-repeat="item in companyDetails.verticalList" ng-selected="opp.vertical == item.name" value="[[item.name]]">[[item.name]]</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Add Decision Makers</label>
                                            <input type="text" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker">
                                            <div search-results-d></div>

                                            <div class="contacts child" ng-show="opp.decisionMakers.length>0">
                                                <div ng-repeat="item in opp.decisionMakers track by $index" class="profile-wrapper">
                                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                                        <div class="relative" data-toggle="dropdown">
                                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                        </div>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <li ng-click="removeRecipient(item,'decisionMaker')" class="cursor">Delete</li>
                                                            <li class="divider"></li>
                                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                        </ul>
                                                        <p class="margin0">[[item.name]]</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Add Influencers</label>
                                            <input type="text" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer">
                                            <div search-results-i></div>
                                            <div class="contacts child" ng-show="opp.influencers.length>0">
                                                <div ng-repeat="item in opp.influencers track by $index" class="profile-wrapper">
                                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                                        <div class="relative" data-toggle="dropdown">
                                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                        </div>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <li ng-click="removeRecipient(item,'influencer')" class="cursor">Delete</li>
                                                            <li class="divider"></li>
                                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                        </ul>
                                                        <p class="margin0">[[item.name]]</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>Add Partners/Resellers</label>
                                            <input type="text" ng-change="searchContacts(partner,'partner')" ng-model="partner">
                                            <div search-results-p></div>
                                            <div class="contacts child" ng-show="opp.partners.length>0">
                                                <div ng-repeat="item in opp.partners track by $index" class="profile-wrapper">
                                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                                        <div class="relative" data-toggle="dropdown">
                                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                        </div>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <li ng-click="removeRecipient(item,'partner')" class="cursor">Delete</li>
                                                            <li class="divider"></li>
                                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                        </ul>
                                                        <p class="margin0">[[item.name]]</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Competitor</label>
                                            <input type="text" ng-model="opp.competitor">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 opp-checkbox">
                                            <label style="margin-bottom: 15px;">BANT Test</label> <br>
                                            <label>
                                                <input ng-model="budget" type="checkbox" ng-change="changeSelection()"> Budget
                                            </label>
                                            <label>
                                                <input ng-model="authority" type="checkbox" ng-change="changeSelection()"> Authority
                                            </label>
                                            <label>
                                                <input ng-model="need" type="checkbox" ng-change="changeSelection()"> Need
                                            </label>
                                            <label>
                                                <input ng-model="time" type="checkbox" ng-change="changeSelection()"> Time
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row" ng-show="opp.closeReasons.length>0">
                                        <div class="col-md-6 comma-after-span">
                                            <label>Close Reasons</label>
                                            <span class="fs-14 lite" ng-repeat="el in opp.closeReasons">[[el]]</span>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label>Close Description</label>
                                            <p class="fs-14 lite">[[opp.closeReasonDescription]]</p>
                                        </div>
                                    </div>
                                    <div class="logs row" ng-show="opp.logs">
                                        <div class="col-md-12">
                                            <label>Activity log</label>
                                            <div>
                                                <ol>
                                                    <li ng-repeat="log in opp.logs | orderBy:'-date'">
                                                        [[log.message]]
                                                        <p ng-show="log.noteExist"> <strong>Reason: </strong>&nbsp;[[log.notes]]</p>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="reasonsRequired" class="nested-modal">
                                    <div class="header clearfix">
                                        <!--<i class="fa fa-arrow-circle-o-left cursor" data-ng-click="reasonsRequired =! reasonsRequired" title="Back to opportunity"></i>-->
                                        <div class="pull-right">
                                            <label>
                                                <input type="checkbox" ng-model="mailOrgHead" ng-disabled="notificationForOrgHead">Mail Organisation Head
                                            </label>
                                            <label>
                                                <input type="checkbox" ng-model="mailRm" ng-disabled="notificationForReportingManager">Mail Reporting Manager
                                            </label>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="row border-lite padding-10">
                                            <div class="row" style="margin-top: 0;">
                                                <strong>Opportunity Close Reasons</strong>
                                            </div>
                                            <div class="row" style="margin-top: 0;">
                                                <div class="col-md-4">
                                                    <label ng-repeat="item in companyDetails.closeReasons | orderBy:'name'">
                                                        <input type="checkbox" ng-model="item.selected" data-ng-click="addToReasonList(item.name)"> [[item.name]]
                                                    </label>
                                                </div>
                                                <div class="col-md-7">
                                                    <label>Reason in detail</label>
                                                    <textarea ng-model="opp.closeReasonDescription">

                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row border-lite padding-10" ng-show="opp.stage == 'Close Won'">
                                            <strong>Renewal opportunity</strong>
                                            <label>
                                                <input type="checkbox" ng-model="opp.renewThisOpp">
                                                [[opp.opportunityName]] is a renewal opportunity
                                            </label>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Amount ([[currency]])</label>
                                                    <input type="text" ng-model="renewalAmount" id="renewalAmount" autofocus="autofocus">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Close Date</label>
                                                    <input onkeydown="return false" type="text" ng-model="renewalCloseDateFormatted" id="opportunityCloseDateSelector4" ng-mouseover="registerDatePickerIdRenewal('renewal')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-flat" ng-click="goBackToOpp()" ng-show="!opp.isNotOwner">Save & Back to opp.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-open convert-modal-sidebar" ng-if="isEmailModalOpen">

                            <div class="opportunity-form form-box-shadow">
                                <div class="modal-header clearfix">
                                    <div class="col-md-5">
                                        <h3>Send Mail</h3>
                                    </div>
                                    <div class="col-md-7 clearifx">
                                        <div class="pull-left">
                                            <div class="checkbox checkbox-inline">
                                                <input ng-model="reminder" type="checkbox" id="inlineCheckbox99" value="option1">
                                                <label for="inlineCheckbox99"> Notify in 7 Days</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-flat pull-right" ng-click="sendEmail(subject,body,reminder)">SEND</button>
                                        <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
                                    </div>
                                </div>
                                <div class="row max-height email">
                                    <div class="col-md-12">
                                        <div class="clearfix">
                                            <div>
                                                <label>To: [[to]]</label>
                                                <label ng-click="openCC()" style="margin: 3px 0; cursor: pointer;">Add CC</label>
                                            </div>
                                        </div>

                                        <div class="form" ng-show="openCCItem">
                                            <div class="row margin0">
                                                <div class="relativec cc">
                                                    <div>
                                                        <input ng-model="email_cc" type="text" class="compose-text-box" ng-change="searchContacts(email_cc,'cc')">
                                                    </div>
                                                    <ul class="list-unstyled email-id-cc">
                                                        <li ng-repeat="item in add_cc track by $index" ng-click=removeCC(item)>[[item]]</li>
                                                    </ul>
                                                    <div class="search-box-wrapper clearfix" ng-show="showResultscc">
                                                        <div ng-repeat="item in ccs track by $index" class="clearfix">
                                                            <div class="clearfix cursor" ng-click="addCCToList(item)">
                                                                <div class="pull-left relative">
                                                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                                </div>
                                                                <div class="pull-left">
                                                                    <p class="margin0">[[item.name]]</p>
                                                                    <p class="margin0">[[item.emailId]]</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label>Subject</label>
                                        <input type="text" ng-model="subject">
                                        <label class="message-label">Message</label>
                                        <textarea ng-model="body"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-open convert-modal-sidebar" ng-if="isNoteModalOpen">
                            <div class="opportunity-form form-box-shadow">
                                <div class="modal-header clearfix">
                                    <div class="col-md-5">
                                        <h3>Add Note</h3>
                                    </div>

                                    <div class="col-md-7 clearfix">
                                        <button class="btn btn-flat pull-right" ng-click="addNoteForContact(note)">SAVE</button>
                                        <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
                                    </div>
                                </div>
                                <div class="row max-height">
                                    <div class="col-md-12">
                                        <label>Note</label>
                                        <textarea type="text" ng-model="note" autofocus></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-open convert-modal-sidebar hashtags" ng-if="isHashtagModalOpen">

                            <div class="opportunity-form form-box-shadow">
                                <div class="modal-header clearfix">

                                    <div class="col-md-5"><h3>Add/View Hashtags</h3></div>
                                    <div class="col-md-7 clearfix">
                                        <button class="btn btn-flat pull-right" ng-click="addHashtag(hashtag)">ADD</button>
                                        <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
                                    </div>
                                </div>
                                <div class="row max-height">
                                    <div class="col-md-12">
                                        <div class="display-hashtags clearfix">
                                            <div ng-repeat="tag in hashtags track by $index" class="dropdown pull-left">
                                                <span data-toggle="dropdown">[[tag]]</span>
                                                <!--<a data-toggle="dropdown" href="#">Dropdown trigger</a>-->
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <li ng-click="deleteHashtag(tag)" class="cursor">Delete</li>
                                                    <li class="divider"></li>
                                                    <li ng-click="showHashtags(tag)" class="cursor">View All</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <label>Hashtag</label>
                                        <input type="text" ng-model="hashtag">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <h5 class="cursor" ng-click="openNoteModal()">Notes</h5>
                            <div ng-repeat='item in notes' class="clearfix notes">
                                <div class="pull-left">
                                    [[item.text]]
                                </div>
                                <div class="pull-right">
                                    [[item.dateFormatted]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-bar">
                <div class="box-ui">
                    <div class="interations-relationship-past-90-days row" data-ng-controller="contactImpact" title="Business impact within your company">
                        <h4>Business Impact (Opp vs Amount)</h4>
                        <div ng-show="loadingImpactValues" class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                        <div class="bar-graph clearfix cursor" ng-show="!loadingImpactValues" data-ng-click="goToOpp()">
                            <div class="left">
                                <div class="leftbar1">
                                    <span ng-style="ownerOpp"></span>
                                    <i>[[impactValues.occurrence.oppOwnerCount]]</i>
                                </div>
                                <div class="leftbar2">
                                    <span ng-style="pOpp"></span>
                                    <i>[[impactValues.occurrence.partnersCount]]</i>
                                </div>
                                <div class="leftbar3">
                                    <span ng-style="dmOpp"></span>
                                    <i>[[impactValues.occurrence.dmCount]]</i>
                                </div>
                                <div class="leftbar4">
                                    <span ng-style="iOpp"></span>
                                    <i>[[impactValues.occurrence.influencersCount]]</i>
                                </div>
                            </div>
                            <div class="center">
                                <div>Owner</div>
                                <div>Partner</div>
                                <div>Decision Maker</div>
                                <div>Influencer</div>
                            </div>
                            <div class="right">
                                <div class="rightbar1">
                                    <span ng-style="ownerAmt"></span>
                                    <i>[[impactValues.amount.oppOwnerAmount]]</i>
                                </div>
                                <div class="rightbar2">
                                    <span ng-style="pAmt"></span>
                                    <i>[[impactValues.amount.partnersAmount]]</i>
                                </div>
                                <div class="rightbar3">
                                    <span ng-style="dmAmt"></span>
                                    <i>[[impactValues.amount.dmAmount]]</i>
                                </div>
                                <div class="rightbar4">
                                    <span ng-style="iAmt"></span>
                                    <i>[[impactValues.amount.influencersAmount]]</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-ui">
                    <div data-ng-controller="teamConnections" class="text-left row common-connections">
                        <h5>Team Connections ([[totalTeamConnections]])</h5>

                        <div ng-show="loadingTeamConnections" class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>

                        <div class="more-contacts" ng-show="totalTeamConnections>0">
                            <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                        </div>
                        <div ng-repeat="item in teamcConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles" ng-click="goToContact(item.emailId)">
                            <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                            <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                            <p>
                                [[item.fullName]]
                            </p>
                        </div>
                        <div class="more-contacts" ng-show="totalTeamConnections>0">
                            <button class="action text-buttons" ng-disabled="currentPage >= numberOfteamcConnections/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="box-ui">
                    <div data-ng-controller="commonConnections" class="text-left row common-connections" ng-show="!hideCC">

                        <h4>Common Connections ([[totalNumberCC]])</h4>
                        <div ng-show="loadingCommonConnections" class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>

                        <div class="more-contacts" ng-show="totalNumberCC>0">
                            <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                        </div>
                        <div ng-repeat="item in cConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles" ng-click="goToContact(item.emailId)">
                            <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                            <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                            <p>
                                [[item.fullName]]
                            </p>
                        </div>
                        <div class="more-contacts" ng-show="totalNumberCC>0">
                            <button class="action text-buttons" ng-disabled="currentPage >= numberOfContacts/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="box-ui">
                    <div class="interations-relationship-past-90-days text-left row ng-scope" data-ng-controller="participantPast90Days">
                        <h5 class="text-center">Past [[dataFor]] Days</h5>
                        <hr class="hr-line">
                        <h4>Interactions Initiations</h4>
                        <div ng-show="!dataLoading" class="row padding-tb15">
                            <div class="donut-pos-abs col-md-4">
                                <canvas id="donut-chart" ng-if="! [[interaction_initiations_total]] == 0"> Your browser does not support Charts. Please update here.</canvas>
                                <div class="donut-num">
                                    [[interaction_initiations_total]]
                                </div>
                            </div>
                            <div class="col-md-8 interactions-init">
                                <div class="row">
                                    <div class="col-xs-1 orange-bg">
                                        <span>[[interaction_initiations_you]]</span>
                                    </div>
                                    <div class="col-xs-3" style="line-height: 35px;margin-left: -10px;margin-right: 20px; ">
                                        You
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1 orange-off-bg">
                                        <span>[[interaction_initiations_other]]</span>
                                    </div>
                                    <div class="col-xs-9">
                                        [[interaction_initiations_other_name]]
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div ng-show="dataLoading" class="loader">
                            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        </div>
                        <hr class="hr-line">
                        <div class="row text-center">
                            <h4>Relationship Strength</h4>
                            <div ng-show="!dataLoading" class="orange-color fs-20">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                        </div>
                        <div ng-show="dataLoading" class="loader">
                            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        </div>

                        <div ng-show="!dataLoading" class="row graph-wrapper">
                            <ul class="graph">
                                <li>
                            <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                                <p class="values-top">[[interactionsByType.a.count]]</p>
                            </span>
                                </li>
                                <li>
                    <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                        <p class="values-top">[[interactionsByType.b.count]]</p>
                    </span></li>
                                <li>
                    <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                        <p class="values-top">[[interactionsByType.c.count]]</p>
                    </span></li>
                                <li>
                    <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                        <p class="values-top">[[interactionsByType.d.count]]</p>
                    </span></li>
                                <!--<li>-->
                                <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                                <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                                <!--</span></li>-->
                                <li>
                    <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                        <p class="values-top">[[interactionsByType.f.count]]</p>
                    </span></li>
                                <!--<li>-->
                                <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                                <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                                <!--</span></li>-->
                            </ul>
                            <ul class="graph-icons">
                                <li><i class="fa fa-calendar-check-o green-color"></i></li>
                                <li><i class="fa fa-phone green-color"></i></li>
                                <li><i class="fa fa-reorder green-color"></i></li>
                                <li><i class="fa fa-envelope green-color"></i></li>
                                <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                                <li><i class="fa fa-twitter-square twitter-color "></i></li>
                                <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                            </ul>

                        </div>
                        <div ng-show="!dataLoading" class="row" style="margin-top: 25px;">
                            <div class="col-sm-10 col-sm-offset-1 slider-btn">

                                <strong class="fs-14">Your Rating: &nbsp;&nbsp;&nbsp; </strong>
                                <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-value="[[relationshipStrength_updated]]" value="[[relationshipStrength_updated]]"/> <span id="relationshipStrength_updated">[[relationshipStrength_updated]]</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="some-id"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });

        if(window.location.hash == '#/fromDashboard') {
            setTimeout(function(){
                $('html,body').animate({
                    scrollTop: $('#opportunity-button').offset().top
                });
            }, 1000);
        }
    });
</script>
<script>
    $('#ex3').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
        }
    });
</script>
<script src="/javascripts/schedule/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

<script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script src="/javascripts/schedule/slide/toastr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/contactSelected.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/leftContactsBar.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>

<!--<script type="text/javascript" src="/javascripts/documentor/html2canvas.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/documentor/index.js"></script>-->
<!--<script>-->
    <!--google.load('visualization', '1.0', {'packages':['corechart']});-->
<!--</script>-->
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places&callback=initAutocomplete" async defer></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>