<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Contacts | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/slide/jquery.pwstabs.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="/javascripts/todaySeries/plugin/Chart.js"></script>
    <script src="/javascripts/todaySeries/tabs.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak>
<div class=""></div>
<div data-ng-controller="left_contacts_bar">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>
            <div data-ng-include="'/contacts/left/bar/template'" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">
            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper set-height" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">
    <div class="row margin0">
        <div class="col-xs-12 col-md-12">
            <div class="row grey-green-bg" style="margin-top: 55px;" data-ng-controller="contact_details">
                <div class="col-sm-6 col-md-6 tb-cell this-height">
                    <div class="row">
                        <div class="col-xs-4 col-md-3">
                            <div style="margin:55px 0;">
                                <span ng-show="no_pic" class="no-image-placeholder" style="padding: 32px 0;">[[p_pic]]</span>
                                <img ng-show="!no_pic" class="no-image-placeholder" ng-src="[[p_pic]]" imageonload="imageNotLoaded()">
                            </div>
                        </div>
                        <div class="col-xs-8 col-md-9 contact-details [[canEditClass]] [[editTrue]]">
                            <h2 ng-click="editContact('name')" ng-if="!editName">[[p_name]] <i class="fa fa-edit"></i></h2>
                            <input type="text" class="first" ng-if="editName" value="[[p_name]]" ng-model="detailsValue.p_name">
                            <ul class="list-unstyled edit-btns" ng-if="editName">
                                <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                            </ul>
                            <p class="[[p_class_invisible]] edit-underline" ng-if="!editDesignation" ng-click="editContact('designation')">[[designation]], </p>
                            <input type="text" ng-if="editDesignation" placeholder="[[designation]]" ng-model="detailsValue.designation">
                            <ul class="list-unstyled edit-btns-1" ng-if="editDesignation">
                                <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                            </ul>
                            <p class="[[p_class_invisible]] edit-underline" ng-if="!editCompany" ng-click="editContact('company')">[[companyName]] <i class="fa fa-edit"></i></p>
                            <input type="text" ng-if="editCompany" placeholder="[[companyName]]" ng-model="detailsValue.companyName">
                            <ul class="list-unstyled edit-btns-1" ng-if="editCompany">
                                <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li ng-if="!editLocation" ng-click="editContact('location')" class="edit-underline"><span class="fa fa-map-marker orange-color" aria-hidden="true"></span>[[p_location]] <i class="fa fa-edit"></i></li>
                                <input type="text" ng-show="editLocation" value="[[p_location]]" ng-model="detailsValue.p_location" id="autocomplete">
                                <ul class="list-unstyled edit-btns-2" ng-if="editLocation">
                                    <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                    <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                                </ul>
                                <li>
                                    <span ng-if="noEditMobileNumber">
                                        <span class="fa fa-phone orange-color" style="text-decoration: none !important;" aria-hidden="true"></span>[[p_mobileNumber]]
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <span ng-if="!editMobile && !noEditMobileNumber" ng-click="editContact('phone')" class="edit-underline">
                                        <i class="fa fa-phone orange-color"></i>
                                        <i class="fa fa-edit edit-this"></i>
                                    </span>
                                </li>
                                <input type="text" ng-if="editMobile" ng-model="detailsValue.p_mobileNumberCC" style="width: 40px;">
                                <input type="text" ng-if="editMobile" ng-model="detailsValue.p_mobileNumber">
                                <ul class="list-unstyled edit-btns-3" ng-if="editMobile">
                                    <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                    <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                                </ul>
                                <li ng-if="!editEmailId" class="[[editUnderline]]" ng-click="editContact('emailId')" ng-disabled="noEditEmailId"><span class="fa fa-envelope orange-color" aria-hidden="true"></span>[[p_emailId]]</li>
                                <input type="text" ng-if="editEmailId" ng-model="detailsValue.p_emailId" value="[[p_emailId]]">
                                <ul class="list-unstyled edit-btns-3" ng-if="editEmailId">
                                    <li ng-click="cancelEdit()"><i class="fa fa-close"></i></li>
                                    <li ng-click="saveContact(detailsValue.p_name,detailsValue.designation,detailsValue.companyName,detailsValue.p_location,detailsValue.p_mobileNumberCC,detailsValue.p_mobileNumber,detailsValue.p_emailId)"><i class="fa fa-check"></i></li>
                                </ul>
                                <li><a style="cursor: pointer;[[p_favoriteColor_a]]" ng-click="updateFavorite(p_id,p_favorite)" class="favourite btn-white-border mContactFavorite"><i class="fa fa-star fa-lg orange-color fs-14" style="[[p_favoriteColor]];position: relative;top:-2px;"></i>&nbsp Favourite</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row margin0">
                        <ul class="list-unstyled clearfix remind-me-inline fs-14">
                            <li><button class="btn btn-green remindToConnectSelector"><i class="fa fa-clock-o"></i>Remind To Connect</button></li>
                            <li><span class="remindToConnectSelector">[[remindToConnect]]</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 grey-bg" style="padding-top: 20px;">
                    <div class="clearfix" id="interactNow">
                        <!--<div class="pull-left" style="width: 70%;">-->
                            <!--<h2 class="margin-b0">Last Interaction: [[lastInteraction]]</h2>-->
                            <!--<p class="fs-14">Send message to [[p_firstName]] to reconnect</p>-->
                        <!--</div>-->
                        <div class="pull-right">
                            <a class="btn btn-green-lg invite-contact" ng-show="isRelatasUser===false || isRelatasUser==='undefined'" ng-click="showDetails = ! showDetails" style="max-width:175px;overflow:hidden;"><i class="fa fa-user-plus"></i>Invite to Relatas</a>
                        </div>
                    </div>
                    <form>
                        <div class="form-group custom-form">
                            <div ng-hide="showDetails">
                                <textarea class="form-control" ng-model="messageReConnect" placeholder="Type message" id="interactFocus">

                                </textarea>
                                <button ng-show="!disableSendBtn" class="btn btn-green mMailContactSelect" id="but-send-reconnect" ng-click="sendEmail(messageReConnect,false,false,false,p_name,p_emailId,cUserId,true)">Send Message</button>
                            </div>
                            <div ng-show="showDetails">
                                <textarea class="form-control" ng-model="inviteToRelatas" placeholder="Type message"></textarea>
                                <button class="btn btn-green" id="but-send-reconnect" ng-click="sendEmailInvite(inviteToRelatas,false,false,false,p_name,p_emailId,cUserId,true)">Send Invitation</button>
                            </div>

                        </div>
                    </form>
                    <div class="row margin0">
                        <div style="position: relative;padding: 10px 0 15px 0;">

                            <a href="[[scheduleMeeting]]" class="btn btn-green" ><i class="fa fa-calendar"></i>Schedule Meeting</a>
                            <a class="btn btn-green" ng-click="openEmilContainer()"><i class="fa fa-envelope"></i>Send an Email</a>
                            <a class="btn btn-green" ng-if="appFeature" id="emailFormOpen"><i class="fa fa-check-square-o"></i>Prospect Email</a>

                            <!--<a ng-click="assignTask(p_name,p_emailId,cUserId)" class="btn btn-green assignTasks"><i class="fa fa-check-square-o"></i>Assign a Task</a>-->
                        </div>
                        <div class="row" id="add-task-box" data-ng-controller="task-assign" style="display: none;">

                            <div class="add-task clearfix" style="display: block;">
                                <div class="row margin0">
                                    <div class="col-xs-3 padding0 ">

                                        <label>Action Item</label>
                                    </div>
                                    <div class="col-xs-9 padding0">
                                        <input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>
                                    </div>

                                </div>
                                <div class="row margin0">
                                    <div class="col-xs-3 padding0">

                                        <label>Description</label>
                                    </div>
                                    <div class="col-xs-9 padding0">
                                        <textarea ng-model="taskDescription" id="taskDescription" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>
                                    </div>

                                </div>
                                <div class="row margin0">
                                    <div class="col-xs-3 padding0">

                                        <label>Due Date</label>
                                    </div>
                                    <div class="col-xs-9 padding0">
                                        <input tabindex="3" type="text" id="dueDateTask" class="form-control input-arrow-task" placeholder="Date & Time"/>
                                    </div>

                                </div>
                                <div class="text-right">
                                    <input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">
                                    <input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary re-schedule-button" tabindex="4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin0 grey-green-bg border-white-t padding-b15" data-ng-controller="contact_relation">
        <div class="row margin0">
            <div class="col-md-11 contact-value">
                <p class="section-header-m" style="display:inline-block;margin-right:10px;">Total Pipeline Value ([[currency]])</p>
                <ul class="list-unstyled" style="display:inline-block;">
                    <li>
                        <i class="fa fa-cogs orange-color"></i> In-Process
                        <input type="text" placeholder="0" class="form-control inline-forms-xs" ng-model="valueInProcess" ng-change="contactValueSave(valueInProcess,p_id,'inProcess')" disabled>
                    </li>
                    <!--<a editable-text="valueInProcess" buttons="no" blur="submit" e-ng-blur="contactValueSave($data,p_id,'inProcess')">[[ valueInProcess || 'empty' ]]</a></li>-->
                    <li>
                        <i class="fa fa-thumbs-up orange-color"></i> Won
                        <input type="text" placeholder="0" class="form-control inline-forms-xs" ng-model="valueWon" ng-change="contactValueSave(valueWon,p_id,'won')" disabled>
                        <!--<a editable-text="valueWon" buttons="no" blur="submit" e-ng-blur="contactValueSave($data,p_id,'won')">[[ valueWon || 'empty' ]]</a>-->
                    </li>
                    <li>
                        <i class="fa fa-thumbs-down orange-color"></i> Lost
                        <!--<a editable-text="valueLost" buttons="no" blur="submit" e-ng-blur="contactValueSave($data,p_id,'lost')">[[ valueLost || 'empty' ]]</a>-->
                        <input type="text" placeholder="0" class="form-control inline-forms-xs" ng-model="valueLost" ng-change="contactValueSave(valueLost,p_id,'lost')" disabled>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row margin0 border-white-t">
            <div class="col-sm-6">
                <div class="relationship-container">
                    <p class="meeting-Participants-heading" style="font-size: 14px !important;font-weight: 600;margin-top: 15px;">Relationship</p>

                    <a class="btn btn-white-border mContactCustomer" ng-click="updateRelation(l_userId,p_id,p_relation_customer,p_relation_key_prospect_customer,p_relation_contact_value)" style="cursor: pointer;[[p_contactColor]]">&nbsp Contact</a>
                    <a class="btn btn-white-border mContactProspect" ng-click="updateRelation(l_userId,p_id,p_relation_prospect,p_relation_key_prospect_customer,p_relation_lead_value)" style="cursor: pointer;[[p_leadColor]]">&nbsp Lead</a>
                    <a class="btn btn-white-border mContactProspect" ng-click="updateRelation(l_userId,p_id,p_relation_prospect,p_relation_key_prospect_customer,p_relation_prospect_value)" style="cursor: pointer;[[p_prospectColor]]">&nbsp Prospect</a>
                    <a class="btn btn-white-border mContactCustomer" ng-click="updateRelation(l_userId,p_id,p_relation_customer,p_relation_key_prospect_customer,p_relation_customer_value)" style="cursor: pointer;[[p_customerColor]]">&nbsp Customer</a>
                    <span style="padding: 0 5px;font-size: 22px !important;font-weight: 300;position: relative;top: 3px;"></span>
                    <br>
                    <a class="btn btn-white-border mContactInfluencer" ng-click="updateRelation(l_userId,p_id,p_relation_influencer,p_relation_key_decisionmaker_influencer,p_relation_influencer_value)" style="cursor: pointer;[[p_influencerColor]]"><i class="fa fa-share-alt" style="[[p_influencerColor]]"></i>&nbsp Influencer</a>
                    <a class="btn btn-white-border mContactDecisionMaker" ng-click="updateRelation(l_userId,p_id,p_relation_decision_maker,p_relation_key_decisionmaker_influencer,p_relation_decision_maker_value)" style="cursor: pointer;[[p_decision_makerColor]]"><i class="fa fa-user" style="[[p_decision_makerColor]]"></i>&nbsp Decision Maker</a>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="connected-via-container">
                    <p class="meeting-Participants-heading" style="font-size: 14px !important;font-weight: 600;margin-top: 15px;">Connected Via</p>

                    <!--<a class="btn btn-white-border" style="[[p_connected_via_facebook_color]];cursor: default"> <i class="fa fa-facebook-official fa-lg" style="[[p_connected_via_facebook_color]]"></i>&nbsp Facebook</a>-->

                    <!--<a class="btn btn-white-border" style="[[p_connected_via_linkedin_color]];cursor: default"><i class="fa fa-linkedin-square fa-lg" style="[[p_connected_via_linkedin_color]]"></i>&nbsp Linkedin</a>-->

                    <a class="btn btn-white-border" style="[[p_connected_via_twitter_color]];cursor: default"><i class="fa fa-twitter-square fa-lg" ></i>&nbsp Twitter</a>

                </div>
                <!--<hr>-->
                <!--<div>-->
                <!--<span ng-repeat="tag in tag" ng-bind="tag">[[tag]]</span>-->
                <!--<div data-ng-controller="hashtag_controller">-->
                <!--<form>-->
                <!--<input type="text" placeholder="Hashtag" ng-model="hashtag" ng-model-options="{ getterSetter: true }"></input>-->
                <!--<button type="submit" class="btn btn-green" ng-click="createHashtag(p_id,hashtag)">Create</button>-->
                <!--</form>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="col-md-4">
                <p class="meeting-Participants-heading" style="font-size: 14px !important;font-weight: 600;margin-top: 15px;">Searchable Hashtags</p>
                <div data-ng-controller="hashtag_controller" class="display-hashtags clearfix">
                    <div ng-repeat="tag in tag track by $index" class="dropdown pull-left">
                        <span data-toggle="dropdown">[[tag]]</span>
                        <!--<a data-toggle="dropdown" href="#">Dropdown trigger</a>-->
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li ng-click="deleteHashtag(p_id, tag)" class="cursor">Delete</li>
                            <li class="divider"></li>
                            <li ng-click="showHashtags(tag)" class="cursor">View All</li>
                        </ul>
                    </div>
                    <form>
                        <input type="text" placeholder="Hashtag this Contact" class="form-control hashtag-contact" ng-model="hashtag">
                        <button type="submit" class="btn btn-green" ng-click="addHashtag(p_id,hashtag,p_emailIdtest,p_mobileNumber)">Add</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div data-ng-controller="send_email_controller">
        <div id="compose-email-box-top" style="display: none">
        <div class="row margin0">
            <div class="col-sm-6">
                <h4>Compose Email</h4>
            </div>
        </div>
        <div class="row margin0">
            <form class="email-form clearfix">
                <div class="col-xs-12">
                    <div class="form-group margin0">
                        <input ng-model="compose_email_subject" type="text" class="form-control" placeholder="Subject:">
                        <div class="form-right">
                            <!--<button class="btn btn-green"><i class="fa fa-paperclip fa-rotate-270"></i>Attach File</button>-->
                            <span class="checkbox checkbox-inline disabled">
                                <!--<input ng-model="compose_email_doc_tracking"  id="checkbox1" type="checkbox"><label for="checkbox1">-->
                                <!--Enable tracking-->
                            <!--</label>-->
                            </span>
                        </div>
                    </div>

                    <div class="form-group margin0">
                        <textarea ng-model="compose_email_body" class="form-control" placeholder="Type message"></textarea>
                    </div>
                    <div class="email-reminder">
                        <!--<div class="checkbox checkbox-inline">-->
                            <!--<input ng-model="compose_email_track_viewed" type="checkbox" id="inlineCheckbox2" value="option1">-->
                            <!--<label for="inlineCheckbox2"> Track email </label>-->
                        <!--</div>-->
                        <div class="checkbox checkbox-inline">
                            <input ng-model="compose_email_remaind" type="checkbox" id="inlineCheckbox3" value="option1">
                            <label for="inlineCheckbox3"> Notify in 7 Days</label>
                        </div>

                    </div>
                    <div class="text-right margin-tb5">
                        <button class="btn btn-green" ng-click="openEmilContainer()" id="hide-email-response">Cancel</button>
                        <button id="send-email-but" class="btn btn-green" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId,isLeadTrack,true)">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div id="emailFormShow" class="clearfix">
            <form>
                <div class="row margin0">
                    <h4>Prospects</h4>
                    <div class="form-group padding0 col-md-8">
                        <input type="text" ng-model="emailLeads" class="form-control" placeholder="Multiple prospect email addresses can be separated by commas">
                    </div>

                    <div class="form-group padding0 col-md-4">
                        <div class="row margin0">
                            <div class="col-md-8" style="padding:0 0 0 15px !important">
                                <h5>Respond Within(Hours)</h5>
                            </div>
                            <div class="col-md-3 padding0">
                                <select class="form-control" ng-model='deadLine' ng-options='number for number in respLimitHours'></select>

                                <!--<select class="form-control" ng-init="deadLine = '[[respLimitHours]]'" ng-model="deadLine">-->
                                    <!--<option value="[[respLimitHours]]">[[respLimitHours]]</option>-->
                                    <!--<option value="4">4</option>-->
                                    <!--<option value="8">8</option>-->
                                <!--</select>-->
                            </div>
                        </div>
                    </div>
                </div>

                <h4>Compose Email</h4>
                <div class="form-group margin0" style="margin-bottom:5px !important;">
                    <textarea ng-model="compose_email_body" class="form-control ng-pristine ng-untouched ng-valid" rows="35" placeholder="Message"></textarea>
                </div>
                <!--<div class="email-settings row margin0">-->
                <!--</div>-->
                <button type="submit" ng-click="sendLead(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId,emailLeads,deadLine)" class="btn btn-green pull-right">Send Message</button>
                <button class="btn btn-green pull-right" id="emailFormOpen">Cancel</button>
            </form>
        </div>
    </div>
    <!--<div data-ng-controller="prospective_customers">-->
        <!--<div id="emailFormShow" class="clearfix">-->

            <!--<h4>Prospective Contacts</h4>-->
            <!--<form>-->
                <!--<div class="form-group margin0">-->
                    <!--<input type="text" ng-model="toEmailId" class="form-control border-bottom-none" placeholder="Multiple email addresses can be separated by commas">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<textarea ng-model="messageContent" class="form-control ng-pristine ng-untouched ng-valid" rows="35" placeholder="Message"></textarea>-->
                <!--</div>-->
                <!--<button type="submit" ng-click="sendLead(toEmailId,messageContent)" class="btn btn-green pull-right">Send Message</button>-->
                <!--<button class="btn btn-green pull-right" id="emailFormOpen">Cancel</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <div class="invite-team-members" style="max-width: 768px;margin: auto;position:relative" data-ng-controller="interaction_timeline">
        <span class="btn-primary btn-lg btn border-radius-top-lr-2 invite-team-members-btn" ng-click="timelineTimeline(cuserId,cEmailId)" id="timeline-button">TIMELINE</span>
        <span class="btn-primary btn-lg btn border-radius-top-lr-2 invite-team-members-btn" ng-click="timelineOpportunity(cuserId,cEmailId,cPhone)" id="opportunity-button">OPPORTUNITY</span>
        <span class="btn-primary btn-lg btn border-radius-top-lr-2 invite-team-members-btn" ng-click="timelineSocial(cuserId,cEmailId)" id="social-button">SOCIAL</span>
        <span class="btn-primary btn-lg btn border-radius-top-lr-2 invite-team-members-btn" ng-click="timelineNotes(cuserId,cEmailId,cPhone)" id="notes-button">NOTES</span>
        <!--<span class="btn-primary btn-lg btn invite-team-members-btn" ng-click="timelineFiles(cuserId,cEmailId)" id="files-button">FILES</span>-->
        <!--<span class="btn-primary btn-lg btn invite-team-members-btn" ng-click="timelineTasks(cuserId,cEmailId)" id="task-button">TASKS</span>-->
        <!--Timeline Section -->
        <div id="timeline1-sec" class="timeline1-sec text-left">
            <div class="l row" style="margin-bottom: 8px;" >
                <div class="last-interaction col-xs-6">
                    <label>Your last Interaction was on [[lastInteraction]]</label>
                </div>
                <div class="send-email-btn text-right col-xs-6">
                    <a style="cursor: pointer" class="btn-green btn" ng-click="openSendEmailContainer()" id="send-email"><i class="fa fa-envelope-o"></i> &nbsp; Send Email</a>
                    <a class="btn-green btn" ng-href="[[scheduleMeeting]]"><i class="fa fa-calendar"></i> &nbsp; Schedule Meeting</a>
                </div>
            </div>
            <div class="compose-email-container" ng-show="send_email_container" style="padding-bottom: 6px;">
                <label>To: </label>
                <span>[[cEmailId]]</span>
                <br>
                <label ng-click="addCC = !addCC" style="cursor: pointer;">Add CC</label>
                <div class="form" ng-show="addCC">
                    <div class="row margin0" style="padding:0;">
                        <div class="col-xs-8 form-control" style="padding:0;">
                            <ul class="pull-right list-unstyled email-id-cc">
                                <li ng-repeat="item in searchedContacts track by $index" ng-click=removeRecipient(item)>[[item]]</li>
                            </ul>
                            <div class="pull-left" style="width: 30%;">
                                <input ng-model="email_cc" type="text" placeholder="Add recipients" class="compose-text-box" ng-change="searchContacts(email_cc)" style="width: 100%;height: 32px;border: 0;padding: 6px 12px;">
                            </div>
                            <div class="search-box-wrapper clearfix" ng-show="showResults">
                                <div ng-repeat="item in contacts track by $index">
                                    <div class="clearfix cursor" ng-click="addRecipient(item)">
                                        <div class="pull-left relative">
                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                        </div>
                                        <div class="pull-left">
                                            <p class="margin0">[[item.name]]</p>
                                            <p class="margin0">[[item.emailId]]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <label>Compose Email</label>
                <div class="form">
                    <div class="row margin0" style="padding:0;">
                        <div class="col-xs-12" style="padding:0;">
                            <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box">
                        </div>
                        <div class="col-xs-4 text-right">
                            <!--<label class="upload-document attach-document disabled" >-->
                            <!--<input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>-->
                            <!--Attach File-->
                            <!--</label>-->
                            <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_doc_tracking"><span class="input-label-align"> Enable tracking</span></label>-->
                        </div>
                    </div>

                    <div class="row margin0" style="padding:0;">
                        <textarea ng-model="compose_email_body" class="message-send form-control"></textarea>
                    </div>
                    <div style="padding: 10px">
                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_track_viewed"><span class="input-label-align">Track email </span></label> &nbsp;&nbsp;-->
                        <label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_remaind"> <span class="input-label-align">Notify in 7 Days</span></label>
                    </div>
                </div>
                <div class="text-right">
                    <input type="button" ng-click="openSendEmailContainer()" value="Cancel" class="cancel-message btn-primary" tabindex="-1">
                    <input type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId,null,true,email_cc)" value="Send Message" class="send-message btn-primary">
                </div>
            </div>
            <div class="init-interactions">

            </div>

            <div ng-repeat="item in timelineItems" class="row [[item.className]]" >
                <div style="" class="col-xs-2 text-right padding0">
                    <p class="time-info-details lite">[[item.duration]]</p>
                    <p class="time-info-details bold">[[item.dateText]]</p>
                </div>
                <div class="col-xs-10" style="[[item.dataObj.itemPointer]]">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter relative clearfix">
                        <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                        <span class="pos-abs-action-type-4series">
                            <i class="[[item.actionType]] rotate-45"></i>
                        </span>
                        <div class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></div>

                        <a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'reply')" class="btn-green-timeline pull-right">&nbsp; [[item.but]]</a>&nbsp

                        <div ng-show="item.emailRead" class="email-read" style="margin: 0px 0 0 39px;float: left;">First read on [[item.viewedOn]] [[item.localtimezone]] ([[item.emailOpens]])</div>
                    </div>
                </div>
                <div class="reply-to-mail clearfix" ng-show="item.dataObj.composeMailBox">
                    <br>
                    <label ng-click="addCC = !addCC" style="cursor: pointer;">Add CC</label>
                    <div class="form" ng-show="addCC">
                        <div class="row margin0" style="padding:0;">
                            <div class="col-xs-8 form-control" style="padding:0;">
                                <ul class="pull-right list-unstyled email-id-cc">
                                    <li ng-repeat="item in searchedContacts track by $index" ng-click=removeRecipient(item)>[[item]]</li>
                                </ul>
                                <div class="pull-left" style="width: 30%;">
                                    <input ng-model="email_cc" type="text" placeholder="Add recipients" class="compose-text-box" ng-change="searchContacts(email_cc)" style="width: 100%;height: 32px;border: 0;padding: 6px 12px;">
                                </div>
                                <div class="search-box-wrapper clearfix" ng-show="showResults">
                                    <div ng-repeat="item in contacts track by $index">
                                        <div class="clearfix cursor" ng-click="addRecipient(item)">
                                            <div class="pull-left relative">
                                                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                            </div>
                                            <div class="pull-left">
                                                <p class="margin0">[[item.name]]</p>
                                                <p class="margin0">[[item.emailId]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <textarea ng-model="item.dataObj.compose_email_body" class="form-control" autofocus></textarea>
                    <div class="pull-left" style="margin: 10px">
                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="item.dataObj.compose_email_track_viewed" class="ng-pristine ng-untouched ng-valid"><span class="input-label-align">Track email</span></label> &nbsp;&nbsp;-->
                        <label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="item.dataObj.compose_email_remaind" class="ng-pristine ng-untouched ng-valid"> <span class="input-label-align">Notify in 7 Days</span></label>
                    </div>
                    <button class="btn btn-green-timeline pull-right" ng-click="sendEmail(item.dataObj.compose_email_subject,item.dataObj.compose_email_body,item.dataObj.compose_email_doc_tracking,item.dataObj.compose_email_track_viewed,item.dataObj.compose_email_remaind,p_name,cEmailId,cuserId,item.dataObj)" style="margin: 10px">Send</button>
                </div>
                <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                    <hr style="margin-top: 0;">
                    <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                    </div>
                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 10%;" src="/images/load_image.gif"></div>
                </div>
                <div id="[[item.dataObj.bindHtmlKey]]">

                </div>
            </div>

            <div><a ng-show="show_show_more" ng-click="goToUrl(interactionUrl)" class="pull-right fs-14 mSeeMore4B cursor-pointer" style="color: #267368;">See More <i class="fa fa-chevron-right"></i></a></div>
        </div>
        <!--Social Section -->
        <div class="timeline1-sec text-left" id="social-sec">
            <div class="row" ng-repeat="item in socialTimeline">
                <div class="col-xs-2 text-right">
                    <p class="time-info-details">[[item.duration]]</p>
                    <p class="time-info-details">[[item.dateText]]</p>
                </div>
                <div class="col-xs-10">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter l facebook-info-details social-facebook-info-details">
                        <i class="fa [[item.iconClass]] font-20"></i>
                        <span class="pos-abs-action-type-4series-social">
                            <i class="[[item.actionType]] rotate-45"></i>
                        </span>
                        &nbsp [[item.title]]
                    </div>
                </div>
            </div>
        </div>
        <!--Opportunity Section -->
        <div class="timeline1-sec text-left" id="opportunity-sec">

            <div class="row">
                <!--<div class="col-xs-6">-->
                <!--<img src="/img/salesforce.png" width="35px" heigth="35px" style="cursor: pointer;" title="sync opportunities from salesforce" ng-click="syncOppWithSalesforce()" />-->
                <!--</div>-->
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class='table table-bordered table-hover'>
                            <thead>
                            <tr style='background:#49B5A6;color:white;'>
                                <th>Sl. No</th>
                                <th>Name</th>
                                <th>Stage</th>
                                <th>Amount</th>
                                <th>Close Date</th>
                                <th width="20px">Won/Lost</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tr>
                            <tr class="edit-opportunity [[item.class]]" ng-repeat='item in opportunityTimeline' ng-click="showOpportunityDiv('edit',item)" style="cursor: pointer" >
                                <td><span class="index">[[$index+1]]</span><i class="fa fa-edit"></i></td>
                                <td>[[item.opportunityName]]</td>
                                <td>[[item.relatasStage]]</td>
                                <td>[[item.amount]]</td>
                                <td>[[item.closeDateFormated]]</td>
                                <td>[[item.wonOrLost]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <!--<input class="btn btn-green" value="Add New Opportunity" type="button" ng-click="showOpportunityDiv('new')" data-ng-init="showOpportunityDiv('new')">-->
                    <input class="btn btn-green" value="Add New Opportunity" type="button" ng-click="showOpportunityDiv('new')">
                    <section id="opportunityAdd">
                        <div ng-show="newOpp.show" class="col-xs-12" style="padding-bottom: 6px;border:1px solid #ddd;">
                            <!--<label>Add New Opportunity</label>-->
                            <div class="form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-9" style="display: inline">
                                                <label>Opportunity Name <span class="orange-color fs-16">*</span>:</label>
                                                <input type="text" ng-model="newOpp.name" placeholder="Opportunity Name" class="form-control">
                                            </div>
                                            <div class="col-xs-3" style="display: inline">
                                                <label>Close Date<span class="orange-color fs-16">*</span>:</label>
                                                <ul class="list-unstyled clearfix remind-me-inline fs-14">
                                                    <!--<li><button class="btn btn-green "><i class="fa fa-clock-o"></i>Remind To Connect</button></li>-->
                                                    <li><span ng-mouseover="registerDatePickerId()" id="opportunityCloseDateSelector">[[newOpp.closeDate]]</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Stage<span class="orange-color fs-16">*</span>:</label>
                                                <select ng-model="newOpp.stage" class="form-control">
                                                    <option ng-repeat="stage in stages" value=[[stage]]>[[stage]]</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Amount([[currency]])<span class="orange-color fs-16">*</span>:</label>
                                                <input type="text" ng-model="newOpp.amount" placeholder="Amount" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix add-partners">
                                <div class="col-md-12 margin-b15" ng-show="geoLocations.length>0">
                                    <label class="margin0">Region <span class="orange-color fs-16">*</span>:</label>
                                    <div class="section">
                                        <div class="clearfix">
                                            <div class="pull-left search add-town">
                                                <select ng-model="selectedItem">
                                                    <option ng-repeat="item in geoLocations" ng-selected="selectedItem == item" value="[[item]]">[[item]]</option>
                                                </select>
                                                <input type="text" placeholder="Add Location" class="form-control" value="[[geoLocationTown]]" ng-model="geoLocationTown" id="autocompleteCity">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" data-ng-controller="partner_controller">
                                    <span ng-click="addPartnersSection = !addPartnersSection">Add Partners/Resellers<i class="fa fa-plus-circle"></i></span>
                                    <div class="section">
                                        <div class="clearfix child" ng-show="addPartnersSection">
                                            <div class="pull-left search">
                                                <input type="text" ng-model="partner" placeholder="Add partner" class="form-control" ng-change="searchContacts(partner)">
                                            </div>
                                            <div search-results></div>
                                        </div>
                                        <div class="contacts child" ng-show="partners.length>0">
                                            <div ng-repeat="item in partners track by $index" class="profile-wrapper">
                                                <div class="cursor dropdown" title="[[item.emailId]]">
                                                    <div class="relative" data-toggle="dropdown">
                                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                    </div>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <li ng-click="removeRecipient(item)" class="cursor">Delete</li>
                                                        <li class="divider"></li>
                                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                    </ul>
                                                    <p class="margin0">[[item.name]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" data-ng-controller="dm_controller">
                                    <span ng-click="addDMSection = !addDMSection">Add Decision Makers <i class="fa fa-plus-circle"></i></span>
                                    <div class="section">
                                        <div class="clearfix child" ng-show="addDMSection">
                                            <div class="pull-left search">
                                                <input type="text" ng-model="partner" placeholder="Add decision makers" class="form-control" ng-change="searchContacts(partner)">
                                            </div>
                                            <div search-results></div>
                                        </div>
                                        <div class="contacts child" ng-show="d_makers.length>0">
                                            <div ng-repeat="item in d_makers track by $index" class="profile-wrapper">
                                                <div class="cursor dropdown" title="[[item.emailId]]">
                                                    <div class="relative" data-toggle="dropdown">
                                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                    </div>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <li ng-click="removeRecipient(item)" class="cursor">Delete</li>
                                                        <li class="divider"></li>
                                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                    </ul>
                                                    <p class="margin0">[[item.name]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" data-ng-controller="influencer_controller">
                                    <span ng-click="addInfluencers = !addInfluencers">Add Influencers <i class="fa fa-plus-circle"></i></span>
                                    <div class="section">
                                        <div class="clearfix child" ng-show="addInfluencers">
                                            <div class="pull-left search">
                                                <input type="text" ng-model="partner" placeholder="Add influencers" class="form-control" ng-change="searchContacts(partner)">
                                            </div>
                                            <div search-results></div>
                                        </div>
                                        <div class="contacts child" ng-show="influencers.length>0">
                                            <div ng-repeat="item in influencers track by $index" class="profile-wrapper">
                                                <div class="cursor dropdown" title="[[item.emailId]]">
                                                    <div class="relative" data-toggle="dropdown">
                                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                    </div>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <li ng-click="removeRecipient(item)" class="cursor">Delete</li>
                                                        <li class="divider"></li>
                                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                    </ul>
                                                    <p class="margin0">[[item.name]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix create-notes">
                                <div class="col-xs-12">
                                    <label ng-click="addNote = !addNote">Add Notes <i class="fa fa-plus-circle"></i></label>
                                    <div class="form" ng-show="addNote">
                                        <textarea ng-model="opportunityNote"></textarea>
                                    </div>
                                    <div>
                                        <div class="pull-right">
                                            <input type="button" ng-click="addNewRelatasOpportunity(opportunityNote,geoLocationTown,selectedItem)" value="Save" class="btn-primary">
                                        </div>

                                        <div class="pull-right">
                                            <input type="button" ng-click="showOpportunityDiv('close')" value="Cancel" class="btn-primary" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row opportunities-notes">
                                <h5>Notes:</h5>
                                <div ng-repeat="note in notes" class="clearfix">
                                    <div class="pull-left">
                                        <span class="time-duration">[[note.duration]]</span>
                                        <span class="time-date">[[note.date]]</span>
                                    </div>
                                    <div class="pull-left">
                                        <p ng-bind-html="note.text"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="timeline1-sec text-left" id="notes-sec">
            <div class="row clearfix create-notes">
                <div class="col-xs-12">
                    <div class="form">
                        <label>Add note</label>
                        <textarea ng-model="contactNote"></textarea>
                    </div>
                    <div>
                        <div class="pull-right">
                            <input type="button" ng-click="addNoteForContact(contactNote,cuserId,cEmailId,cPhone)" value="Save" class="btn-primary">
                        </div>

                        <!--<div class="pull-right">-->
                        <!--<input type="button" ng-click="showOpportunityDiv('close')" value="Cancel" class="btn-primary" tabindex="-1">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="row opportunities-notes">
                <h5>Notes:</h5>
                <div ng-repeat="note in notes" class="clearfix">
                    <div class="pull-left">
                        <span class="time-duration">[[note.duration]]</span>
                        <span class="time-date">[[note.date]]</span>
                    </div>
                    <div class="pull-left">
                        <p ng-bind-html="note.text"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--files Section -->
        <!--<div class="timeline1-sec text-left" id="files-sec">-->
        <!--<div class="l text-right">-->
        <!--<a class="btn-primary disabled"><i class="fa fa-download"></i> &nbsp; Upload Document</a>-->
        <!--</div>-->
        <!--<br/>-->
        <!--<div class="row" ng-repeat="item in docsTimeline">-->
        <!--<div class="col-xs-2 text-right">-->
        <!--<p class="time-info-details">[[item.duration]]</p>-->
        <!--<p class="time-info-details">[[item.dateText]]</p>-->
        <!--</div>-->
        <!--<div class="col-xs-10 ">-->
        <!--<label class='timeline1-sec-dot'></label>-->
        <!--<div class="social-trends l facebook-info-details">-->
        <!--<i class="fa fa-file-pdf-o font-20"></i>&nbsp [[item.title]]-->
        <!--<a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId)" class="btn-primary view-fb-btn">&nbsp; [[item.but]]</a>&nbsp-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="[[item.dataObj.bindHtmlKey]]">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--Task Section -->
        <!--
        <div class="timeline1-sec text-left" id="tasks-sec">
            <div class="l text-right" style="position: relative">
                <a class="btn-primary cursor-pointer" id="add-task-timeline" ng-click="assignTaskTimeline($event)"><i class="fa fa-download"></i> &nbsp; Add New Task</a>
                <div class="row" id="add-task-box2" style="display: none;">

                    <div class="add-task clearfix" style="display: block;">
                        <div class="row margin0">
                            <div class="col-xs-3 padding0 ">

                                <label>Action Item</label>
                            </div>
                            <div class="col-xs-9 padding0">
                                <input tabindex="1" ng-model="taskTitle" id="taskTitle2" placeholder="Tasks title" type="text" class="form-control"/>
                            </div>

                        </div>
                        <div class="row margin0">
                            <div class="col-xs-3 padding0">

                                <label>Description</label>
                            </div>
                            <div class="col-xs-9 padding0">
                                <textarea ng-model="taskDescription" id="taskDescription2" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>
                            </div>

                        </div>
                        <div class="row margin0">
                            <div class="col-xs-3 padding0">

                                <label>Due Date</label>
                            </div>
                            <div class="col-xs-9 padding0">
                                <input tabindex="3" type="text" id="dueDateTask2" class="form-control input-arrow-task" placeholder="Date & Time"/>
                            </div>

                        </div>
                        <div class="text-right">
                            <input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">
                            <input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary re-schedule-button" tabindex="4">

                        </div>

                    </div>

                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>OWNER</th>
                    <th>TASK</th>
                    <th>DESCRIPTION</th>
                    <th>DUE DATE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tasksTimeline">
                    <td class="text-center"><img class="image-placeholder-small" src="[[item.ownerPic]]" title="[[item.owner]]" style="width: 30px;height: 30px;"></td>
                    <td title="[[item.titleFull]]">[[item.title]]</td>
                    <td title="[[item.descriptionFull]]">[[item.description]]</td>
                    <td class="[[item.textColor]]">[[item.dueDate]]</td>
                    <td class="text-center"><input type="checkbox" ng-show="item.showCheckBox" ng-model="item.status" ng-disabled="!item.updateTaskStatus" ng-change="updateTaskStatus(item.taskId,item.status)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        -->

    </div>

    <div class="interations-relationship-past-90-days text-left row ng-scope" data-ng-controller="participantPast90Days">
        <h2 class="text-center">Past [[dataFor]] Days</h2>

        <hr class="hr-line">

        <div class="text-center interactions-initiations00 col-md-5">
            <div class="row">
                <h4 class="">Interactions Initiations</h4>
            </div>
            <div class="donut-wrapper">
                <canvas id="donut-chart" width="200" height="200" ng-if="! [[interaction_initiations_total]] == 0"> Your browser does not support Charts. Please update here.</canvas>
                <div class="donut-num">
                    [[interaction_initiations_total]]
                </div>
                <img src="/images/no-interactions.jpg" class="no-interactions" ng-if="[[interaction_initiations_total]] == 0">
                <a href="#interactNow" class="btn btn-green interact-now" ng-if="[[interaction_initiations_total]] == 0">Send a message</a>

            </div>
            <div class="row interactions-init" style="margin-top:-15px;">
                <div class="col-xs-1 col-xs-offset-4 orange-bg">
                    <span>[[interaction_initiations_you]]</span>
                </div>
                <div class="col-xs-1" style="line-height: 35px;margin-left: -10px;margin-right: 20px; ">
                    You
                </div>
                <div class="col-xs-1 orange-off-bg">
                    <span>[[interaction_initiations_other]]</span>
                </div>
                <div class="col-xs-3" style="
                                     line-height: 35px;
                                     margin-left: -10px; max-width:92px;max-height: 45px;overflow:hidden;">
                    [[interaction_initiations_other_name]]
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row text-center">
                <h4>Relationship Strength</h4>
                <div class="orange-color" style="font-size:30px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
            </div>
            <div class="row" style="margin: 55px 0 0 0;">
                <ul class="graph" style="width: 325px;">
                    <li>
                        <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                            <p class="values-top">[[interactionsByType.a.count]]</p>
                        </span></li>
                    <li>
                        <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                            <p class="values-top">[[interactionsByType.b.count]]</p>
                        </span></li>
                    <li>
                        <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                            <p class="values-top">[[interactionsByType.c.count]]</p>
                        </span></li>
                    <li>
                        <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                            <p class="values-top">[[interactionsByType.d.count]]</p>
                        </span></li>
                    <!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
                    <li>
                        <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                            <p class="values-top">[[interactionsByType.f.count]]</p>
                        </span></li>
                    <!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->
                </ul>
                <ul class="graph-icons" style="width: 325px;">
                    <li><i class="fa fa-calendar-check-o green-color"></i></li>
                    <li><i class="fa fa-phone green-color"></i></li>
                    <li><i class="fa fa-reorder green-color"></i></li>
                    <li><i class="fa fa-envelope green-color"></i></li>
                    <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                    <li><i class="fa fa-twitter-square twitter-color "></i></li>
                    <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                </ul>

            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-10 col-sm-offset-2 slider-btn">

                    <strong style="font-size: 16px;">Your Rating: &nbsp;&nbsp;&nbsp; </strong>
                    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-value="[[relationshipStrength_updated]]" value="[[relationshipStrength_updated]]"/> <span id="relationshipStrength_updated">[[relationshipStrength_updated]]</span>
                </div>
            </div>
        </div>

    </div>
    <div class="conmmon-connection-and-invite-member-container" data-ng-include="'/series/commonConnection&InviteMeeting'"></div>
</div>

<!--<div class="row popup-custom" id="analytics-box" data-ng-controller="docAnalytics">-->
    <!--<div class="compose-email-container padding1">-->
        <!--<div class="timeline1-sec">-->
            <!--<div style="width:100%; background-color: #ffffff;text-align: -webkit-center;"><br><br>-->
                <!--<div class="meeting-request-detail" id="analyticsDetails">-->
                    <!--<span id="firstAccessed">[[firstAccessed]]</span></br>-->
                    <!--<span id="lastAccessed">[[lastAccessed]]</span></br>-->
                    <!--<span id="accessCount">[[numerOfTimesAccessed]]</span></br>-->
                <!--</div><br>-->
                <!--<span id="analyticMsg"></span>-->
                <!--<div id="doc_chart">-->
                <!--</div>-->

                <!--<button style="float:right;margin-top: -2%;" id="close-doc-analytics" class="btn-primary">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<script>
    $(document).ready(function(){
        $('a').click(function(){
            $('html, body').animate({
                scrollTop: $( $(this).attr('href') ).offset().top
            }, 500);
            return false;
        });

        $('.interact-now').click(function(){
            setTimeout(function(){ $('#interactFocus').focus(); }, 1000);
//            $('#interactFocus').focus(5000);
        });
    });
</script>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });

        if(window.location.hash == '#/fromDashboard') {
            setTimeout(function(){
                $('html,body').animate({
                    scrollTop: $('#opportunity-button').offset().top
                });
            }, 1000);
        }

    });

</script>
<script>
    $('#ex3').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
        }
    });
</script>

<script>

    var canvas  = document.getElementById("donut-chart");
    var chart = canvas.getContext("2d");

    function drawdountChart(canvas)
    {

        this.x , this.y , this.radius , this.lineWidth , this.strockStyle , this.from , this.to = null;
        this.set = function( x, y, radius, from, to, lineWidth, strockStyle)
        {
            this.x = x;
            this.y = y;
            this.radius = radius;
            this.from=from;
            this.to= to;
            this.lineWidth = lineWidth;
            this.strockStyle = strockStyle;
        }

        this.draw = function(data)
        {
            canvas.beginPath();
            canvas.lineWidth = this.lineWidth;
            canvas.strokeStyle = this.strockStyle;
            canvas.arc(this.x , this.y , this.radius , this.from , this.to);
            canvas.stroke();
            var numberOfParts = data.numberOfParts;
            var parts = data.parts.pt;
            var colors = data.colors.cs;
            var df = 0;
            for(var i = 0; i<numberOfParts; i++)
            {
                canvas.beginPath();
                canvas.strokeStyle = colors[i];
                canvas.arc(this.x, this.y, this.radius, df, df + (Math.PI * 2) * (parts[i] / 100));
                canvas.stroke();
                df += (Math.PI * 2) * (parts[i] / 100);
            }
        }
    }
    var data =
    {
        numberOfParts: 2,
        parts:{"pt": [20 , 80 ]},//percentage of each parts
        colors:{"cs": ["#f86b4f", "rgba(248, 107, 79, 0.65)"]}//color of each part
    };

    var drawDount = new drawdountChart(chart);
    drawDount.set(100, 100, 65, 0, Math.PI*2, 15, "#fff");
    drawDount.draw(data);

</script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/contactSelected.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/common/xeditable.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/leftContactsBar.js"></script>
<!--<script>-->
    <!--google.load('visualization', '1.0', {'packages':['corechart']});-->
<!--</script>-->
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places&callback=initAutocomplete" async defer></script>
<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places&callback=initAutocomplete2" async defer></script>-->
</body>
</html>
