<div class="modal-open contact-add-new convert-modal-sidebar contact-edit">
    <div class="opportunity-form add-new-wrapper form-box-shadow">
        <div class="modal-header  clearfix">
            <h3 class="pull-left">Add Contact</h3>

            <div class="pull-right clearfix">
                <button class="btn btn-primary margin-top0 pull-right" data-ng-click="saveContact()">SAVE</button>
                <button class="btn btn-white margin-top0 pull-right close-btn" data-ng-click="toggleContactPopup()" id="cancelContactCreate" style="margin-right: 10px">CANCEL</button>
            </div>
        </div>
        <div class="row max-height">
            <div class="col-md-12 clearfix">

                <form class="contact-add-new-form">
                        <table>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label for="fullName">Full Name:</label>
                                </td>
                                <td><input type="text" id="fullName"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label for="p_emailId">Email Id:</label>
                                </td>
                                <td><input type="text" id="p_emailId"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="p_mobileNumber">Phone Number:</label>
                                </td>
                                <td><input type="text" id="p_mobileNumber"></td>
                            </tr>
                            <tr>
                                <td><label for="designation">Designation:</label></td>
                                <td><input type="text" id="designation"></td>
                            </tr>
                            <tr>
                                <td><label for="companyName">Company:</label></td>
                                <td><input type="text" id="companyName"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label for="p_location">City:</label>
                                </td>
                                <td><input type="text" class="autocompleteNewContact" id="p_location"></td>
                            </tr>
                        </table>
                </form>
            </div>
        </div>
    </div>
</div>
