<div class="modal-open contact-add-new convert-modal-sidebar contact-edit">
    <div class="opportunity-form form-box-shadow">
        <div class="modal-header clearfix">
            <h3 class="pull-left">Add Contact</h3>

            <div class="pull-right clearfix">
                <button class="btn btn-primary margin-top0 pull-right" data-ng-click="saveContact()">SAVE</button>
                <button class="btn btn-white margin-top0 pull-right close-btn" data-ng-click="toggleContactPopup()" id="cancelContactCreate" style="margin-right: 10px">CANCEL</button>
            </div>
        </div>
        <div class="row max-height">
            <div class="col-md-12 clearfix">

                <span class="data-mandatory">*</span><label>Full Name</label>
                <input type="text" id="fullName">

                <span class="data-mandatory">*</span><label>Email Id</label>
                <input type="text" id="p_emailId">

                <label>Phone Number</label>
                <input type="text" id="p_mobileNumber">

                <label>Designation</label>
                <input type="text" id="designation">

                <label>Company</label>
                <input type="text" id="companyName">

                <label>City</label>
                <input type="text" id="p_location" placeholder="" class="autocompleteNewContact">
            </div>
        </div>

    </div>
</div>
