<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts.">
    <meta name="author" content="Relatas">
    <title>Contacts | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="../stylesheets/css/Mediaquery.css" rel="stylesheet">
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak>
<div data-ng-controller="left_contacts_bar">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>

            <div data-ng-include="'/contacts/left/bar/template'" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">

            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper contacts-landing set-height" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">

    <div class="container-fluid grey-green-bg margin-top50">
        <div data-ng-controller="contacts_data_controller">
        <!--<div class="row">-->
            <!--<div class="clearfix alert alert-contacts alert-dismissible hide" role="alert" id="uploadContactsAlert">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>-->
                <!--<p style="width: 60%;float: left;">You haven't uploaded other contacts.<br> Please connect to extend your-->
                <!--network and get intelligence across your contacts.</p>-->
                <!--<div class="clearfix pull-right text-center">-->
                    <!--<button ng-click="selectFile()" class="btn btn-green mXls"><i class="fa fa-file-excel-o"></i>Upload Contacts from XLS</button>-->
                    <!--<i class="fa fa-info-circle green-color center-block" id="upload-contacts" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Click here to check how to import contacts"></i>-->
                    <!--&lt;!&ndash;<button ng-click="selectFile()" class="btn btn-green mLinkedinContacts"><i class="fa fa-linkedin-square"></i>Import Linkedin Contacts</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row text-center contact-landing-r1">
            <h5 class="bold">
                Total Contacts
            </h5>
                <h1 class="orange-color h1">
                    [[contactsTotal]]
                    <button class="btn btn-green fs-16" style="margin-top: -7px;font-size: 12px !important;margin-left: 7px;" ng-click="refreshGoogleContacts()" title="Sync your contacts"><i class="fa fa-refresh"></i> Sync Contacts </button>
                </h1>
            <p class="fs-14">Why not connect with someone <strong>NEW</strong> today? <br>Search within Relatas extended
                network and let us help you connect</p>
            <form>
                <div class="form-group col-sm-6 col-sm-offset-3">
                    <input type="text" class="form-control input-search-lg" ng-model="search_content" ng-enter="mySearchFunction(search_content)">

                </div>
                <input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">
            </form>
        </div>
        </div>
        <!--<div data-ng-controller="losing_touch_scroll">-->
            <!--<div class="text-center">-->
                <!--<h4 class="lite">OR</h4>-->
                <!--<p class="fs-14">Reconnect with people you are losing touch with</p>-->
                <!--<h3 class="section-header"> Losing Touch with <span style="color: #FF915B;">[[grandTotal]] contacts</span></h3>-->

            <!--</div>-->
            <!--<div class="row contact-landing-r2">-->

                <!--<div>-->
                    <!--<div class="block-center">-->
                        <!--<a id="als-prev_l" ng-click="PrevConn()"><img src="/landing/img/arrow-left-dark.png" class="left-arrow-xs"></a>-->
                    <!--</div>-->
                    <!--<span class="commonConnectionsName pos-absolute" ng-show='no_people_near_you_show' style="margin-top: 10px;">[[no_people_near_you_message]]</span>-->
                    <!--<div ng-repeat="item in losingTouchConnections" class="block-center [[item.className]]" id="[[item.idName]]" style="cursor: default !important;">-->
                        <!--<img ng-if="!item.noPicFlag == 1" style="[[item.cursor]]" ng-click="interactionsContext(item.emailId)" class="image-placeholder-medium margin0" ng-src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]]" ng-hide="item.noPicFlag==1" imageonload="imageNotLoaded(item)">-->
                        <!--<span ng-if="item.noPicFlag == 1"><span class="image-placeholder-medium-text" title="[[item.fullName]]" ng-show="item.noPicFlag==1" ng-click="interactionsContext(item.emailId)" style="padding: 24px 0;cursor: pointer;">[[item.noPPic]]</span></span>-->
                       <!--&lt;!&ndash; <i class="contacts-fav fa fa-star"></i> &ndash;&gt;-->
                        <!--<div class="losing-interactions">-->
                            <!--<span>[[item.name]]</span>-->

                            <!--<p>[[item.duration]]</p>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                    <!--<a id="als-next_l" ng-click="NextConn()"><img src="/landing/img/arrow-right-dark.png" class="right-arrow-xs"></a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<button class="btn btn-green-lg mAddMoreEmail" ng-click="goToUrl('/settings')">Add other email accounts to see more INTELLIGENCE</button>-->
            <!--</div>-->
        <!--</div>-->

</div>    <!--Container Fluid -->
    <!--<div class="container-fluid" data-ng-controller="location_based_connections_scroll">-->

        <!--<div class="row text-center">-->
            <!--<p class="fs-14">Recommended people to meet while you are in [[location]].</p>-->
            <!--<h3 class="section-header"> People Near You in <span style="color: #FF915B;" class="ng-binding">[[location]]([[grandTotal]])</span></h3>-->
            <!--<div class="block-center">-->
                <!--<a id="als-prev_location" ng-click="PrevConn()"><img src="/landing/img/arrow-left-dark.png" class="left-arrow-xs"></a>-->
            <!--</div>-->
            <!--<span class="commonConnectionsName pos-absolute" ng-show='no_people_near_you_show' style="margin-top: 10px;">[[no_people_near_you_message]]</span>-->
            <!--<div ng-repeat="item in locationConnections" class="block-center [[item.className]]" id="[[item.idName]]" style="cursor: default !important;">-->
                <!--<img ng-if="!item.noPicFlag" style="[[item.cursor]]" ng-click="interactionsContext(item.emailId)" class="image-placeholder-medium margin0" ng-src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]]" imageonload="imageNotLoaded(item)">-->
                <!--<span ng-if="item.noPicFlag"><span [[item.cursor]] class="image-placeholder-medium-text cursor-pointer" title="[[item.fullName]]" ng-click="interactionsContext(item.emailId)">[[item.nameNoImg]]</span></span>-->
                <!--<div class="losing-interactions">-->
                    <!--<span>[[item.name]]</span>-->

                    <!--<p>[[item.duration]]</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="block-center">-->
                <!--<a id="als-next_location" ng-click="NextConn()"><img src="/landing/img/arrow-right-dark.png" class="right-arrow-xs"></a>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!--Container Fluid-->

    <div class="container-fluid" data-ng-controller="global_map_all_interactions">
        <div class="row text-center">
            <h3 class="section-header"> Global Interactions Map</h3>

            <div class="col-md-12 map-interactions" style="position: relative;">
                <div id="map" style="height:450px; margin-top:12px"></div></br></br>
            </div>
        </div>
    </div>
    <div data-ng-controller="popup_content_cntlr">
        <div class="map-interactions-wrapper" style="  margin-left: 50%;margin-top: -30%;position: absolute;" id="map_cluster_click_popup">
            <div class="map-interactions-header clearfix">
                <span class="pull-left">
                    People Met
                </span>
                <span class="pull-right fs-16" id="peopleMet">

                </span><br/>
                <span class="pull-left">
                    Total Interactions
                </span>
                <span class="pull-right fs-16" id="totalInteractions">
                </span>
            </div>
            <div class="map-interactions-body " id="interactionItems">

            </div>
            <button class="btn btn-green" style="margin: 10px auto;width: 35%;display: block;" ng-click="close_interaction_popup()"><span style="font-size: 15px !important;">X</span></button>
        </div>
    </div>
    </div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });

        $('#upload-contacts').hover(function(){
            $('#upload-contacts').popover('toggle');
        })

    });

</script>

<script>
    $('#ex3').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
        }
    });
</script>

<script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/javascripts/markerCluster.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/treemap.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/angularConfig.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/losingTouch.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/peopleNearLocation.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/pastSevenDay.js"></script>
<script type="text/javascript" src="/javascripts/contactsjs/contactsLanding.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<!--<script type="text/javascript" src="/javascripts/common/searchController.js"></script>-->
<script>
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>