
<div class="search-box-wrapper clearfix" ng-show="showResults">
    <div ng-repeat="item in contacts track by $index">
        <div class="clearfix cursor" ng-click="addRecipient(item)">
            <div class="pull-left relative">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
            </div>
            <div class="pull-left">
                <p class="margin0">[[item.name]]</p>
                <p class="margin0">[[item.emailId]]</p>
            </div>
        </div>
    </div>
</div>