<div ng-controller="account" class="account-wrapper">

    <div class="accounts-ints">
        <div class="clearfix" style="border-bottom: 1px solid #e5e5e5;min-height: 64px;">
            <div class="clearfix">
                <h5 class="margin0 bold pull-left">Accounts v/s Interactions</h5>

                <div class="pull-right cursor" data-ng-click="toggleAIHelp()">
                    Help
                </div>
                <div class="insights-help" ng-show="openAIHelp">
                    <i class="fa fa-close" data-ng-click="toggleAIHelp()"></i>
                    <img src="/images/insights/Top100Accounts.gif">
                </div>
            </div>

            <div ng-show="!disableRadioButtons && !loadingMetaData" class="acc-int-filter">
                <label ng-click="getAccsBy('all')">
                    <input type="radio" ng-model="allAcc.name" value="all">All
                    <i class="fa fa-info-circle black-color fs-10" title="All Accounts that you have access to and has team interactions or there is an opportunity created. Click on the Account to see details"></i>
                </label>

                <label ng-click="getAccsBy('opp')">
                    <input type="radio" ng-model="allAcc.name" value="opp">Top 100 By Opp Value
                    <i class="fa fa-info-circle black-color fs-10" title="Top 100 Accounts that you have access to, ordered by value for OPEN opportunities closing this QUARTER mapped to team interactions. Click on the Account to see details."></i>
                </label>
            </div>
        </div>

        <div style="text-align: center" ng-show="loadingMetaData">
            <div class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>

        <div id="spiderChart3" style="z-index: 9999" ng-show="!loadingMetaData"></div>
        <div class="text-center">
            <img src="/images/insights/spider.jpg" style="margin-left: -24%;" ng-show="noAccAndInts && !loadingMetaData">
        </div>
        <div class="side-insights" ng-show="!noAccAndInts && !loadingMetaData">
            <ul ng-show="accsIntsInsights.length>0">
                <li ng-repeat="item in accsIntsInsights">[[item]]</li>
            </ul>

            <div ng-show="noAccAndInts">
                Create opps to view your interactions with the relevant contacts and get actionable
                insights.
            </div>

        </div>

        <div class="legends">
            <div class="inline-block" style="margin-right: 10px">
                <div class="inline-block opps"></div>
                <div class="inline-block">Opportunities</div>
            </div>
            <div class="inline-block">
                <div class="inline-block ints"></div>
                <div class="inline-block">Account Interactions</div>
            </div>
        </div>
        <div class="tooltip tooltip3 hidden">
            <p><span id="value3">100</span></p>
        </div>
    </div>
    <div class="acc-table">
        <table class="table">
            <tr>
                <th class="cursor" data-ng-click="sortType = 'axis'; sortReverse = !sortReverse">Account</th>
                <th class="cursor" data-ng-click="sortType = 'openCountSort'; sortReverse = !sortReverse">Open ([[primaryCurrency]])</th>
                <th class="cursor" data-ng-click="sortType = 'wonCountSort'; sortReverse = !sortReverse">Won ([[primaryCurrency]])</th>
                <th class="cursor" data-ng-click="sortType = 'lostCountSort'; sortReverse = !sortReverse">Lost ([[primaryCurrency]])</th>
                <th class="cursor" data-ng-click="sortType = 'opps.length'; sortReverse = !sortReverse">All Opp (count)</th>
                <th class="cursor" data-ng-click="sortType = 'interactionsCount'; sortReverse = !sortReverse">Interactions</th>
                <th class="cursor" data-ng-click="sortType = 'lastInteractedDate'; sortReverse = !sortReverse">Last Interacted</th>
            </tr>
            <tr ng-repeat="acc in accounts|orderBy:sortType:sortReverse">
                <td class="cursor" style="background: inherit" data-ng-click="goToAcc(acc.axis)">[[acc.axis]]</td>
                <td>[[acc.openCount]]</td>
                <td>[[acc.wonCount]]</td>
                <td>[[acc.lostCount]]</td>
                <td>[[acc.opps.length]]</td>
                <td ng-style="acc.interactionsCount == 0?{'background':'rgba(255, 108, 89, 0.82)'}:{'background':'inherit'}">[[acc.interactionsCount]]</td>
                <td ng-style="acc.interactionsCount == 0?{'background':'rgba(255, 108, 89, 0.82)'}:{'background':'inherit'}">[[acc.lastInteractedDateFormatted]]</td>
            </tr>
        </table>
    </div>
</div>
