<div ng-controller="achievements" class="achievements-wrapper">
    <div class="clearfix">
        [[achievementsLastUpdated]]
    </div>

    <div ng-show="achvBy == 'org'">
        <h5>Team Target vs Achievement</h5>
        <div class="target-won clearfix" ng-show="!loadingAchivements" style="margin-bottom:45px;">
            <div id="targetVsWon" style="width:82.75%;height:100px;float:left"></div>
            <div class="qoq-growth" style="width:13.5%;height:100px;float:left">
                QoQ
                <div class="num">
                    [[qoqChange]]
                </div>
            </div>
        </div>
    </div>

    <div ng-show="achvBy != 'org'">
        <h5>Achievement ([[selectedPortoflioType]])</h5>

        <div ng-show="loadingAchivements" class="text-center relative">
            <div class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>

        <div class="regions" ng-show="!loadingAchivements" style="margin-bottom:45px;">
            <div>
                <div id="chartdiv" style="margin-bottom:15px;width:97.5%;[[setHeight]]"></div>
            </div>
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>[[selectedPortoflioType]]</th>
                        <th>Period</th>
                        <th>Target</th>
                        <th>Won</th>
                        <th>% Won</th>
                        <th>QoQ Change</th>
                        <th>YoY Change</th>
                    </tr>
                    <tr ng-repeat="tr in graphData">
                        <td>[[tr.name]]</td>
                        <td style="width: 15%;">Current Qtr<hr>YTD(quarter)</td>
                        <td style="width: 10%;" class="text-right">[[tr.target]]<hr>[[tr.yrTarget]]</td>
                        <td style="width: 10%;" class="text-right">[[tr.won]]<hr>[[tr.wonYr]]</td>
                        <td style="width: 10%;">[[tr.wonPerQtr]]<hr>[[tr.wonPerYr]]</td>
                        <td style="width: 10%;"><span class="[[tr.qoqChangeClass]]">[[tr.qoqChange]]</span></td>
                        <td style="width: 10%;"><span class="[[tr.yoyChangeClass]]">[[tr.yoyChange]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h5>Achievement Summary</h5>

    <div ng-show="loadingAchivements" class="text-center relative">
        <div class="loading-contacts">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>
    </div>

    <div class="team-summary" style="margin-bottom:45px;" ng-show="!loadingAchivements">
        <div class="row">
            <div class="col-md-3">
                <h5 class="bg">Companies (<i class="[[currency]]"></i> [[companyAmount]] )</h5>
                <div class="no-acc" style="position: relative;text-align:center;" ng-show="companyAmount == 0">
                    <img class="no-data-donut" style="left: 0;" src="/images/insights/donut.png">
                    <p style="position: absolute;top: 85px;left: -8px;right: 0;">No opps won</p>
                </div>

                <div class="clearfix">
                    <div class="company-chart"></div>
                    <div>
                        <h5 ng-show="companies.length>0">Top [[companies.length]]</h5>
                        <ol>
                            <li ng-repeat="item in companies" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h5 class="bg">Regions (<i class="[[currency]]"></i> [[regionAmount]] )</h5>
                <div class="no-acc" style="position: relative;text-align:center;" ng-show="regionAmount == 0">
                    <img class="no-data-donut" style="left: 0;" src="/images/insights/donut.png">
                    <p style="position: absolute;top: 85px;left: -8px;right: 0;">No opps won</p>
                </div>

                <div class="clearfix">
                    <div class="region-chart"></div>
                    <div>
                        <h5 ng-show="regions.length>0">Top [[regions.length]]</h5>
                        <ol>
                            <li ng-repeat="item in regions" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h5 class="bg">Products (<i class="[[currency]]"></i> [[productAmount]] )</h5>
                <div class="no-acc" style="position: relative;text-align:center;" ng-show="productAmount == 0">
                    <img class="no-data-donut" style="left: 0;" src="/images/insights/donut.png">
                    <p style="position: absolute;top: 85px;left: -8px;right: 0;">No opps won</p>
                </div>

                <div class="clearfix">
                    <div class="product-chart"></div>
                    <div>
                        <h5 ng-show="products.length>0">Top [[products.length]]</h5>
                        <ol>
                            <li ng-repeat="item in products" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h5 class="bg">Verticals (<i class="[[currency]]"></i> [[verticalAmount]] )</h5>
                <div class="no-acc" style="position: relative;text-align:center;" ng-show="verticalAmount == 0">
                    <img class="no-data-donut" style="left: 0;" src="/images/insights/donut.png">
                    <p style="position: absolute;top: 85px;left: -8px;right: 0;">No opps won</p>
                </div>

                <div class="clearfix">
                    <div class="vertical-chart"></div>
                    <div>
                        <h5 ng-show="verticals.length>0">Top [[verticals.length]]</h5>
                        <ol>
                            <li ng-repeat="item in verticals" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h5 class="bg">Business Units (<i class="[[currency]]"></i> [[buAmount]] )</h5>
                <div class="no-acc" style="position: relative;text-align:center;" ng-show="buAmount == 0">
                    <img class="no-data-donut" style="left: 0;" src="/images/insights/donut.png">
                    <p style="position: absolute;top: 85px;left: -8px;right: 0;">No opps won</p>
                </div>

                <div class="clearfix">
                    <div class="bu-chart"></div>
                    <div>
                        <h5 ng-show="bus.length>0">Top [[bus.length]]</h5>
                        <ol>
                            <li ng-repeat="item in bus" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <h5>Stats for the Quarter (Regions)</h5>-->
<!--    <div class="stats">-->

<!--    </div>-->
<!--    <h5>KPIs for the Quarter (Regions)</h5>-->
<!--    <div class="kpi" style="margin-bottom:45px;">-->
<!--        <div class="clearfix">-->
<!--            <div class="pull-left"></div>-->
<!--            <div class="pull-right">-->
<!--&lt;!&ndash;                <button class="btn btn-green" data-ng-click="addKPIRow()">Add KPI</button>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <table class="table table-striped" style="width:97.5%;">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>KPI</th>-->
<!--                    <th colspan="2">Trainings</th>-->
<!--                    <th colspan="2">Demo</th>-->
<!--                    <th colspan="2">PoC</th>-->
<!--                    <th colspan="2">New Logo</th>-->
<!--                    <th colspan="2">Days outstanding</th>-->
<!--                    <th colspan="2">Gross Margin</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th></th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                    <th>Target</th>-->
<!--                    <th>Achieved</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr ng-repeat="el in kpi">-->
<!--                <td>[[el.kpiFor]]</td>-->
<!--                <td>[[el.trainingTarget]]</td>-->
<!--                <td>[[el.trainingAchieved]]</td>-->
<!--                <td>[[el.demoTarget]]</td>-->
<!--                <td>[[el.demoAchieved]]</td>-->
<!--                <td>[[el.pocTarget]]</td>-->
<!--                <td>[[el.pocAchieved]]</td>-->
<!--                <td>[[el.logoTarget]]</td>-->
<!--                <td>[[el.logoAchieved]]</td>-->
<!--                <td>[[el.accTarget]]</td>-->
<!--                <td>[[el.accAchieved]]</td>-->
<!--                <td>[[el.marginTarget]]</td>-->
<!--                <td>[[el.marginAchieved]]</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->

    <div class="leaderboard pulse">
        <div class="clearfix">

            <div class="pull-left">
                <h5>Leaderboard ([[selectedPortoflioType]])</h5>
            </div>
            <div class="pull-right list" ng-show="portfoliosList.length>0 && achvBy != 'org'">
                <select ng-change="getLeaderBoardByPortfolio(selectedPortfolio)"
                        ng-init="selectedPortfolio = portfoliosList[0]"
                        ng-model="selectedPortfolio"
                        ng-options="x.name for x in portfoliosList">
                </select>
            </div>
        </div>

        <div ng-show="loadingAchivements" class="text-center relative">
            <div class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>
        <table class="table table-striped" style="width:97.5%;" ng-show="!loadingAchivements">
            <tr>
                <th>Rank</th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='emailId'">User</th>
                <th>Target vs Achievement vs Commit</th>
                <th>Conversion</th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='averageDealSize_sort'">Avg Deal Size</th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='avgSalesCycle_sort'">Avg Sales Cycle</th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='interactionsPerDeal'">Interactions/1000 USD Won</th>
            </tr>
            <tr ng-repeat="member in teamRank | filter:fullName | orderBy:sortType:sortReverse" data-ng-click="getDetails(member)" class="reset-height">

                <td class="text-center bg-white">
                    <strong>[[member.index]]</strong>
                </td>

                <td class="bg-white">
                    <div class="team-profiles clearfix reset"  title="[[member.fullName]], [[member.emailId]]">
                        <div class="inline-block">
                            <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                        </div>
                        <div class="inline-block">
                            <strong>[[member.fullName]]</strong>
                            <br>
                            [[member.emailId]]
                            <br>
                            <a ng-show="achvBy != 'org'" style="color: #337ab7;text-decoration: underline;font-size: 10px;" class="cursor" ng-click="viewAccessLevels(member)">Access</a>
                        </div>
                    </div>
                    <div class="right-bar-pa" ng-show="member.openPortfoliosTb">
                        <div class="clearfix">
                            <div class="pull-right">
                                <button class="btn btn-white close-btn" ng-click="member.openPortfoliosTb = false;">Close</button>
                            </div>
                        </div>
                        <table class="portfolio-tb">
                            <tr>
                                <th>Portfolio Type</th>
                                <th>Portfolio</th>
                                <th>Owner</th>
                                <th>Access Level</th>
                            </tr>
                            <tr ng-repeat="el in groupedPortfolios">
                                <td>[[el.type]]</td>
                                <td>[[el.name]]</td>
                                <td>
                                    <div>
                                        [[el.headName]]
                                    </div>
                                    <div ng-show="el.headEmailId != ''" style="font-size: 10px;color: #777;">
                                        ([[el.headEmailId]])
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <a href="#" ng-click="seeAllAccess(el)">View Access</a>
                                    <div class="abs row clearfix" ng-show="el.showAccess">
                                        <div class="clearfix" style="background: #ddd;padding-right: 5px;">
                                            <div class="close-btn"
                                                 style="width: 55px;margin: 5px 2px 10px;float: right;border-radius: 2px;color: #e74c3c !important;
    border: 1px solid #e74c3c !important;
    background: #fff !important;cursor:pointer;" ng-click="el.showAccess = false;">
                                                Close</div>
                                        </div>
                                        <div>
                                            <div class="col-md-3">
                                                <div>
                                                    <strong style="font-size:11px;">[[el.type]]</strong>
                                                    <input type="checkbox" disabled checked>[[el.name]]
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-repeat="item in allPortfolios" ng-show="item.name != el.type">
                                                <strong style="font-size:11px;" ng-show="!el.isHead">
                                                    <input type="checkbox" ng-model="item.allSelected" disabled>
                                                    [[item.name]]
                                                </strong>
                                                <strong style="font-size:11px;" ng-show="el.isHead">
                                                    [[item.name]]
                                                </strong>
                                                <ul class="list-unstyled" ng-show="!el.isHead">
                                                    <li ng-repeat="li in item.list">
                                                        <input type="checkbox" disabled ng-model="li.selected">[[li.name]]
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled" ng-show="el.isHead">
                                                    <li>
                                                        <input type="checkbox" checked ng-disabled="el.isHead">All [[item.name]]
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td class="text-center bg-white" style="display: none;">
                    <div class="graph-xs">
                        <div class="base clearfix">
                            <div ng-style="member.targetStyle"></div>
                        </div>
                        <div class="base clearfix">
                            <div ng-show="!member.ifExceptionalAccess" ng-style="member.wonStyle"></div>
                            <div ng-show="member.ifExceptionalAccess" class="ea clearfix">
                                <div ng-style="member.userWonStyle" class="user-won"></div>
                                <div ng-style="member.eaWonStyle" class="ea-won"></div>
                            </div>
                        </div>
                        <p>[[member.achievementPercentage]]</p>
                        <div class="to-remove">
                            <div> Target [[member.targetWithCommas]]</div><div>Won [[member.wonWithCommas]]</div>
                        </div>

                        <div class="vertical pop-up-md">
                            <div class="pop-up">
                                <table>

                                    <tr>
                                        <td><i class="tr"></i>Target</td>
                                        <td><span>[[member.targetWithCommas]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="won"></i>Won</td>
                                        <td><span>[[member.wonWithCommas]]</span></td>
                                    </tr>
                                    <tr ng-show="member.ifExceptionalAccess">
                                        <td><i class="ea-won"></i>Exceptional Access</td>
                                        <td><span>[[member.eaWithCommas]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="transparent"></i>% Won</td>
                                        <td><span>[[member.achievementPercentage]]</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>

                <td class="relative achievement text-center bg-white">
                    <table class="[[member.lineChart2ToolTip]]" ng-show="member.showTooltip">
<!--                    <table class="[[member.lineChart2ToolTip]]">-->
                        <tr>
                            <th></th>
                            <th ng-repeat="month in member.monthlyOppWon">[[month.meta]]</th>
                        </tr>
                        <tr>
                            <td class="text-left width">
                                <div class="legend-t">
                                </div>Cumulative Target
                            </td>
                            <td class="text-right" ng-repeat="month in member.targetsArray">[[month.valueWithCommas]]</td>
                        </tr>
                        <tr>
                            <td class="text-left width">
                                <div class="legend-a">
                                </div>Cumulative Achievement</td>
                            <td class="text-right" ng-repeat="month in member.monthlyOppWon">[[month.valueWithCommas]]</td>
                        </tr>
                    </table>
<!--                    <div class="[[member.lineChart2]]" ng-mouseover="displayToolTip(member)" ng-mouseleave="member.showTooltip=false"></div>-->
                    <div class="[[member.lineChart2]]"></div>
                    <div class="absolute-tb">
                        <strong>Quarter</strong>
                        <table>
                            <tr>
                                <th>Target</th>
                                <th>Won</th>
                                <th>Won %</th>
                            </tr>
                            <tr>
                                <td>[[getAmountInthousandas(member.target)]]</td>
                                <td>[[getAmountInthousandas(member.won)]]</td>
                                <td class="[[member.wonClass]]">[[member.achievementPercentage]]</td>
                            </tr>
                        </table>
                    </div>
<!--                    <div class="conversion-rate [[member.wonClass]]">[[member.achievementPercentage]]</div>-->
                </td>

<!--                <td class="bg-white text-center">-->
<!--                    [[member.commitsFormatted]] <br>-->
<!--                    <span ng-show="member.wonAchievementPer != ''" class="[[member.commitClass]]">[[member.wonAchievementPer]]</span>-->
<!--                </td>-->

                <td class="relative bg-white cr text-center">
                    <table class="[[member.lineChart3ToolTip]]" ng-show="member.showTooltip2">
                        <tr>
                            <th></th>
                            <th ng-repeat="month in member.monthlyCreated">[[month.meta]]</th>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div class="legend-t">
                                </div>
                                <div class="inline-block">
                                    Created
                                </div>
                            </td>
                            <td class="text-right" ng-repeat="month in member.monthlyCreated">[[month.valueWithCommas]]</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <div class="legend-a">
                                </div>
                                <div class="inline-block">
                                    Closed
                                </div>
                            </td>
                            <td class="text-right" ng-repeat="month in member.monthlyClosed">[[month.valueWithCommas]]</td>
                        </tr>
                    </table>
                    <div class="[[member.lineChart]]" ng-mouseover="displayToolTip2(member)" ng-mouseleave="member.showTooltip2=false"></div>
                    <div class="conversion-rate">[[member.conversionRate]]</div>
                </td>

                <td class="relative custom-tooltip bg-white">
                    <div id="[[member.pieChartId2]]"></div>
                    <div id="[[member.pieChartId3]]" class="chart-3"></div>

                    <div class="pieNumber">
                        <p>Target: [[member.targetWithCommas]]</p>
                        <p>Won: [[member.wonWithCommas]]</p>
                        <p>% Won: [[member.achievementPercentage]]</p>
                    </div>
                    <p class="abs"> [[member.achievementPercentage]]</p>
                    <div class="to-remove">
                        <p> Target [[member.target]]</p><p>Won [[member.won]]</p>
                    </div>

                </td>

                <td class="text-center bg-white">
                    <span class="fs-16 lite">[[member.averageDealSize]]</span>
                    <div class="to-remove">
                        <p> Amount Won [[member.won]]</p><p>Num of deals won [[member.wonDeals]]</p>
                    </div>
                </td>

                <td class="text-center bg-white">
                    <span class="fs-16 lite">[[member.avgSalesCycle]]</span>
                    <div class="to-remove">
                        <div> Days to close win opp [[member.daysToWinCloseDeal]]</div><div>Won Deals [[member.wonDeals]]</div>
                    </div>
                </td>

                <td class="text-center bg-white">
                    <span class="fs-16 lite">[[member.interactionsPerDeal]]</span>
                    <div class="to-remove">
                        <p> Num of interactions won [[member.interactionsCountWon]]</p><p>Num of deals won [[member.wonDeals]]</p><p>Amount won [[member.wonAmount]]</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>