<div ng-controller="dashboard">

    <div class="row margin0">
        <div class="col-md-12 padding-l0">

            <div class="row margin0">
                <div class="col-md-7 padding-l0">
                    <div class="box">
                        <h5>Pipeline Flow</h5>
                        <div class="sankey-graph">
                            <div class="oppflow-header">
                                <p>[[oppFlowHeader]] <i class="fa fa-info-circle black-color" title="The Opportunity Pipeline flow indicates how the opportunities are flowing across the opportunity stages from the start to the end of the selected time frame"></i></p>
                                <div class="clearfix ranges">
                                    <div class="pull-left">
                                        <strong>Start</strong>
                                        <p class="blue">[[startAmount]]</p>
                                    </div>
                                    <div class="pull-right">
                                        <strong>End</strong>
                                        <p>[[endAmount]]</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div style="text-align: center" ng-show="loadingMetaData">
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </div>
                            <div id="oppFlow" resize ng-show="!loadingMetaData"></div>
                            <div ng-show="!loadingMetaData">
                                <img ng-show="noOppFlowData" src="/images/insights/oppFlow.jpg">
                                <h5 ng-show="noOppFlowData">Pipeline Flow could not be calculated as there are no opportunities/targets set.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box" style="min-height: 200px;">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h5>Pipeline Velocity <i class="fs-12 fa fa-info-circle black-color" title="Pipeline Velocity indicates the health of your pipeline based on your previous closures and current client interactions"></i></h5>
                                <p>This Quarter</p>
                            </div>
                            <div class="pull-right cursor" data-ng-click="togglePvHelp()">
                                Help
                            </div>
                            <div class="insights-help" ng-show="openPvHelp">
                                <i class="fa fa-close" data-ng-click="togglePvHelp()"></i>
                                <img src="/images/insights/Pipelinevelocity.gif">
                            </div>
                        </div>
                        <div style="text-align: center" ng-show="loadingMetaData">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>

                        <div ng-show="!loadingMetaData">
                            <img ng-show="targetGraph.length == 0" class="no-data-treemap" src="/images/insights/pv.jpg">
                            <div ng-show="allTeamMembers">
                                Pipeline Velocity available for Individual team member.
                            </div>
                            <h5 ng-show="targetGraph.length == 0" class="no-data-treemap-msg">
                                Looks like your targets are not set. Pl. ask your corporate admin to setup your targets.
                            </h5>
                            <div class="row targets-container">
                                <div class="col-md-8">
                                    <div class="top-graph-bar cursor" ng-show="!allTeamMembers && targetGraph.length>0" data-ng-click="showTable('pipelineVelocity')">
                                        <div class="when-overflow clearfix">
                                            <div class="target-graph-wrapper" ng-repeat="value in targetGraph">
                                                <div class="target">
                                                    <span ng-style="value.heightTarget"></span>
                                                </div>
                                                <div class="won">
                                                    <span ng-style="value.heightWon"></span>
                                                </div>
                                                <div class="total">
                                                    <span ng-style="value.heightTotal"></span>
                                                </div>
                                                <h6>[[value.month]]</h6>
                                                <h6>[[value.year]]</h6>
                                                <i ng-show="value.highLightCurrentMonth" title="Current Month" class="fa fa-caret-up"></i>
                                                <div class="pop-up">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <i class="tr"></i>Target</td>
                                                            <td><span>[[value.target]]</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="won"></i>Won</td>
                                                            <td><span>[[value.won]]</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="lo"></i>Lost</td>
                                                            <td><span>[[value.lost]]</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="pl"></i>Pipeline</td>
                                                            <td><span>[[value.openValue]]</span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-left" ng-show="targetGraph.length>0 && !allTeamMembers">
                                    <h6><i class="tr"></i>Target <br> <i class="won"></i>Won<br> <i class="pl"></i>Pipeline</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box stats" style="min-height: 261px;">
                            <h5>Accounts (won)</h5>
                            <p>This Quarter</p>
                            <div style="text-align: center" ng-show="loadingMetaData">
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </div>
                            <div ng-show="!loadingMetaData">
<!--                                <div class="accChart"></div>-->
                                <div id="accChart"></div>
                                <img ng-show="noAccounts" class="no-data-treemap" src="/images/insights/piechart.jpg">
                                <h5 ng-show="noAccounts" class="no-data-treemap-msg">We couldn’t find any ACCOUNT wins this Quarter. But we have time to get started</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin0" style="margin-bottom: 15px !important;">
        <div class="col-md-6 padding-l0">
            <div class="accounts-ints">
                <div class="clearfix" style="border-bottom: 1px solid #e5e5e5;min-height: 64px;">
                    <div class="clearfix">
                        <h5 class="margin0 bold pull-left">Accounts v/s Interactions</h5>

                        <div class="pull-right cursor" data-ng-click="toggleAIHelp()">
                            Help
                        </div>
                        <div class="insights-help" ng-show="openAIHelp">
                            <i class="fa fa-close" data-ng-click="toggleAIHelp()"></i>
                            <img src="/images/insights/Top100Accounts.gif">
                        </div>
                    </div>

                    <div ng-show="!disableRadioButtons && !loadingMetaData" class="acc-int-filter">
                        <label ng-click="getAccsBy('all')">
                            <input type="radio" ng-model="allAcc.name" value="all">All
                            <i class="fa fa-info-circle black-color fs-10" title="All Accounts that you have access to and has team interactions or there is an opportunity created. Click on the Account to see details"></i>
                        </label>

                        <label ng-click="getAccsBy('opp')">
                            <input type="radio" ng-model="allAcc.name" value="opp">Top 100 By Opp Value
                            <i class="fa fa-info-circle black-color fs-10" title="Top 100 Accounts that you have access to, ordered by value for OPEN opportunities closing this QUARTER mapped to team interactions. Click on the Account to see details."></i>
                        </label>
                    </div>
                </div>

                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div id="spiderChart2" style="z-index: 9999;cursor: pointer;" ng-show="!noAccAndInts && !loadingMetaData" data-ng-click="goToAccount()"></div>
                <img src="/images/insights/spider.jpg" ng-show="noAccAndInts && !loadingMetaData">
                <div class="side-insights" ng-show="!noAccAndInts && !loadingMetaData">
                    <ul ng-show="accsIntsInsights.length>0">
                        <li ng-repeat="item in accsIntsInsights">[[item]]</li>
                    </ul>

                    <div ng-show="noAccAndInts">
                        Create opps to view your interactions with the relevant contacts and get actionable
                        insights.
                    </div>

                </div>

                <div class="legends">
                    <div class="inline-block" style="margin-right: 10px">
                        <div class="inline-block opps"></div>
                        <div class="inline-block">Opportunities</div>
                    </div>
                    <div class="inline-block">
                        <div class="inline-block ints"></div>
                        <div class="inline-block">Account Interactions</div>
                    </div>
                </div>

                <div class="tooltip hidden">
                    <p><span id="value">100</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 padding-l0">
            <div class="accounts-ints">
                <div class="clearfix" style="border-bottom: 1px solid #e5e5e5;min-height: 64px;">
                    <div class="clearfix">
                        <h5 class="margin0 bold pull-left">Opportunities v/s Interactions</h5>

                        <div class="pull-right cursor" data-ng-click="toggleOIHelp()">
                            Help
                        </div>
                        <div class="insights-help" ng-if="openOIHelp">
                            <i class="fa fa-close" data-ng-click="toggleOIHelp()"></i>
                            <img src="/images/insights/Top100Opp.gif">
                        </div>
                    </div>

                    <div ng-show="!noOppAndInts && !loadingMetaData" class="acc-int-filter">
                        <label ng-click="getOppsBy('all')" >
                            <input type="radio" ng-model="oppInt.name" value="allOpp">All
                            <i class="fa fa-info-circle black-color fs-10" title="All Opportunities that you have access to and has team interactions. Click on the Opp to see details."></i>
                        </label>

                        <label ng-click="getOppsBy('opp')" >
                            <input type="radio" ng-model="oppInt.name" value="toOpp">Top 100 By Opp Value
                            <i class="fa fa-info-circle black-color fs-10" title="Top 100 opportunities that you have access to, ordered by value for opportunities closing this QUARTER mapped to team interactions for those Opportunities. Click on the Opp to see details."></i>
                        </label>
                    </div>
                </div>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div id="spiderChart1" ng-show="!loadingMetaData" style="z-index: 9999"></div>
                <img src="/images/insights/spider.jpg" ng-show="noOppAndInts && !loadingMetaData">
                <div class="side-insights" ng-show="noOppAndInts && !loadingMetaData">
                    <ul ng-show="!noOppAndInts" style="display: none">
                        <li ng-repeat="item in oppsIntsInsights">[[item]]</li>
                        <li>15 stale opportunities</li>
                        <li>[[primaryCurrency]] [[totalDealValueAtRisk]] revenue at risk ([[dealsAtRiskCount]] opportunities)</li>
                        <li>12 opportunities' contacts have not been interacted in the pat 30 days</li>
                    </ul>
                    <div ng-show="noOppAndInts">
                        Create opps to view your interactions with the relevant contacts and get actionable
                        insights.
                    </div>
                </div>

                <div class="legends">
                    <div class="inline-block" style="margin-right: 10px">
                        <div class="inline-block opps"></div>
                        <div class="inline-block">Opportunities</div>
                    </div>
                    <div class="inline-block">
                        <div class="inline-block ints"></div>
                        <div class="inline-block">Opportunity Interactions</div>
                    </div>
                </div>
                <div class="tooltip tooltip2 hidden">
                    <p><span id="value2">100</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin0 base-fluid-template">

        <div class="col-md-4 padding0" data-ng-controller="opportunitiesByStage">
            <div class="box stats">

                <h5>Pipeline Funnel <span class="fs-12 lite">([[fiscalYear]])</span></h5>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div class="bar-graph clearfix" ng-show="!loadingMetaData">

                    <div ng-show="noPipeline">
                        <div class="left" title="Total opportunities count">
                            <div class="leftbar" ng-repeat="item in funnels">
                                <span ng-style="item.countLength"></span>
                                <i>[[item.oppsCount]]</i>
                            </div>
                        </div>
                        <div class="center">
                            <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-repeat="item in funnels">[[item.name]]</div>
                        </div>
                        <div class="right" title="Total opportunities value">
                            <div class="rightbar" ng-repeat="item in funnels">
                                <span ng-style="item.amountLength"></span>
                                <i>[[item.amount]]</i>
                            </div>
                        </div>
                    </div>

                    <div class="no-acc" ng-show="!noPipeline">
                        No opportunities created. Please create your first opportunity to see pipeline funnel.
                        <a href="/opportunities/all" class="btn btn-primary">Add Opportunity</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 padding-r0" data-ng-controller="opp_growth">
            <div class="box stats">
                <h5>Conversion Rate</h5>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div class="opp-growth" ng-show="!noOpp && !loadingMetaData"></div>
                <div class="label-markers clearfix" ng-show="!noOpp">
                    <div ng-show="label1" class="line-1 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>[[label1]]</span>
                        </div>
                    </div>
                    <div ng-show="label2" class="line-2 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>[[label2]]</span>
                        </div>
                    </div>
                </div>
                <div class="no-acc" ng-show="noOpp">
                    No new opportunities created in the past 6 months.
                    <a href="/opportunities/all" class="btn btn-primary" style="display: block;width: 120px;margin: 5px auto;">Add Opportunity</a>
                </div>
            </div>
        </div>

        <div class="col-md-4" data-ng-controller="acc_growth">
            <div class="box stats">
                <h5>New companies interacted</h5>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div class="acc-growth" ng-show="!noAcc && !loadingMetaData"></div>
                <div class="no-acc" ng-show="noAcc">
                    No new companies interacted in the past 6 months. Pl. interact with new companies to see details.
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row margin0 base-fluid-template" ng-controller="opp_prop_viz">

    <div class="col-md-4 padding0">
        <div class="box">
            <h5>Products (won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="productChart" ng-show="!loadingMetaData"></div>
            <img ng-show="noProds" class="no-data-treemap" src="/images/insights/piechart.jpg">
            <h5 ng-show="noProds" class="no-data-treemap-msg">We couldn’t find any PRODUCT wins this Quarter. But we have time to get started</h5>
        </div>
    </div>

    <div class="col-md-4 padding-r0">
        <div class="box">
            <h5>Type (Won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="typeGraph" ng-show="!loadingMetaData">
            </div>
            <div class="no-acc" ng-show="noOppType">
                <h5 class="no-data-treemap-msg">We couldn’t find any opportunity wins this Quarter.</h5>
                <img class="no-data-donut" src="/images/insights/donut.jpg">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box">
            <h5>Source (Won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="sourceTypeGraph" ng-show="!loadingMetaData">
            </div>
            <div class="no-acc" ng-show="noSourceType">
                <h5 class="no-data-treemap-msg">We couldn’t find any opportunity wins this Quarter.</h5>
                <img class="no-data-donut" src="/images/insights/donut.jpg">
            </div>
        </div>
    </div>

</div>

<div class="row right-insights" ng-controller="currentInsights">
    <div class="col-md-3">
        <h5>Current Insights</h5>
        <ul class="list-unstyled" ng-show="insightsExist">

            <li class="clearfix" ng-show="staleCount">
                <div class="circle low pull-left"></div>
                <div class="insight pull-left">[[staleCount]] opportunities past due date as of [[todayDate]]</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage<100 && achievementPercentage<100 && !noTargetsSet">
                <div class="circle low pull-left"></div>
                <div class="insight pull-left">Pipeline unhealthy to meet quarter target</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage>=100 && achievementPercentage<100 && !noTargetsSet">
                <div class="circle high pull-left"></div>
                <div class="insight pull-left">Pipeline healthy to meet quarter target</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && achievementPercentage>=100 && !noTargetsSet">
                <div class="circle high pull-left"></div>
                <div class="insight pull-left">Congratulations, you have met your quarter target!</div>
            </li>
        </ul>
        <h5 class="no-data-treemap-msg" style="top: 40%;text-align:center!important;" ng-show="!insightsExist">
            No insights available for this quarter. Pl. create opps and interact with contacts to see details.
        </h5>
    </div>
    <div class="col-md-3">
        <h5>Avg. sales cycle</h5>
        <h5 class="no-data-treemap-msg" style="top: 40%;" ng-show="!insightsExist">We couldn’t find any opportunity wins this Quarter.</h5>
        <div ng-show="!loadingMetaData && insightsExist">
            <div class="range clearfix">
                <div class="left">
                    <div class="line">
                        <div ng-style="currentInsights.avgDaysToCloseOppGraph" class="dot"></div>
                    </div>
                </div>
                <div class="right-ci">
                    <div class="number">
                        [[currentInsights.avgDaysToCloseOppCommas]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="range clearfix">
            <h5>Avg. deal size (won)</h5>
            <h5 class="no-data-treemap-msg" style="top: 40%;" ng-show="!insightsExist">We couldn’t find any opportunity wins this Quarter.</h5>
            <div ng-show="insightsExist">
                <div class="left">
                    <div class="line">
                        <div class="dot" ng-style="currentInsights.avgDealSizeGraph"></div>
                    </div>
                </div>
                <div class="right-ci">
                    <div class="number">
                        [[primaryCurrency]] [[currentInsights.avgDealSizeCommas]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="range clearfix">
            <h5>Avg. ints/1k [[primaryCurrency]] won</h5>
            <h5 class="no-data-treemap-msg" style="top: 40%;" ng-show="!insightsExist">We couldn’t find any opportunity wins this Quarter.</h5>
            <div ng-show="insightsExist">

                <div class="left">
                    <div class="line">
                        <div class="dot" ng-style="currentInsights.avgInteractionsPerAmountWonGraph"></div>
                    </div>
                </div>
                <div class="right-ci">
                    <div class="number">
                        [[currentInsights.avgInteractionsPerAmountWonCommas]]
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
