<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Insights | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #00000080;
            stroke-opacity: .2;
        }

        .link:hover {
            stroke-opacity: .5;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>

</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid reports">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
    </div>
    <div class="row relative" ng-controller="wrapper_controller">
        <div class="left-panel">
            <ul class="list-unstyled">
                <li class="[[item.selected]]" ng-repeat="item in menu" data-ng-click="openViewFor(item)">
                    [[item.name]]
                </li>
            </ul>
        </div>
        <div class="right-panel">

            <div class="hierarchy-header clearfix" ng-controller="liu_hierarchy">
                <ul class="list-unstyled clearfix pull-right">
                    <li>
                        <div class="team-list clearfix">
                            <div class="team-profiles" ng-click="selectFromList = !selectFromList;showProductList = false" title="[[selection.fullName]], [[selection.emailId]]">
                                <span ng-if="selection.noPicFlag">[[selection.nameNoImg]]</span>
                                <strong>[[selection.fullName]]</strong>
                                <i class="fa fa-caret-down"></i>
                            </div>

                            <div ng-show="selectFromList" class="list">
                                <input ng-model="member.fullName">
                                <p class="text-center cursor" data-ng-click="getDataFor('all')">Show All Team Members</p>
                                <div ng-repeat="member in team | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="getDataFor(member)" title="[[member.fullName]], [[member.emailId]]">
                                    <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                    <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                    <strong>[[member.fullName]]</strong>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div ng-show="viewFor == 'dashboard'">
                <div ng-include="'/reports/dashboard'"></div>
            </div>
            <div ng-show="viewFor == 'opportunity'">
                <div ng-include="'/reports/opportunities'"></div>
            </div>
            <div ng-show="viewFor == 'downloads'">
                <div ng-include="'/reports/exceptional/access'"></div>
            </div>
        </div>

        <div data-ng-controller="pipeline_velocity">

            <div ng-show="openPipelineVelocity" class="reports-modal">
                <div class="reports-modal-body">
                    <div class="clearfix">
                        <div class="pull-right cursor close-btn" style="margin: 10px;padding: 2px 10px; border-radius: 2px;" data-ng-click="closePipelineVelocity()">Close</div>
                    </div>
                    <div class="row row-with-bg margin0 margin-b0" style="margin-bottom: 0!important;">
                        <div class="col-md-6">

                            <div ng-show="!actionRequired && !expectationsExceed && !targetPipelineNone">
                                <h5>Congrats! Your pipeline is healthy.</h5>
                            </div>
                            <div ng-show="!actionRequired && expectationsExceed">
                                <h5>Congrats! You have met this quarter's target.</h5>
                            </div>
                            <div ng-show="targetPipelineNone">
                                <h5>Please create new opportunities.</h5>
                                <button class="btn btn-primary" style="margin: 0;padding: 1px 5px;" data-ng-click="goTo()">Create opportunity</button>
                            </div>
                            <div ng-show="actionRequired">
                                <h5 ng-show="staleOppsExist || nextQuarterOppsExist">Pipeline unhealthy to meet this quarter's target.</h5>

                                <strong>Suggestions: </strong>
                                <ol>
                                    <li ng-show="staleOppsExist">Move stale opportunities from past quarters to this quarter</li>
                                    <li><button class="btn btn-primary" style="margin: 0;padding: 1px 5px;" data-ng-click="goTo()">Create opportunity</button></li>
                                    <li ng-show="nextQuarterOppsExist">Move deals from next quarter to this quarter</li>
                                </ol>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="bar-graph-v2 clearfix">
                                <!--<h5 class="bold text-center">[[currentQuarter]]</h5>-->
                                <div class="left">
                                    <div class="text">Target</div>
                                    <div class="text">Won</div>
                                    <div class="text">Gap</div>
                                    <div class="text">Pipeline</div>
                                </div>
                                <div class="right">
                                    <div class="text clearfix">
                                        <span ng-style="target"></span>
                                        <i>[[targetCount]]</i>
                                    </div>
                                    <div class="text clearfix">
                                        <span ng-style="won"></span>
                                        <i>[[wonCount]]</i>
                                    </div>
                                    <div class="text clearfix">
                                        <span ng-style="gap"></span>
                                        <i>[[gapCount]]</i>
                                    </div>
                                    <div class="text clearfix">
                                        <span ng-style="pipeline"></span>
                                        <i>[[pipelineCount]]</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix margin0 row row-with-bg" ng-show="actionRequired">

                        <div class="col-md-12">

                            <div ng-show="actionRequired">

                                <div class="deals-at-risk-tb">
                                    <div class="clearfix set-width-xs header2">
                                        <div class="pull-left stretch">
                                            <h5>Opportunity</h5>
                                        </div>
                                        <div class="pull-left cursor" ng-click="sortType = 'amount';sortReverse = !sortReverse">
                                            <h5>Amount
                                                <i ng-show="sortReverse && sortType == 'amount'" class="fa fa-caret-down"></i>
                                                <i ng-show="!sortReverse && sortType == 'amount'" class="fa fa-caret-up"></i>
                                            </h5>
                                        </div>
                                        <div class="pull-left">
                                            <h5>Stage</h5>
                                        </div>
                                        <div class="pull-left cursor" ng-click="sortType = 'closeDate';sortReverse = !sortReverse">
                                            <h5>Close Date
                                                <i ng-show="sortReverse && sortType == 'closeDate'" class="fa fa-caret-down"></i>
                                                <i ng-show="!sortReverse && sortType == 'closeDate'" class="fa fa-caret-up"></i>
                                            </h5>
                                        </div>
                                        <div class="pull-left">
                                            <h5>Company</h5>
                                        </div>
                                        <div class="pull-left">
                                            <h5>Suggestion</h5>
                                        </div>

                                    </div>
                                    <div ng-show="deals.length>0">
                                        <!--<div ng-repeat="deal in deals | orderBy:sortType:sortReverse" class="tb-rows set-width-xs clearfix cursor" ng-click="takeAction(deal)">-->
                                        <div ng-repeat="deal in deals | orderBy:sortType:sortReverse" class="tb-rows set-width-xs clearfix">
                                            <div class="clearfix">
                                                <div class="pull-left stretch">
                                                    <!--<p><strong>[[deal.riskMeter]] - </strong>[[deal.opportunityName]]</p>-->
                                                    <p ng-show="deal.sourceType != 'Renewal'">[[deal.opportunityName]]</p>
                                                    <p ng-show="deal.sourceType == 'Renewal'">[[deal.opportunityName]] - Auto renewal</p>
                                                </div>
                                                <div class="pull-left text-right">
                                                    <p class="max-width">[[deal.amountWithCommas]]</p>
                                                </div>
                                                <div class="pull-left">
                                                    <div class="base-style [[deal.stageName]]" ng-style="deal.stageStyle2">
                                                        <p>[[deal.stageName]]</p>
                                                    </div>
                                                </div>
                                                <div class="pull-left">
                                                    <p>[[deal.formattedCloseDate]]</p>
                                                </div>
                                                <div class="pull-left capitalize overflow-hidden">
                                                    <p>[[deal.company]]</p>
                                                </div>
                                                <div class="pull-left stretch-lg">
                                                    <p>[[deal.suggestion]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-open" ng-show="showModal">
                                        <div class="opportunity-form form-box-shadow">
                                            <div class="modal-header clearfix">
                                                <h3 ng-show="opp.sourceType != 'Renewal'">[[opp.opportunityName]] <span class="cursor underline" data-ng-click="goToContact(opp.contactEmailId)">([[opp.contactEmailId]])</span></h3>
                                                <h3 ng-show="opp.sourceType == 'Renewal'">[[opp.opportunityName]] - Auto renewal <span class="cursor underline" data-ng-click="goToContact(opp.contactEmailId)">([[opp.contactEmailId]])</span></h3>
                                                <p class="pull-right value"><span><i class="[[currency]]"></i> [[opp.amountWithCommas]]</span></p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div>
                                                        <label ng-show="!opp.isStale"><span class="background">This opportunity closes in next quarter (close date [[opp.formattedCloseDate]]).<br></span>Close in this quarter to meet your target.</label>
                                                        <label ng-show="opp.isStale"><span class="background">This is a stale opportunity (close date [[opp.formattedCloseDate]] has already passed).<br></span>Please set a new close date or close the opportunity</label>
                                                        <div class="clearfix action">
                                                            <button class="btn btn-flat" id="opportunityCloseDateSelector4" ng-mouseover="registerDatePickerId()">SET NEW CLOSE DATE</button>
                                                            <button class="btn btn-flat cancel" ng-click="oppCloseLost(opp)">OPPORTUNITY CLOSE LOST</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="footer clearfix">
                                                <button class="btn btn-flat pull-right cancel margin-r20" ng-click="closeModal()">CLOSE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div data-ng-controller="deals_at_risk">

            <div ng-show="showDealsAtRisk" class="reports-modal">
                <div class="reports-modal-body">
                    <div class="clearfix">
                        <div class="pull-right cursor close-btn" style="margin: 10px;padding: 2px 10px; border-radius: 2px;" data-ng-click="closeDealsAtRisk()">Close</div>
                    </div>

                    <div class="clearfix margin0 row row-with-bg">
                        <div class="col-md-12">
                            <div class="deals-at-risk-tb">
                                <div class="clearfix set-width-xs">
                                    <div class="pull-left stretch">
                                        <h5>Opportunity</h5>
                                    </div>
                                    <div class="pull-left cursor" ng-click="sortType = 'amount';sortReverse = !sortReverse">
                                        <h5>Amount
                                            <i ng-show="sortReverse && sortType == 'amount'" class="fa fa-caret-down"></i>
                                            <i ng-show="!sortReverse && sortType == 'amount'" class="fa fa-caret-up"></i>
                                        </h5>
                                    </div>
                                    <div class="pull-left">
                                        <h5>Stage</h5>
                                    </div>
                                    <div class="pull-left cursor" ng-click="sortType = 'closeDate';sortReverse = !sortReverse">
                                        <h5>Close Date
                                            <i ng-show="sortReverse && sortType == 'closeDate'" class="fa fa-caret-down"></i>
                                            <i ng-show="!sortReverse && sortType == 'closeDate'" class="fa fa-caret-up"></i>
                                        </h5>
                                    </div>
                                    <div class="pull-left">
                                        <h5>Company</h5>
                                    </div>
                                    <div class="pull-left cursor" ng-click="sortType = 'riskMeter';sortReverse = !sortReverse">
                                        <h5>Risk
                                            <i ng-show="sortReverse && sortType == 'riskMeter'" class="fa fa-caret-down"></i>
                                            <i ng-show="!sortReverse && sortType == 'riskMeter'" class="fa fa-caret-up"></i>
                                        </h5>
                                    </div>
                                </div>

                                <div ng-show="loadingDealsAtRisk" class="text-center relative">
                                    <div class="loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                </div>

                                <div ng-show="deals.length>0">
                                    <div ng-repeat="deal in deals | orderBy:sortType:sortReverse" class="tb-rows set-width-xs clearfix">
                                        <div class="clearfix cursor" data-ng-click="getSuggestions(deal)">
                                            <div class="pull-left stretch">
                                                <!--<p><strong>[[deal.riskMeter]] - </strong>[[deal.opportunityName]]</p>-->
                                                <p ng-show="deal.sourceType != 'Renewal'">[[deal.opportunityName]]</p>
                                                <p ng-show="deal.sourceType == 'Renewal'">[[deal.opportunityName]] - Auto renewal</p>
                                            </div>
                                            <div class="pull-left text-right">
                                                <p class="max-width">[[deal.amountWithNgm]]</p>
                                            </div>
                                            <div class="pull-left">
                                                <div class="base-style [[deal.stageName]]" ng-style="deal.stageStyle2">
                                                    <p>[[deal.stageName]]</p>
                                                </div>
                                            </div>
                                            <div class="pull-left">
                                                <p>[[deal.formattedCloseDate]]</p>
                                            </div>
                                            <div class="pull-left capitalize overflow-hidden">
                                                <p>[[deal.company]]</p>
                                            </div>
                                            <div class="pull-left risk-meter" title="[[deal.riskSuggestion]]">
                                                <p class="grey-bg"><span class="[[deal.riskClass]]" ng-style="deal.riskPercentageStyle"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-open" ng-show="showModal">
                                    <div class="opportunity-form form-box-shadow">
                                        <div class="modal-header clearfix">
                                            <div class="team-mate pull-left">
                                                <div class="team-profiles clearfix reset"  title="[[opp.owner.fullName]], [[opp.owner.emailId]]">
                                                    <img ng-if="!opp.owner.noPicFlag" src="[[opp.owner.image]]" imageonload="imageNotLoaded(opp.owner)">
                                                    <span ng-if="opp.owner.noPicFlag">[[opp.owner.nameNoImg]]</span>
                                                    <strong>[[opp.owner.fullName]]</strong>
                                                    <!--<i class="lite">[[member.designation]]</i>-->
                                                </div>
                                                <p><strong>Opp:</strong> [[opportunityName]]</p>
                                                <p><strong>Contact:</strong> [[contactEmailId]]</p>
                                                <p><strong>Created Dt:</strong> [[oppCreatedDate]]</p>
                                            </div>
                                            <!--<h3>[[opportunityName]] <span class="cursor underline" data-ng-click="goToContact(contactEmailId)">([[contactEmailId]])</span></h3>-->
                                            <p class="pull-right value" ng-show="percentageOfTotal">Pipeline at risk - <span><i class="[[currency]]"></i> [[opp.amountWithCommas]]</span> ([[percentageOfTotal]] [[totalValue]])</p>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <ul class="tasks-completion col-xs-4">
                                                    <li class="[[dmActiveClass]]" data-ng-click="openDMs()" ng-init="openDMs()"><i class="fa [[dmExist]]"></i> Decision Makers</li>
                                                    <li class="[[iActiveClass]]" data-ng-click="openInfl()"><i class="fa [[InfExist]]"></i> Influencers</li>
                                                    <li class="[[staleActiveClass]]" data-ng-click="openStaleOpp()"><i class="fa [[isStaleOpp]]"></i> Opportunity Status</li>
                                                    <li class="[[stagActiveClass]]" data-ng-click="openStagOpp()"><i class="fa [[isStagnant]]"></i> Stagnant Opportunity</li>
                                                    <li class="[[ciActiveClass]]" data-ng-click="openContactIntr()"><i class="fa [[contatIntr]]"></i> Contact Interactions</li>
                                                    <li class="[[mActiveClass]]" data-ng-click="openDmOrInfMet()"><i class="fa [[metDmInfl]]"></i>Meetings</li>
                                                    <li class="[[compIActiveClass]]" data-ng-click="openIntScore()"><i class="fa [[IntScr]]"></i>Company Interactions</li>
                                                    <li class="[[ltActiveClass]]" data-ng-click="openLt()"><i class="fa [[ltWithOwner]]"></i>Losing Touch</li>
                                                </ul>

                                                <div class="col-xs-8 action-modal">
                                                    <div ng-show="showDms">
                                                        <label ng-show="!opp.decisionMakersExist"><span class="background">No decision maker identified for this opportunity. <br></span>Please add decision makers for this opportunity.</label>
                                                        <label ng-show="opp.decisionMakersExist"><span class="safe-background">Decision makers added for this opportunity. <br></span></label>
                                                        <!--<input type="text" autofocus="autofocus" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker">-->
                                                        <div search-results-d></div>
                                                        <div ng-repeat="item in opp.decisionMakers track by $index" class="profile-wrapper">
                                                            <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                                                <div class="relative" data-toggle="dropdown">
                                                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                                </div>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                    <li ng-click="removeRecipient(item,'decisionMaker')" class="cursor">Delete</li>
                                                                    <li class="divider"></li>
                                                                    <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                                </ul>
                                                                <p class="margin0">[[item.name]]</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-show="showInfl">
                                                        <label ng-show="!opp.influencersExist"><span class="background">No influencer identified for this opportunity.<br> </span>Please add influencers for this opportunity.</label>
                                                        <label ng-show="opp.influencersExist"><span class="safe-background">Influencers added for this opportunity. <br></span></label>
                                                        <!--<input type="text" autofocus="autofocus" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer">-->
                                                        <div search-results-i></div>
                                                        <div class="contacts child" ng-show="opp.influencers.length>0">
                                                            <div ng-repeat="item in opp.influencers track by $index" class="profile-wrapper">
                                                                <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                                                    <div class="relative" data-toggle="dropdown">
                                                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                                    </div>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        <li ng-click="removeRecipient(item,'influencer')" class="cursor">Delete</li>
                                                                        <li class="divider"></li>
                                                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                                                    </ul>
                                                                    <p class="margin0">[[item.name]]</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-show="showStaleOpp">
                                                        <label ng-show="staleOpp"><span class="background">This is a stale opportunity (close date [[closeDate]] has already passed).<br></span>Please set a new close date or close the opportunity</label>
                                                        <label><span class="safe-background" ng-show="!staleOpp">Close date currently set to ([[closeDate]]). Would you like to change it?</span></label>
                                                        <div class="clearfix action">
                                                            <!--<button class="btn btn-flat" id="opportunityCloseDateSelector2" ng-mouseover="registerDatePickerId()">SET NEW CLOSE DATE</button>-->
                                                            <!--<button class="btn btn-flat cancel" ng-click="oppCloseLost(deal)">OPPORTUNITY CLOSE LOST</button>-->
                                                        </div>
                                                    </div>
                                                    <div ng-show="showStagOpp">
                                                        <label ng-show="!stagnantStatus"><span class="background">This is a stagnant opportunity. [[stagnantDaysAgo]]</span> Please set a new  stage.</label>
                                                        <label ng-show="stagnantStatus"><span class="safe-background">[[stagnantDaysAgo]].</span> You may set a new  stage.</label>
                                                        <div class="clearfix action">

                                                            <!--<select ng-model="stageUpdated" class="stage-list" ng-change="oppUpdateStage(stageUpdated)">-->
                                                            <!--<option ng-repeat="stage in stages" value=[[stage]]>[[stage]]</option>-->
                                                            <!--</select>-->
                                                        </div>
                                                    </div>
                                                    <div ng-show="showContInt">
                                                        <label ng-show="opp.skewedTwoWayInteractions">
                                                            <span class="background">Response to your interactions with [[contactName]] are below average.</span>
                                                        </label>
                                                        <label ng-show="!opp.skewedTwoWayInteractions">
                                                            <span class="safe-background">You are in touch with [[contactName]].</span>
                                                        </label>
                                                        <!--<label class="bold" ng-show="ifTweetExists">You can do a soft touch via this tweet</label>-->
                                                        <!--<div class="tweet" ng-show="ifTweetExists">-->
                                                        <!--<div ng-bind-html="tweet.tweet"></div>-->
                                                        <!--<ul class="twitter-action-btns list-unstyled">-->
                                                        <!--<li ng-click="reactToTweet(tweet,'','re-tweet')"><i class="fa fa-retweet"></i></li>-->
                                                        <!--&lt;!&ndash;<li ng-click="openReplyToTweetForm(tweet)"><i class="fa fa-reply"></i></li>&ndash;&gt;-->
                                                        <!--<li ng-click="reactToTweet(tweet,'','favorite')"><i class="fa fa-heart"></i></li>-->
                                                        <!--</ul>-->
                                                        <!--</div>-->

                                                        <!--<div ng-show="ifTweetExists" class="bold">OR send a mail to get in touch.</div>-->
                                                        <div ng-show="!ifTweetExists && opp.skewedTwoWayInteractions">Please send a mail to get in touch.</div>
                                                        <!--<div ng-show="!ifTweetExists && !opp.skewedTwoWayInteractions" class="bold">You may send another mail.</div>-->

                                                        <!--<div ng-show="opp.skewedTwoWayInteractions" class="border-form">-->

                                                        <!--<div class="clearfix">-->
                                                        <!--<label class="inline">Subject:</label>-->
                                                        <!--<input ng-model="subjectCi" type="text" class="inline">-->
                                                        <!--</div>-->

                                                        <!--<label>Message</label>-->
                                                        <!--<textarea ng-model="body"></textarea>-->

                                                        <!--<button class="btn btn-primary" data-ng-click="sendEmail(subjectCi,body,'ci')">SEND MAIL</button>-->

                                                        <!--</div>-->
                                                        <!--<div ng-show="!opp.skewedTwoWayInteractions" class="border-form">-->
                                                        <!--<div class="clearfix">-->
                                                        <!--<label class="inline">Subject:</label>-->
                                                        <!--<input ng-model="subjectLt" type="text" class="inline">-->
                                                        <!--</div>-->

                                                        <!--<label>Message</label>-->
                                                        <!--<textarea ng-model="bodyLt"></textarea>-->

                                                        <!--<button class="btn btn-primary" data-ng-click="sendEmail(subjectLt,bodyLt,'ci')">SEND MAIL</button>-->
                                                        <!--</div>-->
                                                    </div>
                                                    <div ng-show="showMetDmInf">

                                                        <div ng-show="opp.decisionMakersExist || opp.influencersExist">
                                                            <label ng-show="!metDecisionMaker_infuencer"><span class="background">You haven't met decision makers or influencers.<br></span>Please schedule a meeting to improve your chances of closing this deal.<br><br></label>
                                                            <label ng-show="metDecisionMaker_infuencer"><span class="safe-background">You have met decision makers/influencers.</span><br></label>

                                                            <!--<div class="border-form">-->
                                                            <!--<div class="clearfix">-->
                                                            <!--<label class="inline">Subject:</label>-->
                                                            <!--<input ng-model="subject" type="text" class="inline">-->
                                                            <!--</div>-->
                                                            <!--<label>Message</label>-->
                                                            <!--<textarea ng-model="body"></textarea>-->
                                                            <!--<button class="btn btn-primary" data-ng-click="sendEmail(subject,body,'meeting')">SEND MAIL</button>-->
                                                            <!--</div>-->
                                                        </div>

                                                        <div ng-show="!opp.decisionMakersExist && !opp.influencersExist && !closeThis">
                                                            <label ng-show="!opp.decisionMakersExist"><span class="background">No decision makers/influencers identified for this opportunity. <br></span></label>
                                                            <div class="clearfix action">
                                                                <!--<button class="btn btn-flat margin0" data-ng-click="showDms = !showDms;closeThis = !closeThis">ADD DECISION MAKERS</button>-->
                                                                <!--<button class="btn btn-flat" data-ng-click="showInfl = !showInfl;closeThis = !closeThis">ADD INFLUENCERS</button>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-show="showIntScr">
                                                        <h4>Coming soon.</h4>
                                                        <!--<label ng-show="!companyIntr"><span class="background">Send an email to reconnect</span> <br></label>-->
                                                        <!--&lt;!&ndash;<label ng-show="companyIntr"><span class="safe-background">Send an email to reconnect</span>. <br><br></label>&ndash;&gt;-->

                                                        <!--<div class="clearfix">-->
                                                        <!--<label class="inline">Subject:</label>-->
                                                        <!--<input ng-model="subject" type="text" class="inline">-->
                                                        <!--</div>-->

                                                        <!--<label>Message</label>-->
                                                        <!--<textarea ng-model="body"></textarea>-->

                                                        <!--<button class="btn btn-primary" data-ng-click="sendEmail(subject,body,'avg')">SEND MAIL</button>-->
                                                    </div>
                                                    <div ng-show="showLt">
                                                        <label ng-show="ltTrue"><span class="background">You are losing touch with opportunity owner.<br></span>Please send an email to reconnect.<br><br></label>
                                                        <label ng-show="!ltTrue"><span class="safe-background">You last interacted with [[contactName]] on [[contactLastInteracted]].
                                                                    You may send another mail.</span><br></label>

                                                        <!--<div ng-show="ltTrue" class="border-form">-->

                                                        <!--<div class="clearfix">-->
                                                        <!--<label class="inline">Subject:</label>-->
                                                        <!--<input ng-model="subject" type="text" class="inline">-->
                                                        <!--</div>-->

                                                        <!--<label>Message</label>-->
                                                        <!--<textarea ng-model="body"></textarea>-->

                                                        <!--<button class="btn btn-primary" data-ng-click="sendEmail(subject,body,'lt')">SEND MAIL</button>-->

                                                        <!--</div>-->

                                                        <!--<div ng-show="!ltTrue" class="border-form">-->

                                                        <!--<div class="clearfix">-->
                                                        <!--<label class="inline">Subject:</label>-->
                                                        <!--<input ng-model="subjectLt" type="text" class="inline">-->
                                                        <!--</div>-->

                                                        <!--<label>Message</label>-->
                                                        <!--<textarea ng-model="bodyLt"></textarea>-->

                                                        <!--<button class="btn btn-primary" data-ng-click="sendEmail(subjectLt,bodyLt,'lt')">SEND MAIL</button>-->

                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer clearfix">
                                            <button class="btn btn-flat pull-right cancel margin-r20" ng-click="closeModal()">CLOSE</button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="deals.length == 0 && !noOppsCreated" class="no-data-suggestions">
                                    <strong>Congratulations.</strong> You do not have any deals at risk at this moment.
                                </div>
                                <div ng-show="deals.length == 0 && noOppsCreated" class="no-data-suggestions">
                                    <div ng-show="noOppsCreated" class="margin-top10">
                                        <p> You do not have any opportunities on Relatas. Lets create your first opportunity.</p>
                                        <button class="btn btn-primary" data-ng-click="openOppBox()">Add opportunity</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/reports/index.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/jszip.js"></script>
<script type="text/javascript" src="/javascripts/common/xlsx.js"></script>
<script type="text/javascript" src="/javascripts/common/FileSaver.js"></script>
<script type="text/javascript" src="/javascripts/reports/d3-sankey.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js" async defer></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/javascripts/markerCluster.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>