<div class="row" id="opportunity-insights" ng-controller="opportunities">

    <p ng-show="portfolioName" style="font-size: 14px;font-weight: bold;text-align: center;">
        <span ng-show="!selection.isHead">Portfolio Summary for [[portfolioName]] ([[selection.fullName]])</span>
        <span ng-show="selection.isHead">Complete Portfolio Summary for [[portfolioName]]</span>
    </p>
    <div class="row margin-tb15 margin-top0 relative">

        <!--<div ng-repeat="item in stageMetaInfo" class="col-sm-2 col-style [[item.cursor]]" data-ng-click="getDetails(item)" ng-show="item.colType != 'Renewal'">-->
        <div ng-repeat="item in stageMetaInfo" class="col-md-2 col-style [[item.cursor]]" data-ng-click="getDetails(item)">

            <div>
                <div style="position: absolute;background: #fff;top: 0;bottom: 0;padding-top: 35px;text-align: center;" ng-show="portfolioName && item.colType == 'Deals At Risk'">
                    Deals at risk available only for Org Hierarchy
                </div>
                <div class="header clearfix">
                    <div class="pull-left">
                        <i class="[[item.colIcon]] [[item.textColor]]"></i>
                    </div>
                    <div class="pull-left">
                        <h5>[[item.colType]]</h5>
                        <p ng-show="item.asOfDate">[[item.rangeType]]</p>
                    </div>
                </div>
                <div class="clearfix" ng-show="!item.allTeamMembers">
                    <div class="pull-left [[item.textColor]] value">
                        <span class="currency">[[item.currency]]</span>
                        [[item.amountValue]] <span class="opp-count">([[item.oppCount]])</span>
                    </div>
                    <!--<div class="pull-left count">-->
                    <!--<p>Opps</p>-->
                    <!--<h5 class="[[item.textColor]]">[[item.oppCount]]</h5>-->
                    <!--</div>-->
                    <div class="target"></div>
                </div>
                <div ng-show="item.allTeamMembers">
                    Deals at risk available for Individual team members
                </div>
            </div>
        </div>
    </div>
    <div class="opps-filter clearfix">
        <div class="bold pull-left">
            Opportunities
            <span class="lite fs-10" style="display: block;">([[rangeType]])</span>
            <!--<span ng-show="dateRange.show">([[dateRange.text]])</span>-->
        </div>
        <div class="pull-left clearfix applied-filters">
            <div class="pull-left" ng-repeat="item in filtersApplied" data-ng-click="removeFilter(item)">
                <div class="filter" ng-show="item.type == 'userEmailId' && item.displayName">[[item.displayName]] <span>x</span></div>
                <div class="filter" ng-show="item.type != 'userEmailId'">[[item.name]] <span>x</span></div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-white" data-ng-click="downloadFilteredOpps()">Download</a>
            <!--<a class="btn btn-white" href="/reports/download/opportunities" target="_blank">Download</a>-->
            <!--<div excel-export export-data="exportData" file-name="[[fileName]]"></div>-->
        </div>

    </div>
    <div class="table-responsive opps-table header-fixed">

        <div class="relative">
            <div ng-show="opps.length == 0" style="text-align: center;position: absolute;bottom: -125px;left: 0;right: 0;font-size: 14px;">
                No opportunities found. <a href="/opportunities/all" class="green-color">Click here</a> to create create opportunities.
            </div>
        </div>
        <table class="table" id="table-1">
            <thead>
                <tr>
                    <th ng-repeat="item in headers" style="[[item.styleWidth]]" class="[[item.cursor]] [[item.align]]" data-ng-click="openFilterDropDown(item);sortTableByNumbers(item)">
                        [[item.name]]
                        <span ng-show="item.cursor != ''"><i class="fas fa-caret-down"></i></span>
                        <span class="cursor" ng-show="item.type == 'amount' || item.type == 'netGrossMargin' || item.type == 'convertedAmt' || item.type == 'convertedAmtWithNgm'">
                            <i class="fas fa-sort-down" ng-show="!sortReverse"></i>
                            <i class="fas fa-sort-up" ng-show="sortReverse"></i>
                        </span>
                        <div ng-show="item.open && item.filterReq" class="drop-down">

                            <div class="header clearfix">
                                <div></div>
                            </div>

                            <div ng-show="item.type == 'closeDate'">

                                <div class="helper clearfix">
                                    <div class="sort">
                                        <span class="cursor" data-ng-click="sortTable(item)">
                                            Sort
                                            <i class="fas fa-sort-down" ng-show="!sortReverse"></i>
                                            <i class="fas fa-sort-up" ng-show="sortReverse"></i>
                                        </span>
                                    </div>
                                </div>

                                <label>From</label><br>
                                <select ng-model="start.month">
                                    <option ng-repeat="month in months" value="[[month.val]]">[[month.name]]</option>
                                </select>
                                <select ng-model="start.year">
                                    <option ng-repeat="year in years" value="[[year.val]]">[[year.name]]</option>
                                </select>
                                <hr class="margin0">

                                <label>To</label><br>
                                <select ng-model="end.month">
                                    <option ng-repeat="month in months" value="[[month.val]]">[[month.name]]</option>
                                </select>
                                <select ng-model="end.year">
                                    <option ng-repeat="year in years" value="[[year.val]]">[[year.name]]</option>
                                </select>
                            </div>

                            <div ng-show="item.type != 'closeDate'">
                                <div class="helper clearfix">
                                    <div class="sort">
                                        <span class="cursor" data-ng-click="sortTable(item)">
                                            Sort
                                            <i class="fas fa-sort-down" ng-show="!sortReverse"></i>
                                            <i class="fas fa-sort-up" ng-show="sortReverse"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <p class="margin0">Filter by</p>
                                        <input ng-model="item.itemSelection" placeholder="Search for [[item.name]]">
                                    </div>
                                </div>
                                <ul class="list-unstyled">
                                    <li><input ng-model="item.selectingAll" ng-change="selectAll(item)" type="checkbox"> Select all</li>
                                    <li ng-repeat="el in item.values|filter:item.itemSelection|orderBy:'displayName'">
                                        <input ng-model="el.selected" ng-change="selectFilter(item.type,el,item)" type="checkbox">
                                        <span ng-show="item.type == 'userEmailId'">
                                            [[el.displayName]]
                                        </span>
                                        <span ng-show="item.type != 'userEmailId'">
                                            [[el.name]]
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer">
                                <button class="btn btn-green" data-ng-click="applyFilters(item,null,$index)">Apply Filter</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody ng-show="loadingMetaData" class="no-border">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                    </td>
                    <td>
                        <div class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                    </td>
                    <td>
                        <div class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody ng-show="!loadingMetaData">
            <!--<tr ng-repeat="op in opps|orderBy:sortType:sortReverse">-->
                <!--<td ng-repeat="(key, value) in op" ng-show="key != '_id'">-->
                    <!--[[value]]-->
                <!--</td>-->
            <!--</tr>-->
                <tr ng-repeat="op in opps|orderBy:sortType:sortReverse">
                    <td class="cursor highlight" title="View opportunity details" data-ng-click="goToOpp(op)">[[op.opportunityName]]</td>
                    <td class="text-right">[[op.convertedAmtWithNgm]]</td>
                    <td class="[[op.stageColor]]">[[op.stageName]]</td>
                    <td style="[[cellWidth.closeDate]]">[[op.closeDateFormatted]]</td>
                    <td style="[[cellWidth.account]]">[[op.account]]</td>
                    <td title="[[op.contactEmailId]]">[[op.contactEmailId]]</td>
                    <td>[[op.productType]]</td>
                    <td style="[[cellWidth.type]]" title="[[op.type]]">[[op.type]]</td>
                    <td>[[op.geoLocation.zone]]</td>
                    <td style="[[cellWidth.currency]]">[[op.currency]]</td>
                    <td style="[[cellWidth.amount]]"class="text-right">[[op.amountFormatted]]</td>
                    <td style="[[cellWidth.margin]]" class="text-right">[[op.netGrossMargin]]</td>
                    <td style="[[cellWidth.amount]]" class="text-right">[[op.amountWithNgm]]</td>
                    <td title="[[op.userEmailId]]">[[op.owner.fullName]]</td>
                    <td>[[op.businessUnit]]</td>
                    <td>[[op.vertical]]</td>
                    <td>[[op.solution]]</td>
                    <td>[[op.partnersList]]</td>
                    <td>[[op.closeReasonsString]]</td>
                    <td>[[op.closeReasonDescription]]</td>
                    <td ng-repeat="el in op.masterDataFormat">
                        [[el.value]]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div ng-show="oppTabView" ng-include="'/reports/opportunities/edit/popup'"></div>-->
