<div class="reports">
    <div class="commit" ng-controller="commit">
        <!--<div class="commit">-->
        <div class="opp-inisghts-wrapper" ng-show="showOppInsights || teamTask">
            <div class="opp-insights team-task" ng-show="teamTask">
                <div data-ng-include="'/opportunities/tasks'"></div>
            </div>
            <div class="opp-insights" ng-show="showOppInsights">
                <div class="basic-details">
                    <h5>[[opp.opportunityName]]</h5>
                    <p>[[opp.member.fullName]]</p>
                    <p>Created Date: [[opp.createdDateFormatted]]</p>
                    <div class="cursor close-btn" ng-click="closeOppInsightsModal()" style="padding:0 5px;border-radius:2px;position: absolute;
    right: 10px;
    top: 10px;">Close</div>
                </div>
                <div>
                    <div class="row headers">
                        <table style="width: 100%;">
                            <tr>
                                <td class="cursor [[basicSelected]]" data-ng-click="openView('basic')">Basic</td>
                                <td class="cursor [[insightsSelected]]" data-ng-click="openView('insights')">Insights</td>
                                <td class="cursor [[internalTeamSelected]]" data-ng-click="openView('internalTeam')">team</td>
                                <td class="cursor [[tasksSelected]]" data-ng-click="openView('tasks')">Tasks</td>
                                <td class="cursor [[notesSelected]]" data-ng-click="openView('notes')">Notes</td>
                                <!--<td class="cursor" data-ng-click="openView('activitylog')">log</td>-->
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="button-wrapper" ng-show="showOppInsights && viewModeFor != 'insights' && viewModeFor != 'tasks' && viewModeFor != 'notes' && !opp.isNotOwner">
                    <button class="btn btn-green" data-ng-click="saveOpp()">Save</button>
                </div>

                <div ng-show="viewModeFor == 'internalTeam'" class="int-team">
                    <div data-ng-include="'/opportunities/team'"></div>
                </div>
                <!--<div ng-show="viewModeFor == 'activitylog'">-->
                <!--<div data-ng-include="'/opportunities/activity'"></div>-->
                <!--</div>-->
                <div ng-show="viewModeFor == 'notes'">
                    <div data-ng-include="'/opportunities/notes'"></div>
                </div>

                <div ng-show="viewModeFor == 'tasks'">
                    <div data-ng-include="'/opportunities/tasks'"></div>
                </div>

                <div ng-show="viewModeFor == 'basic'" class="reset-basic">
                    <div data-ng-include="'/opportunities/basic'"></div>
                </div>

                <div ng-show="viewModeFor == 'close details'" class="close-details">
                    <div data-ng-include="'/opportunities/close'"></div>
                </div>

                <div ng-show="viewModeFor == 'insights'">

                    <div class="insights">
                        <ul class="list-unstyled">
                            <li class="clearfix" ng-repeat="item in insights">
                                <div class="pull-left"><span class="[[item.riskClass]]"></span></div>
                                <div class="pull-left">[[item.text]]</div>
                            </li>
                        </ul>
                    </div>

                    <div class="row blue">
                        <div class="col-md-4">
                            <span ng-style="opp.daysClosureStyle">[[opp.daysToClosure]]</span><br>
                            Days to Closure
                        </div>
                        <div class="col-md-4">
                            <span>[[opp.amountWithCommas]]</span><br>
                            Amount
                        </div>
                        <div class="col-md-4">
                            <span>[[interactionsCount]]</span><br>
                            Interactions
                        </div>
                    </div>
                    <div class="int-summary">

                        <h5>Interactions summary</h5>

                        <div class="summary-graph">
                            <div class="int-growth"></div>
                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>US</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>THEM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent">
                        <h5>Recent summary</h5>
                        <table>
                            <tr ng-repeat="item in interactions" style="margin-bottom: 10px;">
                                <td style="max-width: 205px;width: 205px;padding-right:15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">[[item.title]]</td>
                                <td>
                                    <div class="team-profiles clearfix reset"  title="[[item.member.fullName]], [[item.member.emailId]]">
                                        <span ng-if="item.member.noPicFlag">[[item.member.nameNoImg]]</span>
                                    </div>
                                </td>
                                <td>[[item.interactionDateFormatted]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>