<div ng-controller="regions">

    <div class="clearfix opps-contacts-filter">
        <label>
            <input type="radio" ng-model="viewFor" value="opps" ng-click="getDataFor('opps')">
            Opportunities
        </label>
        <label>
            <input type="radio" ng-model="viewFor" value="contacts" ng-click="getDataFor('contacts')">
            Contacts
        </label>
    </div>

    <div class="regions-filter clearfix" ng-show="viewFor == 'contacts'">
        <div class="inline-block">
            <select ng-model="contact.type" class="stage-list" ng-change="getContactsForType(contact.type)">
                <option ng-repeat="type in contactTypes" ng-selected="contact.type == type" value=[[type]]>[[type]]</option>
            </select>
        </div>
        <div class="inline-block search-for-loc">
            <input type="text" ng-model="location" placeholder="Search for location..." ng-change="searchForLocations(location)">
            <ul class="list-unstyled wrapper-loc" ng-show="displayLocations">
                <li ng-repeat="loc in locations | filter:location" data-ng-click="loadThisLocation(loc)">[[loc.name]]</li>
            </ul>
        </div>
    </div>

    <h5 style="position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 300px;
    z-index: 9999;
    font-weight: bold;" ng-show="oppsWithLoc.length==0 && viewFor == 'contacts'">The contacts have not been updated with their locations. Please update the same for your contacts</h5>
    <h5 style="position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 300px;
    z-index: 9999;
    font-weight: bold;" ng-show="oppsWithLoc.length==0 && viewFor == 'opps'">No opportunities found.</h5>
    <div class="regions-filter clearfix" ng-show="viewFor == 'opps'">

        <div class="pull-left">
            <label>Opportunity Stage</label>
            <select ng-model="opp.stage" class="stage-list">
                <option ng-repeat="stage in stagesSelection" ng-selected="opp.stage == stage" value=[[stage]]>[[stage]]</option>
            </select>
        </div>
            <div class="pull-left">
                <label>From Date</label>
            <input type="text" id="regStartDate" ng-model="regStartDate" placeholder="Close from date" ng-mouseover="registerDatePickerId('regStartDate')">
        </div>
        <div class="pull-left">
            <label>To Date</label>
            <input type="text" id="regEndDate" ng-model="regEndDate" placeholder="Close from date" ng-mouseover="registerDatePickerId('regEndDate')">
        </div>
        <div class="pull-left">
            <button class="btn bg-green" data-ng-click="applyFilter()">GO</button>
        </div>
    </div>

    <div class="regionMapLegends clearfix" ng-show="viewFor == 'opps'">
        <div class="inline-block"><div class="sq Won pull-left"></div><div class="pull-left">Won</div></div>
        <div class="inline-block"><div class="sq Lost pull-left"></div><div class="pull-left">Lost</div></div>
        <div class="inline-block"><div class="sq Pipeline pull-left"></div><div class="pull-left">Pipeline</div></div>
    </div>
    <div id="mapWrapper"></div>

    <div class="loading-contacts" style="margin: auto;
    margin-top: 105px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: center;
    background: #fff;
    height: 100%;
    padding-top: 100px;
    bottom: 0;" ng-show="loadingMap">
        <span><i></i></span><span><i></i></span><span><i></i></span>
    </div>
    <div class="table-responsive opps-at-loc opps-table">
        <div class="loading-contacts" ng-show="loadingOpps">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>

        <div class="clearfix">
            <h5 class="bold pull-left" ng-show="tbRows.length>0">
                [[viewingLocation]]
                (
                <span ng-show="viewFor == 'opps'">[[tbRows.length]] opportunities</span>
                <span ng-show="viewFor == 'contacts'">[[tbRows.length]] contacts</span>
                )
            </h5>
            <div class="pull-right cursor" ng-show="oppsWithNoLoc.length>0 && viewFor == 'opps'" data-ng-click="loadNoLocData()">
                Opps with no location set: [[oppsWithNoLoc.length]]
            </div>
            <div class="pull-right cursor" ng-show="oppsWithNoLoc.length>0 && viewFor == 'contacts'" data-ng-click="loadNoLocData()">
                Contacts with no location set: [[oppsWithNoLoc.length]]
            </div>
        </div>
        <table class="table" ng-show="tbRows.length>0">
            <tr>
                <th ng-repeat="th in tbHeaders">
                    <div class="cursor" ng-show="th != 'Currency'" data-ng-click="sortTable(th)">
                        [[th]]
                        <i class="fas fa-sort-down" ng-show="!sortReverse"></i>
                        <i class="fas fa-sort-up" ng-show="sortReverse"></i>
                    </div>
                    <div ng-show="th == 'Currency'">
                        [[th]]
                    </div>
                </th>
            </tr>
            <tr ng-repeat="tr in tbRows|orderBy:sortType:sortReverse" class="cursor" ng-show="viewFor == 'contacts'" data-ng-click="goToContact(tr)">
                <td>
                    [[tr.personEmailId]]
                </td>
                <td>
                    [[tr.designation]]
                </td>
                <td>
                    [[tr.account]]
                </td>
                <td class="text-capitalize">
                    [[tr.contactRelation.prospect_customer]]
                </td>
                <td class="text-right">
                    [[tr.amount]]
                </td>
                <td>
                    [[tr.ownerEmailId]]
                </td>
                <!--<td class="[[tr.highlightContact]]">-->
                    <!--[[tr.lastInteractedDateFormatted]]-->
                <!--</td>-->
            </tr>

            <tr ng-repeat="tr in tbRows|orderBy:sortType:sortReverse" ng-show="viewFor == 'opps'">
                <td class="cursor" style="background: #eee;" data-ng-click="goToOpp(tr)">
                    [[tr.opportunityName]]
                </td>
                <td>
                    [[tr.account]]
                </td>
                <td class="[[tr.stageColor]]">
                    [[tr.relatasStage]]
                </td>
                <td>
                    [[tr.currency]]
                </td>
                <td class="text-right">
                    [[tr.amount]]
                </td>
                <td>
                    [[tr.userEmailId]]
                </td>
                <td>
                    [[tr.contactEmailId]]
                </td>
            </tr>
        </table>
    </div>

</div>
