
<div data-ng-controller="notificationsController">

    <i class="fa fa-bell-o notifications-header-bell" ng-click="showNotifications($event)"></i>
    <span class="notifications-number" ng-if="!notificationsSeen">[[totalNotifications]]</span>
    <div class="notifications-dropdown" ng-if="openNotifications">

        <h4>Notifications</h4>
        <a href="/insights/losing/touch/details" class="clearfix">
            <span class='pull-right underline action-card-links-xs'>[[losingTouch]]</span>
            <span class='pull-left'>Losing Touch with contacts </span>
        </a>
        <a href="/people/to/connect" class="clearfix">
            <span class='pull-right underline action-card-links-xs'>[[rtcCount]]</span>
            <span class='pull-left'>Remind To Connect </span>
        </a>
        <a href="/insights/revenue/risk/details" class="clearfix">
            <span class='pull-right underline action-card-links-xs'>[[revenueAtRisk]]</span>
            <span class='pull-left'>Revenue at Risk % </span>
        </a>
    </div>
</div>