<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin | Document Templates</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">

    <style >
        .pointer {cursor: pointer;}
    </style>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type='text/javascript' src="/directives/angular-drag-and-drop-lists.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/javascripts/documents/corporateAdmin/corporateDeleteDocumentTemplates.js"></script>
    <style>[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}</style>
</head>
<body ng-cloak>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container" data-ng-controller="deleteDocumentTemplates">
        <div class="mainNav ng-scope" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Document Templates</a></li>
        </ul>
        <div class="left-panel">
            <ul class="list-unstyled">
                <li ng-repeat="item in menu" class="[[item.selected]]" data-ng-click="selectMenu(item)">[[item.name]]</li>
            </ul>
        </div>
        <div class="right-panel">
            <div ng-show="currentSelection == 'Delete'">

                <div class="clearfix add-section">
                    <div class="pull-right" ng-show="documentTemplateList.length>0">
                        <button class="delete" data-ng-click="deleteDocumentTemplates()">Delete selected document Templates</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th class="pointer"> Template Type </th>
                        <th class="pointer"> Template Name </th>
                        <th class="pointer"> Created Date </th>
                        <th class="pointer"> Used By </th>
                        <th><input data-ng-click="toggleSelectionDocumentTemplates()" ng-model="selectAll" type="checkbox"> Select all </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div ng-show="loadingDocuments" class="loading-bars">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="el in documentTemplateList | orderBy:tableHeaderName:reverse">
                        <td>[[el.documentTemplateType]]</td>
                        <td>[[el.documentTemplateName]]</td>
                        <td>[[el.createdDate | date: 'dd MMM yyyy']]</td>
                        <td>[[el.numberOfDocumentsCreated]]</td>
                        <td><input ng-model="el.select" type="checkbox"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>