<div id="document-template" class="container-fluid" ng-show="templateId">
    <div class="row" style="background: #ecedec;">
        <div class="left-pane">
            <div class="col-md-9 text-center" ng-class="toggleGrid ? 'grid' : ''" id="main-content">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">
                        <div class="container-fluid" id="dropZone">
                            <ul class="row sortable-formbuilder" element-drop ng-model="formFields" id="sortable-formbuilder-ul">
    
                                <li class="drag" ng-repeat="field in formFields track by $index" element-drop data-index="[[$index]]" id="[[field.id]]" ng-switch on="field.Type"
                                ng-class="[injectStyles(field), applyPadding(field)]" ng-click="formulaMode? activeFieldForFormula(field, $index, $event) : activeField(field)"
                                style=[[field.Style]]>
                                <!-- ng-class="[getElementWidth(field), injectStyles(field), applyPadding(field)]" ng-click="formulaMode? activeFieldForFormula(field, $index, $event) : activeField(field)" -->
    
                                    <div id="div-[[field.id]]" class="resize-handle field-action-btn-parent" ng-switch-when="text" ng-class="field.Active ? 'active-field' : ''" style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" class="input-as-label focus-input" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory') ? '*': '')]]"
                                                ng-change="changeFieldSetting(field.Name,'Field Label')" /> -->
                                        <p id="label-[[field.id]]" class="input-as-label">[[field.Name]]</p>
                                        <div class="doc-input-wrapper">
                                            <input id="input-[[field.id]]" ng-disabled="!getFieldSetting(field, 'Add default value in Document').Value" type="text" class="focus-input"
                                                ng-model="field.Value" value="[[field.Value]]" placeholder="[[getFieldSetting(field, 'Placeholder').Value]]">
                                            <div class="field-id-wrapper">
                                                <div ng-show="formulaMode" class="doc-field-id">f[[field.id]]</div>
                                                <div ng-show="field.masterDataGroupIndicator" class="master-data-group-indicator"></div>
                                            </div>
                                        </div>
                                        <div ng-hide="formulaMode" class="field-action-btn">
                                            <!-- <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i> -->
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
    
                                    </div>
    
                                    <div id="div-[[field.id]]" class="resize-handle field-action-btn-parent" ng-hide="formulaMode" ng-switch-when="date" ng-class="field.Active ? 'active-field' : ''" style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" class="input-as-label focus-input" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]"
                                                ng-change="changeFieldSetting(field.Name,'Field Label')" /> -->
                                        <p id="label-[[field.id]]" class="input-as-label">[[field.Name]]</p>
                                        <div class="doc-input-wrapper" ng-mouseover="registerDatePickerId(field)">
                                            <input ng-disabled="!getFieldSetting(field, 'Add default value in Document').Value" type="text" id="input-[[field.id]]" onkeydown="return false"
                                            ng-model="field.Value" class="focus-input">
                                        </div>
                                        <div class="field-action-btn">
                                            <!-- <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i> -->
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                    </div>
    
                                    <div id="div-[[field.id]]" class="resize field-action-btn-parent" ng-switch-when="textarea" ng-class="field.Active ? 'active-field' : '' " style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" class="input-as-label focus-input" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]"
                                            ng-change="changeFieldSetting(field.Name,'Field Label')" /> -->
                                        <!-- <p id="label-[[field.id]]" class="input-as-label">[[field.Name]]</p> -->
                                        <div class="doc-input-wrapper match-parent">
                                            <textarea id="input-[[field.id]]" ng-disabled="!getFieldSetting(field, 'Add default value in Document').Value" class="focus-input" rows="4"
                                                ng-model="field.Value" placeholder="[[getFieldSetting(field, 'Placeholder').Value]]"></textarea>
                                            <div class="field-id-wrapper">
                                                <div ng-show="formulaMode" class="doc-field-id">f[[field.id]]</div>
                                                <div ng-show="field.masterDataGroupIndicator" class="master-data-group-indicator"></div>
                                            </div>
                                        </div>
                                        <div ng-hide="formulaMode" class="field-action-btn">
                                            <!-- <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i> -->
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                    </div>
    
                                    <div id="div-[[field.id]]" class="resize-handle field-action-btn-parent" ng-hide="formulaMode" ng-switch-when="image" ng-class="field.Active ? 'active-field' : '' " style=[[field.DivStyle]]>
                                        <div class="company-image">
                                            <div class="show-company-image">
                                                <img class="img-responsive image-[[field.id]]" ng-src="[[getFieldSetting(field, 'Absolute_Path').Value]]" alt="company picture"/>
                                            </div>
                                            <!-- <div class="edit-company-image hide-msg">
                                                <label for="select-pic-[[field.id]]">Change Image</label>
                                                <div ng-show="field.Error.length > 0">
                                                    <p>[[field.Error]]</p>
                                                </div>
                                            </div> -->
                                            <input id="select-pic-[[field.id]]" type="file" image-upload filepreview="field" style="display: none;" />
                                        </div>
    
                                        <div class="field-action-btn">
                                            <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                    </div>
    
                                    <div id="div-[[field.id]]" class="table resize-handle field-action-btn-parent" ng-switch-when="table" style=[[field.DivStyle]]>
                                        <table id="table-[[field.id]]" class="bordered cellpadding-0 cellspacing-0">
                                            <thead>
                                                <tr>
                                                    <th id="table-th-[[field.id]][[$index]]" class="table-th-[[field.id]] resize field-action-btn-parent" ng-repeat="column in field.Columns" ng-class="field.Columns[$index].Active ? 'active-field-column' : '' " ng-mouseover="selectColumn(field, $index, $event)"
                                                        ng-click="formulaMode? activeFieldForFormula(column, $index, $event) : getColumnIndex(field, $index, $event)" style="[[column.ThStyle]]">
                                                        <div class="doc-input-wrapper">
                                                            <span ng-if="getFieldSetting(field.Columns[$index], 'Mandatory').Value" class="orange-txt">*</span>
                                                            [[column.Name]]
                                                            <div class="field-id-wrapper" >
                                                                <div ng-show="formulaMode" class="doc-field-id">f[[field.Columns[$index].id]]</div>
                                                                <div ng-show="field.Columns[$index].masterDataGroupIndicator" class="master-data-group-indicator"></div>
                                                            </div>
                                                        </div>
    
                                                        <div ng-hide="formulaMode" class="field-action-btn for-column">
                                                            <!-- <i class="fa fa-pencil edit-ico" ng-click="getColumnIndex(field, $index, $event)" aria-hidden="true"></i> -->
                                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : deleteColumn()"></i>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(rowIndex, row) in field.Rows">
                                                    <!-- <td ng-repeat="(colIndex, rowCellData) in row track by $index" ng-click="getColumnIndex(field, colIndex, $event)">
                                                        <div id="table-td-[[field.id]][[colIndex]]" class="div-table resize" style=[[field.Columns[$index].TrStyle]]>
                                                            <textarea class="div-textarea input-table-[[field.id]][[colIndex]] focus-input" ng-disabled="!getFieldSetting(field.Columns[colIndex], 'Add default value in Document').Value" 
                                                                ng-model="field.Columns[colIndex].Value" value="[[field.Columns[colIndex].Value]]"></textarea>
                                                        </div>
                                                    </td> -->
    
                                                    <td id="table-td-[[field.id]][[colIndex]]" class="resize" ng-repeat="(colIndex, rowCellData) in row track by $index" ng-click="formulaMode? activeFieldForFormula(field.Columns[colIndex], colIndex, $event) : getColumnIndex(field, colIndex, $event)" style=[[field.Columns[$index].TrStyle]]>
                                                        <textarea class="div-textarea input-table-[[field.id]][[colIndex]] focus-input" ng-disabled="!getFieldSetting(field.Columns[colIndex], 'Add default value in Document').Value" 
                                                                ng-model="field.Columns[colIndex].Value" value="[[field.Columns[colIndex].Value]]"></textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="field-action-btn">
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-lg fa-plus-square-o" title="Add table column" ng-click="addColumnForTable(field, $event)"></i>
                                            <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                    </div>
    
                                    <!-- <div id="div-[[field.id]]" class="resize-handle field-action-btn-parent" ng-hide="formulaMode " ng-switch-when="header" ng-class="field.Active ? 'active-field' : '' " style=[[field.DivStyle]]> -->
                                    <div id="div-[[field.id]]" class="resize-handle field-action-btn-parent" ng-hide="formulaMode " ng-switch-when="header" ng-class="field.Active ? 'active-field' : '' " style=[[field.DivStyle]]>
                                        <p id='header-[[field.id]]' style="margin:0px" ng-class="getFontWeight(field)">[[getFieldSetting(field, 'Field Label').Value]]</p>
                                        <div class="field-action-btn">
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                        <!-- <div class="input-text-error ng-binding" ng-if="field.Name === ''">[[field.Error]]</div> -->
                                    </div>
    
                                    <div id="div-[[field.id]]" class="resize divider field-action-btn-parent" ng-hide="formulaMode" ng-switch-when="divider" ng-class="field.Active ? 'active-field' : '' " style=[[field.DivStyle]]>
                                        <div id="input-[[field.id]]" class="document-field-divider"></div>
                                        <div class="field-action-btn">
                                            <i class="fa fa-files-o copy-ico" title="Copy" ng-click="formulaMode ? '' : copyElement(field)"></i>
                                            <i class="fa fa-pencil edit-ico" ng-click="activeField(field)" aria-hidden="true"></i>
                                            <i class="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)"></i>
                                        </div>
                                    </div>
    
                                    <div ng-switch-default>
                                    </div>
                                </li>
    
                                <li class="drop-to-add col-md-12" element-drop>
    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-pane">
            <div class="col-md-2" id="sideBar">
                <div class="tab-container text-center">
                    <ul class="neo-nav clearfix" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#addFieldTab" id="addFieldTab_lnk" aria-controls="home" role="tab" data-toggle="tab">Add a Field</a>
                        </li>
                        <li role="presentation">
                            <a href="#fieldSettingTab" id="fieldSettingTab_lnk" aria-controls="profile" role="tab" data-toggle="tab">Field Settings</a>
                        </li>
                    </ul>
                </div>
    
                <div class="tab-content" id="sidebar-tab-content">
                    <div role="tabpanel" class="tab-pane active" id="addFieldTab">
                        <div id="stdFields">
                            <ul ng-model="dragElements" class="sortable-stdFields">
                                <li draggable="true" class="dragElement-wrapper" ng-repeat="ele in dragElements" element-draggable data-index="[[$index]]">
                                    <div class="drag-element" ng-click="addElement(ele)">
                                        <i class="[[ele.Icon]]"></i> [[ele.Name]]
                                    </div>
                                </li>
                            </ul>
                        </div>
    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="fieldSettingTab">
                        <div ng-repeat="set in current_field.Settings" ng-switch on="set.Type">
                            <div>
                                <div class="form-group " ng-switch-when="text" ng-show="set.Visibility == undefined || set.Visibility ? true : false" >
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <input ng-change="changeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value" class="form-control" value="[[set.Value]]">
                                </div> 
                                
                                <div class="form-group " ng-switch-when="number">
                                    <label>[[set.Name]]</label>
                                    <input type="number" ng-model="set.Value" class="form-control" value="[[set.Value]]">
                                </div>
    
                                <div class="form-group " ng-switch-when="color">
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <input class="form-control docTemplateColorPicker" type="text" spellcheck="false" ng-model="set.Value" value="[[set.Value]]" style="background:[[set.Value]]" data-val="[[set.Name]]">
                                    <!-- <input class="form-control docTemplateColorPicker" type="color" ng-model="set.Value" value="[[set.Value]]" style="background:[[set.Value]]"> -->
                                </div>  
    
                                <div class="form-group " ng-switch-when="formula" ng-show="set.Visibility">
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <input id=[[current_field.id]]-formula ng-keyup="formulaBlur($event, current_field)" type="text" ng-model="set.Value" ng-focus="formulaFocus()"
                                        class="form-control" value="[[set.Value]]" ng-blur="formulaUnFocus()" placeholder="[[set.Name]]">
                                    <div class="input-text-error ng-binding" ng-show="formulaMode">Supported operations: + - * % ()</div>
                                </div>
    
                                <div class="form-group " ng-switch-when="image">
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <div id="company-pic-wrapper">
                                        <img class="company-image image-[[current_field.id]]" ng-src="[[getFieldSetting(current_field, 'Absolute_Path').Value]]">
                                        <div class="edit-company-image">
                                            <div ng-show="current_field.Error.length > 0">
                                                <p>[[current_field.Error]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group " ng-switch-when="button" ng-click="uploadImage(current_field.id)">
                                    <button class="btn btn-white download-btn">
                                        <i class="fa fa-upload"></i>
                                        Upload
                                    </button>
                                </div>
    
                                <div class="form-group " ng-switch-when="system_generated" ng-show="set.Visibility">
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <input ng-change="changeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value" class="form-control" value="[[set.Value]]">
                                </div>
    
                                <div class="form-group " ng-switch-when="system_generated" ng-show="set.Visibility">
                                    <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                    <input ng-change="changeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value" class="form-control" value="[[set.Value]]">
                                </div>
    
                                <div class="form-group" ng-switch-when="string">
                                    <label>[[set.Name]]</label>
                                    <br>
                                    <span>[[set.Value]]</span>
                                </div>
    
                                <div class="form-group" ng-switch-when="label">
                                    <label class="pale">[[set.Name]]</label>
                                </div>
    
                                <!-- <div class="form-group " ng-switch-when="dropdown"> -->
                                <div class="form-group " ng-switch-when="dropdown" ng-show="checkVisibility(set, current_field.Settings)">
                                    <label>[[set.Name]]</label>
                                    <select class="form-control" ng-model="set.Value">
                                        <option ng-repeat="op in set.PossibleValue">[[op]]</option>
                                    </select>
                                </div>
    
                                <div class="form-group " ng-switch-when="dropdown_reference" ng-show="set.Visibility">
                                    <label>[[set.Name]]</label>
                                    <!-- <select class="form-control" ng-model="set.Value" ng-click="setReferencedTemplateType(set)"> -->
                                    <select class="form-control" ng-model="set.Value" ng-change="setReferencedTemplateType(set)">
                                        <option ng-repeat="op in set.PossibleValue">[[op]]</option>
                                    </select>
                                </div>
    
                                <div class="form-group" ng-switch-when="radio">
                                    <div ng-repeat="val in set.PossibleValue" class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="[[val.Checked]]" ng-checked="val.Checked"> [[val.Text]]
                                        </label>
                                    </div>
                                </div>
    
                                <div class="form-group" ng-switch-when="dropdown_increment">
                                    <label class="control-label">
                                        Choices
                                    </label>
                                    <div ng-repeat="val in set.PossibleValue" class="radio" class="form-control">
                                        <i class="fa fa-sort fa-lg">
    
                                        </i>
                                        &nbsp;
                                        <i class="fa fa-circle-o fa-lg">
    
                                        </i>
                                        <input type="text" value="val.Text" ng-model="val.Text">
                                    </div>
    
                                </div>
    
                                <div ng-switch-when="checkBoxZone">
                                    <a role="button" data-toggle="collapse" href="#chkBoxZone">
                                        <i class="fa fa-lg fa-plus-square-o"></i>
                                        <i class="fa fa-lg fa-minus-square-o"></i> [[set.Name]]
                                    </a>
                                    <div class="collapse in" id="chkBoxZone">
                                        <div class="form-group" ng-repeat="op in set.Options">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="[[op.Value]]" ng-model="op.Value"> [[op.Name]]
                                            </label>
                                        </div>
    
                                    </div>
                                </div>
                                <p ng-switch-default>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
