<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Admin Template Creation | Relatas</title>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/documentTemplateStyle.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link href="/stylesheets/color-picker.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>
<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper document-template-wrapper" data-ng-controller="documentTemplateHeader">
            <div class="col-md-12 main">
                <ul ng-show="!documentTemplate" class="breadcrumb">
                    <li><a href="/corporate/admin/">Admin View</a></li>
                    <li><a href="#" class="your-are-here">Create Document Template</a></li>
                </ul>
                <div class="horizontal-menu-top clearfix">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12" ng-show="true">
                                <div class="row clearfix">
                                    <div class="col-md-9">
                                        <div ng-show="documentTemplate">
                                            <form class="form-inline" ng-init="showVersionButton = true" role="form">
                                                <div class="form-group">
                                                    <label for="documentTemplateType">Template Type</label>
                                                    <input type="text" ng-disabled="templateId" class="form-control" id="documentTemplateType" ng-model="docTemplateType" data-ng-click="getDocumentTemplateTypes()">
                                                </div>
                                                <div class="form-group">
                                                        <label for="documentTemplateName">Template Name</label>
                                                    <input type="text" ng-disabled="templateId" class="form-control" id="documentTemplateName" ng-model="docTemplateName">
                                                </div>
                                                <div class="form-group" ng-init="toggleGrid=true" ng-show="templateId">
                                                    <label>
                                                        <input type="checkbox" checked value="[[toggleGrid]]" ng-model="toggleGrid" ng-checked="enableGrid(toggleGrid)">
                                                            Show Grid
                                                    </label>
                                                </div>
                                                <div class="form-group" ng-init="isTemplateVersionControlled=true" ng-show="templateId">
                                                    <label>
                                                        <input type="checkbox" value="[[isTemplateVersionControlled]]" ng-model="isTemplateVersionControlled">
                                                        Version Controlled
                                                    </label>
                                                </div>
                                                <div class="form-group" ng-init="isDefaultTemplate=false" ng-show="templateId">
                                                    <label>
                                                        <input type="checkbox" value="[[isDefaultTemplate]]" ng-model="isDefaultTemplate">
                                                        Set Default
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-3 clearfix" style="padding-right:15px; padding-left: 0px;">
                                        <div class="margin-btn clearfix">
                                            <div ng-show="!documentTemplate">
                                                <button class="btn btn-primary pull-right" data-ng-click="openNewTemplate()"> New Template</button>
                                            </div>
                                            <div ng-show="documentTemplate">
                                                <button ng-disabled="savingTemplate" class="btn btn-primary pull-right" data-ng-click="templateId ? saveDocTemplate() : createTemplate()">
                                                    <span ng-show="!savingTemplate">SAVE </span>
                                                    <span ng-show="savingTemplate" class="ng-hide">SAVE</span>
                                                </button>
                                                <button class="btn btn-white close-btn pull-right" data-ng-click="closedocTemplate()">Close</button>
                                                <button class="btn btn-white close-btn pull-right" ng-show="isDocTemplateDeactivated && templateId" data-ng-click="activateDocTemplate()"> Activate </button>
                                                <button class="btn btn-white close-btn pull-right" ng-show="!isDocTemplateDeactivated && templateId" data-ng-click="deactivateDocTemplate()"> Deactivate </button>
                                                <button class="btn btn-white download-btn pull-right" ng-show="!isDocTemplateDeactivated && templateId" data-ng-click="cloneDocTemplate()">Clone</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="showAllDocumentTemplates" ng-controller="showDocTemplatesController">
                    <div data-ng-include="'/documentTemplates/show/all'"></div>
                </div>

                <div ng-show="documentTemplate" ng-controller="createDocTemplatesController">
                    <div data-ng-include="'/documentTemplates/create/new'"></div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

    });
</script>

<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/color-picker.min.js"></script>
<script type="text/javascript" src="/javascripts/common/documentsCommon.js"></script>
<script type="text/javascript" src="/javascripts/documents/corporateAdmin/documentTemplateIndex.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>