<div class="document-template">
    <div class="row">
        <div ng-repeat="templateType in documentTypes track by $index">
            <div class="template-list">
                <div class="col-md-10">
                    <div class="type-header">
                        <div class="type">
                            <h4>[[templateType]]</h2>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- <div class="col-md-2 pull-right toggle-templates">
                    <a role="button" data-toggle="collapse" href="#templateListZone">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                </div> -->

                <div class="collapse in" id="templateListZone">
                    <div ng-repeat="template in documentTemplateCollection[templateType]">
                        <div class="col-md-3">
                            <div class="template-wrapper" ng-click="showSelectedDocTemplate(template)">
                                <h5 class="list name">
                                    <div>[[template.documentTemplateName]]</div>
                                </h5>
                                <div class="list date">Created Date: [[template.dateFormatted]] </div>
                                <div class="list reference-count">Used By: [[template.numberOfDocumentsCreated]]</div>
                                <div class="list status">Deactivated: [[template.isDocTemplateDeactivated == true ? "Yes" : "No"]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>