<div class="top-trending-container text-center margin-tb15" data-ng-controller="top_trending_post" ng-show="top_trending_post_show">
    <label class="relationship-label margin-tb15">Top Trending post by [[p_name]]</label><br/>
    <div class="social-trends">
        <span ng-show="socialTwitter" >
            <i class="fa fa-twitter-square twitter-color fs-20"></i>
        </span>
           [[latestFeedContent]]
           <p>[[latestFeedDate]]</p>
        <span>[[latestFeedMessage]]</span>
        <a ng-show="setup_social_accounts" href="/editProfile" class="btn-primary"> &nbsp;Setup Social Accounts &nbsp;&nbsp;<i
                class="fa fa-exclamation-circle"></i>&nbsp;</a>
    </div>
</div>

<div class="main conmmon-connection-box text-center margin-tb45" data-ng-controller="commonConnections">
    <h3>Common Connections</h3>
    <div class="bg-no-connections hide" id='commonConnectionsName_msg'>

        <p class="no-connections-txt fs-15B">Please add more contacts to get more insights
            <!--<span class="btn btn-green-lg" ng-click="uploadContacts()">Upload XLS contacts</span></p>-->
        <input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">
    </div>

    <div class="als-container common-Connection-box" id="demo3">
        <span class="als-prev hide" id="als-prev" ><img src="/landing/img/arrow-left-dark.png" class="left-arrow-xs0 " ng-click="PrevConn()" alt="Prev" title="Previous" /></span>
        <div class="als-viewport" style="display: inline-block;min-height: 88px;padding: 3px 0;">
            <ul class="als-wrapper" id="carol2">
                <li ng-repeat="cConnection in cConnections" id="[[cConnection.idName]]" class="als-item [[cConnection.className]]" style="cursor: default !important;">
                    <div style="[[cConnection.cursor]]" ng-click="interactionsContext(cConnection.emailId,cConnection.mobileNumber)" >
                        <img ng-if="!cConnection.noPicFlag" src="[[cConnection.image]]" class="image-placeholder-medium" alt="[[cConnection.name]]" title="[[cConnection.fullName]]" imageonload="imageNotLoaded(cConnection)"/>
                        <span ng-if="cConnection.noPicFlag"><span class="image-placeholder-medium cursor-pointer" title="[[cConnection.fullName]]" >[[cConnection.nameNoImg]]</span></span>
                        <p style="color: #267368;font-weight: 400;font-size:14px;">[[cConnection.name]]</p>
                    </div>
                </li>
            </ul>
        </div>
        <span class="als-next hide" id="als-next" ><img src="/landing/img/arrow-right-dark.png" class="right-arrow-xs0" ng-click="NextConn()" alt="Next" title="Next"/></span>
    </div>
</div>
<div class="invite-team-members-container margin-tb45" style="position: relative;" data-ng-controller="commonConnections_company">
    <span class="fs-15B center-block text-center">People from your company who have interacted with [[p_name]] <a class="btn btn-green mInviteTeamMembers move-enterprise" ng-if="!isCorporateUser">MOVE TO ENTERPRISE PLAN</a></span>

    <div class="move-to-enterprise">
        Please mail us at <a href="mailto:hello@relatas.com">hello@relatas.com</a> to enable Enterprise Plan.
    </div>
    <div class="l text-center" ng-show="no_connections_by_company" style="margin-top: 15px;opacity: 0.05;">

        <div class="non-connections">
            <div class="block-center">
                <img src="/images/default.png" class="profile-img2">
            </div>

            <div class="block-center">
                <img src="/images/default.png" class="profile-img2">
            </div>

            <div class="block-center">
                <img src="/images/default.png" class="profile-img2">
            </div>

        </div>
    </div>
    <div class="als-container common-Connection-box" id="demo4" style="width: 79.9%;" ng-show="!no_connections_by_company">
        <span class="als-prev hide" id="als-prev_c" ><img src="/landing/img/arrow_left.png" ng-click="PrevConn()" style="width: 76px;" alt="Prev" title="Previous" /></span>
        <div class="als-viewport" style="display: table;">
            <ul class="als-wrapper">
                <li ng-repeat="connection in cConnections" id="[[connection.idName]]" class="als-item [[connection.className]]" style="cursor: default !important;">
                    <a style="[[connection.cursor]]" ng-click="interactionsContext(connection.emailId,connection.mobileNumber)" >
                        <img ng-if="!connection.noPicFlag" src="[[connection.image]]" class="image-placeholder-medium" alt="[[connection.name]]" title="[[connection.fullName]]" imageonload="imageNotLoaded(connection)"/>
                        <span ng-if="connection.noPicFlag"><span class="image-placeholder-medium cursor-pointer" title="[[connection.fullName]]" >[[connection.nameNoImg]]</span></span>
                        <p style="color: #267368;font-weight: 400;font-size:14px;">
                            [[connection.name]]
                            <br>
                            <span class="orange-color font-12" style="line-height: 5px;display: block;">[[connection.lastInteraction]]</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <span class="als-next hide" id="als-next_c" ><img src="/landing/img/arrow_right.png" ng-click="NextConn()"  style="width: 76px;" alt="Next" title="Next" /></span>
    </div>
</div>