<div id="documentAnalytics" class="container-fluid">
    <div class="row">
        <div class="col-md-11 list-document">
                <div class="popup-modal" ng-show="showAnalytics">
                    <div class="popup-modal-body" id="analytics-box">
                        <div class="popup-modal-head">
                            <h5 class="pull-left" style="font-weight: lighter;">
                                [[documentName]]
                            </h5>
                            <button class="btn close-btn pull-right" data-ng-click="closeAnalytics()">Close</button>
                        </div>
                        <table>
                            <thead>
                            <tr style="border-bottom: thin">
                                <td style="width: 30%">First Accessed</td>
                                <td style="width: 30%;text-align: center">Last Accessed</td>
                                <td style="width: 40%;text-align: center">Number of times accessed</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 30%">[[firstAccessed]]</td>
                                    <td style="text-align: center;width: 30%">[[lastAccessed]]</td>
                                    <td style="text-align: center;width: 40%">[[accessCount]]</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr style="border-top: 1px solid #dfdfdf" />
                        <div id="analyticsGraph"></div>
                    </div>
                </div>

            <table id="show-all-doc-table" class="table document-list-table">
                <tr>
                    <th ng-repeat="header in headerNames">[[header]]</th>
                </tr>
                <tbody ng-show="!loadingDocuments">
                <tr ng-repeat="document in documentsSharedByMe">
                    <td style="text-align: left;">
                        <a href="[[document.documentUrl]]">[[document.documentName]]</a>
                    </td>
                    <td> 
                        <div  data-ng-click="viewAnalytics(document)">
                            <img src="/images/analytics_graph.png" style="height:25px; width:25px; cursor: pointer"/>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <div> [[document.sharedWithName]]</div>
                        <div class="secondary-cell-info">[[document.sharedWithEmailId]]</div>
                    </td>
                    <td>[[document.sharedDate]]</td>
                    <td id="date-[[document.sharedWithObjectId]]" ng-mouseover="updateDocumentExpiry(document)">
                        <div ng-show="document.expiryDate">
                            <i class="fa fa-calendar input-abs-right relatas-icon-color"></i>
                            [[document.expiryDate]]
                        </div>
                        <div ng-show="!document.expiryDate">Expiry Date Not Set</div>
                    </td>
                    <td><input type="checkbox" ng-change="changeDocumentSharingStatus(document)" ng-model="document.accessStatus"></td>
                </tr>
                </tbody>
                <tbody ng-show="loadingDocuments" class="no-border">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
