<div class="document_view_container">
    <div id="viewer-pdf-toolbar">
        <div id="toolbar">
            <div id="aligner">
                <span id="title" title="[[documentName]]">
                    <span>[[documentName]]</span>
                </span>
            
                <div id="pageselector-container">
                    <!-- <i class="fa fa-chevron-left" title="Prev Page" aria-hidden="true" ng-click="prevPage()"></i> -->
                    <input id="pageselector" ng-model="currentPageStatus.pageNumber" type="text" readonly>
                    <span id="slash">/</span>
                    <span id="pagelength-spacer" style="width:3ch">
                        <span id="pagelength">[[totalDocumentPages]]</span>
                    </span>
                    <!-- <i class="fa fa-chevron-right" title="Next Page" aria-hidden="true" ng-click="nextPage()"></i> -->
                </div>

                <div id="buttons">
                    <i class="fas fa-minus" title="Zoom out" ng-click="zoomOut()"></i>
                    <i class="fas fa-plus" title="Zoom in" ng-click="zoomIn()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-container">
        <progress class="progress-pdf-load" value="0" max="100"></progress>
    </div>
    <div id="canvas_container">
        <!-- <canvas id="document_holder" class="page-margin"></canvas>     -->
    </div>
</div>