<div class="link-expiry-wrapper">
    <nav class="navbar navbar-fixed-top version-2">
        <div class="row margin0">
            <div class="col-xs-6 clearfix">
                <a href="https://relatas.com" target="_blank">
                    <img alt="Relatas" src="/landing/img/logo.png" class="profile-pic img-responsive">
                </a>
            </div>
        </div>
    </nav>

    <div class="link-expiry-info">
        <h4> Document Not Found. </h4>

        <div class="assistance">
            <p>[[reason]]</p>
        </div>

        <p>For assistance, please reach out to the sender.</p>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <p>powered by 
                    <a href="https://relatas.com" target="_blank">
                        <span style="font-weight: bold;font-size: 13px;">Relatas</span>
                    </a> 
                </p>
            </div>
            <div class="col-md-6 col-xs-6">
                <ul class="pull-right">
                    <li><a href="https://relatas.com/terms" target="_blank">Terms of Use</a></li>
                    <li><a href="https://relatas.com/privacy" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>