<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Documents | Relationship Intelligence | Relatas</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/autosize.min.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/documentTemplateStyle.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css'
        media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
    <style>
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none !important
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<!--<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">-->
    <nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

    <div class="container-fluid opportunity-page">
        <!-- <div class="row"> -->
            <div class="leftside-bar contact-list-hidden-xs">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
            </div>
        <!-- </div> -->
        <div class="row relative" ng-controller="wrapper_controller" >
        <!-- <div class="row relative" ng-style="sideBarZindex" ng-controller="wrapper_controller" > -->
            <div class="left-panel">
                <ul class="list-unstyled">
                    <li class="[[item.selected]]" ng-repeat="item in menu" data-ng-click="openView(item)">
                        [[item.name]]
                    </li>
                </ul>
            </div>
            <div class="right-panel document-panel res-col-js">
                <div ng-show="viewFor == 'Upload + Analytics'" ng-controller="upload_controller">
                    <div ng-include="'/document/upload'"></div>
                </div>
                
                <div ng-show="viewFor == 'Create'">
                    <div ng-include="'/document/create'"></div>
                </div>

                <!-- <div  ng-show="viewFor == 'Analytics'" ng-controller="analytics_controller">
                    <div ng-include="'/document/analytics'"></div>
                </div> -->
        </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                'positionClass': 'toast-top-full-width',
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "8000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            $("body").on('click', '#menu-toggle', function (e) {
                e.preventDefault();
                $(".overlay").show();
            });

        });
    </script>

    <script>
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>
    <script type="text/javascript" src="/javascripts/common/documentsCommon.js"></script>
    <script type="text/javascript" src="/javascripts/common/angularConfig_textEditor.js"></script>
    <script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="/javascripts/documents/corporateUser/documentsIndex.js"></script>
    <script type="text/javascript" src="/javascripts/documentTracking/index.js"></script>
    <script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places" async defer></script>
    <script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
    <script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
    <script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>

</html>
