<div class="container-fluid authentication_wrapper" style="height:100%;overflow: scroll;">
    <div class="row">
        <div class="col-md-8 container">
            <div class="shared-by-info">
                <div class="shared-by-logo">
                    <img src="[[docOwnerMetaData.companyImageUrl]]">
                    <h4>[[docOwnerMetaData.header]]</h4>
                </div>
    
                <div class="shared-by-details">
                    <label>Shared by:</label>

                    <div>
                        <div class="shared-by-img">
                            <img class="shared-by-img" src="[[docOwnerMetaData.profilePicUrl]]">
                        </div>
                        <div class="shared-by-name">
                            <h4>[[docOwnerMetaData.personName]]</h4>
                            <p>[[docOwnerMetaData.companyName]]</p>
                        </div>
                    </div>
                </div>
    
                <label>Shared on:</label>
                <input type="text" value="[[docOwnerMetaData.sharedOn]]" readonly>
    
                <label>Document visible till:</label>
                <input type="text" value="[[docOwnerMetaData.expiryDate]]" readonly>
    
                <label>Document security code:</label>
                <div class="input-wrapper">
                    <input type="password" ng-model="enteredPassword">
                </div>

                <p class="password-error" ng-show="showErrorMsg">[[errorMessage]]</p>
    
                <button class="std-save-btn" ng-click="verifyPassword(enteredPassword)">continue</button>
                <!-- <hr> -->
                <span>Powered by</span>
                <a href="https://relatas.com" target="_blank">
                    <img src="/images/relatas_logo_small.png"/>
                </a>
            </div>
        </div>
    </div>
</div>