<div id="uploadDocument" class="container-fluid">
    <div class="row">
        <div class="horizontal-menu-top clearfix">
            <progress class="progress" id="doc-upload-progress" style="display: none;" value="0" max="100"></progress>
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 clearfix">
                            <div class="upload-file-wrapper clearfix">
                                <span>Upload Document</span>
                                <button id="uploadFile" class="btn btn-primary pull-right" ng-class="{disable: upload.disableUploadBtn ? true : false }" data-ng-click="uploadDocument()">Upload</button>
                                <div id="doc-category-holder">
                                    <label><span class="data-mandatory">*</span>Select Category</label>
                                    <select ng-model="selectedCategory" ng-options="category for category in documentCategory" data-ng-change="onSelectCategory(selectedCategory)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="hideSearchBar">
        <div class="col-md-6 search-box-wrapper show-all-documents">
            <input type="text" class="search-box" ng-model="searchDocuments.documentName" placeholder="Search Documents">
        </div>
    </div>

    <div class="row show-all-docs-table" >
        <div class="col-md-12">
            <table>
                <tr>
                    <th ng-repeat="header in headerNames" ng-click="sortTable(header)" style="[[header.width]]">
                        [[header.name]]
                        <span ng-show="header.sortableName">
                            <i class="fas fa-sort-down" ng-show="!reverseSort"></i>
                            <i class="fas fa-sort-up" ng-show="reverseSort"></i>
                        </span>
                    </th>
                </tr>
                
                <tbody ng-show="!loadingDocuments || myDocuments.length > 0">
                <tr ng-repeat="document in myDocuments | orderBy:orderByField:reverseSort | filter : searchDocuments">
                    <td style="text-align: left;">
                        <a href="[[document.documentUrl]]" target="_blank">[[document.documentName]]</a>
                    </td>
                    <td>[[document.documentCategory]]</td>
                    <td>[[document.displayDate]]</td>
                    <td>[[document.sharedWithLength]]</td>
                    <td>[[document.readCount]]</td>
                    <td>[[document.unreadCount]]</td>
                    <td title="View document analytics" data-ng-click="viewAnalytics(document)">
                        <img src="/images/analytics_trans.png" style="height:25px; width:25px; cursor: pointer"/>
                    </td>
                    <td>
                        <div class="margin-btn clearfix">
                            <button class="btn btn-primary" ng-class="{disable: companyLogoUploaded ? false : true }" data-ng-click="shareDocument(document)">Share</button>
                        </div>
                    </td>
                    <td title="Delete this document"><i class="fa fa-trash relatas-icon-color" data-ng-click="showDeleteConfirmDlg(document)" aria-hidden="true"></i></td>
                </tr>
                </tbody>
                <tbody ng-show="loadingDocuments" class="no-border">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p class="zero-documents-msg" ng-show="myDocuments.length <= 0">Upload and share documents with your customers to view page analytics. Share customer decks, marketing materials, proposals, quotations, etc in PDF format and see how much time has the customer spent on each page of the document.</p>
            <form action="/uploadDocument" enctype="multipart/form-data" id="shareDocumentForm" method="post" style="display: none">
                <input type="file" name="file" document-upload accept="application/pdf" id="selectShareFile">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal-open convert-modal-sidebar modal-analytics" ng-show="showMyDocumentAnalytics">
                <div class="opportunity-form form-box-shadow">
                    <div class="modal-header clearfix">
                        <div class="col-md-7 pull-left" style="font-weight: lighter;">
                            <h3>[[documentMetaDataDocName]]</h3>
                        </div>
                        <div class="col-md-5 clearifx">
                            <button class="btn close-btn pull-right" ng-click="closeMyDocumentAnalytics()">CLOSE</button>
                        </div>
                    </div>
                    <div class="row max-height email analytics-body">
                        <div class="row top-summary-row">
                            <div class="col-md-12">
                                <div class="clearfix">
                                    <div ng-repeat="data in documentMetaData">
                                        <div class="col-md-2 document-aggregate-row">
                                            <div class="aggregate-view">
                                                <div class="clearfix header">
                                                    <div class="pull-left">
                                                        <img src="[[data.imageUrl]]">
                                                    </div>
                                                    <div class="pull-left">
                                                        <h5>[[data.name]]</h5>
                                                    </div>
                                                </div>
                                                <div class="view-data">[[data.count]]</div>
                                                <div>[[data.time]]</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 analytics-left-panel">
                            <table class="show-all-docs-table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="header in sharedWithTabHeaders" data-ng-click="sortSharedWithTable(header)" style="[[header.style]]">
                                            [[header.name]]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-show="documentsSharedByMe.length > 0">
                                <tr ng-repeat="document in documentsSharedByMe | orderBy:orderSharedWithTableByField:sharedWithTableReverseSort" ng-click="getAnalytics(document)" ng-class="{selected: document.sharedWithObjectId === selectedDocumentObjId}">
                                    <td style="text-align: left;">
                                        <div> [[document.sharedWithName]]</div>
                                        <div class="secondary-cell-info">([[document.sharedWithEmailId]])</div>
                                    </td>
                                    <td>
                                        <div>[[document.displaySharedDate]]</div>
                                        <div class="secondary-cell-info">[[document.sharedTime]]</div>
                                    </td>
                                    <td id="date-[[document.sharedWithObjectId]]" ng-mouseover="updateDocumentExpiry(document)">
                                        <div ng-show="document.expiryDate">
                                            [[document.displayExpiryDate]]
                                        </div>
                                        <div ng-show="!document.expiryDate">
                                                <i class="fa fa-calendar input-abs-right relatas-icon-color"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div>[[document.displayLastViewDate]]</div>
                                        <div class="secondary-cell-info">[[document.lastViewTime]]</div>
                                    </td>
                                    <td><input type="checkbox" ng-change="changeDocumentSharingStatus(document)" ng-disabled="document.accessStatusBtnDisable" ng-model="document.accessStatus"></td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="zero-documents-msg" ng-show="documentsSharedByMe.length <= 0">This document is not shared with any users</p>
                        </div>
                        <div class="col-md-6 analytics-right-panel" ng-show="viewAnalyticsSummary && documentsSharedByMe.length > 0" >
                            <div class="shared-with-title">
                                <h4>[[sharedWithPersonName]] page view analytics</h6>
                            </div>
                            <div ng-show="documentAccessed">
                                <table id="table-shared-doc-view-summary">
                                    <thead>
                                    <tr style="border-bottom: thin">
                                        <th>First View</td>
                                        <th>Last View</td>
                                        <th>Total Views</td>
                                        <th>View Time</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>[[analyticsRightSummary.firstAccessed]]</td>
                                            <td>[[analyticsRightSummary.lastAccessed]]</td>
                                            <td>[[analyticsRightSummary.accessCount]]</td>
                                            <td>[[analyticsRightSummary.totalViewTime]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="analyticsGraph"></div>
                            </div>
                            <div class="document-not-accessed" ng-hide="documentAccessed">
                                <p>Document has not been opened</p>
                                <div class="margin-btn clearfix">
                                    <button class="btn btn-primary" data-ng-click="resendDocument()" ng-disabled="analyticsRightSummary.resend">
                                        <span ng-show="!analyticsRightSummary.resend">Resend</span>
                                        <span ng-show="analyticsRightSummary.resend" class="ng-hide">Resending</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'/contact/create/template/v2'" ng-show="showContactCreateModal">
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="modal-open document-share-model convert-modal-sidebar" style="z-index:99;" ng-show="openEmailWindow">
                <div class="opportunity-form form-box-shadow">
                    <div class="modal-header clearfix">
                        <div class="col-md-7">
                            <h3>[[sharedDocument.documentName]]</h3>
                        </div>
                        <div class="col-md-5 clearifx">
                            <button class="std-save-btn pull-right" ng-click="sendEmail(email.firstName, email.lastName, email.toEmailId, email.documentExpiryDate, email.emailSubject, emailContent.emailBody)">SEND MAIL</button>
                            <button class="std-close-btn pull-right" ng-click="closeEmailWindow()">CANCEL</button>
                        </div>
                    </div>
                    <div class="row max-height email">
                        <div class="col-md-12">
                            <div class="document-share-input-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="data-mandatory">*</span>
                                        <label>To (Email Id)</label>
                                        <input id="document-share-to-emailId" ng-model="email.toEmailId" type="text" ng-change="searchContacts(email.toEmailId)">
                                        <span class="data-mandatory" ng-show="email.toEmailId.length > 3 && contactToList.length == 0">We couldn't find the contact. click <span style="cursor:pointer; color:#267368" ng-click="createContactWindow()">here</span> to create. </span>
        
                                        <div class="search-box-wrapper clearfix" ng-show="showContactsSuggestion && contactToList.length>0">
                                            <div ng-repeat="item in contactToList track by $index" class="clearfix">
                                                <div class="clearfix cursor" ng-click="addToContact(item)">
                                                    <div class="pull-left relative">
                                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                                    </div>
                                                    <div class="pull-left">
                                                        <p class="margin0">[[item.name]]</p>
                                                        <p class="margin0">[[item.emailId]]</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="data-mandatory">*</span>
                                        <label>First Name</label>
                                        <input type="text" ng-change="recomposeEmailBody(email.firstName)" data-ng-model="email.firstName">
                                    </div>
                                    <div class="col-md-4">
                                        <span class="data-mandatory">*</span>
                                        <label>Last Name</label>
                                        <input type="text" data-ng-model="email.lastName">
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="data-mandatory">*</span>
                                        <label>Subject</label>
                                        <input type="text" data-ng-model="email.emailSubject">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Document Expiry Date</label><br>
                                        <div id="document-expiry-date" ng-mouseover="registerDatePickerId('document-expiry-date')">
                                            <i class="fa fa-calendar input-abs-right relatas-icon-color"></i>
                                            <input id="document-expiry-date-val" style="padding-left: 20px;" type="text" ng-model="email.documentExpiryDate">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-editor">
                                <span class="data-mandatory">*</span>
                                <label class="message-label">Message</label>
                                <div class="checkbox checkbox-inline" style="margin-bottom: 5px; position: absolute; right: 275px;top: 0;">
                                    <input ng-model="email.notify" type="checkbox" id="inlineCheckbox" value="option1">
                                    <label for="inlineCheckbox"> Notify in 7 Days</label>
                                </div>
                                <text-angular ta-toolbar ="toolBarList" data-ng-model="emailContent.emailBody" ta-paste="parseHtml($html)">
                                </text-angular>
                            </div>
                            <!-- <textarea data-ng-model="email.emailBody"></textarea> -->
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-up-window" ng-show="docDeleteConfirmDlg">
        <div class="pop-window-body">
            <div class="row main-content">
                <div class="col-md-12">
                    <span style="color:tomato">Once deleted, the document and the analytics for this document won't be available.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="std-close-btn" style="margin-left: 32%;" data-ng-click="hideDeleteConfirmDlg()">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button class="std-save-btn" style="margin-left: 32%;" data-ng-click="deleteDocument(delDocument)">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="pop-up-window" ng-show="resendEmailObj.showResendEmailDlg">
        <div class="pop-window-body">
            <div class="row main-content">
                <div class="col-md-12">
                    <span><b>[[resendEmailObj.documentName]]</b> was sent to <b>[[resendEmailObj.emailObj.receiverEmailId]]</b> on <b>[[resendEmailObj.sharedDate]]</b>.<br>Do you wish to send it again.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="std-close-btn" style="margin-left: 32%;" data-ng-click="hideResendEmailDlg()">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button class="std-save-btn" style="margin-left: 32%;" data-ng-click="resendEmail()">Send Again</button>
                </div>
            </div>
        </div>
    </div>
</div>
