<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="UTF-8">
    <title>Corporate Settings</title>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/main-non-app.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/Today_files/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!--[endif]-->

</head>
<body>

<div class="row" data-ng-controller="set_user_to_company">
    <div class="col-md-4 col-md-offset-3">

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email Address of User</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <div ng-repeat="company in companies | filter:company">
                    <p>[[company.companyName]]</p>
                </div>
                <label for="exampleInputPassword1">Select Company</label>
                <input type="text" class="form-control" id="exampleInputPassword1" ng-model="company.companyName" placeholder="Select Company">
            </div>
            <button type="submit" class="btn btn-default">Set</button>
        </form>

    </div>
</div>
<script type="text/javascript" src="/javascripts/admin/corporateSettings.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
</body>
</html>