<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | User Report</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/userReport/userReport.js"></script>
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div ng-controller="reports">
        <div class="container">
            <div class="mainNav ng-scope" style="top: -4px;z-index: 999;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
            <ul class="breadcrumb" style="top: 50px;">
                <li><a href="/corporate/admin/">Admin View</a></li>
                <li><a href="#" class="your-are-here">User Report</a></li>
            </ul>
            <div class="clearfix" style="margin-top: 45px;">
                <!--<h5 class="pull-left margin0">-->
                    <!--Select Company-->
                <!--</h5>-->
                <!--<div class="pull-left">-->
                    <!--<select ng-options="option.companyName for option in listOfCompanies | orderBy:'option.companyName'"-->
                            <!--ng-model="company"-->
                            <!--ng-change="getReport(option._id)">-->
                    <!--</select>-->
                <!--</div>-->
                <div class="pull-right">
                    <a class='btn btn-green' ng-click='toExcel()' target="_blank" href="[[csvUrl]]">
                        Export To XLS
                    </a>

                </div>
            </div>

            <table class="user-report" ng-show="reports.length>0">
                <tr>
                    <th>#</th>
                    <th class="cursor" ng-click="sortType = 'fullName';sortReverse = !sortReverse">User</th>
                    <th class="cursor" ng-click="sortType = 'emailId';sortReverse = !sortReverse">Email Id</th>
                    <th class="cursor" ng-click="sortType = 'designation';sortReverse = !sortReverse">Designation</th>
                    <th class="cursor" ng-click="sortType = 'location';sortReverse = !sortReverse">Location</th>
                    <th class="cursor" ng-click="sortType = 'sortDate';sortReverse = !sortReverse">Registered Date</th>
                    <th class="cursor" ng-click="sortType = 'totalOpps';sortReverse = !sortReverse">Total Opp<br> created</th>
                    <th class="cursor" ng-click="sortType = 'totalOppsValueSort';sortReverse = !sortReverse">Total Opp<br> value created</th>
                </tr>
                <tbody>
                    <tr ng-repeat="member in reports | orderBy:sortType:sortReverse" class="horizontal-menu-top">

                        <td> &nbsp; &nbsp; &nbsp; &nbsp;[[$index+1]]</td>
                        <td class="user-list">
                            <div class="team-profiles clearfix reset"  title="[[member.fullName]], [[member.emailId]]">
                                <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                                <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                <strong>[[member.fullName]]</strong>
                            </div>
                        </td>
                        <td>[[member.emailId]]</td>
                        <td>[[member.designation]]</td>
                        <td>[[member.location]]</td>
                        <td>[[member.registeredDate]]</td>
                        <td class="text-right">[[member.totalOpps]]</td>
                        <td class="text-right">[[member.totalOppsValue]]</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

</body>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
</html>