<!DOCTYPE html>
<html ng-app='adminUserList'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/javascripts/admin/documents/consolidatedDocumentReport.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/moment.js"></script>
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="/Today_files/moment.js"></script>
    <script src="/Today_files/moment-timezone.js"></script>
</head>
<style>
body {
    font-family: 'Lato', sans-serif !important;
}

th>a {
    cursor: pointer;
    text-decoration: underline;
}

th {
    text-align: center;
}

table,
a {
    font-family: 'Lato', sans-serif !important;
    color: black;
    font-size: 9px;
}

.inputCommon {
    height: 28px;
    font-size: 11px;
}

.total {
    font-size: 15px;
}

select option {
    cursor: pointer;
}

.select option:checked, .select option:active {
    box-shadow: 0 0 10px 100px #49B5A6 inset;
}

.container {
    width: 90%;
}

.text_transform
{
    text-transform: capitalize;    
    font-weight: normal;    
}

h1{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

</style>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                        <span>{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class='container'>
        <div ng-controller='userList'>
            <div class='form' style='display:inline;'>
                <h1>Consolidated Document Report</h1>
                <form class="form-inline" role="form" ng-submit="getInteractions()">
                    <div class="form-group" style='margin-left:10px;'>
                        <select style='text-align:center;padding:0;margin-top:-6%' ng-model="selectedCompany" ng-options="company.companyName for company in listOfCompanies" data-ng-change="filterByCompany(selectedCompany._id)"></select>                        
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" style="margin-left: 40px;">
                            <input type="radio" class="form-check-input" style="margin: 0px 10px;;" ng-model="report.activeTable" ng-click="getReportFor(report)" value="uploadedDocs">Uploaded Document Report
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" style="margin-left: 40px;">
                            <input type="radio" class="form-check-input" style="margin: 0px 10px;" ng-model="report.activeTable" ng-click="getReportFor(report)" value="createdDocs">Created Document Report
                        </label>
                    </div>
                </form>
            </div>
            <br>
            <div style='display:inline;'>
                <input type="text" style='width:200px;float:left;margin-top:-0.25%;' class="form-control inputCommon" placeholder="Search by email" ng-model="searchDocuments.userEmailId">
            </div>
            <div class="table-responsive">
                <table class='table table-bordered table-hover' ng-show="report.activeTable == 'uploadedDocs'">
                    <thead>
                        <tr style='background:#49B5A6;color:white;cursor:pointer;'>
                            <th>Sl. no</th>
                            <th ng-repeat="header in uploadedReportTableHeader" style="{{header.width}}" ng-click="order(header)">
                                {{header.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                        <tr ng-repeat='res in uploadedDocCompanyReport | orderBy:orderByField:reverseSort | filter : searchDocuments'>
                            <td style="text-align: center;">{{$index+1}}</td>
                            <td>{{res.companyName}}</td>
                            <td>{{res.userEmailId}}</td>
                            <td style="text-align: center;">{{res.totalUploadedDocs}}</td>
                            <td style="text-align: center;">{{res.totalDocsShared}}</td>
                            <td style="text-align: center;">{{res.totalDocsOpened}}</td>
                            <td style="text-align: center;">
                                {{res.lastUploadedDate | date: 'dd MMM yyyy' }}
                                <div>{{res.lastUploadedTime}}</div>
                            </td>
                            <td style="text-align: center;">
                                {{res.lastShared | date: 'dd MMM yyyy' }}
                                <div>{{res.lastSharedTime}}</div>
                            </td>
                            <td style="text-align: center;">
                                {{res.lastAccessed | date: 'dd MMM yyyy' }}
                                <div>{{res.lastAccessedTime }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class='table table-bordered table-hover' ng-show="report.activeTable == 'createdDocs'">
                    <thead>
                        <tr style='background:#49B5A6;color:white;cursor:pointer;'>
                            <th>Sl. no</th>
                            <th ng-repeat="header in createdReportTableHeader" style="{{header.width}}" ng-click="order(header)">
                                {{header.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                        <tr ng-repeat='res in createdDocCompanyReport | orderBy:orderByField:reverseSort | filter : searchDocuments'>
                            <td style="text-align: center;">{{$index+1}}</td>
                            <td>{{res.companyName}}</td>
                            <td>{{res.userEmailId}}</td>
                            <td style="text-align: center;">{{res.totalDocsCreated}}</td>
                            <td style="text-align: center;">
                                {{res.lastDocCreated | date: 'dd MMM yyyy'}}
                                <div>
                                    {{res.lastDocCreatedTime}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/javascripts/privacy.js"></script>
</body>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
    $('.datetimepicker').datetimepicker({timepicker:false,value:new Date(),format: 'Y-m-d',formatDate:'Y-m-d'});
</script>
</html>
