@import
url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/*#relatas-weblead-container textarea {*/
    /*resize: none;*/
/*}*/

label {
    display: none !important;
}

input,textarea {
    background: transparent;
}

#relatas-weblead-container ul {
    margin-bottom: 0;
}

#relatas-weblead-container {
    position: fixed;
    bottom: 30px;
    z-index: 9999999;
    right: 10px;
    min-height: 275px;
}

#relatas-weblead-container .relatas-open-btn,#relatas-weblead-container .relatas-close-btn {
    display: block;
    height: 60px;
    width: 60px;
    font-size: 25px;
    text-align: center;
    border-radius: 55%;
    position: absolute;
    bottom: 10px;
    right: 5px;
    line-height: 60px;
    cursor: pointer;
    box-shadow: rgba(56, 53, 53, 0.59) 0 1px 15px;
    font-weight: 300;
}

#relatas-weblead-container .relatas-close-btn {
    display: none;
}

#relatas-weblead-container .relatas-open-btn:hover,#relatas-weblead-container .relatas-close-btn:hover {
    opacity: 0.9;
}

#relatas-body {
    visibility: hidden;
    min-height: 450px;
    border-radius: 2px;
    box-shadow: rgba(56, 53, 53, 0.59) 0 0 40px;
    min-width: 325px;
    background: #fff;
    font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 95px;
    right: 25px;
    font-size: 11px;
}

option:disabled {
    background: #fff;
    color: #eee;
}

#team-support ul li img {
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 55%;
    object-fit: cover;
}

#team-support ul li p {
    font-size: 12px;
    line-height: 14px;
}

#team-support ul li p span {
    font-size: 10px;
}

#relatas-body .relatas-main {
    padding: 0 10px 10px 10px;
    min-height: 245px;
    margin-bottom: 30px;
}

#relatas-body .relatas-form label,#relatas-body .relatas-form input,#relatas-body .relatas-form textarea {
    display: block;
    width: 91.111%;
}

#relatas-body .relatas-form .btn {
    display: block;
    border: 0;
    padding: 5px;
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.9;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}

#timezones {
    position: absolute;
    border: none;
    right: 28px;
    top: 90px;
    font-size: 9px;
    margin: 0;
    padding: 0;
    color: #267368;
    width: 40%;
}

#relatas-body .relatas-form {
    position: relative;
}

#relatas-body .relatas-form .btn:hover {
    opacity: 1;
    box-shadow: 0 2px 1px #aaa;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
}

#relatas-body .relatas-form .btn .fa {
    font-size: 16px;
}

#relatas-body .relatas-form label {
    margin: 0;
}

#relatas-body .relatas-form input,#relatas-body .relatas-form textarea {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.66);
    padding-left: 10px;
}

/*#relatas-body .relatas-form input:focus,#relatas-body .relatas-form textarea:focus {*/
    /*background-color: transparent;*/
    /*outline: none;*/
    /*border-bottom:2px solid #49B5A6;*/
    /*width: 100%;*/
    /*-webkit-transition: width .2s ease;*/
    /*transition: width .2s ease;*/
/*}*/

#relatas-body ul {
    list-style: none;
    padding: 0;
}

#relatas-body li {
    display: inline-block;
    padding: 0 10px;
}

#relatas-body .footer a img {
    width: 55px;
    vertical-align: middle;
}

#relatas-body .footer {
    border-top: 1px solid rgba(204, 204, 204, 0.65);
    padding: 5px 10px;
    font-size: 9px;
    line-height: 9px;
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right !important;
    background: transparent !important;
}

#relatas-body .footer a {
    color: #999;
    font-weight: 500;
    font-size: 10px;
}

#relatas-body .footer a:hover {
    text-decoration: none;
}

#relatas-header {
    /*border-bottom: 1px solid #eee;*/
    /*margin-bottom: 15px;*/
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 20px 0;
}

.relatas-quick-send:hover,.relatas-schedule-meeting:hover {
    cursor: pointer;
    background: #eee;
}

#relatas-header p:first-child {
    margin-bottom: 15px;
    padding-top: 10px;
    font-size: 16px;
    width: 67.77%;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

.relatas-short-form {
    height: 175px;
}

.relatas-form select {
    border: 1px solid #ccc;
    background: transparent;
    margin-bottom: 15px;
    width: 41.111%;
    padding: 3px;
    border-radius: 2px;
}

#relatas-previous-message-wrapper {

}

.relatas-error-highlight-meetingtype #locationDetails {
    display: inline-block !important;
    width: 41% !important;
}

#selectedStartTime {
    width: 42.5%;
}

#dd-arrow,.required {
    position: relative;
    /*display: inline-block;*/
}

.relatas-error-highlight-agenda,.relatas-date-picker-row,.relatas-error-highlight-meetingtype {
    margin-bottom: 20px;
}

.relatas-error-highlight-agenda textarea {
    display: inline-block !important;
}

.required::before {
    position: absolute;
    content: "*";
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    font-size: 15px;
    color: #ff4b00;
    line-height: 15px;
}

.relatas-error-highlight-agenda .required::before {
    top: -35px;
}

#dd-arrow::before{
    position: absolute;
    content: " \25bc";
    top: 0;
    right: 12px;
    height: 15px;
    width: 20px;
    font-size: 10px;
}

#relatas-body .relatas-nav {
    border-bottom: 1px solid #eee;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;
    background: #fafafa;
    text-align: center;
}

.relatas-form .relatas-prev-msg {
    background: rgba(238, 238, 238, 0.7);
    padding: 5px;
    border-radius: 2px;
    overflow-y: auto;
    height: 100px;
    margin-bottom: 20px;
}

.relatas-date-picker-row #allowedTimes {
    width: 46%;
    display: inline-block;
}

.relatas-date-picker-row input {
    width: 41.99% !important;
    display: inline-block !important;
    margin-right: 20px;
}

#relatas-startTime,#relatas-endTime {
    display: none;
}

.relatas-error-empty-form {
    color: #555;
    /*animation: background-fade 1s forwards;*/
    /*-webkit-animation: background-fade 1s forwards;*/
    /*-moz-animation: background-fade 1s forwards;*/
    /*border-radius: 3px;*/
}

.relatas-error-empty-form textarea,.relatas-error-empty-form input {
    border-bottom:1px solid rgb(234, 86, 86) !important;
}

@-webkit-keyframes background-fade {
    50.9% {
        background:#f7f79f;
    }
    /*75% {*/
        /*background:rgba(236, 146, 131, 0.52);*/
    /*}*/
    100% {
        background:#ffffb1;
    }
}
@-moz-keyframes background-fade {
    50.9% {
        background:#f7f79f;
    }
    /*75% {*/
        /*background:rgba(236, 146, 131, 0.52);*/
    /*}*/
    100% {
        background:#ffffb1;
    }
}
@keyframes background-fade {
    50.9% {
        background:#f7f79f;
    }
    /*75% {*/
        /*background:rgba(236, 146, 131, 0.52);*/
    /*}*/
    100% {
        background:#ffffb1;
    }
}

#relatas-calendar {
    position: relative;
}

#square {
    width: 130px;
    height: 140px;
    position: relative;
    border-radius: 3px;
    margin: 0 auto 15px auto;
}

#square .time {
    position: absolute;
    top: 62px;
    padding-left: 26px;
    font-size: 10px;
}

#square .time .loc-details {
    margin-top: 10px;
    font-size: 12px;
}

#square .time .loc-details .fa {
    margin-right: 5px;
}

#square .date {
    text-align: center;
    position: absolute;
    top: 30px;
    font-size: 28px;
    font-weight: 300;
    right: 0;
    left: 0;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 30px solid #eee;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-left: 30px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hook-right,.hook-left {
    display: inline-block;
    height: 5px;
    width: 5px;
    background: #fff;
    border-radius: 62%;
    margin: auto;
    position: absolute;
    top: 7px;
}

.hook-left {
    right: 15px;
}

.hook-right {
    left: 15px;
}

#square .date .day {
    font-weight: 600;
}