<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Today's Agenda | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">-->

    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <style>
        #sidebar-wrapper {
            margin-top: 0 !important;
        }

        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>
<div id="wrapper">
    <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
    </div>

    <div id="page-content-wrapper">
        <div class="profile-banner-grid-3a set-height" style="display:none;">
            <div class="profile-banner-container" data-ng-controller="background_image">
                <img ng-src="[[image_top]]" alt="banner img" style="width: 100%;" class="img-responsive">
            </div>
            <div ng-controller='logedinUser' class="overlay-message">
                <p class="fs-18 margin-tb25">Hi <strong>[[userName]]!</strong> <br>We have planned <strong>[[numberOfMeetingsHour]]</strong> for you today. Have a great day!</p>
            </div>
        </div>

        <div class="container-fluid weather-row">
            <div class="row">
                <div class="col-md-6">
                        <div data-ng-controller="weather_and_today_coun">
                            <div ng-show="loadingWeather" class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <ul class="list-unstyled today" ng-show="!loadingWeather">
                                <li><strong class="item-date">Today</strong></li>
                                <li>[[city_country_top]] |</li>
                                <li>[[date_today_top]]</li>
                                <li ng-show="today_temp_min"> | [[today_temp_min]] &nbsp/&nbsp [[today_temp_max]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>

        <div class="container-fluid" data-ng-controller="actionItems">

            <div class="updatingMessageWrapper" ng-if="showOverlay2">
                <div class="overlay-top-message">
                    <h2>
                        <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        <span>You have taken the first step to build better relationships. <br> Relatas is building your insights. This might take up to 5 minutes.</span>
                    </h2>

                    <ul>
                        <li style="list-style: none;margin-left: -20px;"><h4><img src="/images/dashboard-icons/insights.png"/> Tips to use Relatas effectively </h4></li>
                        <li>Your Unique Relatas Id: <i>[[publicProfileUrl]]</i> - Share this unique id with your contacts or include as an email signature to help others set time with you</li>
                        <li>Check out the cheat sheet on how Relatas can help you sell faster: <a href="[[helpUrl]]" target="_blank">View help document</a></li>
                        <!--<li class="orange-color">This popup will close automatically</li>-->
                    </ul>
                </div>
            </div>
            <div class="updatingMessageWrapper" ng-if="showOverlay3">
                <div class="overlay-top-message">
                    <h2>
                        <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        <span>Relatas is building your insights. This might take up to 5 minutes.</span>
                    </h2>
                    <!--<h3>You have [[totalNotifications]] notifications:</h3>-->
                    <!--<a href="/insights/losing/touch/details" class="clearfix">-->
                        <!--<span class='pull-right underline action-card-links-xs'>[[losingTouch]]</span>-->
                        <!--<span class='pull-left'>Losing Touch</span>-->
                    <!--</a>-->
                    <!--<a href="/people/to/connect" class="clearfix">-->
                        <!--<span class='pull-right underline action-card-links-xs'>[[rtcCount]]</span>-->
                        <!--<span class='pull-left'>Remind To Connect </span>-->
                    <!--</a>-->
                    <!--<a href="/insights/revenue/risk/details" class="clearfix">-->
                        <!--<span class='pull-right underline action-card-links-xs'>[[revenueAtRisk]]</span>-->
                        <!--<span class='pull-left'>Revenue at Risk % </span>-->
                    <!--</a>-->

                    <ul>
                        <li>Your Unique Relatas Id: <i>[[publicProfileUrl]]</i> - Share this unique id with your contacts or include as an email signature to help others set time with you</li>
                        <li>Check out the cheat sheet on how Relatas can help you sell faster: <a href="[[helpUrl]]" target="_blank">View help document</a></li>
                        <!--<li class="orange-color">This popup will close automatically</li>-->
                    </ul>
                </div>
            </div>

            <div class="row dashboard-action-items">
                <div class="col-md-8 box-action-items">

                    <!--<div class="upcoming-link" ng-click="showUpcomingEvents()">-->
                        <!--<h5>-->
                            <!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ng-show="loadingUpcoming"></i>-->
                            <!--<span ng-show="!loadingUpcoming">[[upcomingTotalItems]]</span>-->
                            <!--UPCOMING</h5>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-md-12 padding0 bg-white">

                            <div ng-if="numberOfMeetingsHour === 0">
                                <h2 class="text-center">
                                    <i>You have no events planned for today!</i>
                                </h2>
                            </div>
                            <div ng-if="showUpcomingEventsSection">
                                <div ng-repeat="item in upcomingEvents" class="action-item clearfix">
                                    <div class="row [[item.hoverClass]]" ng-click="actionBoard(item,$index)" ng-if="!item.ifRelatasMailEvent" ng-class="{'contact-clicked': $index === meetingSelected}">

                                        <div class="col-md-5 clearfix" ng-if="!item.salesForceEvent">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">[[item.date]]</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix" ng-if="!item.salesForceEvent">
                                                <div class="pull-left">
                                                    <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                    <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                                    <img src="[[item.meetingInitiatorIcon]]" class="init-icon">
                                                </div>
                                                <div class="pull-left">
                                                    <label title="[[item.name]]">[[item.nameTruncate]] <span><span ng-if="item.numberOfMeetingParticipantsExists">+</span>[[item.numberOfMeetingParticipants]]</span></label>
                                                    <p title="[[item.company]]">[[item.companyTruncate]]</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 location-details clearfix padding0" ng-if="!item.salesForceEvent">
                                            <i title="[[item.location]]" class="[[item.locationTypePic]]"></i>
                                            <!--<img title="[[item.location]]" src="[[item.locationTypePic]]"/>-->
                                            <p title="[[item.location]]">[[item.locationTruncate]]</p>
                                            <p ng-if="item.isGoogleGoal" title="[[item.description]]">[[item.descriptionTruncate]]</p>
                                        </div>

                                        <div class="col-md-3 meeting-description padding0" ng-if="!item.salesForceEvent">
                                            <p title="[[item.title]]">[[item.titleTruncate]]</p>
                                            <!--<p>[[item.description]]</p>-->
                                        </div>

                                        <div class="action-item-hover-wrapper" ng-if="!item.ifRelatasMailEvent && !item.salesForceEvent">
                                            <ul class="list-unstyled">
                                                <!--<li title="Cancel" ng-click="meetingAction('cancel',item)"><img src="/images/dashboard-icons/ignore.png"></li>-->
                                                <li title="Prepare" ng-click="actionBoard(item)">
                                                    <img src="/images/dashboard-icons/details.png">
                                                </li>
                                                <!--<li title="Confirm" ng-click="meetingAction('confirm',item)"><img src="/images/dashboard-icons/confirmation.png"></li>-->
                                            </ul>
                                        </div>

                                        <div ng-if="item.salesForceEvent" class="col-md-5 clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">[[item.closeDate]]</p>
                                                <h6 style="visibility: hidden">08:00AM</h6>
                                                <h6 style="visibility: hidden">08:00AM</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <div class="pull-left">
                                                    <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                    <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                                    <span class="init-icon"><i class="fa fa-dollar"></i></span>
                                                </div>
                                                <div class="pull-left">
                                                    <label title="[[item.name]]">[[item.name]]</label>
                                                    <p title="[[item.company]]">[[item.companyTruncate]]</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="item.salesForceEvent" class="col-md-4 location-details clearfix padding0">
                                            <i title="[[item.location]]" class="[[item.locationTypePic]]"></i>
                                            <div title="[[item.opportunityName]]" ng-show="item.sourceType != 'Renewal'">[[item.opportunityNameTruncate]]</div>
                                            <div title="[[item.opportunityName]]" ng-show="item.sourceType == 'Renewal'">[[item.opportunityNameTruncate]] - Auto renewal</div>
                                            <!--<img title="[[item.location]]" src="[[item.locationTypePic]]"/>-->
                                            <div>
                                                <span class="normal">[[currency]] [[item.amountWithNgm]]</span>
                                                <span ng-show="item.ngmReq">([[item.netGrossMargin]]% of [[item.amount]])</span>
                                            </div>
                                        </div>

                                        <div ng-if="item.salesForceEvent" class="col-md-3 meeting-description padding0">

                                            <p ng-if="!item.staleOpportunity"><i>Opportunity closing soon</i></p>
                                            <p ng-if="item.staleOpportunity"><i>Stale Opportunity</i></p>
                                            <!--<p>[[item.description]]</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="item in meetingsToday" class="action-item clearfix">
                                <div class="[[item.hoverClass]]" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType == 'responsePending'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">Today</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <img src="/images/dashboard-icons/insights.png"/>
                                            </div>
                                            <div class="pull-left">
                                                <h5 class="bold">Mail Insights</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-ng-include="'/todaySeries/mailsToRespond'"></div>
                                </div>
                                <div class="[[item.hoverClass]]" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType == 'losingTouch'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">Today</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <img src="/images/dashboard-icons/insights.png" title="These are the contacts you are losing touch with. Relatas recommends you to connect with them. The ones with Red circle are your important contacts. Click on the profile to see the pre-drafted ready for you to send."/>
                                            </div>

                                            <div class="pull-right inline-insights">
                                                <div data-ng-include="'/todaySeries/losingTouch'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="[[item.hoverClass]]" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType == 'remindToConnect'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">Today</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <img src="/images/dashboard-icons/insights.png" title="These are profiles you requested to be reminded today to connect back. Click on the profile to send them a mail."/>
                                            </div>

                                            <div class="pull-right inline-insights">
                                                <div data-ng-include="'/todaySeries/reminderToConnect'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="[[item.hoverClass]]" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType == 'meetingFollowUp'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">Today</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <img src="/images/dashboard-icons/insights.png" title="You had meetings with these people yesterday. Relatas recommends you to send a meeting minutes to them. Click on the profile to see the pre-drafted ready for you to send."/>
                                            </div>

                                            <div class="pull-right inline-insights">
                                                <div data-ng-include="'/todaySeries/meetingFollowUp'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="[[item.hoverClass]]" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType == 'travellingToLocation'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="pull-left times">
                                                <p class="upcoming-event-date">Today</p>
                                                <h6 style="color: #333;">[[item.startTime]]</h6>
                                                <h6>[[item.endTime]]</h6>
                                            </div>
                                            <div class="pull-left participant clearfix">
                                                <img src="/images/dashboard-icons/insights.png" title="Relatas analyzed your contacts to suggest people you could meet when you are traveling to a particular location. The ones with Red circle are your important contacts. Click on the profile to see the pre-drafted ready for you to send."/>
                                            </div>
                                            <div class="pull-right inline-insights">
                                                <h5 class="bold">People recommended to meet</h5>
                                                <div data-ng-include="'/todaySeries/travellingToLocation'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row [[item.hoverClass]]" ng-click="actionBoard(item,$index)" ng-if="!item.ifRelatasMailEvent" ng-class="{'contact-clicked': $index === meetingSelected}">

                                    <div class="col-md-5 clearfix" ng-if="!item.salesForceEvent">
                                        <div class="pull-left times">
                                            <p class="upcoming-event-date">Today</p>
                                            <h6 style="color: #333;">[[item.startTime]]</h6>
                                            <h6>[[item.endTime]]</h6>
                                        </div>
                                        <div class="pull-left participant clearfix">
                                            <div class="pull-left">
                                                <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                                <img src="[[item.meetingInitiatorIcon]]" class="init-icon">
                                            </div>
                                            <div class="pull-left">
                                                <label title="[[item.name]]">[[item.nameTruncate]] <span><span ng-if="item.numberOfMeetingParticipantsExists">+</span>[[item.numberOfMeetingParticipants]]</span></label>
                                                <p title="[[item.company]]">[[item.companyTruncate]]</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 location-details clearfix padding0" ng-if="!item.salesForceEvent">
                                        <i title="[[item.location]]" class="[[item.locationTypePic]]"></i>
                                        <!--<img title="[[item.location]]" src="[[item.locationTypePic]]"/>-->
                                        <p title="[[item.location]]">[[item.locationTruncate]]</p>
                                        <p ng-if="item.isGoogleGoal" title="[[item.description]]">[[item.descriptionTruncate]]</p>
                                    </div>

                                    <div class="col-md-3 meeting-description padding0" ng-if="!item.salesForceEvent">
                                        <p title="[[item.title]]">[[item.titleTruncate]]</p>
                                        <!--<p>[[item.description]]</p>-->
                                    </div>

                                    <div class="action-item-hover-wrapper" ng-if="!item.ifRelatasMailEvent && !item.salesForceEvent">
                                        <ul class="list-unstyled">
                                            <!--<li title="Cancel" ng-click="meetingAction('cancel',item)"><img src="/images/dashboard-icons/ignore.png"></li>-->
                                            <li title="Prepare" ng-click="actionBoard(item)">
                                                <img src="/images/dashboard-icons/details.png">
                                            </li>
                                            <!--<li title="Confirm" ng-click="meetingAction('confirm',item)"><img src="/images/dashboard-icons/confirmation.png"></li>-->
                                        </ul>
                                    </div>
                                    <div ng-if="item.salesForceEvent" class="col-md-5 clearfix">
                                        <div class="pull-left times">
                                            <!--<p class="upcoming-event-date">[[item.closeDate]]</p>-->
                                            <p class="upcoming-event-date">Today</p>
                                            <h6 style="visibility: hidden">08:00AM</h6>
                                            <h6 style="visibility: hidden">08:00AM</h6>
                                        </div>
                                        <div class="pull-left participant clearfix">
                                            <div class="pull-left">
                                                <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                                <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                                <span class="init-icon"><i class="fa fa-dollar"></i></span>
                                            </div>
                                            <div class="pull-left">
                                                <label title="[[item.name]]">[[item.name]]</label>
                                                <p title="[[item.company]]">[[item.companyTruncate]]</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="item.salesForceEvent" class="col-md-4 location-details clearfix padding0">
                                        <i title="[[item.location]]" class="[[item.locationTypePic]]"></i>
                                        <div title="[[item.opportunityName]]" ng-show="item.sourceType != 'Renewal'">[[item.opportunityNameTruncate]]</div>
                                        <div title="[[item.opportunityName]]" ng-show="item.sourceType == 'Renewal'">[[item.opportunityNameTruncate]] - Auto renewal</div>
                                        <!--<img title="[[item.location]]" src="[[item.locationTypePic]]"/>-->
                                        <div>
                                            <span class="normal">[[currency]] [[item.amountWithNgm]]</span>
                                            <span ng-show="item.ngmReq">([[item.netGrossMargin]]% of [[item.amount]])</span>
                                        </div>
                                    </div>

                                    <div ng-if="item.salesForceEvent" class="col-md-3 meeting-description padding0">

                                        <!--<p ng-if="!item.staleOpportunity"><i>Opportunity closing today</i></p>-->
                                        <!--<p ng-if="item.staleOpportunity"><i>Stale Opportunity</i></p>-->
                                        <p>Opportunity closing today</p>
                                    </div>
                                </div>
                                <div data-ng-controller="peopleAtMeetingLocation" ng-if="!item.ifRelatasMailEvent">

                                    <div data-ng-init="peopleAtLocation(item.location,item.locationType,item.personEmailId,item.invitationId,item.date)">

                                        <div>
                                            <div ng-if="iCanConnect" class="people-wrapper">
                                                <div ng-show="loadingpal" class="loading-contacts load-md">
                                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                                </div>
                                                <div ng-show="!loadingpal">

                                                    <h5>
                                                        <img class="insights" src="/images/dashboard-icons/insights.png" title="Relatas analyzed your contacts to suggest people you could meet when you are traveling to a particular location. The ones with Red circle are your important contacts. Click on the profile to see the pre-drafted ready for you to send.">
                                                        [[numberOfContacts]] you can meet after your meeting
                                                    </h5>
                                                    <div class="more-contacts">
                                                        <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                                                    </div>

                                                    <div ng-repeat="people in peopleAtThisLocation | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'distance'" class="contact-wrapper [[people.favoriteClass]] cursor" ng-click="openEmailForm(people,$index,item.location)" ng-class="{'contact-clicked': $index === contactSelected}">
                                                        <div>
                                                            <span ng-if="people.noPicFlag" title="Email [[people.fullName]]"><span class="contact-img-wrapper">[[people.noPPic]]</span></span>
                                                            <img imageonload="imageNotLoaded(people)" ng-if="!people.noPicFlag" class="contact-img-wrapper" src="[[people.image]]" title="Email [[people.fullName]]"/>
                                                            <p>[[people.name]]</p>
                                                            <div data-ng-init="showDistances(people)">
                                                                <div class="clearfix distances" ng-if="people.distance" title="[[people.distance]] away from this meeting location">
                                                                    <div class="pull-left">
                                                                        <img src="/images/dashboard-icons/map-location.png">
                                                                    </div>
                                                                    <div class="pull-left">
                                                                        <p>[[people.distance]]</p>
                                                                        <p>[[people.time]]</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="more-contacts">
                                                        <button class="action text-buttons" ng-disabled="currentPage >= numberOfContactsToMeet/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="remove-from-calendar" ng-if="item.ifRelatasMailEvent && item.ifRelatasMailEventType !='losingTouch'&& item.ifRelatasMailEventType !='followUp'">
                                    <img title="Remove from Calendar" ng-click="editRelatasMailEvent('remove',item)" src="/images/dashboard-icons/remove_from_calendar.png"/>
                                    <img title="Move to another Slot" ng-mouseover="editRelatasMailEvent('move',item)" id="[[item.updateRelatasEvent]]" src="/images/dashboard-icons/reschedule.png"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="more-actions">-->
                        <!--+ Add Event-->
                    <!--</div>-->
                </div>
                <div class="col-md-4 margin-l20">
                    <div ng-if="sendEmailBoardToggle">
                        <div data-ng-include="'/todaySeries/sendMailToConnectActionBoard'"></div>
                    </div>
                    <!--<div ng-if="!showMeeting || !showEmail">-->
                        <!--<div data-ng-include="'/todaySeries/socialNews'"></div>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="action-board" ng-if="actionBoardToggle">
                <div ng-if="showMeeting">
                    <div data-ng-include="'/todaySeries/meetingView'"></div>
                </div>
                <div ng-if="showEmail">
                    <div data-ng-include="'/todaySeries/mailsToRespondActionBoard'"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class='refresh-data-widget' ng-controller="refresh_data" ng-show="!dataRefreshed">
    [[message]] <span data-ng-click="refreshData()" ng-show="!dataNoSync">Update now</span>
</div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        $("body").on('click', '#menu-toggle', function(e) {
            e.preventDefault();
            $(".overlay").show();
        });
        $(window).resize(function() {
            var scrollWidth = $(window).width();
            if (scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });
</script>
<!--<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>-->


<!--<script type="text/javascript" src="/javascripts/common/pathseg.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>-->
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>-->
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/dashboard3a.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script>
    $(document).ready(function() {
        $('.open-add-task').popover();
        $('[data-toggle="tooltip"]').tooltip()
        // var socket = io.connect('http://localhost:7000');

        $('.selectpicker').selectpicker({
            style: 'btn-primary width-45 margin0'
        });
    });
</script>
<script type="text/javascript" src="/javascripts/todaySeries/notifications.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/meetingView.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/mailsToRespond.js"></script>
</body>

</html>