<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Today's Agenda | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/dashboard3a.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <style>
        #sidebar-wrapper {
            margin-top: -10px !important;
        }

        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak>

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>
<div id="wrapper">
    <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
    </div>

    <div id="page-content-wrapper">
        <div class="profile-banner-grid-3a set-height">
            <div class="profile-banner-container" data-ng-controller="weather_and_today_coun">
                <img ng-src="[[image_top]]" alt="banner img" style="width: 100%;" class="img-responsive">
                <div class="time-zone-container-3a">
                    <div class="container-fluid clearfix">
                        <p>[[city_country_top]] &nbsp <span class="visible-md-lg">|</span></p>
                        <p>[[date_today_top]] &nbsp  <span class="visible-md-lg">|</span></p>
                        <p class="Temp-2C">Temp [[today_temp_min]] &nbsp/ &nbsp [[today_temp_max]]</p>
                        <!--<span class='pull-right'>[[today_tasks_count_top]]</span>-->
                        <!--<span class='pull-right'> &nbsp &nbsp &nbsp Tasks :</span>-->

                        <a href="/insights#responsePending?navigatedFrom=todayLanding" class="white-color">
                            <span class='pull-right underline action-card-links-xs'>[[emailResponsesPending]]</span>
                            <span class='pull-right' style="padding: 0 7px;">Your Response Pending </span>
                        </a>
                        <a href="/people/to/connect" class="white-color">
                            <span class='pull-right underline action-card-links-xs'>[[remindToConnectCount]]</span>
                            <span class='pull-right' style="padding: 0 7px;">Remind To Connect </span>
                        </a>
                        <a href="/today/landing" class="white-color">
                            <span class='pull-right underline action-card-links-xs'>[[today_meeting_count_top]]</span>
                            <span class='pull-right' style="padding: 0 7px;">Today's Meetings </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller='logedinUser' class="text-center">
            <p class="fs-18 margin-tb25">Hi <strong>[[userName]]!</strong> Here's how we can help you today</p>
        </div>
        <div ng-controller='todayCounts' class="container">

            <div class="updatingMessageWrapper" ng-if="showOverlay">
                <div class="overlay-top-message">
                    <h1><i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i> Please wait...we are updating your interactions.</h1>
                </div>
            </div>

            <div class="row margin-b25">
                <div class="col-md-3 col-md-offset-2 action-card-wrapper">
                    <h4>Stay connected</h4>
                    <div class="action-card-header">
                        <span ng-if="!haveInteractionsPast24Hours && contactsCount>0">While you were away from Relatas, you missed interacting with your contact(s). Let us help you improve that. </span>
                        <span ng-if="haveInteractionsPast24Hours && contactsCount>0">You did well connecting with most of your contact(s) yesterday. </span>
                        <span ng-if="contactsCount == 0">While you were away from Relatas, you missed interacting with your contact(s). Let us help you improve that. </span>
                    </div>
                    <div class="action-card-body">
                        <img ng-if="loader1" class="data-loader" src="/images/load_image.gif">
                        <div class="action-suggestion">
                            <span ng-if="losingTouch > 0 && contactsCount>0">Getting in touch with suggested contact(s) will help improve your Losing Touch by 10%.</span>
                            <span ng-if="losingTouch == 0 && uniqueContacts >0 && contactsCount>0"> Would you like us to remind you to re-connect after 7 days ?</span>
                            <span ng-if="losingTouch == 0 && uniqueContacts == 0 && contactsCount>0">Congrats ! You are in touch with most of your contacts.</span>
                        <span ng-if="contactsCount == 0">
                            Looks like you have no contacts associated with this email id. Pl. add/ import contacts to this Google email id.
                        </span>
                            <!--<br/>-->
                            <!--<span ng-if="uniqueContacts > 0">Congrats ! You connected <strong>[[uniqueContacts]]</strong> with unique contacts yesterday.</span>-->
                        </div>
                        <div ng-if="losingTouch > 0" class="action-card-links" ng-click="goToUrl('/insights/losing/touch/details')">
                            <span>[[losingTouch]]</span>
                        </div>
                        <div ng-if="losingTouch == 0 && uniqueContacts == 0" class="action-card-links">
                            <span>0</span>
                        </div>
                        <div ng-if="losingTouch == 0 && uniqueContacts > 0" class="action-card-links" ng-click='remind(1)'>
                            <span >Yes</span>
                        </div>
                        <div ng-if="losingTouch == 0 && uniqueContacts == 0 && contactsCount>0 " class="action-card-links" ng-click="goToUrl('/insights/losing/touch/details')">
                            <span>0</span>
                        </div>
                    </div>
                    <div  ng-if="losingTouch > 0 && contactsCount>0" class="action-card-footer" ng-click="goToUrl('/insights/losing/touch/details')">
                        Stay in touch
                    </div>
                    <div  ng-if="contactsCount == 0" class="action-card-footer" ng-click="goToUrl(addContacts)">
                        add Contacts
                    </div>
                    <div ng-if="losingTouch == 0 && contactsCount>0" class="action-card-footer" ng-click='remind(1)'>
                        <span ng-if='uniqueContacts > 0'>Remind to connect</span>
                        <span ng-if='uniqueContacts == 0'>You are all set</span>
                    </div>
                </div>
                <div class="col-md-3 action-card-wrapper">
                    <h4>Improve your Revenue</h4>
                    <div class="action-card-header">
                        <span ng-if="havePipelineValues">You are working hard to meet your target. Your current Revenue at Risk is [[revenueAtRiskPercentage]].</span>
                        <span ng-if="!havePipelineValues">Looks like you have not updated the contacts $ value. Please update so that we can improve your Revenue at Risk.</span>
                    </div>
                    <div class="action-card-body">
                        <img ng-if="loader2" class="data-loader" src="/images/load_image.gif">
                        <div class="action-suggestion">
                            <span ng-if="!havePipelineValues">Relatas can help reduce Revenue at Risk by  30%.</span>
                            <p ng-if="valueAtRiskContacts > 0">Following up with suggested contact(s) will improve your Revenue at Risk by 10%.</p>
                            <span class="fs-14" ng-if="valueAtRiskContacts == 0 && havePipelineValues">Congrats ! Your Revenue is not at Risk.</span>
                            <!--<br/>-->
                            <!--<span ng-if="impactContacts > 0">Congrats ! <br>You connected with [[impactContacts]] high impact contact(s) yesterday.</span>-->
                        </div>

                        <div class="action-card-links" ng-click="goToUrl('/insights/revenue/risk/details')">
                            <span>[[valueAtRiskContacts]]</span>
                        </div>
                    </div>
                    <div class="action-card-footer" ng-click="goToUrl('/insights/revenue/risk/details')">
                        <span ng-if="!havePipelineValues">SET UP $ VALUE</span>
                        <span ng-if="havePipelineValues">follow up</span>
                    </div>
                </div>
                <div class="col-md-3 action-card-wrapper">
                    <h4>Generate new leads</h4>
                    <div class="action-card-header">
                    <span ng-if='contactsInteractedForFirstTime == 0 && interactionsCount > 0'>Looks like you were busy yesterday.<br>
                        You missed connecting with anyone new.</span>
                        <span ng-if='contactsInteractedForFirstTime != 0 && interactionsCount > 0'>Looks like you were busy interacting yesterday.</span>
                        <span ng-if='interactionsCount == 0'>You haven't interacted with anyone in the past 90 days.</span>
                    </div>
                    <div class="action-card-body">
                        <div ng-if="!extendedNetwork && !sevenDaysInteraction && interactionsCount != 0 && contactsWithAccountsCount < 100" class="text-center">
                            <img class="data-loader" src="/images/load_image.gif">
                        </div>
                        <div ng-if="extendedNetwork > 0 && interactionsCount > 0 && contactsWithAccountsCount < 100" class="action-suggestion">
                            <p>Here are few recommended contact(s) to connect with today.</p>
                        </div>
                        <div ng-if="contactsWithAccountsCount > 100" class="action-suggestion">
                            <p>Here are few recommended contact(s) to connect with today.</p>
                        </div>
                        <div ng-if="extendedNetwork == 0 && interactionsCount > 0 && sevenDaysInteraction" class="action-suggestion">
                            <p>We couldn't find any contacts to recommend today. Would you like us to remind you to connect with the ones you interacted in past 7 days?</p>
                        </div>
                        <div ng-if="interactionsCount == 0" class="action-suggestion">
                            <p>You have no contacts associated with this email id. Pl. add/ import contacts to this email ID.</p>
                        </div>
                        <div ng-if="extendedNetwork > 0 && interactionsCount > 0 && contactsWithAccountsCount < 100" class="action-card-links" ng-click="goToUrl(urlForExtendedNetwork)">
                            <span>[[extendedNetwork]]</span>
                        </div>
                        <div ng-if="contactsWithAccountsCount > 100" class="action-card-links" ng-click="goToUrl(urlForExtendedNetwork)">
                            <span>10</span>
                        </div>
                        <div ng-if="extendedNetwork == 0 && interactionsCount > 0" class="action-card-links" ng-click="remind(7)">
                            <span>Yes</span>
                        </div>
                    </div>
                    <div ng-if="extendedNetwork > 0 && interactionsCount > 0 && contactsWithAccountsCount < 100" class="action-card-footer" ng-click="goToUrl(urlForExtendedNetwork)">
                        connect today
                    </div>
                    <div ng-if="contactsWithAccountsCount > 100" class="action-card-footer" ng-click="goToUrl(urlForExtendedNetwork)">
                        connect today
                    </div>
                    <div ng-if="extendedNetwork == 0 && interactionsCount > 0" class="action-card-footer" ng-click="remind(7)">
                        remind to connect
                    </div>
                    <div ng-if="interactionsCount == 0" class="action-card-footer" ng-click="goToUrl(addContacts)">
                        add Contacts
                    </div>
                </div>
            </div>

            <!--<div class="col-md-8 col-md-offset-2">-->
            <!--<div class="row action-cards" ng-click="goToUrl('/insights/losing/touch/details')">-->
            <!--<div class='col-md-2 col-sm-6'>-->
            <!--<div class="action-card-v-align">-->
            <!--<p>Help you stay connected?</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8 col-sm-6">-->
            <!--<div class="action-card-v-align left-35">-->
            <!--<p class="fs-14">-->
            <!--<span ng-if="losingTouch > 0">Getting in touch with <span class='link underline font-20'>[[losingTouch]]</span> contacts today will improve your Losing Touch 10%.</span>-->
            <!--<span ng-if="losingTouch == 0">You are not Losing Touch with anyone.</span>-->
            <!--<br/>-->
            <!--<span ng-if="uniqueContacts > 0">Congrats ! You connected with [[uniqueContacts]] unique contacts yesterday.</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2 col-sm-6 action-card-r-numbers">-->
            <!--[[losingTouch]]-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row action-cards" ng-click="goToUrl('/insights/company/relatationship/risk/details')">-->
            <!--<div class='col-md-2'>-->
            <!--<div class="action-card-v-align">-->
            <!--<p>Improve your<br class="visible-md-block visible-lg-block">Revenue at Risk?</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
            <!--<div class="action-card-v-align left-35">-->
            <!--<p class="fs-14">-->
            <!--<span ng-if="revenueRiskContact > 0">Following up with <a href='/insights/revenue/risk/details' class='link underline'>[[revenueRiskContact]]</a> contacts will improve your Revenue at Risk 10%.</span>-->
            <!--<span class="fs-14" ng-if="revenueRiskContact == 0">Your Revenue is not at Risk</span>-->
            <!--<br/>-->
            <!--<span ng-if="impactContacts > 0">Congrats ! You connected with [[impactContacts]] high impact contacts yesterday.</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2 action-card-r-numbers">-->
            <!--[[revenueRiskContact]]-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row action-cards">-->
            <!--<div class='col-md-2' ng-click="goToUrl('/insights/company/relatationship/risk/details')">-->
            <!--<div class="action-card-v-align">-->
            <!--<p ng-if='contactsInteractedForFirstTime == 0'>Generate new<br class="visible-md-block visible-lg-block">leads?</p>-->
            <!--<p ng-if='contactsInteractedForFirstTime != 0'>Stay Connected?</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8" ng-click="goToUrl('/insights/company/relatationship/risk/details')">-->
            <!--<div class="action-card-v-align left-35">-->
            <!--<p class="fs-14" ng-if='contactsInteractedForFirstTime != 0'>You interacted with [[contactsInteractedForFirstTime]] contacts for the first time yesterday.-->
            <!--<br/> Would you like us to remind you to re-connect after 7 days ?</p>-->
            <!--<p class="fs-14" ng-if='contactsInteractedForFirstTime == 0'>Looks like you were busy yesterday.-->
            <!--You missed connecting with anyone new.-->
            <!--<span ng-if="extendedNetwork > 0"><br/> Here are few recommended contacts to connect with today.</span></p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2 action-card-r-numbers">-->
            <!--<p class='right-box-text' style="cursor:pointer;fornt-size:35px;font-weight: 100;" ng-click='remind()' ng-if='contactsInteractedForFirstTime != 0'>Yes</p>-->
            <!--<a href='/insights/company/relationship/risk/details'>-->
            <!--<p class='right-box-text underline' ng-click='remind()' ng-if='contactsInteractedForFirstTime == 0'>[[extendedNetwork]]</p>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        $("body").on('click', '#menu-toggle', function(e) {
            e.preventDefault();
            $(".overlay").show();
        });
        $(window).resize(function() {
            var scrollWidth = $(window).width();
            if (scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });
</script>
<!--<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>-->
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<!--<script type="text/javascript" src="/javascripts/common/createTask.js"></script>-->
<script type="text/javascript" src="/javascripts/todaySeries/notifications.js"></script>
<script>
    $(document).ready(function() {
        $('.open-add-task').popover();
        $('[data-toggle="tooltip"]').tooltip()
        // var socket = io.connect('http://localhost:7000');
    });
</script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-slick.min.js"></script>

</body>

</html>