
<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 remove-padding">
                    <div class="left-wrapper-container">
                        <div class="user-activity-container text-center">
                            <div class="aside-left text-left">
                                <div id="" data-ng-include="'/todaySeries/leftMeetingBar'"></div>
                            </div>
                            <div class="right-aside">
                                <div class="meeting-details-information text-left" data-ng-controller="meetingDetails">
                                    <div class="meeting-before-container" ng-show="meetingBeforeShow">
                                        <label class="meeting-after-before">MEETING BEFORE :</label>&nbsp
                                        <img src="[[meetingBeforePic]]" class="meeting-pic">&nbsp
                                        <span class="user-relationship">[[meetingBeforeTime]]</span>
                                        <img src="[[meetingBeforeLocationTypePic]]" alt="skype" class="skype-icons">
                                    </div>
                                    <div class="meeting-location-inner-container meeting-place-info">
                                        <h3>[[meetingTitle]]</h3>
                                        <p>Location</p>
                                        <label>[[MeetingLocation]]</label>
                                    </div>
                                    <div class="meeting-location-inner-container meeting-date-info">
                                        <div class="date-container" style="display: inline-block">
                                            <p>Date</p>
                                            <label>[[meetingDate]]</label>
                                        </div>
                                        <div class="time-container" style="display: inline-block">
                                            <p>Time</p>
                                            <label>[[meetingTime]]</label>
                                        </div>
                                        <p>Agenda</p>
                                        <label>[[meetingAgenda]]</label>
                                    </div>
                                    <div class="btn-container-for-upload">
                                        <a ng-show="meeting_download_ics" target="_blank" href="[[ics_url]]" class="btn-primary"><i class="fa fa-download"></i> &nbsp Download .ics</a>
                                        <label ng-show="meeting_upload_doc" class="btn-primary upload-document">
                                            <input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>
                                            Upload Document
                                        </label>

                                        <a ng-show="meeting_confirm" href="" class="btn-primary"><i class="fa fa-check"></i> &nbsp Confirm</a>
                                        <a ng-show="meeting_decline" href="" class="btn-primary"><i class="fa fa-times"></i> &nbsp Decline</a>
                                        <a ng-show="meeting_re_schedule" href="" class="btn-primary"><i class="fa fa-calendar-check-o"></i> &nbsp Re-schedule</a>
                                    </div>
                                    <div class="meeting-after-before-container" ng-show="meetingAfterShow">
                                        <label class="meeting-after-before">MEETING AFTER :</label>&nbsp
                                        <img src="[[meetingAfterPic]]" class="meeting-pic">&nbsp
                                        <span class="user-relationship">[[meetingAfterTime]]</span>
                                        <img src="[[meetingAfterLocationTypePic]]" alt="skype" class="skype-icons">
                                    </div>
                                </div>

                                <div class="meeting-participants-container" data-ng-controller="meetingParticipants">
                                    <p class="meeting-Participants-heading">Meeting Participants</p>
                                    <div class="tabset0" >
                                        <div data-pws-tab="anynameyouwant1" emailId="" data-pws-tab-name="<img src='/landing/img/user1.png'class='tab-user-images' ng-click='participantClick(null)'><p class='user-relationship'>Ramesh</p>" class="tab-container">
                                            <div class="participant-info meeting-details-informations text-left" style="display: inline-block;">
                                                <div class="text-left participant-user-designation">
                                                    <label>AVP sale,Fortic</label>
                                                    <p><i class="fa fa-map-marker fa-lg"></i>&nbsp Bangalore,India</p>
                                                    <p><i class="fa fa-phone fa-lg"></i>&nbsp +91 9919342638</p>
                                                    <p><i class="fa fa-envelope"></i>&nbsp ramesh@gmail.com</p>
                                                    <a href="" class="favourite"><i class="fa fa-star fa-lg"></i>&nbsp Favourite</a>
                                                </div>
                                            </div>
                                            <div style="display: inline-block;position: absolute">
                                                <div class="relationship-container">
                                                    <p>Relationship</p>
                                                    <a href="" class=""><i class="fa fa-user fa-lg"></i>&nbsp Customer</a>
                                                    <a href="" class=""><i class="fa fa-share-alt fa-lg"></i>&nbsp Prospect</a>
                                                    <a href="" class=""><i class="fa fa-usd fa-lg"></i>&nbsp Influencer</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                                <div class="connected-via-container">
                                                    <p>Connected Via</p>
                                                    <a href="" class=""> <i class="fa fa-facebook-official fa-lg"></i>&nbsp Facebook</a>
                                                    <a href="" class=""><i class="fa fa-linkedin-square fa-lg"></i>&nbsp Linkedin</a>
                                                    <a href="" class=""><i class="fa fa-twitter-square fa-lg"></i>&nbsp Twitter</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                            </div>
                                        </div>
                                        <div data-pws-tab="anynameyouwant2" data-pws-tab-name="<img src='/landing/img/user1.png' class='tab-user-images'><p class='user-relationship'>Ramesh</p>" class="tab-container">
                                            <div class="participant-info meeting-details-informations text-left" style="display: inline-block;">
                                                <div class="text-left participant-user-designation">
                                                    <label>AVP sale,Fortic</label>
                                                    <p><i class="fa fa-map-marker fa-lg"></i>&nbsp Bangalore,India</p>
                                                    <p><i class="fa fa-phone fa-lg"></i>&nbsp +91 9919342638</p>
                                                    <p><i class="fa fa-envelope"></i>&nbsp ramesh@gmail.com</p>
                                                    <a href="" class="favourite"><i class="fa fa-star fa-lg"></i>&nbsp Favourite</a>
                                                </div>
                                            </div>
                                            <div style="display: inline-block;position: absolute">
                                                <div class="relationship-container">
                                                    <p>Relationship</p>
                                                    <a href="" class=""><i class="fa fa-user fa-lg"></i>&nbsp Customer</a>
                                                    <a href="" class=""><i class="fa fa-share-alt fa-lg"></i>&nbsp Prospect</a>
                                                    <a href="" class=""><i class="fa fa-usd fa-lg"></i>&nbsp Influencer</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                                <div class="connected-via-container">
                                                    <p>Connected Via</p>
                                                    <a href="" class=""> <i class="fa fa-facebook-official fa-lg"></i>&nbsp Facebook</a>
                                                    <a href="" class=""><i class="fa fa-linkedin-square fa-lg"></i>&nbsp Linkedin</a>
                                                    <a href="" class=""><i class="fa fa-twitter-square fa-lg"></i>&nbsp Twitter</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                            </div>
                                        </div>
                                        <div data-pws-tab="anynameyouwant3" data-pws-tab-name="<img src='/landing/img/user1.png' class='tab-user-images'><p class='user-relationship'>Ramesh</p>" class="tab-container">
                                            <div class="participant-info meeting-details-informations text-left" style="display: inline-block;">
                                                <div class="text-left participant-user-designation">
                                                    <label>AVP sale,Fortic</label>
                                                    <p><i class="fa fa-map-marker fa-lg"></i>&nbsp Bangalore,India</p>
                                                    <p><i class="fa fa-phone fa-lg"></i>&nbsp +91 9919342638</p>
                                                    <p><i class="fa fa-envelope"></i>&nbsp ramesh@gmail.com</p>
                                                    <a href="" class="favourite"><i class="fa fa-star fa-lg"></i>&nbsp Favourite</a>
                                                </div>
                                            </div>
                                            <div style="display: inline-block;position: absolute">
                                                <div class="relationship-container">
                                                    <p>Relationship</p>
                                                    <a href="" class=""><i class="fa fa-user fa-lg"></i>&nbsp Customer</a>
                                                    <a href="" class=""><i class="fa fa-share-alt fa-lg"></i>&nbsp Prospect</a>
                                                    <a href="" class=""><i class="fa fa-usd fa-lg"></i>&nbsp Influencer</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                                <div class="connected-via-container">
                                                    <p>Connected Via</p>
                                                    <a href="" class=""> <i class="fa fa-facebook-official fa-lg"></i>&nbsp Facebook</a>
                                                    <a href="" class=""><i class="fa fa-linkedin-square fa-lg"></i>&nbsp Linkedin</a>
                                                    <a href="" class=""><i class="fa fa-twitter-square fa-lg"></i>&nbsp Twitter</a>
                                                </div>&nbsp &nbsp &nbsp &nbsp
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="interations-relationship-past-90-days text-left" data-ng-controller="participantPast90Days">
                                    <h3 class="text-center">Past 90 Days</h3>
                                    <div class="text-center interactions-initiations">
                                        <label>Interactions Initiations</label>
                                        <div>
                                            <div class="progress-pie-chart" data-percent="118">
                                                <div class="ppc-progress">
                                                    <div class="ppc-progress-fill"></div>
                                                </div>
                                                <div class="ppc-percents">
                                                    <div class="pcc-percents-wrapper">
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loading-bar-for-interaction text-center">
                                            <span class="loading-bar-for-interaction-number">100</span> &nbsp <span>You</span> &nbsp &nbsp &nbsp
                                            <span class="loading-bar-for-interaction-number2">42</span> &nbsp <span>Sudip</span>
                                        </div>
                                    </div>
                                    <div class="text-center relationship-strength">
                                        <label>Relationship Strength</label>
                                        <h2 class="i-color">51</h2>
                                        <div>
                                            <div style="background: red;display: inline-block">p</div>
                                            <div style="background: red;display: inline-block">p</div>
                                            <div style="background: red;display: inline-block">p</div>
                                            <div style="background: red;display: inline-block">p</div>
                                            <div style="background: red;display: inline-block">p</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="conmmon-connection-and-invite-member-container" data-ng-include="'/series/commonConnection&InviteMeeting'"></div>
                                <div class="invite-team-members" style="max-width: 768px;margin: auto">
                                    <span class="btn-primary btn-lg btn invite-team-members-btn" id="timeline-button">Timeline</span>
                                    <span class="btn-primary btn-lg btn invite-team-members-btn" id="social-button">social</span>
                                    <span class="btn-primary btn-lg btn invite-team-members-btn" id="files-button">files</span>
                                    <span class="btn-primary btn-lg btn invite-team-members-btn" id="task-button">Tasks</span>
                                    <div id="timeline1-sec" class="timeline1-sec text-left">
                                        <div class="l">
                                            <div class="last-interaction">
                                                <label>You last Interaction was on 14 Jul 2015</label>
                                            </div>
                                            <div class="send-email-btn text-right">
                                                <a href="" class="btn-primary" id="send-email"><i class="fa fa-envelope-o"></i> &nbsp; Send Email</a>
                                                <a href="" class="btn-primary"><i class="fa fa-download"></i> &nbsp; Schedule Meeting</a>
                                            </div>
                                        </div>

                                        <div class="compose-email-container" id="send-email-container">
                                            <label>Compose Email</label>
                                            <div class="form">
                                                <div>
                                                    <div style="display: inline-block;width: 480px">
                                                        <input type="text" placeholder="Subject :" class="form-control compose-text-box">
                                                    </div>
                                                    <div style="display: inline-block;width: 230px;position: absolute" class="text-right">
                                                        <label class="btn-primary upload-document attach-document" >
                                                            <input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>
                                                            Attach File
                                                        </label>
                                                        <label style="font-weight: 300;font-size: 14px;"><input type="checkbox"> &nbsp Enable tracking</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <textarea class="message-send form-control"></textarea>
                                                </div>
                                                <div style="padding: 10px">
                                                    <label style="font-weight: 300;font-size: 14px;"><input type="checkbox"> &nbspTrack when the email is viewed</label>
                                                    <label style="font-weight: 300;font-size: 14px;"><input type="checkbox"> &nbsp Remind me after 7 days if there is no response</label>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <input type="button" value="Cancel" class="cancel-message">
                                                <input type="button" value="Send Message" class="send-message">
                                            </div>
                                        </div>
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l facebook-info-details">
                                               <i class="fa fa fa-file fa-lg"></i>&nbsp ET-GPTW 2010:A challanging project ... gto the setup done in 75mins
                                               <a href="" class="btn-primary view-fb-btn">&nbsp; View</a>&nbsp
                                           </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <label class='timeline1-sec-dot'></label>&nbsp
                                            <span class="facebook-linkedin-twitter l linkedin-info-details">
                                               <i class="fa fa-envelope fa-lg"></i>&nbsp Physics & Digital Marketing- Part 2(Doppler Effect)
                                        <a href="" class="btn-primary view-btn-in">&nbsp; View Email</a>&nbsp
                                           </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5d</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l twitter-info-details">
                                               <i class="fa fa-check-square-o fa-lg"></i>&nbsp Netflix report earings after the bell. Here what you should know ->
                                            <a href="" class="btn-primary view-task-btn">&nbsp; View Task</a>&nbsp
                                           </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline1-sec text-left" id="social-sec">
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l facebook-info-details social-facebook-info-details">
                                               <i class="fa fa-facebook-official fa-lg"></i>&nbsp ET-GPTW 2010:A challanging project ... gto the setup done in 75mins
                                               </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <label class='timeline1-sec-dot'></label>&nbsp
                                            <span class="facebook-linkedin-twitter l linkedin-info-details social-linkedin-info-details">
                                               <i class="fa fa-linkedin-square fa-lg"></i>&nbsp Physics & Digital Marketing- Part 2(Doppler Effect)
                                           </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l twitter-info-details social-twitter-info-details">
                                               <i class="fa fa-twitter-square fa-lg"></i>&nbsp Netflix report earings after the bell. Here what you should know ->
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline1-sec text-left" id="files-sec">
                                        <div class="l text-right">
                                            <a href="" class="btn-primary"><i class="fa fa-download"></i> &nbsp; Upload Document</a>
                                        </div>
                                        <br/>
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l facebook-info-details">
                                               <i class="fa fa-file fa-lg"></i>&nbsp ET-GPTW 2010:A challanging project ... gto the setup done in 75mins
                                               <a href="" class="btn-primary view-fb-btn">&nbsp; View</a>&nbsp
                                           </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <label class='timeline1-sec-dot'></label>&nbsp
                                            <span class="facebook-linkedin-twitter l linkedin-info-details">
                                               <i class="fa fa-file fa-lg"></i>&nbsp Physics & Digital Marketing- Part 2(Doppler Effect)
                                        <a href="" class="btn-primary view-btn-in">&nbsp; View Stats</a>&nbsp
                                           </span>
                                            </div>
                                        </div>

                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l twitter-info-details">
                                               <i class="fa fa-file fa-lg"></i>&nbsp Netflix report earings after the bell. Here what you should know ->
                                            <a href="" class="btn-primary view-task-btn">&nbsp; View Stats</a>&nbsp
                                           </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div style="display: inline-block" class="text-right">
                                                <p>5th</p>
                                                <p>10 Jul 2015</p>
                                            </div>
                                            <div class="" style="display: inline-block;position: absolute">
                                                <labe class='timeline1-sec-dot'></labe>
                                                &nbsp
                                            <span class="facebook-linkedin-twitter l twitter-info-details">
                                               <i class="fa fa-file fa-lg"></i>&nbsp Netflix report earings after the bell. Here what you should know ->
                                            <a href="" class="btn-primary view-task-btn">&nbsp; View Stats</a>&nbsp
                                           </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline1-sec text-left" id="tasks-sec"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function($){
        $('.tabset0').pwstabs({
            effect: 'none'
        });
        viewGraph();
        $('#timeline1-sec').show();
        $('#timeline-button').addClass('active');
        $('#timeline-button').click(function(){
            $('#timeline-button').addClass('active');
            $('#task-button').removeClass('active');
            $('#social-button').removeClass('active');
            $('#files-button').removeClass('active');
            $('#timeline1-sec').show();
            $('#social-sec').hide();
            $('#files-sec').hide();
            $('#tasks-sec').hide();
            $('#send-email-container').hide();
        })
        $('#social-button').click(function(){
            $('#timeline-button').removeClass('active');
            $('#task-button').removeClass('active');
            $('#social-button').addClass('active');
            $('#files-button').removeClass('active');
            $('#social-sec').show();
            $('#timeline1-sec').hide();
            $('#files-sec').hide();
            $('#tasks-sec').hide();
            $('#send-email-container').hide();
        })
        $('#files-button').click(function(){
            $('#files-button').addClass('active');
            $('#timeline-button').removeClass('active');
            $('#task-button').removeClass('active');
            $('#social-button').removeClass('active');
            $('#files-sec').show();
            $('#timeline1-sec').hide();
            $('#social-sec').hide();
            $('#tasks-sec').hide();
            $('#send-email-container').hide();

        })
        $('#task-button').click(function(){
            $('#timeline-button').removeClass('active');
            $('#task-button').addClass('active');
            $('#social-button').removeClass('active');
            $('#files-button').removeClass('active');
            $('#tasks-sec').show();
            $('#timeline1-sec').hide();
            $('#social-sec').hide();
            $('#files-sec').hide();
            $('#send-email-container').hide();
        })

        $('#send-email').click(function(){
            $('#send-email-container').show();
        })
    });
    function viewGraph(){
        $('.column').css('height','0');
        $('table tr').each(function(index) {
            var ha = $(this).children('td').eq(1).text();
            $('#col'+index).animate({height: ha}, 1500).html("<div>"+ha+"</div>");
        });
    }
    $(function(){
        var $ppc = $('.progress-pie-chart'),
                percent = parseInt($ppc.data('percent')),
                deg = 360*percent/100;
        if (percent > 50) {
            $ppc.addClass('gt-50');
        }
        $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
        $('.ppc-percents span').html(percent+'');
    });
</script>