
<!--Mixpanel not loading from parent template-->
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script>
    mixpanelEventTracker(".mTaskActionMidBar", "Action Tasks Mid Bar");
    mixpanelEventTracker(".mAddedTask", "Added a Task from Mid Bar");
    mixpanelEventTracker(".mAddTaskMidBar", "Adding Task Mid Bar");

</script>

<div class="left-aside-for-user-meeting" >
        <div style="font-size: 20px;background-color: #fff;padding: 9px;">Your Schedule</div>
    <div class="today-meeting-details">
        <div class="heading-container" style="height: 35px;">
            <label>Today upcoming</label>
            <!--<input type="button" value="Add" ng-click="goToCalendar()" class="btn btn-primary add-btn pull-right" style="width:30px;font-size:10px;padding:4px;">&nbsp-->
        </div>
        <div class="message-infotion">[[noConfirmedMeetingsMessage]]</div>
        <div class="user-meeting-list [[todayMeeting.className]]" ng-repeat="todayMeeting in todayMeetings">
            <div class="user-meeting-profile-container" style="">
                <img ng-if="!todayMeeting.noPicFlag" class="user-meeting-profile" src="[[todayMeeting.picUrl]]" title="[[todayMeeting.name]]" imageonload="imageNotLoaded(todayMeeting)">
                <span ng-if="todayMeeting.noPicFlag"><span class="image-placeholder-medium-text60" title="[[todayMeeting.name]]" style="display: block;text-align: center;">[[todayMeeting.nameNoImg]]</span></span>

            </div>
            <a ng-href="[[todayMeeting.url]]">
                <div class="user-meeting-label">
                    <label class="cursor-pointer">[[todayMeeting.name]] <i ng-show="todayMeeting.moreParticipatsShow" class="fa fa-plus-circle"></i></label>
                    <p class="cursor-pointer">[[todayMeeting.start]] - [[todayMeeting.end]]</p>
                    <p class="cursor-pointer">[[todayMeeting.title]]</p>
                </div>
                     <span class="next-arw">
                         <i class="fa fa-chevron-right green-color" style="width:10px;height:17px;font-size: 17px;"></i>
                </span>
            </a>
        </div>

    </div>
        <div class="today-meeting-details">
            <div class="heading-container">
                <label>New Invitations</label>
            </div>
            <div class="message-infotion ">[[noNewInvitationsMessage]]</div>
            <div class="user-meeting-list [[newMeeting.className]]" ng-repeat="newMeeting in newMeetings" id="newMeetingList">
                <div class="user-meeting-profile-container" style="">
                    <img ng-if="!newMeeting.noPicFlag" class="user-meeting-profile" src="[[newMeeting.picUrl]]" title="[[newMeeting.name]]" imageonload="imageNotLoaded(newMeeting)">
                    <span ng-if="newMeeting.noPicFlag"><span class="image-placeholder-medium-text60" title="[[newMeeting.name]]" style="display: block;text-align: center;">[[newMeeting.nameNoImg]]</span></span>
                </div>
                <a ng-href="[[newMeeting.url]]">
                    <div class="user-meeting-label">
                        <label class="cursor-pointer">[[newMeeting.name]] <i ng-show="newMeeting.moreParticipatsShow" class="fa fa-plus-circle"></i></label>
                        <label class="cursor-pointer normal fs-12">[[newMeeting.date]]</label>

                        <p class="cursor-pointer">[[newMeeting.start]] - [[newMeeting.end]]</p>
                        <p class="cursor-pointer">[[newMeeting.title]]</p>
                    </div>
                    <span class="next-arw">
                         <i class="fa fa-chevron-right green-color" style="width:10px;height:17px;font-size: 17px;"></i>

                </span>
                </a>
            </div>
        </div>
<!--
Hiding Tasks
    <div class="today-meeting-details" data-ng-controller="add_task_middlebar">

            <div class="heading-container">
                <label>Task &nbsp &nbsp &nbsp</label>

                <input type="button" value="Add" class="btn btn-primary add-btn open-add-task pull-right mAddTaskMidBar" style="width:30px;font-size:10px;padding:4px;">
            </div>
                <div class="add-task-landing clearfix">
                    <div class="row margin0">
                        <div class="col-sm-3 padding0">

                            <label>Assign to</label>
                        </div>
                        <div class="col-sm-9 padding0">

                            <input tabindex="1" placeholder="Add a contact" type="text" ng-enter="fetchContacts(searchContactAssignTask)" ng-change="fetchContactsOnChange(searchContactAssignTask)" ng-model="searchContactAssignTask" id="searchContactAssignTask" class="form-control input-search-xs"/>
                            <ul class="search-results">
                                <li class="typeahead" ng-repeat="user in contactsList" ng-click="selectContactTask(user.userId,user.emailId,user.fullName)"> <span class="center">[[user.fullName]]</span>

                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="row margin0">
                        <div class="col-sm-3 padding0 ">

                            <label>Action Item</label>
                        </div>
                        <div class="col-sm-9 padding0">
                            <input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>
                        </div>

                    </div>
                    <div class="row margin0">
                        <div class="col-sm-3 padding0">

                            <label>Description</label>
                        </div>
                        <div class="col-sm-9 padding0">
                            <textarea ng-model="taskDescription" id="taskDescription" class="form-control" rows="3" tabindex="2" placeholder="Description" style="height: 175px !important;"></textarea>
                        </div>

                    </div>
                    <div class="row margin0">
                        <div class="col-sm-3 padding0">

                            <label>Due Date</label>
                        </div>

                        <div class="col-sm-9 padding0">
                            <input tabindex="3" type="text" id="dueDate_add_task_middlebar" class="form-control input-arrow-task" placeholder="Date & Time"/>

                    </div>
                    <div class="text-right">
                        <input type="button" ng-click="closePopup()" value="Close" class="btn-primary open-add-task" tabindex="5">
                        <input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary mAddedTask re-schedule-button" tabindex="4">

                    </div>
                </div>

            </div>
            <div class="user-tasks-list" ng-repeat="(key, values) in tasks">

                <div class="user-task-profile-container">
                    <img class="user-task-profile" ng-src="[[values.picUrl]]">
                </div>
                <div class="user-task-label">
                    <div class="checkbox" ng-repeat="value in values.items">
                        <input type="checkbox" class="mTaskActionMidBar" id="check1" ng-model="value.status" ng-disabled="!value.updateTaskStatus" ng-change="updateTaskStatus(value.taskId,value.status)">
                        <label for="check1" class="mTaskActionMidBar" ng-click="goToUrl([[value.url]])">
                            [[value.taskName]]
                        </label>

                    </div>
                </div>
            </div>
            <div class="message-infotion">[[noTasksMessage]]</div>
        </div>

    -->

        <div class="today-meeting-details">
            <div class="heading-container">
                <label>Upcoming</label>
            </div>
            <div class="message-infotion">[[noUpcomingMeetingsMessage]]</div>
            <div ng-repeat="upcomingMeeting in upcomingMeetings">
                <label class="date-month">[[upcomingMeeting.dateText]]</label>
                <div class="user-meeting-list [[meeting.className]]" ng-repeat="meeting in upcomingMeeting.meetings">
                    <div class="user-meeting-profile-container" style="">
                        <img ng-if="!meeting.noPicFlag" class="user-meeting-profile" src="[[meeting.picUrl]]" title="[[meeting.name]]" imageonload="imageNotLoaded(meeting)">
                        <span ng-if="meeting.noPicFlag"><span class="image-placeholder-medium-text60" title="[[meeting.name]]" style="display: block;text-align: center;">[[meeting.nameNoImg]]</span></span>

                    </div>
                    <a ng-href="[[meeting.url]]">
                        <div class="user-meeting-label" >
                            <label class="cursor-pointer">[[meeting.name]] <i ng-show="meeting.moreParticipatsShow" class="fa fa-plus-circle"></i></label>
                            <p class="cursor-pointer">[[meeting.start]] - [[meeting.end]]</p>
                            <p class="cursor-pointer">[[meeting.title]]</p>
                        </div>
                        <span class="next-arw">
                         <i class="fa fa-chevron-right green-color" style="width:10px;height:17px;font-size: 17px;"></i>

                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
