<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">

    <!-- <div data-ng-init="showLosingTouch = false> -->
    <div>
        <div class="row travelling-to">
            <div class="ttl-info padding0 clearfix" ng-click="toggleVisibility('losingTouch')">
                <h5 class="bold pull-left" style="cursor:pointer" title="These are the contacts you are losing touch with. Relatas recommends you to connect with them. The ones with Red circle are your important contacts. Click on the profile to see the pre-drafted ready for you to send.">
                    Losing Touch
                </h5>
                <i class="fa fa-angle-down collapse-icon pull-right" aria-hidden="true"></i>
            </div>
            <div class="ttlButtons padding0 losing-touch-data" ng-show="showLosingTouch">
                <div ng-show="!noLosingTouchContactsText">
                    <div class="more-contacts">
                        <button class="action text-buttons left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;resetSelection()"> <i class="fa fa-angle-left"></i> </button>
                    </div>
                    <div class="meeting-fu-contacts [[item.favoriteClass]] [[item.selectedClass]]" ng-repeat="item in contactsLosingTouch | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="openEmailForm(item,$index)" ng-class="{'contact-clicked': $index === contactSelected}">
    
                        <!--<i ng-show ='item.favoriteClass' class="fa fa-star"></i>-->
                        <img ng-if="!item.noPicFlag && !item.isMore" src="[[item.image]]" title="Email [[item.fullName]]" class="contact-image" imageonload="imageNotLoaded(item)">
                        <span ng-if="item.noPicFlag && !item.isMore" title="Email [[item.fullName]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                        <p ng-if="!item.isMore">[[item.name]]</p>
                        <p ng-if="!item.isMore">[[item.company]]</p>
    
                        <!-- <h5 ng-if="item.isMore" class="cursor text-center bold green-color" style="margin-top: 15px;">See All</h5> -->
                    </div>
                    <div class="more-contacts">
                        <button class="action text-buttons right" ng-disabled="currentPage >= numberOfContactsLosingTouch/pageSize - 1" ng-click="currentPage=currentPage+1;resetSelection()"> <i class="fa fa-angle-right"></i> </button>
                    </div>
                </div>
                <div class="today-insight-no-data-text" ng-show="noLosingTouchContactsText">
                    <p>Super networker. You are in touch with all your contacts</p>
                </div>
            </div>
            <!--<h5 class="cursor text-center bold green-color load-all-btn-rt" ng-click="openLink('/insights/losing/touch/details')">See All</h5>-->
        </div>

</div>