<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">
    <div data-ng-init="fetchModule('followUp')">
        <div class="row mails-to-respond">
            <div class="col-md-10 col-md-offset-2 padding0">
                <div class="row email-action cursor" ng-repeat="item in responsePending track by $index" ng-click="openMail(item)">
                    <div class="col-md-4 padding0">
                        <div class="pull-left participant clearfix">
                            <div class="pull-left">
                                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                            </div>
                            <div class="pull-left">
                                <label>[[item.name]]</label>
                                <p>[[item.company]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p>
                            [[item.subject]]
                        </p>
                    </div>

                    <div class="email-action-item-hover-wrapper">
                        <ul class="list-unstyled">
                            <li title="Ignore Mail"><img src="/images/dashboard-icons/ignore.png"></li>
                            <li title="Reply to Mail" ng-click="replyToThisMail(item)"><i class="fa fa-mail-reply green-color"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>