
<div class="action-board-wrapper sleaker-board">
    <div data-ng-controller="mailsActionBoardController" class="clearfix">
        <div class="action-bar-data-loading" ng-if="!dataLoaded">
            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
        </div>

        <div class="close-only-xs clearfix">
            <div class="pull-right cursor" data-ng-click="closeModal()">
                X
            </div>
        </div>
        <div class="contact-profile">
            <div class="clearfix">
                <div class="pull-left image" style="padding: 0;" ng-click="goToContact(mailDetails.emailId,mailDetails.mobileNumber)">
                    <img ng-if="!mailDetails.noPicFlag" src="[[mailDetails.image]]" alt="[[mailDetails.nameNoImg]]" title="[[mailDetails.fullName]], [[mailDetails.emailId]]"/>
                    <span ng-if="mailDetails.noPicFlag"><span title="[[mailDetails.fullName]], [[mailDetails.emailId]]" class="contact-no-image">[[mailDetails.nameNoImg]]</span></span>
                </div>
                <div class="pull-left profile">
                    <p class="margin0">[[mailDetails.fullName]]</p>
                    <p ng-show="!mailDetails.hideEmailId">[[mailDetails.emailId]]</p>
                </div>
                <div class="pull-right clearfix">
                    <div>
                        <span ng-show="mailDetails.sentiment">Sentiment: <span class="[[mailDetails.sentimentClass]]">[[mailDetails.sentiment]]</span></span>
                    </div>
                    <div>
                        <span>[[mailDetails.dateFormatted2]]</span>
                    </div>
                </div>
            </div>

            <div ng-show = "mailDetails.to.length>0" class="cc-to">
                <strong>To: </strong>
                <span ng-repeat="el in mailDetails.to">
                    <span title="[[el.contact.personEmailId]]">
                        [[el.contact.personName]]<span ng-show="$index+1 < mailDetails.to.length">, </span>
                    </span>
                </span>
            </div>
            <div ng-show = "mailDetails.cc.length>0" class="cc-to">
                <strong>Cc: </strong>
                <span ng-repeat="el in mailDetails.cc">
                    <span title="[[el.contact.personEmailId]]">
                        [[el.contact.personName]]<span ng-show="$index+1 < mailDetails.cc.length">, </span>
                    </span>
                </span>
            </div>
        </div>

        <div class="clearfix">
            <div class="pull-left" style="max-width: 57.7%;">
                <strong>Subject: </strong>
                [[mailDetails.subject]]
            </div>
            <div class="pull-right">
                <div class="react-to-mail clearfix">
                    <ul class="list-unstyled">
                        <!--<li ng-show="mailDetails.mailSummaryExist"> <button class="btn btn-green" ng-click="readOriginalMail(mailDetails)">[[summaryOrFull]]</button></li>-->
                        <li title="Mark this mail as Not Important" ng-click="ignoreInsight(mailDetails)" class="btn btn-green">[[ignoreType]]</li>
                        <li title="[[replyStatus]]" ng-click="isReplyFormOpenFun(replyStatus)" class="btn btn-green">[[replyStatus]]</li>
                        <li title="[[replyAllStatus]]" ng-click="isReplyAllFormOpenFun(replyAllStatus)" class="btn btn-green">[[replyAllStatus]]</li>
                        <!--<li title="[[forwardStatus]]" ng-click="isForwardAllFormOpenFun(forwardStatus)" class="btn btn-green">[[forwardStatus]]</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="email-form margin-top5 clearfix ver-2 flash-bg" ng-show="isReplyFormOpen">
            <p class="cursor padding0" data-ng-click="openCCItem = !openCCItem">Add CC</p>
            <div class="form" ng-show="openCCItem">
                <div class="row margin0">
                    <div class="relativec cc">
                        <div>
                            <input ng-model="email_cc" type="text" class="compose-text-box" ng-change="searchContacts(email_cc,'cc')">
                        </div>
                        <ul class="list-unstyled email-id-cc">
                            <li ng-repeat="item in add_cc track by $index" ng-click=removeCC(item)>[[item]]</li>
                        </ul>
                        <div class="search-box-wrapper clearfix" ng-show="showResultscc">
                            <div ng-repeat="item in ccs track by $index" class="clearfix">
                                <div class="clearfix cursor" ng-click="addCCToList(item)">
                                    <div class="pull-left relative">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <div class="pull-left">
                                        <p class="margin0">[[item.name]]</p>
                                        <p class="margin0">[[item.emailId]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <textarea ng-model="replyContent"></textarea>
            <div class="btn btn-primary" ng-click="replyToMail(mailDetails,replyContent,bodyContent)">Send</div>
        </div>
        <div class="mail-summary">
            <div class="mail-body">
                <div class="mail-body-remove-css [[mailDetails.sentimentClassBorder]]" ng-bind-html="bodyContent" ng-show="!mailDetails.showSummary"></div>
                <!--<div ng-show="mailDetails.showSummary">-->
                    <!--<h5>Mail Summary</h5>-->
                    <!--[[mailDetails.summary]]-->
                <!--</div>-->
            </div>
        </div>
        <div class="email-interactions clearfix">
            <h5>Previous Interactions</h5>
            <div ng-repeat="item in timelineItems | startFrom:currentPageInteractions*pageSizeInteractions | limitTo:pageSizeInteractions" class="row">
                <div class="col-xs-2 text-right padding0">
                    <p class="time-info-details lite">[[item.duration]]</p>
                    <p class="time-info-details bold">[[item.dateText]]</p>
                </div>
                <!--<div class="col-xs-9" style="[[item.dataObj.itemPointer]]">-->
                <div class="col-xs-9">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter relative clearfix">

                        <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                        <span class="pos-abs-action-type-4series [[item.interactionInitClass]]">
                            <i class="[[item.actionType]] rotate-45"></i>
                        </span>
                        <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></span>
                        <span class="email-read" style="display: block;float: left;margin-top: -10px;margin-left: 40px;" ng-show="item.callDuration">[[item.callDuration]]</span>
                        <div ng-show="item.emailRead" class="email-read" style="float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                    </div>
                </div>
                <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                    <hr style="margin-top: 0;">
                    <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                    </div>
                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                </div>
                <div id="[[item.dataObj.bindHtmlKey]]">

                </div>
            </div>
            <div class="clearfix" ng-if="showMoreInteractions">
                <div class="pull-right">
                    <span class="green-color fs-12 underline cursor" style="margin-right: 10px;" ng-click="viewAllInteractions(mailDetails.emailId)">
                        View All <i class="fs-14 fa fa-angle-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" data-ng-controller="common_connections">
                <div class="common-connections">
                    <h5>Common Connections ([[totalNumberCC]])</h5>

                    <div class="more-contacts">
                        <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                    </div>
                    <div ng-repeat="item in cConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                        <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                        <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                        <p>
                            [[item.fullName]]
                        </p>
                    </div>
                    <div class="more-contacts">
                        <button class="action text-buttons" ng-disabled="currentPage >= numberOfContacts/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-controller="team_connections">
                <div class="common-connections">
                    <h5>Team Connections ([[totalTeamConnections]])</h5>
                    <div class="more-contacts" ng-if="totalTeamConnections>0">
                        <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                    </div>
                    <div ng-repeat="item in teamcConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                        <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                        <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                        <p>
                            [[item.fullName]]
                        </p>
                    </div>
                    <div class="more-contacts" ng-if="totalTeamConnections>0">
                        <button class="action text-buttons" ng-disabled="currentPage >= numberOfteamcConnections/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left">

            <div class="row">
                <div class="col-md-6">
                    <div class="initiations-interactions">
                        <h5>Interaction (Past 30 Days)</h5>
                        <!--<img ng-if="!dataLoaded" class="data-loader" src="/images/load_image.gif">-->
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="donut-wrapper">
                                        <canvas id="[[donutChartId]]"> Your browser does not support Charts. Please update here.</canvas>
                                        <div class="donut-num">
                                            [[interaction_initiations_total]]
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" style="padding-left: 0;padding-right: 0;">
                                    <div class="interactions-init" style="padding-top: 15%;">
                                        <div class="row ">
                                            <div class="col-xs-1 orange-bg">
                                                <span>[[interaction_initiations_you]]</span>
                                            </div>
                                            <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;">
                                                You
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-xs-1 orange-off-bg">
                                                <span>[[interaction_initiations_other]]</span>
                                            </div>
                                            <div class="col-xs-9" style="line-height: 35px;margin-left: -10px;max-height: 45px;overflow:hidden;" title="[[interaction_initiations_other_name_full]]">
                                                [[interaction_initiations_other_name]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="strength-relationship">
                        <h5>Relationship Strength</h5>
                        <div class="row text-center score">
                            <div class="orange-color" style="font-size:22px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                        </div>
                        <div class="row">
                            <ul class="graph">
                                <li>
                    <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                        <p class="values-top">[[interactionsByType.a.count]]</p>
                    </span></li>
                                <li>
                    <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                        <p class="values-top">[[interactionsByType.b.count]]</p>
                    </span></li>
                                <li>
                    <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                        <p class="values-top">[[interactionsByType.c.count]]</p>
                    </span></li>
                                <li>
                    <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                        <p class="values-top">[[interactionsByType.d.count]]</p>
                    </span></li>
                                <!--<li>-->
                                <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                                <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                                <!--</span></li>-->
                                <li>
                                <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                                    <p class="values-top">[[interactionsByType.f.count]]</p>
                                </span>
                                </li>
                                <!--<li>-->
                                <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                                <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                                <!--</span></li>-->
                            </ul>
                            <ul class="graph-icons">
                                <li><i class="fa fa-calendar-check-o green-color"></i></li>
                                <li><i class="fa fa-phone green-color"></i></li>
                                <li><i class="fa fa-reorder green-color"></i></li>
                                <li><i class="fa fa-envelope green-color"></i></li>
                                <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                                <li><i class="fa fa-twitter-square twitter-color "></i></li>
                                <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>