<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">

    <div data-ng-init="fetchModule('responsePendingAndImportant')">
        <div ng-show="loadingMailsToRespond" class="loading-contacts load-md">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>
        <div class="row mails-to-respond">
            <div class="col-md-10 col-md-offset-2 padding0">

                <div class="row insights-box padding-tp0">
                    <div class="col-md-4 clearfix" ng-show="!loadingMailsToRespond" data-ng-click="goto('important')">
                        <div class="box clearfix" style="border-left: 3px solid #3186bb;">
                            <h4>Important</h4>
                            <p>[[numberOfImportant]]</p>
                        </div>
                    </div>
                    <div class="col-md-4" data-ng-click="goto('rp')" ng-show="!loadingMailsToRespond">
                        <div class="box clearfix" style="border-left: 3px solid #85c1d6;">
                            <h4>Only to Me</h4>
                            <p>[[onlyToMe]]</p>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="!loadingMailsToRespond" data-ng-click="goto('fu')">
                        <div class="box clearfix"  style="border-left: 3px solid #aaa;">
                            <h4>Follow Up</h4>
                            <p>[[numberOfFollowUp]]</p>
                        </div>
                    </div>
                </div>
                <!--<h5 ng-click="loadAllResponsePending('responsePendingAndImportant')" class="cursor text-center bold green-color load-all-btn" ng-if="!notLoadAllRP && numberOfResponsesPending>3">-->
                    <!--[[numberOfResponsesPending]] <span>+</span>-->
                <!--</h5>-->

                <!--<h5 ng-click="loadAllResponsePending('responsePendingAndImportant')" class="cursor text-center bold green-color load-all-btn">-->
                    <!--See All-->
                <!--</h5>-->

                <!--<div class="vertical-button-wrapper" ng-click="resetSelection()">-->
                    <!--<button class="action text-buttons left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-up"></i> </button>-->
                    <!--<button class="action text-buttons right" ng-disabled="currentPage >= numberOfResponsesPending/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-down"></i> </button>-->
                <!--</div>-->
            </div>
            <!--<div class="col-md-10 col-md-offset-2 padding0">-->
                <!--<div class="row email-action" ng-repeat="item in responsePending | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="replyToThisMail(item)" ng-class="{'contact-clicked': $index === mailSelected}">-->
                    <!--<div ng-click="replyToThisMail(item,'mailResponsePending',$index)">-->
                        <!--<div class="col-md-5 padding0">-->
                            <!--<div class="pull-left participant clearfix">-->
                                <!--<div class="pull-left">-->
                                    <!--<img ng-if="!item.noPicFlag" src="[[item.image]]" title="Email [[item.fullName]]" class="contact-image" imageonload="imageNotLoaded(item)">-->
                                    <!--<span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>-->
                                <!--</div>-->
                                <!--<div class="pull-left">-->
                                    <!--<label>[[item.name]]</label>-->
                                    <!--<p>[[item.company]]</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-5">-->
                            <!--<p title="[[item.fullSubject]]">-->
                                <!--[[item.subject]]-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="email-action-item-hover-wrapper">-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li title="Ignore Mail" ng-click="ignoreInsight(item)"><img src="/images/dashboard-icons/ignore.png"></li>-->
                            <!--<li title="Reply to Mail" ng-click="replyToThisMailOpenForm(item)"><i class="fa fa-mail-reply green-color"></i></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<h5 ng-click="loadAllResponsePending('responsePendingAndImportant')" class="cursor text-center bold green-color load-all-btn" ng-if="!notLoadAllRP && numberOfResponsesPending>3">&ndash;&gt;-->
                    <!--&lt;!&ndash;[[numberOfResponsesPending]] <span>+</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</h5>&ndash;&gt;-->

                <!--<h5 ng-click="loadAllResponsePending('responsePendingAndImportant')" class="cursor text-center bold green-color load-all-btn">-->
                    <!--See All-->
                <!--</h5>-->

                <!--&lt;!&ndash;<div class="vertical-button-wrapper" ng-click="resetSelection()">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="action text-buttons left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-up"></i> </button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="action text-buttons right" ng-disabled="currentPage >= numberOfResponsesPending/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-down"></i> </button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>