
<div class="action-board-header">
    <span>Action Board</span>
    <span ng-show="!ifActionMail" ng-click="actionBoardClose()"><img src="/images/dashboard-icons/ignore.png"></span>
</div>

<div class="action-board-wrapper">
    <div data-ng-controller="mailsActionBoardController" class="clearfix">
        <div class="action-bar-data-loading" ng-if="!dataLoaded">
            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
        </div>

        <div class="contact-profile clearfix">
            <div class="pull-left image" ng-click="goToContact(mailDetails.emailId,mailDetails.mobileNumber)">
                <img ng-if="!mailDetails.noPicFlag" src="[[mailDetails.image]]" alt="[[mailDetails.name]]" title="[[mailDetails.fullName]], [[mailDetails.emailId]]" imageonload="imageNotLoaded(mailDetails)"/>
                <span ng-if="mailDetails.noPicFlag"><span title="[[mailDetails.fullName]], [[mailDetails.emailId]]" class="contact-no-image">[[mailDetails.nameNoImg]]</span></span>
            </div>
            <div class="pull-left profile">
                <p class="margin0">[[mailDetails.fullName]]</p>
                <p class="margin0">[[mailDetails.companyProfile]]</p>
                <p>[[mailDetails.emailId]]</p>
            </div>
            <div class="pull-right">
                <div class="react-to-mail clearfix">
                    <ul class="list-unstyled">
                        <!--<li ng-show="ifActionMail" style="background-color: #e74c3c !important;" title="Mark as spam" ng-click="markAsSpam(mailDetails)" class="btn btn-green">-->
                            <!--<i class="fa fa-exclamation-circle" aria-hidden="true"></i>Spam-->
                        <!--</li>-->
                        <li title="Ignore Mail" ng-click="ignoreInsight(mailDetails)" class="btn btn-green">Ignore mail</li>
                        <!--<li ng-click="isReplyFormOpenFun(replyStatus)" class="btn btn-green">[[replyStatus]]</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="email-form clearfix ver-2" ng-show="isReplyFormOpen">
            <p class="cursor padding0" data-ng-click="openCCItem = !openCCItem">Add CC</p>
            <div class="form" ng-show="openCCItem">
                <div class="row margin0">
                    <div class="relativec cc">
                        <div>
                            <input ng-model="email_cc" type="text" class="compose-text-box" ng-change="searchContacts(email_cc,'cc')">
                        </div>
                        <ul class="list-unstyled email-id-cc">
                            <li ng-repeat="item in add_cc track by $index" ng-click=removeCC(item)>[[item]]</li>
                        </ul>
                        <div class="search-box-wrapper clearfix" ng-show="showResultscc">
                            <div ng-repeat="item in ccs track by $index" class="clearfix">
                                <div class="clearfix cursor" ng-click="addCCToList(item)">
                                    <div class="pull-left relative">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <div class="pull-left">
                                        <p class="margin0">[[item.name]]</p>
                                        <p class="margin0">[[item.emailId]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <textarea ng-model="replyContent"></textarea>
            <div class="btn btn-primary" ng-click="replyToMail(mailDetails,replyContent,bodyContent)">Send</div>
        </div>
        <div class="mail-body">
            <p>[[mailDetails.interactionDate]]</p>
            <strong>Subject</strong>
            <h5 ng-show="!ifActionMail">[[mailDetails.subject]]</h5>
            <h5 ng-show="ifActionMail">[[mailDetails.subjectFullLength]]</h5>
            <hr>
            <div ng-bind-html="bodyContent"></div>

        </div>
        <hr>
        <div class="email-interactions clearfix">
            <h5>Previous Interactions</h5>
            <div ng-repeat="item in timelineItems | startFrom:currentPageInteractions*pageSizeInteractions | limitTo:pageSizeInteractions" class="row">
                <div class="col-xs-3 text-right padding0">
                    <p class="time-info-details lite">[[item.duration]]</p>
                    <p class="time-info-details bold">[[item.dateText]]</p>
                </div>
                <div class="col-xs-9" style="[[item.dataObj.itemPointer]]">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter relative clearfix">

                        <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                        <span class="pos-abs-action-type-4series [[item.interactionInitClass]]">
                            <i class="[[item.actionType]] rotate-45"></i>
                        </span>
                        <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></span>
                        <span class="email-read" style="display: block;float: left;margin-top: -8px;" ng-show="item.callDuration">[[item.callDuration]]</span>
                        <div ng-show="item.emailRead" class="email-read" style="float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                    </div>
                </div>
                <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                    <hr style="margin-top: 0;">
                    <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                    </div>
                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                </div>
                <div id="[[item.dataObj.bindHtmlKey]]">

                </div>
            </div>
            <div class="clearfix" ng-if="showMoreInteractions">
                <div class="pull-right">
                    <span class="green-color fs-12 underline cursor" style="margin-right: 10px;" ng-click="viewAllInteractions(liuEmailId)">
                        View All <i class="fs-14 fa fa-angle-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="common-connections">
            <h5>Common Connections ([[totalNumberCC]])</h5>

            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div ng-repeat="item in cConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                <p>
                    [[item.fullName]]
                </p>
            </div>
            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfContacts/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>

        <div class="common-connections">
            <h5>Team Connections ([[totalTeamConnections]])</h5>
            <div class="more-contacts" ng-if="totalTeamConnections>0">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div ng-repeat="item in teamcConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                <p>
                    [[item.fullName]]
                </p>
            </div>
            <div class="more-contacts" ng-if="totalTeamConnections>0">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfteamcConnections/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>

        <div class="text-left">
            <div class="initiations-interactions">
                <h5>Interaction (Past 30 Days)</h5>
                <!--<img ng-if="!dataLoaded" class="data-loader" src="/images/load_image.gif">-->
                <div class="clearfix">
                    <div class="donut-wrapper pull-left">
                        <canvas id="[[donutChartId]]" width="150" height="150"> Your browser does not support Charts. Please update here.</canvas>
                        <div class="donut-num">
                            [[interaction_initiations_total]]
                        </div>
                    </div>
                    <div class="pull-left">
                        <div class="interactions-init">
                            <div class="row ">
                                <div class="col-xs-1 orange-bg">
                                    <span>[[interaction_initiations_you]]</span>
                                </div>
                                <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;">
                                    You
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-1 orange-off-bg">
                                    <span>[[interaction_initiations_other]]</span>
                                </div>
                                <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;max-height: 45px;overflow:hidden;">
                                    [[interaction_initiations_other_name]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="strength-relationship">
                    <h5>Relationship Strength</h5>
                    <div class="row text-center score">
                        <div class="orange-color" style="font-size:30px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                    </div>
                    <div class="row">
                        <ul class="graph">
                            <li>
                    <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                        <p class="values-top">[[interactionsByType.a.count]]</p>
                    </span></li>
                            <li>
                    <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                        <p class="values-top">[[interactionsByType.b.count]]</p>
                    </span></li>
                            <li>
                    <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                        <p class="values-top">[[interactionsByType.c.count]]</p>
                    </span></li>
                            <li>
                    <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                        <p class="values-top">[[interactionsByType.d.count]]</p>
                    </span></li>
                            <!--<li>-->
                            <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                            <!--</span></li>-->
                            <li>
                                <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                                    <p class="values-top">[[interactionsByType.f.count]]</p>
                                </span>
                            </li>
                            <!--<li>-->
                            <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                            <!--</span></li>-->
                        </ul>
                        <ul class="graph-icons">
                            <li><i class="fa fa-calendar-check-o green-color"></i></li>
                            <li><i class="fa fa-phone green-color"></i></li>
                            <li><i class="fa fa-reorder green-color"></i></li>
                            <li><i class="fa fa-envelope green-color"></i></li>
                            <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                            <li><i class="fa fa-twitter-square twitter-color "></i></li>
                            <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>