<div class="right-aside">
    <div class="touch-containers">
        <div class="un-prepared-meetings">
            <img src="../landing/img/ic_action.png" alt="loosing"/><br/>
            <span>05</span>
            <div class="loosing-inner-section">
                <p>Loosing touch <label style="visibility: hidden">.........................</label></p>
            </div>
        </div>

        <div class="un-prepared-meetings">
            <img src="../landing/img/ic_action3.png" alt="loosing"/><br/>
            <span>06</span>
            <div class="loosing-inner-section">
                <p>Un-Prepared Meetings<label style="visibility: hidden">.........................</label></p>
            </div>
        </div>

        <div class="un-prepared-meetings">
            <img src="../landing/img/ic_action3.png" alt="loosing"/><br/>
            <span>07</span>
            <div class="loosing-inner-section">
                <p>Email Responses Pending</p>
            </div>
        </div>


        <div class="un-prepared-meetings">
            <img src="../landing/img/ic_action.png" alt="loosing"/><br/>
            <span>08</span>
            <div class="loosing-inner-section">
                <p>Email Awaiting Responses</p>
            </div>
        </div>

        <div class="un-prepared-meetings">
            <div style="opacity: .3">
                <span>00</span><br/>
                <div class="loosing-inner-section">
                    <p>Social Updates<label style="visibility: hidden">..................................</label></p>
                </div>
            </div>
            <a href="#" class="btn-primary set-up">Set Up &nbsp &nbsp<i class="fa fa-exclamation-circle"></i>&nbsp</a>
        </div>
    </div>
    <div class="interaction-container">
        <p>You have a meeting in <b>San Francisco today.</b>Recommended people to meet while you are there</p>
        <div>
            <input type="text" class="input-text"> &nbsp AND &nbsp <input type="text" class="input-text"> <input type="button" class="btn-primary btn-go" value="GO" >
        </div>
        <div class="als-container" id="demo4" >
            <span class="als-prev"><img src="../landing/img/arrow_left.png" alt="prev" title="previous" style="width:60px;height:60px;left:-202px;top:-35px;position: absolute;"/></span>
            <div class="als-viewport">
                <ul class="als-wrapper">
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :02</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :07</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :02</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :07</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :04</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :03</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :04</p></li>
                    <li class="als-item"><img src="../landing/img/user1.jpg" class="profile-img2" alt="orange" title="orange" /><p style="color: #267368">John Deo</p><p>Interactions :03</p></li>
                </ul>
            </div>
            <span class="als-next"><img src="../landing/img/arrow_right.png" alt="next" title="next" style="width:60px;height:60px;right:-202px;top:-35px;position: absolute;"/></span>
        </div>
    </div>
    <div class="networked_contacts text-left">
        <h4><span>Today's Agenda (11 Jun 2015)</span> <i class="fa fa-chevron-circle-right fa-lg" style="color:#267368;cursor: pointer;"></i></h4>
        <table class="table">
            <tbody>

            <tr>
                <td>
                    <div style="display: inline-block">
                        <img src="../landing/img/user1.jpg" style="width:60px;height:60px;border-radius:50%;border: 2px solid #ccc;"> &nbsp &nbsp
                        <i class="fa fa-clock-o fa-lg"></i>&nbsp &nbsp &nbsp
                    </div>
                    <div style="display: inline-block;line-height:13px;padding: 1px 0 11px 0;">
                        <label>Sumit Rampal</label>
                        <p>11:10 AM-03:10 AM</p>
                    </div>
                </td>
                <td><p>Layout Discussions</p></td>
                <td><i class="fa fa-skype fa-lg"></i> &nbsp &nbsp<span>Pixelwonderz</span></td>
                <td><input type="button" value="Prepare" class="btn-primary"></td>
            </tr>

            <tr>
                <td>
                    <div style="display: inline-block">
                        <img src="../landing/img/user1.jpg" style="width:60px;height:60px;border-radius:50%;border: 2px solid #ccc;"> &nbsp &nbsp
                        <i class="fa fa-clock-o fa-lg"></i>&nbsp &nbsp &nbsp
                    </div>
                    <div style="display: inline-block;line-height:13px;padding: 1px 0 11px 0;">
                        <label>Suresh Hoel</label>
                        <p>11:10 AM-03:10 AM</p>
                    </div>
                </td>
                <td><p>Interview Follow up for the<br/> Technology Head position</p></td>
                <td><span>Hotel Bayswater,<br/>Bangalore,India</span></td>
                <td><input type="button" value="Prepare" class="btn-primary"></td>
            </tr>

            <tr>
                <td>
                    <div style="display: inline-block">
                        <img src="../landing/img/user1.jpg" style="width:60px;height:60px;border-radius:50%;border: 2px solid #ccc;"> &nbsp &nbsp
                        <i class="fa fa-clock-o fa-lg"></i> &nbsp &nbsp &nbsp
                    </div>
                    <div style="display: inline-block;line-height:13px;padding: 1px 0 11px 0;">
                        <label>Sumit Rampal</label>
                        <p>11:10 AM-03:10 AM</p>
                    </div>
                </td>
                <td><p>Interview Follow up for the<br> Technology Head position</p></td>
                <td><span>Hotel Bayswater,<br/>Bangalore,India</span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="search_box  networked_contacts text-center">
        <p>Why not connect with someone <b>NEW</b> today?</p>
        <p>Search for any of <b>650,000+</b> networked contacts and we will help you connect</p>
        <div style="width: 466px;margin: auto;padding: 10px;">
            <div class="lighter">
                <form class="ng-pristine ng-valid">
                                            <span>
                                                <input type="text" class="search form-control search-btn1">
                                            </span>
                </form>
            </div>
            <a href="" class="btn-primary btn import-linkedin-contacts"><i class="fa fa-files-o"></i>&nbsp; Upload Contacts from XLS</a>
            <a href="" class="btn-primary btn import-linkedin-contacts"><i class="fa fa-linkedin-square"></i>&nbsp; Import Linkedin Contacts</a>
        </div>
    </div>
</div>