
<div class="action-board-header">
    <span>Action Board</span>
    <span ng-click="actionBoardClose()"><img src="/images/dashboard-icons/ignore.png"></span>
</div>

<div class="action-board-wrapper">

    <div data-ng-controller="actionBoardController">

        <div class="meeting-action-btns clearfix" ng-if="!isOpportunity">
            <ul class="list-unstyled">
                <li title="Decline" ng-click="openMessageBox('cancelMeeting')"><img src="/images/dashboard-icons/ignore.png"></li>
                <li title="Reschedule" ng-click="takeMeetingAction('reschedule',meetingDetails)">
                    <img src="/images/dashboard-icons/reschedule.png">
                </li>
                <li ng-if="showConfirmBtn" title="Confirm" ng-click="openMessageBox('confirmMeeting')"><img src="/images/dashboard-icons/confirmation.png"></li>
                <li ng-if="isAccepted" class="cursor" title="Download ICS file">
                    <span data-ng-init="prepareICSFile(meetingDetails)" >
                        <a class="green-color" href="[[ics_url]]" target="_blank">ICS <i class="green-color fs-18 fa fa-cloud-download"></i></a>
                    </span>
                </li>
            </ul>

            <div ng-show="cancelMeeting" class="clearfix response-box">

                <div class="row">
                    <div class="col-xs-12"><p>Do you wish to cancel the meeting? </p></div>
                    <div class="col-xs-3"><label>Message</label></div>
                    <div class="col-xs-9"><textarea class="form-control" ng-model="responseMessages"></textarea></div>
                </div>

                <input type="button" ng-click="takeMeetingAction('decline',meetingDetails,responseMessages)" value="Yes" class="pull-right btn btn-green">
                <input type="button" value="No" ng-click="closeMessageBox('cancelMeeting')" class="pull-right btn btn-green">

            </div>

            <div ng-show="confirmMeeting" class="clearfix response-box">

                <div class="row">
                    <div class="col-xs-3"><label>Message</label></div>
                    <div class="col-xs-9"><textarea class="form-control" ng-model="responseMessages"></textarea></div>
                </div>

                <input type="button" ng-click="takeMeetingAction('confirm',meetingDetails,responseMessages)" value="Confirm" class="pull-right btn btn-green">
                <input type="button" value="Cancel" ng-click="confirmMeeting = !confirmMeeting" class="pull-right btn btn-green">

            </div>
        </div>

        <div class="reschedule-popup" ng-show="rescheduleTrue" ng-if="!isOpportunity">
            <h5>Reschedule</h5>
            <div class="row">
                <div class="col-xs-2 padding0">
                    <label>Start</label>
                </div>
                <div class="col-xs-10 padding0">
                    <input type="text" id="reschedule_start_date_picker" class="form-control text-uppercase input-arrow open-calendar">
                </div>
        </div>
            <div class="row">
                <div class="col-xs-2 padding0"><label>End</label></div>
                <div class="col-xs-10 padding0">
                    <input type="text" id="reschedule_end_date_picker" class="form-control text-uppercase input-arrow open-calendar disabled">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 padding0">
                    <select class="selectpicker">
                        <option value="In-Person" data-icon="fa fa-map-marker"></option>
                        <option value="Skype" data-icon="fa fa-skype"></option>
                        <option value="Phone" data-icon="fa fa-phone"></option>
                        <option value="Conference Call" data-icon="fa fa-group"></option>
                    </select>
                </div>
                <div class="col-xs-10 padding0">
                    <div class="margin-tb5">
                        <input type="text" class="form-control" ng-model="suggested_location" placeholder="Suggest new location *" style="padding: 6px 12px;">
                        <input type="text" class="form-control" ng-show="filter=='skype'" ng-model="suggested_location" placeholder="Suggest new Skype number *" style="padding: 6px 12px;">
                    </div>
                </div>
            </div>
            <div class="margin-b15">
                <textarea class="form-control ng-pristine ng-valid" ng-model="suggest_comment" placeholder="Comment *"></textarea>
            </div>
            <div class="text-right">
                    <input type="button" ng-click="cancelReschedule()" value="Close" class="btn-primary close-button close-btn" tabindex="1">
                    <input type="button" ng-click="re_scheduleMeeting(suggested_location,suggest_comment,meetingDetails)" value="Submit" class="btn-primary re-schedule-button" tabindex="0">
                </div>
        </div>

        <div class="clearfix" ng-if="isOpportunity">
            <a ng-click="editOpportunity(meetingDetails)" class="btn btn-green pull-right"><i class="fa fa-edit"> Edit</i></a>
        </div>

        <div class="modal-open" ng-show="isOppModalOpen">
            <div class="opportunity-form form-box-shadow">
                <div class="modal-header clearfix">
                    <h3>Add/Edit Opportunity</h3>
                </div>
                <div class="max-height">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Opportunity Name</label>
                            <input type="text" ng-model="opp.opportunityName">
                        </div>
                        <div class="col-md-6">
                            <label>Close Date</label>
                            <input type="text" ng-model="opp.closeDateFormatted" id="opportunityCloseDateSelector" ng-mouseover="registerDatePickerId()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Stage</label>
                            <select ng-model="opp.stage" class="stage-list">
                                <option ng-repeat="stage in stages" value=[[stage]]>[[stage]]</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Amount ([[currency]])</label>
                            <input type="text" ng-model="opp.amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-show="companyDetails.geoLocations.length>0">
                                <label>Region</label>
                                <div class="add-town clearfix">
                                    <select ng-model="opp.geoLocation.zone">
                                        <option ng-repeat="item in companyDetails.geoLocations" ng-selected="opp.geoLocation.zone == item.region" value="[[item.region]]">[[item.region]]</option>
                                    </select>
                                    <input type="text" placeholder="Add Location" value="[[opp.geoLocation.town]]" ng-model="opp.geoLocation.town" id="autocompleteCity">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-show="companyDetails.productList.length>0">
                                <label>Products</label>
                                <div class="product-list clearfix">
                                    <select ng-model="opp.productType">
                                        <option ng-repeat="item in companyDetails.productList" ng-selected="opp.productType == item.name" value="[[item.name]]">[[item.name]]</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<hr>-->
                    <div class="row">
                        <div class="col-md-6">
                            <label>Add Partners/Resellers</label>
                            <input type="text" ng-change="searchContacts(partner,'partner')" ng-model="partner">
                            <div search-results-p></div>
                            <div class="contacts child" ng-show="opp.partners.length>0">
                                <div ng-repeat="item in opp.partners track by $index" class="profile-wrapper">
                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                        <div class="relative" data-toggle="dropdown">
                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                        </div>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li ng-click="removeRecipient(item,'partner')" class="cursor">Delete</li>
                                            <li class="divider"></li>
                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                        </ul>
                                        <p class="margin0">[[item.name]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Add Decision Makers</label>
                            <input type="text" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker">
                            <div search-results-d></div>

                            <div class="contacts child" ng-show="opp.decisionMakers.length>0">
                                <div ng-repeat="item in opp.decisionMakers track by $index" class="profile-wrapper">
                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                        <div class="relative" data-toggle="dropdown">
                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                        </div>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li ng-click="removeRecipient(item,'decisionMaker')" class="cursor">Delete</li>
                                            <li class="divider"></li>
                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                        </ul>
                                        <p class="margin0">[[item.name]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Add Influencers</label>
                            <input type="text" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer">
                            <div search-results-i></div>
                            <div class="contacts child" ng-show="opp.influencers.length>0">
                                <div ng-repeat="item in opp.influencers track by $index" class="profile-wrapper">
                                    <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                        <div class="relative" data-toggle="dropdown">
                                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                            <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                        </div>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li ng-click="removeRecipient(item,'influencer')" class="cursor">Delete</li>
                                            <li class="divider"></li>
                                            <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                        </ul>
                                        <p class="margin0">[[item.name]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer clearfix">
                    <button class="btn btn-flat pull-right" ng-click="saveOpportunity()">SAVE</button>
                    <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
                </div>
            </div>
        </div>
        <div class="profile-participant">

            <h3>[[meetingDetails.title]]</h3>
            <div class="address">
                <i ng-class="meetingDetails.locationTypePic"></i>[[meetingDetails.location]]
            </div>
            <p class="times" ng-if="!meetingDetails.salesForceEvent">
                <i class="fa fa-clock-o fa-lg"></i>
                <span ng-if="!isOpportunity">[[meetingDetails.startTime]] - [[meetingDetails.endTime]]</span>
                <span ng-if="isOpportunity">[[meetingDetails.closeDate]]</span>
            </p>
            <div class="description">
                [[meetingDetails.description]]
                <ul class="list-unstyled" ng-if="meetingDetails.salesForceEvent">
                    <li>Closing Date: [[meetingDetails.closeDate]]</li>
                    <li>Value: $ [[meetingDetails.amount]]</li>
                    <li>Stage: [[meetingDetails.stageName]]</li>
                </ul>
            </div>

        </div>
    </div>

    <div data-ng-controller="interaction_timeline">
        <div class="action-bar-data-loading" ng-if="!dataLoaded">
            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
        </div>

        <div class="participants-list clearfix">
            <h5>Participants</h5>
            <!--<div class="pull-left" ng-init="loadParticipant(meetingDetails)" ng-click="loadParticipant(meetingDetails)">-->
                <!--<img ng-if="!primaryParticipantnoPicFlag" src="[[primaryParticipantpicUrl]]" title="[[primaryParticipantfullName]], [[primaryParticipantpersonEmailId]]" class="participants-image">-->
                <!--<span ng-if="primaryParticipantnoPicFlag" title="[[primaryParticipantfullName]], [[primaryParticipantpersonEmailId]]"><span class="participants-image">[[primaryParticipantnameNoImg]]</span></span>-->
                <!--<p>[[primaryParticipantname]]</p>-->
            <!--</div>-->
            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;goingPrev()"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div class="pagination-wrapper" ng-class="nextPageClicked">
                <div ng-repeat="item in participantsList | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles" ng-init="$first && loadParticipant(item,$index)" ng-click="loadParticipant(item,$index)" ng-class="{'contact-clicked': $index === participantSelected}">
                    <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.fullName]], [[item.personEmailId]]" class="participants-image" imageonload="imageNotLoaded(item)">
                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.personEmailId]]"><span class="participants-image">[[item.nameNoImg]]</span></span>
                    <p>[[item.name]]</p>
                </div>
            </div>

            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfParticipants/pageSize - 1" ng-click="currentPage=currentPage+1;goingNext()"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>

        <div class="email-interactions clearfix" ng-if="meetingDetails.notSelfMeeting && !isGoogleGoal">

            <h5>Previous Interactions</h5>
            <div ng-repeat="item in timelineItems | startFrom:currentPageInteractions*pageSizeInteractions | limitTo:pageSizeInteractions" class="row">
                <div class="col-xs-3 text-right padding0">
                    <p class="time-info-details lite">[[item.duration]]</p>
                    <p class="time-info-details bold">[[item.dateText]]</p>
                </div>
                <div class="col-xs-9" style="[[item.dataObj.itemPointer]]">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter relative clearfix">

                        <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                        <span class="pos-abs-action-type-4series [[item.interactionInitClass]]">
                            <i class="[[item.actionType]] rotate-45"></i>
                        </span>
                        <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></span>
                        <span class="email-read" style="display: block;float: left;margin-top: -8px;" ng-show="item.callDuration">[[item.callDuration]]</span>
                        <div ng-show="item.emailRead" class="email-read" style="float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                    </div>
                </div>
                <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                    <hr style="margin-top: 0;">
                    <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                    </div>
                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                </div>
                <div id="[[item.dataObj.bindHtmlKey]]">

                </div>
            </div>
            <div class="clearfix" ng-if="showMoreInteractions">
                <div class="pull-right">
                    <span class="green-color fs-12 underline cursor" style="margin-right: 10px;" ng-click="viewAllInteractions(meetingDetails.personEmailId)">
                        View All <i class="fs-14 fa fa-angle-right"></i>
                    </span>
                    <!--<div class="more-contacts btn-reset">-->
                        <!--<button class="action text-buttons" ng-disabled="currentPageInteractions == 0" ng-click="currentPageInteractions=currentPageInteractions-1"> <i class="fa fa-angle-left"></i> </button>-->
                        <!--[[currentPageInteractions+1]]/[[numberOfPages()]]-->
                    <!--</div>-->
                    <!--<div class="more-contacts btn-reset">-->
                        <!--<button class="action text-buttons" ng-disabled="currentPageInteractions >= numberOfInteractions/pageSizeInteractions - 1" ng-click="currentPageInteractions=currentPageInteractions+1"> <i class="fa fa-angle-right"></i> </button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>

    <div data-ng-controller="participantCommonConnections">

        <div class="common-connections" ng-if="participant.notSelfMeeting && !isGoogleGoal">
            <h5>Common Connections ([[numberOfContacts]])</h5>

            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div ng-repeat="item in cConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                <p>
                    [[item.fullName]]
                </p>
            </div>
            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfContacts/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>
    </div>

    <div data-ng-controller="commonConnections_company">
        <div class="common-connections" ng-if="participant.notSelfMeeting && !isGoogleGoal">
            <h5>Team Connections ([[totalTeamConnections]])</h5>
            <div class="more-contacts" ng-if="totalTeamConnections>0">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div ng-repeat="item in teamcConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                <p>
                    [[item.fullName]]
                </p>
            </div>
            <div class="more-contacts" ng-if="totalTeamConnections>0">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfteamcConnections/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>
    </div>

    <div class="text-left" data-ng-controller="participantPast90Days">
            <div class="initiations-interactions" ng-if="meetingDetails.notSelfMeeting && !isGoogleGoal">
                <h5>Interaction Initiations (Past 30 Days)</h5>
            <div class="clearfix">
                <div class="donut-wrapper pull-left">
                    <canvas id="[[donutChartId]]" width="150" height="150"> Your browser does not support Charts. Please update here.</canvas>
                    <div class="donut-num">
                        [[interaction_initiations_total]]
                    </div>
                </div>
                <div class="pull-left">
                    <div class="interactions-init">
                        <div class="row ">
                            <div class="col-xs-1 orange-bg">
                                <span>[[interaction_initiations_you]]</span>
                            </div>
                            <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;">
                                You
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-1 orange-off-bg">
                                <span>[[interaction_initiations_other]]</span>
                            </div>
                            <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;max-height: 45px;overflow:hidden;">
                                [[interaction_initiations_other_name]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="strength-relationship" ng-if="meetingDetails.notSelfMeeting && !isGoogleGoal">
                <h5>Relationship Strength</h5>
                <div class="row text-center score">
                    <div class="orange-color" style="font-size:30px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                </div>
                <div class="row">
                    <ul class="graph">
                        <li>
                    <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                        <p class="values-top">[[interactionsByType.a.count]]</p>
                    </span></li>
                        <li>
                    <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                        <p class="values-top">[[interactionsByType.b.count]]</p>
                    </span></li>
                        <li>
                    <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                        <p class="values-top">[[interactionsByType.c.count]]</p>
                    </span></li>
                        <li>
                    <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                        <p class="values-top">[[interactionsByType.d.count]]</p>
                    </span></li>
                        <!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                        <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
                        <li>
                                <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                                    <p class="values-top">[[interactionsByType.f.count]]</p>
                                </span>
                        </li>
                        <!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                        <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->
                    </ul>
                    <ul class="graph-icons">
                        <li><i class="fa fa-calendar-check-o green-color"></i></li>
                        <li><i class="fa fa-phone green-color"></i></li>
                        <li><i class="fa fa-reorder green-color"></i></li>
                        <li><i class="fa fa-envelope green-color"></i></li>
                        <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                        <li><i class="fa fa-twitter-square twitter-color "></i></li>
                        <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>