<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">

    <!-- <div data-ng-init="showMeetingFollowUp = false"> -->
    <div>
        <div class="row travelling-to">
            <div class="ttl-info padding0 clearfix" ng-click="toggleVisibility('meetingFollowUp')">
                <h5 class="bold fs-16 margin-top0 pull-left" style="cursor:pointer">Past meeting follow ups</h5>
                <i class="fa fa-angle-down collapse-icon pull-right" aria-hidden="true"></i>
            </div>
            <!-- <div class="hide meeting-followup-data"> -->
            <div ng-show="showMeetingFollowUp">
                <div ng-show="loadingFollowup" class="loading-contacts load-md">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
                <div ng-show="!loadingFollowup && !showNoMeetingFollowUpText">
                    <div class="ttlButtons padding0">
                        <div class="more-contacts">
                            <button class="action text-buttons left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;resetSelection()"> <i class="fa fa-angle-left"></i> </button>
                        </div>
                        <div class="meeting-fu-contacts [[item.selectedClass]]" ng-repeat="item in meetingFollowup | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="openEmailForm(item,$index)" ng-class="{'contact-clicked': $index === contactSelected}">
                            <img ng-if="!item.noPicFlag" src="[[item.image]]" title="Email [[item.fullName]]" class="contact-image" imageonload="imageNotLoaded(item)">
                            <span ng-if="item.noPicFlag" title="Email [[item.fullName]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                            <p>[[item.name]]</p>
                            <p>[[item.company]]</p>
                        <span class="date">
                            [[item.meetingDateFormat]]
                        </span>
                        </div>
                        <div class="more-contacts">
                            <button class="action text-buttons right" ng-disabled="currentPage >= numberOfmeetingFollowup/pageSize - 1" ng-click="currentPage=currentPage+1;resetSelection()"> <i class="fa fa-angle-right"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="today-insight-no-data-text" ng-show="showNoMeetingFollowUpText">
                    <p>You are all set. No follow ups pending</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div ng-if="sendEmailBoardMFU">-->
        <!--<div data-ng-include="'/todaySeries/sendMailToConnectActionBoard'"></div>-->
    <!--</div>-->
</div>