<div data-ng-init="showTodayMeetings = false">
    <div class="non-meeting-row travelling-to">
        <div class="ttl-info padding0 clearfix" ng-click="toggleVisibility('todayMeeting')">
            <h5 class="bold pull-left" style="cursor:pointer">
                Meetings
            </h5>
            <i class="fa fa-angle-down collapse-icon pull-right" aria-hidden="true" style="margin-top: 10px;"></i>
        </div>
    </div>

    <div class="today-meeting hide">
        <div ng-repeat="item in meetingsToday" ng-show="!showNoTodayMeetingText" style="    padding: 10px 15px;
    margin: 0;">
            <div class="row" ng-click="actionBoard(item,$index)">
                <div class="[[item.selectedClass]] meeting-row" style="height: 70px;">
                    <div class="col-md-6 clearfix" ng-if="!item.salesForceEvent">
                        <div class="pull-left times">
                            <p class="upcoming-event-date">Today</p>
                            <h6 style="color: #333;">[[item.startTime]]</h6>
                            <h6>[[item.endTime]]</h6>
                        </div>
                        <div class="pull-left participant clearfix">
                            <div class="pull-left">
                                <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                <img src="[[item.meetingInitiatorIcon]]" class="init-icon">
                            </div>
                            <div class="pull-left">
                                <label title="[[item.name]]">[[item.nameTruncate]] <span><span ng-if="item.numberOfMeetingParticipantsExists">+</span>[[item.numberOfMeetingParticipants]]</span></label>
                                <p title="[[item.company]]">[[item.companyTruncate]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 location-details clearfix padding0" ng-if="!item.salesForceEvent">
                        <i title="[[item.location]]" class="[[item.locationTypePic]]"></i>
                        <!--<img title="[[item.location]]" src="[[item.locationTypePic]]"/>-->
                        <p title="[[item.location]]">[[item.locationTruncate]]</p>
                        <p ng-if="item.isGoogleGoal" title="[[item.description]]">[[item.descriptionTruncate]]</p>
                    </div>
                    <div class="col-md-2 meeting-description padding0" ng-if="!item.salesForceEvent">
                        <p title="[[item.title]]">[[item.titleTruncate]]</p>
                        <!--<p>[[item.description]]</p>-->
                    </div>
                    <div class="action-item-hover-wrapper" ng-if="!item.ifRelatasMailEvent && !item.salesForceEvent">
                        <ul class="list-unstyled">
                            <!--<li title="Cancel" ng-click="meetingAction('cancel',item)"><img src="/images/dashboard-icons/ignore.png"></li>-->
                            <li title="Prepare" ng-click="actionBoard(item)">
                                <img src="/images/dashboard-icons/details.png">
                            </li>
                            <!--<li title="Confirm" ng-click="meetingAction('confirm',item)"><img src="/images/dashboard-icons/confirmation.png"></li>-->
                        </ul>
                    </div>
                    <div ng-if="item.salesForceEvent" class="col-md-5 clearfix">
                        <div class="pull-left times">
                            <!--<p class="upcoming-event-date">[[item.closeDate]]</p>-->
                            <p class="upcoming-event-date">Today</p>
                            <h6 style="visibility: hidden">08:00AM</h6>
                            <h6 style="visibility: hidden">08:00AM</h6>
                        </div>
                        <div class="pull-left participant clearfix">
                            <div class="pull-left">
                                <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                <span ng-if="item.noPicFlag" title="[[item.name]]"><span class="contact-image">[[item.nameNoImg]]</span></span>
                                <span class="init-icon"><i class="fa fa-dollar"></i></span>
                            </div>
                            <div class="pull-left">
                                <label title="[[item.name]]">[[item.name]]</label>
                                <p title="[[item.company]]">[[item.companyTruncate]]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-controller="peopleAtMeetingLocation" ng-if="!item.ifRelatasMailEvent">
                    <div data-ng-init="peopleAtLocation(item.location,item.locationType,item.personEmailId,item.invitationId,item.date)">
                        <div ng-if="iCanConnect" class="people-wrapper">
                            <div ng-show="loadingpal" class="loading-contacts load-md">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <div ng-show="!loadingpal">

                                <h5>
                                    <img class="insights" src="/images/dashboard-icons/insights.png" title="Relatas analyzed your contacts to suggest people you could meet when you are traveling to a particular location. The ones with Red circle are your important contacts. Click on the profile to see the pre-drafted ready for you to send.">
                                    [[numberOfContacts]] you can meet after your meeting
                                </h5>
                                <div class="more-contacts">
                                    <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                                </div>

                                <div ng-repeat="people in peopleAtThisLocation | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'distance'" class="contact-wrapper [[people.favoriteClass]] cursor" ng-click="openEmailForm(people,$index,item.location)" ng-class="{'contact-clicked': $index === contactSelected}">
                                    <div>
                                        <span ng-if="people.noPicFlag" title="Email [[people.fullName]]"><span class="contact-img-wrapper">[[people.noPPic]]</span></span>
                                        <img imageonload="imageNotLoaded(people)" ng-if="!people.noPicFlag" class="contact-img-wrapper" src="[[people.image]]" title="Email [[people.fullName]]"/>
                                        <p>[[people.name]]</p>
                                        <div data-ng-init="showDistances(people)">
                                            <div class="clearfix distances" ng-if="people.distance" title="[[people.distance]] away from this meeting location">
                                                <div class="pull-left">
                                                    <img src="/images/dashboard-icons/map-location.png">
                                                </div>
                                                <div class="pull-left">
                                                    <p>[[people.distance]]</p>
                                                    <p>[[people.time]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="more-contacts">
                                    <button class="action text-buttons" ng-disabled="currentPage >= numberOfContactsToMeet/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="today-insight-no-data-text" ng-show="showNoTodayMeetingText">
            <p>No meetings scheduled today</p>
        </div>
    </div>
</div>