<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">

    <div data-ng-init="fetchModule('reminderToConnect')">
        <div class="row travelling-to">
            <div class="ttl-info padding0">
                <h6 class="bold fs-16 margin-top0">Remind to connect</h6>
            </div>
            <div class="ttlButtons padding0">
                <div class="more-contacts">
                    <button class="action text-buttons left" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
                </div>
                <div class="rtc-contacts" ng-repeat="item in contactsWithRTC | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="openEmailForm(item)">
                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="Email [[item.fullName]]" class="contact-image" imageonload="imageNotLoaded(item)">
                    <span ng-if="item.noPicFlag" title="Email [[item.fullName]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                    <p>[[item.name]]</p>
                    <p>[[item.company]]</p>
                </div>
                <div class="more-contacts">
                    <button class="action text-buttons right" ng-disabled="currentPage >= numberOfRTC/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <!--<div ng-if="sendEmailBoardRTC">-->
        <!--<div data-ng-include="'/todaySeries/sendMailToConnectActionBoard'"></div>-->
    <!--</div>-->
</div>