
<div class="action-board">

    <div class="action-board-header">
        <span>Action Board</span>
        <span class="cursor" ng-click="actionBoardClose()"><img src="/images/dashboard-icons/ignore.png"></span>
    </div>

    <div class="action-board-wrapper" data-ng-controller="emailFormController">

        <div class="contact-profile clearfix">
            <div class="pull-left image" ng-click="goToContact(contactDetails.emailId,contactDetails.mobileNumber)">
                <img ng-if="!contactDetails.noPicFlag" src="[[contactDetails.image]]" alt="[[contactDetails.name]]" title="[[contactDetails.fullName]], [[contactDetails.emailId]]" imageonload="imageNotLoaded(contactDetails)"/>
                <span ng-if="contactDetails.noPicFlag"><span title="[[contactDetails.fullName]], [[contactDetails.emailId]]" class="no-img">[[contactDetails.nameNoImg]]</span></span>
            </div>
            <div class="pull-left profile">
                <p class="margin0">[[contactDetails.fullName]]</p>
                <p class="margin0">[[contactDetails.companyProfile]]</p>
                <p>[[contactDetails.emailId]]</p>
            </div>
        </div>

        <div ng-if="contactDetails.title">
            <strong>Title</strong>
            <p>[[contactDetails.title]]</p>
            <strong>Agenda</strong>
            <p>[[contactDetails.description]]</p>
        </div>

        <div ng-if="contactDetails.filter === 'losingTouch'">
            <div ng-if="contactDetails.twitterUserName">
                <div class="lt-wrapper row">
                    <div class="col-md-1">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="col-md-9">
                        <div ng-bind-html="tweet"></div>
                    </div>
                    <ul class="list-unstyled">
                        <li ng-click="reactToTweet(tweetId,'','re-tweet')"><i class="fa fa-retweet"></i></li>
                        <!--<li ng-click="openReplyToTweetForm(item)"><i class="fa fa-reply"></i></li>-->
                        <li ng-click="reactToTweet(tweetId,'','favorite')"><i class="fa fa-heart"></i></li>
                    </ul>
                </div>
            </div>
            <div class="lt-btn-wrapper">
                <ul class="list-unstyled">
                    <li class="btn btn-green" ng-click="sendMeetingInvite()" title="Request for a meeting">
                        <i class="fa fa-calendar"></i>
                        <!--[[lastMeetingInfo]]-->
                    </li>
                    <!--<li class="btn btn-green" ng-click="openEmailFormLt()" title="Send a mail">-->
                        <!--<i class="fa fa-envelope"></i>-->
                        <!--&lt;!&ndash;[[lastEmailInfo]]&ndash;&gt;-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="clearfix action-board-email-wrapper" ng-show="openEmailContainer">
                <label>To: </label> [[contactDetails.emailId]]
                <div class="form-group margin0">
                    <input ng-model="compose_email_subject1" type="text" class="form-control" placeholder="Subject:">
                </div>

                <div class="form-group margin0 email-template">
                    <!--<i class="fa circle-o-notch orange-color fa-spin" aria-hidden="true" ng-show="formLoading"></i>-->
                    <textarea ng-model="compose_email_body1.msg" class="form-control height-200" placeholder="Type message"></textarea>
                </div>

                <div class="clearfix" style="border: 1px solid #ccc;padding: 10px 5px 0 5px;">
                    <div class="checkbox checkbox-inline pull-left">
                        <input ng-model="compose_email_remaind" type="checkbox" id="inlineCheckbox3" value="option1">
                        <label for="inlineCheckbox3"> Notify in 7 Days</label>
                    </div>
                    <div class="text-right margin-tb5 pull-right">
                        <button class="btn btn-green" ng-click="openEmilContainer()">Cancel</button>
                        <button class="btn btn-green" ng-click="sendEmail(compose_email_subject1,compose_email_body1.msg,compose_email_track_viewed,compose_email_remaind,true,contactDetails)">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix action-board-email-wrapper" ng-if="contactDetails.filter != 'losingTouch'">
            <br>
            <label>To: </label> [[contactDetails.emailId]]
            <div class="form">
                <div class="row margin0" style="padding:0;">
                    <div class="col-xs-8 form-control" style="padding:0;" ng-init="runScopes()">
                        <ul class="pull-right list-unstyled email-id-cc">
                            <li ng-repeat="item in searchedContacts" ng-click=removeRecipient(item)>[[item]]</li>
                        </ul>

                        <div class="pull-left" style="width: 30%;">
                            <input ng-model="email_cc" type="text" placeholder="CC:" class="compose-text-box" ng-change="searchContacts(email_cc)" style="width: 100%;height: 32px;border: 0;padding: 6px 12px;">
                        </div>
                        <div class="search-box-wrapper clearfix" ng-show="showResults">
                            <div ng-repeat="item in contacts track by $index">
                                <div class="clearfix cursor" ng-click="addRecipient(item)">
                                    <div class="pull-left relative">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <div class="pull-left">
                                        <p class="margin0">[[item.name]]</p>
                                        <p class="margin0">[[item.emailId]]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group margin0">
                <input ng-model="compose_email_subject" type="text" class="form-control" placeholder="Subject:">
            </div>

            <div class="form-group margin0 email-template">
                <!--<i class="fa circle-o-notch orange-color fa-spin" aria-hidden="true" ng-show="formLoading"></i>-->
                <textarea ng-model="compose_email_body.msg" class="form-control height-200" placeholder="Type message"></textarea>
            </div>

            <div class="clearfix" style="border: 1px solid #ccc;padding: 10px 5px 0 5px;">
                <div class="checkbox checkbox-inline pull-left">
                    <input ng-model="compose_email_remaind" type="checkbox" id="inlineCheckbox99" value="option1">
                    <label for="inlineCheckbox99"> Notify in 7 Days</label>
                </div>
                <div class="text-right margin-tb5 pull-right">
                    <button class="btn btn-green" ng-click="openEmilContainer()" id="hide-email-response">Cancel</button>
                    <button id="send-email-but" class="btn btn-green" ng-click="sendEmail(compose_email_subject,compose_email_body.msg,compose_email_track_viewed,compose_email_remaind,true,contactDetails)">Send</button>
                </div>
            </div>
        </div>
        <div class="action-bar-data-loading" ng-if="!dataLoaded">
            <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
        </div>
    
        <div class="recent-interactions">
            <h5>Recent Interactions</h5>
            <!--<div ng-repeat="item in pastInteractions | startFrom:currentPageInteractions*pageSizeInteractions | limitTo:pageSizeInteractions" class="row">-->
            <div ng-repeat="item in pastInteractions" class="row">
                <div class="col-xs-3 text-right padding0">
                    <p class="time-info-details lite">[[item.duration]]</p>
                    <p class="time-info-details bold">[[item.dateText]]</p>
                </div>
                <div class="col-xs-9" style="[[item.dataObj.itemPointer]]">
                    <label class='timeline1-sec-dot'></label>
                    <div class="facebook-linkedin-twitter relative clearfix">

                        <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                    <span class="pos-abs-action-type-4series [[item.interactionInitClass]]">
                        <i class="[[item.actionType]] rotate-45"></i>
                    </span>
                        <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></span>
                        <span class="email-read" style="display: block;float: left;margin-top: -8px;" ng-show="item.callDuration">[[item.callDuration]]</span>
                        <div ng-show="item.emailRead" class="email-read" style="margin: 0 0 0 39px;float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                    </div>
                </div>
                <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                    <hr style="margin-top: 0;">
                    <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                    </div>
                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                </div>
                <div id="[[item.dataObj.bindHtmlKey]]">

                </div>
            </div>
        </div>
        <div class="common-connections">
            <h5>Common Connections ([[totalNumberCC]])</h5>

            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-left"></i> </button>
            </div>
            <div ng-repeat="item in cConnections | startFrom:currentPage*pageSize | limitTo:pageSize" class="profiles">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" alt="[[item.name]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)"/>
                <span ng-if="item.noPicFlag"><span title="[[item.fullName]], [[item.emailId]]" >[[item.nameNoImg]]</span></span>
                <p>
                    [[item.fullName]]
                </p>
            </div>
            <div class="more-contacts">
                <button class="action text-buttons" ng-disabled="currentPage >= numberOfContacts/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-right"></i> </button>
            </div>
        </div>
        <div class="initiations-interactions">
            <h5>Interaction (Past 30 Days)</h5>
            <div class="text-left row">
                <div class="clearfix">
                    <div class="donut-wrapper pull-left">
                        <canvas id="[[donutChart]]" width="150" height="150"> Your browser does not support Charts. Please update here.</canvas>
                        <div class="donut-num">
                            [[interaction_initiations_total]]
                        </div>
                    </div>
                    <div class="pull-left" style="width: 160px;">
                        <div class="interactions-init" style="padding-top: 15%;">
                            <div class="row">
                                <div class="col-xs-1 orange-bg">
                                    <span>[[interaction_initiations_you]]</span>
                                </div>
                                <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;">
                                    You
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-1 orange-off-bg">
                                    <span>[[interaction_initiations_other]]</span>
                                </div>
                                <div class="col-xs-7" style="line-height: 35px;margin-left: -10px;max-height: 45px;overflow:hidden;">
                                    [[interaction_initiations_other_name2]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="strength-relationship">
                    <h5>Relationship Strength</h5>
                    <div class="row text-center score">
                        <div class="orange-color" style="font-size:30px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                    </div>
                    <div class="row">
                        <ul class="graph">
                            <li>
                <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                    <p class="values-top">[[interactionsByType.a.count]]</p>
                </span></li>
                            <li>
                <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                    <p class="values-top">[[interactionsByType.b.count]]</p>
                </span></li>
                            <li>
                <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                    <p class="values-top">[[interactionsByType.c.count]]</p>
                </span></li>
                            <li>
                <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                    <p class="values-top">[[interactionsByType.d.count]]</p>
                </span></li>
                            <!--<li>-->
                            <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                            <!--</span></li>-->
                            <li>
                            <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                                <p class="values-top">[[interactionsByType.f.count]]</p>
                            </span>
                            </li>
                            <!--<li>-->
                            <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                            <!--</span></li>-->
                        </ul>
                        <ul class="graph-icons">
                            <li><i class="fa fa-calendar-check-o green-color"></i></li>
                            <li><i class="fa fa-phone green-color"></i></li>
                            <li><i class="fa fa-reorder green-color"></i></li>
                            <li><i class="fa fa-envelope green-color"></i></li>
                            <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                            <li><i class="fa fa-twitter-square twitter-color "></i></li>
                            <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<!--</div>-->