<div class="social-items box-action-items">
    <h4>Social</h4>

    <div ng-show="loadingTweets" class="loading-contacts load-md">
        <span><i></i></span><span><i></i></span><span><i></i></span>
    </div>

    <div ng-show="!loadingTweets">

        <div ng-if="noTwitterAccSetup" class="no-account-found">
            <div class="fade-social"></div>
            <a class="btn btn-green" href="/settings">Setup Twitter Account</a>
        </div>
        <i class="fa fa-refresh green-color" ng-click="closeDialog()" ng-if="showWatchListItems && hideTweets"></i>
        <div class="sort-and-settings">
            <button ng-click="sortTweets('important')" ng-class="selected"><i class="fa fa-sort-amount-desc"></i>Important</button>
            <button ng-click="sortTweets()" ng-class="defSelected"><i class="fa fa-sort-amount-asc"></i>All</button>
            <button ng-click="toggleSocialSettings()"><i class="fa fa-gear green-color"></i></button>
        </div>
        <div ng-if="socialSettingsOpen" class="social-settings-dropdown">
            <ul class="list-unstyled">
                <li ng-click="fetchWatchlist('contacts')">Contacts</li>
                <li ng-click="fetchWatchlist('companies')">Companies</li>
            </ul>
        </div>
        <div ng-repeat="item in twitterFeeds track by $index" ng-if="!socialSettingsOpen && !hideTweets">
            <div class="tweet-box-wrapper clearfix">
                <div>
                    <div class="pull-left relative [[item.favoriteClass]]">
                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="pull-left tweet">
                        <p>[[item.name]]</p>
                        <div ng-bind-html="item.tweet"></div>
                        <ul class="twitter-action-btns list-unstyled">
                            <li ng-click="reactToTweet(item,'','re-tweet')"><i class="fa fa-retweet"></i></li>
                            <!--<li ng-click="openReplyToTweetForm(item)"><i class="fa fa-reply"></i></li>-->
                            <li ng-click="reactToTweet(item,'','favorite')"><i class="fa fa-heart"></i></li>
                        </ul>

                        <div ng-if="item.openForm" class="twitter-form-sm">
                            <input ng-model="comment" placeholder="Reply to this tweet"/>
                            <ul class="list-unstyled clearfix">
                                <li ng-click="reactToTweet(item,comment,'reply')"><i class="fa fa-check"></i></li>
                                <li ng-click="openReplyToTweetForm(item)"><i class="fa fa-close"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="updateWatchlist" class="no-tweets orange-color">
            Relatas couldn't find tweets from your contacts.<br><br>
            <p>Please add contacts to your watchlist</p>
            <ol>
                <li>Click on the settings icon <i class="fa fa-gear green-color" style="position: inherit;cursor: default;"></i></li>
                <li>Select contacts</li>
                <li>Search and add contacts to your watchlist by clicking the <i class="fa fa-plus-circle green-color"></i></li>
            </ol>
        </div>

        <hr>

        <h6>We could not find the twitter handles for below contacts. You may add the same.</h6>
        <div ng-repeat="item in watchlist" ng-if="!item.tweetAccExists" class="tweet-box-wrapper clearfix">
            <div class="pull-left relative">
                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                <i ng-if="item.tweetAccExists" class="fa fa-twitter"></i>
            </div>

            <div class="pull-left tweet" ng-if="!item.tweetAccExists">
                <p>[[item.name]] <span class="green-color" ng-if="!item.tweetAccExists && !item.openForm" title="Add Twitter Handle" ng-click="addTwitterHandle(item)">Add Twitter</span></p>
            </div>
            <div ng-if="!item.tweetAccExists && item.openForm" class="twitter-form-xs">
                <input ng-model="addThisTwitterHandle" placeholder="Add Twitter Handle"/>
                <ul class="list-unstyled">
                    <li ng-click="updateTwitterHandle(item,addThisTwitterHandle)"><i class="fa fa-check"></i></li>
                    <li ng-click="addTwitterHandle(item)"><i class="fa fa-close"></i></li>
                </ul>
            </div>
            <div class="pull-right" ng-if="!item.tweetAccExists">
                <p ng-click="removeContactsFromWatchlist(item)" title="Remove from Watchlist"><i class="fa fa-remove green-color cursor"></i></p>
            </div>
        </div>

        <!--
        This is where the contacts/companies are shown and added to the watchlist
        -->
        <div ng-if="showWatchListItems && hideTweets" class="watchlist-abs-wrapper">
            <div class="search-wrapper">
                <input class="form-control input-search-lg" ng-model="keywords" ng-change="searchContacts(keywords)" placeholder="Add [[fetchWatchlistType]] to watchlist" />
                <div ng-repeat="item in contacts track by $index" class="tweet-box-wrapper clearfix search-display">
                    <div class="pull-left relative">
                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                    </div>

                    <div class="pull-left tweet">
                        <p>[[item.name]]</p>
                        <p>[[item.emailId]]</p>
                    </div>
                    <div class="pull-right">
                        <p ng-if="!item.watchThisContact" ng-click="addContactsToWatchlist(item)" title="Add To Watchlist"><i class="fa fa-plus-circle green-color cursor"></i></p>
                    </div>
                </div>
            </div>
            <div ng-repeat="item in watchlist" class="tweet-box-wrapper clearfix">
                <div class="pull-left relative">
                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                    <i ng-if="item.tweetAccExists" class="fa fa-twitter"></i>
                </div>

                <div class="pull-left tweet">
                    <p>[[item.name]] <span class="green-color" ng-if="!item.tweetAccExists && !item.openForm" title="Add Twitter Handle" ng-click="addTwitterHandle(item)">Add Twitter</span></p>
                </div>
                <div ng-if="!item.tweetAccExists && item.openForm" class="twitter-form-xs">
                    <input ng-model="addThisTwitterHandle" placeholder="Add Twitter Handle"/>
                    <ul class="list-unstyled">
                        <li ng-click="updateTwitterHandle(item,addThisTwitterHandle)"><i class="fa fa-check"></i></li>
                        <li ng-click="addTwitterHandle(item)"><i class="fa fa-close"></i></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <p ng-click="removeContactsFromWatchlist(item)" title="Remove from Watchlist"><i class="fa fa-remove green-color cursor"></i></p>
                </div>
            </div>
        </div>
    </div>

</div>