<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligent insights for your meetings with smart scheduling. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Meeting Details | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/jquery.pwstabs.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/Today_files/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/fonts/fontawesome-webfont.woff2">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/slide/jquery.pwstabs.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/meetingDetails.js"></script>
    <script src="/javascripts/todaySeries/plugin/Chart.js"></script>
    <script src="/javascripts/todaySeries/tabs.js"></script>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
<style>
    [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
</style>
</head>
<body style="overflow-x: hidden;" ng-cloak>
<div class=""></div>
<div data-ng-controller="left_bar_today">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>
            <div class="" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">
                <div class="secNav sidebar-height">
                    <div class="secWrapper">
                        <div id="alt1" class="active" style="display: block;">
                            <div data-ng-include="'/todaySeries/leftMeetingBar'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="main-page-wrapper" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">

    <div class="row">
        <div class="col-xs-12 col-md-12 set-height profile-banner-grid2">

            <div class="meeting-details-information text-left" data-ng-controller="meetingDetails"  style="margin-top: 54px;">

                <div class="row">
                <div class="meeting-location-inner-containers meeting-place-infos col-md-5">
                    <h3>[[meetingTitle]]</h3>
                    <p class="location-informations">LOCATION</p>
                    <label style="font-weight: 400;">[[MeetingLocation]]</label>
                </div>
                <div class="meeting-location-inner-containers meeting-date-infos col-md-6">
                    <div class="date-container" style="display: inline-block">
                        <p class="location-informations fs-10">DATE</p>
                        <label>[[meetingDate]]</label>
                    </div>
                    <div class="time-container" style="display: inline-block">
                        <p class="location-informations fs-10">TIME</p>
                        <label>[[meetingTime]]</label>
                    </div>
                    <p class="location-informations fs-10">AGENDA</p>
                    <p class="max-lines-2"> [[meetingAgenda]]</p>
                </div>
                </div>

                <div class="btn-container-for-upload">
                    <a ng-show="meeting_download_ics" target="_blank" href="[[ics_url]]" class="btn-primary mDownloadICS"><i class="fa fa-download"></i> &nbsp Download .ics</a>
                    <label ng-show="meeting_upload_doc" style="cursor: pointer" class="btn-primary upload-document">
                        <input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>
                        Upload Document
                    </label>
                    <li class="dropdown" style="list-style: none;display: inline;">
                        <a ng-show="meeting_confirm" style="cursor: pointer" id="confirm-button" class="btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-check"></i> &nbsp [[confirm_meeting_text]]</a>
                    </li>

                    <li class="dropdown" style="list-style: none;display: inline">
                        <a ng-show="meeting_decline"style="cursor: pointer" id='meeting_decline-btn'class="btn-primary"><i class="fa fa-times"></i> &nbsp Decline</a>
                    </li>
                    <li class="dropdown"  style="list-style: none;display: inline;">
                        <a ng-show="meeting_re_schedule" id='re-schedule-meeting'class="btn-primary dropdown-toggle" style="cursor: pointer" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-calendar-check-o"></i> &nbsp Re-schedule
                        </a>
                        <div class="re-schedule-popup">
                            <div style="">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>Start</label>
                                    </div>
                                    <div class="col-xs-10 padding-l0">
                                        <input type="text" id="reschedule_start_date_picker" class="form-control text-uppercase input-arrow open-calendar ng-pristine ng-valid">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2"><label>End</label></div>
                                    <div class="col-xs-10 padding-l0" style="padding-right: 15px">
                                        <input type="text" id="reschedule_end_date_picker" class="form-control text-uppercase input-arrow open-calendar ng-pristine ng-valid disabled">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2" style="padding: 6px 0 0 15px;">
                                        <select class="selectpicker">
                                            <option value="In-Person"  data-icon="fa fa-map-marker"></option>
                                            <option value="Skype"  data-icon="fa fa-skype"></option>
                                            <option value="Phone"  data-icon="fa fa-phone"></option>
                                            <option value="Conference Call"  data-icon="fa fa-group"></option>
                                        </select>

                                        <!--<div class="btn-group reschedule-dropdown margin-tb5">-->
                                            <!--<button type="button" class="btn btn-default dropdown-toggle margin0" data-toggle="dropdown" ng-model="locationType">-->
                                                <!--<span data-bind="label"><i class="fa fa-map-marker"></i></span>&nbsp;<span class="caret"></span>-->
                                            <!--</button>-->
                                            <!--<ul class="dropdown-menu" role="menu">-->
                                                <!--<li class="fa fa-map-marker"></li>-->
                                                <!--<li i class="fa fa-skype"> </li>-->
                                                <!--<li class="fa fa-phone"></li>-->
                                                <!--<li class="fa fa-group"></li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<div class="btn-group reschedule-dropdown margin-tb5">-->
                                            <!--<select class="btn btn-green selectpicker" ng-model="locationType">-->
                                                <!--<option value="In-Person"><i class="fa fa-phone"></i></option>-->
                                                <!--<option value="Skype"><i class="fa fa-phone"></i></option>-->
                                                <!--<option value="Phone"><i class="fa fa-phone"></i></option>-->
                                                <!--<option value="Conference Call"><i class="fa fa-phone"></i></option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="margin-tb5">
                                        <input type="text" class="form-control ng-pristine ng-valid" ng-model="suggested_location" placeholder="Suggest new location *" style="padding: 6px 12px;">
                                            <input type="text" class="form-control ng-pristine ng-valid" ng-show="filter=='skype'" ng-model="suggested_location" placeholder="Suggest new Skype number *" style="padding: 6px 12px;">
                                    </div>

                                    </div>
                                </div>
                                <div class="margin-b15">
                                    <textarea class="form-control ng-pristine ng-valid" ng-model="suggest_comment" placeholder="Comment *"></textarea>
                                </div>
                                <div class="text-right">
                                    <input type="button" value="Close" class="btn-primary close-button close-btn" tabindex="1">
                                    <input type="button" ng-click="re_scheduleMeeting(suggested_location,suggest_comment)" value="Submit" class="btn-primary re-schedule-button" tabindex="0">
                                </div>
                            </div>
                            </div>
                    </li>

                    <div class="confirm-popup">
                        <div>
                            <div>
                                <textarea ng-model="confirm_message" class="form-control" placeholder="Message *"></textarea>
                            </div>
                            <div class="text-right">
                                <input ng-click="confirmPopupClose()" type="button" value="Close" class="btn-primary close-button close-btn" tabindex="1">
                                <input ng-click="confirmWithMessage(confirm_message)" type="button" value="Confirm" class="btn-primary">
                               <!-- <input ng-click="confirmWithoutMessage()" type="button" value="CONFIRM" class="pull-right btn-primary"> -->
                            </div>
                        </div>
                    </div>
                    <div class="decline-popup">
                        <div>
                            <div class="row">
                                <div class="col-xs-12"><p>Do you wish to cancel the meeting</p>
                                </div>
                                <div class="col-xs-3"><label>Message</label></div>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" ng-model="cancel_message">
                                </div>
                            </div>
                            <div class="button-container">
                                <input  type="button" ng-click="declineMeeting(cancel_message)" value="YES" class="pull-left btn-primary">
                                <input  type="button" value="NO" class="pull-right btn-primary close-btn">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-left: -20px">
                    <div class="col-sm-6 padding0">
                        <div class="meeting-after-before-container border-right" ng-show="meetingBeforeShow">
                            <label class="meeting-after-before">MEETING BEFORE:</label>&nbsp
                            <img src="[[meetingBeforePic]]" title="[[meetingBeforeName]]" class="meeting-pic" style="  width: 40px;
  height: 40px;">&nbsp
                            <span class="user-relationship green-color fs-12">[[meetingBeforeTime]]</span>
                            <img src="[[meetingBeforeLocationTypePic]]" alt="skype" class="skype-icons">
                        </div>
                    </div>
                    <div class="col-sm-6 padding0">
                        <div class="meeting-after-before-container" ng-show="meetingAfterShow">
                            <label class="meeting-after-before">MEETING AFTER:</label>&nbsp
                            <img src="[[meetingAfterPic]]" title="[[meetingAfterName]]" class="meeting-pic" style="  width: 40px;
  height: 40px;">
                            <span class="user-relationship green-color fs-12">[[meetingAfterTime]]</span>
                            <img src="[[meetingAfterLocationTypePic]]" alt="skype" class="skype-icons">
                        </div>
                    </div>
                </div>

            </div>


            <!--Participant -->
            <div class="participant-container" id="meetingParticipants_content" data-ng-controller="meetingParticipants" style="display: none">
                <p class="meeting-Participants-heading meeting-Participants" style="margin-left: 20px;padding-bottom: 5px;">Meeting Participants</p>

                <div class="tabs">
                    <div style="" ng-repeat="participant in participantsList" class="text-center tab-user-[[$index+1]] [[participant.className]]" ng-click="participantClick(participant.userId,participant.emailId,participant.name)">
                        <img ng-if="!participant.noPicFlag" ng-src="[[participant.image]]" title="[[participant.name]]" alt="[[participant.name]]" class="profile-img2" imageonload="imageNotLoaded(participant)"><br/>
                        <span ng-if="participant.noPicFlag"><span class="image-placeholder-medium-text60" title="[[participant.name]]" style="line-height: 20px;display: block;">[[participant.nameNoImg]]</span></span>
                        <label class="tab-text-trunc">[[participant.name]]</label>
                    </div>
                </div>
                <div  class="participant-divss tab-1">
                    <div class="row">
                        <div class="text-left participant-user-designation col-md-5 line-20">
                            <label class="relationship-label [[p_class_invisible]]">[[p_position]]</label>
                            <p><i class="fa fa-map-marker fa-lg orange-color"></i>&nbsp [[p_location]]</p>
                            <p><i class="fa fa-phone fa-lg orange-color"></i>&nbsp [[p_mobileNumber]]</p>
                            <p><i class="fa fa-envelope orange-color"></i>&nbsp [[p_emailId]]</p>

                                <a style="cursor: pointer;[[p_favoriteColor_a]]" ng-click="updateFavorite(p_id,p_favorite)" class="favourite btn-white-border"><i class="fa fa-star fa-lg orange-color" style="[[p_favoriteColor]]"></i>&nbsp Favourite</a>
                        </div>

                        <div class="col-sm-6">
                            <div class="relationship-container">
                                <div class="row margin0" >
                                    <p class="meeting-Participants-heading" style="font-size: 14px !important;font-weight: 600;margin-top: 15px;">Relationship</p>

                                        <a class="btn btn-white-border mCustomer" ng-click="updateRelation(l_userId,p_id,p_relation_customer,p_relation_key_prospect_customer,p_relation_customer_value)" style="cursor: pointer;[[p_customerColor]]"><i class="fa fa-user" style="[[p_customerColor]]"></i>&nbsp Customer</a>


                                        <a class="btn btn-white-border mProspect" ng-click="updateRelation(l_userId,p_id,p_relation_prospect,p_relation_key_prospect_customer,p_relation_prospect_value)" style="cursor: pointer;[[p_prospectColor]]"><i class="fa fa-usd" style="[[p_prospectColor]]"></i>&nbsp Prospect</a>
                                            <span style="padding: 0 5px;font-size: 22px !important;font-weight: 300;position: relative;top: 3px;"></span>

                                    <br>

                                        <a class="btn btn-white-border mInfluencer" ng-click="updateRelation(l_userId,p_id,p_relation_influencer,p_relation_key_decisionmaker_influencer,p_relation_influencer_value)" style="cursor: pointer;[[p_influencerColor]]"><i class="fa fa-share-alt" style="[[p_influencerColor]]"></i>&nbsp Influencer</a>

                                        <a class="btn btn-white-border mDecisionMaker" ng-click="updateRelation(l_userId,p_id,p_relation_decision_maker,p_relation_key_decisionmaker_influencer,p_relation_decision_maker_value)" style="cursor: pointer;[[p_decision_makerColor]]"><i class="fa fa-user" style="[[p_decision_makerColor]]"></i>&nbsp Decision Maker</a>

                                </div>

                            </div>
                            <div class="connected-via-container">

                                <div class="row margin0">
                                    <p class="meeting-Participants-heading" style="font-size: 14px !important;font-weight: 600;margin-top: 15px;">Connected Via</p>

                                    <!--<a class="btn btn-white-border mConnectFb" style="[[p_connected_via_facebook_color]];cursor: default"> <i class="fa fa-facebook-official fa-lg" style="[[p_connected_via_facebook_color]]"></i>&nbsp Facebook</a>-->
                                        <!--<a class="btn btn-white-border mConnectLinkedin" style="[[p_connected_via_linkedin_color]];cursor: default"><i class="fa fa-linkedin-square fa-lg" style="[[p_connected_via_linkedin_color]]"></i>&nbsp Linkedin</a>-->
                                        <a class="btn btn-white-border mConnectTwitter" style="[[p_connected_via_twitter_color]];cursor: default"><i class="fa fa-twitter-square fa-lg" ></i>&nbsp Twitter</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="" style="max-width: 1024px;margin: auto;padding:0 15px 0 15px;">
                <div class="interations-relationship-past-90-days text-left row" data-ng-controller="participantPast90Days">
                    <h2 class="text-center">Past [[dataFor]] Days</h2>

                        <hr class="hr-line">

                    <div class="text-center interactions-initiations00 col-md-5">
                        <div class="row">
                            <h4 class="">Interactions Initiations</h4>
                        </div>
                        <div class="donut-wrapper">
                            <canvas id="donut-chart" width="200" height="200"> Your browser does not support Charts. Please update here.</canvas>
                            <div class="donut-num">
                                [[interaction_initiations_total]]
                            </div>
                        </div>
                        <div class="row interactions-init" style="margin-top:-15px;">
                            <div class="col-xs-1 col-xs-offset-4 orange-bg">
                                <span>[[interaction_initiations_you]]</span>
                            </div>
                            <div class="col-xs-1" style="line-height: 35px;margin-left: -10px;margin-right: 20px; ">
                                You
                            </div>
                            <div class="col-xs-1 orange-off-bg">
                                <span>[[interaction_initiations_other]]</span>
                            </div>
                            <div class="col-xs-3" style="
                                     line-height: 35px;
                                     margin-left: -10px; max-width:92px;max-height: 45px;overflow:hidden;">
                                [[interaction_initiations_other_name]]
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row text-center">
                            <h4>Relationship Strength</h4>
                            <div class="orange-color" style="font-size:30px;">[[relationshipStrength]]<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>
                        </div>
                        <div class="row" style="margin: 55px 0 0 0;">
                            <ul class="graph" style="width: 325px;">
                                <li>
                        <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                            <p class="values-top">[[interactionsByType.a.count]]</p>
                        </span></li>
                                <li>
                        <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                            <p class="values-top">[[interactionsByType.b.count]]</p>
                        </span></li>
                                <li>
                        <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                            <p class="values-top">[[interactionsByType.c.count]]</p>
                        </span></li>
                                <li>
                        <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                            <p class="values-top">[[interactionsByType.d.count]]</p>
                        </span></li>
                                <!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
                                <li>
                                    <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                                        <p class="values-top">[[interactionsByType.f.count]]</p>
                                    </span>
                                </li>
                                <!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->
                            </ul>
                            <ul class="graph-icons" style="width: 325px;">
                                <li><i class="fa fa-calendar-check-o green-color"></i></li>
                                <li><i class="fa fa-phone green-color"></i></li>
                                <li><i class="fa fa-reorder green-color"></i></li>
                                <li><i class="fa fa-envelope green-color"></i></li>
                                <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                                <li><i class="fa fa-twitter-square twitter-color "></i></li>
                                <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                            </ul>

                        </div>
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-sm-10 col-sm-offset-2 slider-btn">
                                <strong style="font-size: 16px;">Your Rating: &nbsp;&nbsp;&nbsp; </strong>
                                <input class="mYourRatingForm" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-value="[[relationshipStrength_updated]]" value="[[relationshipStrength_updated]]"/> <span id="relationshipStrength_updated">[[relationshipStrength_updated]]</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="conmmon-connection-and-invite-member-container" data-ng-include="'/series/commonConnection&InviteMeeting'"></div>

                <div class="invite-team-members" style="max-width: 768px;margin: auto;position:relative" data-ng-controller="interaction_timeline">
                    <span class="btn-primary btn-lg btn invite-team-members-btn border-radius-top-lr-2" ng-click="timelineTimeline(cuserId,cEmailId)" id="timeline-button">TIMELINE</span>
                    <span class="btn-primary btn-lg btn invite-team-members-btn border-radius-top-lr-2 mSocial-3b" ng-click="timelineSocial(cuserId,cEmailId)" id="social-button">SOCIAL</span>
                    <!--<span class="btn-primary btn-lg btn invite-team-members-btn mFiles-3b" ng-click="timelineFiles(cuserId,cEmailId)" id="files-button">FILES</span>-->
                    <!--<span class="btn-primary btn-lg btn invite-team-members-btn" ng-click="timelineTasks(cuserId,cEmailId)" id="task-button">TASKS</span>-->
                    <!--Timeline Section -->
                    <div id="timeline1-sec" class="timeline1-sec text-left">
                        <div class="l row" style="margin-bottom: 8px;" >
                            <div class="last-interaction col-xs-6">
                                    <label>Your last Interaction was on [[lastInteraction]]</label>
                            </div>
                            <div class="send-email-btn text-right col-xs-6">
                                <a style="cursor: pointer" class="btn-green btn" ng-click="openSendEmailContainer()" id="send-email"><i class="fa fa-envelope-o"></i> &nbsp; Send Email</a>
                                <a class="btn-green mScheduleMeeting btn" ng-href="[[scheduleMeeting]]"><i class="fa fa-calendar"></i> &nbsp; Schedule Meeting</a>
                            </div>
                        </div>
                        <div class="compose-email-container" ng-show="send_email_container" style="padding-bottom: 6px;">
                            <label>Compose Email</label>
                            <div class="form">
                                <div class="row" style="padding:0;">
                                    <div class="col-xs-8" style="padding:0;">
                                        <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box">
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <!--<label class="upload-document attach-document disabled" >-->
                                            <!--<input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>-->
                                            <!--Attach File-->
                                        <!--</label>-->
                                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_doc_tracking"><span class="input-label-align"> Enable tracking</span></label>-->
                                    </div>
                                </div>

                                <div class="row margin-r0" style="padding:0;">
                                    <textarea ng-model="compose_email_body" class="message-send form-control"></textarea>
                                </div>
                                <div style="padding: 10px">
                                    <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_track_viewed"><span class="input-label-align">Track email</span></label> &nbsp;&nbsp;-->
                                    <label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_remaind"> <span class="input-label-align">Notify in 7 Days</span></label>
                                </div>
                            </div>
                            <div class="text-right">
                                <input type="button" ng-click="openSendEmailContainer()" value="Cancel" class="cancel-message btn-primary" tabindex="-1">
                                <input type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId,null,true)" value="Send Message" class="send-message mSendEmail-3b btn-primary">
                            </div>
                        </div>

                        <div ng-repeat="item in timelineItems" class="row [[item.className]]" >
                            <div style="" class="col-xs-2 text-right padding0">
                                <p class="time-info-details lite">[[item.duration]]</p>
                                <p class="time-info-details bold">[[item.dateText]]</p>
                            </div>
                            <div class="col-xs-10" style="[[item.dataObj.itemPointer]]">
                                <labe class='timeline1-sec-dot'></labe>
                                <div class="facebook-linkedin-twitter relative clearfix">

                                    <i class="fa [[item.iconClass]] font-20 timeline-icons" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></i>
                                    <span class="pos-abs-action-type-4series [[item.interactionInitClass]]">
                                        <i class="[[item.actionType]] rotate-45"></i>
                                    </span>
                                    <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')"></span>

                                    <a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'reply')" class="btn-green-timeline pull-right">&nbsp; [[item.but]]</a>&nbsp
                                    <div ng-show="item.emailRead" class="email-read" style="margin: 0px 0 0 39px;float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                                </div>
                            </div>
                            <div class="reply-to-mail clearfix" ng-show="item.dataObj.composeMailBox">
                                <textarea ng-model="item.dataObj.compose_email_body" class="form-control" autofocus></textarea>
                                <div class="pull-left" style="margin: 10px">
                                    <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="item.dataObj.compose_email_track_viewed" class="ng-pristine ng-untouched ng-valid"><span class="input-label-align">Track email</span></label> &nbsp;&nbsp;-->
                                    <label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="item.dataObj.compose_email_remaind" class="ng-pristine ng-untouched ng-valid"> <span class="input-label-align">Notify in 7 Days</span></label>
                                </div>
                                <button class="btn btn-green-timeline pull-right" ng-click="sendEmail(item.dataObj.compose_email_subject,item.dataObj.compose_email_body,item.dataObj.compose_email_doc_tracking,item.dataObj.compose_email_track_viewed,item.dataObj.compose_email_remaind,p_name,cEmailId,cuserId,item.dataObj)" style="margin: 10px">Send</button>
                            </div>
                            <div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
                                <hr style="margin-top: 0;">
                                <div style="padding:0 0 0 10px;width: 80%;margin-left: auto;" class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
                                    <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent" style="width: 80%;margin-left: auto;padding-left: 10px;">

                                    </div>
                                    <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 10%;" src="/images/load_image.gif"></div>
                            </div>
                            <div id="[[item.dataObj.bindHtmlKey]]">

                            </div>
                        </div>
                    </div>
                    <!--Social Section -->
                    <div class="timeline1-sec text-left" id="social-sec">
                        <div class="row" ng-repeat="item in socialTimeline">
                            <div class="col-xs-2 text-right">
                                <p class="time-info-details">[[item.duration]]</p>
                                <p class="time-info-details">[[item.dateText]]</p>
                            </div>
                            <div class="col-xs-10">
                                <labe class='timeline1-sec-dot'></labe>
                                <div class="facebook-linkedin-twitter l facebook-info-details social-facebook-info-details">
                                    <i class="fa [[item.iconClass]] font-20"></i>
                                    <span class="pos-abs-action-type-4series-social">
                                        <i class="[[item.actionType]] rotate-45"></i>
                                    </span>
                                    &nbsp [[item.title]]
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--files Section -->
                  <!--  <div class="timeline1-sec text-left" id="files-sec">
                        <div class="l text-right">
                            <a class="btn-primary disabled"><i class="fa fa-upload"></i> &nbsp; Upload Document</a>
                        </div>
                        <br/>
                        <div class="row" ng-repeat="item in docsTimeline">
                            <div class="col-xs-2 text-right">
                                <p class="time-info-details">[[item.duration]]</p>
                                <p class="time-info-details">[[item.dateText]]</p>
                            </div>
                            <div class="col-xs-10 ">
                                <labe class='timeline1-sec-dot'></labe>
                                <div class="social-trends l facebook-info-details">
                                    <i class="fa fa-file-pdf-o font-20"></i>&nbsp [[item.title]]
                                    <a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId)" class="btn-primary view-fb-btn">&nbsp; [[item.but]]</a>&nbsp
                                </div>
                            </div>
                            <div id="[[item.dataObj.bindHtmlKey]]">

                            </div>
                        </div>
                    </div> -->
                    <!--Task Section -->
                   <!--
                    <div class="timeline1-sec text-left" id="tasks-sec">
                        <div class="l text-right" style="position: relative">
                            <a class="btn-primary cursor-pointer mAddTaskDetails" id="add-task-timeline" ng-click="assignTaskTimeline($event)"><i class="fa fa-check-square-o"></i> &nbsp; Add New Task</a>
                            <div class="row" id="add-task-box" style="display: none;">

                                <div class="add-task2 clearfix" style="display: block;">
                                    <div class="row margin0">
                                        <div class="col-xs-3">

                                            <label>Action Item</label>
                                        </div>
                                        <div class="col-xs-9 padding0">
                                            <input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>
                                        </div>

                                    </div>
                                    <div class="row margin0">
                                        <div class="col-xs-3">

                                            <label>Description</label>
                                        </div>
                                        <div class="col-xs-9 padding0">
                                            <textarea ng-model="taskDescription" id="taskDescription" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>
                                        </div>

                                    </div>
                                    <div class="row margin0">
                                        <div class="col-xs-3">

                                            <label>Due Date</label>
                                        </div>
                                        <div class="col-xs-9 padding0">
                                            <input tabindex="3" type="text" id="dueDateTask" class="form-control input-arrow-task" placeholder="Date & Time"/>
                                        </div>

                                    </div>
                                    <div class="text-right">
                                        <input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">
                                        <input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary mAddedTask-3b re-schedule-button" tabindex="4">

                                    </div>

                                </div>

                            </div>
                        </div>
                        <table class="table">
                                <thead>
                                <tr>
                                    <th>OWNER</th>
                                    <th>TASK</th>
                                    <th>DESCRIPTION</th>
                                    <th>DUE DATE</th>
                                    <th>ACTION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in tasksTimeline">
                                    <td class="text-center"><img class="image-placeholder-small" src="[[item.ownerPic]]" title="[[item.owner]]" style="width: 30px;height: 30px;"></td>
                                    <td title="[[item.titleFull]]">[[item.title]]</td>
                                    <td title="[[item.descriptionFull]]">[[item.description]]</td>
                                    <td class="[[item.textColor]]">[[item.dueDate]]</td>
                                    <td class="text-center"><input type="checkbox" class="mTaskAction" ng-show="item.showCheckBox" ng-model="item.status" ng-disabled="!item.updateTaskStatus" ng-change="updateTaskStatus(item.taskId,item.status)"></td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                    -->
                    <a ng-show="show_show_more" ng-click="goToUrl(interactionUrl)" class="pull-right fs-14 cursor-pointer mSeeMore3B" style="color: #267368;">See More <i class="fa fa-chevron-right"></i></a>
                </div>

                <br>
                <br>
                <br>
            </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "3000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $('.selectpicker').selectpicker({
            style: 'btn-primary width-45 margin0'
        });
    });

</script>
<script>


</script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script>
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<script type="text/javascript" src="/javascripts/common/createTask.js"></script>
<script>
    function myFunction() {
        setTimeout(function(){
            $("#add-task-open").hover(function(){
            $("#add-task").toggle();
        }); }, 6000);
    }
</script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>
