<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Insights | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">-->

    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <style>
        #sidebar-wrapper {
            margin-top: 0 !important;
        }

        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>
<div id="wrapper">
    <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
    </div>

    <div id="page-content-wrapper">
        <div class="profile-banner-grid-3a set-height" style="display:none;">
            <div class="profile-banner-container" data-ng-controller="background_image">
                <img ng-src="[[image_top]]" alt="banner img" style="width: 100%;" class="img-responsive">
            </div>
            <div ng-controller='logedinUser' class="overlay-message">
                <p class="fs-18 margin-tb25">Hi <strong>[[userName]]!</strong> <br>We have planned <strong>[[numberOfMeetingsHour]]</strong> for you today. Have a great day!</p>
            </div>
        </div>

        <div class="container-fluid" data-ng-controller="actionItems">

            <div class="updatingMessageWrapper" ng-if="showOverlay2">
                <div class="overlay-top-message">
                    <h2>
                        <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        <span>You have taken the first step to build better relationships. <br> Relatas is building your insights. This might take up to 5 minutes.</span>
                    </h2>

                    <ul>
                        <li style="list-style: none;margin-left: -20px;"><h4><img src="/images/dashboard-icons/insights.png"/> Tips to use Relatas effectively </h4></li>
                        <li>Your Unique Relatas Id: <i>[[publicProfileUrl]]</i> - Share this unique id with your contacts or include as an email signature to help others set time with you</li>
                        <li>Check out the cheat sheet on how Relatas can help you sell faster: <a href="[[helpUrl]]" target="_blank">View help document</a></li>
                        <!--<li class="orange-color">This popup will close automatically</li>-->
                    </ul>
                </div>
            </div>
            <div class="updatingMessageWrapper" ng-if="showOverlay3">
                <div class="overlay-top-message">
                    <h2>
                        <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                        <span>Relatas is building your insights. This might take up to 5 minutes.</span>
                    </h2>
                    <ul>
                        <li>Your Unique Relatas Id: <i>[[publicProfileUrl]]</i> - Share this unique id with your contacts or include as an email signature to help others set time with you</li>
                        <li>Check out the cheat sheet on how Relatas can help you sell faster: <a href="[[helpUrl]]" target="_blank">View help document</a></li>
                    </ul>
                </div>
            </div>

            <div class="row dashboard-action-items">
                <div class="col-md-8 box-action-items">
                    <div class="row">
                        <div class="col-md-12 padding0 bg-white">
                            <div ng-repeat="item in eventsArr" class="action-item clearfix">
                                
                                <div class="non-meeting-row" ng-if="item == 'losingTouch'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="inline-insights">
                                                <div data-ng-include="'/todaySeries/losingTouch'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="non-meeting-row" ng-if="item == 'remindToConnect'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="inline-insights">
                                                <div data-ng-include="'/todaySeries/reminderToConnect'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="non-meeting-row" ng-if="item == 'meetingFollowUp'">
                                    <div class="row">
                                        <div class="col-md-12 insights-row clearfix">
                                            <div class="inline-insights">
                                                <div data-ng-include="'/todaySeries/meetingFollowUp'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="non-meeting-row" ng-if="item == 'travellingToLocation'">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-12 insights-row clearfix">-->
                                            <!--<div class="inline-insights">-->
                                                <!--<div  data-ng-include="'/todaySeries/travellingToLocation'"></div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="non-meeting-row" ng-if="item == 'meetingToday'" style="margin-top: -15px;">
                                    <div data-ng-include="'/todaySeries/meetingsToday'"></div>
                                </div> 

                                <div class="non-meeting-row" ng-if="item == 'upcomingMeeting'" style="margin-top: -15px;">
                                    <div data-ng-include="'/todaySeries/upcomingMeetings'"></div>
                                </div> 
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 margin-l20">
                    <div ng-if="sendEmailBoardToggle">
                        <div data-ng-include="'/todaySeries/sendMailToConnectActionBoard'"></div>
                    </div>
                </div>
            </div>

            <div class="action-board" ng-if="actionBoardToggle">
                <div ng-if="showMeeting">
                    <div data-ng-include="'/todaySeries/meetingView'"></div>
                </div>
                <div ng-if="showEmail">
                    <div data-ng-include="'/todaySeries/mailsToRespondActionBoard'"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        $("body").on('click', '#menu-toggle', function(e) {
            e.preventDefault();
            $(".overlay").show();
        });
        $(window).resize(function() {
            var scrollWidth = $(window).width();
            if (scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });
</script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/dashboard3aV2.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script>
    $(document).ready(function() {
        $('.open-add-task').popover();
        $('[data-toggle="tooltip"]').tooltip()
        // var socket = io.connect('http://localhost:7000');

        $('.selectpicker').selectpicker({
            style: 'btn-primary width-45 margin0'
        });
    });
</script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsV2.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/meetingViewV2.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/mailsToRespondV2.js"></script>
</body>

</html>