<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Today's Agenda | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>

    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/today.js"></script>

    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
<style>
    [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
</style>

</head>

<body style="overflow-x:hidden;" ng-cloak>
<div class=""></div>
<div data-ng-controller="left_bar_today">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs hidden-ipad-portrait" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>
            <div class="" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">
                <div class="secNav sidebar-height">
                    <div class="secWrapper">
                        <div id="alt1" class="active" style="display: block;">
                            <div id="" data-ng-include="'/todaySeries/leftMeetingBar'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">
    <div class="row">
        <div class="col-xs-12 col-md-12 profile-banner-grid set-height">

            <div data-ng-controller="facebook_linkedin_alert">
                <div ng-if="alertFacebook" class="fb-alert alert-danger alert-dismissible clearfix fade in" style="margin-top: 0;" role="alert">
                    <div class="pull-left">
                        <h4>Oh snap! Facebook APIs have changed!</h4>
                        <p>Please ADD your Facebook account to Relatas in the Profile <a href="/settings">Settings</a> section.</p>
                    </div>
                    <p class="pull-right"> <a href="/settings" class="btn btn-green">Go to Settings</a> <button type="button" class="btn btn-green" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Don't alert again</span></button></p>
                </div>
                <div ng-if="alertLinkedin" class="alert alert-danger alert-dismissible clearfix fade in" role="alert">
                    <div class="pull-left">
                    <h4>Oh snap! Linkedin APIs have changed!</h4>
                    <p>Please ADD your Linkedin account to Relatas in the Profile <a href="/settings">Settings</a> section.</p>
                    </div>
                    <p class="pull-right"> <a href="/settings" class="btn btn-green">Go to Settings</a> <button type="button" class="btn btn-green" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Don't alert again</span></button></p>
                </div>
                <div ng-if="alertAll" class="alert-all alert-danger alert-dismissible clearfix fade in" role="alert">
                    <div class="pull-left">
                        <h4>Oh snap! Linkedin & Facebook APIs have changed!</h4>
                        <p>Please ADD your Linkedin account to Relatas in the Profile <a href="/settings">Settings</a> section.</p>
                    </div>
                    <p class="pull-right"> <a href="/settings" class="btn btn-green">Go to Settings</a> <button type="button" class="btn btn-green" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Don't alert again</span></button></p>
                </div>
            </div>

            <!--<div data-ng-controller="google_meetings_alert">-->
                <!--<div ng-if="alertMeetingsUpdate" class="fb-alert alert-danger alert-dismissible clearfix fade in" style="margin-top: 0;" role="alert">-->
                    <!--<div class="pull-left">-->
                        <!--<h4>Your meeting details are being updated...</h4>-->
                        <!--&lt;!&ndash;<p>We will notify you.</p>&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-green" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">Don't alert again</span></button></p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

            <div class="profile-banner-container" data-ng-controller="weather_and_today_coun" style="position: relative;">
                <img ng-src="[[image_top]]" alt="banner img" style="height: 275px;width: 100%;" class="img-responsive">
                <div class="time-zone-container">
                    <span>[[city_country_top]] &nbsp |</span>
                    <span>[[date_today_top]] &nbsp |</span>
                    <span class="Temp-2C">Temp [[today_temp_min]] &nbsp/ &nbsp [[today_temp_max]]</span>
                    <!--<span class='pull-right'>[[today_tasks_count_top]]</span>-->
                    <!--<span class='pull-right'> &nbsp &nbsp &nbsp Tasks :</span>-->
                    <span class='pull-right'>[[today_meeting_count_top]]</span>
                    <span class='pull-right'>Meetings :</span>
                </div>
            </div>


            <div class="row" data-ng-controller="today_landing_top_counts" style="margin-top: 10px;">
                <div class="col-xs-6 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-2 text-center un-prepared-meetings">
                    <a href='/insights/losing/touch/details'>
                        <span class="underline">[[losingTouchNew]]</span>

                        <div class="loosing-inner-section">
                            <p>Losing touch</p>
                        </div>
                    </a>
                </div>

                <!--<div class="un-prepared-meetings col-xs-6 col-sm-2 col-md-2 text-center">-->
                    <!--<span style="cursor:pointer;" id="unpreparedMeeting-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Coming soon">[[unpreparedMeetingsCount]]</span>-->

                    <!--<div class="loosing-inner-section">-->
                        <!--<p>Unconfirmed Meetings</p>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="un-prepared-meetings col-xs-6 col-sm-2 col-md-2 text-center">
                    <!--<span style="cursor:pointer;" id="emailResponses-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Coming soon">[[emailResponsesPending]]</span>-->

                    <!--<div class="loosing-inner-section">-->
                        <!--<p>Your Responses Pending</p>-->
                    <!--</div>-->

                    <a href='/insights#responsePending?navigatedFrom=todayLanding'>
                        <span class="underline">[[emailResponsesPending]]</span>

                        <div class="loosing-inner-section">
                            <p>Your Responses Pending</p>
                        </div>
                    </a>
                </div>
                <!--<div class="un-prepared-meetings col-xs-6 col-sm-2 col-md-2 text-center">-->
                    <!--<span style="cursor:pointer;" id="emailAwaiting-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Coming soon">[[emailAwaitingResponses]]</span>-->

                    <!--<div class="loosing-inner-section">-->
                        <!--<p>You Awaiting Responses</p>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="un-prepared-meetings col-xs-6 col-sm-2 col-md-2 text-center">
                    <a href='/people/to/connect'>
                        <span class="underline">[[peopleToConnect]]</span>

                        <div class="loosing-inner-section">
                            <p>Remind To Connect</p>
                        </div>
                    </a>
                </div>
                <!-- <div class="un-prepared-meetings col-xs-6 col-sm-2 col-md-2 text-center">
                    <div style="[[socialUpdatesOpacity]]">
                        <span>[[socialUpdates]]</span><br/>

                        <div class="loosing-inner-section text-center">
                            <p>Social Updates</p>
                        </div>
                    </div>
                    <a href="/settings" class="btn-green btn [[socialUpdatesSetupClass]]" style="position: relative;top: -85px;left: 0px;right: 0;">Set Up &nbsp &nbsp<i
                            class="fa fa-exclamation-circle"></i>&nbsp</a>
                </div> -->
            </div>

            <div class="networked_contacts text-lefts" data-ng-controller="today_landing_agenda">
                <h4> <span class="todays-agenda">[[agendaTitle]]</span> <i class="fa fa-chevron-circle-[[arrowDirection]] fa-lg chevron" ng-click="agendaNext()"></i></h4>


                <table class="table table-hover">
                <thead>
                <tr class="font-12">
                    <th class="col-md-4 sortable ">
                        MEETING WITH
                    </th>
                    <th class="col-md-3 sortable">
                        <span class="line"></span>DETAILS
                    </th>
                    <th class="col-md-2 sortable">
                        <span class="line"></span>MEDIUM
                    </th>
                    <th class="col-md-3 sortable align-right">
                        <span class="line"></span>
                    </th>
                </tr>
                </thead>
                <tbody class="tb-vertical-align-center landing-tb">
                <!-- row -->
                <tr ng-show="noAgendaFoundFlag">
                    <td colspan="4">[[noAgendaFound]]</td>
                </tr>
                <tr ng-repeat="item in agendaItems" class="mLandingMeeting clickable-block [[item.disableClass]]" ng-click="prepareMeeting(item.preparedMeetingUrl)">
                    <td class="cursor-pointer" ng-click="prepareMeeting(item.url)">
                        <div style="float: left">
                            <img ng-if="!item.noPicFlag" src="[[item.picUrl]]" title="[[item.name]]" class="user-meeting-profile img-sx" imageonload="imageNotLoaded(item)">
                            <span ng-if="item.noPicFlag" class="image-placeholder47" title="[[item.name]]" style="margin: 3px 0;"><span>[[item.nameNoImg]]</span></span>
                            <i class="fa fa-clock-o fa-lg"></i>
                        </div>
                        <div class="user-meeting-labels today-agenda" style="">
                            <label>[[item.name]]</label>

                            <p>[[item.time]]</p>
                        </div>
                    </td>
                    <td class="cursor-pointer" ng-click="prepareMeeting(item.url)"><a ng-href="[[item.url]]">[[item.title]]</a></td>
                    <td class="cursor-pointer" ng-click="prepareMeeting(item.url)"><img class="pull-left" src="[[item.locationTypePic]]"><span>[[item.location]]</span></td>
                    <td class="text-center">
                        <!--<span ng-show="item.isPreparedMeeting">[[item.prepareButtonText]]</span>-->

                        <!--<input ng-show="!item.isPreparedMeeting" type="button" value="[[item.prepareButtonText]]" class="btn btn-green [[item.preparedMeetingClass]]" style="[[item.preparedMeetingStyle]]" ng-click="prepareMeeting(item.preparedMeetingUrl)">-->
                        <input type="button" value="[[item.prepareButtonText]]" class="[[item.buttonClass]]" ng-click="prepareMeeting(item.preparedMeetingUrl)">
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="interaction-container text-center" data-ng-controller="traveling_location">

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-3">
                        <p style="padding: 10px 0 10px 0!important;" id="no_meeting_location" ></p>
                    </div>
                </div>

                <div class="input-container row">
                    <div class="col-sm-3 col-sm-offset-2 text-right">
                        <input type="text" class="input-text" id="locationEntered" ng-disabled="location_traveling_disable" value="[[location_traveling]]"
                               placeholder="Location">
                    </div>
                    <div class="col-sm-1 text-center display-tb" style="padding: 0;width: 35px;margin: auto;">
                        <strong class="ver-align-center" style="font-size:14px">AND</strong>
                    </div>
                    <div class="col-sm-3 text-right">
                        <input type="text" class="input-text" placeholder="Search Designation/ Title"
                               id="designationEntered" ng-enter="searchTraveling()">
                    </div>
                    <div class="col-sm-1">
                        <input id="searchLocation" type="button" class="btn-primary btn-go" value="GO" ng-click="searchTraveling()">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-3">
                        <div class="text-center ng-binding" ng-show="noConnectionsFoundFlag"><br>
                            [[noConnectionsFoundForSearch]]
                        </div>
                    </div>
                </div>

                <div class="als-container" id="demo4">
                <span class="als-prev hide" id="als-prev"><img src="/landing/img/arrow-left-dark.png" class="left-arrow-xs0" ng-click="PrevConn()" alt="Prev" title="Previous"/></span>
                    <div class="als-viewport" style="display: inline-block;">
                        <ul class="als-wrapper" id="carol2">
                            <li ng-repeat="cConnection in cConnections" id="[[cConnection.idName]]"
                                class="als-item [[cConnection.className]]" style="cursor: default !important;">
                                <a style="[[cConnection.cursor]]">
                                    <img ng-if="!cConnection.noPicFlag" src="[[cConnection.image]]" ng-click="interactionsContext([[cConnection.emailId]])"
                                         alt="[[cConnection.name]]" title="[[cConnection.fullName]]"
                                         imageonload="imageNotLoaded(cConnection)" class="no-image-placeholder-medium">
                                    <span ng-click="interactionsContext([[cConnection.emailId]])" ng-if="cConnection.noPicFlag"><span class="image-placeholder-medium-text78 cursor-pointer" title="[[cConnection.name]]">[[cConnection.nameNoImg]]</span></span>
                                    <p class="commonConnectionsName">[[cConnection.name]]</p>
                                    <p class="interactions">Interactions :[[cConnection.interactionsCount]]</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                <span class="als-next hide" id="als-next"><img src="/landing/img/arrow-right-dark.png" ng-click="NextConn()" class="right-arrow-xs0" alt="Next" title="Next"/></span>
            </div>

                <div class="row">
                    <div class="col-sm-5 col-sm-offset-3">
                        <div class="search_boxes  networked_contactsp text-center container-for network row ng-scope" data-ng-controller="bottom_search">
                            <p>Search for a new lead, let Relatas show you the best 'path' to connect</p>
                            <div class="search_container text-center">
                                <div class="input-group search-box-conatiner1">
                                    <input type="text" class="form-control search-btn1 ng-pristine ng-valid" ng-model="search_content" placeholder="" ng-enter="mySearchFunction(search_content)">
                                    <div class="input-group-addon btn" ng-click="goToContactsSearch(search_content)"><i class="fa fa-search"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });
        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

    $(document).ready(function () {

        $('#unpreparedMeeting-show').hover(function(){
            $('#unpreparedMeeting-show').popover('toggle');
        })

        $('#emailResponses-show').hover(function(){
            $('#emailResponses-show').popover('toggle');
        })

        $('#emailAwaiting-show').hover(function(){
            $('#emailAwaiting-show').popover('toggle');
        })
    });

</script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/createTask.js"></script>
<script>

    $(document).ready(function(){
        $('.open-add-task').popover();

        // var socket = io.connect('http://localhost:7000');
    });

</script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>

</body>
</html>
