
<div data-ng-controller="mailsToRespondController" class="mails-to-respond-wrapper">

    <div>
    <!-- <div data-ng-init="showRecommendedToMeet = false"> -->
        <div class="row travelling-to">

            <div class="ttl-info padding0 clearfix" ng-click="toggleVisibility('recommendedToMeet')">
                <h5 class="bold pull-left" style="cursor:pointer">
                        People recommended to meet
                </h5>
                <i class="fa fa-angle-down collapse-icon pull-right" aria-hidden="true"></i>
            </div>

            <div ng-show="showRecommendedToMeet">

                <div ng-show="loadingttl" class="loading-contacts load-md">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
                <div ng-show="!loadingttl || !showNoMeetingLocationsText" class="row travelling-to" ng-repeat="item in meetingsLocations">
        
                    <!--<p ng-if="item.collapse" style="margin-top: 1%;font-style: italic;margin-left: 6.5%;">Relatas couldn't find any contacts in [[item.location]]</p>-->
                    <!--<div class="row" ng-if="item.collapse">-->
                        <!--<div class="col-md-3 ttl-info padding0" title="[[item.fullLocation]]">-->
                            <!--<span class="blur"></span> [[item.sublocality]][[item.locationTrunc]] <span class="blur">on</span> [[item.meetingDate]] <strong>([[item.numberOfContactsAtLocation]])</strong>-->
                        <!--</div>-->
                        <!--<div class="col-md-7">-->
                            <!--<p style="margin-top: 1%;font-style: italic;margin-left: 6.5%;">Relatas couldn't find any contacts near [[item.locationTrunc]]</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row" ng-if="!item.collapse">
                        <div class="ttl-info padding0" title="[[item.fullLocation]]">
                            <span class="blur"></span> [[item.sublocality]][[item.location]] <span class="blur">on</span> [[item.meetingDate]] <strong>([[item.numberOfContactsAtLocation]])</strong>
                        </div>
                        <div data-ng-init="fetchContactsAtThisLocation(item.fullLocation,item.participants,item)">
        
                            <div class="ttlButtons padding0">
                                <p ng-if="item.collapse" style="margin-top: 5%;font-style: italic;margin-left: 6.5%;">Relatas couldn't find any contacts near [[item.locationTrunc]]</p>
                                <div class="more-contacts" ng-if="!item.collapse">
                                    <button class="action text-buttons left" ng-disabled="item.currentPage == 0" ng-click="item.currentPage=item.currentPage-1;resetSelection()"> <i class="fa fa-angle-left"></i> </button> </div>
                                <div ng-if="!item.collapse" class="ttl-contacts [[contact.favoriteClass]] [[contact.selectedClass]]" ng-repeat="contact in item.contactsAtLocation  | startFrom:item.currentPage*item.pageSize | limitTo:item.pageSize" ng-click="openEmailForm(contact,$index,item.contactsAtLocation)">
                                    <img ng-if="!contact.noPicFlag" src="[[contact.image]]" title="Email [[contact.fullName]]" class="contact-image" imageonload="imageNotLoaded(contact)">
                                    <span ng-if="contact.noPicFlag" title="Email [[contact.fullName]]"><span class="contact-no-image">[[contact.nameNoImg]]</span></span>
                                    <p>[[contact.name]]</p>
                                    <div data-ng-init="showDistances(contact)">
                                        <div class="clearfix distances" ng-if="contact.distance" title="[[contact.distance]] away from your meeting location">
                                            <div class="pull-left">
                                                <img src="/images/dashboard-icons/map-location.png">
                                            </div>
                                            <div class="pull-left">
                                                <p>[[contact.distance]]</p>
                                                <p>[[contact.time]]</p>
                                            </div>
                                        </div>
                                    </div> </div>
                                <div class="more-contacts" ng-if="!item.collapse">
                                    <button class="action text-buttons right" ng-disabled="item.currentPage >= item.numberOfContactsAtLocation/item.pageSize - 1" ng-click="item.currentPage=item.currentPage+1;resetSelection()"> <i class="fa fa-angle-right"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="today-insight-no-data-text" ng-show="showNoMeetingLocationsText">
                    <h5>[[NoMeetingLocationsText]]</h5>
                </div>
                <h5 ng-click="loadAll()" class="cursor text-center bold green-color" ng-if="!notLoadAll">
                    Show Upcoming 2 weeks
                </h5>

            </div>
                <!--[[numberOfLocations]] <span>+</span> </h5>-->
        </div>
    </div>
    <!--<div ng-if="sendEmailBoardTTL">-->
        <!--<div data-ng-include="'/todaySeries/sendMailToConnectActionBoard'"></div>-->
    <!--</div>-->
</div>