
#sidebar-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

#sidebar-wrapper {
    position: fixed;
    left: 0;
    top:50px;
    width: 70px;
    height: 100%;
    overflow-y: auto;
    background: #49B5A6;
}

.right-panel td {
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sidebar-wrapper ul li:hover,
.sidebar-highlight {
    background: rgba(255,255,255,0.2);
}

.fs-18 {
    font-size: 18px !important;
}

.sidebar-nav li i {
    font-size: 26px;
}

.custom-side-nav li a {
    padding: 1px 0;
    font-size: 12px;
}

.custom-side-nav li a img {
    width: 22px;
}

.custom-side-nav li {
    line-height: 15px;
    margin: 5px 0;
    text-indent: 0;
    text-align: center;
}

.custom-side-nav li:first-child {
    margin-top: 15px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff !important;
}

.breadcrumb {
    border: 0;
    border-radius: 0;
    margin: 0;
    position: fixed;
    left: 70px;
    right: 0;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

.custom-fix {
    position: fixed;
    left: 0;
    right: 0;
    background: #67676787;
    top: 0;
    bottom: 0;
    z-index: 999;
    padding-top: 10%;
}

.custom-fix .text-left input {
    margin: 0 0 20px 0;
}

.breadcrumb .your-are-here {
    color: #444;
}

.right-panel,
.left-panel {
    top: 88px;
}

.left-panel {
    position: fixed;
    bottom: 0;
    width: 250px;
    left: 70px;
    font-size: 14px;
    border-right: 1px solid #ccc;
    background: #fafafa;
}

/*.container-fluid .breadcrumb,*/
.account-management #sidebar-wrapper {
    top:0;
}

.chart-controls {
    top: 90px;
    left: 70px;
}

.code-display {
    padding-top: 45px;
}

.set-left-margin60,
.account-management .role-header,
.account-management .table-responsive {
    margin-left: 60px;
}

.logo img {
    width: 120px;
    height: 36px;
}

.navbar-fixed-top .container {
    padding-left: 0;
    margin-left: 10px;
    margin-top: 5px;
}

.container-fluid .role-header,
.account-management .role-header {
    margin-top: 35px;
}

.account-management .opaque {
    opacity: 0.5;
}

.left-panel ul li {
    cursor: pointer;
    padding: 10px 15px;
}

.left-panel ul li.selected,
.left-panel ul li:hover {
    background: rgb(202, 227, 221);
    color: #267368;
}

.right-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 75%;
    right: 0;
    left: 320px;
    background: #fff;
    padding: 15px;
    overflow-y: auto;
}

.right-panel .top-section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.wrap-cl {
    max-height: 200px;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    overflow: auto;
    top: 40px;
    box-shadow: 0px 2px 3px #aaa;
    padding: 5px;
}

.wrap-cl div {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.right-panel table {
    margin-top: 25px;
}

.right-panel table th {
    border-bottom: 2px solid #aaa;
}

.right-panel table a {
    color: #267368;
}

.editable span {
    cursor: pointer;
    text-decoration: underline;
    color: #267368;
}

.editable input {
}

.editable button {
    border: 1px solid #267368;
    background: #267368;
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    border-radius: 2px;
}

.editable button:hover {
    background: rgb(202, 227, 221)
}

.right-panel .add-section .pull-right {
    padding: 0 7px;
    border-right: 1px solid #aaa;
}

.right-panel .add-section label {
    margin-right: 10px;
    font-weight: normal;
}

.right-panel .add-section .pull-right:first-child {
    border: none;
}

.right-panel .add-section .pull-right input {
    margin-right: 5px;
}

.right-panel input {
    border-radius: 2px;
    border: 1px solid #aaa;
    background: #eee;
    padding: 0 5px;
}

.right-panel .add-section .pull-left button.delete,
.right-panel .add-section .pull-right button.delete {
    cursor: pointer;
    text-align: center;
    color: tomato;
    background: #fff;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid tomato;
}

.right-panel .add-section .pull-left button.delete:hover,
.right-panel .add-section .pull-right button.delete:hover {
    color: #fff !important;
    background: tomato !important;
    border: 1px solid tomato !important;
}

.right-panel .other-modal {
    position: fixed;
    background: #2f2f2fad;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    max-height: inherit;
}

.right-panel .other-modal .body:first-child {
    background: #fff;
    padding: 2% 1%;
    position: absolute;
    margin: auto;
    width: 28%;
    top: 20%;
    left: 0;
    right: 0;
    border: 1px solid #aaa;
    border-radius: 2px;
    min-height: 200px;
}

.other-modal input {
    width: 100%;
    display: block;
    margin-bottom:15px;
}

.loading-bars span i{
    height: 7px;
    width: 25px;
    background: #aaa;
    display: inline-block;
}

.loading-bars span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading-bars span:nth-child(2) {
    animation-delay: .2s;
}

.loading-bars span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {

    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.other-modal .box {
    max-height: 200px;
    overflow: auto;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 3px 3px #ccc;
    position: absolute;
    top: 50px;
    min-width: 325px;
}

.other-modal .box div {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.other-modal .box div:hover {
    background: rgb(202, 227, 221);
}

.btn-green,
.right-panel .add-section .pull-left button,
.right-panel .add-section .pull-right button {
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #267368;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid #267368;
}

.btn-green:hover,
.right-panel .add-section .pull-left button:hover,
.right-panel .add-section .pull-right button:hover {
    background: #86beae!important;
    border-color: transparent!important;
    color: #fff;
}

.iframe-reset {
    height: 100%;
}

.iframe-reset iframe.navbar-fixed-top {
    display: none;
}

.iframe-reset iframe {
    height: 100%;
    width: 100%;
    border: none;
}

#commitSettings {
    display: none;
}