.close-btn:hover,
.close-btn {
    color: #e74c3c !important;
    border: 1px solid #e74c3c !important;
    background: #fff !important;
}

.portfolio-ls {
    background: #fff;
    padding: 2px 12px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 5px;
}

.portfolio-ls th {
    background: #eee;
}

.portfolio-ls .cursor {
    cursor: pointer;
}

.logo img {
    margin-top: 0 !important;
}

.primary-btn {
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #267368;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid #267368;
}

.headers {
    margin-bottom: 15px;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7
    }
}

.right-panel .loading-contacts {
    margin: auto;
    width: 25%;
}

.loading-contacts span i{
    height: 7px;
    width: 25px;
    background: #ddd;
    display: inline-block;
}

.loading-contacts span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;

    -moz-animation-name: blink;
    -moz-animation-duration: 1.4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: both;
}

.loading-contacts span:nth-child(2) {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
}

.loading-contacts span:nth-child(3) {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
}

.p-user-ls {
    position: absolute;
    background: #fff;
    box-shadow: 1px 1px 5px #ccc;
    width: 225px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index:1;
}

.p-user-ls li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.breadcrumb {
    z-index:inherit;
}

.right-panel  {
    max-width: 84%;
    left: 220px;
    padding: 15px 15px 0 5px;
}

@media only screen and (max-width: 1268px) {
    .right-panel {
        max-width: 78%;
    }
}

@media only screen and (max-width: 994px) {
    .right-panel {
        max-width: 74%;
    }
}

@media only screen and (max-width: 700px) {
    .right-panel {
        max-width: 70%;
    }
}

.right-panel .cursor {
    cursor: pointer;
}

.left-panel {
    width: 150px;
}

.right-panel .full-width-modal table td {
    font-size: 10px;
}

.right-panel .full-width-modal table input {
    padding: 0 1px;
    max-width: 60px;
    font-size: 10px;
}

.right-panel table td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.right-panel table input {
    border: 1px solid #eee;
    background: #fafafa;
    border-radius: 0;
    font-size: 14px;
    text-align: right;
}

.right-panel .modal-dialog {
    margin-top: 155px
}

.right-panel .modal-dialog table {
    margin-top: 0;
    width: 50%;
}

.right-panel .modal-dialog label {
    width: 100px;
}

.right-panel .modal-dialog .btn-default {
    padding: 0 5px;
}

.right-panel .modal-dialog input,
.right-panel .modal-dialog select {
    width: 162px;
    border: 1px solid #ccc;
    background: #eee;
    max-width: 162px
}

.bc-reset:before {
    color:transparent !important;
}

.full-width-modal {
    position: fixed;
    width: 100%;
    top: 50px;
    background: #fafafa;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 10px;
    overflow: auto;
}

.full-width-modal .close-btn {
    padding: 0 10px;

}

.acc-levels {
    position:relative;
    overflow:visible !important;
}

.acc-levels .abs {
    position: absolute;
    z-index: 1;
    width: 675px;
    right: 0;
    margin: auto;
    overflow: auto;
    border:1px solid #ccc;
    padding: 2px 0px;
    background: #fff;
}

.acc-levels .abs .close-btn-abs {
    background: #aaa;
    height: 14px;
    line-height: 12px;
    width: 14px;
    border-radius: 55%;
    cursor: pointer;
    border: 1px solid #888;
    font-size: 10px;
    text-align: center;
    position: absolute;
    z-index: 9;
    right: 1px;
    top: 1px;
    color: red;
}

.acc-levels .abs div .list-unstyled {
    padding: 2px;
}

.acc-levels .abs .col-md-3 {
    display: inline-block;
    text-align: left;
    float: left;
    margin: 0 1px;
    background: #fafafa;
    max-width: 24.725%;
    padding:0 5px;
    height: 110px;
    overflow-y: auto;
    overflow-x:hidden;
    border-right: 1px solid #e5e5e5;
}

.acc-levels .abs .col-md-3 strong {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-left: -5px;
    padding-left: 5px;
    margin-right: -5px;
}

.acc-levels .abs .col-md-3 input {
    margin-right: 5px;
}

.acc-levels .abs .col-md-3:last-child {
    margin-right: 0;
}

.acc-levels .abs .col-md-3::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.acc-levels .abs .col-md-3::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}
.acc-levels .abs .col-md-3::-webkit-scrollbar-thumb{
    background-color: #bbb;
}

.custom-modal .overflow ul {
    margin-left: 1px;
    padding: 5px;
    width: 99%;
    min-height: 125px;
    overflow: auto;
}

.right-panel .table-striped th,
.code-display table th {
    background: #3f5566;
    color: #fafafa;
    border-right: 1px solid;
    font-size: 12px;
    padding: 2px 5px;
    border-bottom: 1px solid #3f5566;
    line-height: 12px;
}

.code-display .user-abs {
    position: absolute;
    background: #fff;
    height: 200px;
    overflow: auto;
    box-shadow: 1px 1px 5px #ccc;
}

.code-display .user-abs li input[type="text"] {
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    padding: 3px 5px
}

.code-display .user-abs li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.code-display .reportees {
    border: 1px solid #ccc;
    width: 250px;
}

.code-display .reportees li {
    background: #fafafa;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.code-display .reportees li span{
    text-align: right;
}

.custom-modal {
    width: 94.55%;
    text-align: left;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: auto;
    min-height: 300px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    top: 50px;
    box-shadow: none;
    left: inherit;
}

.custom-modal .close-modal {
    margin-bottom: 5px;
    padding: 5px;
}

.code-display .pull-right input {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 250px;
    margin-bottom: 5px;
    background: #fafafa;
}

.custom-modal .info {
    width: 55%;
    padding: 0;
    border: 0;
    background: transparent;
}

.fs-10 {
    font-size: 10px;
}

.activity-logs {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 5px;
}

.activity-logs ul {
    margin-top: 10px;
}

.activity-logs ul li {
    border-bottom: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

.activity-logs ul li .fs-10 {
    color: #888;
}
