<div id="documents-controller">
    <div class="containter-fluid search-suggestion" ng-show="showSuggestionTable">
        <div class="row">
            <div class="col-md-5 document-search-box show-all-suggestions">
                <input type="text" class="form-control" ng-model="cache.search" style="border-radius: 30px;border: transparent;" ng-change="getReferencedMasterData(null, cache.search,0)" placeholder="Search here to filter the table">
            </div>
            <div class="form-group col-md-6 col-margin">
                <div class=" margin-btn clearfix">
                    <button class="btn btn-white close-btn pull-right" data-ng-click="closeSystemReferenceTable()">Close</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 list-document">
                <div class="pull-left ng-binding" ng-show="cache.systemReferencedType == 'Master Data'">
                        [[cache.masterData.paginationText]]
                    <button ng-disabled="cache.masterData.prevDisabledNg" data-ng-click="goPrev(cache.search)">
                        <i class="fa fa-caret-left opaque"></i>
                    </button>
                    <button ng-disabled="cache.masterData.nextDisabledNg" data-ng-click="goNext(cache.search)">
                        <i class="fa fa-caret-right opaque"></i>
                    </button>
                </div>
                <table class="table table-hover" style="cursor: pointer;">
                    <tr>
                        <th ng-repeat="header in SystemReferencedDataHeaders" ng-show="header !== '_id'">[[header]]</th>
                    </tr>
                    <tbody ng-show="!loadingSuggestionTable">
                        <tr ng-repeat="(rowIndex, profile) in SystemReferencedDataValues | filter : cache.search" ng-click="updateFields( profile)">
                            <td ng-repeat="(colIndex, attribute) in profile.customerProfileAttrList track by $index" ng-show="colIndex !== SystemReferencedDataHeaders.length - 1">
                                <div> [[attribute.attributeValue]] </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="loadingSuggestionTable" class="no-border">
                        <tr>
                            <td>
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </td>
                            <td>
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </td>
                            <td>
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="containter-fluid search-suggestion" ng-init="search=''" ng-show="showContacts">
        <div class="row">
            <div class="col-md-5 document-search-box show-all-suggestions">
                <input type="text" class="form-control" ng-model="search" ng-change="searchContacts(search)" style="border-radius: 30px;border: transparent;" placeholder="Search here for contacts">
            </div>
            <div class="form-group col-md-6 col-margin">
                <div class=" margin-btn clearfix">
                    <button class="btn btn-white close-btn pull-right" data-ng-click="showContacts=!showContacts">Close</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="contacts.length > 0">
            <div class="col-md-11 list-document">
                <table class="table table-hover" style="cursor: pointer;">
                    <tr>
                        <th ng-repeat="header in contactsHeader">[[header]]</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="contact in contacts" ng-click="updateFieldsForContact(contact)">
                            <td>[[contact.personName]]</td>
                            <td>[[contact.personEmailId]]</td>
                            <td>[[contact.mobileNumber]]</td>
                            <td>[[contact.companyName]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="containter-fluid search-suggestion" ng-show="showMasterDataDiffTable">
        <div class="row">

            <div class="form-group col-md-11">
                <div class=" margin-btn clearfix">
                    <button class="btn btn-white close-btn pull-right" data-ng-click="closeMasterDataDiffTable()">Close</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 list-document">
                <h4>Old Master Data Values</h4>
                <table class="table table-hover" style="cursor: pointer;">
                    <tr>
                        <th ng-repeat="header in masterDataTableHeaders" ng-show="header !== 'id'">[[header]]</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="list in masterDataTableData">
                            <td ng-repeat="(key, value) in list" ng-show="key != 'id'">[[value.oldValue]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11 list-document">
                <h4>Updated Master Data Values</h4>
                <table class="table table-hover" style="cursor: pointer;">
                    <tr>
                        <th ng-repeat="header in masterDataTableHeaders" ng-show="header != 'id'">[[header]]</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="list in masterDataTableData">
                            <td ng-repeat="(key, value) in list" ng-show="key != 'id'">[[value.newValue]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="document" class="container-fluid" ng-show="documentId && !showSuggestionTable">
        <div class="row">
            <div class="col-md-9 document-style-center" id="main-content">
                <div ng-show="disableEdit" class="disable-pg-edit">
                    <!-- Used to disable the page edit -->
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">
                        <div class="container-fluid" id="dropZone">
                            <ul class="row sortable-formbuilder" ng-model="formFields">
                                <li id="[[field.id]]" class="drag" ng-repeat="field in formFields" ng-switch on="field.Type" ng-class="[injectStyles(field), applyPadding(field)]"
                                style=[[field.Style]] data-index="[[$index]]">
                                    <!-- <li id="[[field.id]]" class="drag" ng-repeat="field in formFields" ng-switch on="field.Type" ng-class="[getElementWidth(field),  injectStyles(field), applyPadding(field)]" -->

                                    <div id="div-[[field.id]]" class="" ng-switch-when="text" style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value && !pdfDownload " class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" readonly class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory') ? '*': '')]]" /> -->
                                        <p id="label-[[field.id]]" class="input-as-label">[[field.Name]]</p>
                                        <div class="doc-input-wrapper">
                                            <input id="input-[[field.id]]" type="text" class="focus-input" onkeypress="return validateFieldOnKeyPress(this, event);"
                                                ng-class="[getFieldSetting(field, 'Field Type').Value == 'System Referenced' ? 'action-edit-search-input' : '']"
                                                ng-disabled="!getFieldSetting(field, 'Field Value Editable in Document').Value && !pdfDownload"
                                                ng-change="updateValues(field)" ng-model="field.Value" value="[[field.Value]]"
                                                placeholder="[[getFieldSetting(field, 'Placeholder').Value]]" data-val="[[field]]">
                                            <div title="Referenced value changed, click on icon to see the difference" ng-show="field.staleMasterData && !pdfDownload" class="action-warn-update-data">
                                                <i class="fa fa-exclamation-circle action-icon" ng-click="showMasterDataDifference(field)" aria-hidden="true"></i>
                                            </div>
                                            <div class="action-edit-search">
                                                <i class="fa fa-search action-icon" title="search for all references" ng-show="getFieldSetting(field, 'Field Type').Value == 'System Referenced'" ng-click="getSystemReferencedData(field)" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <!-- <div class="input-text-error ng-binding" ng-if="getFieldSetting(field, 'Mandatory').Value">[[field.Error]]</div> -->
                                    </div>

                                    <div id="div-[[field.id]]" class="" ng-switch-when="date" style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value && !pdfDownload" class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" readonly class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]" /> -->
                                        <p id="label-[[field.id]]" class="input-as-label">[[field.Name]]</p>
                                        <div class="doc-input-wrapper" ng-mouseover="registerDatePickerId(field)">
                                            <input type="text" id="input-[[field.id]]" class="focus-input" ng-class="[getFieldSetting(field, 'Field Type').Value == 'System Referenced' ? 'action-edit-search-input' : '']"
                                            onkeydown="return false" ng-disabled="!getFieldSetting(field, 'Field Value Editable in Document').Value && !pdfDownload"
                                            ng-model="field.Value" value="[[field.Value]]" placeholder="[[field.Name]]">
                                            <div class="action-edit-search" ng-show="getFieldSetting(field, 'Field Type').Value == 'System Referenced'">
                                                <i class="fa fa-search action-icon" title="search for all references" ng-click="getSystemReferencedData(field)" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-[[field.id]]" class="" ng-switch-when="textarea" style=[[field.DivStyle]]>
                                        <span ng-if="getFieldSetting(field, 'Mandatory').Value && !pdfDownload" class="orange-txt">*</span>
                                        <!-- <input id="label-[[field.id]]" type="text" readonly class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]" /> -->
                                        <!-- <p id="label-[[field.id]]" class="input-as-label"> [[field.Name]]</p> -->
                                        <div class="doc-input-wrapper match-parent">
                                            <textarea id="input-[[field.id]]" class="focus-input" onkeypress="return validateFieldOnKeyPress(this, event);" ng-class="[getFieldSetting(field, 'Field Type').Value == 'System Referenced' ? 'action-edit-search-input' : '']"
                                                ng-disabled="!getFieldSetting(field, 'Field Value Editable in Document').Value && !pdfDownload"
                                                ng-change="updateValues(field)" ng-model="field.Value" value="[[field.Value]]" placeholder="[[getFieldSetting(field, 'Placeholder').Value]]"
                                                data-val="[[field]]"></textarea>
                                            <div title="Referenced value changed, click on icon to see the difference" ng-show="field.staleMasterData && !pdfDownload" class="action-warn-update-data">
                                                <i class="fa fa-exclamation-circle action-icon" ng-click="showMasterDataDifference(field)" aria-hidden="true"></i>
                                            </div>
                                            <div class="action-edit-search" >
                                                <i class="fa fa-search action-icon" title="search for all references" ng-show="getFieldSetting(field, 'Field Type').Value == 'System Referenced'" ng-click="getSystemReferencedData(field)" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-[[field.id]]" class="" ng-switch-when="image" style=[[field.DivStyle]]>
                                        <img ng-src="[[getFieldSetting(field, 'Absolute_Path').Value]]" class="img-responsive" style=[[field.DivStyle]]/>
                                    </div>

                                    <div id="div-[[field.id]]" class="" ng-switch-when="table" style=[[field.DivStyle]]>
                                        <table id="demo-table" class="bordered cellpadding-0 cellspacing-0">
                                            <thead>
                                                <tr>
                                                    <th ng-repeat="header in field.Columns" style="[[header.ThStyle]]">
                                                        <span ng-if="getFieldSetting(field.Columns[$index], 'Mandatory').Value && !pdfDownload" class="orange-txt">*</span>
                                                        [[header.Name]]
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="table-[[field.id]]-row-[[rowIndex]]" ng-repeat="(rowIndex, row) in field.Rows">
                                                    <td ng-repeat="(colIndex, rowCellData) in row track by $index" style=[[field.Columns[colIndex].TrStyle]]>
                                                        <div class="doc-input-wrapper" style="width:100%; height:100%;">
                                                            <textarea id="input-table-[[colIndex]][[rowIndex]]" class="div-textarea input-table-[[field.id]][[colIndex]] focus-input" onkeypress="return validateFieldOnKeyPress(this, event);"
                                                                ng-class="[getFieldSetting(field.Columns[colIndex], 'Field Type').Value == 'System Referenced' ? 'action-edit-search-input' : '', getFieldSetting(field.Columns[colIndex], 'Hide Input Border').Value ? 'hide-border' : '']"
                                                                ng-disabled="!getFieldSetting(field.Columns[colIndex], 'Field Value Editable in Document').Value && !pdfDownload"
                                                                ng-change="updateValues(field, rowIndex, colIndex)" ng-model="rowCellData.Value"
                                                                value="[[rowCellData.Value]]" data-val="[[ field.Columns[colIndex] ]]"></textarea>
                                                                <div title="Referenced value changed, click on icon to see the difference" ng-show="rowCellData.staleMasterData && !pdfDownload" class="action-warn-update-data">
                                                                    <i class="fa fa-exclamation-circle action-icon" ng-click="showMasterDataDifference(field.Columns[colIndex])" aria-hidden="true"></i>
                                                                </div>
                                                                <div class="action-edit-search" >
                                                                    <i class="fa fa-search action-icon" title="search for all references" ng-show="getFieldSetting(field.Columns[colIndex], 'Field Type').Value == 'System Referenced'" ng-click="getSystemReferencedData(field, colIndex, rowIndex)" aria-hidden="true"></i>
                                                                </div>
                                                        </div>
                                                    </td>
                                                    <td ng-show="!pdfDownload">
                                                        <span class="fa fa-times remove-row" title="Remove Row" aria-hidden="true" ng-click="deleteRow(field, rowIndex)"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class=" margin-btn clearfix add-row-table">
                                            <button ng-hide="pdfDownload" class="btn btn-primary" data-ng-click="insertRows(field, true)" style="z-index:9999">Add Row</button>
                                            <!-- <i class="fa fa-plus " aria-hidden="true" ng-click="insertRows(field)"><span>Add Row</span> </i> -->
                                        </div>
                                    </div>

                                    <div id="div-[[field.id]]" ng-switch-when="header" style=[[field.DivStyle]]>
                                        <p id='header-[[field.id]]' ng-class="getFontWeight(field)">[[getFieldSetting(field, 'Field Label').Value]]</p>
                                    </div>

                                    <div id="div-[[field.id]]" ng-switch-when="divider" style=[[field.DivStyle]]>
                                        <div id="input-[[field.id]]" class="document-field-divider page-break"></div>
                                    </div>

                                    <div ng-switch-default>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>