
<div class="row document-wrapper">
    <div id="print-setup" class="col-md-12">
        <div class="horizontal-menu-top clearfix" data-ng-controller="documentHeader">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" ng-show="true">
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class='document-menu-header' ng-show="showDocumentHeader">
                                    <form class="form-inline" ng-init="showVersionButton = true" role="form">
                                        <div ng-hide="!documentId || documentHeader.cloneDocument">
                                            <div class="form-group">
                                                <h4>[[documentName]]</h4>
                                            </div>
                                            <div ng-show='documentVersionControlled' class="form-group pull-right">
                                                <label> Version</label>
                                                <select class="form-control" ng-init="versions.currentVersion='1'" ng-model="versions.currentVersion" data-ng-click="getDocumentByVersion()">
                                                    <option ng-repeat="version in versions.documentVersions">[[version]]</option>
                                                </select>

                                                <span class="fa fa-plus" style="cursor: pointer;" ng-show="showVersionButton" aria-hidden="true" ng-click="incrementDocumentVersion()">
                                                </span>
                                            </div>
                                            <div class="form-group pull-right">
                                                <div class="selected" ng-click="disableEdit? '' : showDocumentStageFilter=!showDocumentStageFilter">
                                                    <label style="margin-right: 5px"> Stage: </label>
                                                    <strong> [[currentDocumentStage]] </strong>
                                                    <i class="fa fa-caret-down"></i>
                                                </div>
                                                <ul class="list-unstyled drop-down-list" ng-show="showDocumentStageFilter">
                                                    <li style="float: none;" ng-repeat="stage in documentStages" data-ng-click="disableEdit? '' : updateCurrentDocumentStage(stage)">
                                                        [[stage]]
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div ng-show="!documentId || documentHeader.cloneDocument">
                                            <div class="form-group">
                                                <!-- <label for="documentTemplateType">Template Type</label> -->
                                                <input type="text" ng-disabled="documentId" placeholder="Template Type" class="form-control" id="documentTemplateType" ng-model="docTemplateType" data-ng-focus="getDocumentTemplateTypes()">

                                                <div class="list-suggestion" ng-show="showTemplateTypeSuggestion">
                                                    <div ng-repeat="type in documentTemplateTypes | filter:docTemplateType  track by $index" class="selections" data-ng-click="getTemplateNames(type)">
                                                        [[type]]
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!-- <label for="documentTemplateName">Template Name</label> -->
                                                <input type="text" ng-disabled="documentId" placeholder="Template Name" class="form-control" id="documentTemplateName" ng-model="docTemplateName" data-ng-focus="showTemplateNameSuggestion=true">

                                                <div class="list-suggestion" ng-show="showTemplateNameSuggestion">
                                                    <div ng-repeat="name in documentTemplateNames | filter:docTemplateName track by $index" class="selections" data-ng-click="getDocument(name)">
                                                        [[name]]
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!-- <input type="text" ng-disabled="!documentHeader.cloneDocument || documentId" placeholder="Document Name" class="form-control" id="documentName" ng-model="documentName"> -->
                                                <input type="text" placeholder="Document Name" class="form-control" id="documentName" ng-model="documentName">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 clearfix">
                                <div class="margin-btn clearfix">
                                    <div ng-show="!showDocumentHeader">
                                        <button class="btn btn-primary pull-right" data-ng-click="openNewDocument()">New Document</button>
                                    </div>
                                    <div ng-show="showDocumentHeader">
                                        <button class="btn btn-primary pull-right" ng-hide="disableEdit" data-ng-click=" documentId ? saveDocument() : createNewDocument()"> Save</button>
                                        <button class="btn btn-white close-btn pull-right" data-ng-click="closeDocument()">Close</button>
                                        <!-- <button class="btn btn-white download-btn pull-right" ng-show="documentId" data-ng-click="downloadDocument()"> -->
                                        <div ng-hide="documentHeader.cloneDocument">
                                            <button class="btn btn-white download-btn pull-right" ng-show="documentId" data-ng-click="printDocument()">
                                                <i class="fa fa-download"></i>
                                            </button>
                                            <button class="btn btn-white download-btn pull-right" ng-show="documentId" data-ng-click="cloneDocument()">Clone</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showAllDocuments" ng-controller="showAllDocumentsController">
            <div data-ng-include="'/document/list'"></div>
        </div>

        <div ng-show="createDocument" ng-controller="createDocumentController">
            <div data-ng-include="'/document/create/new'"></div>
        </div>
    </div>
</div>