<div class="containter-fluid">
    <div class="row" ng-hide="hideSearchBar">
        <div class="col-md-6 search-box-wrapper show-all-documents">
            <input type="text" class="search-box" ng-model="searchDocuments.documentName" placeholder="Search Documents">
        </div>
    </div>
    <div class="row show-all-docs-table">
        <div class="col-md-12">
            <table style="margin-left: 10px;margin-right: 10px;">
                <tr>
                    <th ng-repeat="header in docHeaders" class="[[header.align]]" ng-click="sortTable(header)" style="[[header.styleWidth]]">
                        [[header.name]]
                        <span ng-show="header.sortableName">
                            <i class="fas fa-sort-down" ng-show="!reverseSort"></i>
                            <i class="fas fa-sort-up" ng-show="reverseSort"></i>
                        </span>
                    </th>
                </tr>
                <tbody ng-show="!loadingDocuments || filteredDocuments.length > 0">
                    <tr class="cursor" ng-repeat="docs in filteredDocuments | orderBy:orderByField:reverseSort | filter : searchDocuments" ng-click="showSelectedDocument(docs)">
                        <td>[[$index + 1]]</td>
                        <td>[[docs.currentDocumentVersion]]</td>
                        <td style="text-align: left">[[docs.documentTemplateType]]</td>
                        <!-- <td style="text-align: left">[[docs.documentTemplateName]]</td> -->
                        <td style="text-align: left">[[docs.documentName]]</td>
                        <td style="text-align: left">[[docs.documentCreatedBy]]</td>
                        <td>[[docs.docCreatedDateFormatted]]</td>
                        <td>[[docs.documentUpdatedDateFormatted]]</td>
                        <td>[[docs.documentStage]]</td>
                    </tr>
                </tbody>
                <tbody ng-show="loadingDocuments" class="no-border">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p class="zero-documents-msg" ng-show="filteredDocuments.length <= 0">Create your first document by clicking on New Document</p>
        </div>
    </div>
</div>
