/* Common use classes */
@import
url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: 'Lato', sans-serif !important;
	color: #555;
}

.g_play_icon {
	width: 108px;
	margin-top: -5px;
}

img {
	max-width: 100%;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 300;
}

.normal {
	font-weight: 400;
}

.bold {
	font-weight: 700;
}

.ultra-bold {
	font-weight: 900;
}

.fs23 {
	font-size: 23px;
}

.fs24 {
	font-size: 24px;
}

.fs16 {
	font-size: 17px;
}

.fs19 {
	font-size: 19px;
}

.fs18 {
	font-size: 18px;
}

.fs21 {
	font-size: 21px;
}

.fs40 {
	font-size: 40px;
}

.white-text {
	color: #fff;
}

.text-lite-grey {
	color: #777;
}

.text-grey {
	color: #555 !important;
}

.a1-text {
	color: #a2a1a1;
}

.text-blue {
	color: #009be0;
}

.sprite {
	background: url(../img/imagesprite.png) no-repeat center center;
	display: inline-block;
}

.sprite-next {
	background: url(../img/next.png) no-repeat center center;
	display: inline-block;
}

.what-sprite {
	background: url(../img/what_sprite.png) no-repeat center center;
	display: inline-block;
}

.page-title {
	font-size: 42px;
	font-weight: 300;
	margin: 25px 0;
	text-align: center;
}

.about .thumbnail {
	border-radius: 1px;
	min-height: 285px;
}

.about .thumbnail a {
	cursor: pointer;
}

.about .thumbnail h3 {
	margin: 5px 0;
}

.features .thumbnail {
	border-radius: 1px;
	border: 1px solid #e7e7e7;
	min-height: 285px;
	padding: 25px;
	background-color: #fafafa;
}

.features .hero-feature {
	margin-bottom: -10px;
}

.features .hero-feature img {
	height: 85px;
	display: block;
	margin: auto;
}

.know-more {
	font-size: 16px;
	color: #009be0;
	font-weight: 700;
}

.know-more a:hover {
	color: #009be0;
}

.hero-spacer {
	margin-top: 90px;
}

.hero-feature {
	margin-bottom: 30px;
}

footer {
	margin: 50px 0;
}

.blue-btn {
	background-color: #009be0 !important;
	border: 2px solid #009be0 !important;
	color: #fff !important;
	margin: 10px 5px;
	font-weight: 700 !important;
	border-radius: 2px;
}

.blue-btn:hover {
	opacity: 0.9;
	color: #fff !important;
}

.blue-btn-inverse {
	background-color: #fff !important;
	border: 2px solid #009be0 !important;
	color: #009be0 !important;
	margin: 10px 5px;
	font-weight: 700 !important;
	border-radius: 2px;
}

.bg-grey {
	background-color: #f9f9f9;
}

.bg-strong-grey {
	background: #eee;
}

.ver-align {
	padding: 50px 0;
}

.padding0 {
	padding: 0;
}

.margin0 {
	margin: 0 !important;
}

.margin2 {
	margin: 2px;
}

.margin-top0 {
	margin-top: 0px;
}

.margin-top12 {
	margin-top: 12px;
}

.margin-top45N {
	margin-top: -45px;
}

.padding5 {
	padding: 0 5px;
}

.padding7 {
	padding: 7px;
}
.padding10 {
	padding: 10px;
}

.padding-lr-10 {
	padding: 0 10px;
}
.margin-top15 {
	margin-top: 15px;
}

.margin-top25 {
	margin-top: 25px;
}

.margin-top10 {
	margin-top: 10px;
}

.margin-top45 {
	margin-top: 45px;
}

.margin-top35 {
	margin-top: 35px;
}

.margin-bottom25 {
	margin-bottom: 25px;
}

::-webkit-input-placeholder:after {
	content: ' *';
	color: red;
	font-size: 1.21em;
}

:-moz-placeholder:after { /* Firefox 18- */
	content: ' *';
	color: red;
	font-size: 1.21em;
}

::-moz-placeholder:after { /* Firefox 19+ */
	content: ' *';
	color: red;
	font-size: 1.21em;
}

:-ms-input-placeholder:after {
	content: ' *';
	color: red;
	font-size: 1.21em;
}

.not-required ::-webkit-input-placeholder:after {
	content: none;
}

.not-required :-moz-placeholder:after { /* Firefox 18- */
	content: none;
}

.not-required ::-moz-placeholder:after { /* Firefox 19+ */
	content: none;
}

.not-required :-ms-input-placeholder:after {
	content: none;
}

.center-container {
	position: relative;
}

.absolute-center {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -35px;
}

/* End Common use classes */

/* Header Css */
.navbar-fixed-top {
	text-transform: uppercase;
}

.navbar-nav>li>a {
	color: #777;
	font-weight: 700;
}

.navbar-nav>li>a:hover {
	background: none;
	color: #009be0;
}

.navbar-toggle {
	background-color: #555;
	border-radius: 2px;
}

.navbar-toggle .icon-bar {
	background: #f7f7f7;
}

.navbar-fixed-top {
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.navbar-nav>li>.dropdown-menu {
	border-top: 5px solid #009be0;
}

.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover
{
	background: none;
}

.logo img {
	margin-top: 8px;
	width:125px;
	max-width: 100%;
}

.btn-sprite {
	background: url(../img/btn-sprite.png) no-repeat center center;
	display: inline-block;
}

.sign-link {
	background-position: 0 -5px;
	padding: 23px 99px !important;
}

.sign-google {
	background-position: 0 -52px;
	padding: 25px 99px !important;
}

.log-link {
	background-position: 0 -107px;
	padding: 19px 99px !important;;
}

.log-google {
	background-position: 0 -195px;
	padding: 19px 99px !important;
}

#login-with-office365 {
	text-align: center;
}

#login-with-office365 img {
	width: 173.5px;
	height: 38px;
}

/*End Header Css */

/* HOME */
.jumbotron {
	background-color: transparent;
}

.welcome-text {
	background: rgba(251, 92, 51, 0.77);
	color: #fff !important;
	width: 53.55%;
	margin: auto;
	padding: 10px;
	font-size: 45px !important;
}

.sub-welcome-text {
	background: rgba(251, 92, 51, 0.77);
	color: #fff !important;
	width: 59%;
	margin: auto;
	padding: 10px;
	font-size: 32px !important;
	font-weight: 600;
	margin-top: 10px;
}

/*End of HOME */
.bg-img-1 {
	background: url('../img/bg-img-1.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 405px;
	margin-top: -30px;
}

.bg-img-2 {
	background: url('../img/bg-img-2.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

.bg-img-3 {
	background: url('../img/bg-img-3.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

.bg-img-4 {
	background: url('../img/bg-img-4.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

.bg-img-5 {
	background: url('../img/bg-img-5.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
	overflow: hidden;
}

.bg-img-6 {
	background: url('../img/bg-img-6.png') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

.bg-signUpStep-3 {
	background: url('../img/bg-signUpStep-3.png') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

.bg-img-company-2 {
	background: url('../img/bg2.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 300px;
	margin-top: -20px;
}


.bg-img-company-3 {
	background: url('../img/bg-signUpStep-3.png') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 475px;
}

/*About*/
.about-1 {
	background-position: 5px 10px;
	padding: 61px 70px !important;
}

.about-2 {
	background-position: -140px 10px;
	padding: 61px 70px !important;
}

.about-3 {
	background-position: -273px 10px;
	padding: 61px 70px !important;
}

.about-4 {
	background-position: -400px 16px;
	padding: 61px 70px !important;
}

/*End About*/

/* Features */
.features .thumbnail .caption {
	color: #777;
	font-size: 1.21em;
	margin-top: 10px;
}

.features .hero-feature,.company .hero-feature {
	padding: 0 5px;
}

.feature-1 {
	background-position: -565px 10px;
	padding: 61px 70px !important;
}

.feature-2 {
	background-position: 0 -138px;
	padding: 61px 70px !important;
}

.feature-3 {
	background-position: -140px -138px;
	padding: 61px 70px !important;
}

.feature-4 {
	background-position: -280px -138px;
	padding: 61px 70px !important;
}

.feature-5 {
	background-position: -420px -138px;
	padding: 61px 70px !important;
}

.feature-6 {
	background-position: -565px -135px;
	padding: 61px 70px !important;
}

.feature-7 {
	background-position: 0 -286px;
	padding: 61px 70px !important;
}

.feature-8 {
	background-position: -140px -290px;
	padding: 61px 70px !important;
}

/*Company we keep*/

.in-page-nav {
	text-align: center;
	background: #dfddde;
	padding: 15px 0;
}

.in-page-nav ul {
	margin: 0;
}

.in-page-nav ul>li{
	display: inline-block;
	margin: 0 20px;
}

.in-page-nav a{
	font-weight: 400;
}

.product-row-1 h1{
	text-align: center;
}

.product-row-1 .col-md-3 {
	text-align: justify;
	margin: 0 2.222%;
}

.product-row-1 .col-md-offset-1 {
	margin-left: 8.33333333% !important;
}

.product-row-1 h2 {
	text-align: center;
	width: 67%;
	margin: 15px auto 35px auto;
	font-size: 24px;
	font-weight: 300;
}

.product-row-1 {
	margin: 45px auto;
}

.product-row-1 h3 {
	font-weight: 300;
	text-align: center;
}

.product-row-1 img {
	height: 100px;
	display: block;
	margin: auto;
}

.intro-one {
	background: #f8f8f8;
	padding: 25px 0;
	font-size: 15px;
	text-align: center;
}

.intro-three {
	text-align: center;
	background: #f8f8f8;
	padding: 45px 0 45px 0;
}

.intro-three img {
	width: 75%;
}

.intro-two,.intro-four {
	color: #666666;
	padding: 25px 0;
}

.intro-two .row {
	margin: 45px 0;
}

.intro-four .row {
	margin: 45px 0 45px 8.33%;
	border: 1px solid #bbb;
	padding: 2% 0;
}

.intro-four .col-md-2{
	padding-top: 4%;
	border-right: 1px solid #bbb;
}

.inner-img-v-align {
	height: 150px;
	position: relative;
}

.inner-img-v-align img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.intro-one h1,.intro-two h1,.intro-three h1,.intro-four h1 {
	text-align: center;
	font-weight: 300;
	margin: 30px 0;
}

.intro-one h3 {
	text-align: center;
	margin: 50px 0 0 0;
}

.profile-section .sec-left {
	float: left;
}

.profile-section .sec-left h4 {
	margin: 0 0 0 15px;
	font-size: 16px;
}

.profile-section img {
	width: 16.333%;
	border-radius: 55%;
}

.profile-section .sec-left h2 {
	font-size: 27px;
	margin: 9px 0 0 15px;
}

.profile-section .sec-left h3 {
	font-size: 22px;
	margin: 2px 0 0 15px;
	font-style: italic;
}

.profile-about {
	width: 77.77%;
	padding: 2% 5px;
	text-align: justify;
}

.profile-section .sec-left p {
	margin: 2px 0 0 15px;
}

.bg-img-company-3 h1 {
	color: #fff !important;
}

.bg-img-company-3-text {
	padding: 11.111% 0;
}

.company .thumbnail {
	border-radius: 0 !important;
}

.company-sprite {
	background: url(../img/companysprites.png) no-repeat center center;
	display: inline-block;
}

.company-1 {
	background-position: 0px 0px;
	padding: 55px 92px !important;
}

.company-2 {
	background-position: -194px 0;
	padding: 55px 92px !important;
}

.company-3 {
	background-position: -380px 0px;
	padding: 55px 92px !important;
}

.company-4 {
	background-position: -572px 0px;
	padding: 55px 94px !important;
}

.media-coverage {
	background-color: rgba(221, 221, 221, 0.79);
	padding: 35px 0;
}

/* Subscribe */
.subscribe input {
	font-size: 19px;
	padding-bottom: 15px;
	width: 36.66%;
	margin: auto;
	text-align: center;
}

/* Footer */
.quick-links a {
	color: #666;
	font-weight: 700;
}

.t-c,.t-c a {
	color: #888;
	font-weight: 300;
}

.t-c a {
	text-decoration: underline;
	margin: 0 1px;
}

.soc-sprite {
	background: url(../img/SocialIcons.png) no-repeat center center;
	display: inline-block;
}

.twitter {
	background-position: 0px 0px;
	padding: 15px !important;
	float: left;
	margin: 0 2px;
}

.facebook {
	background-position: -30px 0px;
	padding: 15px !important;
	float: left;
	margin: 0 2px;
}

.google {
	background-position: -60px 0px;
	padding: 15px !important;
	float: left;
	margin: 0 2px;
}

.linkedin {
	background-position: -90px 0px;
	padding: 15px !important;
	float: left;
	margin: 0 2px;
}

/*Carousel*/
.carousel-indicators {
	bottom: -35px;
}

.carousel-control.left,.carousel-control.right {
	background: none;
	height: 25%;
	margin-top: 5%;
}

#review-carousel img {
	display: block;
	margin: 10px auto 0 auto;
	width: 65px;
	border-radius: 50%;
	height: 65px;
	object-fit: cover;
}

.review {
	margin: 45px auto 25px auto;
	width: 74%;
}

.review .light {
	margin-top: 10px;
}

.review .quote {
	width: 69.99%;
	margin: auto;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
	color: #333;
	font-style: italic;
}

.glyphicon-menu-left:before,.glyphicon-menu-right:before {
	color: #111;
	font-size: 1.5em;
	text-shadow: none;
}

.carousel-indicators .active {
	background-color: #555;
	border: 1px solid #555;
}

.carousel-indicators li {
	border: 1px solid #aaa;
}

/*End Carousel*/

/* Username Availabily */
.user-name label {
	font-size: 21px;
	font-weight: 400 !important;
}

/* App-updates */
.app-sprite {
	background: url(../img/mobile_icons_sprite.png) no-repeat center center;
	display: inline-block;
}

.ios-app {
	background-position: 0 -1px;
	padding: 20px 21px;
	margin: -10px 10px 0 -3px;
}

.and-app {
	background-position: -40px -3px;
	padding: 20px 21px;
	margin: -10px 10px 0 -3px;
}

.win-app {
	background-position: -80px -4px;
	padding: 20px 21px;
	margin: -10px 10px 0 -3px;
}

.app-updates table {
	margin: auto;
}

.app-updates input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
	padding-left: 28px;
	height: 23px;
	display: inline-block;
	line-height: 23px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 23px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 7px;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
	background-position: 0 -23px;
}

label.css-label {
	background-image: url('../img/checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*Corporate landing */

.bg-img-corp {
	background: url('../img/bg-img-2.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-width: 100%;
	min-height: 689px;
}

.corporate-landing {
	padding: 0;
}

.bg-white-transparent {
	background-color: rgba(231, 231, 231, 0.75);
}

.bg-white {
	background: #fff;
}

.corporate-register-form {
	padding: 3% 13%;
}

.corporate-register-form input {
	text-align: center;
	margin: 7px 0;
	height: 40px;
}

.corp-btn-sprite {
	background: url(../img/login_buttons_sprite.png) no-repeat center center;
	display: inline-block;
}

.corp-sign-office {
	background-position: -5px -68px;
	padding: 30px 140px !important;
}

.corp-sign-google {
	background-position: -5px -5px;
	padding: 30px 140px !important;
}

.corporate-footer {
	text-transform: uppercase;
	padding: 10px 0;
}

.corporate-footer a {
	margin-left: 25px;
	font-weight: 600;
	color: #777;
}

.interactions-container {
	background: #fff;
	color: #009be0;
	font-size: 80px;
	font-weight: 300;
	border: #eee;
	padding: 16.66% 0;
	max-height: 200px;
	overflow: hidden;
}

.interactions-container p, a {
	font-size: 14px;
	color: #555;
	font-weight: 600;
}

.top-contacts .img-circle {
	border: 8px solid #fff;
	width: 140px; height: 140px;
	position: relative;
}

.top-contacts-overlay {
	position:absolute;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.55);
	z-index:99;
	color:white;
	text-align: center;
	width: 140px;
	height: 140px;
	border-radius: 255px;
	margin: 0 auto;
	border: 8px solid #fff;
	padding: 25px 0 0 0;
	font-size: 44px;
	font-weight: 300;
	overflow: hidden;
}

.top-contacts-overlay:hover {
	opacity: 0;
	-webkit-transition: opacity 500ms ease-out .1s;
	-moz-transition: opacity 500ms ease-out .1s;
	-o-transition: opacity 500ms ease-out .1s;
	transition: opacity 500ms ease-out .1s;
}

.top-contacts h4 {
	font-weight: 600;
	margin: 15px 0;
}

.css-rest-image {

}

.list {
	float: left;
	margin: 0 5px;
	padding: 10px;
}

.ownership h6 {
	font-weight: 600;
}

.code-display table {
	background: #fafafa;
}

/*.code-display td,*/
/*.code-display th {*/
	/*border-bottom: 1px solid #aaa;*/
	/*padding: 7px;*/
/*}*/

/*.code-display td {*/
	/*background: #fff;*/
/*}*/

.code-display .wid20 {
	width: 20%;
}

.css-rest-image .search-box-wrapper {
	width: 175px;
	border: transparent;
	padding: 0;
	background: transparent;
	box-shadow: none;
	position: relative;
	margin: inherit;
	z-index: 0;
}

.blur {
	opacity: 0.25;
}

.custom-modal {
	width: 55%;
	background: #fff;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px;
	margin: auto;
	min-height: 300px;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	top: 10%;
	box-shadow: 5px 5px 30px #555;
}

.custom-modal .close-modal {
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	padding: 10px;
	text-align: left;
}

.custom-modal .info {
	background: rgba(238, 238, 238, 0.24);
	color: #e74c3c;
	text-align: left;
	padding: 10px;
	border: 1px solid #eee;
	/*position: absolute;*/
	/*bottom: 5%;*/
	/*left:0;*/
	/*right:0;*/
	width: 99%;
	margin: auto !important;
}

.help-modal {
	position: fixed;
	z-index: 999;
	background: #fff;
	height: 50%;
	width: 50%;
	left: 0;
	right: 0;
	top: 15%;
	margin: auto;
	box-shadow: 2px 10px 20px #aaa;
}

.help-modal .modal-body {
	
}

.custom-modal .footer {
	border-top: 1px solid #ccc;
	padding: 10px 0 0 0;
}

.custom-modal .info .fa {
	font-size: 16px;
}

.custom-modal .info a {
	text-decoration: underline;
	color: #00a3e6;
}

.alert-dismissible {
	height: 150px;
	overflow: auto;
}

.org-head .search-box-wrapper {
	margin-top: 5px;
	position: absolute;
}

.org-head .search-box-wrapper .clearfix {
	margin-bottom: 6px;
}

.org-head input {
	margin-left: 15px;
}

.org-head span {
	position: relative;
	color: #70848d;
	background-color: #ebf2ed;
	border-radius: 100%;
	display: inline-block;
	border: 2px solid #ddd;
	width: 40px;
	height: 40px;
	object-fit: cover;
	font-weight: 200;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.org-head img {
	position: relative;
	color: #70848d;
	background-color: #ebf2ed;
	border-radius: 100%;
	display: inline-block;
	border: 2px solid #ddd;
	width: 40px;
	height: 40px;
	object-fit: cover;
	font-weight: 200;
	font-size: 20px;
	line-height: 47px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.custom-modal .row {
	margin: 0;
}

.custom-modal .overflow {
	overflow-y: auto;
	padding: 0;
	max-height: 300px;
}

.custom-modal .overflow ul {
	background: #eee;
	width: 96%;
	border: 1px solid #ccc;
	margin-left: 5px;
	padding: 5px;
}

.custom-modal .overflow ul:hover {
	background: #e5e5e5;
}

.custom-modal .overflow ul li input {
	margin: 0 5px 0 0;
}

.custom-modal .overflow ul li {
	list-style: none;
	text-align: left;
}

.meeting-map {
	position:relative;
}

.map-overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.65);
	z-index:99;
	color:white;
	width: 51.11%;
	margin: 5.5555% auto;
	padding: 6%;
	text-align: center;
	height: 51.77%;
}

/*Corporate Admin*/

#detailsTable #currency {
	width: 37%;
	margin-left: 10px;
}

#detailsTable input {
	border-radius: 2px;
	border: 1px solid #aaa;
	padding: 3px;
	margin: 3px 0;
}

#detailsTable select {
	border: 1px solid #ccc;
	padding:4px;
	/*background: #eee;*/
}

#detailsTable button,#detailsTable #saveDetails,#detailsTable input[type='button'] {
	border: none;
	border-radius: 2px;
	background: #267368;
	color: #fff;
	padding: 4px 15px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin: 0 5px
}

#regionsList {
	max-width: 250px;
}

#regionsList .x-mark {
	display: none;
	font-size: 14px;
	font-weight: 600;
	color: #f86951 !important;
	margin: 0 15px;
}

#regionsList .delete:hover {
	/*text-decoration: underline;*/
	color: #00a3e6;
}

/*Corporate Page*/

.sub-header {
	background-color: #FF9843;
	padding: 10px;
	color: #fff;
}

.border-grey {
	border: 1px solid #ddd;
}

.sidebar {
	line-height: 26px;
}

.sidebar a {
	color: #009be0;
	font-weight: 400;
}

.sidebar h4 {
	font-weight: 600;
}

.user-profile {
	text-align: center;
	min-height: 65px !important;
	position: relative;
	min-width: 45px;
	border-radius: 75px;
	width: 65px;
	height: 65px;
}

.user-profile img {
	position: absolute;
	background-color: #ccc;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto !important;
	border: 2px solid #fff;
}

.video-bg-gradient,.video-list li:hover,.video-list .highlight-list {
	color: #F4E2D8;
	background: #5C258D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.video-list {
	list-style: none;
	border: 1px solid #ccc;
	height: 140px;
	padding: 3px;
	border-radius: 2px;
	background: #fafafa;
	overflow-y: auto;
	color: #333;
	font-size: 13px;
	margin-top: 5px;
}

/*.video-list li:hover,.video-list .highlight-list {*/
	/*color: #F4E2D8;*/
	/*background: #5C258D; !* fallback for old browsers *!*/
	/*background: -webkit-linear-gradient(to left, #5C258D , #4389A2); !* Chrome 10-25, Safari 5.1-6 *!*/
	/*background: linear-gradient(to left, #5C258D , #4389A2); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*}*/

.video-list li {
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	line-height: 17px;
}

.video-container .video {
	width: 100%;
	height: 300px;
	border: 1px solid #eee;
	padding: 1px;
}

.video-container .video-list-wrapper {
	width: 83%;
	position: relative;
}

.video-container .social-sharing {
	position: absolute;
	right: -30px;
	top: 0;
	list-style: none;
}

.video-container .social-sharing a {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
}

.mm-wrapper .form-container {
	background: #fafafa;
	height: 530px;
	width: 355px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: -15px;
	color: #333;
	padding-top: 40px;
	position: relative;
}

.mm-wrapper .form-container .foot-note {
	text-align: center;
	color: #555;
	border-top: 1px solid #ddd;
	padding: 10px 0 15px 0;
	width: 80%;
	margin: auto;
	position: absolute;
	bottom: 125px;
	left:0;
	right: 0;
	font-weight: 300;
}

.mm-wrapper .form-container p:first-child {
	margin-bottom: 10px;
	font-size: 13px;
}

.mm-wrapper .form-container p {
	font-size: 11px;
	margin: 0;
}

.defaultVideo {
	background: #b1d1f9;
}

.current-list-videos .video{
	cursor: pointer;
	margin: 10px 0;
	padding: 10px;
	position: relative;
}

.current-list-videos ul {
	list-style: none;
	border: 1px solid #ccc;
	width: 150px;
	background: #eee;
	padding: 5px;
	position: absolute;
	right: 150px;
	z-index: 99;
	top: 15px;
}

.current-list-videos .video p {
	margin: 0;
}

.form-container .header {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.form-container .header h4 {
	margin-bottom: 0;
	font-weight: 300;
}

.form-container .header h2 {
	margin-top: 5px;
	font-size: 24px;
}

/*.login-btns .google {*/
	/*background-color: #DC4E41;*/
/*}*/

/*.login-btns .google a {*/
	/*color: #fff;*/
	/*font-size: 17px;*/
	/*text-decoration: none;*/
/*}*/

/*.login-btns .google img {*/
	/*width: 40px;*/
/*}*/

.login-btns .google,.login-btns .outlook {
	/*height: 52px;*/
	width: 180px;
	padding: 0 !important;
	margin: 5px 0 15px 0 !important;
	cursor: pointer;
	border: 1px solid #ccc;
	float: none !important;
	border-radius: 3px;
}

.login-btns .outlook {
	/*background-color: #DC4E41;*/
}

.login-btns .google img,.login-btns .outlook img {
	border-radius: 3px;
}

@media (min-width: 768px) {
	.features .col-md-offset-2 {
		margin-left: 10.666667%;
	}

	.features .col-md-3 {
		margin-right: 3%;
	}
}

@media screen and (max-width: 1000px) {

	.form-container {
		width: 100% !important;
		margin-top: 15px !important;
		height: inherit !important;
	}

	.form-container .foot-note {
		position: inherit !important;
		bottom: 0 !important;
		left: inherit !important;
		right: 0 !important;
	}

	/*.form-container .login-btns {*/
		/*width: 32% !important;*/
	/*}*/

	.video-container .video-list-wrapper {
		width: 98%;
	}

}

@media screen and (max-width: 768px) {
	.row {
		margin: 0;
	}
	.navbar-collapse.in {
		max-height: none;
	}
	.welcome-text {
		font-size: 30px !important;
	}
	.sub-welcome-text {
		font-size: 18px !important;
		width: 75.55%;
	}
	.features .hero-feature {
		padding: 0 2px;
		margin: 15px;
	}
	.features .thumbnail .caption {
		padding: 0;
		font-size: 1em;
		font-weight: 400;
	}
	.features .thumbnail {
		min-height: 255px;
	}
	.blue-btn,.blue-btn-inverse {
		font-size: 0.91em !important;
	}
	.user-name label {
		font-size: 18px;
		font-weight: 400 !important;
	}
	.subscribe input {
		font-size: 16px;
		width: 76.66%;
	}
	.company-sprite {
		background: url(../img/companysprites-mobile.png) no-repeat center
		center;
		display: inline-block;
	}
	.company-1 {
		background-position: 0px 0px;
		padding: 34px 60px !important;
	}
	.company-2 {
		background-position: -128px 0;
		padding: 34px 60px !important;
	}
	.company-3 {
		background-position: -250px 0px;
		padding: 34px 60px !important;
	}
	.company-4 {
		background-position: -372px 0px;
		padding: 34px 60px !important;
	}
	.quick-links {
		line-height: 25px;
	}
	.page-title {
		font-size: 32px;
	}
	.review .quote {
		font-size: 17px;
	}
	.hero-feature {
		margin-bottom: 0;
	}
	.down-arr-offset {
		margin-top: 65px;
	}

	.twitter,.facebook,.linkedin {
		float: none;
	}
	.map-overlay {
		height: 70%;
	}

}

@media screen and (max-width: 398px) {
	.user-name label {
		font-size: 18px;
		font-weight: 700 !important;
	}
	.subscribe input {
		font-size: 14px;
	}
	.logo img {
		max-width: 100%;
		width: 37.77%;
		margin: 8px;
	}
}

/*iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width
: 1024px) {
	.bg-img-1,.bg-img-2,.bg-img-3,.bg-img-4,.bg-img-5,.bg-img-6 {
		background-attachment: scroll;
	}
}

/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width
: 1024px) and (orientation : landscape) {
	.bg-img-1,.bg-img-2,.bg-img-3,.bg-img-4,.bg-img-5,.bg-img-6 {
		background-attachment: scroll;
	}
}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width
: 1024px) and (orientation : portrait) {
	.bg-img-1,.bg-img-2,.bg-img-3,.bg-img-4,.bg-img-5,.bg-img-6 {
		background-attachment: scroll;
	}
}

@media screen and (min-width:0\0) {
	.absolute-center {
		bottom: -99%;
	}
}
