<div class="ad advertisement">
    <div class="inner-advertisement text-left" >
        <div class="row">
            <div class="col-xs-2">
                <img src="../images/relatasIcon.png" style="width: 58px;height:58px;border-radius: 50%;">
            </div>

            <div class="col-xs-6" style="padding: 3%;">
                <span style="font-size:15px;">Check how Relatas works</span>
            </div>
            <!--<div class="col-xs-4 Download-app">-->
                <!--<input type="button" value="Download now" class="btn-info download-btn mDownloadApp">-->
            <!--</div>-->
            <div class="col-xs-4 view-vid">
                <input type="button" value="View Video" class="btn-info download-btn mViewVid" id="youtubeVid">
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="text-center">Learn more about Relatas at <a href="//relatas.com/" target="_blank" style="color: #267368;">www.relatas.com</a></h4>
            </div>
            <div class="modal-body">
                <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="485" height="275"
                       poster="/images/relatasIcon.png" data-setup="{}" style="margin: auto;background-color: #eee;">
                    <source src="//s3.amazonaws.com/relatas-live-imagestorage/Video/Relatas_380.mp4" type='video/mp4'>

                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        supports HTML5 video</a>
                    </p>
                </video>

            </div>
            <div class="modal-footer" style="text-align:left !important;">
                Relatas is the future of Business Relationship Intelligence; integrating with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections at all times.
            </div>
        </div>
    </div>
</div>