<section data-ng-controller="calendar_loc_controller">
    <div class="main_container text-center">
        <div class="locked_container">
            <i class="fa fa-lock"></i><br/>
            <p id="call_pass_message">{{ cal_loc_message_1 }}<br/>{{ cal_loc_message_2 }}</p>
            <a class="btn btn-primary btn-raised {{hide_but}}" onclick="sendCallPassRequest()" id="call_pass_button" style="display: inline;" {{disabled}}>Send Request</a>
            <div class="calendar_lock_container {{hide_login_but}}">
                <div class="col-sm-6"><a class="sso gplus" ng-href="{{cal_pass_req_url_google}}"><i class="fa fa-google-plus"></i>1 Click Send with Google</a>
                </div>
                <div class="col-sm-6">
                    <a class="sso linkedin" ng-href="{{cal_pass_req_url_outlook}}"><i class="fa fa-linkedin"></i>1 Click Send with Outlook</a>
                </div>
            </div>
        </div>
    </div>
</section>