<div class="row">
    <div class="col-xs-3">
        <ul class="nav navbar-nav">
            <li>
                <a m_event="relatas logo" href="/">
                    <img alt="Reletas" src="../landing/img/logo.png" id="school_side_image"
                         class="profile-pic img-responsive" style=""/>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center" >
        <div class="search_container pull-left hidden-xs" ng-show="{{isLoggedIn}}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" style="width: 330px;"/>
                <div class="input-group-addon btn"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>

 <div class="col-xs-5 login_header" ng-show="{{isLoggedIn}}" data-ng-controller="logedinUser">
        <li class="dropdown" id="menuLogin" style="list-style: none;">
            <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                <span>[[l_usr.firstName]]</span><img class="image-placeholder-small" ng-src="[[l_usr.profilePicUrl]]"/>
            </a><br/>
            <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                <ul style='list-style:none;' class="notificationsss">
                    <li><a m_event="profile" href="/editProfile">Profile</a></li>
                    <li class="divider"><a href=""></a></li>
                    <li><a m_event="logout"href="/logout">Logout</a></li>
                </ul>
            </div>
        </li>
 </div>

    <div ng-show="{{!isLoggedIn}}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse user-not-login-container" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=' https://play.google.com/store/apps/details?id=com.relatas.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                        <img alt='Get it on Google Play' class="g_play_icon" src='../images/play_badge_new.png'/>
                    </a>
                </li>
                <li><a m_event="company link" href="/company">Company <span class="sr-only">(current)</span></a></li>
                <li><a m_event="product link" href="/Relationship-Intelligence">Product</a></li>
                <li><a data-toggle="modal" data-target="#login_modal" id="login_model_button" class="mScheduleLogin">login</a></li>
            </ul>
        </div>
    </div>
</div>