
<!--Mixpanel not loading from parent template-->
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>

<div class="row margin0" data-ng-controller="header_controller">
    <div class="col-xs-3">
        <ul class="nav navbar-nav">
            <li>
                <a m_event="relatas logo" href="/">
                    <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image"
                         class="profile-pic img-responsive hidden-xs" style=""/>
                </a>
                <a m_event="relatas logo" href="/">
                    <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image"
                         class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg"/>
                </a>
            </li>

        </ul>
        <ul style="position: fixed" class="showIconleftbar keep-open">
            <li class="dropdown keep-open" style="list-style: none;" id="ipad-open">
                <a class="dropdown-toggle pull-right profile_link showLeftbar-icns no-overflow hidden-lg" href="#" data-toggle="dropdown" aria-expanded="true" id="menu-toggle">
                    <i class="fa fa-bars fa-2x profile-pic" id="showLeftbar"></i>
                </a><br>
                <div class="dropdown-menu profile_link meeting-and-Contact showContainerleftbar keep-open" style="overflow-y: auto;">
                    <ul style="list-style:none;" class="notificationsss keep-open">
                        <div style="">
                            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
                        </div>
                        <div data-ng-include="getMiddleBarTemplate()"></div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0" >
        <div class="search_container pull-left" ng-show="{{isLoggedIn}}">
            <div class="input-group">
                <input id="searchContentId" type="text" ng-init="headerSearchContent = searchContentIn" ng-model="headerSearchContent" class="form-control search-height input-search form-width show-networks mSearchHead" ng-enter="searchFromHeader(headerSearchContent,yourNetwork,extendedNetwork,forCompanies)" placeholder="Search"/>
                <div class="input-group-addon btn hidden-xs" ng-click="searchFromHeader(headerSearchContent,yourNetwork,extendedNetwork,forCompanies)"><i class="fa fa-search"></i></div>
            </div>
            <div class="toggle-networks">
                <div class="nw-search-head clearfix">
                    <span class="pull-left">SEARCH: </span><a class="pull-right close-toggle-networks show-networks" title="Close">X</a>
                </div>
                <ul class="list-unstyled clearfix margin0">
                    <li>
                        <div class="checkbox">
                            <input ng-init="yourNetwork = yourNetworkIn;" ng-model="yourNetwork" id="checkbox5" type="checkbox">
                            <label for="checkbox5">
                                My Network
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input ng-init="extendedNetwork = extendedNetworkIn;" ng-model="extendedNetwork" id="checkbox6" type="checkbox">
                            <label for="checkbox6">
                                Extended Network
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <input ng-init="forCompanies = forCompaniesIn" ng-model="forCompanies" id="checkbox7" type="checkbox">
                            <label for="checkbox7">
                                For Companies
                            </label>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-4 relative login_header" ng-show="{{isLoggedIn}}" data-ng-controller="logedinUser">

        <!--<div data-ng-controller="notificationsController">-->

            <!--<i class="fa fa-bell-o notifications-header-bell" ng-click="showNotifications($event)"></i>-->
            <!--<span class="notifications-number" ng-if="!notificationsSeen">[[totalNotifications]]</span>-->
            <!--<div style="left:0;" class="notifications-dropdown" ng-if="openNotifications">-->

                <!--<h4>Notifications</h4>-->
                <!--<a href="/insights/losing/touch/details" class="clearfix">-->
                    <!--<span class='pull-right underline action-card-links-xs'>[[losingTouch]]</span>-->
                    <!--<span class='pull-left'>Losing Touch with contacts </span>-->
                <!--</a>-->
                <!--<a href="/people/to/connect" class="clearfix">-->
                    <!--<span class='pull-right underline action-card-links-xs'>[[rtcCount]]</span>-->
                    <!--<span class='pull-left'>Remind To Connect </span>-->
                <!--</a>-->
                <!--<a href="/insights/revenue/risk/details" class="clearfix">-->
                    <!--<span class='pull-right underline action-card-links-xs'>[[revenueAtRisk]]</span>-->
                    <!--<span class='pull-left'>Revenue at Risk % </span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <li class="dropdown" id="menuLogin" style="list-style: none;">
            <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                <span>[[l_usr.firstName]]</span><img class="image-placeholder-small" ng-src="[[l_usr.profilePicUrl]]" >
            </a><br/>
            <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                <ul style='list-style:none;' class="notificationsss anchor-padding">
                    <li><a m_event="profile" href="/settings">Profile</a></li>
                    <li class="divider"><a href=""></a></li>
                    <li><a m_event="logout" href="/logout" id="mLogout">Logout</a></li>
                </ul>
            </div>
        </li>
 </div>

    <div ng-show="{{!isLoggedIn}}">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse user-not-login-container" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=' https://play.google.com/store/apps/details?id=com.relatas.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                        <img alt='Get it on Google Play' class="g_play_icon" src='../images/play_badge_new.png'/>
                    </a>
                </li>
                <li><a m_event="company link" href="/relationship-intelligence-company">Company <span class="sr-only">(current)</span></a></li>
                <li><a m_event="product link" href="/relationship-intelligence-product">Product</a></li>
                <li><a data-toggle="modal" data-target="#login_modal" id="login_model_button" class="mScheduleLogin">login</a></li>
            </ul>
        </div>
    </div>
</div>


        <!--
            Mobile navigation on click, no close
        -->
<script type="text/javascript">

    $(document).ready(function() {
        $(document).on('click', '.dropdown-menu', function (e) {
            $(this).hasClass('keep-open') && e.stopPropagation(); // This replace if conditional.
        });
    });

</script>