
<section ng-class="style">
<div class="row clearfix text-center profile_information" ></div>
<div class="main_container row text-center">
    <div class="setup_meeting">
        <b>Set up a meeting for</b><br/>
        <a class="btn btn-primary btn-raised" href="/#/schedule/details">15 minutes</a>
        <a class="btn btn-primary btn-raised" href="/#/schedule/details">30 minutes</a>
        <a class="btn btn-primary btn-raised" href="/#/schedule/login">60 minutes</a>
    </div>
    <a class="btn btn-primary btn-raised" data-toggle="modal" data-target="#login_modal" id="social_intelligence_btn">View Social Intelligence</a>
    <div id="social_intelligence_container">
        <i class="fa fa-chevron-down"></i>
        <div class="row alternate_color">


            <div class="col-md-12 common_connections" data-ng-controller="commonConnections">
                <h3>Common Connections</h3>
                <div ng-repeat="user in users" class="row">
                <div class="connection" class="col-xs-4">
                    <div class="image-placeholder-medium"/>SD</div>
                    <a href="">[[user.personName]]</a>

                </div>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Latest Linkedin Post</h3>

                <p>Your customers are your best sales people, build that relationship</p>
                <span class="tweets_time">8:01 PM - 12 May 2015 | @SudipDutta</span>
            </div>
        </div>
        <div class="row alternate_color">
            <div class="col-md-12 past_companies">
                <h3>Past Companies</h3>
                <ul class="clearfix">
                    <li class="pull-left"><span>CEO, Aporv</span></li>
                    <li class="pull-left"><span>Partner & VP Sales, Sourcebits</span></li>
                    <li class="pull-left"><span>Director Sales, Persistent Systems</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tweets">
                <h3>Tweets</h3>
                <p>
                    My <a href="">@Quora</a> answer to What are some good example of unconventional and creative marketing campaign by an Indian Startup? <a href="#">//qr.ae/ftSmk</a>
                    <span class="tweets_time">8:01 PM - 12 May 2015 | @SudipDutta <a href=""><i class="fa fa-user-plus"></i>Follow</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="login_modal">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <a class="gplus sso" ng-click="schedule.loginModal()"><i class="fa fa-google-plus"></i>1 Click Send with Google</a>
            <a class="linkedin sso" ng-click="schedule.loginModal()"><i class="fa fa-linkedin"></i>1 Click Send with LinkedIn</a>
        </div>
    </div>
</div>
</section>

