<ul class="sidebar-nav custom-side-nav" data-ng-controller="left_menu_bar">
    <!--<li class="[[sideNavLanding]]"><a href="/today/landing" title='Today'><img src="/images/left-menu/icon_today.png"><p class="line-0">Today</p></a></li>-->
    <li class="[[sideNavInsights]]"><a href="/insights" title='Insights'><img src="/images/left-menu/icon_insights.png"><p>Insights</p></a></li>
    <li class="[[sideNavCommits]]"><a href="/team/commit/review" title='Team'><img src="/images/left-menu/review.png"><p>Commit</p></a></li>
    <li class="[[sideNavOpp]]"><a href="/opportunities/all" title='Opportunities'><i class="fa fa-dollar fs-16"></i><p>Opp</p></a></li>
    <li class="[[sideNavAccounts]]"><a href="/accounts/all" title='Company'><img src="/images/left-menu/icon_company.png"><p>Accounts</p></a></li>
    <li class="[[sideNavContacts]]"><a href="/contacts/all" title='Contacts'><img src="/images/left-menu/icon_contacts.png"><p>Contacts</p></a></li>
    <!--<li class="[[sideNavLanding]]"><a href="/today/dashboard" title='Today'><img src="/images/left-menu/icon_today.png"><p class="line-0">Today</p></a></li>-->
    <!-- <li class="[[sideNavRecommendation]]"><a href="/recommendations/all" title='Recommendations'><img src="/images/left-menu/icon_recommendation.png"><p>Recommend</p></a></li> -->
    <!--<li class="[[sideNavReports]]"><a href="/reports" title='Reports'><img src="/images/left-menu/icon_reports.png"><p>Reports</p></a></li>-->
    <li class="[[sideNavReports]]"><a href="/pulse/team/reports" title='Team'><img src="/images/left-menu/icon_team.png"><p>Team</p></a></li>
    <li><a href="/tasks/all" title='Tasks'><img src="/images/left-menu/icon_tasks.png"><p>Tasks</p></a></li>
    <!-- <li><a href="/dashboard" title='Dashboard'><img src="/images/left-menu/icon_dashboard.png"></a></li> -->
    <li class="[[sideNavDocuments]]"><a href="/document/index" title='Documents'><img src="/images/left-menu/documents.png"><p>Documents</p></a></li>
    <li class="[[sideNavNotifications]]"><a href="/notifications" title='Notifications'><img src="/images/left-menu/icon-notification.png"><p>Notifications</p></a></li>
    <!-- <li><a href="/interactions" title='Interactions'><img src="/images/left-menu/icon_interactions.png"></a></li> -->
    <!--<li><a href="/notifications/new" title='Notifications'><img src="/landing/leftMenuIcons/ic_notifications_wh.png"></a></li>-->
    <!--<li><a href="/calendar/new" title='Calendar'><img src="/landing/leftMenuIcons/ic_calendars_wh.png"></a></li>-->
    <!-- <li class="[[sideNavHelp]]"><a href="/help/new" title='See More'><img src="/images/left-menu/icon_help.png"><p>Help</p></a></li> -->
    <li ng-show="isCorporateAdmin" style="margin: 0"><hr style="margin: 0"></li>
    <li class="[[sideNavAdmin]]" ng-show="isCorporateAdmin" class="[[sideNavAdmin]]"><a href="/corporate/admin" title='Admin'><i class="fa fa-user-secret"></i><p>Admin</p></a></li>
</ul>