<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas provides out-of-the-box smart scheduling along with contact intelligence for busy professionals.">
    <meta name="author" content="Relatas">
    <title>Schedule a Meeting | Relationship Intelligence | Relatas</title>

    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/mediaq.css" rel="stylesheet">
    <link href="stylesheets/css/Mediaquery.css" rel="stylesheet">
    <link href="stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/scheduleFillMeetingDetails.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);
            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document, 'script', 'twitter-wjs');
    </script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        #sidebar-wrapper {
            margin-top: 0 !important;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: -34px;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    <script>

        $(document).ready(function(){
            $(".open-leftbar").click(function(){
                $("#sidebar-wrapper").toggle();
            });
        });
    </script>
</head>
<body style="overflow-x: hidden;" ng-cloak>
<div id="header-v2" data-ng-include="'/schedule/header_no_mid'"></div>
<div style="display: none" id="companyDetails">{{companyDetails.company}}</div>
<div id="wrapper">
    <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}} toggle-sidebar"></div>
    <div id="page-content-wrapper" userId="{{userId}}" slotDuration="{{slotDuration}}" timezone="{{timezone}}" slotDate="{{slotDate}}">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    <div class='row clearfix text-center profile_information' ng-include src='"/schedule/profile_banner"'></div>
                    <div class="row select-time-slot-container text-center">
                        <label>Selected {{slotDuration}} minutes slot :</label> &nbsp <span id="selected_slot_date">Friday 17 April 2015</span> &nbsp &nbsp<span id="selected_slot_time">6:30 EEST (GMT-3:30)</span>
                        <div class="text-center clear-schedule" ng-controller="clear_schedule">
                            <button class="btn-primary btn-color" ng-click="goBack()">Clear & Setup New Meeting</button>
                        </div>
                    </div>

                    <div class='row meeting_container text-center'>
                        <div class="meeting_schedule_options form-group" ng-controller="meeting_details_controller">
                                <span style="display: none" ng-show="errorMessageShow" class="error">[[errorMessage]]</span>
                                <input type="text" ng-model="meetingTitle" tabindex="1" class="form-control input-form-control" placeholder="Meeting Title *">
                                <select class="meeting_location" tabindex="2" id="meetingLocationType" ng-init="m_location_type = 'Meeting Type *'" ng-model="m_location_type">
                                    <i class="fa fa-calendar-o fa-lg"></i>
                                    <option>Meeting Type *</option>
                                    <option>Phone</option>
                                    <option>Skype</option>
                                    <option>Conference Call</option>
                                    <option>In-Person</option>
                                    <option value="corporate" ng-show="{{companyDetails.company}}">{{companyDetails.companyName}}</option>
                                </select>
                                <select data-ng-init="show_select_meeting_room = false; meeting_room = 'notSelected'" class="meeting_location" ng-show="m_location_type == 'corporate' || show_select_meeting_room" ng-model="meeting_room">
                                    <option value="notSelected">Select Meeting Room</option>
                                    <option ng-repeat="room in companyMeetingRooms" value="[[room]]">[[room.firstName]]</option>
                                </select>
                                <input ng-hide="m_location_type == 'corporate'" id="meeting_location" type="text" ng-model="meetingLocation" tabindex="3"class='form-control input-form-control' placeholder="[[meetingType]]">
                                <textarea class="form-control input-form-control" tabindex="4" ng-model="meetingDescription" placeholder=" Meeting Description / Agenda * "></textarea>

                            <div class="add-more-participants clearfix" data-ng-controller="add_more_contacts_controller">

                                <h5 class="bold pull-left">Add More Participants</h5>
                                <div class="checkbox pull-right padding0">
                                    <input id="checkbox231" class="styled" type="checkbox">
                                    <label for ="checkbox231"></label>
                                </div>
                                <div class="show-more-participants" style="display:none;">
                                <form class="row">
                                    <div class="form-group col-xs-10">
                                        <input placeholder="Add Participants" type="text" ng-enter="fetchContacts(searchContactAssignTask)" ng-change="fetchContactsOnChange(searchContactAssignTask)" ng-model="searchContactAssignTask" id="searchContactAssignTask" class="form-control input-search-lg">

                                        <ul class="search-results">
                                            <li class="typeahead" ng-repeat="user in contactsList" ng-click="selectContactTask(user.userId,user.emailId,user.fullName,user.image)"> <span class="center">[[user.fullName]]</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-1 padding0">
                                        <button type="submit" class="btn btn-primary" ng-click="updateParticipants(searchContactAssignTask)">Add</button>
                                    </div>

                                </form>
                                    <p class="show-error" style="display: none;color:#f76646;">Participant already added</p>
                                    <p class="show-email-error" style="display: none;color:#f76646;">Please add a valid Email ID</p>

                                    <div class="participants-wrapper">
                                        <div class="row margin0" ng-repeat="p in pList.zxc ">
                                    <div class="col-sm-12 clearfix">
                                        <div class="pull-left">
                                            <img src="[[p.pImg]]" class="image-placeholder-small">

                                        </div>
                                        <div class="pull-left user-email">
                                            <div>
                                                <span ng-if="p.pName">[[p.pName]]</span>
                                                <span ng-show="p.pName == ' ' || p.pName === undefined">[[p.unregisteredUser]]</span>

                                            </div>
                                        </div>
                                        <div class="pull-right">
                                           <span ng-click="remove($index)"><i class="fa fa-close"></i></span>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>

                            </div>
                                <input type="button" value="Schedule Meeting" ng-click="sendMeetingRequest(meetingTitle, meetingLocation, meetingDescription, meeting_room)" class='btn-primary btn-color btn-lg'tabindex="5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="login_modal" data-ng-controller="loginPopup_controller">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close"data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="letter-spacing: 1px;" id="login_popup_message"></h4>
                </div>

                <a m_event="login with google" class="gplus sso" ng-href="[[login_with_google]]"><i class="fa fa-google-plus mScheduleLogin" style="vertical-align: middle;"></i>Login with Google</a>
                <!--<a m_event="login with outlook" class="un-outlook"><img src="/images/outlook.png" style="width:22px;margin-right: 2px;">Login with Outlook</a>-->
            </div>
        </div>
    </div>
</div>
<div data-ng-controller="toastr_msg_controller">

</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerCalendarRouter.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsCalendarRouter.js"></script>
</body>
</html>
