<div class="row banner-section">
    <div class="col-xs-4">
        <div>
            <img imageonload="imageNotLoaded(other_user)" class="image-placeholder-big" alt='{{name}}' ng-show="!noPicFlag" ng-src="{{image}}"/>
            <span ng-show="noPicFlag" class="image-placeholder-big" style="display: inline-block;font-size: 60px;">[[nameNoImg]]</span>
        </div>
    </div>
    <div class="text-left col-xs-8 user_Name_profile">
        <h1>{{name}}</h1>
        <h2>{{position}}</h2>
        <i class="fa fa-map-marker fa-lg"></i>{{location}}
    </div>
</div>
