<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas provides out-of-the-box smart scheduling along with contact intelligence for busy professionals.">
    <meta name="author" content="Relatas">
    <title>Schedule a Meeting | Relationship Intelligence | Relatas</title>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/mediaq.css" rel="stylesheet">
    <link href="stylesheets/css/Mediaquery.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/scheduleSelectSlot.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type='text/javascript'>
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            function trigger(){
                $(".dropdown dt a").trigger( "click" );
            }
            $("#change_timezone").on('click',function(){
                trigger();
                return false;
            });

            $(".dropdown dd ul li a").click(function() {
                //console.log($(this).html())
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                updateCalendar();
            });

            function getSelectedValue(id) {
                //console.log(id,$("#" + id).find("dt a span.value").html())
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });
            $("#login_modal").click(function(){
                $("#map_my_cal_popup_msg").addClass('hide');
            });

            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

    <style>
        #sidebar-wrapper {
            margin-top: 0 !important;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: -34px;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
            .nav>li>a>img {
                height: 30px;
                width: 85px;
            }
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
</head>
<body style="overflow-x: hidden;" ng-cloak>
<div id="header-v2" data-ng-include="'/schedule/header_no_mid'"></div>
    <div id="wrapper">

        <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}} toggle-sidebar"></div>
        <div id="page-content-wrapper" userId="{{userId}}" slotDuration="{{slotDuration}}" timezone="{{timezone}}" slotDate="{{slotDate}}" isLoggedIn="{{isLoggedIn}}" meridiem="{{meridiem}}">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    <div class='row clearfix text-center profile_information' data-ng-include="'/schedule/profile_banner'"></div>
                    <div class='row setup_meeting text-center'>
                        <div class="select-times" data-ng-controller="timezones_controller">
                            <label > Times are in</label>&nbsp &nbsp &nbsp
                            <dl id="country-select" class="dropdown text-left">
                                <dt><a><span id="my_zone"><span id="timezone_value"></span></span></a></dt>
                                <dd>
                                    <ul style="display: none;">
                                        <li ng-repeat="listItem in listItems"><a ><span value="[[listItem.zone]]">[[listItem.date]]</span></a></li>
                                    </ul>
                                </dd>
                            </dl>
                            &nbsp &nbsp &nbsp
                            <label class='text-center'> Current time is </label>&nbsp &nbsp<span id="current_time"></span>
                            <input type="button" id="change_timezone" class="btn-primary btn-change" value="Change" />
                        </div>

                        <div class="go-back-btn" ng-controller="clear_schedule">
                            <button class="btn-primary btn-color" ng-click="goBack()">Clear & Setup New Meeting</button>
                        </div>
                        <br>
                        <label class="available_time" id="meridiem_slot_title">Available {{meridiemUpperCase}} start times for {{slotDuration}} Minutes on</label>&nbsp &nbsp &nbsp
                         <i class="fa fa-angle-left fa-2x"></i>&nbsp<span class='available_time_info' id="slot_day_date"></span>&nbsp<i class="fa fa-angle-right fa-2x"></i>
                    </div> 
                    <div class='row clearfix'>
                    <div class="confirm-slot-time text-center" data-ng-controller="calendar_days_slots">
                        <div class="selected-slots-p" style="height: 217px;width:300px;padding:4px 6px 3px 6px;margin:auto;overflow: auto;text-align: -webkit-center;text-align: -moz-center;">
                            <div ng-repeat="freeSlot in freeSlots" class="available-time-slot [[freeSlot.class]]" ng-click="slotClick([[freeSlot.url]])">
                                <p startDate="[[freeSlot.startDate]]" endDate="[[freeSlot.endDate]]">[[freeSlot.start]]</p>
                            </div>
                        </div>
                        <br/>
                        <label class="checked-map" style="margin-bottom: 54px;">
                            <input type="checkbox" name='map' ng-model="checked_map_my_cal" ng-change="mapMyCalChange(checked_map_my_cal)"> Map my calender &nbsp
                            <a href="#" data-toggle="tooltip" data-original-title="Use Map My Calendar feature to see the non-conflicting times with your calendar"><i class="fa fa-info-circle"></i></a>
                        </label>

                        <br/>
                        <br/>
                     </div>
                    </div>        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="login_modal" data-ng-controller="loginPopup_controller">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close"data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p style="font-size: 15px;letter-spacing: 1px;"><span id="map_my_cal_popup_msg">Please login to Relatas to map your calendar<br/> and remove conflicting schedules</span><br/></p>
                    </div>

                    <a m_event="login with google" class="gplus sso mScheduleLogin" ng-href="[[login_with_google]]"><i class="fa fa-google-plus" style="vertical-align: middle;"></i>Login with Google</a>
                    <!--<a class="un-outlook"><img src="/images/outlook.png" style="width:22px;margin-right: 2px;">Login with Outlook</a>-->
                </div>
            </div>
        </div>
    </div>
<div data-ng-controller="toastr_msg_controller">

</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'bottom'
        });

        $(window).load(function(){
            $(".selected-slots-p").mCustomScrollbar({
                theme:"inset-2-dark"
            });
        });
    })
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerCalendarRouter.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsCalendarRouter.js"></script>
</body>
</html>
