<section>
 <div class="meeting_invite_container meeting_invite_container_info text-center">
     <p>Your meeting invitation has <b style="color:red">NOT</b> been sent yet</p>
     <p>Please choose how you wish to identify yourself to {{firstName}}</p>
 </div>
    <div class="meeting_invite_container text-center" data-ng-controller="send_meeting_request">
        <a m_event="login with google" style="font-size: 13px;width: 230px;margin: 0px auto 20px auto;" ng-href="[[send_request_google]]" ng-click="mScheduleMeetingNoLogin()" class="gplus sso"><i class="fa fa-google-plus"></i>1 Click send with Google</a>
        <p class="text-center bold">OR</p>
        <p>Send without Relatas Intelligence</p>
        <div>
            <input type="text" class="form-control input-form-control" ng-model="emailId" placeholder="Email Address *"/>
            <input type="text" class="form-control input-form-control" ng-model="firstName" placeholder="First Name *"/>
            <input type="text" class="form-control input-form-control" ng-model="lastName" placeholder="Last Name *"/>
            <div>
                <a ng-click="sendMeetingRequest_not_logged_in(emailId, firstName, lastName); mixpanel(emailId, firstName, lastName)" class="schedule-meeting"><span>Schedule Meeting</span><br/><i>and remind me to register later</i></a>
            </div>
        </div>
    </div>
</section>