<section>
<div class="main_container row ">
    <div class="slot_information col-md-12">
        <div class="row">
            <div class="col-xs-4 text-left label_col meeting-details" style="font-size: 17px">Selected {{slotDuration}} minutes slot</div>
            <div class="col-xs-8 text-left value_col" style="font-style:italic;font-size: 17px;padding-right: 0;">: {{slotDateText1}}&nbsp;&nbsp;{{slotDateText2}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left label_col meeting-details">Meeting Title</div>
            <div class="col-xs-8 text-left value_col" style="font-size: 15px;padding-right: 0;">: {{title}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left label_col meeting-details">Meeting Location Type</div>
            <div class="col-xs-8 text-left value_col" style="font-size: 15px;padding-right: 0;">: {{locationType}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left label_col meeting-details">Meeting Location Details</div>
            <div class="col-xs-8 text-left value_col" style="font-size: 15px;padding-right: 0;">: {{location}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left label_col meeting-details">Meeting Description/ Agenda</div>
            <div class="col-xs-8 text-left value_col" style="font-size: 15px;padding-right: 0;">: {{description}}</div>
        </div>

    </div>
</div>
</section>


