<div data-ng-controller="allCrossFilters">

    <div class="menu-board">
        <div class="relative">
            <button class="btn btn-white" data-ng-click="addToFilter()">Add More</button>
            <ul class="list-unstyled" ng-show="showDropDown">
                <li ng-repeat="type in filterList">
                    <input type="checkbox" ng-model="type.selected">
                    <label>[[type.name]]</label>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="loadingData" class="text-center relative">
        <div class="loading-contacts">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>
    </div>
    <div id="flow" class=""></div>
</div>