<div class="commit" ng-controller="commit">

    <div class="filters clearfix">
        <div class="header pull-left">
            <h5>
                <select ng-change="getDatForRange(selectedCommitRange)"
                        ng-init="selectedCommitRange = commitRanges[1]"
                        ng-model="selectedCommitRange"
                        ng-options="x.name for x in commitRanges">
                </select>
                Overall Forecast <span class="fs-10">([[currentMonth]])</span>
            </h5>
        </div>
        <div class="pull-right">
            <button class="btn btn-green" data-ng-click="openCommitModal()">UPDATE COMMIT</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-white">ALL MY ACCESS</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-white" data-ng-click="viewTeamCommits()">TEAM COMMIT</button>
        </div>

        <div class="pull-right">
            <button class="btn btn-white">SELF COMMIT</button>
        </div>
        <div class="pull-right owner">
            <strong>[[owner.fullName]]'s</strong>
        </div>

        <div class="pull-right hierarchy">
            <select ng-change="getDatForHierarchy(selectedHierarchy)"
                    ng-init="selectedHierarchy = hierarchyList[0]"
                    ng-model="selectedHierarchy"
                    ng-options="x.name for x in hierarchyList">
            </select>
        </div>
    </div>
    <div ng-show="loadingData" class="text-center relative">
        <div class="loading-contacts">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>
    </div>

    <div class="reports-modal" ng-show="commitModalOpen">
        <div class="reports-modal-body">

            <div class="clearfix">
                <h5 class="pull-left" style="margin-bottom: 20px;margin-top: 5px;font-weight: lighter;">
                   <span ng-show="selectedCommitRange.name == 'Week'">[[weeklyCommitCutOff]]</span>
                   <span ng-show="selectedCommitRange.name == 'Month'">[[monthlyCommitCutOff]]</span>
                   <span ng-show="selectedCommitRange.name == 'Quarter'">[[quarterlyCommitCutOff]]</span>
                </h5>
                <button class="btn close-btn pull-right" data-ng-click="closeModal()">Close</button>
            </div>
            <div ng-show="loadingData" class="text-center relative">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div ng-show="!loadingData">
                <div class="row">

                    <div class="col-md-6 padding0" ng-show="selectedCommitRange.name != 'Week'">
                        <div class="graph-o">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Target([[commits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Achievement([[commits.graph.achievementVal]])
                                </div>
                            </div>
                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.commitPipeline"></div>
                                </div>

                                <div class="legend text-right">
                                    [[commitStage]] Pipeline([[commits.graph.commitPipelineVal]])
                                </div>
                            </div>
                        </div>
                        <h4 style="margin-left: 20px;">Shortfall: [[shortfall]]</h4>
                    </div>
                    <div ng-class="selectedCommitRange.name == 'Week'?'col-md-12':'col-md-6'" class="text-center">
                        <input ng-model="commits.selfCommitValue">
                        <button class="btn btn-green" data-ng-click="updateCommit()" ng-disabled="saving">
                            <span ng-show="!saving">SAVE COMMIT</span>
                            <span ng-show="saving">SAVING...</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-review">

        <table class="table team-tank-tb">
            <tr class="header-tb">
                <th>
                    Team member
                </th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetSort'">
                    <p class="target">Target </p>
                    <p class="text-center">([[totalTarget]])</p>
                </th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetAndAchievement.won'">
                    <p class="won">Won</p>
                    <p class="text-center">([[totalAchievement]])</p>
                </th>
                <th class="cursor text-center" data-ng-click="sortReverse = !sortReverse;sortType='commitSort'">
                    <p class="commit">Commit</p>
                    <p class="text-center">([[totalCommit]])</p>
                </th>
            </tr>

            <tr class="cursor grey-bg [[member.selected]]" ng-repeat="member in teamList | orderBy:sortType:sortReverse" data-ng-init="$first && seeReview(member)" data-ng-click="seeReview(member)">
                <td>
                    <div class="team-profiles clearfix reset"  title="[[member.fullName]], [[member.emailId]]">
                        <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                        <strong>[[member.fullName]]</strong>
                    </div>
                </td>
                <td class="text-right">
                    [[member.targetAndAchievement.target]]
                </td>
                <td class="text-right">
                    [[member.targetAndAchievement.wonWithCommas]]
                    <div class="won-percentage">
                        <div ng-style="member.wonPercentageStyle"></div> <span>[[member.wonPercentage]]</span>
                    </div>
                </td>
                <td class="text-right">
                    [[member.commit]]
                </td>
                <!--<td>-->
                    <!--[[member.targetAndAchievement.commitPipelineWithCommas]]-->
                <!--</td>-->
            </tr>
        </table>
    </div>
    <div class="opp-insights" ng-show="showOppInsights">
        <div class="basic-details">
            <h5>[[opp.opportunityName]]</h5>
            <p>[[owner.fullName]]</p>
            <div class="cursor close-btn" ng-click="showOppInsights = false;" style="padding:0 5px;border-radius:2px;position: absolute;
    right: 10px;
    top: 10px;">Close</div>
        </div>
        <div>
            <div class="row headers">
                <table style="width: 100%;">
                    <tr>
                        <td class="col-md-3" data-ng-click="openViewFor('insights')">Insights</td>
                        <td class="col-md-3" data-ng-click="openViewFor('team')">team</td>
                        <td class="col-md-3" data-ng-click="openViewFor('notes')">Notes/Tasks</td>
                        <td class="col-md-3" data-ng-click="openViewFor('log')">log</td>
                        <td class="col-md-3" data-ng-click="openViewFor('opp')">Opp</td>
                    </tr>
                </table>
            </div>

            <div class="insights">
                <ul class="list-unstyled">
                    <li class="clearfix" ng-repeat="item in insights">
                        <div class="pull-left"><span class="[[item.riskClass]]"></span></div>
                        <div class="pull-left">[[item.text]]</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row blue">
            <div class="col-md-4">
                <span>5</span><br>
                Days to Closure
            </div>
            <div class="col-md-4">
                <span>[[opp.amountWithCommas]]</span><br>
                Amount
            </div>
            <div class="col-md-4">
                <span>77</span><br>
                Interactions
            </div>
        </div>
        <div class="int-summary">
            <h5>Interactions summary</h5>
            <div class="summary-graph">
                <div class="int-growth"></div>
                <div class="label-markers clearfix">
                    <div ng-show="label1" class="line-1 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>US</span>
                        </div>
                    </div>
                    <div ng-show="label2" class="line-2 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>THEM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent">
            <h5>Recent summary</h5>
            <table>
                <tr ng-repeat="item in interactions">
                    <td>[[item.title]]</td>
                    <td>[[owner.fullName]]</td>
                    <td>[[item.interactionDate]]</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="action-board" style="width: 60.66%;">

        <div ng-show="actionloadingData" class="text-center relative">
            <div class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>

        <div ng-show="!actionloadingData">

            <div ng-show="teamCommitsViewing" class="team-commit">
                <div class="row">
                    <div class="col-md-4">
                        <div class="graph-o" ng-show="selectedCommitRange.name != 'Week'">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Team Target([[commits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Team Achievement([[commits.graph.achievementVal]])
                                </div>
                            </div>
                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.commitPipeline"></div>
                                </div>

                                <div class="legend text-right">
                                    Team [[commitStage]] ([[commits.graph.commitPipelineVal]])
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Closing this [[selectedCommitRange.name]]</p>
                        <h3>[[closingThisSelection]]</h3>
                    </div>
                    <div class="col-md-4">
                        <p>[[selectedCommitRange.name]]ly Commit</p>
                        <h3>[[commitValueSelectedForDisplay]]</h3>
                    </div>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>Select</th>
                            <th>Team Member</th>
                            <th>FY Target<br>
                                ([[targetForDisplay]])
                            </th>
                            <th class="text-center">FY Achievement<br>
                                ([[achievementForDisplay]])
                            </th>
                            <th class="text-center">
                                Commit Stage<br> Value
                                ([[oppValueSelectedForDisplay]])
                            </th>
                            <th class="text-center">
                                Self Commit <br>
                                ([[commitValueSelectedForDisplay]])
                            </th>
                            <th class="text-center">Committed Date</th>
                            <th class="text-center">Task</th>
                        </tr>
                        <tr ng-repeat="item in commitsByUsers | orderBy:sortTypeTeam:sortReverseTeam">
                            <td><input type="checkbox" ng-model="item.selected" data-ng-click="selectedUserValues(item)"></td>
                            <td>
                                <div class="team-profiles clearfix reset"  title="[[item.profile.fullName]], [[item.profile.emailId]]">
                                    <span ng-if="item.profile.noPicFlag">[[item.profile.nameNoImg]]</span>
                                    <strong>[[item.profile.fullName]]</strong>
                                </div>
                            </td>
                            <td class="text-right">[[item.fyTarget]]</td>
                            <td class="text-center">
                                [[item.fyAchivement]]
                                <div class="won-percentage">
                                    <div ng-style="item.wonPercentageStyle"></div> <span>[[item.wonPercentage]]</span>
                                </div>
                            </td>
                            <td class="text-right">[[item.oppsValueUnderCommitStage]]</td>
                            <td class="text-right">[[item.value]]</td>
                            <td class="text-center">[[item.commitDateTime]]</td>
                            <td class="text-center">Assign</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="!teamCommitsViewing" class="opp-move">
                <h5>Here's how opportunities in Commit moved through the pipeline from past month commit</h5>
                <table>
                    <tr>
                        <td>
                            <div class="clearfix blue">
                                <div class="pull-left">Commit</div>
                                <div class="pull-right">$13K(12)</div>
                            </div>
                            <div class="self">
                                Self Commit $14K (<span class="[[commitMet]]">Not met</span>)
                            </div>
                        </td>
                        <td>
                            <div class="clearfix won">
                                <div class="pull-left">Won</div>
                                <div class="pull-right">$3K(2)</div>
                            </div>
                            <div class="text-center">
                                12%
                            </div>
                        </td>
                        <td>
                            <div class="clearfix idle">
                                <div class="pull-left">IDLE</div>
                                <div class="pull-right">$8K(7)</div>
                            </div>
                            <div class="text-center">
                                23%
                            </div>
                        </td>
                        <td>
                            <div class="clearfix lost">
                                <div class="pull-left">Lost</div>
                                <div class="pull-right">$1K(1)</div>
                            </div>
                            <div class="text-center">
                                2%
                            </div>
                        </td>
                        <td>
                            <div class="clearfix pipeline">
                                <div class="pull-left">Pipeline</div>
                                <div class="pull-right">$3K(8)</div>
                            </div>
                            <div class="text-center">
                                52%
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h5>Opps in [[commitStage]] stage</h5>
                <table class="opps">
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='risk'">Risk</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='opportunityName'">Name/<br>Account</th>
                    <th>Owner</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='closeDateSort'">Value/<br>Close Date</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='amountWithNgm'">Topline/<br>Margin</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='productType'">Product</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='region'">Region</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='age'">Age<br>(days)</th>
                    <th>Notes/<br>Task</th>
                    <tr ng-style="item.closingThisWeek" ng-repeat="item in oppsInCommitStage | orderBy:oppSortType:oppSortReverse" data-ng-click="getInteractionHistory(item)">
                        <td><span class="[[item.riskClass]]"></span></td>
                        <td>
                            <span class="underline">[[item.opportunityNameTruncated]]</span><br>
                            <span class="fs-10 grey-color">
                            [[item.account]]
                        </span>
                        </td>
                        <td class="clearfix relative" style="min-width: 60px;">
                            <div class="team-profiles clearfix reset pull-left" title="[[item.member.fullName]], [[item.member.emailId]]">
                                <span ng-if="item.member.noPicFlag">[[item.member.nameNoImg]]</span>
                            </div>
                            <div class="pull-left user-access" ng-show="item.usersWithAccess.length>0">
                                + [[item.usersWithAccess.length]]
                            </div>
                        </td>
                        <td class="text-center" style="min-width: 75px;">
                            [[item.amountWithCommas]]
                            <br>
                            <span class="fs-10 grey-color">[[item.closeDate]]</span>
                        </td>
                        <td class="text-center">
                            [[item.topLine]]
                            <br>
                            <span class="fs-10 grey-color">
                        [[item.netGrossMargin]] %
                        </span>
                        </td>
                        <td>[[item.productType]]</td>
                        <td>[[item.region]]</td>
                        <td>[[item.age]]</td>
                        <td>[[item.tasks]]</td>
                    </tr>
                    <tr ng-show="oppsInCommitStage.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>No opportunities in [[commitStage]] stage this month</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div ng-show="!teamCommitsViewing">
                <h5>COMMIT VS ACHIEVEMENT</h5>
                <div class="pipeline-comparison"></div>
            </div>
        </div>
    </div>
</div>