<div ng-controller="dashboard">

    <div class="row margin0">
        <div class="col-md-12 padding-l0">
            <div class="row margin-tb10 margin-top0 relative">
                <div style="padding: 46px 0;background: #fff;text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div ng-repeat="item in stageMetaInfo" class="col-md-2 relative [[item.tabType]] [[item.cursor]]" data-ng-click="getDetails(item)" ng-show="item.colType != 'Closing'">
                    <div class="header clearfix">
                        <div class="pull-left">
                            <i class="[[item.colIcon]] [[item.textColor]]"></i>
                        </div>
                        <div class="pull-left">
                            <h5>[[item.colType]]</h5>
                            <p>[[item.rangeType]]</p>
                        </div>
                    </div>
                    <div>
                        <div class="clearfix">
                            <div class="pull-left [[item.textColor]] value">
                                <span class="currency">[[item.currency]]</span>
                                [[item.amountValue]] <span class="opp-count">([[item.oppCount]])</span>
                            </div>
                            <div class="target"></div>
                        </div>
                        <div class="insights-bar" ng-show="item.colType == 'Won'">
                            <div class="bar [[item.colType]]" ng-style="[[item.style]]"></div> <span>[[item.percentage]]%</span>
                        </div>
                    </div>
                    <div class="absolute-pos" ng-show="item.colType == 'Won'">
                        <!--<div class="donutGraphWon"></div>-->
                        <div style="text-align: center" ng-show="loadingMetaData">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>

                        <img ng-show="noWon" class="no-data-donut" src="/images/insights/donut.png">
                    </div>
                    <div class="absolute-pos" ng-show="item.colType == 'Lost'">
                        <div class="donutGraphLost"></div>
                        <div style="text-align: center" ng-show="loadingMetaData">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>

                        <img ng-show="noLost" class="no-data-donut" src="/images/insights/donut.png">
                    </div>
                </div>

                <div class="absolute-won">
                    <div class="donutGraphWon"></div>
                </div>
                <div class="absolute-lost">
                    <div class="donutGraphLost"></div>
                </div>
            </div>
            <div class="row margin0">
                <div class="col-md-7 padding-l0 sankey-graph">
                    <div class="box">
                        <div class="oppflow-header">
                            <p>[[oppFlowHeader]] <i class="fa fa-info-circle black-color" title="The Opportunity Pipeline flow indicates how the opportunities are flowing across the opportunity stages from the start to the end of the selected time frame"></i></p>
                            <div class="clearfix ranges">
                                <div class="pull-left">
                                    <strong>Start</strong>
                                    <p class="blue">[[startAmount]]</p>
                                </div>
                                <div class="pull-right">
                                    <strong>End</strong>
                                    <p>[[endAmount]]</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div style="text-align: center" ng-show="loadingMetaData">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>
                        <div id="oppFlow" resize></div>
                        <img ng-show="noOppFlowData" src="/images/insights/oppFlow.png">
                        <h5 ng-show="noOppFlowData">Looks like you have no opportunities closing this Quarter</h5>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box">
                        <h5>Pipeline Velocity <i class="fs-12 fa fa-info-circle black-color" title="Pipeline Velocity indicates the health of your pipeline based on your previous closures and current client interactions"></i></h5>
                        <p>This Quarter</p>
                        <div style="text-align: center" ng-show="loadingMetaData">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>

                        <img ng-show="noProds" class="no-data-treemap" src="/images/insights/pv.png">
                        <div ng-show="allTeamMembers">
                            Pipeline Velocity available for Individual team member.
                        </div>
                        <h5 ng-show="targetGraph.length == 0" class="no-data-treemap-msg">
                            Looks like your targets are not set. Pl. ask your corporate admin to setup your targets.
                        </h5>
                        <div class="targets-container top-graph-bar cursor" ng-show="!allTeamMembers && targetGraph.length>0" data-ng-click="showTable('pipelineVelocity')">
                            <div class="when-overflow clearfix margin-t15">
                                <div class="target-graph-wrapper" ng-repeat="value in targetGraph">
                                    <div class="target">
                                        <span ng-style="value.heightTarget"></span>
                                    </div>
                                    <div class="won">
                                        <span ng-style="value.heightWon"></span>
                                    </div>
                                    <div class="total">
                                        <span ng-style="value.heightTotal"></span>
                                    </div>
                                    <h6>[[value.month]]</h6>
                                    <h6>[[value.year]]</h6>
                                    <i ng-show="value.highLightCurrentMonth" title="Current Month" class="fa fa-caret-up"></i>
                                    <div class="pop-up">
                                        <table>
                                            <tr>
                                                <td>
                                                    <i class="tr"></i>Target</td>
                                                <td><span>[[value.target]]</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="won"></i>Won</td>
                                                <td><span>[[value.won]]</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="lo"></i>Lost</td>
                                                <td><span>[[value.lost]]</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="pl"></i>Pipeline</td>
                                                <td><span>[[value.openValue]]</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <h6 class="margin0"><i class="tr"></i>Target <i class="won"></i>Won <i class="pl"></i>Pipeline</h6>
                        </div>
                    </div>
                    <div class="base-fluid-template" data-ng-controller="opportunitiesByStage">
                        <div class="box stats">
                            <h5>Pipeline Funnel <span class="fs-12 lite">([[fiscalYear]])</span></h5>
                            <div style="text-align: center" ng-show="loadingMetaData">
                                <div class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                            </div>

                            <div class="bar-graph clearfix">

                                <div ng-show="noPipeline">
                                    <div class="left" title="Total opportunities count">
                                        <div class="leftbar" ng-repeat="item in funnels">
                                            <span ng-style="item.countLength"></span>
                                            <i>[[item.oppsCount]]</i>
                                        </div>
                                    </div>
                                    <div class="center">
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-repeat="item in funnels">[[item.name]]</div>
                                    </div>
                                    <div class="right" title="Total opportunities value">
                                        <div class="rightbar" ng-repeat="item in funnels">
                                            <span ng-style="item.amountLength"></span>
                                            <i>[[item.amount]]</i>
                                        </div>
                                    </div>
                                </div>

                                <div class="no-acc" ng-show="!noPipeline">
                                    No opportunities created. Please create your first opportunity to see pipeline velocity.
                                    <a href="/opportunities/all" class="btn btn-primary">Add Opportunity</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none;" class="col-md-3">
            <div class="right-insights">
                <h5>Current Insights</h5>
                <ul class="list-unstyled">

                    <li class="clearfix" ng-show="staleCount">
                        <div class="circle low pull-left"></div>
                        <div class="insight pull-left">[[staleCount]] opportunities past due date as of [[todayDate]]</div>
                    </li>
                    <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage<100 && achievementPercentage<100 && !noTargetsSet">
                        <div class="circle low pull-left"></div>
                        <div class="insight pull-left">Pipeline unhealthy to meet quarter target</div>
                    </li>
                    <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage>=100 && achievementPercentage<100 && !noTargetsSet">
                        <div class="circle high pull-left"></div>
                        <div class="insight pull-left">Pipeline healthy to meet quarter target</div>
                    </li>
                    <li class="clearfix" ng-show="!allTeamMembers && achievementPercentage>=100 && !noTargetsSet">
                        <div class="circle high pull-left"></div>
                        <div class="insight pull-left">Congratulations, you have met your quarter target!</div>
                    </li>
                </ul>

                <div class="white-border-box">
                    <strong>This Quarter </strong>

                    <div style="text-align: center" ng-show="loadingMetaData">
                        <div class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                    </div>
                    <div ng-show="!loadingMetaData">
                        <div class="range clearfix">
                            <p>Avg. sales cycle</p>
                            <div class="left">
                                <div class="line">
                                    <div ng-style="currentInsights.avgDaysToCloseOppGraph" class="dot"></div>
                                </div>
                            </div>
                            <div class="right-ci">
                                <div class="number">
                                    [[currentInsights.avgDaysToCloseOppCommas]]
                                </div>
                            </div>
                        </div>

                        <div class="range clearfix">
                            <p>Avg. deal size (won)</p>
                            <div class="left">
                                <div class="line">
                                    <div class="dot" ng-style="currentInsights.avgDealSizeGraph"></div>
                                </div>
                            </div>
                            <div class="right-ci">
                                <div class="number">
                                    [[currentInsights.avgDealSizeCommas]]
                                </div>
                            </div>
                        </div>

                        <div class="range clearfix">
                            <p>Avg. ints./ 1000 [[primaryCurrency]] won</p>
                            <div class="left">
                                <div class="line">
                                    <div class="dot" ng-style="currentInsights.avgInteractionsPerAmountWonGraph"></div>
                                </div>
                            </div>
                            <div class="right-ci">
                                <div class="number">
                                    [[currentInsights.avgInteractionsPerAmountWonCommas]]
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-graph-wrapper" ng-show="!loadingMetaData">
                        <div class="range clearfix">
                            <div class="left">
                                <p class="no-graph">New opportunities created</p>
                            </div>
                            <div class="right-ci">
                                <div class="number blue">
                                    [[newOppsAdded]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin0" style="margin-bottom: 15px !important;">
        <div class="col-md-6 padding-l0">
            <div class="accounts-ints">
                <h5 class="bold">Accounts v/s Interactions</h5>
                <div id="spiderChart2"></div>
                <div class="side-insights">
                    <ul>
                        <li>5 accounts have interactions above average. Opp creation recommended with those accounts</li>
                        <li>8 accounts with opps have below average interactions</li>
                        <li>12 accounts with opps not interacted in the past 30 days</li>
                    </ul>

                </div>

                <div class="legends">
                    <div class="inline-block" style="margin-right: 10px">
                        <div class="inline-block opps"></div>
                        <div class="inline-block">Opportunities</div>
                    </div>
                    <div class="inline-block">
                        <div class="inline-block ints"></div>
                        <div class="inline-block">Account Interactions</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 padding-l0">
            <div class="accounts-ints">
                <h5 class="bold">Opportunities v/s Interactions</h5>
                <div id="spiderChart1"></div>
                <div class="side-insights">
                    <ul>
                        <li>15 stale opportunities</li>
                        <li>[[primaryCurrency]] [[totalDealValueAtRisk]] revenue at risk ([[dealsAtRiskCount]] opportunities)</li>
                        <li>12 opportunities' contacts have not been interacted in the pat 30 days</li>
                    </ul>
                </div>

                <div class="legends">
                    <div class="inline-block" style="margin-right: 10px">
                        <div class="inline-block opps"></div>
                        <div class="inline-block">Opportunities</div>
                    </div>
                    <div class="inline-block">
                        <div class="inline-block ints"></div>
                        <div class="inline-block">Opportunity Interactions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin0 base-fluid-template">

        <div class="col-md-4 padding0">
            <div class="box">
                <h5>Accounts (won)</h5>
                <p>This Quarter</p>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>
                <div class="accChart"></div>
                <img ng-show="noAccounts" class="no-data-treemap" src="/images/insights/accounts.png">
                <h5 ng-show="noAccounts" class="no-data-treemap-msg">We couldn’t find any ACCOUNT wins this Quarter. But we have time to get started</h5>
            </div>
        </div>

        <div class="col-md-4 padding-r0" data-ng-controller="opp_growth">
            <div class="box stats">
                <h5>Conversion Rate</h5>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div class="opp-growth" ng-show="!noOpp"></div>
                <div class="label-markers clearfix" ng-show="!noOpp">
                    <div ng-show="label1" class="line-1 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>[[label1]]</span>
                        </div>
                    </div>
                    <div ng-show="label2" class="line-2 clearfix">
                        <div class="pull-left">
                            <i></i><span class="line"></span>
                        </div>
                        <div class="pull-left">
                            <span>[[label2]]</span>
                        </div>
                    </div>
                </div>
                <div class="no-acc" ng-show="noOpp">
                    No new opportunities created in the past 6 months.
                    <a href="/opportunities/all" class="btn btn-primary" style="display: block;width: 120px;margin: 5px auto;">Add Opportunity</a>
                </div>
            </div>
        </div>

        <div class="col-md-4" data-ng-controller="acc_growth">
            <div class="box stats">
                <h5>New companies interacted</h5>
                <div style="text-align: center" ng-show="loadingMetaData">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>

                <div class="acc-growth" ng-show="!noAcc"></div>
                <div class="no-acc" ng-show="noAcc">
                    No new companies interacted in the past 6 months. Pl. interact with new companies to see details.
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row margin0 base-fluid-template" ng-controller="opp_prop_viz">

    <div class="col-md-4 padding0">
        <div class="box">
            <h5>Products (won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="productChart"></div>
            <img ng-show="noProds" class="no-data-treemap" src="/images/insights/piechart.png">
            <h5 ng-show="noProds" class="no-data-treemap-msg">We couldn’t find any PRODUCT wins this Quarter. But we have time to get started</h5>
        </div>
    </div>

    <div class="col-md-4 padding-r0">
        <div class="box">
            <h5>Type (Won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="typeGraph">
            </div>
            <div class="no-acc" ng-show="noOppType">
                <img class="no-data-donut" src="/images/insights/donut.png">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box">
            <h5>Source (Won)</h5>
            <p>This Quarter</p>
            <div style="text-align: center" ng-show="loadingMetaData">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div class="sourceTypeGraph">
            </div>
            <div class="no-acc" ng-show="noSourceType">
                <img class="no-data-donut" src="/images/insights/donut.png">
            </div>
        </div>
    </div>

</div>

<div class="row right-insights" ng-controller="currentInsights">
    <div class="col-md-2">
        <h5>Current Insights</h5>
        <ul class="list-unstyled">

            <li class="clearfix" ng-show="staleCount">
                <div class="circle low pull-left"></div>
                <div class="insight pull-left">[[staleCount]] opportunities past due date as of [[todayDate]]</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage<100 && achievementPercentage<100 && !noTargetsSet">
                <div class="circle low pull-left"></div>
                <div class="insight pull-left">Pipeline unhealthy to meet quarter target</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && pipelinePercentage>=100 && achievementPercentage<100 && !noTargetsSet">
                <div class="circle high pull-left"></div>
                <div class="insight pull-left">Pipeline healthy to meet quarter target</div>
            </li>
            <li class="clearfix" ng-show="!allTeamMembers && achievementPercentage>=100 && !noTargetsSet">
                <div class="circle high pull-left"></div>
                <div class="insight pull-left">Congratulations, you have met your quarter target!</div>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <h5>Avg. sales cycle</h5>
        <div ng-show="!loadingMetaData">
            <div class="range clearfix">
                <div class="left">
                    <div class="line">
                        <div ng-style="currentInsights.avgDaysToCloseOppGraph" class="dot"></div>
                    </div>
                </div>
                <div class="right-ci">
                    <div class="number">
                        [[currentInsights.avgDaysToCloseOppCommas]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="range clearfix">
            <h5>Avg. deal size (won)</h5>
            <div class="left">
                <div class="line">
                    <div class="dot" ng-style="currentInsights.avgDealSizeGraph"></div>
                </div>
            </div>
            <div class="right-ci">
                <div class="number">
                    [[primaryCurrency]] [[currentInsights.avgDealSizeCommas]]
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="range clearfix">
            <h5>Avg. ints/1k [[primaryCurrency]] won</h5>
            <div class="left">
                <div class="line">
                    <div class="dot" ng-style="currentInsights.avgInteractionsPerAmountWonGraph"></div>
                </div>
            </div>
            <div class="right-ci">
                <div class="number">
                    [[currentInsights.avgInteractionsPerAmountWonCommas]]
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-show="!loadingMetaData">
            <div class="range clearfix">
                <h5>Opp Lost/Sales Rep</h5>
                <div class="right-ci">
                    <div class="number">
                        3.3
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-show="!loadingMetaData">
            <div class="range clearfix">
                <h5>Opp Won/Sales Rep</h5>
                <div class="right-ci">
                    <div class="number">
                        4.7
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>