<div ng-controller="exceptionalAccess">

    <div class="row downloads">
        <div class="col-md-3 box">
            <h4 class="bold fs-14">All Access Opportunities</h4>
            <p class="fs-12 black-color">Download all opportunities, across all FY’s, that you have access to by virtue of Hierarchy OR Exceptional Access
                OR Opportunity Internal Team member.</p>
            <div class="text-center opps-filter">
                <a class="btn btn-white" href="/reports/download/opportunities/all/access" target="_blank">All Access Download</a>
            </div>
        </div>
    </div>
</div>