<html>
<head>
    <style>
        body{
            font-family:arial,sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body style="background: #f2f2f2">
<table width="100%" border="0" cellpadding="5" cellsapacing="5">
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td>
        <table width="100%" border="0">
            <tr>
                <!-- Mail Title-->
                <td align="center">
                    <span style="font-size:15px; font-family:helvetica neue,arial,helvetica,verdana,sans-serif; font-size:15px; color:#03a2ea">
                        Weekly Tasks Status
                    </span>
                    <p>{{startOFweek}} - {{endOFweek}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <hr color="#fb5c33">
                </td>
            </tr>
        </table>
    </td><td></td></tr>
    <!-- Main mail body starts-->
    <tr>
        <td width="15%"></td>
        <td style="background: #fff;border-radius: 2px;border: 1px solid #eee;padding: 10px;">
            {{#each users}}
                <p style="font-weight: bold;font-size: 14px;margin: 0;color: #555">{{fullName}}</p>
                <table style="margin:5px 0 20px 0;background: #fff;color: #333;" align="center" border="1" border-bottom="1px" border-color="#fbfbfb" frame="hsides" rules="rows" width="100%" colspan="2" cellspacing="10" bgcolor="#fafafa">
                    <tbody style="border-color:#ccc">
                        {{#each tasks}}
                        <tr>
                            <td width="15%" style="padding:3px;text-align: left">
                                {{dueDateFormatted}}
                            </td>
                            <td width="15%" style="padding:3px;text-align: left">
                                {{oppValue}}
                            </td>
                            <td style="padding:3px;text-align: left">
                                {{{taskName}}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/each}}
        </td>
        <td width="15%"></td>
    </tr>
    <!-- Main mail body ends -->
    <tr>
        <td width="15%"></td>
        <!-- Footer -->
        <td>
            <table width="100%" border="0" cellspacing="0">
                <tr>

                </tr>
                <tr>
                    <td align="center"><img alt="Relatas" src="http://relatas.com/images/mailer/RelatasGray.png"></td>
                </tr>
            </table>
        </td>
        <!-- Footer ends -->
        <td width="15%"></td>
    </tr>
</table>
</body>
</html>