<!DOCTYPE html>
<html ng-app='relatas'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/controllers/adminAddInvalidEmail.js"></script>
    <!--<script src="/javascripts/moment-timezone.js"></script>-->
    <!--<script src="/javascripts/moment.js"></script>-->
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--<script src="/Today_files/moment.js"></script>-->
    <!--<script src="/Today_files/moment-timezone.js"></script>-->
</head>
<style>
    body {
        font-family: 'Lato', sans-serif !important;
        background-color: #eee !important;
    }

    .hilight{
        background-color: #dddddd;
    }

    .normal{
        background-color: white;
    }

    .inputCommon {
        height: 28px;
        font-size: 11px;
        margin-top:4px;
        padding:0;
    }

    .container {
        width: 90%;
    }

</style>

<body>
<nav class="navbar navbar-fixed-top">
    <div class="row margin0" ng-controller="header_controller">
        <div class="col-xs-3">
            <ul class="nav navbar-nav">
                <li>
                    <a m_event="relatas logo" href="/">
                        <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                    </a>
                    <a m_event="relatas logo" href="/">
                        <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
        </div>
        <div class="col-xs-4 login_header">
            <li class="dropdown" id="menuLogin" style="list-style: none;">
                <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                    <span>{{profileName}}</span>
                    <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                </a>
                <br/>
                <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                    <ul style='list-style:none;' class="notificationsss anchor-padding">
                        <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                        <li class="divider">
                            <a href=""></a>
                        </li>
                        <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                    </ul>
                </div>
            </li>
        </div>
    </div>
</nav>

<div class="container" data-ng-controller="invalidEmail">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8" style="background-color:white;padding-left:10px;">
                    <div class="row">
                        <div class="col-md-8 padding0">
                            <h2>Invalid And Exception Emails</h2>
                        </div>
                        <div class="col-md-4 padding0 clearfix">
                            <a ng-show="show_contacts_back" class="pull-left" ng-click="loadMoreContacts(currentLength-limit,true)" title="Prev" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;"><i class="fa fa-chevron-left"></i>Prev</a>
                            <div style="font-size: 16px;position: absolute;left: 0;right: 0;text-align: center;top: 10px;width: 10%;margin: auto;">
                                {{currentPage}}/{{numberOfPages}}
                            </div>
                            <a ng-hide="currentLength >= grandTotal" class="pull-right" ng-click="loadMoreContacts(currentLength,false)" title="Next" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;">Next<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-click="triggerChange()" ng-checked="invalid" value="option1" style="float: left;margin: 0px 5px;"><label for="optionsRadios1"><p style="font-size: 15px;margin-top: -2px;">Invalid</p></label>
                        </div>
                        <div class=" col-md-5">
                            <input class="form-control inputCommon" ng-model='invalidString'>
                        </div>
                        <div class=" col-md-5">
                            <button class="btn btn-green" ng-click='addToList("invalid")' style='margin-top: 5px;height: 26px;width: 50px;'>Add</button>
                            <button class="btn btn-green" ng-click='deleteFromList("invalid")' style='margin-top: 5px;height: 26px;width: 120px;'>Remove From List</button>
                            <a target="_blank" href="/admin/csv/invalid/contacts?type=invalid">
                                <button class='btn btn-green' style='margin-top: 5px;height: 26px;width: 50px;'>Export</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-2 radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-click="triggerChange()" ng-checked="exception" value="option2" style="float: left;margin: 0px 5px;"><label for="optionsRadios2"><p style="font-size: 15px;margin-top: -2px;">Exception</p></label>
                        </div>
                        <div class=" col-md-5">
                            <input class="form-control inputCommon" ng-model='exceptionString'>
                        </div>
                        <div class=" col-md-5">
                            <button class="btn btn-green" ng-click='addToList("exception")' style='margin-top: 5px;height: 26px;width: 50px;'>Add</button>
                            <button class="btn btn-green" ng-click='deleteFromList("exception")' style='margin-top: 5px;height: 26px;width: 120px;'>Remove From List</button>
                            <a target="_blank" href="/admin/csv/invalid/contacts?type=exception">
                                <button class='btn btn-green' style='margin-top: 5px;height: 26px;width: 50px;'>Export</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 padding0">
                            <div class="row clearfix" style="padding-top: 15px;">
                                <div class="col-md-7">
                                    <span style="cursor: pointer;text-decoration: underline;padding-right: 7px;font-size: 14px;font-weight: 600;color: #267368;" ng-click="sortType = 'occurence'; sortReverse = !sortReverse">Occurrences</span>
                                    <span style="cursor: pointer;text-decoration: underline;padding-right: 7px;font-size: 14px;font-weight: 600;color: #267368;" ng-click="sortType = 'pattern'; sortReverse = !sortReverse">A-Z</span>
                                </div>
                                <div class="col-md-2 radio" style="margin: 0;">
                                    <input type="radio" name="optionsRadios2" id="optionsRadios5" ng-click="getUsers()" ng-checked="corporate" value="option5" style="float: left;margin: 0px 5px;">
                                    <label for="optionsRadios5"><p style="font-size: 15px;margin-top: -2px;">Corporate</p></label>
                                </div>
                                <div class="col-md-2 radio" style="margin: 0;">
                                    <input type="radio" name="optionsRadios2" id="optionsRadios6" ng-click="getUsers()" ng-checked="nonCorporate" value="option6" style="float: left;margin: 0px 5px;">
                                    <label for="optionsRadios6"><p style="font-size: 15px;margin-top: -2px;">Retail</p></label>
                                </div>
                            </div>

                            <div class="row" ng-repeat="item in list | orderBy:sortType:sortReverse">
                                <div class="col-md-12 padding0" style="height:35px;" ng-class="item.class">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <p style="margin-top: 5px;">{{item.pattern}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p style="margin-top: 5px;">{{item.occurence}}</p>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn btn-green" ng-click='showListByPattern(item)' style='margin-top: 5px;height: 26px;width: 42px;'>Show</button>
                                            <button ng-hide="exception" class="btn btn-green" ng-click='deleteContactsByPattern(item)' style='margin-top: 5px;height: 26px;width: 70px;'>Delete All</button>
                                            <button ng-hide="exception" class="btn btn-green" ng-click='inactiveContactsByPattern(item)' style='margin-top: 5px;height: 26px;width: 80px;'>Inactivate All</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="right:11px;height:100%;overflow-y: scroll;position: fixed;float: right;">
                    <div ng-if="showPopUp" style="background-color:white;">
                        <div class="row">
                            <div class="col-md-8">
                                <p style="margin-top: 5px;">{{currentPattern}}</p>
                            </div>
                            <div class="col-md-4">
                                <span class="cursor" ng-click="closePopUp()"><img src="/images/dashboard-icons/ignore.png" style="width: 15px;float:right;margin-top: 10px;margin-right: 15px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p>User Email</p>
                            </div>
                            <div class="col-md-5">
                                <p>Contact Email</p>
                            </div>
                            <!--<div class="col-md-2">-->
                                <!--<p>Occurence</p>-->
                            <!--</div>-->
                        </div>
                        <div class="row" ng-repeat="item in listByPattern">
                            <div class="col-md-6">
                                <p>{{item.userEmailId}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>{{item.contactEmailId}}</p>
                            </div>
                            <!--<div class="col-md-1">-->
                                <!--<p>{{item.occurrence}}</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--<div class='container'>-->

    <!--<div ng-controller='invalidEmail'>-->
        <!--<div class='form' style='display:inline;'>-->
            <!--<h1>Add Invalid Emails</h1>-->
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<label style="font-size:14px;">Enter invalid emails (accepts single or comma separated value):-->
                        <!--<input class="form-control inputCommon" ng-model='invalidString' style='width:200px;margin-left:10px;padding:0;'>-->
                    <!--</label>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-green inputCommon" ng-click='addToList()' style='margin-top:-4.5%'>Add</button>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-green inputCommon" ng-click='deleteFromList()' style='margin-top:-4.5%'>delete</button>-->
                <!--</div>-->
            <!--</form>-->
            <!--<div class="form-group">-->
                <!--<a style='float:right;' target="_blank" href="/admin/csv/invalid/contacts">-->
                    <!--<button type="" class='btn btn-green'>Export To Excel</button>-->
                <!--</a>-->
                <!--<button style='float:right;' type="" class='btn btn-green' ng-click="deleteAllContact()">Delete invalid Contacts</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div style='display:inline;'>-->
            <!--<span style='font-size:13px;'>{{message}}</span>-->
        <!--</div>-->
        <!--<div style=''>-->
            <!--<input type="text" style='width:200px;float:left;margin-top:-0.25%;' class="form-control inputCommon" placeholder="Search" ng-model='search'>-->
            <!--<br/><br/>-->
            <!--<span style='font-size:13px;'><span ng-repeat="ele in list | filter:search">{{ele}}, </span></span>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<script src="/javascripts/privacy.js"></script>
</body>
</html>
