<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    #user-info-table td,th{
        padding: 10px;
    }
</style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container">
        <div class="row content-row">
            <div class="col-md-12" style="margin-top: 2%;">
                <div style="padding: 4px">
                    Enter email id of the user<input type="email" id="emailId"> <input id="getUserInfo" type="button" value="Submit">
                </div>

                <div style="padding: 4px">
                    Generate Password<input type="text" id="pwd"> <input id="generatePassword" type="button" value="Submit">
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <div style="padding: 4px">
                     <table id="user-info-table" style="display: none" cellpadding="5">
                         <thead>
                         <tr>
                             <th>
                                 User Name
                             </th>
                             <th>
                                 User Email id
                             </th>
                             <th>
                                 User Unique id
                             </th>
                             <th>
                                 User Created On
                             </th>
                             <th>
                                 Meetings
                             </th>
                             <th>
                                 Documents
                             </th>
                             <th>
                                 Events
                             </th>
                         </tr>
                         </thead>
                         <tbody>
                            <tr>
                                <td id="user-name">

                                </td>
                                <td id="user-email-id">

                                </td>
                                <td id="user-unique-id">

                                </td>
                                <td id="user-created-on">

                                </td>
                                <td id="user-meetings">

                                </td>
                                <td id="user-documents">

                                </td>
                                <td id="user-events">

                                </td>
                            </tr>
                            <tr>
                               <td colspan="7" align="center">
                                 <input type="button" value="Delete" id="deleteUser">
                               </td>
                            </tr>
                         </tbody>
                     </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

    </div>
</script>
<script type="text/template" id="confirm-popup">
    <div class="dialog3" id="confirm-box">
        <br> <div id="deleteMsg" style="margin-left: 4%"></div><br>
    </div>
    <div class="Button_block">
        <span id="confirm" class="popup-btn" style="cursor: pointer;">YES</span>
        <span id="cancelDeletion" class="popup-btn" style="float: right;cursor: pointer">NO</span>
    </div>
</script>
<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="//blog.relatas.com/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="//twitter.com/RelatasHQ" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="//www.facebook.com/relatasHQ/" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="//www.linkedin.com/company/relatas" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- jQuery -->
<script src="/landing/js/jquery.js"></script>
<script src="/landing/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script src="/javascripts/adminCheckUser.js"></script>
<script src="/javascripts/moment.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/privacy.js"></script>
<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

    });
</script>
<!--<script href="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>-->
</body>
</html>