<!DOCTYPE html>
<html ng-app='allUserInteraction'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/controllers/adminAllUserInteractions.js"></script>
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<style>
body {
    font-family: 'Lato', sans-serif !important;
}

th>a {
    cursor: pointer;
    text-decoration: underline;
}

th {
    text-align: center;
}

table,
a {
    font-family: 'Lato', sans-serif !important;
    color: black;
    font-size: 9px;
}

.inputCommon {
    height: 28px;
    font-size: 11px;
}

.total {
    font-size: 15px;
}

select option {
    cursor: pointer;
}

.select option:checked, .select option:active {
    box-shadow: 0 0 10px 100px #49B5A6 inset;
}

.container {
    width: 90%;
}

.text_transform
{
    text-transform: capitalize;    
    font-weight: normal;    
}

h1{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
</style>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                        <span>{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class='container'>
        <div ng-controller='interaction'>
            <div class='form' style='display:inline;'>
                <h1>User Interaction Report</h1>
                <form class="form-inline" role="form" ng-submit="getInteractions()">
                    <div class="form-group">
                        <label>From
                            <!-- <input type="date" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'> -->
                            <input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>To
                            <!-- <input type="date" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'> -->
                            <input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'>
                        </label>
                    </div>
                    <div class="form-group" style='margin-left:10px;'>
                        <select ng-model='category' style='text-align:center;padding:0;margin-top:-6%' class='form-control inputCommon select'>
                            <option value='all'>All</option>
                            <option value='corperate'>Corporate</option>
                            <option value='retail'>Retail</option>
                            <option disabled>────────</option>
                            <option ng-repeat='company in listOfCompanies | orderBy:"companyName"' value='{{company._id}}'>{{company.companyName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-green inputCommon" style='margin-top:-4.5%'>Submit</button>
                    </div>
                </form>
            </div>
            <br>
            <div style='display:inline;'>
                <input type="text" style='width:200px;float:left;margin-top:-0.25%;' class="form-control inputCommon" placeholder="Search by email" ng-model='search'>
                <a style='float:right;' target="_blank" href="/admin/csv/getAllUserInteractions/{{path}}">
                    <button type="" class='btn btn-green' ng-click='toExcel()' ng-show='true'>Export To Excel</button>
                </a>
                <div>
                    <span class='total' style='float:right;'>Total Users: ({{totalUser}}) Total Interactions: ({{totalInteraction}})</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class='table table-bordered table-hover'>
                    <thead>
                        <tr style='background:#49B5A6;color:white;'>
                            <th colspan="3">Source</th>
                            <th colspan="3">Google/Outlook</th>
                            <th colspan="4">Linkedin</th>
                            <th colspan="2">Facebook</th>
                            <th colspan="2">Twitter</th>
                            <th colspan="10">Relatas</th>
                            <th colspan="3">Mobile</th>
                            <th colspan="1"></th>
                            <th colspan="1"></th>
                        </tr>
                        <tr style='background:#EBEDEA'>
                            <th colspan="3">Interaction Type</th>
                            <!-- Google -->
                            <th>Email</th>
                            <th>Meeting</th>
                            <th></th>
                            <!-- Linkedin -->
                            <th colspan="3">linkedin</th>
                            <th></th>
                            <!-- Facebook -->
                            <th>FB</th>
                            <th></th>
                            <!-- Twitter -->
                            <th>Twitter</th>
                            <th></th>
                            <!-- Relatas -->
                            <th>Cal-pass</th>
                            <th>D-share</th>
                            <th>Email</th>
                            <th colspan="4">Meeting</th>
                            <th>M-cmt</th>
                            <th>Msg</th>
                            <th></th>
                            <!-- Mobile -->
                            <th>Call</th>
                            <th>sms</th>
                            <th></th>
                            <!-- grand total -->
                            <th colspan="1"></th>
                            <th colspan="1"></th>
                        </tr>
                        <tr style='background:#F1F3F0'>
                            <th>Sl. no</th>
                            <th>User Email</th>
                            <th>Login Service</th>
                            <th>C/R</th>
                            <!-- Google -->
                            <th>Email</th>
                            <th>Meeting</th>
                            <th><a ng-click="order('google.total')">Total</a></th>
                            <!-- Linkedin -->
                            <th>Like</th>
                            <th>Share</th>
                            <th>Cmt</th>
                            <th><a ng-click="order('linkedin.total')">Total</a></th>
                            <!-- Facebook -->
                            <th>FB</th>
                            <th><a ng-click="order('facebook')">Total</a></th>
                            <!-- Twitter -->
                            <th>Twitter</th>
                            <th><a ng-click="order('twitter')">Total</a></th>
                            <!-- Relatas -->
                            <th>Cal-pass</th>
                            <th>D- share</th>
                            <th>Email</th>
                            <th>Con- call</th>
                            <th>In- person</th>
                            <th>Phone</th>
                            <th>skype</th>
                            <th>M-cmt</th>
                            <th>Msg</th>
                            <th><a ng-click="order('relatas.total')">Total</a></th>
                            <!-- Mobile -->
                            <th>Call</th>
                            <th>sms</th>
                            <th><a ng-click="order('mobile.total')">Total</a></th>
                            <!-- grand total -->
                            <th><a ng-click="order('grandTotal')">Grand Total</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                        <tr ng-repeat='res in interaction | orderBy:sort:revers | filter:{email:search}'>
                            <td>{{$index+1}}</td>
                            <td>
                            <span style='cursor:pointer;' title="{{res.email}}">{{res.email | limitTo: 30}}{{res.email.length > 30 ? ' ...' : ''}}</span>
                            </td>
                            <td>{{res.googleOrOutlook}}</td>
                            <td>{{res.userType}}</td>
                            <!-- Google -->
                            <td>{{res.google.email}}</td>
                            <td>{{res.google.meeting}}</td>
                            <td style='background:#F1F3F0'>{{res.google.total}}</td>
                            <!-- Linkedin -->
                            <td>{{res.linkedin.like}}</td>
                            <td>{{res.linkedin.share}}</td>
                            <td>{{res.linkedin.comment}}</td>
                            <td style='background:#F1F3F0'>{{res.linkedin.total}}</td>
                            <!-- facebook -->
                            <td>{{res.facebook}}</td>
                            <td style='background:#F1F3F0'>{{res.facebook}}</td>
                            <!-- twitter -->
                            <td>{{res.twitter}}</td>
                            <td style='background:#F1F3F0'>{{res.twitter}}</td>
                            <!-- Relatas -->
                            <td>{{res.relatas.calander}}</td>
                            <td>{{res.relatas.documentShare}}</td>
                            <td>{{res.relatas.email}}</td>
                            <td>{{res.relatas.call}}</td>
                            <td>{{res.relatas.inPerson}}</td>
                            <td>{{res.relatas.phone}}</td>
                            <td>{{res.relatas.skype}}</td>
                            <td>{{res.relatas.meeting}}</td>
                            <td>{{res.relatas.message}}</td>
                            <td style='background:#F1F3F0'>{{res.relatas.total}}</td>
                            <!-- Mobile -->
                            <td>{{res.mobile.call}}</td>
                            <td>{{res.mobile.sms}}</td>
                            <td style='background:#F1F3F0'>{{res.mobile.total}}</td>
                            <!-- Grand total -->
                            <td style='background:#F1F3F0'>{{res.grandTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/javascripts/privacy.js"></script>
</body>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script>
      $('.datetimepicker').datetimepicker({timepicker:false,value:new Date(),format: 'Y-m-d',formatDate:'Y-m-d'});
    </script>
</html>
