<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/relatas-admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container">
        <div class="row content-row">

            <div class="col-md-6 admin-section">
                <h3>User Report</h3>
                <ol>
                    <!--<li><a target="_blank" href="/admin/user/list2" >User List</a></li>-->
                    <li><a target="_blank" href="/admin/user/newList">User List</a></li>
                    <li><a target="_blank" href="/admin/user/interactions" >User Interactions</a></li>
                    <li><a target="_blank" href="/admin/company/usage/report">Company Usage Report</a></li>
                    <li><a target="_blank" href="/admin/company/opportunities/report">Opportunity Report</a></li>
                    <li><a target="_blank" href="/admin/company/contacts/and/opportunities/report">Company Opportunity - Interaction Report</a></li>
                    <li><a target="_blank" href="/admin/company/document/consolidated/report">Document - Consolidated Report</a></li>
                    <li><a target="_blank" href="/admin/company/document/detail/report">Document - Detail Report</a></li>
                    <li><a target="_blank" href="/admin/user/notifications">Notifications</a></li>
                    <li><a target="_blank" href="/admin/user/war">Weekly Abstract Report(WAR)</a></li>
                    <!--<li><a target="_blank" href="/admin/user/reports" >Admin Report</a></li>-->
                </ol>

            </div>
            <div class="col-md-6 admin-section">
                <h3>Analytics Reports</h3>
                <ol>
                    <li><a target="_blank" href="//mixpanel.com/report/562763" >MixPanel</a></li>
                    <li><a target="_blank" href="//www.google.com/analytics" >Google Analytics</a></li>
                    <li><a target="_blank" href="/admin/growth/report" >Growth Report</a></li>
                    <li><a target="_blank" href="/insights/summary/report" >Relatas Score Card</a></li>
                </ol>
            </div>
        </div>
        <div class="row content-row">

            <div class="col-md-6 admin-section">
                <h3>Admin Reports</h3>
                <ol>
                    <li><a target="_blank" href="/admin/corporate/changeAdmin" >Set Corporate Admin</a></li>
                    <li><a target="_blank" href="/admin/user/delete" >Delete User</a></li>
                    <li><a target="_blank" href="/admin/invalid/contacts" >Invalid Contacts</a></li>
                    <li><a target="_blank" href="/admin/user/redundantContacts" >User's Redundant Contacts</a></li>
                    <li><a target="_blank" href="/admin/run/twitter/batch" >Twitter batch</a></li>
                    <li><a target="_blank" href="/admin/run/linkedin/batch" >Linkedin batch</a></li>
                </ol>

            </div>
            <div class="col-md-6 admin-section">
                <h3>Others</h3>
                <ol>
                    <!--<li><a target="_blank" href="/admin/user/list2" >User List</a></li>-->
                    <li><a target="_blank" href="/admin/user/insights/action/log" >Insights Action Log</a></li>
                    <li><a target="_blank" href="/admin/email/classification" >Email Classification Report</a></li>
                    <li><a target="_blank" href="/admin/marketing-materials" >Marketing Videos</a></li>
                    <li><a target="_blank" href="/admin/leads/dashboard" >Leads</a></li>
                </ol>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="//blog.relatas.com/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="//twitter.com/RelatasHQ" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="//www.facebook.com/relatasHQ/" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="//www.linkedin.com/company/relatas" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- jQuery -->
<script src="/landing/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/landing/js/bootstrap.min.js"></script>
<script src="/javascripts/privacy.js"></script>
<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

    });
</script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>