<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>

    <script src="/lib/jquery-1.9.1.min.js"></script>

    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/javascripts/adminUserList2.js"></script>


    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>

    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #contactsTable_filter {
            display: none;
        }
        #contactsTable_length {
            margin-top: 1%;
            margin-left: 10%;
        }
        td, th {
            padding: 2px;
        }

        .scroll {
            float: left;
            width: 100%;
            overflow-y: auto;
            height: 200px;
        }
        .progress {
            color: #0063a6;
            font-size: .6em;
            line-height: 1.5em;
            text-indent: .5em;
            width: 15em;
            background: #0063a6;
            margin-right: 5%;
            float: right;
            margin-top: 3px;

        }
        .progress::-webkit-progress-bar { background: #c8c8c8; }
        .progress::-webkit-progress-value { background: #f67b3f; }
        .hr-line-through:before, .hr-line-through:after {
            background-color: #787474;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 21%;
        }


        #userListTable_length {
            margin-top: 1%;
            margin-left: 27%;
        }

        table.dataTable thead .sorting {
            background: url("../images/sort_both.png") no-repeat center left;
        }
        table.dataTable thead .sorting_asc {
            background: url("../images/sort_asc.png") no-repeat center left;
        }
        table.dataTable thead .sorting_desc {
            background: url("../images/sort_desc.png") no-repeat center left;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="row margin-top20px" style="width: 98%; margin-left: 1%;margin-top: -1.5%">

    <div class="table-responsive bold">
        <table class="table border-row" id="userListTable" >
            <thead>
            <tr class="sub-header">
                <th>&nbsp;&nbsp;&nbsp;#Sr</th>
                <th>&nbsp;&nbsp;&nbsp;Partial Reg Date</th>
                <th>&nbsp;&nbsp;&nbsp;Reg Date</th>
                <th>&nbsp;&nbsp;&nbsp;Last Login Date</th>
                <th>&nbsp;&nbsp;&nbsp;First Name</th>
                <th>&nbsp;&nbsp;&nbsp;Last Name</th>
                <th>&nbsp;&nbsp;&nbsp;#Contacts</th>
                <th>&nbsp;&nbsp;&nbsp;Signup</th>
                <th>&nbsp;&nbsp;&nbsp;Location</th>
                <th>&nbsp;&nbsp;&nbsp;Company</th>
                <th>&nbsp;&nbsp;&nbsp;Designation</th>
                <th>&nbsp;&nbsp;&nbsp;Email</th>
                <th>&nbsp;&nbsp;&nbsp;Profile</th>
            </tr>
            </thead>
            <tbody>
            <!-- Table body -->
            </tbody>
        </table>
        <br><br>

    </div>
</div>
<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="https://twitter.com/RelatasHQ" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="https://www.facebook.com/relatasHQ/" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="https://www.linkedin.com/company/relatas" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/javascripts/privacy.js"></script>

</body>
</html>