<!DOCTYPE html>
<html ng-app='adminNotification'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/controllers/adminUserNotification.js"></script>
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<style>
body {
    font-family: 'Lato', sans-serif !important;
}

th>a {
    cursor: pointer;
    text-decoration: underline;
}

th {
    text-align: center;
}

table,
a {
    font-family: 'Lato', sans-serif !important;
    color: black;
    font-size: 9px;
}

.inputCommon {
    height: 28px;
    font-size: 11px;
}

.total {
    font-size: 15px;
}

select option {
    cursor: pointer;
}

.select option:checked, .select option:active {
    box-shadow: 0 0 10px 100px #49B5A6 inset;
}

.container {
    width: 90%;
}

.text_transform
{
    text-transform: capitalize;    
    font-weight: normal;    
}

h1{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
</style>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                        <span>{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class='container'>
        <div ng-controller='interaction'>
            <div class='form' style='display:inline;'>
                <h1>Notifications</h1>
                <form class="form-inline" role="form" ng-submit="getNotifications()">
                    <div class="form-group">
                        <label>From
                            <!-- <input type="date" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'> -->
                            <input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>To
                            <!-- <input type="date" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'> -->
                            <input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'>
                        </label>
                    </div>
                    <div class="form-group" style='margin-left:10px;'>
                        <select ng-model='category' style='text-align:center;padding:0;margin-top:-6%' class='form-control inputCommon select'>
                            <option value='all'>All</option>
                            <!-- <option value='corperate'>Corporate</option> -->
                            <!-- <option value='retail'>Retail</option> -->
                            <option disabled>────────</option>
                            <option ng-repeat='company in listOfCompanies | orderBy:"companyName"' value='{{company._id}}'>{{company.companyName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-green inputCommon" style='margin-top:-4.5%'>Submit</button>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class='table table-bordered table-hover'>
                    <thead>
                        <tr style='background:#49B5A6;color:white; cursor: pointer;'>
                            <th>Sl.No</th>
                            <th ng-click="order('emailId')">User EmailId</th>
                            <th ng-click="order('companyName')">Company Name</th>
                            <th ng-click="order('notificationType')">Notification Type</th>
                            <th ng-click="order('notificationName')">Notification Name</th>
                            <th ng-click="order('notificationDate')">Notification Date</th>
                            <th ng-click="order('actionTakenDate')">Action Taken Date</th>
                            <th ng-click="order('notificationStatus')">Notification Enabled/Disabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                        <tr ng-repeat='res in notificationData | orderBy:sort:revers | filter:{emailId:search}'>
                            <td>{{$index+1}}</td>
                            <td>{{res.emailId}}</td>
                            <td >{{res.companyName}}</td>
                            <td>{{res.notificationType}}</td>
                            <td>{{res.notificationName}}</td>
                            <td>{{res.notificationDateFormatted}}</td>
                            <td>{{res.actionTakenDateFormatted}}</td>
                            <td>{{res.notificationStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/javascripts/privacy.js"></script>
</body>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
    $('.datetimepicker').datetimepicker({timepicker:false,value:new Date(),format: 'Y-m-d',formatDate:'Y-m-d'});
</script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</html>
