<!DOCTYPE html>
<html ng-app='admin'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/controllers/adminGrowthReport.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/moment.js"></script>
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="/Today_files/moment.js"></script>
    <script src="/Today_files/moment-timezone.js"></script>
</head>
<style>
    body {
        font-family: 'Lato', sans-serif !important;
    }

    th>a {
        cursor: pointer;
        text-decoration: underline;
    }

    th {
        text-align: center;
    }

    table,
    a {
        font-family: 'Lato', sans-serif !important;
        color: black;
        font-size: 9px;
    }

    .inputCommon {
        height: 28px;
        font-size: 11px;
    }

    .total {
        font-size: 15px;
    }

    select option {
        cursor: pointer;
    }

    .select option:checked, .select option:active {
        box-shadow: 0 0 10px 100px #49B5A6 inset;
    }

    .container {
        width: 90%;
    }

    .text_transform
    {
        text-transform: capitalize;
        font-weight: normal;
    }

    h1{
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .hide-calendar .ui-datepicker-calendar {
        display: none;
    }
</style>

<body>
<nav class="navbar navbar-fixed-top">
    <div class="row margin0" ng-controller="header_controller">
        <div class="col-xs-3">
            <ul class="nav navbar-nav">
                <li>
                    <a m_event="relatas logo" href="/">
                        <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                    </a>
                    <a m_event="relatas logo" href="/">
                        <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
        </div>
        <div class="col-xs-4 login_header">
            <li class="dropdown" id="menuLogin" style="list-style: none;">
                <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                    <span>{{profileName}}</span>
                    <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                </a>
                <br/>
                <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                    <ul style='list-style:none;' class="notificationsss anchor-padding">
                        <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                        <li class="divider">
                            <a href=""></a>
                        </li>
                        <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                    </ul>
                </div>
            </li>
        </div>
    </div>
</nav>
<div class='container'>
    <div ng-controller='growthReport'>
        <div class='form' style='display:inline;'>
            <h1>Growth Report</h1>
            <form class="form-inline" role="form" ng-submit="getGrowthData()">
                <div class="form-group">
                    <select ng-model='category' style='margin-left:0px;text-align:center;padding:0;margin-top:-6%' class='form-control inputCommon select'>
                        <option value='business'>Business</option>
                        <option value='individuals'>Retail</option>
                    </select>
                </div>
                <!--<div class="form-group">-->
                    <!--<label>From-->
                        <!--<input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'>-->
                    <!--</label>-->
                <!--</div>-->
                <div class="form-group" style='margin-left:10px;'>
                    <label>End Date
                        <input name="startDate" class="date-picker" type="text" class="form-control inputCommon">
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-green inputCommon" style='margin-top:-4.5%'>Submit</button>
                </div>
            </form>
        </div>
        <br>
        <div style='display:inline;'>
            <!--<input type="text" style='width:200px;float:left;margin-top:-0.25%;' class="form-control inputCommon" placeholder="Search by email, name, company" ng-model='search'>-->
            <!--<a style='float:right;' target="_blank" href="/csv/getListOfAllUser/admin/list{{path}}">-->
                <!--<button type="" class='btn btn-green' ng-click='toExcel()' ng-show='true'>Export To Excel</button>-->
            <!--</a>-->
            <!--<div>-->
                <!--<span class='total' style='float:right;'>Total Users: ({{totalUser}})</span>-->
            <!--</div>-->
        </div>
        <div class="table-responsive">
            <table class='table table-bordered table-hover'>
                <thead>
                <tr style='background:#49B5A6;color:white;cursor:pointer;'>
                    <th>Sl. no</th>
                    <th ng-click='order("category")'>Category</th>
                    <th>Date</th>
                    <th ng-click='order("accounts")'>Accounts</th>
                    <th ng-click='order("users")'>Users</th>
                    <th ng-click='order("contacts")'>Interactions</th>
                    <th ng-click='order("interactions")'>Contacts</th>
                </tr>
                </thead>
                <tbody>
                </tr>
                <tr ng-repeat='res in growthList | orderBy:sort:revers | byEmailCompanyName:search'>
                    <td>{{$index+1}}</td>
                    <td>{{res.category}}</td>
                    <td>{{res.date}}</td>
                    <td>{{res.accounts}}</td>
                    <td>{{res.users}}</td>
                    <td>{{res.interactions}}</td>
                    <td>{{res.contacts}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/javascripts/privacy.js"></script>
</body>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</html>
