<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">

    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>

    <script src="/lib/jquery-1.9.1.min.js"></script>

    <script src="/javascripts/dataTables.js"></script>
    <script src="/lib/require.js"></script>

    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>


    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .blue-btn{
            background-color: #0072b1 !important;
            border: none !important;
            color: #fff !important;
            margin: 10px 5px;
        }
        #upcomingEventsTable_filter {
            display: none;
        }
        #upcomingEventsTable_length {
            margin-top: 1%;
            margin-left: 27%;
        }
        .space{
            width: 80%;
            margin-left: 1%;
        }
        .scroll{
            float:left;
            width: 100%;
            overflow-y: auto;
            height: 400px;
        }
        table{
            border-collapse: separate;
            border-spacing: 5px;
        }
        td{
            padding: 2px;
        }
    </style>

    <meta name="referrer" content="default" id="meta_referrer">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="fb:app_id" content="863619133666334">
    <meta property="og:site_name" content="Relatas">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{description}}">
    <meta name="keywords" content="cal, conference call, contacts, exchange, gmail, google, ical, icloud, outlook, meeting, Facebook, Linkedin, Twitter, online scheduling, mobile calendar, android calendar, IOS calendar, smart calendar, document tracking, document analytics" />
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("103b26e671cadd758afcc38d8bec881b");</script>
</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li class="dropdown" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="login-with-linkedin"><a href="#"><span class="btn-sprite log-link"></span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li id="login-with-google"><a href="#"><span class="btn-sprite log-google"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown signup-ok" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <button class="btn blue-btn padding5 margin0">SIGNUP</button>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="sign-up-with-linkedin"><a href="#"><span class="btn-sprite sign-link"></span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li id="sign-up-with-google"><a href="#"><span class="btn-sprite sign-google"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="row" style="margin-top: -1.5%;">
<div class="col-md-2 left-sidebar" id="sidebarHeight">
    <div class="grey-bg"></div>

    <div class="profile-picture">
        <img id="profilePic" style="width: 100%;height: 100%;border: 3px solid white;">
    </div>

    <div class="person-details">
        <div class="person-detail bold" id="loggedin-user-name"></div>
        <div class="person-detail" id="loggedin-user-designation"></div>
        <div class="person-detail bold" id="loggedin-user-companyName"></div>
    </div>

    <ul class="dash-menu">
        <li >
            <a id="goToDashboard" href="/dashboard">
                <img src="/images/dash_icon_gray.png" />
                <span>DASHBOARD</span>
            </a>
        </li>
        <li>
            <a id="goToEditProfile" href="/editProfile">
                <img src="/images/icon_person_grey.png" />
                <span>PROFILE</span>
            </a>
        </li>
        <li>
            <a href="/notifications">
                &nbsp;&nbsp;<img src="/images/notification.png" />
                <span>&nbsp;NOTIFICATIONS</span>
            </a>
        </li>
        <!--  <li>
              <a id="goToMeetings" href="#">
                  <img src="/images/icon_people_grey.png" />
                  <span>MEETINGS</span>
              </a>
          </li> -->
        <li>
            <a id="goToCalendar" href="/calendar">
                <img src="/images/icon_calendar1_grey.png" />
                <span>CALENDARS</span>
            </a>
        </li>
        <li>
            <a id="goToContacts" href="/contacts">
                <img src="/images/icon_contacts_grey.png" />
                <span>CONTACTS</span>
            </a>
        </li>
        <li >
            <a id="goToDocuments" href="/docs">
                <img src="/images/icon_documents_grey.png" />
                <span>DOCUMENTS</span>
            </a>
        </li>
        <li id="goToEvents" class="active">
            <a href="/events">
                <img src="/images/icon_calendar2_grey.png" />
                <span>EVENTS</span>
            </a>
        </li>
    </ul>
</div>

<div class="col-sm-9 col-md-10">
<div id="eventsBody">
    <div class="row">
        <div class="col-sm-12 padding0">
            <div class="sub-header">
                <h4 id="user-name">Events</h4>
            </div>
        </div>
    </div>
    <!-- ********************  -->
    <table border="0">
        <tr>
            <td width="8px"><a id="back-cal-btn" href="/events"><img src="/images/icon_prev.png" alt="" /></a></td>
            <td> <a id="back-cal-btn" href="/events"><span>Back</span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
            <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn" id="editEvent">Edit Event</button>

           </td>
            <td>
                <button style="border-radius: 4px;background-color: #ff7217 !important;display: none" class="blue-btn" id="deleteEvent">Delete Event</button>
            </td>
            <td id="confirmedParticipantsLink">

            </td>
            <td>
                <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn" >RSVP and Add to Calendar</button>
            </td><td>
            <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn">RSVP</button>
           </td><td>
            <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn">Remove from Calendar</button>

        </td>
            <td width="20.5%" valign="top" style="background-color: rgba(160, 134, 134, 0.08);"><div style="margin-top: 5%;margin-bottom: 5%;margin-left: 2%">
                <span>Share Event:</span>&nbsp;&nbsp; <a id="facebookShare" style="text-decoration: none" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://relatas.com/dashboard">
                <img style="width:30px; cursor: pointer" src="/images/icon_facebook.png">
                  </a>&nbsp;
                <a id="twitterShare" style="text-decoration: none" target="_blank" href="http://twitter.com/share?text=I blocked my unique identity at Relatas - a new age Relationship Intelligence platform. Check yours at :&amp;url=http://relatas.com">
                    <img style="width:30px" src="/images/icon_twitter.png">
                </a>
                <a id="linkedinShare" style="text-decoration: none" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://showcase.relatas.com&amp;title=Relatas - Business Relationship Intelligence.&amp;summary=Relatas is the new way to interact with your contacts for both business and life. Relatas helps you with Unified Communication/ Scheduling/ Document Analysis/ Global Meetings map. All on one platform. Try it for FREE.&amp;source=http://showcase.relatas.com">
                    &nbsp; <img style="width:30px" src="/images/icon_linkedin.png">&nbsp;
                </a>
            </div></td>
        </tr>
    </table>

    <!-- Table start -->

    <table width="100%" border="0" cellpadding="100px">
        <tr>
            <td style="width: 200px;height: 200px;padding: 10px 20px"><img style="width: 200px" id="eventImage"/></td>
            <td>
                <table>
                    <tr>
                        <td><h2 style="color: #615f5f;margin-top: 0px;margin-bottom: 0px" id="eventTitle"></h2></td>
                     </tr>
                    <tr><td></td></tr>
                     <tr>
                        <td>
                            <h2 id="speakerName" style="color: #000000;font-weight: 100 !important;"></h2>
                            <h4 id="speakerDesignation" style="color: #615f5f;font-weight: 100 !important;"></h4>
                        </td>
                    </tr>
                </table>

            </td>

            <td rowspan="9" valign="top" align="center" style="background-color: rgba(160, 134, 134, 0.08);width: 20%"><div id="confirmedParticipants" >
                <button style="width:80%;border-radius: 4px;background-color: #f67b3f !important;display: none;margin: 0px" class="blue-btn" id="confirmRSVP2">RSVP</button>
                <div style="padding: 10px" >
                    RSVP&nbsp;&nbsp; list
                </div>
                <div id="participantsList" style="padding: 10px">
                    <!-- participants list -->
                </div>
            </div></td>
        </tr>

        <tr>
            <td colspan="2" style="padding: 10px 20px">
                <span style="color: #666666;font-weight: 300" id="hostedBy"></span>
                <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn" id="addEventToCalendar">RSVP and Add to Calendar</button>
                <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn" id="confirmRSVP">RSVP</button>
                <button style="border-radius: 4px;background-color: #1bcaff !important;display: none" class="blue-btn" id="removeEventFromCalendar">Remove from Calendar</button>
            </td>

        </tr>
        <tr><td colspan="2" style="padding: 10px 20px"><img src="/images/clock_new.png">
            <span id="eventDateTime"></span></td></tr>
        <tr><td colspan="2" style="padding: 10px 20px"><img src="/images/icon_location_small.png">
            <a href="#eventMap"><span id="eventLocation"></span></a></td></tr>
        <tr>
            <td colspan="2">
                <p style="font-size: 14px;color: #666666;padding: 10px 20px; border-left: none;font-weight: 300" id="eventDescription"></p></td>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px 20px"><div id="eventDetails">

                <div id="eventDocs" style="padding-left: 13px;background-color: #dedede;display: none">
                    <div id="eventDocumentList" style="padding: 5px">
                        <!-- event doc list -->
                    </div>

                </div>
                <p style="font-size: 14px;color: #666666; border-left: none;font-weight: 300;">
                    NOTE: Event created on <span id="createdDate"></span>. Relatas is not responsible for the authenticity of the event. There might be changes in the event location/ time. For latest updates please verify the details with the Event organizer.
                </p>
            </div>

            </td></tr>
        <tr><td colspan="2" style="padding: 10px 20px"><h3 class="space" style="color: #666666" id="mapPopup"> <a name="eventMap">Location Map</a></h3>
            <div id="map" class="space" style="height:300px; margin-top:12px;width: 100%"></div></td></tr>
    </table>
</div>
<!-- Table End -->


<!-- light box -->

<button style="display: none" class="btn btn-primary" id="lightBoxButton" data-toggle="modal" data-target=".bs-example-modal-lg">Click here for Pop up</button>

<!--  <div style="display: none" id="lightBoxPopup" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<div style="display: none" class="modal-dialog modal-lg" id="lightBoxPopup">
    <div class="modal-content" style="border-radius: 1px;border: 10px solid rgba(195, 195, 195, 0.37);box-shadow: none">

        <button type="button" id="lightBoxClose" class="btn btn-xs" data-dismiss="modal" style="border-radius: inherit;">Close</button>
        <!--Pop Content Goes here-->
        <h5 style="color: #808080;text-align: center">Please Login/ Register to Create/ Subscribe Events</h5><br>
        <div>
            <div class="row">
                <div style="width:100%">
                    <div style="border-color: #ffffff;min-height: 250px;padding: 10px 0;text-align: center;line-height: 30px;">
                        <div class="row">
                            <div style="margin-left: 5%;width: 86%">

                                <div style="margin-left: 10%;background-color: #f7f7f7;width: 40%;border-radius: 4px;float: left;border: 1px solid rgb(195,195,195);">
                                    <h5>Login to your Relatas account</h5>
                                    <div id="loginUsingGoogle" class="btn btn-lg">
                                        <img style="width: 90%" src="/img/bu_google.png"/>
                                    </div>
                                    <div id="loginUsingLinkedin" class="btn btn-lg">
                                        <img style="width: 90%" src="/img/bu_linked.png"/>
                                    </div>


                                   <!--<div class="clearfix">
                                        <span class="hr-line-through">OR</span>
                                    </div>

                                    <div><strong><a style="color:#333;cursor: pointer" id="shw">Login with Email</a></strong></div><br>

                                    <div role="form" class="signup-form" id="show-hide" style="display: none;">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="emailId2" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="password" placeholder="Password">
                                        </div>
                                        <div>
                                            <button id="loginFormButton" type="submit" class="btn btn-xs btn-success">Login</button>
                                            <a class="pull-right" style="color:#333;" href="#">Forgot Password?</a>
                                        </div>
                                    </div> -->

                                </div>
                                <div style="background-color: #f7f7f7;width: 40%;border-radius: 4px;float: right;border: 1px solid rgb(195,195,195);">
                                    <h5>Not a Relatas user, no problem</h5>
                                    <div id="oneClickSendDiv">
                                        <div id="loginUsingGoogle2" class="btn btn-lg" style="display: none">
                                            <img style="width: 90%" src="/img/bu_google.png"/>
                                        </div>
                                        <div id="sendUsingLinkedin" class="btn btn-lg">
                                            <img src="/images/oneClickCreate.png"/>
                                        </div>
                                        <!-- <div>
                                             <span class="hr-line-through">OR</span>
                                         </div> -->
                                    </div>
                                    <!-- <div><strong><a id="signUp-Now" href="#" style="color:#333; cursor: pointer" >Create a new account</a></strong></div><br>
                                     <div  class="signup-form" id="signUpNow-show-hide" style="display: none;">

                                         <div class="form-group">
                                             <input type="text" class="form-control" id="userFirstName" placeholder="First Name*">
                                         </div>
                                         <div class="form-group">
                                             <input type="text" class="form-control" id="userLastName" placeholder="Last Name*">
                                         </div>
                                         <div class="form-group">
                                             <input type="email" class="form-control" id="userEmailId" placeholder="Enter email*">
                                         </div>
                                         <div class="text-align-center">
                                             <button id="userCreateAccount" class="btn btn-success">Create Account</button>
                                         </div>
                                     </div> -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Pop up content-->
    </div>
</div>
<!--   </div> -->

<!--  -->

<!--********************************* -->


<!--  Login html end -->
</div>



</div>



<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

        </div>
    </div>
</script>

<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script type="text/javascript" src="/javascripts/eventDetails.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>


<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>

<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="#" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="#" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="#" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/javascripts/privacy.js"></script>

<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

    });
</script>
</body>
</html>