<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relationship Intelligence - Relatas</title>

    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link href="/stylesheets/relatas.css" rel="stylesheet">

    <script src="/lib/require.js"></script>
</head>
<body>

<div class="text-align-center">
    <center style="margin-top: 9%;">
        <div style="width: 35%;border: 3px solid rgb(148, 142, 142);">
            <img src="/img/rsz_relatas.png">
            <table style="width:60%;text-align: initial;margin-top: 5%;">
                <tr>
                    <td>
                        <p> Hi {{name}},</p>
                    </td>
                <tr>
                </tr>
                <td>
                    <p>
                        Looks like you have not logged in to Relatas lately. We need you to authenticate your Google
                        credentials so that we can map your interactions with your contacts intelligently.
                    </p>
                </td>
                </tr>
            </table><br>
            <table style="margin-bottom: 5%;">
                <tr>
                    <td>
                        <div class="text-align-center">
                            <a href="/addGoogleContacts"><img style="width: 50%;"
                                                              src="/images/GoogleAuth.png"></a>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="t-c"><a href="/privacy" target="_blank">Privacy Policy</a> </div><br>
        </div>
    </center>
</div>

</body>
</html>