<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relationship Intelligence - Relatas</title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-te-1.4.0.css">

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/stylesheets/relatas.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .jqte{
            margin: auto !important;
        }
        .link-span:hover{
            text-decoration:underline;
            cursor: pointer;
        }
        table{
            border: none;
        }
        .todo{
            margin-top: 3px;
            margin-bottom: 3px;
        }
        .todo td{
            background: rgb(185, 185, 185);
            cursor: pointer;
        }
        #status-table tr{
            border: none;
        }
        #status-table td{
            padding: inherit;
        }
        #status-table th{
            padding-top: 5px;
        }
        .selected{
            background: #F7984B !important;
        }
        table.dataTable thead .sorting {
            background: url("/images/sort_both.png") no-repeat center left;
        }
        table.dataTable thead .sorting_asc {
            background: url("/images/sort_asc.png") no-repeat center left;
        }
        table.dataTable thead .sorting_desc {
            background: url("/images/sort_desc.png") no-repeat center left;
        }
        #status-table_filter{
            display:none;
        }
        #status-table_length{
            margin-left: 5%;
            margin-top: 1%;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div style="margin-top: -1.5%" class="container-fluid">
    <div class="row">
        <div class="col-md-2 left-sidebar" id="content-height">
            <div class="grey-bg"></div>

            <div class="profile-picture-new">
                <img class="profile-picture-border" src="/images/profile_picture_border.png"  />
                <img class="imgLoad" id="profilePic" style="width: 100%;height: 100%"><br>
            </div>

            <div class="person-details">
                <div class="person-detail bold" id="name"></div>
                <div class="person-detail" id="designation"></div>
                <div class="person-detail bold" id="companyName"></div>
            </div>

            <ul class="dash-menu">
                <li class="active">
                    <a href="/dashboard">
                        <img src="/images/dash_icon_gray.png" />
                        <span>DASHBOARD</span>
                    </a>
                </li>
                <li>
                    <a href="/editProfile">
                        <img src="/images/icon_person_grey.png" />
                        <span>PROFILE</span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        &nbsp;&nbsp;<img src="/images/notification.png" />
                        <span>&nbsp;NOTIFICATIONS</span>
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        <img src="/images/icon_contacts_grey.png" />
                        <span>CONTACTS</span>
                    </a>
                </li>
                <!--  <li>
                      <a href="#">
                          <img src="/images/icon_people_grey.png" />
                          <span>MEETINGS</span>
                      </a>
                  </li> -->
                <li >
                    <a href="/calendar">
                        <img src="/images/icon_calendar1_grey.png" />
                        <span>CALENDARS</span>
                    </a>
                </li>
                <li >
                    <a href="/docs">
                        <img src="/images/icon_documents_grey.png" />
                        <span>DOCUMENTS</span>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <img src="/images/icon_calendar2_grey.png" />
                        <span>EVENTS</span>
                    </a>
                </li>
            </ul>
            <p id="dashboardStatusInfo" class="{{statusInfo}}"></p>

        </div>
        <div class="col-md-10">
            <div class="col-md-12 row confirmation-content-table" style="margin-top: 2%;margin-left:1%;width: 98%">
                <table class="todo">
                    <tbody>
                    <tr>
                        <td class="table-before-after-td" id="you-not" style="border-right: solid rgb(212, 221, 226);">
                            <div class="conf-sug-time-detail">
                                <span>People you haven't responded to in past 7 days</span>
                            </div>
                        </td>
                        <td class="table-before-after-td text-align-left" id="others-not">
                            <div class="conf-sug-time-detail">
                                <span>People who haven't responded to you in past 7 days</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table><br>
                <table id="status-table" class="table border-row">
                    <thead>
                    <tr class="sub-header">
                        <th style="width: 30%">&nbsp;&nbsp;&nbsp;Person</th>
                        <th style="width: 15%">&nbsp;&nbsp;&nbsp;Last Interaction</th>
                        <th style="width: 5%">&nbsp;&nbsp;&nbsp;Type</th>
                        <th style="width: 45%">&nbsp;&nbsp;&nbsp;Interaction Details</th>
                        <th style="width: 10%">&nbsp;&nbsp;&nbsp;Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <br>
                <br>
                <div id="messageDetails" style="display: none;background: rgb(238, 238, 238);border-radius: 5px;">
                    <br>
                    <br>
                    <table style="width: 70%;margin-left: 5%;">
                        <tr style="border: none"><td style="font-size: 22px;" id="subject"></td></tr>
                       <!-- <tr><td id="actual-message"></td></tr> -->
                    </table>
                    <br>
                    <span style="margin-left: 5%;">Reply Message:</span>
                    <div id="show-hide">
                        <table style="width: 70%;margin-left: 5%;" cellspacing="0" cellpadding="0">
                            <tr>

                                <td style="width: 42.5%"><input type="text" id="MsgSubject" class="form-control" placeholder="Subject*"></td>

                            </tr>
                            <tr>
                                <td>
                                    <textarea id="userMessage" class="form-control" rows="7" style="width: 100%;"
                                              placeholder="Message. NOTE: Salutations with first name will be appended to the message."></textarea>
                                </td>
                            </tr>
                            <tr style="border: none">
                                <td>
                                    <input id="sendMessage" class="btn btn-xs"
                                           style="background-color: #0072b1; color: #ffffff;float: right;" type="button"
                                           value="Send Message">
                                </td>
                            </tr>
                        </table>

                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="#" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="#" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="#" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

        </div>
    </div>
</script>
<!-- jQuery -->
<script src="/landing/js/jquery.js"></script>
<script src="/javascripts/dataTables.js"></script>
<script src="/landing/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script type="text/javascript" src="/javascripts/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<script src="/javascripts/interactionAction.js"></script>
<script src="/javascripts/moment.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/privacy.js"></script>
<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

    });
</script>

</body>
</html>