<!DOCTYPE html>
<html ng-app='redundantContacts'>

<head lang="en">
    <meta charset="utf-8">
    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/controllers/marketingMaterial.js"></script>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
</head>
<style>
.myTable {
    margin: 20px;
}
th,td{
    text-align: center;
}
#delete{
    margin-left: 93%;
    margin-bottom: 10px;
}
</style>

<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Relationship-Intelligence">product</a>
                    </li>
                    <li>
                        <a href="/company">company</a>
                    </li>
                    <li>
                        <a href="/logout" {{logout}}>logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div ng-controller='contacts' class="container">

        <div class="add-video">
            <form>
                <label>Title</label>
                <input type="text" ng-model="title">
                <label>Description</label>
                <input type="text" ng-model="description">
                <label>Link</label>
                <input type="text" ng-model="link">
                <button ng-click="save()">Save</button>
            </form>
        </div>

        <div class="current-list-videos">
            <div ng-repeat="video in videos">
                <div ng-class="{'defaultVideo':video.isDefault}" ng-click="openOptions(video)" class="video">
                    <p>Order: {{video.order}}</p>
                    <p>Title: {{video.title}}</p>
                    <p>Description: {{video.description}}</p>
                    <p>Link: {{video.url}}</p>
                    <ul ng-show="video.open">
                        <li><input type="number" placeholder="order" ng-model="order" ng-change="setOrder(video.url,order)"></li>
                        <li ng-click="makeDefault(video.url)">Set as default</li>
                        <li ng-click="delete(video.url)">Delete</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <script src="/javascripts/privacy.js"></script>
</body>

</html>
