<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">

    <title>Relationship Intelligence - Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href='/stylesheets/relatasjq/jquery-ui.css' rel='stylesheet'>
    <link href='/stylesheets/fullcalendar.css' rel='stylesheet'>
    <link href='/stylesheets/fullcalendar.print.css' media='print' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="/image/icon" href="images/favicon.ico"/>

    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>


    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .fc-event-title {
            cursor: pointer;
        }
        .no-cursor{
            cursor: auto !important;
        }
        .btmMsg{
            position: fixed;
            bottom: 55px;
            z-index: 100;
            padding: 8px 0px;
            overflow: hidden;
            height: 40px;
            width: 100%;
            background-color: #f67512;
        }

        .fc-agenda-slots {
            line-height: 2.5em !important;
        }

        .progress {
            color: #0063a6;
            font-size: .6em;
            line-height: 1.5em;
            text-indent: .5em;
            width: 15em;
            background: #0063a6;
            margin-top: 4%;
            display: none;

        }
        .progress::-webkit-progress-bar { background: #c8c8c8; }
        .progress::-webkit-progress-value { background: #f67b3f; }

    </style>

    <meta name="viewport" content="width=device-width">
    <link href="/dist/css/main.css" rel="stylesheet">
    <script src="/lib/require.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51230566-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("103b26e671cadd758afcc38d8bec881b");</script>
    <meta name="referrer" content="default" id="meta_referrer">
    <meta property="fb:app_id" content="863619133666334">
    <meta property="og:site_name" content="Relatas">
    <meta property="og:title" content="Business Relationship Intelligence for your Professional contacts | Relatas">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{uniqueUrl}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{description}}">
    <meta name="keywords" content="cal, conference call, contacts, exchange, gmail, google, ical, icloud, outlook, meeting, Facebook, Linkedin, Twitter, online scheduling, mobile calendar, android calendar, IOS calendar, smart calendar, document tracking, document analytics" />

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="../landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li class="dropdown" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="login-with-linkedin"><a href="#"><span class="btn-sprite log-link"></span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li id="login-with-google"><a href="#"><span class="btn-sprite log-google"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown signup-ok" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <button class="btn blue-btn padding5 margin0" style="background-color: #009be0 !important;border: 2px solid #009be0 !important;">SIGNUP</button>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="sign-up-with-linkedin"><a href="#"><span class="btn-sprite sign-link"></span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li id="sign-up-with-google"><a href="#"><span class="btn-sprite sign-google"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<script type="text/template" id="template-details">

    <input class=" popup-close" type="button" id="popup-c-popup" value="CLOSE" style="float: right; display: none" ><br><br>

    <div class="dialog" id="box">

        <div class="date">
            <div class="start">
                <span>Start</span> <input id="startDate" type="date">
                <input id="startTime" type="time">
            </div>

            <div class="end">
                <span>End</span> <input id="endDate" type="date">
                <input id="endTime" type="time">
            </div>
        </div>
        <div id="selfUser" style="display: none">
            <table>
                <tr>
                    <td>
                        <input type="text" id="selfEmails" placeholder=" Enter email (,)*" class="popup-input">
                    </td>
                </tr>
            </table>
        </div>

        <input id="MeetingTitleDetails" placeholder="Meeting/ Event Title*" type="text" class="popup-input">
        <select class="location popup-input" id="locationType">
            <option>
                Select Location Type*
            </option>

            <option>
                Phone
            </option>

            <option>
                Skype
            </option>

            <option>
                Conference Call
            </option>

            <option>
                In-Person
            </option>
            Have offline access
        </select> <input id="locationDetails" name="" placeholder="Ph no/ Skype/ Location Details*" type="text" class="popup-input">
        <textarea id="meetingDescriptionDetails" placeholder="Agenda/ Meeting Description*" class="popup-input">
        </textarea>
        <div class="Button_block">
            <table>
                <tr>
                    <td><input class=" popup-close" type="button" id="popup-close-popup" value="Send"></td>
                    <td><span id="Select-OR">OR</span></td>
                    <td>
                        <input class="Send hidden" type="button" value="Send invite">
                        <input class="Select popup-btn" id="Select" type="submit" value="Select Another Time/Date">
                    </td>
                </tr>
            </table>


        </div>
    </div>
</script>

<div class="container-fluid" style="margin-top: -1.5%">
<div class="row">
<div class="col-md-2 left-sidebar">
    <div class="grey-bg"></div>

    <div class="profile-picture">
        <!--<img class="profile-picture-border" src="/images/profile_picture_border.png" />-->
        <img id="profilePic" src="images/default.png" style="width: 100%;border: 3px solid white;"><br>
    </div>

    <div class="person-details">
        <div class="person-detail bold" id="name"></div>
        <div class="person-detail" id="designation"></div>
        <div class="person-detail bold" id="companyName"></div>
    </div>



    <ul id="social-tabs" class="icon-tabs">
        <li class="icon-tab-item">
            <a  href="javascript:;" class="icon-tab-item-href" data-content="#fb-tab-content">
                <img id="facebook-icon-tab-item" src="/images/icon_facebook.png" class="icon-tab-item-img">
            </a>
        </li>
        <li class="icon-tab-item">
            <a  href="javascript:;" class="icon-tab-item-href" data-content="#twitter-tab-content">
                <img id="twitter-icon-tab-item" src="/images/icon_twitter.png" class="icon-tab-item-img">
            </a>
        </li>
        <li class="icon-tab-item">
            <a  href="javascript:;" class="icon-tab-item-href " data-content="#linkedin-tab-content">
                <img id="linkedin-icon-tab-item" src="/images/icon_linkedin.png" class="icon-tab-item-img">
            </a>
        </li>
        <li class="icon-tab-item">
            <a  href="javascript:;" class="icon-tab-item-href active" data-content="#relatas-tab-content">
                <img id="relatas-icon-tab-item" src="/images/icon_relatas.png" class="icon-tab-item-img">
            </a>
        </li>
    </ul>

    <div class="social-details-tabs">
        <div id="fb-tab-content" class="social-tab-content">
            <div class="small-login-container">
                <div class="small-login-message">
                    Please login to view details
                </div>
                <a href="#">
                    <img style="cursor: pointer" id="signInSignUpFB" src="/images/blue_signup_button.png" alt="Sign in/Sign up" class="small-login-btn">
                </a>
            </div>
            <div id="facebook-msg"></div>
        </div>
        <div id="twitter-tab-content" class="social-tab-content">

            <div class="small-login-container">
                <div class="small-login-message">
                    Please login to view details
                </div>
                <img style="cursor: pointer" id="signInSignUpTwitter" src="/images/blue_signup_button.png" alt="Sign in/Sign up" class="small-login-btn">
            </div>
            <div id="twitter-msg"></div>
        </div>
        <div id="linkedin-tab-content" class="social-tab-content">
            <div class="small-login-container">
                <div class="small-login-message">
                    Please login to view details
                </div>
                <img style="cursor: pointer" id="signInSignUpLinkedin" src="/images/blue_signup_button.png" alt="Sign in/Sign up" class="small-login-btn">
            </div>
            <div class="linkedin-social-details">
                <div class="social-tab-content-title">COMMON CONNECTIONS</div>
                <table>
                    <tr>
                        <td> <span id="connection-prev" class="arrows"> < </span></td>
                        <td>
                            <table>
                                <tr class="social-connections-list">

                                </tr>
                            </table>
                        </td>
                        <td><span id="connection-next" class="arrows"> > </span></td>
                    </tr>
                </table>

                <div class="social-tab-content-title">LATEST POST</div>
                <div class="social-latest-post" id="latestPost">
                    <!-- Here html content dynamically added (User linkedin status) -->
                </div>
                <div class="social-tab-content-title">COMPANIES</div>
                <div class="social-latest-positions social-latest-post ">
                    <!-- Here html content dynamically added (User linkedin status) -->
                </div>
                <div class="social-tab-content-title">SCHOOLS</div>
                <div class="social-latest-school social-latest-post">
                    <!-- Here html content dynamically added (User linkedin status) -->
                </div>
            </div>
        </div>
        <div id="relatas-tab-content" class="social-tab-content">
            <div  class="small-login-container">
                <div class="small-login-message">
                    Please login to view details
                </div>
                <img style="cursor: pointer" id="signInSignUpRelatas" src="/images/blue_signup_button.png" alt="Sign in/Sign up" class="small-login-btn">
            </div>
            <div id="relatasContactMessage" style="display: none" class="small-message-container">
                <div class="small-login-message">
                    Contact details will be shown post meeting is accepted.
                </div>

            </div>
            <ul id="sideBarMenu" class="sidebar-menu">
                <li>
                    <img src="/images/icon_location.png" />
                    <span style="color: white" id="location"></span>
                </li>

                <li>
                    <img src="/images/icon_mail.png" />
                    <span style="color: white" id="emailId"></span>
                </li>

                <li>
                    <img src="/images/icon_phone.png" />
                    <span style="color: white" id="phoneNumber"></span>
                </li>

                <li>
                    <img src="/images/icon_skype.png" />
                    <span><a  style="color: white" id="skypeId"></a></span>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="col-md-10">
<div class="row">
    <div class="col-md-12">
        <div id="user-msg" class="user-msg">Interested in meeting <span id="user-name"></span><span class="user-msg-secondary">Select your desired times from the calendar below</span></div>
    </div>
</div>
<div class="row main-content">
    <div class="col-md-12">
        <div id="show-hide-time"><div id="user" class="container-title">Welcome</div><div id="time-zone-mpa-my-calendar"><label id="time-zone"></label><label id="mapCal" style="margin-left: 25%;color: #33b5eb; font-weight: 900;font-size: 20px"><input type="checkbox" id="mapMyCalendar">&nbsp;Map my Calendar</label></div></div>
        <div id='calendar'  style="margin-bottom: 7%"></div>
        <div id="calendarMessage"></div>
        <div id="requestMail" style="display: none; margin-left: 250px; margin-top: 15px">
            <button id="requestMailBut" class="btn btn-sm blue-btn">Request For password</button>
        </div>

        <!-- light box -->

        <button style="display: none" class="btn btn-primary" id="lightBoxButton" data-toggle="modal" data-target=".bs-example-modal-lg">Click here for Pop up</button>

        <!--  <div style="display: none" id="lightBoxPopup" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
        <div style="display: none;" class="modal-dialog modal-lg" id="lightBoxPopup">
            <div class="modal-content" style="border-radius: 1px;border: 10px solid rgba(195, 195, 195, 0.37);box-shadow: none">

                <button type="button" id="lightBoxClose" class="btn btn-xs" data-dismiss="modal" style="border-radius: inherit;">Close</button>
                <!--Pop Content Goes here-->
                <h5 style="color: #808080;text-align: center" id="login-window-message">Please login to send meeting requests</h5><br>
                <div>
                    <div class="row">
                        <div style="width: 100%">
                            <div style="border-color: #ffffff;min-height: 250px;padding: 10px 0;text-align: center;line-height: 30px;">
                                <div class="row">
                                    <div style="margin-left: 5%;width: 86%">
                                        <div style="margin-left: 10%;background-color: #f7f7f7;width: 40%;border-radius: 4px;float: left;border: 1px solid rgb(195,195,195);">
                                            <h5>Login to your Relatas account</h5>
                                            <div id="loginUsingGoogle" class="btn btn-lg">
                                                <img style="width: 90%" src="img/bu_google.png"/>
                                            </div>
                                            <div id="loginUsingLinkedin" class="btn btn-lg">
                                                <img style="width: 90%" src="img/bu_linked.png"/>
                                            </div>
                                            <div class="clearfix">
                                                <span class="hr-line-through">OR</span>
                                            </div>
                                            <div><strong><a style="color:#333;cursor: pointer" id="shw">Login with Email</a></strong></div><br>
                                            <div role="form" class="signup-form" id="show-hide" style="display: none;">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="emailId2" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                                </div>
                                                <div>
                                                    <button id="loginFormButton" type="submit" class="btn btn-xs btn-success">Login</button>
                                                    <a class="pull-right" style="color:#333;" href="#">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="background-color: #f7f7f7;width: 40%;border-radius: 4px;float: right;border: 1px solid rgb(195,195,195);">
                                            <h5>Not a Relatas user, no problem</h5>
                                            <div id="oneClickSendDiv">
                                                <div id="loginUsingGoogle2" class="btn btn-lg" style="display: none">
                                                    <img style="width: 90%" src="img/bu_google.png"/>
                                                </div>
                                                <div id="sendUsingLinkedin" class="btn btn-lg">
                                                    <img src="/images/oneClickSend.png"/>
                                                </div>
                                                <div>
                                                    <span class="hr-line-through">OR</span>
                                                </div>
                                            </div>
                                            <div><strong><a style="color:#333; cursor: pointer" id="shw-sign-up">Create a new account</a></strong></div><br>
                                            <div role="form" class="signup-form" style="padding: 20px;display: none" id="nonuserRegister">
                                                <div class="form-group">
                                                    <input type="email" placeholder="Email Id*" class="form-control" id="userEmailId" >
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="userFirstName" placeholder="First Name*">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="userLastName" placeholder="Last Name*">
                                                </div>

                                                <div class="form-group">
                                                    <input type="password" placeholder="Password*" class="form-control" id="userPassword" >
                                                </div>
                                                <div class="row">
                                                    <input type="text" class="form-control" placeholder="Your unique Relatas identity*" id="userPublicProfileUrl" style="font-weight: 500;">
                                                </div>

                                                <div class=" text-align-center">
                                                    <p class="para"><input type="checkbox" id="acceptTerms" >&nbsp;&nbsp;I agree to the <a href="/terms" target="_blank">terms & conditions </a></p>
                                                </div>
                                                <div class=" text-align-center">

                                                    <input type="button" class="btn btn-mini btn-success" id="saveDetailsButton" value="Quick create and Send Invite">
                                                </div><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Pop up content-->
            </div>
        </div>
        <!--   </div> -->
        <!--  -->
    </div>
</div>
<div class="row btmMsg" id="btmMsg-show-hide" style="display: none">
    <div class="col-md-12">
        <div id="btmMsg" style="color: #ffffff;text-align: center;margin-left: -15%;">Your message has NOT been sent yet. Please click on "Send Invite" below to send the invitation.</div>
    </div>
</div>
<div class="selected-times-panel col-md-10" id="selectedTimePanel">
    <div class="ib-container selected-times-label-cont">
        <span class="selected-times-label">Selected time options</span>
    </div>
    <ul id="selectedTimePanel-ul" class="selected-times-list">
        <li class="selected-time-item">
            <div class="selected-time-display invisible" id="selected-day-time1">
                <div class="selected-day" id="selected-day1">Tuesday 17 July</div>
                <div class="selected-time" id="selected-time1">11:30 AM - 12:30 PM</div>
            </div>
        </li>
        <li class="selected-time-item">
            <div class="selected-time-display invisible" id="selected-day-time2">
                <div class="selected-day" id="selected-day2">Tuesday 17 July</div>
                <div class="selected-time" id="selected-time2">11:30 AM - 12:30 PM</div>
            </div>
        </li>
        <li class="selected-time-item">
            <div class="selected-time-display invisible" id="selected-day-time3">
                <div class="selected-day" id="selected-day3">Tuesday 17 July</div>
                <div class="selected-time" id="selected-time3">11:30 AM - 12:30 PM</div>
            </div>
        </li>
    </ul>
    <div class="ib-container send-invite-btn-cont">
        <input id="sendInvitation" type="button" value="Send Invitation" style="display:none">
        <input style="display: none" type="file" id="file-chooser" accept="application/pdf"/>
        <a href="javascript:;" id="upload-button" class="form-submit">
            <img src="/images/upload_doc_btn.png" alt="Upload Documents">
        </a>
        <a href="javascript:;" id="sendInvitationBut">

            <img src="/images/send_invite_btn.png" alt="Send invite">
        </a>

    </div>
    <a href="javascript:;" class="selected-times-toggle">
        <img src="/images/selected_times_up_btn.png">
        <img src="/images/selected_times_down_btn.png" class="hidden">
    </a>
    <div class="selected-times-table-container">
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location Type</th>
                <th>Location Details</th>
                <th>Related Documents</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="table-selected-date1"></td>
                <td id="table-selected-time1"></td>
                <td id="table-selected-location-type1"></td>
                <td id="table-selected-location-details1"></td>
                <td rowspan="3" width="200">
                    <a class="meeting-attachment" href="#" id="docUrl">
                        <img class="profile-picture-border" id="docTitleImg" src="/images/icon_file_pdf.png">
                        <span class="meeting-attachment-title" id="docTitle">No Document</span><br>


                        <progress class="progress" id="docProgress" value="0" max="100"></progress>
                    </a>

                </td>
            </tr>
            <tr>
                <td id="table-selected-date2"></td>
                <td id="table-selected-time2"></td>
                <td id="table-selected-location-type2"></td>
                <td id="table-selected-location-details2"></td>
            </tr>
            <tr>
                <td id="table-selected-date3"></td>
                <td id="table-selected-time3"></td>
                <td id="table-selected-location-type3"></td>
                <td id="table-selected-location-details3"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>

</div>

</div>



<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-2.3.2.js"></script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>

<script src='/javascripts/jquery-ui.custom.min.js' type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/pace.js"></script>
<script  src="/stylesheets/relatas.css"></script>
<script src='/javascripts/fullcalendar.js' type="text/javascript"></script>

<script src="/javascripts/meetingProcess.js" type="text/javascript"></script>
<script src="/javascripts/socialTab.js" type="text/javascript"></script>
<script src="/javascripts/icontabs.js" type="text/javascript"></script>
<script src="/javascripts/jstz-1.0.4.min.js" type="text/javascript"></script>
<script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        // $(".left-sidebar").css("min-height", $(document).height());
        $("#social-tabs").iconTabify();

        // open/close footer
        $(".selected-times-toggle").click(function () {
            if($(".selected-times-panel").css("height") == "58px")
            {
                $($(".selected-times-toggle img")[0]).addClass("hidden");
                $($(".selected-times-toggle img")[1]).removeClass("hidden");
                $(".selected-times-panel").css("height", "auto");
            } else {
                $($(".selected-times-toggle img")[1]).addClass("hidden");
                $($(".selected-times-toggle img")[0]).removeClass("hidden");
                $(".selected-times-panel").css("height", "58px");
            }
        });

        /*  $('.form-submit').click(function(){
         $('#form').submit();
         });*/

        $('#sendInvitationBut').click(function(){
            $('#sendInvitation').trigger('click');
        })
        $("#shw").click(function(){
            $("#show-hide").slideToggle();

        });
        $("#shw-sign-up").click(function(){
            $("#nonuserRegister").slideToggle();
            // $("#saveDetailsButton").focus();
            $("html, body").animate({ scrollTop: $(window).height()}, 600);
        });
    });
</script>


<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

        </div>
    </div>
</script>
<script type="text/template" id="delete-event-popup">
    <div class="dialog3" id="delete-event-box">
        <br>
        <div style="margin-left: 4%">

            <span>Do you wish to Delete the event</span>
        </div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-delete-event" value="no" class="popup-btn" >
            <input type="button" id="delete-event-but" class="popup-btn" value="yes" style="float:left">
        </div>
    </div>
</script>

<script type="text/template" id="delete-meeting-popup">
    <div class="dialog3" id="delete-meeting-box">
        <br>
        <div style="margin-left: 4%">

            <span>Do you wish to Delete the meeting</span>
        </div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-delete-meeting" value="no" class="popup-btn" >
            <input type="button" id="delete-meeting-but" class="popup-btn" value="yes" style="float:left">
        </div>
    </div>
</script>

<script type="text/template" id="cancel-meeting-popup">
    <div class="dialog3" id="cancel-meeting-box">
        <br>
        <div style="margin-left: 4%">

            <span>Do you wish to cancel the meeting</span>
            <table>
                <tr>
                    <td style="width: 20%"><span>Message</span></td>
                    <td style="width: 80%"><textarea id="cancel-meeting-message" cols="5" rows="2" style="border: 1px solid #DFDFDF;width: 80%;height: 100%;margin-left: 10%"></textarea></td>
                </tr>
            </table>
        </div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-cancel-meeting" value="no" class="popup-btn" >
            <input type="button" id="cancel-meeting-but" class="popup-btn" value="yes" style="float:left">
        </div>
    </div>
</script>
</body>
</html>

