<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Relationship Intelligence - Relatas</title>

    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
    </script>
    <style>
        .popover{
            max-width: 276px;
        }
        .scroll2{
            float: left;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 200px;
        }
    </style>

    <meta name="referrer" content="default" id="meta_referrer">
    <meta property="fb:app_id" content="863619133666334">
    <meta property="og:site_name" content="Relatas">
    <meta property="og:title" content="Business Relationship Intelligence for your Professional contacts | Relatas">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{uniqueUrl}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{description}}">
    <meta name="keywords" content="cal, conference call, contacts, exchange, gmail, google, ical, icloud, outlook, meeting, Facebook, Linkedin, Twitter, online scheduling, mobile calendar, android calendar, IOS calendar, smart calendar, document tracking, document analytics" />

    <meta name="twitter:card" content="summary_large_image"/>

    <meta name="twitter:title" content="Smart Calendar and Intelligent Document Tracking | Relatas"/>

    <meta name="twitter:url" content={{uniqueUrl}}/>

    <meta name="twitter:description" content={{description}}/>

    <meta name="twitter:image:src" content={{image}}/>



</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=648923528511433&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container">
        <div class="row margin-top45">
            <div class="col-lg-12">
                <h1 class="page-title">Your past 90 days interactions</h1>
            </div>
        </div>
    </div>

    <!-- Page Features -->
    <div class="container ver-align">
        <div class="row text-center">
            <div class="col-md-offset-1 col-md-3 col-sm-6 hero-feature">
                <h4>
                    Contacts you<br> interacted with
                </h4>

                <div class="interactions-container" id="interacted">
                    0
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <h4>
                    Total interactions<br> with those contacts
                </h4>

                <div class="interactions-container" id="totalInteractions">
                    0
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <h4>
                    Contacts you have <br> not interacted with
                </h4>

                <div class="interactions-container">
                    <span id="nonInteracted">0</span>

                    <p><a href="#" class="invisible">Send a personalised message</a></p>
                </div>
            </div>

        </div>
        <!--  <div class="text-center">
          <p><a class="btn blue-btn btn-lg fs21" id="go-to-Contacts">View Your Contacts </a></p>
      </div>-->
    </div>
</div>


<div class="container ver-align">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">Total Interactions</h1>

            <div class="row text-center" id="chart_div" style="width: 900px; height: 500px;margin-left: 15%;">
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container ver-align">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">Interactions by Type</h1>

            <div class="row text-center">
                <div id="piechart" style="width: 900px; height: 500px;margin-left: 15%;"></div>

                <a id="pieChartUrl" href="https://www.facebook.com/sharer/sharer.php?u={{uniqueUrl2}}" ><button>Share On Facebook</button></a>
                <a id="linkedinUrl" href="http://www.linkedin.com/shareArticle?mini=true&url={{uniqueUrl2}}&title=Business Relationship Intelligence for your Professional contacts | Relatas&summary={{description}}" ><button>Share On LinkedIn</button></a>
                <a href="http://twitter.com/share?text={{description}}&url={{ur}}" ><button>Share On Twitter</button></a>
            </div>
        </div>
    </div>
</div>

<div class="bg-strong-grey">
    <div class="container">
        <div class="row margin-top45">
            <div class="col-lg-12">
                <h1 class="page-title">Top 5 people you have interacted with</h1>
            </div>
        </div>
    </div>

    <div class="container ver-align">
        <div class="row text-center" id="top-five-interactions">

        </div>
    </div>
</div>

<div class="container ver-align" id="global-map" style="display: none">
    <div class="row">
        <h2 class="content-title" id="mapPopup">Your Global Interactions Map</h2>
        <span>This map shows all your Interactions with your contacts across the globe.</span>

        <div id="map" style="height:450px; margin-top:12px"></div>
    </div>
</div>

<div class="meeting-map" id="global-map-img" style="display: none">
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d105413136.27209184!2d114.66388518086468!3d36.264904900077546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1407311368568" width="99.999%" height="600" frameborder="0" style="border:0"></iframe> -->
    <img src="/landing/img/map.jpg" style="width: 100%;">

    <div class="map-overlay">
        <h1 class="thin">Global Interaction Map</h1>

        <h3 class="bold"> Start setting up meetings using Relatas to capture location intelligence</h3>
    </div>
</div>

<div class="bg-signUpStep-3">
    <div class="container ver-align">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title white-text">Explore Relatas</h1>
                <!--	<h2 class="normal fs21 white-text text-center">
                        I love meeting people, I attend events and travel a lot. The problem I face most of the time is learn
                        about the people am about to meet. Who is the person am about to meet, do we have common connections,
                        do we share anything common – maybe movies, music or skiing. How do I start my conversation with him/her?
                    </h2> -->
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p><a class="btn blue-btn btn-lg fs23 margin-top45" href="/dashboard">Visit your Dashboard</a></p>
    </div>
</div>

<!-- jQuery -->
<script src="/landing/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/landing/js/bootstrap.min.js"></script>
<script src="/javascripts/interactionReport.js"></script>
<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a> |
                                <a href="/FAQ">FAQ</a>

                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms
                                    & Conditions. </a><a href="/privacy">Privacy Policy</a></div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="#" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="#" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="#" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/template" id="googleMeetingInfo-popup">
    <div class="dialog3" id="googleMeetingInfo-box"> &nbsp; &nbsp;
        <div style="margin-left: 3%;margin-bottom: 3%">
            <table>
                <tr>
                    <td>
                        People Met:&nbsp;&nbsp;
                    </td>
                    <td id="totalPeople">
                        01
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Interactions:&nbsp;&nbsp;
                    </td>
                    <td id="totalMeetings">
                        01
                    </td>
                </tr>
            </table>
        </div>
        <hr style="border-top: 1px solid #dfdfdf">
        <div class="scroll2" style="margin-bottom: 3%;background: #ffffff">
            <table id="gTable" style="margin-left: 1%;">
                <thead>
                <tr style="border-bottom: thin"><td style="width: 30%">Name</td><td style="width: 30%;text-align: center">Total Interactions</td></tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="Button_block" style="display: none">
            <input type="button" id="closePopup-googleMeetingInfo" value="Close" class="popup-btn" >
        </div>
    </div>
</script>
<script src="/javascripts/privacy.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/javascripts/markerCluster.js"></script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
</body>
</html>