<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relationship Intelligence - Relatas</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #user-info-table td,th{
            padding: 10px;
        }
        .int-table #profilePic{
            width: 50%;
            border-radius: 70px;
            border: solid 4px white;
        }
        .int-table #profilePic,.left{
            margin-left: 35%;
        }
        .int-table #profilePic,.left2{
            margin-left: 10%;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/Relationship-Intelligence">product</a>
                </li>
                <li>
                    <a href="/company">company</a>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container">
        <div class="row content-row">
            <div class="col-md-12" style="margin-top: 2%;">
                <table class="int-table">
                    <tr>
                        <td style="width: 20%">
                            <img id="profilePic" src="/images/default.png">
                        </td>
                        <td>
                            <h2 id="user-name"></h2>
                            <span id="user-company-designation"></span><br>
                            <span id="user-location"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><br>
                            <span class="left" id="total-interactions"></span>
                        </td>
                        <td>
                            <br><br>
                            <span class="left2" id="last-interaction"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><br><span class="left2">Last 5 interactions</span></td>
                    </tr>
                    <tr>
                        <td class="left2" colspan="2"><br>
                            <div class="left2" id="five-interactions">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="#" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="#" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="#" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- jQuery -->
<script src="/landing/js/jquery.js"></script>
<script src="/landing/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script src="/javascripts/profileIntelligence.js"></script>
<script src="/javascripts/moment.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/privacy.js"></script>
<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

    });
</script>

</body>
</html>