<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{companyName}} Admin | Relatas</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <style>
        .odd {
            background-color: #ddd;
            padding: 5px;
        }
        .even {
            background-color: #eee;
            padding: 5px;
        }
        td{
            width: 30%;
        }
        .dataTables_filter{
            margin-top: -4.6%;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/relatas_logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<br>
<br>
<br>
<div class="container">
    <table id="log-table">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Id</th>
            <th>Admin Name</th>
            <th>Admin email</th>
            <th>Date Created</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/Relationship-Intelligence">Product</a> |
                                <a href="/company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="#" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="#" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="#" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="/javascripts/privacy.js"></script>

<script>
    $(document).ready(function(){
        var table;
        var monthNameSmall=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        applyDataTable();
        getLogData();
        function getLogData(){

            $.ajax({
                url:'/admin/corporate/changeAdmin/getLogs',
                type:'GET',
                datatype:'JSON',
                success:function(logs){

                    if(checkRequiredField(logs.file) && logs.file.length > 0){
                        displayLogs(logs.file)
                    }
                }
            })
        }

        function displayLogs(logs){
            for(var log=0; log<logs.length; log++){
                addRowsToTable([
                    logs[log].companyName,
                    logs[log].companyId,
                    logs[log].adminName,
                    logs[log].adminEmail,
                    getEventDateFormat(new Date(logs[log].dateCreated))
                ])
            }
        }

        function addRowsToTable(rowArr){
            table.row.add( rowArr ).draw();
        }

        function getEventDateFormat(date){
            date = new Date(date);
            var day = date.getDate();

            var format = getVakidNumber(day)+'-'+monthNameSmall[date.getMonth()]+'-'+date.getFullYear();
            return format;
        }
        function getVakidNumber(num){
            if(num < 10){
                return '0'+num;
            }else return num;
        }

        function applyDataTable(){
            table = $('#log-table').DataTable({
                "dom": '<"top"iflp<"clear">>',
                "order": [[ 1, "asc" ]],

                "oLanguage": {
                    "sEmptyTable": "No Logs Found"
                }
            });
        }

        function checkRequiredField(data){
            if (data == '' || data == null || data == undefined) {
                return false;
            }
            else{
                return true;
            }
        };
    });
</script>
</body>
</html>