<html>

<head>
    <title>Relationship Intelligence | Relatas | Product</title>
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM which provides Relationship Intelligence for small businesses and productivity apps for sales teams. Try it for free.">
    <meta name="keywords" content="Smart CRM, Scheduling, Connection, Business, Relationship, Intelligence">
    <meta name="author" content="Relatas">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap Core CSS -->
    <link href="../landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="../images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <!-- Custom CSS -->
    <link href="../landing/css/main.css" rel="stylesheet">
    <link href="http://vjs.zencdn.net/5.2.3/video-js.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://vjs.zencdn.net/5.2.3/video.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
</head>
<body>
<!-- Navigation -->
<div id="relatas-weblead-container"></div>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="../landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=' https://play.google.com/store/apps/details?id=com.relatas.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                        <img alt='Get it on Google Play' class="g_play_icon" src='../images/play_badge_new.png'/>
                    </a>
                </li>
                <li>
                    <a href="/relationship-intelligence-product">PRODUCT</a>
                </li>
                <li>
                    <a href="/relationship-intelligence-company">COMPANY</a>
                </li>
                <li class="dropdown signup-ok" {{loginSignUp}}>
                    <a href="/retail/signup" role="button">
                        <button class="btn blue-btn padding5 margin0">SIGN IN</button>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li id="sign-up-with-linkedin"><a href="#"><span class="btn-sprite sign-link"></span></a></li>-->
                        <!--<li role="presentation" class="divider"></li>-->
                        <li id="sign-up-with-google"><a href="#"><span class="btn-sprite sign-google"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" {{logout}}>LOGOUT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Background Image 

    <div class="bg-img-1 center-container">
        <div class="container">
            <header class="jumbotron hero-spacer text-center">
                <h1 class="welcome-text bold">Intelligence every morning</h1>
                <h2 class="sub-welcome-text">with your hot cup of coffee</h2>
                <p><a class="btn blue-btn btn-lg fs23 sign-up-open">Try it for FREE</a>
                </p>
            </header>
        </div>
            <img src="../landing/img/down_arrow.png" class="absolute-center" id="scroll-arr" style="cursor: pointer; display: block;">
    </div>
     Background Image ends -->

    <div class="container">
        <h1 class="page-title down-arr-offset">Everything you need to <br>build better relationships<br> and win faster</h1>
        <div class="relatas-videos text-center">
            <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="425" height="225"
                   poster="/images/relatasIcon.png" data-setup="{}" style="margin: auto;background-color: #eee;">
                <source src="https://s3.amazonaws.com/relatas-live-imagestorage/Video/Relatas_380.mp4" type='video/mp4'>

                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    supports HTML5 video</a>
                </p>
            </video>
        </div>
    </div>

    <div class="container product-row-1">
        <h1>
            Relationship AI
        </h1>
        <h2>
            Relatas prioritizes your contacts and optimizes your accounts to let you know what needs your immediate attention.
        </h2>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="../images/mailer/neverLosepropect.png" alt="Contact Interaction">
                <h3>Never lose a prospect</h3>
                <p>
                    Relatas informs which
                    contacts need immediate
                    attention and suggest you
                    ways to get in touch with
                    them
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/gennewleads.png" alt="Contact Interaction">
                <h3>At risk accounts </h3>
                <p>
                    Relatas prioritizes your
                    accounts at risk and
                    provides insights on how
                    to engage with them
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/your_team.png" alt="Enterprise Team">
                <h3>Generate new leads</h3>
                <p>
                    Relatas helps you generate
                    new leads based on your
                    existing relationships
                </p>
            </div>
        </div>
    </div>
    <hr width="50%">
    <div class="container product-row-1">
        <h1>
            Simple, but futuristic
        </h1>
        <h2>
            Engage more effectively with your contacts with NO data Entry
        </h2>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="../images/mailer/daily_agenda.png" alt="Daily Agenda">
                <h3>Email</h3>
                <p>
                    Relatas integrates
                    seamlessly with your
                    Google or outlook mail
                    and calendars
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/3_click_contact.png" alt="3 Click Contact Share">
                <h3>Phone</h3>
                <p>
                    Relatas integrates with
                    your android phone to
                    seamlessly integrate with
                    calls and SMS
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/meet_intelligently.png" alt="Meet Intelligently">
                <h3>Social</h3>
                <p>
                    Relatas brings you the
                    social insights of your
                    contacts in a
                    snapshot
                </p>
            </div>
        </div>
    </div>
    <hr width="50%">
    <div class="container product-row-1">
        <h1>
            Smart Insights
        </h1>
        <h2>
            There are signals all around you. With so much social noise, Relatas’ AI shows you the right signals.
        </h2>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="../images/mailer/realTimeinsights.png" alt="Contact Interaction">
                <h3>Persona</h3>
                <p>
                    Get the real-time details of
                    your contacts at any given
                    time – your interaction
                    history, common
                    connection
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/suggestionsBulb.jpg" alt="All Interactions">
                <h3>Insights</h3>
                <p>
                    Relatas gives you
                    actionable insights to
                    surface the data that
                    matters to you the most
                </p>
            </div>
            <div class="col-md-3">
                <img src="../images/mailer/interactions.png" alt="All Interactions">
                <h3>Signals</h3>
                <p>
                    Relatas AI captures all the
                    right signals and shows
                    them at the opportune
                    time
                </p>
            </div>
        </div>
    </div>

<hr width="50%">
<div class="container">
    <h1 class="page-title down-arr-offset">Relatas, helps you<br>
    build better relationships<br> and win faster.</h1><br>
    <div class="text-center">
        <p><a href="/retail/signup" class="btn blue-btn btn-lg fs23 sign-up-open">Try it for FREE</a></p>
    </div>
</div>


<!--<table border="0" width = "100%" align="center" cellpadding="5" cellspacing="5">-->
    <!--<tr>-->
        <!--<td align="left" >-->
            <!--&lt;!&ndash; Product Start&ndash;&gt;-->
            <!--&lt;!&ndash; Instead of the image add the video&ndash;&gt;-->
            <!--<table width="75%" border="0" cellpadding="5" cellspacing="5" align="center" style="margin-top: 20px;">-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Meet Intelligently</h2><br>-->
                        <!--<p>Have you ever felt you don't know the person when you meet them? Relatas helps you create a virtual profile of the person before you meet them. Get to know the common connections, work history, schooling history.<br><br>-->
                            <!--Get to know them better and build the relationship. Consider us a sidekick.</p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/meet_intelligently.png" alt="Meet Intelligently"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/no_spam.png" alt="Reduce SPAM"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Reduce SPAM from unknown people</h2><br>-->
                        <!--</p>When you go to <b>events</b> you don't have to share your personal details like <u>phone number</u> and <u>email id</u> with everyone. Share your Relatas id (<b>relatas.com/YourName</b>) with people and they can reach out to you when they want. <br><br>-->
                        <!--Exchange contact information <b>without sharing your personal details</b> with unknown people.</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Save time to set up a meeting</h2><br>-->
                        <!--<p>Everyone using Relatas gets a Unique Relatas Identity like <b>relatas.com/YourName</b>. Share your unique Relatas id with your contacts and request them to block time on your calendar or just send a message. They will also thank you for saving their time. <br><br>-->
                            <!--Relatas only shows OPEN and BLOCKED times on your calendar. </p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/save_time.png" alt="Save Time"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/global_map.png" alt="Relatas Dashboard"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Traveling to San Francisco tomorrow?</h2><br>-->
                        <!--<p>You don't have to bother your secretary or spend hours going through your mails or calendar to figure that out who you met there. Just click on San Francisco on your Global Interaction Map and Relatas will show you who all you interacted with in San Francisco and your interaction history with them. </p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Get you day's agenda with your hot morning coffee</h2><br>-->
                        <!--<p> Every morning you will be greeted with your daily agenda to help you manage your day. Check out who your are going to meet today, what interactions you had with them, check out their profiles before you meet them. <br><br>-->
                            <!--Forgot to "Confirm" the meeting? Forgot to RSVP to an event? Don't worry, Relatas will remind you. <p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/daily_agenda.png" alt="Daily Agenda"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/3_click_contact.png" alt="3 Click Contact Share"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Share contact information with 3 clicks</h2><br>-->
                        <!--<p>Imagine you are at a networking event and forgot your business cards? OR at a business event and want to be a geek? Use Relatas Mobile App to share contact information with the other person in just 3 clicks. (coming soon)</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Don't remember the people who you haven't interacted with for long?</h2><br>-->
                        <!--<p>Relatas doesn't let your contacts fall off your radar. With our interaction history you get to see people who you haven't interacted in the past and contact them directly from Relatas.</p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/contact_details.png" alt="Contact Interaction"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/google_calendar.png" alt="Work Smarter"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Work smarter, without additional data entry</h2><br>-->
                        <!--<p> You don't have to input date again in two places. Relatas automatically syncs your data. Relatas manages your interactions in one place so that you don't have to toggle between interactions.</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Track your Documents and set Expiry Dates/ Revoke Access to Docs</h2><br>-->
                        <!--<p>Ever wondered what happened to your documents post you sent them? Relatas helps you gather intelligence by letting you know how much time did the recepient spent on <b>each page of the document</b> you shared through Relatas. <br><br>-->
                            <!--Want to send something confidential? Set expiry dates to your documents or revoke access even after you send them. (coming soon)</p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/documents_secure.png" alt="Document Security"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/interactions.png" alt="All Interactions"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Manage 100% interactions in one place</h2><br>-->
                        <!--<p> Get all your interactions (Meeting Schedules/ Document Share/ Messaging/ Skype Interactions*/ Phone Conversations*) under one roof and track the same.</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Want to attend start-up events in Bangalore?</h2><br>-->
                        <!--<p> We have it covered for you. Subscribe to Start-up events in Bangalore and see them appear on your Calendar on the date of the event. (coming soon)</p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/rsvp_events.png" alt="RSVP Event"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2"><hr width="50%"></td></tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/your_team.png" alt="Enterprise Team"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%"><h2 class="normal fs23 text-center">Supercharge your team</h2><br>-->
                        <!--<p> Relatas Enterprise Solution works wonders for Enterprises. See who your team members are meeting, how often they are meeting, what they are sharing. See which Company/ Contacts is getting neglected. Great solutions if you have Sales/ Marketing/ HR teams in different locations. Mail us at <b>hello@relatas.com</b> to get a demo of the Enterprise Version.</p>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<hr><h1 class="page-title down-arr-offset">-->
            <!--Everything you need to get started</h1><br><br>-->

            <!--<table width="90%" border ="0" cellpadding="2" cellspacing="2" align="center">-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/smarter_setup.png" alt="60 Secons Signup"/></p>-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/hello_at_relatas.png" alt="Enterprise Signup"/></p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td width="50%" align="center"><h2 class="normal fs23 text-center">Smarter Setup</h2><br> Get started in less than 60 seconds.-->
                    <!--</td>-->
                    <!--<td width="50%" align="center"><h2 class="normal fs23 text-center">Need an enterprise solution?</h2><br> Mail us at hello@relatas.com-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<hr>-->
            <!--&lt;!&ndash; <p align="center"><img align="center" class="aligncenter size-full wp-image-160" src="../images/mailer/bg-product-2.png" alt="Relatas Dashboard" width="100%"/></p><br>-->
              <!--BG image-->
         <!--<div class="bg-img-3">-->
                    <!--<div class="container ver-align">-->
                     <!--<div class="row">-->
                         <!--<div class="col-lg-12">-->
                             <!--<h1 class="page-title white-text">Why we created Relatas ?</h1>-->
                             <!--<h2 class="normal fs21 white-text text-center">-->
                                 <!--I love meeting people, I attend events and travel a lot. The problem I face most of the time is learn-->
                                 <!--about the people am about to meet. Who is the person am about to meet, do we have common connections,-->
                                 <!--do we share anything common – maybe movies, music or skiing. How do I start my conversation with him/her?-->
                             <!--</h2>-->
                         <!--</div>-->
                     <!--</div>-->
                 <!--</div>-->
                  <!--<div class="container text-center">-->
                     <!--<p><a class="btn blue-btn btn-lg fs23 margin-top45" target="_blank" href="https://medium.com/relatas/">Visit our Blog</a></p>-->
                 <!--</div>-->
             <!--</div>-->

              <!--bg image end &ndash;&gt;-->
            <!--<h1 class="page-title down-arr-offset"><i>We think you'll love RELATAS, which would help you</i></h1>-->
            <!--<h1 class="page-title down-arr-offset"><b>Build BETTER Relationships.</b></h1><br>-->
            <!--<div class="text-center">-->
                <!--<p><a href="/retail/signup" class="btn blue-btn btn-lg fs23 sign-up-open">Try it for FREE</a></p>-->
            <!--</div>-->

            <!--&lt;!&ndash; Product End &ndash;&gt;-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->

<!-- Footer -->
<div class="bg-grey">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="/">Home</a> |
                                <a href="/relationship-intelligence-product">Product</a> |
                                <a href="/relationship-intelligence-company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="https://medium.com/relatas/" target="_blank">Blog</a>  |
                                <a href="/FAQ">FAQ</a>
                                <div class="t-c">Copyright &copy; 2015 Relatas All Rights reserved. <a href="/terms">Terms & Conditions. </a><a href="/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="https://twitter.com/RelatasHQ" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="https://www.facebook.com/relatasHQ/" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="https://www.linkedin.com/company/relatas" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- jQuery -->
<script src="../landing/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../landing/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $('.req-demo').on('click', function(){
            $('html,body').animate({scrollTop: $(".ask-demo").offset().top}, 800);
        });

        $('#scroll-arr').on('click', function(){
            $('html,body').animate({scrollTop: $("#scroll-arr-to").offset().top}, 900);
        });

        $('#login-with-linkedin').click(function(){
            window.location.replace('/linkedinAuthentication');
        });

        $('#sign-up-with-linkedin').click(function(){
            window.location.replace('/linkedinAuthentication');
        });

        $('#login-with-google').on("click",function(){
            window.location.replace('/getGoogleToken');
        });

        $('#sign-up-with-google').on("click",function(){
            window.location.replace('/getGoogleToken');
        });

    });
</script>

<script src="/javascripts/privacy.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" data-relatas_company_id ="54eabe4929b9913521cefb64" src="/rWebLead/load.js"></script>
</body>
</html>    