<!DOCTYPE html>
<html ng-app='companyReports'>

<head lang="en">
    <meta charset="utf-8">
    <title>Company Reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/TableTools/css/dataTables.tableTools.css">
    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/TableTools/js/dataTables.tableTools.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angularResource.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/controllers/usageReports.js"></script>
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<style>
body {
    font-family: 'Lato', sans-serif !important;
}

th>a {
    cursor: pointer;
    text-decoration: underline;
}

th {
    text-align: center;
}

table,
a {
    font-family: 'Lato', sans-serif !important;
    color: black;
    font-size: 9px;
}

.inputCommon {
    height: 28px;
    font-size: 11px;
}

.total {
    font-size: 15px;
}

select option {
    cursor: pointer;
}

.select option:checked, .select option:active {
    box-shadow: 0 0 10px 100px #49B5A6 inset;
}

.container {
    width: 90%;
}

.text_transform
{
    text-transform: capitalize;    
    font-weight: normal;    
}

h1{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
</style>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link text_transform" href="#" data-toggle="dropdown" id="navLogin">
                        <span>{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class='container'>
        <div ng-controller='interaction'>
            <div class='form' style='display:inline;'>
                <h1>Company Usage Report</h1>
                <form class="form-inline" role="form" ng-submit="getInteractions()">
                    <!--<div class="form-group">-->
                        <!--<label>From-->
                            <!--&lt;!&ndash; <input type="date" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'> &ndash;&gt;-->
                            <!--<input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='fromDate' style='margin-right:10px;padding:0;'>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>To-->
                            <!--&lt;!&ndash; <input type="date" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'> &ndash;&gt;-->
                            <!--<input class="datetimepicker" type="text" class="form-control inputCommon" ng-model='toDate' style='margin-left:10px;padding:0;'>-->
                        <!--</label>-->
                    <!--</div>-->
                    <div class="form-group" style='margin-left:10px;'>
                        <select ng-model='category' style='text-align:center;padding:0;margin-top:-6%' class='form-control inputCommon select'>
                            <option value='all'>Select Company</option>
                            <!--<option value='corperate'>Corporate</option>-->
                            <!--<option value='retail'>Retail</option>-->
                            <!--<option disabled>────────</option>-->
                            <option ng-repeat='company in listOfCompanies | orderBy:"companyName"' value='{{company._id}}'>{{company.companyName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-green inputCommon" style='margin-top:-4.5%'>Submit</button>
                    </div>
                </form>
            </div>
            <br>
            <div style='display:inline;'>
                <input type="text" style='width:200px;float:left;margin-top:-0.25%;' class="form-control inputCommon" placeholder="Search by email" ng-model='search'>
                <a style='float:right;' target="_blank" href="/admin/csv/getAllUserInteractions/{{path}}">
                    <button type="" class='btn btn-green' ng-click='toExcel()' ng-show='true'>Export To Excel</button>
                </a>
                <div>
                    <!--<span class='total' style='float:right;'>Total Users: ({{totalUser}}) Total Interactions: ({{totalInteraction}})</span>-->
                </div>
            </div>
            <div class="table-responsive">
                <table class='table table-bordered table-hover cr-tb'>
                    <thead>
                        <tr style='background:#49B5A6;color:white;'>
                            <th class="two">Sl. No.</th>
                            <th class="one" style="cursor: pointer;" ng-click="sortType = 'emailId'; reverse = !reverse">User Email Id</th>
                            <th class="two">Total Contacts</th>
                            <th class="two">Leads</th>
                            <th class="two">Prospects</th>
                            <th class="two">Customers</th>
                            <th class="six">Total Opportunities</th>
                            <th class="three">Interactions/day before joining Relatas</th>
                            <th class="four">Interactions/day post joining Relatas</th>
                            <th class="five">Action taken on Relatas/day</th>
                            <th class="seven">Logins/day</th>
                            <th class="seven" style="cursor: pointer;" ng-click="sortType = 'past30days'; reverse = !reverse">Interactions Past 30 days</th>
                            <th class="two" style="cursor: pointer;" ng-click="sortType = 'relataspast30days'; reverse = !reverse">Relatas Interactions Past 30 days</th>
                            <th class="two" style="cursor: pointer;" ng-click="sortType = 'logins30days'; reverse = !reverse">Logins Past 30 days</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='res in data | orderBy:sortType:reverse'>
                            <td class="one">{{$index+1}}</td>
                            <td class="one" ng-init='getInteractionDetails(res)'>{{res.emailId}}</td>
                            <td class="two">{{res.count}}</td>
                            <td class="two">{{res.leads}}</td>
                            <td class="two">{{res.prospects}}</td>
                            <td class="two">{{res.customers}}</td>
                            <td class="seven">{{res.totalOppCount}}</td>
                            <td class="three">{{res.beforeInteractions}}</td>
                            <td class="four">{{res.afterInteractions}}</td>
                            <td class="seven">{{res.interactionsOnRelatas}}</td>
                            <td class="seven">{{res.numberOfloginsPerDay}}</td>
                            <td class="four">{{res.past30days}}</td>
                            <td class="four">{{res.relataspast30days}}</td>
                            <td class="four">{{res.logins30days}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/javascripts/privacy.js"></script>
</body>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script>
      $('.datetimepicker').datetimepicker({timepicker:false,value:new Date(),format: 'Y-m-d',formatDate:'Y-m-d'});
    </script>
</html>
