
<div class="modal-open convert-modal-sidebar" ng-show="isSideBarOpen">
    <div class="opportunity-form form-box-shadow">

        <div class="clearfix relative weekly-review">

            <div class="row">
                <div class="col-md-2 side-panel">
                    <div class="clearfix">
                        <div class="modal-header">
                            <div class="owner pull-left" style="margin-left:10px !important;margin-top: -5px !important;" ng-show="member.fullName" title="[[member.fullName]], [[member.emailId]]">
                                <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                                <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                <strong>[[member.fullName]]</strong>
                                [[member.emailId]]
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li class="cursor">Achievement</li>
                        <li class="cursor">Pipeline review</li>
                        <li class="cursor">Pipeline comparison</li>
                        <li class="cursor">Discussion points</li>
                        <li class="cursor">Reports</li>
                    </ul>
                </div>
                <div class="col-md-10 hero">
                    <div data-ng-include="'/pulse/overlay/module'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
