/*************************************
 * styling generico elementi als
 ************************************/
.als-container {
	position: relative;
	width: 960px;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
	padding-left: inherit !important;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
	/*left: -3% !importat;*/
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

/***********************************
 * styling specifico elementi als
 * di content e delle demo
 **********************************/

#demo1, #demo2, #demo3, #demo4 {
	margin: 40px auto;
	border-radius: 10px;
	background: transparent;
}

#demo1 .als-item, #demo2 .als-item,
#demo3 .als-item, #demo4 .als-item, 
#demo5 .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 100px;
	text-align: center;
}

#demo1 .als-item img, #demo2 .als-item img,
#demo3 .als-item img, #demo4 .als-item img,
#demo5 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo1 .als-prev, #demo1 .als-next,
#demo2 .als-prev, #demo2 .als-next,
#demo3 .als-prev, #demo3 .als-next,
#demo4 .als-prev, #demo4 .als-next {
	top: 50px;
}

#demo1 .als-prev, #demo2 .als-prev, #demo3 .als-prev,
#demo4 .als-prev {
	left: 200px;
}

#demo1 .als-next,#demo2 .als-next, #demo3 .als-next,
#demo4 .als-next {
	right: 200px;
}



/*************************************
     * generic styling for ALS elements
     ************************************/

.als-container {
	max-width: 900px;
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

#demo3, #demo4{
	margin: 40px auto;
}

#demo3 .als-item, #demo4 .als-item{
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 100px;
	text-align: center;
}

#demo3 .als-item img, #demo4 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo3 .als-prev, #demo3 .als-next, #demo4 .als-prev, #demo4 .als-next {
	top: 8px;
}

#demo3 .als-prev, #demo4 .als-prev {
//left: 200px;
	//left: 159px;
	left: 0;
}

#demo3 .als-next, #demo4 .als-next {
	//right:172px;
	right: 0;
}