.left{ border: none !important;    color: black; background-color: white;     min-width: 120px;}
.left td {     color: black;}
.row-nonworking{    background-color: #F3F3F3;}
td p {color: white;   margin: -8px -8px; padding: 5px 0px 5px 0px;border-bottom: 1px solid; }

/*td h6{     padding: 40px 0px;    float: right;}*/
td h5{      font-weight: 600;     margin-top: -20px;}


.light{border-bottom: 1px solid #EFEFEF !important;}


.multiselect{
    background-color: white;
    margin-top: -40px;
    border-radius: 0;
    width: 175px;
    text-align: left;
    border: 1px solid #B3B1B1;
}

.multiselect:hover
{
    background-color: white;
}

.multiselect-selected-text{
    /*    padding-right: 115px;*/
    font-size: 13px !important;
}

.multiselect-container{
    min-width: 100% !important;
    margin-top: -10px;
    border-radius: 0;
}


.multiselect-container li {
    border-bottom: 1px solid #DEDEDE;
}
.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: white;
    border-color: #adadad;
}

.multiselect-container>li>a>label{
    padding: 5px 20px 5px 30px;
    outline: none;
    background-color: white;
    color: black;
}



.mactive1{
    background-color: #379aaf;
    color: white;
    border-bottom: 1px solid #379AAF !important;
    padding: 0px 10px !important;
    cursor: pointer;
}
.mactive2{
    background-color: #f86b4f;
    color: white;
    border-bottom: 1px solid #f86b4f !important;
    padding: 0px 10px !important;
    cursor: pointer;
}

tr {
    height: 40px;
}
.time-sm{     padding: 0px 0px !important;
    border: none !important;
    width: 75px;
}

.time-sm h6{
    margin-top: -8px;
    font-size: 14px !important;
    color: black;
    font-weight: 600;
}

.table-roww tr{
    height: 45px;
}

.mactive3
{
    background-color: #267368;
    color: white;
    border-bottom: 1px solid #267368 !important;
}
.mactive4
{
    background-color: #267368;
    color: white;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

