
button[disabled], html input[disabled] {
    cursor: default;
    background-color: #E0E0E0;
}

.showIconleftbar{
    position:fixed ;
    margin: -21px 0 0 8px;
    width: 40px;
}
.showContainerleftbar{
    width: 320px;
    height:766px;
    margin:13px 0px 0 -69px;
}
.nav>li>a>img{
    max-width:120px;
    margin-top: 9px;
    height: 36px;
    margin-left: 0 !important;
}
.time-zone-container{
    width: 100%;
    background: rgba(0, 4, 12, 0.7);
    color:#fff;
    position: absolute;
    bottom: 0;
    padding: 4px 28px 4px 41px;

}
.un-prepared-meetings img{
    width: 35px;
    height: 35px;
}
.un-prepared-meetings p{
    font-size: 14px;
}
.un-prepared-meetings span{
    color: #267368;
    font-size: 30pt!important;
    font-weight: 300;
    line-height: 46px;
}
.loosing-inner-section{
    height: 50px;
}

.search-box-conatiner1{
    max-width: 450px;

}
.set-up {
    font-size: 14px!important;
    font-weight: 600!important;
    background: #267368!important;
    color: #fff!important;
    padding: 3px 5px 5px 7px!important;
    margin-left: -83px!important;
}
.networked_contacts h4{
    padding:1px 0 3px 8px;
    font-weight: 600;
}

.user-meeting-list{
    min-height: 75px;
    padding: 6px;
    background: rgb(244, 243, 239);
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}
.user-meeting-list:hover {
    background: rgb(202, 227, 221);
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}

.add-btn{
    margin:0 4px 0 5px;
    font-size: 12px;
    padding: 5px;
}

.message-infotion{
    padding-left: 15px;
}

.heading-container{
    text-transform: uppercase;
    padding:6px 12px 6px 15px;
    background: #E0E0E0;
    font-size: 12px;
}

.heading-container i{
    color: #f86b4f;
    float:right;
    margin-top: 7px;
}

.user-meeting-profile-container{
    width:70px;
    display: inline-block

}

.today-agenda{
    display: inline-block;
    line-height:13px;
    padding: 1px 0 11px 0;
}
.user-meeting-label{
    color: #267368;
    display: inline-block;
    position: absolute;
    line-height: 11px;
    font-size: 13px;
}

.participant-user-designation label,.user-meeting-label label{
    font-weight: 600;
    display: block;
}
.user-meeting-label p{
    font-size: 12px!important;
}

.participant-user-designation p {
    font-size: 15px!important;
}

.user-meeting-label span{
    font-size: 12px!important;
}
.date-month{
    padding-left: 15px;
    font-weight: 400;
}
.upcoming-btn{

    font-size: 13px;
    margin: 1px 0 13px 76px;
}

.touch-containers{
    padding:21px 0 21px 0;
}
.touch-containers>div{

    width: 160px;
    display: inline-block;
}
.input-text{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.prepare-btn{
    font-size: 14px!important;
    font-weight:400;
    border-radius: 0;
    padding: 3px;

}
.btn-go{
    margin-top: 0;
    font-size: 12px;
    margin-left: -43px;
    padding: 3px;
}
.set-up{


    font-size: 14px!important;
    font-weight: 600!important;
    background: #267368!important;
    color: #fff!important;
    padding: 3px 5px 5px 7px!important;
    margin-left: -83px!important;

}
.user-meeting-profile,.meeting-pic,.tab-user-images{
    width: 55px;
    height: 55px;
    border-radius:50%;
    border:2px solid #e9e9e9;
    object-fit: cover;
}
.interaction-container{
    padding: 16px 30px 1px 30px;
}
.input-container{
    margin-top: -13px!important;
}
#demo4{
    margin: 13px auto!important;
    background: #fff;
    position: relative;
    left: -60px;
    width: 80%;
}
.networked_contacts{
    background: #fff!important;

}
.container-for{
    padding: 0px 0 10px 0!important;
}

.interactions{
    line-height: 4px;
}
td p,.interactions{
    font-size: 12px!important;

}
.meeting-with{
    font-size: 12px;
    font-weight: 400;
    border-top: none;
}

.location-informations{
    margin: 0 0 -2px;
    font-weight: 600;

}
/*=====================================
       Custom
=======================================*/

.graph-container{
    width: 100px;
}
.fb{
    width:12px;
    height: 20px;
    background:#A4B8CB;
}
.tw{
    width:12px;
    height: 40px;
    background:#55acee;
}
.ld{
    width:12px;
    height: 60px;
    background:#0077b5;
}
.fb-tw-ld-graph{
    border-radius:3px;
    display: inline-block;
    position: relative;
}

.als-item .profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-top: -15px!important;
    opacity: 0.85;
}
.profile-img2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
}

.import-linkedin-contacts{
    color: #fff!important;
    font-size: 16pt!important;
    font-weight: 400!important;
    background: #267368!important;
    font-size: 14px!important;
    padding: 6px 7px 8px 8px!important;
}
.search {
    background: url('http://icons.iconarchive.com/icons/custom-icon-design/mini/16/Search-icon.png') no-repeat 419px 9px;
}
.search-btn1{
    background-color: #fff;
    border-radius: 3px;
}
/*==================================================
          MEETING DETAILS INFORMATION
====================================================*/
.meeting-details-information{
    padding:18px 0 0 20px;
    background:#eee;
    border-bottom: 1px solid #e1e1e1;
}
.meeting-details-information h3{
    margin-top: 0px;
}
.time-container {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid;
}
.meeting-location-inner-container{
    line-height: 15px;
}
.meeting-place-info{
    width: 300px;
    display: inline-block;
}
.meeting-date-info{
    width: 500px;
    display: inline-block;
    position: absolute;

}
.meeting-location-inner-container p{
    font-size: 12px!important;
    text-transform: uppercase;
}
.meeting-location-inner-container label{
    font-size: 14px!important;
    font-weight: 400!important;
}
.btn-container-for-upload{
    height: 40px;
}
.l a,.btn-container-for-upload a{
    color: #fff;
    font-weight: 600;
    background: #267368;
    font-size: 12px;
    padding:4px 8px 7px 7px!important;
}
.upload-document{
    font-size: 12px;
    padding:3px 6px 5px 7px!important;
    border-radius: 0;
}

.meeting-after-before-container{
    padding: 3px 0 3px 20px;
    background: rgba(221, 221, 221, 0.79);
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    font-size: 12px;
}


.meeting-after-before-container span,.meeting-before-container span{
    font-size: 14px!important;
}
.meeting-before-container label,.meeting-after-before-container label{
    font-weight: 400;
}
.skype-icons{
    margin-left: 100px;
}

/*==============================================
           loading bar
================================================*/
.progress-pie-chart.gt-50 {
    background-color: #f86b4f;
}
.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    /*left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    */
    left: calc(63% - 100px);
    top: calc(63% - 100px);
    width: 147px;
    height: 147px;
    clip: rect(0, 105px, 200px, 0);
    background:#f86b4f;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}
.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;/*
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;*/


    left: calc(50% - 110px/2);
    top: calc(50% - 110px/2);
    width: 110px;
    height: 110px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #777;
}
.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.pcc-percents-wrapper span{
    font-weight: 300!important;
    font-size: 40pt!important;
}
.progress-pie-chart {
    margin:1px auto 23px;
}
.progress-pie-chart {
    /*width: 200px;
    height: 200px;*/
    width: 145px;
    height: 145px;

    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}


/*===================================================
          INTERACTIONS RELATIOSHIP PAST 90 DAYS
=====================================================*/

.interations-relationship-past-90-days{}

.loading-bar-for-interaction .loading-bar-for-interaction-number{
    background:#f86b4f;
    color: #fff;
    padding:6px 4px 6px 4px;
}

.loading-bar-for-interaction .loading-bar-for-interaction-number2{
    background:#f86b4f;
    color: #fff;
    padding: 6px 8px 7px 7px;
    opacity: .3;
}

.interactions-initiations{
    padding:0 0 10px 0;
    width: 491px;
    display: inline-block;
}
.relationship-strength{
    padding:0 0 10px 0;
    width: 491px;
    display: inline-block;
    position: absolute;
}

.loading-bar-for-interaction-number{
    margin-top: 30px;
}
/*===============================
             timeline
=================================*/

.invite-team-members>div{
    display: none;
}
.timeline1-sec{
    border: 1px solid #ddd;
    min-height: 180px;
    padding: 20px 20px 25px 20px;
}
.facebook-linkedin-twitter{
    padding: 10px;
    background: #eee;
    margin-bottom: 5px;
    font-size: 12px;
    margin: 0 auto 5px auto;
}

.timeline1-sec-dot{
    margin:13px 11px 0 -10px;
    width: 10px;height: 15px;
    padding:6px;
    position:absolute;
    border:3px solid #fff;
    background:#f86b4f;
    border-radius: 50%;
    z-index: 99;
}
.time-info-details {
    line-height: 2px;
    margin-top: 14px;
    font-size: 12px;
}
.document-timeline{
    margin-top: 1px;
}
.view-fb-btn{

    font-weight: 600;
    border-radius: 2px;
    background: #267368;
    font-size: 12px;
    padding: 4px 8px 2px 7px!important;
    float: right;
    margin: -4px;
}
.documents-icons{
    width: 22px;
    float: left;
}
#send-email-container,.close-email-btn,.email-view-container{
    display: none;
}
pre{
    background: #fff;
    border: none;

}
.relationship-label{
    font-size: 15px;
    margin-bottom: 14px;
}
/*============================
      Tabs for Participant
=============================*/

.participant-container{
    margin-top: 15px;
}
.tabs>div{
    margin-left:20px;
    padding:10px 10px 0 10px;
    display: inline-block;
    cursor: pointer;
}
.meeting-Participants{
    margin-left: 6px;

}
.meeting-Participants-heading{
    text-transform: uppercase;
    font-size: 12px!important;
    word-spacing: 3px;
}

.meeting-Participants-heading,.connected-via-container p {
    margin-bottom: 0px;
}

.participant-divss{
    padding:4px 26px 10px 25px;
    display: none;
    background: rgb(241, 243, 240);
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 10px;
}
.tab-user-list{
    background: rgb(241, 243, 240);
    border: 1px solid #e1e1e1;
    border-bottom: 0;
}
.favourite,.connected-via-container a,.relationship-container a{
    background: #fff!important;
    color: #777;
    font-size: 14px!important;
    margin-right: 5px;
    padding: 3px 6px;
    margin-bottom: 0px;
    }
/*=============================================
                message popup
===============================================*/
.decline-popup{
   display: none;
    z-index: 999;
    padding: 8px;
    margin-top: 10px;
    width: 267px;
    height: 130px;
    background-color: #fafafa;
    position: absolute;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #eee;
}

.confirm-popup {
    display: none;
    z-index: 999;
    padding: 8px;
    margin-top: 10px;
    width: 267px;
    height: 168px;
    background-color: #fafafa;
    position: absolute;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #eee;
}
.re-schedule-popup {
    display: none;
    z-index: 999;
    padding: 10px 8px;
    margin-top: 10px;
    width: 290px;
    height: 255px;
    background-color: #fafafa;
    position: absolute;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #eee;
}

.re-schedule-popup  input {
    margin-bottom: 2px;
    height: 25px;
    padding: 0 5px;
    word-spacing: 5px;
}

.decline-popup:after,.decline-popup:before,.confirm-popup:after,.confirm-popup:before,.re-schedule-popup:after, .re-schedule-popup:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    width: 0;
}
/*
.decline-popup:after,.confirm-popup:after,.re-schedule-popup:after {
    border-width: 9px;
    border-bottom-color: #fff;
    top: -18px;
    left: 51px;
}

.decline-popup:before,.confirm-popup:before,.re-schedule-popup:before {
    border-width: 11px;
    border-bottom-color: #f86b4f;
    top: -22px;
    left: 49px;
}*/
.close-button,.re-schedule-button{
    margin-top: 5px;

}

.text-color-red{
    color: #ff6449;
}

.disabled {
    z-index: 1000;
    opacity: 0.6;
    pointer-events: none;
}

.disabled-see-more{
    z-index: 1000;
    opacity: 0.6;
    pointer-events: none;
}

.arrow-prev, .arrow-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}