body{
    font-family: 'Lato', sans-serif!important;
}
.time-zone-container{
    width: 100%;
    background: rgba(0, 4, 12, 0.7);
    color:#fff;
    position: absolute;
    top: 168px;
    padding: 4px 28px 4px 41px;

}
.user-activity-container h1{
    font-size: 24pt;
    padding-top: 21px;
    font-weight: 300;
    margin-bottom: 35px;
}
.botton-container{
    margin-top: 24px;
}
.connection_container{
    margin-top: 6px;
}
.button-background{
    font-size: 16pt!important;
    background: #eee;
}
.user-activity-container a{
    font-size: 24pt;
    background: #eee;
    color: #267368;
    margin-left: 1px;
    padding: 5px 24px 14px 27px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    font-weight: 300;
}
.activities-button{
    font-size: 24pt!important;
    background: #eee;
    color: #eee;
    padding: 5px 43px 14px 38px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    margin-right: 1px;
}

.activities-info-today{
    padding: 15.5px 271px 16.29px 16px;
}
.loosing-touch-button{
    padding: 15.5px 221px 16.29px 16px;
}
.not-responded-button{
    padding: 15.5px 140px 16.29px 16px;
}
.notification-button{
    padding: 15.5px 328px 16.29px 16px;
}
.search_box_container{
    width: 705px!important;
}
.search-button{
    padding:16px 20px 16.29px 16px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.search-btn{
    margin-left: 199px;
    width: 116px;
    font-size: 14px;
    font-weight: 400;
}
.search_box{
    width: 705px;
    margin: 11px auto;
    background:#F8F8F8 ;
    padding:20px 0 10px 0;
}
.search_box p{
    line-height: 10px;
    font-size: 15px;
}

.intraction-button{
    padding: 16px 20px 16.29px 16px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.contacts-btn{
    margin-left: 124px!important;
}
.posting-btn{
    margin-left: 70px!important;
}
.contacts-posting-button{
    padding: 16px 20px 16.29px 16px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.visite-btn{
    margin-left:289px!important;
}
.visite-button{
    padding:16px 20px 16.29px 16px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.user-activity-container{
    margin-bottom: 100px;
    margin-left: 70px;
    //border: 1px solid red;
}
.user-activity-container{

}

/*=====================================
       Custom
=======================================*/
p{
    font-size: 15px!important;
}
.graph-container{
    width: 100px;
}
.fb{
    width:12px;
    height: 20px;
    background:#3b5998;
}
.tw{
    width:12px;
    height: 40px;
    background:#0099e5;
}
.ld{
    width:12px;
    height: 60px;
    background:#0077b5;
}
.fb-tw-ld-graph{
    border-radius:3px;
    display: inline-block
}
.als-item .profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-top: -15px!important;
    opacity: 0.85;
}
.profile-img2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.import-linkedin-contacts{
    color: #fff!important;
    font-size: 16pt!important;
    font-weight: 400!important;
    background: #267368!important;
    font-size: 14px!important;
    padding: 6px 7px 8px 8px!important;
}
.search {
    background: url('http://icons.iconarchive.com/icons/custom-icon-design/mini/16/Search-icon.png') no-repeat 419px 9px;
}
.search-btn1{
   background-color: #fff;
    border-radius: 3px;
}
/*========================================
         CSS for Series-03
==========================================*/
.left-aside-for-user-meeting{
    background: #F8F8F8;
    margin-top: -9px;
}
.aside-left{
    width:230px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: -993px;
}

.right-aside{
    //width: 76.9%;
    //display: inline-block;
    //position: absolute;
    //border: 2px solid red;
}
h4{
    padding:11px 0 3px 15px;
    font-weight: 600;
}
.networked_contacts h4{
    padding:1px 0 3px 15px;
    font-weight: 600;
}

.user-meeting-list{
    min-height: 77px;
    padding: 6px;
    background: #F8F8F8;
    cursor: pointer;
}
.add-btn{
    margin-top: 0!important;
    font-size: 12px;
    padding: 5px;
    margin-left: 90px;

}
.message-infotion{
    padding-left: 15px;

}
.heading-container{
    text-transform: uppercase;
    padding:6px 12px 6px 15px;
    background: #E0E0E0;
}
.fa-clock-o,.fa-skype,.fa-phone,.fa-map-marker,.fa-envelope,.fa-star,.fa-file,.i-color{
    color: #f86b4f;
}
.heading-container i{
    color: #f86b4f;
    float:right;
    margin-top: 7px;
}
.user-meeting-profile-container{
    width:70px;
    padding: 3px;
    display: inline-block

}


.today-agenda{
    display: inline-block;
    line-height:13px;
    padding: 1px 0 11px 0;
}
.user-meeting-label{
    color: #267368;
    display: inline-block;
    position: absolute;
    line-height: 11px;

}

.participant-user-designation label,.user-meeting-label label{
    font-size: 14px;
    font-weight: 400;
}
.participant-user-designation p,.user-meeting-label p{
    font-size: 12px!important;
}
.user-meeting-label span{
    font-size: 12px!important;
}
.date-month{
    padding-left: 15px;
    font-weight: 400;
}
.upcoming-btn{

    font-size: 13px;
    margin: 1px 0 13px 76px;
}

.un-prepared-meetings img{
    width: 35px;
    height: 35px;
}
.un-prepared-meetings p{
    font-size: 14px;
}
.un-prepared-meetings span{
    color: #267368;
    font-size: 30pt!important;
    font-weight: 300;
    line-height: 46px;
}
.loosing-inner-section{
    height: 50px;
 }
.touch-containers{
    padding:21px 0 21px 0;
}
.touch-containers>div{

    width: 160px;
    display: inline-block;
}
.input-text{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.prepare-btn{
    font-size: 14px;

}
.btn-go{
    font-size: 12px;
    margin-left: -12px;
    padding: 4px;
    margin-top: 0;
}
.set-up{


    font-size: 14px!important;
    font-weight: 600!important;
    background: #267368!important;
    color: #fff!important;
    padding: 3px 5px 5px 7px!important;
    margin-left: -83px!important;

}
.interaction-container{
    padding: 16px 30px 1px 30px;
}
.input-container{
margin-top: -13px!important;
}
#demo4{
    margin: 13px auto!important;
    background: #fff;
}
.networked_contacts{
    background: #fff!important;
    padding: 16px 30px 1px 30px;

}
.container-for{
    padding: 0px 0 10px 0!important;
}
td{
    color: #267368;
    border-right: 1px solid #eee;
}
.interactions{
    line-height: 4px;
}
td p,span,.interactions{
    font-size: 12px!important;

}
.meeting-with{
    font-size: 12px;
    font-weight: 400;
    border-top: none;
}

table{
    border-bottom: 1px solid #eee;
}

/*=============================================
             Series 03 third pages
==============================================*/
/*=====================
       Tab CSS
=======================*/

.meeting-participants-container{
    text-align: left;
    border: 1px solid #ccc;
}
.meeting-Participants-heading{
    padding: 12px 0 2px 20px;
    text-transform: uppercase;
    font-size: 12px!important;
}
.tab-container{
    padding:10px 0 10px 28px;
    background:#eee;
    min-height: 100px;
    width: 100%;
}
.connected-via-container p,.relationship-container p{
    font-size: 12px!important;
    text-transform: uppercase;
}

.user-meeting-profile,.meeting-pic,.tab-user-images{
    width: 55px;
    height: 55px;
    border-radius:50%;
    border:2px solid #ccc;
}
.user-relationship{
    color: #267368;
    font-size: 14px;
    font-weight: 400;
}
.tab-container .connected-via-container a{
    background: #fff;
    border-radius: 0!important;
    font-size: 14px!important;
    padding: 7px 16px 9px 19px!important;
}
.fa-facebook-official{
    color: #3b5998;
}
.fa-linkedin-square{
    color: #0077b5;
}
.fa-twitter-square{
    color: #0099e5;
}

/*==============================================
           loading bar
================================================*/
.progress-pie-chart.gt-50 {
    background-color: #f86b4f;
}
.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background:#f86b4f;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}
.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #777;
}
.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.pcc-percents-wrapper span{
    font-weight: 300!important;
    font-size: 40pt!important;
}
.progress-pie-chart {
    margin:1px auto 23px;
}
.progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}

/*==================================================
          MEETING DETAILS INFORMATION
====================================================*/
.meeting-details-information{
    padding:18px 0 0 20px;
    background:#eee;
}
.meeting-details-information h3{
    margin-top: 0px;
}
.time-container {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid;
}
.meeting-location-inner-container{
    line-height: 15px;
}
.meeting-place-info{
    width: 300px;
    display: inline-block;
}
.meeting-date-info{
    width: 500px;
    display: inline-block;
    position: absolute;

}
.meeting-location-inner-container p{
    font-size: 12px!important;
    text-transform: uppercase;
}
.meeting-location-inner-container label{
    font-size: 14px!important;
    font-weight: 400!important;
    //line-height: 10px;
}
.l a,.btn-container-for-upload a{
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    background: #267368;
    font-size: 12px;
    padding:4px 8px 7px 7px!important;
}
.upload-document{
    font-size: 12px;
    padding:3px 6px 5px 7px!important;
    border-radius: 0;
}

.meeting-before-container{
    background: #ddd;
    margin: -15px 0 10px 0;
    padding: 5px 0 5px 40px;
}
.meeting-after-before-container{
    margin-top: 15px;
    padding: 5px 0 5px 40px;
    background: #ddd;

}
.meeting-after-before-container span,.meeting-before-container span{
    font-size: 14px!important;
}
.meeting-before-container label,.meeting-after-before-container label{
    font-size: 14px;
    font-weight: 400;
}
.skype-icons{
    margin-left: 100px;
}
/*===================================================
          INTERACTIONS RELATIOSHIP PAST 90 DAYS
=====================================================*/

.interations-relationship-past-90-days{}

.loading-bar-for-interaction .loading-bar-for-interaction-number{
    background:#f86b4f;
    color: #fff;
    padding:10px 7px 9px 7px;
}

.loading-bar-for-interaction .loading-bar-for-interaction-number2{
    background:#f86b4f;
    color: #fff;
    padding: 10px 10px 9px 10px;
    opacity: .3;
}

.interactions-initiations{
    padding:0 0 10px 0;
    width: 491px;
    display: inline-block;
}
.relationship-strength{
    padding:0 0 10px 0;
    width: 491px;
    display: inline-block;
    position: absolute;
}

.loading-bar-for-interaction-number{
    margin-top: 30px;
}

.top-trending-button{
    margin: auto;
    background:#eee;
    max-width: 840px;
}
.invite-meeting-details-section{
    margin: 16px auto!important;
    background: #fff!important;
}
.common-Connection-box{
    margin: 2px auto!important;
}
.conmmon-connection-and-invite-member-container{
    background: #fff!important;
}
.conmmon-connection-box,.invite-team-members-container{

}


/*====================================
         Email Compose Form
======================================*/
.form{
    border-radius: 5px;
    border: 1px solid #ccc;
 }
.attach-document{
    margin-top: 5px;
    border-radius: 3px;
}
.compose-text-box{
    border: none;
}
.cancel-message{
    margin: 10px 0 10px 0;
    font-size: 14px!important;
    font-weight: 600!important;
    background:#eee;
    border:1px #eee solid!important;
    color: #777!important;
    padding: 3px 5px 5px 7px!important;

}
.send-message{
    margin: 10px 0 10px 0;
    font-size: 14px!important;
    font-weight: 600!important;
    background: #267368!important;
    border:1px #267368 solid!important;
    color: #fff!important;
    padding: 3px 5px 5px 7px!important;
}

.compose-email-container{
    display: none;
}