/*Website only CSS*/


.fs-14   {
    font-size: 14px;
}

.fs-12   {
    font-size: 12px;
}

.margin-tb25 {
    margin: 25px 0 !important;
}

.fs-16 {
    font-size: 16px;
}

.su-bg-grey {
    background: #F1EFF0 !important;
}

.profile-pic {
    width: 120px;
}

.login-btns .popover {
    max-width: 325px;
    border-radius: 3px;
}

.login-btns li > a {
    color: #fff !important;
    width: 225px;
    display: inline-block;
    border-radius: 2px;
    font-size: 17px !important;
    font-weight: 500;
    cursor: pointer;
    padding-right: 30px;
}

.login-btns li:nth-child(1) > a {
    /*background-color: #DC4E41;*/
}

.login-btns li {
    line-height: 0 !important;
    margin: 11px 0;
}

.login-btns li:nth-child(2) > a> img {
    width: 225px;
    border-radius: 2px;
}

.login-btns li:nth-child(3) > a {
    background-color: #0072C5;
}

.login-btns li:nth-child(1) > a > img {
    width: 225px;
    vertical-align: middle;
}

.signup, .register {
    border-right: 1px solid #ccc;
    padding-top: 70px;
}

.register-retail {
    border-right: 1px solid #ccc;
    padding-top: 100px;
}

#company-logo {
    max-width: 184px;
}

.register ul>li{
    line-height: 57.5px;
}

.signup h4, .signup ul, .signup p, .register h4, .register ul, .register p {
    text-align: center;
}

.register h4 {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

.signup p {
    font-size: 12px;
    font-weight: 600;
}

.nav-tabs li > p {
    opacity: .5;
}

.nav-tabs > .active > p {
    opacity: 1;
}

.signup-right {
    padding-top: 70px;
    background: #f7f7f7;
}

.signup-right-2 {
    padding-top: 70px;
    background: #F6F5F1;
}

.signup-right img, .signup-right-2 img {
    max-width: 100%;
}

.signup-sprite {
    background: url('/images/signup-sprite.jpg') no-repeat top center;
}

.su-g {
    background-position: 0px 0px;
    padding: 18px 131px;
}

.su-e {
    background-position: 0px -58px;
    padding: 18px 131px;
}

.su-o {
    background-position: 0px -118px;
    padding: 18px 131px;
}

.su-f {
    margin-top: 35px;
    text-align: center;
}

.su-f img {
    width: 27px;
    margin: 5px 3px;
}

.su-f a {
    font-size: 12px;
    color: #267368;
}

#info-show {
    margin: 10px auto;
    width: 27%;
}

#info-show span {
    font-weight: bold;
}

#info-show:hover {
    cursor: pointer;
}

#info-show span:hover {
    color: #267368;
    text-decoration: underline;
    cursor: pointer;
}

.su-form label {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0 6px 10px;
}

.su-form {
    margin-bottom: 10px;
}

.su-form .fa-info-circle {
    font-size: 14px;
    padding-top: 10px;
}

.list-unstyled > li > a {
    color: #267368;
    font-size: 12px;
}

.add-social-acc {
    width: 275px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

.info-pos {
    position: absolute;
    right: -25px;
    top: 0px;
    bottom: 0;
    margin: auto;
    font-size: 16px !important;
    color: #267368;
    background: #fff;
    border-radius: 50%;
    height: 16px;

}

.add-social-acc .fa {
    font-size: 28px;
}

.add-social-acc p {
    font-size: 14px !important;
    margin: 0 3px;
    line-height: 30px;
    font-weight: 300 !important;
}

.add-social-acc div.pull-left {

}

.add-social-acc .clearfix {
    width: 275px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding: 2px;
    margin: 5px 0;
    position: relative;
}

.add-social-acc .btn-primary {
    margin: 0;
}

.carousel-control.right, .carousel-control.left {
    background: none;
}


.carousel-control .icon-prev, .carousel-control .icon-next,
.carousel-control .fa-chevron-left, .carousel-control
.glyphicon-chevron-right, .fa-chevron-left,
.carousel-control .fa-chevron-right,
.carousel-control .fa-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.rm-visibility {
    cursor: pointer;
    color: #267368;
}

.rm-visibility:hover {
    color: #F86A52;
}

.rm-visibility-selected {
    cursor: pointer;
    color: #267368;
}

.rm-visibility-unselected {
    cursor: pointer;
    color: #F86A52;
}

.fa-info-circle {
    color: #267368;
    font-size: 9px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.wizard {
    margin: 20px auto;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    width: 80%;
    border-bottom-color: #e0e0e0;
    border-bottom: none;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 4px;
    background: #49B5A6;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 18%;
    z-index: 1;
    border-radius: 5px;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
    background-color: transparent;
}

.wizard .nav-tabs > li.active > a > span.round-tab:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #ffffff;
    font-size: 1.55em;
    position: absolute;
    left: 0;
    right: 0;
    top: -4px;
}

span.round-tab {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100px;
    background: #49B5A6;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
}

.round-tab .fa {
    color: #fff;
    font-size: 20px;
    margin: 0
}

span.round-tab i{
    color:#555555;
}

.wizard .nav-tabs > li {
    width: 16%;
}

.wizard .nav-tabs > li a {
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
    text-align: center;
}

.wizard .tab-pane p {
    font-size: 14px;
    font-weight: 500;
}

.wizard .tab-pane h4 {
    margin-bottom: 5px;
    font-weight: 600;
}

.wizard h3 {
    margin-top: 0;
}

.wizard li.active span.round-tab i {

}

.add-acc-accordion {
    width: 67%;
    margin: 10px auto;
    min-width: 200px;
    max-height: 250px;
    overflow-y: auto;
}

.add-acc-accordion h4 {
    text-align: left;
    font-size: 14px;
}

.add-acc-accordion .panel-heading {
    padding: 5px 15px;

}

.add-acc-accordion .list-unstyled {
    text-align: left;
}
#domainTable tbody > tr > td {
    margin: 1px 0;
    text-align: left;
}

.panel-collapse {
    height: 175px;
    overflow-y: auto;
}

.auth-outlook-google-img > a {
    cursor: pointer;
}

.auth-outlook-google-img > a > img {
    border-radius: 5px;
    width: 180px;
    height: 35px;
}

.auth-outlook-google-img a:nth-child(2) img {
    border: 1px solid #eb3c00
}

@media (max-width: 768px) {
    .col-height {
        height: 100% !important;
    }

    .su-form .col-sm-5 {
        margin: 5px 0;
    }

    .profile-pic {
        width: auto;
    }
}

/*@media( max-width : 585px ) {*/

    /*.wizard {*/
        /*width: 90%;*/
        /*height: auto !important;*/
    /*}*/

    /*span.round-tab {*/
        /*font-size: 16px;*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height: 50px;*/
    /*}*/

    /*.wizard .nav-tabs > li a {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*line-height: 50px;*/
    /*}*/

    /*.wizard li.active:after {*/
        /*content: " ";*/
        /*position: absolute;*/
        /*left: 35%;*/
    /*}*/
/*}*/