/*@media screen and (min-width: 320px) {*/
@media only screen and (min-device-width: 320px) {
    #wrapper {
        padding-top: 54px;
    }
    .navbar-nav li a img{
        width: 120px;
        margin-top: 9px;
    }
    .image-placeholder-big{
        width: 85px;
        height: 85px;
    }
    .user_Name_profile{
        margin-top:0;
    }
    .profile_information>div h1 {
        font-size: 23px;
        width: 200px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    .profile_information>div h2 {
        font-size: 18px;
        width: 200px;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    .confirmation-message label {
        font-size: 8pt;
        padding: 13px 0 9px 0!important;
        font-weight: 400;
    }
    .confirm-cross-icon {
        float: right;
        margin: 9px 30px 0 0;
        cursor: pointer;
        font-size: 1.5em;
    }
    .download-btn{
        font-weight: bold;
        font-size: 7px;
        margin: 20px 0 28px 0;
        padding: 5px 12px 4px 10px;
        border-radius: 94px;
        }
    /*=======================================================================
               CUSTOM CSS FOR SET MEETING SCHEDULE (320px to 480px)
     =======================================================================*/
    .setup_meeting b{
        font-weight: 400;
    }
    .btn-primary {
        border-radius: 0;
        font-size: 12px;
    }
    #social_intelligence_container > .row h3 {
        font-size: 14pt;

    }

    /*===== USER CALENDAR CSS FOR SET MEETING SCHEDULE (320px to 480px)=====*/
    .available_time{
        font-size:14pt;
    }
    .slot_left {
        border: 1px solid #ccc;
        padding: 6px;
        display: inline-block;
        position: relative;
    }
    .slot_left span{
        font-size:16px;
    }
    .slot_left p{
        font-size:14px;
    }
    .slot_right {
        /*width: 80px;*/
        padding: 0 0 0 35px;
        position: relative;
        display: inline-block;
    }
    .slot_right span{
        font-size:14px;
    }
    .slot_right p{
        font-size:14px;
    }
    .pres{
        width:50px;
        position: absolute;
        margin: 129px 0 0 -38px;
    }
    .next{
        width:50px;
        float:right;
        margin:-128px -37px 0 0;
    }
    .profile_link span{
        width:158px;
        margin: 3px -7px 0 0 !important;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
    .meeting-details {
        padding-left: 0;
        padding-right: 0;

    }

}


@media only screen and (min-device-width: 480px) {
    #wrapper {
        padding-top: 54px;
    }
}


@media only screen and (min-device-width: 768px) {

    .image-placeholder-big{
        width: 100px;
        height: 100px;
    }
    .profile_information>div h1 {
        width: 360px;
        font-size: 24pt;

    }
    .profile_information>div h2 {
        font-size: 18pt;
        width: 360px;
    }
    footer .pull-left {
        width: 100%
    }
    footer .pull-right {
        float: none!important;
        padding-left: 20px;
        position: relative;
        top: 20px;
    }
    .past_companies ul li {
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 100%;
    }
    #social_intelligence_container > .row .col-md-12.tweets span.tweets_time a {
        width: 75px;
        margin: 0 auto;
        box-shadow: none;
    }
    .calendar_slot .calendar_row .calendar_col {
        cursor: pointer;
        white-space: nowrap;
    }
    .slot_information .row .label_col {

    }
    .slot_information .row .value_col {
        //font-weight: normal!important;
    }
    .slot_information .row .label_col:after {
        content: ''
    }

    /*================================================================
                         CUSTOM CSS FOR SET MEETING SCHEDULE
    ==================================================================*/
    .setup_meeting b{
        font-weight: 600;
    }
    .btn-primary {
        border-radius: 0;
        font-size: 16px;
    }
    #social_intelligence_container > .row h3 {
        font-size: 16pt;
    }

/*    USER CALENDAR CSS FOR SET MEETING SCHEDULE*/

    .available_time{
     font-size:18pt;
    }
    .slot_left {
        border: 1px solid #ccc;
        padding: 6px;
    }
    .slot_left span{
        font-size:18pt;
    }
    .slot_left p{
        font-size:16px;
    }
    .slot_right span{
        font-size:16px;
    }
    .slot_right p{
        font-size:16px;
    }
    .slot_right {
        /*min-width: 100px;*/
    }

    .pres{
        width:78px;
        margin: 156px 0 0 -21px;
    }
    .next{
        width:78px;
        margin:-166px -19px 0 0;
    }

    .confirmation-message label {
        font-size: 15pt;
        padding: 13px 0 9px 0!important;
        font-weight: 400;
    }
    .confirm-cross-icon {
        float: right;
        margin: 9px 30px 0 0;
        cursor: pointer;
        font-size: 2em;
    }
    .meeting-details {
        padding-left: 53px;
        padding-right: 0;
        font-size: 15px;
    }
.value_col{
    margin-left: 0!important;
}
    .download-btn{
        font-size: 16px;
        margin-top: 18px;
        padding: 5px 12px 4px 10px;
    }

}
@media only screen and (min-device-width: 1024px) {



}
