
<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Notifications | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<!--<div class="navigation-container">-->
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>
<!--</div>-->

<div class="page-wrapper row clearfix">
    <div class="contact-list-hidden-xs col-md-3 padding-r0">
        <div class="contacts-list-v2">
            <div>
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'">
                </div>
            </div>
        </div>
    </div>

    <div class="opportunity-page tasks">
        <div class="row wrapper">
            <div class="col-md-12 main notifications">
                <div class="row" ng-controller="notificationController">
                    <div class="col-md-9 notifications-wrapper">
                        <div class="box-ui notification-header">
                            <h3>[[notificationHeaderText]]</h3>
                            <p>Click on the notification to view the details</p>
                        </div>
                        <div style="margin-top: 10%">
                            <div class="row" ng-repeat="row in rows" ng-show="visibility.showNotification">
                                <div class="col-md-12">
                                    <div class="col-md-4" ng-repeat="notification in row">
                                        <div class="box-ui notification-main-box" style="[[notification.style]]" ng-click="redirectNotification(notification)">
                                            <div class="notification-box-header" style="[[notification.style]]">
                                                <h5 class="notification-title">[[notification.notificationTitle]]</h5>
                                                <p>[[notification.formattedDate]]</p>
                                            </div>
                                            <div class="notification-message">
                                                [[notification.notificationBody]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="float: none; margin-left: auto; margin-right: auto;" ng-show="!visibility.showNotification">
                                    <div class="box-ui notification-header">
                                        <p>You have no notifications.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

    });

</script>

<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/notifications/index.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
