<!DOCTYPE html>
<html data-ng-app="reletasApp" class="ng-scope">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas provides out-of-the-box smart notifications for your interactions across various networks.">
    <meta name="author" content="Relatas">
    <title>Notifications | Relationship Intelligence | Relatas</title>
    <!--scroll bar-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="../stylesheets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="../stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/mediaq.css" rel="stylesheet">
    <link href="../stylesheets/css/Mediaquery.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="../stylesheets/css/toastr.css" rel="stylesheet">
    <script src="../javascripts/schedule/jquery.js"></script>
    <script src="../javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="../javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../javascripts/moment.js"></script>
    <script src="../javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="../javascripts/schedule/scheduleIntegration.js"></script>
    <script type="text/javascript" src="../javascripts/notifications/notifications.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);
            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document, 'script', 'twitter-wjs');
    </script>
    <style>

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: -34px;
            }
            /*.form-width {*/
            /*width: 100% !important;*/
            /*}*/
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }

            .nav>li>a>img {
                height: 30px;
                width: 85px;
            }
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    <script>
        $(document).ready(function(){
            $("body").on("click",".open-leftbar",function(){
                $("#sidebar-wrapper").toggle();
            });
        });
    </script>
</head>
<body style="overflow-x: hidden;" ng-cloak>
<div id="header-v2" data-ng-include="'/schedule/header_no_mid'"></div>

<div id="wrapper">
    <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}} toggle-sidebar" id="{{disableNav}}" style="margin-top: 0px !important;"></div>
    <div id="page-content-wrapper" userId="{{userId}}" slotDuration="{{slotDuration}}" timezone="{{timezone}}">
        <div class="container-fluid">
            <div class="row notifs margin-l55 ng-cloak" data-ng-controller="notifications_page_data_controller">
                <div class="col-sm-1 col-sm-offset-2 col-xs-offset-2 notifs-total">
                    <p>[[sumOf1]]</p>
                    Total
                </div>
                <div class="col-xs-6 col-sm-1">
                    <p>[[counts.emailAwaitingResponses]]</p>
                    Awaiting Response
                </div>
                <div class="col-xs-6 col-sm-1">
                    <p>[[counts.emailResponsesPending]]</p>
                    Pending Response
                </div>
                <div class="col-xs-6 col-sm-1">
                    <p>[[counts.losingTouchCount]]</p>
                    Losing Touch
                </div>
                <div class="col-xs-6 col-sm-1">
                    <p>[[meetingsInvitations]]</p>
                    Meeting Invitations
                </div>
                <!--<div class="col-xs-6 col-sm-1">-->
                    <!--<p>34</p>-->
                    <!--Document-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-1">-->
                    <!--<p>34</p>-->
                    <!--Messages-->
                <!--</div>-->
                <div class="col-xs-6 col-sm-1">
                    <p>[[openTasksCount]]</p>
                    Tasks
                </div>
            </div>
            <div class="row margin-l55">
                <table class="table table-hover table-striped table-padding tb-vertical-line row-border hover no-footer">
                    <colgroup>
                        <col width="80">
                        <col width="125">
                        <col width="325">
                        <col width="100">
                    </colgroup>
                    <thead>
                    <tr class="grey-bg font-12">
                        <th>Pending Since</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">12 July 2015</th>
                        <td>Mark</td>
                        <td>Layouts</td>
                        <td>@resend</td>
                    </tr>
                    <tr>
                        <th scope="row">12 July 2015</th>
                        <td>Mark</td>
                        <td>Layouts</td>
                        <td>@resend</td>
                    </tr>
                    <tr>
                        <th scope="row">12 July 2015</th>
                        <td>Mark</td>
                        <td>Layouts</td>
                        <td>@resend</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "timeOut": "8000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $('.fa-chevron-down').click(function(){
            var scrollHeight = $(window).scrollTop();
            var stotsPosition   =   $('.set_meeting_slots').position().top;
            var sectionPosition = $('.banner-section').position().top;
            var sectionHeight = $('.banner-section').height();
            var sectionPositionEnd =   sectionPosition + sectionHeight;
            if(scrollHeight >= 0) {
                $('html, body').stop().animate();
                var scrollSection = ".common-connection-container";
                scrollToAnchorTooSlow(scrollSection);
            }
            else{
                alert("False");
            }
        });
        function scrollToAnchorTooSlow(scrollSection){
            var aTag = $(scrollSection);
            $( "html,body" ).animate({scrollTop: aTag.offset().top}, { duration: 1000,
                specialEasing: {
                    width: "linear",
                    height: "easeOutBounce"
                },
                complete: function() {
                    _animateValidate = true;
                }
            });
        }
    })
</script>

<script src="/Today_files/moment.js"></script>
<script src="/Today_files/moment-timezone.js"></script>
<script src="/Today_files/toastr.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
</body>
</html>
