@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
    font-family: 'Lato', sans-serif !important;
}

.container-fluid{
    margin-top: -15px;
}

.account-management table tr.cursor:hover {
    background: rgb(202, 227, 221);
}

.textP {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 54%;
}

.user-report {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.user-report tr {
    border-bottom: 1px solid #eee;
}

.user-report th {
    padding: 0 5px;
    background: #e5e5e5;
    border-bottom: 1px solid #ccc;
}

.user-report td {
    max-width:175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px 5px 0;
}

/*left nav*/
.liCommonClass {
    color: black;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
    color: #004d40;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.col-height {
    overflow-y: auto;
}

.liCommonClass img {
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #acc;
    vertical-align: middle;
    float: left;
}

.liCommonClass:hover {
    background: #DAEBE2;
}

.designation {
    margin-left: 10px;
    color: #00796b;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.textImage {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    font-weight: 300;
    line-height: 40px;
}

.chartUl {
    padding: 0px;
    margin: 0px;
}

/*chart node*/

.alert-messages {
    height: 55px;
    border-top: 1px solid #ddd;
    background: #F2F3F5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.google-visualization-orgchart-table .node {
    font-family: 'Lato', sans-serif !important;
    color: #555;
    cursor: pointer;
    background: #DAEBE2;
    box-shadow: 2px 1px 1px #aaa;
    border-radius: 2px;
    line-height: 10px;
    text-align: left;
}

.google-visualization-orgchart-table .node:hover {
    box-shadow: 2px 2px 5px gray;
}

.google-visualization-orgchart-table .node img {
    border: 1px solid #acc;
    margin: 2px 10px !important;
}

.google-visualization-orgchart-table .nodeSelected {
    background:  #86BEAE !important;
    color: white;
    box-shadow: 1px 1px 3px white;
}

.google-visualization-orgchart-table .nodeSelected:hover {
    background: #86BEAE;
    box-shadow: 1px 1px 3px white;
}

.name {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.on {
    background: #86BEAE;
}

/*divs*/
.chart_scroll {
    background: white;
    padding: 20px;
    position: absolute;
    width: 100%;
    overflow-x: auto;
    margin: auto;
    max-height: 572px;
    bottom: 0;
    top: 25%;
    border-top: 1px solid #ccc;
}

/*.chart_scroll:hover {*/
    /*overflow-x: auto;*/
    /*-webkit-transition: overflow-x 1s ease-in-out;*/
    /*-moz-transition: overflow-x 1s ease-in-out;*/
    /*-ms-transition: overflow-x 1s ease-in-out;*/
    /*-o-transition: overflow-x 1s ease-in-out;*/
    /*transition: overflow-x 1s ease-in-out;*/
/*}*/

.row .col-md-10 {
    max-height: 571px;
}

.unassignedDiv {
    background: #F2F3F5;
    overflow-y: auto;
    border-right: 1px solid #e1e1e1;
    padding-bottom: 55px;
}

/*action buttons*/

.alert-admin .alert-warning {
    border: 0;
    border-bottom: 1px solid #ddd;
    background: #F2F3F5;
    border-radius: 0;
    color: #555;
    height: 75px;
    padding: 2px 15px;
    margin: 0;
}

.alert-admin button {
    color: #267368 !important;
    opacity: 1;
}

.alert-admin button:hover {
    color: #86beae !important;
}

.quick-btn-group .btn {
    display: inline-block;
}

.quick-btn-group {
    padding: 15px;
    float: right;
}

/*other*/

.search-container {
    height: 60px;
    background: #fff;
    padding: 10px;
}

.search-container input {
    height: 30px;
}


table {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.text_transform{
    text-transform: capitalize;
    font-weight: normal;
}

.toast-top-full-width{
    left:16.5%;
}

.current-support-team {

}

.code-display {
    padding: 15px;
    margin-left: 60px;
}

.code-display p {
    font-weight: 600;
    margin-bottom: 0;
}

.code-display textarea {
    width: 65%;
    margin-bottom: 15px;
}

#team-support {
    margin-bottom: 25px;
}

.supportTeam {
    width: 45%;
}

#team-support ul {
    list-style: none;
    padding: 0;
    width: 275px;
    border: 1px solid #ccc;
    background: #fff;
    border-top: none;
    margin-top: 3px;
    z-index: 9999;
    position: absolute;
}

.container .reset ul li {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    cursor: text;
}

.current-support-team .values-month {
    margin: 0 25px 0 10px;
}

.current-support-team .values-month p {
    margin: 10px 0;
}

.current-support-team .values-month p:hover {
    cursor: pointer;
    background: #fafafa;
}

#targetForm {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 15px 15px 15px 35px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.form-wrapper {
    display: none;
    position: fixed;
    top: 5%;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(121, 121, 121, 0.25);
}

#targetSave {

}

#closeTarget{

}

#targetForm .center {
    margin: auto;
    width: 50%;
}

#targetForm input,#targetForm select {
    display: block;
    margin: 0 0 5px 0;
    padding: 0 5px;
}

#targetForm label {
    margin: 5px 0 0 0;
}

#targetForm .btn {
    background: #267368;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
}

.container .reset ul li .limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95px;
}

.container .reset ul li .pull-right .month input {
    width: 75px;
    margin: 0 2px;
    height: 21px;
    font-size: 12px;
}

.container .reset ul li .year,.container .reset ul li .month {
    float: left;
}

.container .reset ul li select {
    border: 1px solid #aaa;
    background: #fafafa;
    margin: 0 5px;
}

.current-support-team ul {
    list-style: none;
    padding: 0;
    margin-top: 7px;
}

.current-support-team ul li {
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.current-support-team ul li p {
    font-weight: 500 !important;
    line-height: 15px;
    font-size: 12px;
}

#team-support ul li {
    border-top: 1px solid #ccc;
    padding: 7px;
    cursor: pointer;
}

#team-support ul li img,.current-support-team ul li img {
    width: 30px;
    height: 30px;
    border-radius: 55%;
    margin-right: 10px;
    object-fit: cover;
}

.side-board .action-board {
    top: 30px;
    padding: 20px 0 0 0;
}

.side-board .action-board .abs-right {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

.test {

}

.test .table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}
.test .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}
.test .table-fixed thead, .test .table-fixed tbody, .test .table-fixed tr, .test .table-fixed td, .test .table-fixed th {
    display: block;
}
.test .table-fixed tbody td {
    float: left;
}
.test .table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
}

.target-list-wrapper {
    /*overflow: auto;*/
    /*max-height: 450px;*/
    border: 1px solid #ccc;
}

.target-list {
    /*border: 1px solid #ccc;*/
    /*position: relative;*/
}

.target-list tbody {
    height:200px;
    overflow:auto;
}

.target-list .fixed {
    /*position: fixed;*/
}

.target-list th {
    text-align: center;
    border-top: 0 !important;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

.target-list td {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0 !important;
}

.target-list td input {
    padding: 2px 5px;
    border: 1px solid #aaa;
    /*border-right: 0;*/
    text-align: right;
    width: 70px;
}

.c-tree {
    padding: 15px;
}

.c-tree input {
    margin-right: 10px;
}

.c-tree ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-tree > ul ul {
    margin: 0 0 0 30px;
}

.c-tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.c-tree li::before, .c-tree li::after {
    content:'';
    left:-24px;
    position:absolute;
    right:auto
}

.c-tree li::before {
    border-left:1px solid #888;
    bottom:50px;
    height:100%;
    top:-13px;
    width:1px;
}

.c-tree li::after {
    border-top:1px solid #888;
    height:20px;
    top: 19px;
    width: 30px;
}

.c-tree > #root > li:first-child::before {
    border-left: 0;
}

.c-tree > #root > li:first-child::after {
    border-top:0;
}

.c-tree label{
    color: #267368;
    font-size: 14px;
    font-weight: 600;
    /*cursor: pointer;*/
    margin-left: 5px;
    margin-bottom: 10px;
}

.c-tree p {
    color: #267368;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-indent: 23px;
    position: absolute;
    top: 25px;
}

.message-setup p {
    margin: 10px 0 0 0;
}

.message-setup {
    margin: 15px 0;
}

#saveConfiguration {
    background: #267368;
    color: #fff;
    position: fixed;
    bottom: 125px;
    right: 55px;
    box-shadow: 1px 1px 5px #999;
}

.save {
    background: #267368;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
}

.save:hover {
    color: #fff;
}

#flash-messages {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 12%;
    text-align: center;
    background: #f7f79f;
    top: 80px;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 2px 1px 16px #aaa;
}

.drag-drop .list-group-item {
    border: none;
}

#toast-container {
    width: 100%;
    right: 0;
}

.modal-open .body {
    position: absolute;
    min-height: 200px;
    width: 375px;
    background: #fff;
    border-radius: 2px;
    top: 16.66%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
}

.modal-open .body p {
    line-height: 14px;
    color: #777;
    padding: 5px 0;
}

.modal-open .body .list {
    height: 155px;
    overflow-y: auto;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
}

.modal-open .body .clearfix button.white {
    background: #fff;
    color: #333;
    border: 1px solid #aaa;
}

.modal-open .body .clearfix button {
    background: #267368;
    border: 1px solid #267368;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
}

.modal-open .body .clearfix button:hover {
    box-shadow: 1px 1px 2px #aaa;
}

.modal-open .body .clearfix .pull-left {
    width: 60.11%;
}
.modal-open .body .clearfix .pull-left h5 {
    margin-top: 0;
}

.modal-open {
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 30px;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
}

.drag-drop .list-group-item .fa-exclamation-circle {
    position: absolute;
    left: -30px;
    top: 15px;
    color: #ef5e53;
}

.drag-drop .list-group-item:nth-child(even) {background: #eee}
.drag-drop .list-group-item:nth-child(odd) {background: #fafafa}

.drag-drop .list-group-item:hover {
    background: #e5e5e5;
    cursor: grab;
    cursor: -webkit-grab;
    border: 1px dashed #27cbe1;
}

.drag-drop .btn,
.drag-drop button {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 7.5px;
}

.drag-drop .dtr-transition {
    font-weight: bold;
    border:2px dashed #27cbe1 !important;
}

.opp-stages {
    margin-top: 30px;
}

.opp-stages .header {
    margin-top: 15px;
    font-weight: 600;
}

.opp-stages .inline-block-col input:focus{
    /*background: transparent;*/
    outline: 1px solid #ccc;
    border-radius: 2px;
}

.opp-stages .inline-block-col .delete {
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    color: #267368;
}

.opp-stages .inline-block-col .delete:hover {
    cursor: pointer;
}

.opp-stages .inline-block-col input{
    border: none;
    background: #fff;
    /*border-bottom: 1px solid #ccc;*/
    border-radius: 2px;
    padding-left: 5px;
}

.opp-stages .inline-block-col {
    font-size: 14px;
    padding-left: 0;
}

.chart-wrapper .orgchart {
    display: block;
    background-image: linear-gradient(90deg,rgba(0,0,0,.05) 10%,rgba(0,0,0,0) 10%),linear-gradient(rgba(0,0,0,.05) 10%,rgba(0,0,0,0) 10%);
}

.chart-wrapper .orgchart table {
    /*margin: 0 2px;*/
}

.chart-wrapper .orgchart .node {
    padding: 0;
    box-shadow: 2px 2px 10px #aaa;
    background:transparent;
    margin: 2px 2px 2px 3px;
    border: 0;
}

.chart-wrapper .orgchart .node.focused {
    background-color: transparent !important;
    border-radius: 2px;
    box-shadow: 3px 3px 10px #267368;
    padding: 0;
}

.chart-wrapper .orgchart .node .content {
    border: 1px solid #f9f9f9;
}

.chart-wrapper .orgchart .lines .downLine {
    background-color: #aaa;
}

.chart-wrapper .orgchart .lines .rightLine {
    border-right: 1px solid #aaa;
}

.chart-wrapper .orgchart .lines .leftLine {
    border-left: 1px solid #aaa;
}

.chart-wrapper .orgchart .lines .topLine {
    border-top: 1px solid #aaa;
}

.revenue-hierarchy-css .orgchart .node .title {
    background: #f86b4fc7 !important;
}

.chart-wrapper .orgchart .node .title {
    background: rgba(17,157,212,1);
}

.new-role .section,
.chart-wrapper .inner-el-wrapper .modal-body .section {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.new-role .modal-body,
.new-role .modal-header,
.chart-wrapper .inner-el-wrapper .modal-body,
.chart-wrapper .inner-el-wrapper .modal-header {
    padding: 10px 15px;
    line-height: normal;
}

.role-card .inner-el-wrapper {
    margin-top: 0 !important;
}

.role-card {
    float: left;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 3px 5px #bbb;
    margin: 5px;
}

.existing-users .users {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    position: relative;
}

.existing-users .users:hover {
    background: rgb(202, 227, 221);
}

.existing-users .remove-user-from-role {
    position: absolute;
    right: 15px;
}

.new-role .search {
    margin: 0;
    padding: 0;
    width: 100%;
}

.new-role .search input {
    margin-bottom: 0;
    background: #eee;
}

.new-role .inner-el-wrapper {
    width: 375px !important;
}

.new-role .inner-el-wrapper .modal-header .clearfix:first-child {
    margin-bottom: 10px;
}

.new-role .inner-el-wrapper .modal-header .clearfix .close-btn {
    margin: 0;
}

.existing-users {
    max-height: 350px;
    overflow: auto;
    border-left: 1px solid #ccc;
}

.new-role .inner-el-wrapper .btn,
.chart-wrapper .inner-el-wrapper .btn {
    padding: 2px 8px !important;
}

.new-role input,
.chart-wrapper .inner-el-wrapper input {
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    min-width: 250px;
    height: 35px;
    margin-bottom: 5px;
    width: 100%;
}

.no-hierarchy .btn {
    margin: 10px 2px;
}

.no-hierarchy .search-box-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.no-hierarchy {
    text-align: center;
    padding: 10%;
}

.no-hierarchy input{
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
    border-radius: 2px;
}

.chart-controls .title {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 150px;
    text-align: center;
    top: 15px;
    font-weight: bold;
}

.reportee {
    background: #eee;
    padding: 2px 5px;
    border: 1px solid #e0e0e0e0;
    border-radius: 2px;
}

.remove-user-from-role {
    display: inline-block;
}

.remove-user {
    display: inline-block;
}

.unassigned-list {
    position: absolute;
    background: #fff;
    border-right: 1px solid #ccc;
    height: 100%;
    z-index: 99;
    margin-top: 3px;
    left: 70px;
    top: 140px;
    width: 255px;
    display: none;
    box-shadow: 1px 1px 5px #ccc;
    max-height: 750px;
    overflow: auto;
}

.unassigned-list li {
    padding: 5px 0 15px 0;
}

.new-role .inner-el-wrapper .search-box-wrapper,
.chart-wrapper .inner-el-wrapper .search-box-wrapper {
    margin: 0;
}

.new-role .inner-el-wrapper,
.chart-wrapper .inner-el-wrapper {
    width: 425px;
    height: 300px;
    overflow: auto;
    background: #fff;
    margin: auto;
    margin-top: 100px;
    border-radius: 2px;
}

.account-management input{
    width: 75%;
    margin: 0;
}

.account-management th {
    background: #eee;
}

.account-management .role-header {
    padding: 5px;
}

.account-management .modal-header {
    padding: 10px;
}

.account-management .modal-footer {
    padding: 10px;
}

.account-management .modal-footer button {
    margin: 0;
}

.new-type {
    padding: 0 5px;
    overflow: auto;
    min-height: 200px;
    max-height: 400px;
}

.new-type input:first-child{
    width: 100%;
    margin-bottom: 5px;
}

.new-type .clearfix .btn-white {
    margin-left: 0;
    margin-bottom: 5px;
}

.new-type .col-relative {
    padding-left: 15px;
}

.new-type .col-relative input,
.new-type .row-relative input {
    width: 100%;
}

.new-type .col-relative,
.new-type .row-relative {
    position: relative;
    padding-left: 15px;
}

.new-type .table-responsive {
    margin-left: 0 !important;
}

.new-type .col-relative .close,
.new-type .row-relative .close {
    position: absolute;
    left: 0;
    top: 10px;
}

.account-management .modal-body input {
    width: 100%;
    float: none;
    display: block;
    margin: 10px auto;
    height: 32px;
    padding-left: 5px;
}

.account-management input.pull-right {
    width: 15%;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid #bbb;
    padding: 5px;
}

.btn-white {
    color: #777;
    border: 1px solid #777;
    opacity: 1;
    margin:0 0 0 15px;
}

.close-btn {
    color: #e74c3c;
    border: 1px solid #e74c3c;
    opacity: 1;
}

.btn-white:focus,
.btn-white:hover {
    border: 1px solid #666 !important;
    background: #fff !important;
    box-shadow: 1px 1px 3px #aaa;
    color: #555;
}

.close-btn:hover,
.close-btn:hover {
    /*background: transparent !important;*/
    border: 1px solid #e74c3c !important;
    box-shadow: 1px 1px 3px #aaa;
    color: #e74c3c;
}