
* {
    box-sizing: border-box;
}

.document-template-wrapper {
    padding-right: 70px;
}

.breadcrumb {
    border: 0;
    border-radius: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

.breadcrumb li>a {
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

.breadcrumb li>a:hover {
    color: #23527c;
    text-decoration: underline;
}

.breadcrumb .your-are-here {
    color: #444;
}

.breadcrumb .your-are-here:hover {
    color: #444;
}

.horizontal-menu-top button.close-btn {
    line-height: 16px !important;
}

.relatas-icon-color {
    color:#267368
}

.relatas-icon-color:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px #aaa;
}

input, textarea {
    border: 1px solid #aaa;
}

.btn-primary[disabled] {
    background-color: #69a49e;
    border-color: #69a49e;
    padding-left: 6px;
    padding-right: 6px
}

#document .sortable-formbuilder textarea {
    overflow: hidden;
}


a {
    color: #267368;
}

a:focus,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none !important;
    color: #267368;
}

ul.neo-nav {
    border: 2px solid #267368;
    display: inline-block;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    padding-start: 0px;
    border-radius: 5px;
}

ul.neo-nav li {
    display: inline-block;
    list-style: none;
}

ul.neo-nav li a {
    color: #267368;
    padding: 10px 10px;
    font-weight: bold;
    display: block;
}

ul.neo-nav li.active a {
    color: white;
}

/* ul.neo-nav li:not(:first-child) {
    border-left: 2px solid #267368;
} */

ul.neo-nav li.active {
    background-color: #267368;
    color: white;
}

ul.neo-nav li a:hover,
ul.neo-nav li a:visited,
ul.neo-nav li a:active,
ul.neo-nav li a:link {
text-decoration: none;
}

#main-content {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 1;
    box-shadow: 0 0 3px #999;
    background: white;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    /* min-height: 1283px; */
    min-height: 1280px;
    /* width: 915px; */
    width: 920px;
}

#document-template div.right-pane {
    position: fixed;
    top: 109px;
    bottom: 0px;
    right: 0px;
    left: 1033px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#document-template  div.left-pane {
    position: fixed;
    top: 109px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.size-a4 {
    width: 6.2in;
    height: 8.7in;
}

#sideBar {
    background-color: #e4e0e0;    
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
    width: 260px;
    min-height:700px;
}

.tab-container {
    border-bottom: 1px solid gray;
    /* padding-bottom: 20px; */
}

#addFieldTab {
    padding: 20px;
}

#fieldSettingTab {
    padding: 20px;
}

#stdFields {}

#formBuilderContent {
    /* background-color: white; */
    padding: 20px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */

    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#chkBoxZone {
    margin-top: 15px;
}

.input-as-label {
    border: none;
    box-shadow: none;
    display: inline;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    background-color: transparent;
}

 .action-delete {
    background-color: #c66865;
}

.active-field-column {
    background: #f1fafc;
    color: black
}

.pale {
    opacity: 50%;
}

.sortable-formbuilder,
.sortable-stdFields {
    padding-left: 0px;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    -khtml-padding-start: 0px;
    -o-padding-start: 0px;
    padding-start: 0px;
    list-style: none;
    min-height: 40px;
}

/* .sortable-formbuilder > li {
    height: auto;
    width: auto;
} */

.drop-to-add {
    height: 40px;
    z-index: -20;
}

a[data-toggle="collapse"] i.fa-plus-square-o {
    display: none;
}

a[data-toggle="collapse"] i.fa-minus-square-o {
    display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-plus-square-o {
    display: inline-block;
}

a[data-toggle="collapse"].collapsed i.fa-minus-square-o {
    display: none;
}

.orange-txt {
    color: #e74c3c;
}
#sidebar-tab-content{
    /* overflow-y: scroll; */
}

.tab-content {
    background: transparent;
}

.size-h1 {
    font-size: 2em;
}

.size-h2 {
    font-size: 1.5em;
}

.size-h3 {
    font-size: 1.17em;
}

.size-h4 {
    font-size: 1.12em;
}

.size-h5 {
    font-size: .83em;    
}

.size-h6 {
    font-size: .75em;
}

/********************************************
    CUSTOM STYLES
********************************************/

.hide-input {
    display: none;
}

.document-header {
    min-height: 0;
    background: #eee;
    padding: 10px 0 !important;
    border-bottom: 1px solid #e5e5e5;
}

.search-box {
    margin-bottom: 20px;
}

.hide-input {
    display: none;
}

.document-header {
    min-height: 0;
    background: #eee;
    padding: 10px 0 !important;
    border-bottom: 1px solid #e5e5e5;
}

.div-table {
    height: 30px;
}

table textarea {
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.search-suggestion {
    /* width: 55%; */
    position: absolute;
    z-index: 9999999;
    background: #fafafa;
    left: 125px;
    right: 125px;
    /* top: 40px; */
    margin: auto;
    /* height: 300px; */
    /* overflow: auto; */
    border: 1px solid #ccc;
    padding: 15px 2px;
    box-shadow: 1px 1px 6px #aaa;
}

.remove-row {
    cursor: pointer;
    color: #747474;
}

.disable-pg-edit {
    position: fixed;
    background: transparent;
    top: 112px;
    bottom: 0;
    left: 15%;
    right: 0;
    z-index: 99;
    width: 75.4%;
}

/* #document .sortable-formbuilder .action-edit-search-input:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
} */

.doc-input-wrapper {
    position: relative;
}

.action-warn-update-data {
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.action-edit-search {
    position: absolute;
    top: 0;
    right: 15px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: none;
}

#document .sortable-formbuilder .doc-input-wrapper:hover div.action-edit-search {
    display: block;
}

#document .sortable-formbuilder .action-edit-search-input:focus + div.action-edit-search {
    display: none;
}

#document .sortable-formbuilder .action-edit-search-input:focus + div.action-warn-update-data{
    display: none;
}

.action-edit-search .action-icon {
    font-size: 15px;
    color: #747474;
}

.doc-field-id {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 11px;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    background: #ff6300;
}

.master-data-group-indicator {
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 5px;
    background: #f70000;
}

.doc-input-wrapper .field-id-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.list-document {
    box-shadow: 0 0 2px #aaa;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    float: none;
    background: white;
    padding: 20px;
    float: none;
    overflow-x: scroll
}

.document-search-box {
    margin-top: 15px;
    margin-bottom: -10px;
    border-radius: 2px;
    /* box-shadow: 0 0 2px #aaa; */
    /* padding: 5px; */
    /* background: white; */
    /* border-radius: 30px */
}

.show-all-documents {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.show-all-suggestions {
    margin-left: 45px;
}

#document-template .grid{
    /* width: 100%; */
    /* height: 100%; */
    background-image: repeating-linear-gradient(0deg,transparent,transparent 9px,#dedcdc 9px,#dedcdc 10px),repeating-linear-gradient(-90deg,transparent,transparent 9px,#dedcdc 9px,#dedcdc 10px);
    background-size: 10px 10px;
}

/*************************************General styles*******************************************/
.form-group {
    margin-left: 13px;
    position: relative;
}

.match-parent {
    height: 100%;
    width: 100%;
}

.form-inline > div:first-child {
    margin-left: -5px;
}

.sortable-formbuilder .hide-field-label {
    display: none;
}

.sortable-formbuilder .hide-border {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: transparent;
}

.sortable-formbuilder .hide-border:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: transparent;
}

table {
    border-collapse: collapse;
    width: -webkit-fill-available;
    width: -moz-available;
    /* table-layout: fixed; */
}

table th {
    font-weight: bold;
    background: #3f5566;
    color: #fafafa;
    border: 1px solid #3f5566;
    position: relative;
    vertical-align: middle;
    overflow-wrap: break-word;
    overflow: hidden;
}

table th:hover {
    /* background: rgb(212, 209, 209); */
    /* cursor: pointer; */

}

table th,
table td {
    vertical-align: middle !important;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 0px;
    margin:0px;
}

table td {
    overflow: hidden;
    border: 1px solid #ccc;
}

#document table td:last-child {
    border:none;
    width: 16px;
}

.list-document table td:hover {
    /* cursor: pointer; */
}

#show-all-doc-table .table>tbody>tr>th {
    padding:5px;
    max-width: 125px;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow:hidden;
    overflow-wrap: break-word;
}


/* ***************************DOCUMENTS*************************************************** */

.horizontal-menu-top .list-suggestion{
    box-shadow: 0 0 2px #aaa;
    border-radius: 2px;
    background: #fff;
    max-height: 450px;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
    margin-top: 10px;
    margin-left: 79px;
    width: 175px;
}

/* #documents-controller {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 117px;
    overflow-y: scroll;
    background: #f1f1f1;
} */

.document-menu-header .selected {
    padding: 10px;
    cursor: pointer;
}

.document-menu-header ul>li {
    float: none;
}

#document .document-style-center {
        /* -webkit-box-shadow: 0 0 5px 2px #aaa; */
        -moz-box-shadow: 0 0 5px 2px #aaa;
        /* box-shadow: 0 0 5px 2px #aaa; */
        /* background: white; */
        margin-left: 145px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid grey; */
        float: none;
}

.download-btn {
    color: #555;
    border: 1px solid #999;
    font-size: 12px;
}

.download-btn:hover {
    border: 1px solid #999 !important;
    background: #fff !important;
    box-shadow: 1px 1px 3px #aaa;
    color: #555 !important;
    border-radius: 3px;
}

#document .add-row-table {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

#document .add-row-table > .btn {
    padding: 2px;
    margin-left: -5px;
}

/* .sortable-formbuilder .form-group .doc-input-wrapper .fa-search { */
.sortable-formbuilder .doc-input-wrapper .fa-search {
    padding: 3px;
    z-index: 99;
}

.sortable-formbuilder .doc-input-wrapper .fa-search:hover {
    background: #267368;
    color: white;
    cursor: pointer;    
}

.sortable-formbuilder .doc-input-wrapper .fa-exclamation-circle {
    color: #e74c3c;
}

.sortable-formbuilder .doc-input-wrapper .fa-exclamation-circle {
    cursor: pointer;
}

/* *************************************************************************************/


/*  show all documents style */
.document-template {
    padding: 0px 10px;
}

.document-template .divider {
    background: #d1cdcd;
    width: 75%;
    height: 1px;
    margin: 10px 0px;
}

.document-template .template-wrapper {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
    background: #fff;
    margin-bottom: 7px !important;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #e5e5e5;
}

.document-template .template-wrapper:hover {
    box-shadow: 2px 2px 2px #aaa;
    background: #fafafa;
    -webkit-transition: box-shadow .25s linear,background .25s linear;
	transition: box-shadow .25s linear,background .25s linear;
}

.document-template .template-wrapper .name {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
}

.document-template .template-wrapper .date, 
.document-template .template-wrapper .reference-count {
    padding: 5px 0px;
    
}

.document-template .template-wrapper .status {
    padding-top: 5px;
    border-top: 1px dashed #cccccc;
}

/* *********************************************************************************  */

/*  create document template styles */
.drag {
    /* position: relative; */
    position: absolute;
    padding:0px;
}

.sortable-stdFields li {
    cursor: move;
    list-style: none;
    margin: 0 0 -1px;
    padding: 10px;
    text-align: left;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #c5c5c5;
    border-radius: 3px;
}

/* #document-template {
    width: 70%;
} */

/* #document-template .sortable-formbuilder li > div:not(.table):not(.divider) {
    padding: 0px;
    margin: 0px;
} */

#document-template .sortable-formbuilder li > div:first-child{
    background: white;
    cursor: pointer;
    /* border: 1px dashed rgba(102,175,233,.6); */
    /* border-radius: 3px; */
}

#document-template .sortable-formbuilder li > div:first-child:hover {
    /* border: 1px dashed #66afe9; */
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(155, 28, 28, 0.1), 0 0 8px rgba(102,175,233,.6);
    /* border-radius: 3px; */
    border: transparent;
}

div.field-action-btn {
    position: absolute;
    font-size: 13px;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background: rgb(212, 209, 209);
    /* background: #f2f2f2; */
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

/* #document-template .sortable-formbuilder .form-group .active-field { */
#document-template .sortable-formbuilder .active-field {
    background-color: #f1fafc;
}

/* .sortable-formbuilder .table {
    padding-top: 30px;
} */

.field-action-btn-parent:hover div.field-action-btn {
    display: block;
}

.field-action-btn-parent:hover div.field-action-btn:not(.for-column) {
    z-index: 999999;
    position: absolute;
    top: -22px;
    right: 0px;
}

.sortable-formbuilder .field-action-btn i {
    display: inline-block;
}
.sortable-formbuilder .field-action-btn .edit-ico,
.sortable-formbuilder .field-action-btn .fa-plus-square-o,
.sortable-formbuilder .field-action-btn .remove-ico, 
.sortable-formbuilder .field-action-btn .copy-ico {
    padding: 5px;
}

.sortable-formbuilder .field-action-btn .edit-ico:hover {
    background: blue;
    color: white;
}

.sortable-formbuilder .field-action-btn .remove-ico:hover {
    background: #c66865;
    color: white
}

.sortable-formbuilder .field-action-btn .fa-plus-square-o:hover {
    background: white;
    color: black;
}

.sortable-formbuilder .field-action-btn .copy-ico:hover {
    background: green;
    color: white;
}

.sortable-formbuilder .edit-company-image label {
    cursor: pointer;
    display: block;
    color: #267368;
    margin-top: 15px;
    text-align: center;
}

.sortable-formbuilder .focus-input {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin : 0px;
}

#document-template .edit-company-image div > p {
    color: #ec220d !important;
    border-top: 1px dotted grey;
    padding: 5px;
    margin-bottom: 0px;
}

.document-field-divider {
    width: 100%;
    background: black;
    height: 2px;
}

#fieldSettingTab #company-pic-wrapper {
    width: 200px;
    /* height: 270px; */
    background: white;
    border-radius: 5px;
    border: 1px dashed rgba(102,175,233,.6);
}

#fieldSettingTab #company-pic-wrapper:hover {
    outline: 0;
    box-shadow: 1px 1px 1px rgba(102,175,233,.6);
    border-radius: 3px;
    border: transparent;
}

#fieldSettingTab #company-pic-wrapper .company-image {
    width: 200px;
    height: 200px;
}

.docTemplateColorPicker {
    height: 20px;
    width: 80px;
    color: transparent;
}

.document-panel {
    padding-left: 0px;
}

.document-panel table a {
    color: #2d3e48;
}

.document-panel table a:hover {
    color: #23527c;
    text-decoration: underline;
}

.document-panel .search-box-wrapper {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 15px;
    margin-bottom: -10px;
    border-radius: 2px;
    box-shadow: none;
    background: transparent;
    border: none;
    padding: 0px;
}

.document-panel .search-box-wrapper .search-box {
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 0px;
}

.document-panel .search-box-wrapper .search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.document-panel .search-box-wrapper .search-box:focus {
    outline: none !important;
}

.popup-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5% 10% 5% 15%;
    margin: auto;
    background: rgba(0,0,0,.6);
    z-index: 9999;
}

.popup-modal-body {
    position: absolute;
    overflow: auto;
    background: #fff;
    min-width: 950px;   
    width: 30%;
    min-width: 450px;
    height: 55%;
    margin: auto;
    left: 0;
    right: 0;
    top: 25%;
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
}

.popup-modal-head {
    height: 43px;
    background: #eee;
    margin: -10px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.popup-modal-body .close-btn {
    background: #fff;
    margin: 0;
    margin-top: 5px;
    padding: 2px 10px;
}

.disable {
    background-color: #69a49e;
    border-color: #69a49e;
    padding-left: 6px;
    padding-right: 6px
}

#documentAnalytics .popup-modal-body td,
#documentAnalytics .popup-modal-body th {
    border: none;
}

#documentAnalytics .popup-modal-body thead,
#uploadDocument .popup-modal-body thead {
    font-weight: bold;
}

#uploadDocument .popup-modal-body td,
#uploadDocument .popup-modal-body th {
    border: none;
}

#uploadDocument .popup-modal-body {
    height: 40%;
} 

#uploadDocument .upload-file-wrapper {
    display: inline-block;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    border: 1px solid #cecece;
    border-radius: 5px;
}

#uploadDocument .upload-file-wrapper > span {
    position: absolute;
    top: -9px;
    left: 190px;
    background: white;
    font-weight: normal;
    font-size: 12px;
}

#uploadDocument .upload-file-wrapper button {
    margin-top: 0px;
}

#uploadDocument progress{
    position: absolute;
    width: 100%;
    height: 6px;
    top: 62px;
}

#uploadDocument .upload-file-wrapper #doc-category-holder {
    float: right;
    margin-right: 40px;
    margin-top: 7px;
}

#uploadDocument .upload-file-wrapper #doc-category-holder > label {
    margin-right: 5px;
    font-size: 14px;
    font-weight: normal;
} 

#uploadDocument .upload-file-wrapper #doc-category-holder select {
    min-width: 85px;
}

.show-all-docs-table table {
    margin-top: 30px;
    float: none;
    display: table;
}

.show-all-docs-table  table th {
    background: #3f5566;
    color: #fafafa;
    border-right: 1px solid;
    position: relative;
    overflow: visible !important;
    padding: 5px;
    max-width: 125px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.show-all-docs-table  table td {
    background: #fff;
    border-right: 1px solid #e5e5e5;
    padding: 5px;
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.zero-documents-msg {
    text-align: center;
    margin-top: 6%;
    font-size: 15px;
}

.show-all-docs-table .btn-primary {
    margin: 0px;
    height: 30px;
    width: 50px;
    font-size: 12px;
    padding: 0px;
}

.modal-analytics .opportunity-form {
    width: 80%;
    overflow: hidden;
}

.opportunity-form .close-btn {
    background: #fff;
    margin: 0;
    margin-top: 5px;
    padding: 2px 10px;
}

.modal-analytics .modal-header h3 {
    margin-top: 5px;
}

.modal-analytics .analytics-body {
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.analytics-body .top-summary-row {
    margin: 10px 0;
    border-bottom: 2px solid #ececec;
}

.modal-analytics .analytics-left-panel {
    height: 100%;
    border-right: 2px solid #ececec;
    max-height: 390px;
    overflow-y: auto;
}

.modal-analytics .analytics-left-panel .row {
    margin-right: -15px;
    margin-left: 0px;
    margin-top:  0px;
}

.modal-analytics .analytics-right-panel {
    height: 100%;
}

.modal-analytics .analytics-left-panel .show-all-docs-table {
    margin-top: 20px 0px;
}

.modal-analytics .analytics-left-panel .show-all-docs-table th,
.modal-analytics .analytics-left-panel .show-all-docs-table td {
    padding: 5px;
    
}

.modal-analytics .analytics-left-panel .show-all-docs-table th {
    color: #fafafa;
    border-right: 1px solid;
}

.analytics-left-panel .show-all-docs-table td > .secondary-cell-info {
    font-size: 10px;
    /* color: grey; */
}

.analytics-left-panel .show-all-docs-table .selected {
    background: #ececec;
}

.modal-analytics .document-aggregate-row {
    width: 15.55%;
    border: 2px solid #ececec;
    padding: 10px 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.document-aggregate-row .aggregate-view {
    text-align: center
}

.document-aggregate-row .aggregate-view .header h5 {
    margin: 3px 0 0 0;
    font-weight: bold;
    color: black;
}

.aggregate-view .header img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.document-aggregate-row .aggregate-view .view-data {
    margin-top: 15px;
    font-size: 14px;
}

.modal-analytics .analytics-right-panel .shared-with-title h4 {
    font-weight: bold;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.analytics-right-panel #table-shared-doc-view-summary th, 
.analytics-right-panel #table-shared-doc-view-summary td {
    text-align: left;
    width: 26%;
    border: none;
    background: transparent;
    color: black;
    cursor: auto;
}

.analytics-right-panel .document-not-accessed{
    text-align: center;
    font-size: 14px;
    margin-top: 34%;
    font-weight: bold;
}

.modal-analytics .analytics-right-panel #analyticsGraph {
    margin-top: 50px;
}

.text-editor .form-control {
    min-height: 300px;
    max-height: 350px;
    margin-top: 0px;
}

.text-editor .form-control [id^='taTextElement'] {
    color: black;
    font-size: 13px;
}

.text-editor .form-control [id^='taTextElement'] > p {
    /* margin: 0px; */
}

#document-view-containter {
    /* margin: 20px; */
    background: #fff;
}
#document-view-containter .shared-document-meta-info {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}

#document-view-containter .document-view-header h2 {
    color: black;
    margin-left: 10px
}

#document-view-containter .document-view-header p {
    color: black;
    font-size: 14px;
    margin-left: 10px
}

#document-view-containter .shared-document-meta-info table {
    width: 100%;

    background: transparent;
    color: black;
    border: none;
}

#document-view-containter .shared-document-meta-info table th {
    font-weight: 500;
    font-size: 13px;
    background: transparent;
    color: black;
    border: none;
}

#document-view-containter .shared-document-meta-info table td {
    border: none;
    font-size: 14px;
    color: black;
}

#document-view-containter .shared-document-meta-info .shared-by-image{
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
}

#document-view-containter .shared-document-meta-info .shared-by-info{
    display: inline-block;
    vertical-align: middle;
}

.shared-document-meta-info .shared-by-info > p {
    margin: 0px;
}

#document-view-containter .shared-document-meta-info .shared-by-image img{
    width: 40px;
    height: 40px;
}

.shared-document-meta-info .shared-doc-authentication  {
    text-align: center;
}

.shared-document-meta-info .shared-doc-authentication .input-password {
    width: 35%;
    margin-top: 6%;
    padding: 25px;
    border: 2px solid #ececec;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}
.password-error {
    color: red;
    margin-top: 10px;
    
}

.shared-document-meta-info .msg-document-deleted {
    text-align: center;
    color: red;
    font-size: 17px;
}

.shared-document-meta-info .shared-doc-authentication input[type="checkbox"] {
    display: inline-block;
    margin-top: 7%;
}

.shared-document-meta-info .shared-doc-authentication button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 15%;
    border-radius: 5px;
    font-size: 14px;
}

.data-mandatory {
    color: red;
}

.document-share-model label {
    display: inline-block;
    margin-top: 10px;
}

.document-share-model .opportunity-form {
    width: 75%;
}

.document-share-model .max-height {
    overflow: hidden;
    margin: 25px 0;
}  

.document-share-model .search-box-wrapper {
    width: 265px;
    padding: 5px 10px;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 3px #bbb;
    position: absolute;
}

.document-share-model .fa-calendar {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.document-share-model .document-share-input-form  {
    margin-bottom: 25px;
}

.document-share-model .document-share-input-form .col-md-6 {
    padding-left: 0px;
    padding-right: 50px;
}

#analyticsGraph text[text-anchor="end"] {
    transform: none;
}

.authentication_wrapper {
    background-color: #f1f1f1
}

.authentication_wrapper .container {
    float: none;
    margin: 0 auto;

}

.authentication_wrapper .shared-by-logo > img {
    height: 30%;
    width: 30%;
}

.authentication_wrapper .shared-by-logo > h4{
    font-size: 16px;
}
.authentication_wrapper .shared-by-info {
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 30px 50px;
}

.authentication_wrapper .shared-by-info label {
    display: block;
    color: #5bc1b3;
    padding-top: 15px;
}

.authentication_wrapper .shared-by-info input {
    border: none;
}

.authentication_wrapper .shared-by-info input:read-only {
    background: #eff0f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 220px;
}

.authentication_wrapper .shared-by-info .input-wrapper {
    background: #eff0f1;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
    width: 220px;
}

.authentication_wrapper .shared-by-info .input-wrapper > input {
    background: white;
    width: 100%;
    padding: 3px;
}

.authentication_wrapper .shared-by-info .input-wrapper > input:focus {
    outline: none;
}

.shared-by-info button {
    margin-top: 40px;
    width: 95px;
    font-size: 14px;
    border-radius: 5px;
    display: block;
}

.shared-by-info span {
    display: inline-block;
    margin-right: 5px;
    font-style: italic;
    color: grey;
    margin-top: 25px;
}

.shared-by-info hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.shared-by-info a > img {
    height: 20px;
    width: 56px;
} 

.authentication_wrapper .shared-by-details > div {
    padding: 8px;
    background: #eff0f1;
    border-radius: 5px;
}


.authentication_wrapper .shared-by-details img {
    width: 40px;
    height: 40px;
}

.authentication_wrapper .shared-by-details .shared-by-img {
    display: inline;
    margin-right: 5px;
}

.authentication_wrapper .shared-by-details .shared-by-name {
    display: inline-block;
    vertical-align: middle;
}

.shared-by-details .shared-by-name > h4 {
    margin: 0px;
    margin-bottom: 5px;
}

.shared-by-details .shared-by-name > p {
    margin: 0px;
}

.document_view_container #viewer-pdf-toolbar {
    position: fixed;
    width: 100%;
    z-index: 4;
}

#viewer-pdf-toolbar #toolbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: rgb(50, 54, 57);
    color: rgb(241, 241, 241);
    display: flex;
    height: 48px;
    padding: 0 16px;
}

#viewer-pdf-toolbar #toolbar #aligner {
    align-items: center;
    display: flex;
    padding: 0 8px;
    width: 100%;
}

#toolbar #aligner #title {
    flex: 5;
    font-size: 0.87rem;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#toolbar #pageselector-container {
    text-align: center;
    white-space: nowrap;
}

#toolbar #pageselector-container #pageselector {
    background: rgb(50, 54, 57);
    text-align: right;
    width: 35px;
    border: none;

}

#toolbar #pageselector-container #slash {
    padding: 0 3px;
}

#toolbar #pagelength-spacer {
    width: 3ch;
    display: inline-block;
    margin-inline-start: -2px;
    text-align: start;
    margin-right: 30px;
}

#toolbar #buttons {
    flex: 5;
    text-align: center;
    user-select: none;
}

#toolbar #buttons i {
    margin-right: 20px;
}

#toolbar  i {
    /* margin-inline-end: 12px; */
    color: white;
    display: inline-block;
    position: relative;
    padding: 8px;
    outline: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box !important;
    padding: 6px;
    /* width: 60px; */
    font-size: 15px;
}

.document_view_container .progress-container{
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 39px;
    width: 100%;
    z-index: 999;
}

.document_view_container .progress-container .progress-pdf-load {
    width: 100%;
    height: 1%;
}

.document_view_container #canvas_container {
    position: relative;
    padding-top: 48px;
    background: #515558;
    margin-left: auto;
    margin-right: auto;
}

.document_view_container #canvas_container .canvas-wrapper{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.document_view_container #canvas_container canvas{
    margin: 0 auto;
    display: block;
}

#toolbar #aligner #pageselector-container {
    /* flex: 7;
    text-align: left; */
    text-align: center;
    white-space: nowrap;
}

.link-expiry-wrapper nav img{
    width: 120px;
    height: 36px;
    margin-top: 11px;
}

.link-expiry-wrapper .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #51b5e6;
    color: white;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 25px;
}

.link-expiry-wrapper .footer p{
    margin: 0px;
}

.link-expiry-wrapper .footer ul{
    list-style: none;
}

.link-expiry-wrapper .footer ul>li{
    display: inline-block;
    margin-left: 6px;
}

.link-expiry-wrapper .footer ul li:first-child {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.link-expiry-wrapper a {
    color: white;
}

.link-expiry-wrapper .link-expiry-info{
    top: 67px;
    position: relative;
    margin-left: 30px; 
}

.link-expiry-wrapper .link-expiry-info h4 {
    font-weight: bold;
}

.link-expiry-wrapper .link-expiry-info p{
    font-weight: 500;
    font-size: 16px;
}

.link-expiry-wrapper .link-expiry-info .assistance {
    margin-top: 30px;
}

.pop-up-window {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5% 10% 5% 15%;
    margin: auto;
    background: rgba(0,0,0,.6);
    z-index: 9999;
}

.pop-up-window .pop-window-body {
    width: 40%;
    position: relative;
    min-width: 450px;
    height: 185px;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
    background: white;
    border: 1px solid tomato;
}

.pop-up-window .pop-window-body .main-content {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/***********************************************************************************  */
@page {
    size: A4;
    margin: 0;
}

@media print { 
    body { -webkit-print-color-adjust: exact;} 

    .document-menu-header, .margin-btn, .remove-row, .mainNav, .horizontal-menu-top, .navbar, .left-panel{
        display:none;
    }

    .document-wrapper {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    }

    .container-fluid, 
    .opportunity-page .wrapper,
    .document-wrapper .main,
    .opportunity-page .main,
    #document .document-style-center,
    .row {
        padding: 0px;
        margin: 0px;
    }

    /* #print-setup {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 0px;
        margin: 0px;
    }

    #documents-controller {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;
    } */

    #print-setup {
        padding: 0px;
        margin: 0px;
    }

    .right-panel {
        position: static;
        padding: 0px;
        margin: 0px;
        overflow: unset;
    }

    .left-panel {
        display: none;
        position: static;
        padding: 0px;
        margin: 0px;
    }

    #document .document-style-center {
        box-shadow: none;
        border: none;
    }

    table td{
        padding: 2px;
        border: 1px solid #ccc !important;
    }

    thead {
        display: table-row-group;
    }
}