
  .wrapper{

background-color:#;
width:100%;
height:auto;
margin:0 auto;
padding:0;
}
.head{
background:#006699;
height:90px;
}
.head h1{
font-size:30px;
font-family:sans-serif,arial;
padding-left:70px;
padding-top:30px;
font-weight:bold;
color:white;
}
.list li{
float:right;
font-size:16px;
font-family:sans-serif;
margin-bottom:30px;
margin-right:10px;
padding-right:10px;
}
li{
color:white;
display:inline;
padding-right:15px;
}
.list ul a{
text-decoration:none;
margin-right:10px;
color:#ffffff;
font-size:13px;
}

.login {
	background: #ffffff;
	width: 500px;
	height: auto;
	margin: 120px auto;
	border-radius:10px;
	
}
.login h1{
padding-top:30px;
text-align:center;
font-family:arial;
font-size: 23px;
font-weight: bold;
}
.Button_class {
margin-left: 95px;
margin-top: 20px;	
}
.Button_class input{
font-weight: bold;
font-family:arial;
font-size: 16px;
color: white;
box-shadow: 10px;
border: 1px #006699 solid;
background: #006699;
width: 300px;
height: 60px;
border-radius: 10px;
}
.Button_class h4{
margin-top: 20px;
margin-left: 50px;
font-family: arial,sans-serif;
font-weight: bold;


}
.Button_tow{
margin-left: 95px;
margin-top: 20px;
margin-bottom: 30px;
display: none;	

}

.Button_tow input {
width: 149px;
height: 45px;
color:white;
border: 1px #006699 solid;
font-size:16px; 
font-weight: bold;
font-family: arial;
border-radius: 10px; 	
background: #006699;
}
#hide{
	display: none;
}