 .wrapper{
   background: #fff;
   width:100%;
   height:706px;
   margin:0 auto;
   padding:0;
}
.head{
   background:#003399;
   height:90px;
}
.head h1{
   font-size:30px;
   font-family:arial;
   padding-left:70px;
   padding-top:30px;
   font-weight:bold;
   color:white;
}
.Left{
   width:18%;
   height:617px;
   float:left;
   border-right:2px #dddddd solid;
   border-left:10px;
}
#circle img{
   margin-top: 17px;
   margin-left: 50px;
   border-radius: 50% 50% 50% 50%;
   width: 130px;
   height: 130px;

}
.Profile_box{
   width:auto;
   height: auto;
   margin-top: -5px;

}
.ProfileName{
   
   margin-left: 10px;
   font-size: 23px;
   font-family: arial;
   text-align: center;
   font-weight: bold;
}
.Position_label{
   font-size: 20px;
   text-align: center;
   font-family: arial;
}
.Name_Label{
   margin-top: 5px;
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   font-family: arial;  
}
#Place_Label{
   font-weight: bold;
   margin-top:-8px;
   font-size: 14px;
  text-align: center;
  
   font-family: arial;
}
#Place_Label  label img{
   width: 20px;
   height:20px;
}
.box{
   margin-top: 10px;
   border-top: 2px #dddddd solid;
   border-bottom: 2px #dddddd solid;
   width: auto;
   height: 155px;
    
}

.Left_label h4{
   font-family: arial;
   margin-top: -22px;
   margin-left: 50px;
   font-size: 11px;
   font-weight: bold;
}

.Left_label img{
   width: 30px;
   margin-left: 10px;
   margin-top: 10px;
}
.Phone_label h4{
   font-family: arial;
   margin-top: -22px;
   margin-left: 50px;
   font-size: 11px;
   font-weight: bold;
}
.Phone_label img{
   width: 30px;
   margin-left: 10px;
   margin-top: -10px;
}
.Skype_label h4{
   font-family: arial;
   margin-top: -22px;
   margin-left: 50px;
   font-size: 11px;
   font-weight: bold;
}
.Skype_label img{
   width: 30px;
   margin-left: 10px;
   margin-top: -10px;
}




.Right{
   margin-left: -10px;
   margin-top: -13px;
   background: #fff;
   width:81%;px;
   height:617px;
   float: right;
   
}

.Profile_Right_label label{
   
   width: 600px;
   height: 50px;
   font-size:30px;
   margin-top:20px;
   font-weight:bold;
   font-family:arial;
   
   
}
.list li{
   float:right;
   font-size:16px;
   font-family:sans-serif;
   margin-bottom:30px;
   margin-right:10px;
   padding-right:10px;
}
li{
   color:white;
   display:inline;
   padding-right:15px;
}
.list ul a{
   text-decoration:none;
   margin-right:10px;
   color:#ffffff;
   font-size:13px;
}
.profileRightLeftDiv{
   width: 70px;
   height: 400px;
  
   text-align: center;
   float:left; 
}
.profileRightLeftDiv label{
     margin-top: 195px;
}
.profileRightMiddleDiv{
   width: 900px;
   height: 400px;
   
   text-align: center;
   float:left; 
}

.profileRightRightDiv{
   width: 70px;
   height: 400px;
   
   text-align: center;
   float:left; 
}
.profileRightRightDiv label{
   margin-top: 195px;
}

/*#####################################################*/
.scheduleTable{
   display: none;
   margin-top: 500px;
   margin-left:110px;
   width: 850;
   margin-bottom: 20px;
   height:auto;
}
.scheduleTable p{
   font-size: 20px;
   font-family: arial;
   font-style: italic;
}

.table{
   background: #dddddd;
   width: 850px;
   height: auto;
   margin-top: 30px;
   border: 1px black solid;
   display:none; 
} 
.table th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   width:283.33px;
   color: white; 
   border-bottom: 1px black solid; 
}
.table td{
   border-right: 1px black solid;
   text-align: center;
   font-family: arial;
   font-weight: bold;
}
#info1{
  display: none;
}

#a1 {
   float: right;
}
.table2{
   background: #dddddd;
   width: 850px;
   height: auto;
   margin-top: 20px;
   border: 1px black solid;
   display:none; 
} 
.table2 th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   width:283.33px;
   color: white; 
   border-bottom: 1px black solid; 
}
.table2 td{
   border-right: 1px black solid;
   text-align: center;
   font-family: arial;
   font-weight: bold;
}
#info2{
  display: none;
}
#a2 {
   float: right;
}
.table3{
   background: #dddddd;
   width: 850px;
   height: auto;
   margin-top: 20px;
   border: 1px black solid;
   display:none; 
} 
.table3 th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   width:283.33px;
   color: white; 
   border-bottom: 1px black solid; 
}
.table3 td{
   border-right: 1px black solid;
   text-align: center;
   font-family: arial;
   font-weight: bold;
}
#info3{
  display: none;
}
#a3 {
   float: right;
}
.table_button input{
   margin-top: 30px;
   width: 250px;
   height: 50px;
   font-size: 22px;
   font-family: arial;
   color:white;
   background-color: blue;
}
.table_button input[1]{
   margin-left: 40px;
}
.yourSelectedSchedule {
   display: none;
   margin-bottom: 10px;
   font-family: arial;
   font-weight: bold;
   font-size: 22px;

}

#sendInvitationButton{
   float: right;
}
.scheduleLabel{
   font-family: arial;
   font-weight: bold;
   font-size: 22px;
   width: 340px;
}
#time1 {

   float: left;
}
.TimeSlots_label{
   font-family: arial;
   font-size: 22px;

}
/*#####################################*/
.meetingDetails{
   display: none;
   width: 850px;
   margin-top: 10px;
   height: auto;
   margin-left:110px; 
}
.meetingDetails input{
   width: 320px;
   height: 40px;
    
   font-size: 20px;
   font-style: italic;
   margin-top: 18px;
}
.LocationMeetingText{
   margin-left: 20px;

}
.meetingDescription{
   width:666px;
   height: 150px; 
   font-family: arial;
   font-size: 20px;
   font-style: italic;
   margin-top: 18px;
}
.meetingDetailsButton input{
   width: 250px;
   height: 50px;
   font-size: 22px;
   font-family: arial;
   color:white;
   background:-webkit-gradient(linear, left top, left bottom, 
   color-stop(0, #2f2f2f), color-stop(.5, #1e1f1f),
   color-stop(.51, #0c0c0c), to(#000)); 
   background: -moz-linear-gradient(top, #2f2f2f, #1e1f1f 50%, #0c0c0c 51%, #000); 
   border-top: solid 2px #555;
   border-bottom: solid 2px #111;
   -moz-box-shadow:inset 0 0 15px #000000;
   -webkit-box-shadow:inset 0 0 15px #000000;
   box-shadow:inset 0 0 15px #000000; 
   }
#nextButton{
   float: right;
}
/*<!--Meeting Investor introduction Meeting --*/
.meetingLocation img{
     float: left;
}
.meetingLocation h4{
   float: left;
  
}
.meetingInvestor{
   display: none;
   width:850px;
   height: 10px;
   margin-left: 110px;
  margin-top: 500px;
}
.InvestorIntroductionMeeting h1{
   margin-top: 20px;
   font-size: 40px; 
   font-style: italic;
   font-family: arial;

}
.InvestorIntroductionMeeting p{
   font-family: arial;
   font-size: 20px;
   font-style: italic;
}
.InvestorIntroductionMeeting blockquote {
   margin-top: 20px;
   word-wrap:break-word;
  width: 400px;
}
.SuggestedTime{
   margin-top:10px;
   height: auto;
   width: 850px;
}
.SuggestedTime a{
   font-family: arial;
   text-decoration:underline;
   font-weight: bold;
   float: right;
   margin-top: -20px;
   padding-right: 20px;
}
#editMeeting {
   font-family: arial;
   text-decoration:underline;
   font-weight: bold;
   float: right;
   margin-top: -20px;
   padding-right: 20px;
}
.SuggestedTime label{
   font-family: arial;
   margin-top: 10px;
   font-size: 22px;
   font-weight: bold;
}
/*----------Meeting login page------*/
.MeetingProcessLogin{
   width: 850px;
   height:auto;
   text-align: center;
}
.MeetingForm{
   background:#dddddd;
   width: 700px;
   height: 200px;
   margin-bottom: 20px;
   margin-left: 82px;
}
.MeetingForm h3{
   font-family: arial;
   font-size: 25px;
   font-style: italic;
   text-align: center;
   margin-top: 30px;
}
.MeetingForm h4{
   font-family: arial;
   font-size: 16px;
   text-align: center;
   margin-top: 20px;  
}
.MeetingForm input{
   width: 300px;
   height: 55px;
   font-family: arial;
   font-weight: bold;
   color:white;
   margin-top: 20px;
    background:#003399; 
}
.LoginSignup input{
      width: 100px;
   height: 40px;

}
.ButtonInvitation input{
   width: 250px;
   height: 50px;
   background:#003399;
   color:white;
   margin-left: 320px;
   font-weight: bold; 
   margin-top: 15px;
   margin-bottom: 30px;

   border-radius: 5px;
   border: 1px #003399 solid;   
}
.login {
   display: none;
}

/*##### CSS For Tabs Menu #####*/
body {
font: 0.8em Arial, sans-serif; 
}
.menu {
  padding: 0;
  clear: both;
  margin-left: .05px;
}
.menu li {
 margin-top: -10px;  
 display: inline;
  }
.menu li a {
   background: #fff;
   padding: 20px;
   float:left; 
   border-left:1px solid #ccf; 
   border-bottom: none; 
   text-decoration: none; 
   color: #fff; 
   font-weight: bold;
   height: 30px;
}
.menu li.active a {
   background: #ccf;
}
.content {
 float: left; 
 clear: both; 
 border: 1px solid #ccf; 
 border-top: none; 
 border-left: none; 
 background: #ccf; 
 padding: 10px 20px 20px; 
 width: 194px;
 word-wrap:break-word;
 height:600px; 
}
.content h1{
   font-family: cambria,sans-serif;
   text-align: center;
   font-weight: bold;
} 
.content img{
   width: 50px;
   height:50px;
   border-radius: 50px 50px 50px 50px; 
   margin-left: 75px;
}
.content h2{
   font-weight: bold;
   font-family: arial;
   font-size: 13px;
   margin-top: 5px;
   text-align: center;
}
.content p{
   height:auto;
   font-size: 13px;
   margin-bottom:5px;
   font-family:arial,sans-serif;
}
.Link_description li a{
   color: white;
   width: 130px;
   height: 15px;
   font-size: 13px;
   font-family: arial;
   font-style: italic;
  
}
#P{
   color:#fff;
   height: 20px;
   margin-top:-5px;
   font-style: italic;
   font-family: cambria;
   border-bottom:1px #fff solid;

}
.active img{
   width:43px;
   height:43px; 
    
}
/* CSS code for the popup */
#box{
   display: block;
   position:absolute;
   width:290px;
   height:350px;
   border:1.5px black solid;
   background:gray;
   display:none;
   z-index: 5;
}
.start input{
   width: 120px;
   display: inline;
   margin-left: 5px;
}
.start span{
   width: 30px;
   display: inline;
}
.end input{
   width: 120px;
   display: inline;
   margin-left: 6px;
}
.end span{
   width: 30px;
   display: inline;
}
.dialogClose{
   margin-left: 235px;
   height: 24px;
   width: 55px;
}
input{
   width:290px;
   height:50px;

   font-size:15px;  
   border-radius: none;
   padding-left: 10px;
   font-family:sans-serif; 
}
.location{
   width:290px;
   height:40px;
   border-radius: none;
   font-family: 15px;
}
textarea{
   width:290px;
   height:150px;
   border-radius: none;
   padding-left: 10px;
}
#Select{
   width:150px;
   height:30px;
   margin-top: 5px;
   background:#0099FF;
   color: white;
   border-radius: 2px;
   border:2px #0099FF solid;
   cursor: pointer; 
   margin-left:10px;
   margin-bottom:3px;
  
}
#Send_Invite{
   width: 100px;
   height: 30px;
   background:#0099FF;
   color: white;
    border-radius: 2px;
   border:2px #0099FF solid;
   cursor: pointer; 
   margin-left:10px;
   margin-bottom:3px;
}
.Button_block{
   display: inline-block;
   background: black;
   width: 290;
   height: 40px;
}
.optionsTable{
   margin-top: 20px;
   margin-bottom: 20px;
   
}
.optionsTable th{
   width: 150px;
}
.optionsTable td{
   width: 150px;
  word-wrap:break-word;
}
/***** eventEditDialog ****/
.eventEditDialog{
   position:absolute;
   width:210px;
   height:160px;
   border:1.5px black solid;
   
   display: none;
   background-color: yellow;
   z-index: 5;
}
/*#removeEventButton{
   margin-left: 20px;
   margin-top: 10px;
}*/
.eventEditDialog button{
   width:130px;
   height:30px;

   font-size:15px;  
   border-radius: none;
   padding-left: 10px;
   font-family:sans-serif; 
   margin-left: 40px;
   margin-top: 10px;
}
.eventEditDialog span{
    margin-left: 20px;
}
