.wrapper{
width:100%;

margin:0 auto;
padding:0;
}
.head{
background:#006699;
height:90px;
} 
.head h1{
font-size:30px;
font-family:arial;
padding-left:70px;
padding-top:30px;
font-weight:bold;
color:white;
}
.Left{
width:25%;
height:auto;
float:left;
background:#ffffff;
border-left:10px;
}
.Left input{
margin-left: 200px;
}
#profilePic{
margin-top:50px;
margin-left:180px;
border-radius:50% 50% 50% 50%;    
width:130px;
height:130px;
border: 1px #333 solid;
} 
.Right{
width:74%;
height:auto;
float:left;
}
.Right h1{
font-family:arial;
font-size:30px;
font-weight:bold;
padding-left:50px;
margin-top:-35px;
}
.list li{
float:right;
font-size:16px;
font-family:arial;
margin-bottom:30px;
margin-right:10px;
padding-right:10px;
}
li{
color:white;
display:inline;
padding-right:15px;
}
.list ul a{
text-decoration:none;
margin-right:10px;
color:#ffffff;
font-size:13px;

}
.Registration_heading{
margin-top:50px;
margin-left: -20px;
font-family: 15px;

}
.Registration_heading h2{
  margin-left: 550px;
}
.social_login{
width:500px;
height: auto;
background:white;
margin-left: 30px;
margin-bottom: 10px;
padding-right: 20px;
border-top:1px black solid;
}
.social_login input{
width: 240px;
height: 35px;
border-radius: 5px;
}
/*form*/
.firstname{
padding-top: 20px;
float: left;
font-family: arial;
font-size: 15px;
}
.lastname{
padding-top: 20px;
font-family: arial;
font-size: 15px;
float: right;
}
.text_Heading h5{

}
.Relatas{
margin-top: 20px;
font-family: arial;
font-weight: bold;
font-size: 15px;
}
.Relatas input{
width: 360px;
height: 30px;
margin-left: 140px;
margin-top: -20px;

}
.Designation{
float: left;
font-family: arial;
font-size: 15px;
}
.Designation input{
width: 240px;
height: 30px;
}
.Company{
font-family: arial;
font-size: 15px;
float: right;
}
.Company input{
width: 240px;
height: 30px;
}
.Email{
float: left;
font-family: arial;
font-size: 15px;
}
.Email input{
width: 240px;
height: 30px;
}
.Mobile{
float: right;
font-family: arial;
font-size: 15px;
}
.Mobile input{
width: 40px;
height:30px;
}
#Mobile{
width: 198px;
height:30px;
}
.Psaaword{
float: left;
font-family: arial;
font-size: 15px;
}
.Psaaword input{
width: 240px;
height: 30px;
}
.Re_Password{
float: right;
font-family: arial;
font-size: 15px;
}
.Re_Password input{
width: 240px;
height: 30px;
}
.Skype_id{
float: left;
font-family: arial;
font-size: 15px;
}	
.Skype_id input{
width: 240px;
height: 30px;
}
.Location{
float: right;
font-family: arial;
font-size: 15px;
}
.Location input{
width: 240px;
height: 30px;
}
.Date_Demo{
float: left;
font-family: arial;
font-size: 15px;
}	
.Birthday{
width: 78px;
height: 30px;
border-radius:4px;
}
.logo_Heading{
  margin-top: 400px;
  margin-left: -40px
}
.Google_linkedin h3{
margin-left: 70px;
font-weight: bold;
font-size: 20px;
margin-top: -30px;
font-family: arial;
}
.Google_linkedin img{
padding-left: 10px;
margin-top:10px; 
width: 50px;
height:50px;
}
.Google_Google img{
padding-left: 10px;
width: 50px;
height:50px;
margin-top: -20px;
}
.Google_Google h6{
margin-left: 70px;
font-weight: bold;
font-size: 15px;
margin-top:40px;
  }
.label_google {
margin-top: -78px;
margin-left: 60px;
font-size: 15px;
font-style: italic;
padding-left: 10px;
text-decoration: none;
}
.label_google img{
  padding-left: 10px;
  float: left;
  width: 15px;
  height:15px;
}
.Google_Facebook h3{
margin-left: 70px;
font-weight: bold;
font-size: 20px;
margin-top: -30px;
font-family: arial;
}
.Google_Facebook img{
padding-left: 10px;
width: 50px;
height:50px;
}
.Google_Twitter1 h3{
margin-left: 70px;
font-weight: bold;
font-size: 20px;
margin-top: -30px;
font-family: arial;
}
.Google_Twitter1 img{
padding-left: 10px;
margin-top: -30px;
width: 50px;
height:50px;
}
.button{
width: 100px;
margin: 20px;
font-weight: bold;
color:white;
margin-left: 130px;
background: #1ABFE5;
}
.check input{
  width:15px;
  height: 15px;
   margin-top: -10px;
margin-left: 150px;
}
.para{
margin-left: 185px;
margin-top:-10px;
}
div#page {
padding-bottom: 40px;
padding-top: 40px;
}
.radio-class input {
  height: 15px;
  width: 15px;
 margin-left: 30px;

}
.radio-class input[type=password]{
    height: 30px;
    width: 190px;

}
.radio-class textarea{
    height: 70px;
    width: 500px;

}
.time-class input {
    height: 30px;
    width: 150px;
    margin-left: -1px
}
input[type=radio] + label {
display: inline-block;
background-color: #ff0066;
color:white;
font-family:Cambria;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 20px;
  height: 30px;
  border: 2px black solid;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 59px;
}

input[type=radio] + label,
input[type=radio] + label i {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

input[type=radio]:checked + label {
  background-color: #67B04F;
}

input[type=radio] + label:before,
input[type=radio] + label:after,
input[type=radio] + label i {
  width: 50%;
  display: inline-block;
  height: 100%;
  text-align: center;
}

input[type=radio] + label:before {
  content: attr(data-text-true);
}

input[type=radio] + label:after {
  content: attr(data-text-false);
}
/**/
input[type=radio] + label i {
  top: 4%;
  background-color: black;
  height: 92%;
  border-radius: 5px;
  left: 5%;
  position: absolute;
  width: 48%;
}
input[type=radio]:checked + label i {
left: 50%;
}
.Toggle_button{
  margin-left: 400px;
  margin-top: -66px
}
.active{
  margin-left: 80px;
  margin-top: 5px;
  color: black;
  display: none;
}
#addLinkedinAccountH3, #addGooleAccount, #addAnotherGoogleAccount1, #addAnotherGoogleAccount2, #addAnotherGoogleAccount3, #addFacebookAccountH3, #addTwitterAccountH3{
  color: black;
}