
/* css for popup error msg */
.popupError{
    top: 76px;
    left: 614px;
    display: block;
    margin-top: 9%;
    border: 2px solid rgb(213, 88, 0);
    width: 40%;
}
.popupError #popupTitle{
    font-family: 'Lato';
    font-size: 18;
    color:rgb(213, 88, 0) ;
    font-weight: 900;
}

.popupError #message-box{
    background-color: #f9f5f6;
}

.popupError #Button_block{
    background-color: #f1ebed;
}

/* css for popup success msg */

.popupSuccess{
    top: 76px;
    left: 614px;
    display: block;
    margin-top: 9%;
    border: 3px solid #3eae01;
    width: 40%;
}
.popupSuccess #popupTitle{
    font-family: 'Lato';
    font-size: 18;
    color:#3eae01 ;
    font-weight: 900;
}

.popupSuccess #message-box{
    background-color: #f9f5f6;
}

.popupSuccess #Button_block{
    background-color: #f1ebed;
}

/* css for popup tip */

.popupTip{
    top: 76px;
    left: 614px;
    display: block;
    margin-top: 9%;
    border: 3px solid #3ca2ec;
    width: 40%;
}
.popupTip #popupTitle{
    font-family: 'Lato';
    font-size: 18;
    color:#3ca2ec ;
    font-weight: 900;
}

.popupTip #message-box{
    background-color: #f9f5f6;
}

.popupTip #Button_block{
    background-color: #f1ebed;
}