.wrapper{
background-color:#ffffff;
width:100%;
height:auto;
margin:0 auto;
padding:0;
}
/*heading code*/
.head{
background:#336699;
height:90px;
}
.head h1{
font-size:30px;
font-family:arial;
padding-left:70px;
padding-top:30px;
font-weight:bold;
color:white;
}

.Left{
width:16%;
height:800px;
float:left;
border-right:1px #121212 solid;
background:#ffffff;
border-left:10px;
}
.left ul a{
text-decoration:none;
font-family:arial;
font-size:14px;
margin-left:20px;
margin-top:200px;
color:black;
}

#circle{
margin-top:13px;
margin-left:23px;
border-radius:50% 50% 50% 50%;		
width:130px;
height:130px;
border: 2px #333 solid;
}
#user_profile{
font-size:20px;
font-weight:bold;
margin-left:50px;
font-family:arial;
text-align:center;

}


.left p{

text-align:center;
margin-top:10px;
padding-bottom:15px;
font-size:13px;
font-weight:bold;
text-decoration:none;
}
.left p a{
text-decoration:none;
color:blue;
}
.Right{
width:83%;
height:auto;
float:left;
background:#ffffff;
}
.Right h1{
font-family:arial;
font-size:30px;
font-weight:bold;
padding-left:50px;
margin-top:-35px;
}
#btn{
margin-left:770px;
width:210px;
height:40px;
background:#121212;
color:white;
font-family:arial;
font-size:20px;
}
.list li{
float:right;
font-size:16px;
font-family:arial;
margin-bottom:30px;
margin-right:10px;
padding-right:10px;

}
li{
color:white;
display:inline;
padding-right:15px;
}
.list ul a{
text-decoration:none;
margin-right:10px;
color:#ffffff;
font-size:13px;

}
#myCalendar {
width:850px;
background:white;
height:300px;
padding-top:10px;
margin: 20 auto;
margin-left:2px;
margin-bottom:50px;
}
#editProfile, #name{
	font-family: arial;
}

 .Popup {
 display: none;
  position: absolute;
  width: 290px;
  padding: 10px;
  background:#444444;
  color: #fff;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index:9;
  }
.Popup h3{
  font-family: arial;
  font-size:20px;
  font-weight: none;
  margin-top: -5px;
  text-align: center;
  font-style: italic;
}
.Popup label{
  margin-left: 10px;
  font-family:arial;
  font-size:18px;
}
#clock{
font-size:15px; 
}
#invited{
font-size: 13px;
font-style: italic;
}
 .Popup img{
  margin-top:5px; 
  width:20px;
  height: 20px;
}
.Popup input{
  width:100px;
  height: 30px;
  float: right;
  margin-top: 10px;
  background: #fff;
  border-radius:5px;      
  font-weight: bold; 
  border: 1 #fff solid;
}
/*##########################################*/
.Introduction_Meeting{
  display: none;
  width: 790px;
  height: 800px;
  /*background-color:blueviolet ;*/
    border-radius:10px ;

   margin-top: 190px;
   margin-left: 50px;
   
}
.Introduction_Meeting span{
    font-size: 30px;
    font-style: italic;
    font-family:arial;
    margin-left: 20px;
}
.PlaceSpan{ 
   font-family: arial;
   font-size:18px;
   margin-top: 15px;
   margin-left: 20px;
   font-style: italic;
}
.PlaceSpan span{ 
   font-size: 20px;
}

.DeclineMeeting{
   width: 170px;
   height: 32px;
   cursor: pointer;
   border: 2px blue solid;
   border-radius: 2px;
   background: blue;
   color: white;
   margin-top:-20px; 
   float: right;
   margin-right:20px; 
}
.invitation_icons{
  /* width: 790px;*/
   height:auto;
   background: #eeeeee;
   margin-top: 20px;
}
.invitation_icons h5{
   margin-top:10px; 
   font-family: arial;
   font-weight: bold;
   display: inline;
   font-size: 18px;
   margin-left: 100px;
}
.invitation_icons img{
   width: 60px;
   height: 60px;
   margin-top: 10px;
   margin-left: 100px;
   border: 1px black solid;
   border-radius:50% 50% 50% 50%;
}
.nameofinvited h6{
   margin-left:80px;
   font-family:sans-serif;
   display: inline;
}
#invited_person{
   margin-left:50px;
   margin-bottom: 20px; 
}
/*#########################################*/
.description_invitation{
   width: 750px;
   height: auto;
   padding-left:20px;
   float: right;
   font-family: arial;
}
.description_invitation blockquote{
   margin-top: 25px;
   margin-right: 20px;
   font-family:cambria; 
   font-style: italic;
   word-wrap:break-word;
   margin-bottom: 10px;
}
.description_invitation p{
   word-wrap:break-word;
   font-family:cambria; 
   font-style: italic;
   margin-top: 10px;
   word-wrap:break-word;
}
/*##################*/
.Suggested_Times span{
   font-size:25px;
   margin-bottom: 20px;
   margin-left: 20px;
}
.SuggestTimeLabel{
   margin-top:10px ;
   font-family: arial;
   font-weight: bold;
   font-size: 18px;
   margin-right: 20px;
   margin-left: 20px;
}
.SuggestTimeLabel input{
   width:140px;
   height:30px; 
   float: right;
   color: white;
   border-radius:2px; 
   background:blue;
   border: 2px blue solid;
   margin-right: 15px;
   margin-top: -5;

}
.SuggestTimeLabel label{
   margin-left: 10px;
   margin-top: 20px;
   cursor: pointer;
   margin-bottom: 20px;
}
.SuggestTimeLabel img{
   width: 25px;
   height: 25px;
} 

/*##############for table############*/
.Suggest_table{
   background: #dddddd;
   width: 720px;
   height: 150px;
   float: right;
   margin-right: 15px;
   margin-top: 15px;
   border: 1px black solid;
   margin-bottom: 15px;
   display: none;
    
} 
.Suggest_table th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   font-weight:normal;
   width:283.33px;
   height: 30px;
   padding-top:7px; 
   color: white; 
   border-bottom: 1px black solid; 
}
.Suggest_table td{
   text-align: center;
   font-family: arial;
   font-weight:normal;
   border-right: 1px black solid;
}
/*##############for table2 ############*/
.Suggest_table2{
   background: #dddddd;
   width: 720px;
   height: 150px;
   float: right;
   margin-right: 15px;
   margin-top: 15px;
   border: 1px black solid;
   margin-bottom: 15px;
   display: none;
    
} 
.Suggest_table2 th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   font-weight:normal;
   width:283.33px;
   height: 30px;
   padding-top:7px; 
   color: white; 
   border-bottom: 1px black solid; 
}
.Suggest_table2 td{
   text-align: center;
   font-family: arial;
   font-weight:normal;
   border-right: 1px black solid;
}

/*##############for table3 ############*/
.Suggest_table3{
   background: #dddddd;
   width: 720px;
   height: 150px;
   float: right;
   margin-right: 15px;
   margin-top: 15px;
   border: 1px black solid;
   margin-bottom: 15px;
   display: none;
    
} 
.Suggest_table3 th{
   background: #bbbbbb;
   text-align: center;
   font-family: arial;
   font-weight:normal;
   width:283.33px;
   height: 30px;
   padding-top:7px; 
   color: white; 
   border-bottom: 1px black solid; 
}
.Suggest_table3 td{
   text-align: center;
   font-family: arial;
   font-weight:normal;
   border-right: 1px black solid;
}

.ShareLabel span{
   margin-left: 300px;
   font-size: 13px;
}
.ShareLabel_icnon{
   float: right;
   margin-top: -22px;
   margin-right: 290px;
}
.ShareLabel_icnon img{
   width:30px;
   text-align: center;
   height: 30px;
   margin-left: 5px;
   cursor: pointer;
}
.sendInvitationDiv input{
  width:140px;
   height:30px; 
   float: right;
   color: white;
   border-radius:2px; 
   background:blue;
   border: 2px blue solid;
   margin-right: 15px;
   margin-top: -5;
}
/*########################################################*/
.profile_aside_Right{
   display: none;
   width: 239px;
   height: 1000px;
   border-top:2px #dddddd solid;
   border-left:2px #dddddd solid;
   background:#aaaaaa;
   margin-top: -1220px;
   margin-left: 850px;

}
.Profile_icon img{
  width:80px;
   height:80px;
   margin-top:-25px;
   margin-left: 85px;
   border: 1px #333 solid;
   border-radius:50% 50% 50% 50%;
}
.profile_aside_Right label{
   
   font-family: arial;
  cursor: pointer;
   margin-left: 30px;
   margin-top: 20px;
  }
.PlaceLabel{
   margin-left: 50px;
   margin-top: 20px;
}
#PlaceLabel{
   font-size: 15px;
}
#Label_Mail,#phoneNumberLabel,#skypeIdLabel{
  font-size: 13px;
  margin-left: 40px;
  margin-top: -20px;
}
.imageSizefixed{
    margin-bottom:5px;
    margin-left: 5px;
}
.Profile_Label{
  margin-left: 40px;
    margin-top:-30px;
    font-family: cambria;
}
#senderNameToShow{
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
#senderPlaceToShow{
  font-size: 10px;
  margin-left: -5px;
}
/*##### CSS For Tabs Menu #####*/
body {
font: 0.8em Arial, sans-serif; 
}
.menu {
  padding: 0;
  clear: both;
  margin-left: .05px;
}
.menu li {
 margin-top: -10px;  
 display: inline;
  }
.menu li a {
   background: #fff;
   padding: 17.8px;
   float:left; 
   border-left:1px solid #ccf; 
   border-bottom: none; 
   text-decoration: none; 
   color: #fff; 
   font-weight: bold;
   height: 30px;
   margin-top: 120px;
}
.menu li .active a {
   background: #ccf;
}
.content {
 float: left; 
 clear: both; 
 border: 1px solid #ccf; 
 border-top: none; 
 border-left: none; 
 background: #ccf; 
 padding: 10px 20px 20px; 
 width: 200px;
 word-wrap:break-word;
 height:600px; 
 margin-top: -1000px;
}
.content h1{
   font-family: cambria,sans-serif;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
   margin-right: 40px;
   margin-top: 20px;
} 
.content img{
   width: 50px;
   height:50px;
   border-radius: 50px 50px 50px 50px; 
   margin-left: 75px;
}
.content h2{
   font-weight: bold;
   font-family: arial;
   font-size: 13px;
   margin-top: 5px;
   text-align: center;
}
.content p{
   height:auto;
   font-size: 13px;
   margin-bottom:5px;
   font-family:arial,sans-serif;
}
.Link_description li a{
   color: white;
   width: 130px;
   height: 15px;
   font-size: 13px;
   font-family: arial;
   font-style: italic;
}
#P{
   color:#fff;
   height: 20px;
   margin-top:-5px;
   font-style: italic;
   font-family: cambria;
   border-bottom:1px #fff solid;

}
.active img{
   width:43px;
   height:43px; 
    
}
