.wrapper{
background-color:#ffffff;
height:700px;
width:100%;
margin:0 auto;
padding:0;
}
.head{
background:#336699;
margin-top:-10px;
height:70px;
}
.head h1{
font-size:34px;
font-family:sans-serif,arial;
padding-left:60px;
padding-top:15px;
font-weight:bold;
color:white;
}
.Left{
width:10%;
height:800px;
float:left;
background:#f3f3f3;
}
.middle{
text-align:center;
float:left;
height:800px;
width:80%;
background:#ffffff;
}
.Right{
width:10%;
height:800px;
float:right;
background:#f3f3f3;
}
header h2{
text-align:left;
margin-left:90px;
width:850px;
font-family:arial;
font-size:30px;
font-weight:bold;
color:#336699;
background:#ffffff;
margin-top:25px;
}
.formLayout{
padding-left:10%;
background:#ffffff;
border-radius:5px;
border:2px #f3f3f3 solid;
padding: 5px;
width:830px;
height:660px;
margin:0 0 0 45px;
}
.formLayout label{
float:left;
font-family:arial;
width: 150px;
text-align:left;
margin-top:20px;
margin-left:40px;
} 
.formLayout input{
display: block;
float:right;
width: 200px;
height:30px;
float: left;
margin-top:20px;
}
.button input{
margin-left:285px;
margin-top:20px;
background:#336699;
border-radius:5px;
color:white;
height:30px;
text-align:center;
}
.button1 input{
margin-top:20px;
color:white;
background:#336699;
border-radius:5px;
height:30px;
margin-left:10px;
}
#btn,#btn1{
width:130px;

}
.footer{
height:auto;
margin-bottom:-20px;
text-align:center;
color:white;
background:#336699;
}
.footer li a{
text-decoration:none;
font-size:13px;
padding-left:20px;
color:white;
}
ul a{
margin:3px;
text-decoration:none;
padding-top:10px;
}
li{
display:inline;
font-style:bold;
}
.meet h2{
color:white;
font-size:20px;
font-weight:bold;
font-family:Sans-serif;
text-align:center;
background:#336699;
}
.Date select{
float:left;
width:66.5px;
height:25px;
margin-top:15px;
}
#footerTitle{
background:#336699;
}
.Network h3{
text-align:left;
margin-left:40px;
}
.Network label{
font-weight:bold;
font-family:sans-serif;
}


#sliderLabel {
    border: 2px solid black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 80px;
}
#sliderLabel input {
    display: none;
}
#sliderLabel input:checked + #slider {
    left: 36px;
}
#slider {
    background: #c0c6c3;
    -moz-border-radius: 7px;
    display: block;
    height: 30px;
    left: -4px;
    position: absolute;
    top: 0px;
    -moz-transition: left .25s ease-out;
    -webkit-transition: left .25s ease-out;
    transition: left .25s ease-out;
    width: 48px;
    z-index: 1;
}
#sliderOn, #sliderOff {
    color: white;
    display: block;
    font-family: verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 40px;
}
#sliderOn {
    background: #002400;
    background: -moz-linear-gradient(top,  #002400 0%, #008a00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002400), color-stop(100%,#008a00));
    background: -webkit-linear-gradient(top,  #002400 0%,#008a00 100%);
    background: -o-linear-gradient(top,  #002400 0%,#008a00 100%);
    background: -ms-linear-gradient(top,  #002400 0%,#008a00 100%);
    background: linear-gradient(top,  #002400 0%,#008a00 100%);
    left: 0px;
}
#sliderOff {
    background: #870000;
    background: -moz-linear-gradient(top,  #870000 0%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#870000), color-stop(100%,#ff0000));
    background: -webkit-linear-gradient(top,  #870000 0%,#ff0000 100%);
    background: -o-linear-gradient(top,  #870000 0%,#ff0000 100%);
    background: -ms-linear-gradient(top,  #870000 0%,#ff0000 100%);
    background: linear-gradient(top,  #870000 0%,#ff0000 100%);
    right: 0px;
}

br{
clear: left;
}
