
.custom-side-nav li {
    line-height: 15px;
    margin: 5px 0;
    text-indent: 0;
    text-align: center;
}

.custom-side-nav li a img {
    width: 22px;
}

.custom-side-nav li a {
    padding: 1px 0;
    font-size: 12px;
}

.custom-side-nav li:first-child  {
    margin-top: 0;
    /*line-height: 50px;*/
}

.admin-section {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    min-height: 250px;
    margin-top: 55px;
}

.admin-section h3 {
    text-align: center;
}

.line-0 {
    line-height: 0;
}

.admin-section h4 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.content-row {
    margin-left: 35px;
}

.content-row .col-md-3 {
    min-height: 200px;
}

.content-row .col-md-3 ol {
    width: 100%;
    padding-left: 10px;
}

.admin-section:hover {
    background: #f9f9f9;
    -webkit-transition: background 0.6s ease-in-out;
    -moz-transition: background 0.6s ease-in-out;
    -ms-transition: background 0.6s ease-in-out;
    -o-transition: background 0.6s ease-in-out;
    transition: background 0.6s ease-in-out;
}

.admin-section ol {
    color: #267368;
    width: 70%;
    margin: 10px auto 0 auto;
    line-height: 24px;
    min-height: 200px;
}

.admin-section ol>li a {
    color: #267368;
    font-size: 12px;
}

.admin-section ol>li a:hover {
    color: #16A085;
}
