.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 5px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}

body
{
    font-family: Lato, sans-serif;
}

table
{
    width: 100%;
}

.bold
{
    font-weight: 700;
}

.relatas-navbar
{
    border: none;
    margin-bottom: 0px;
    background-color: #ccedfa;
    background-image: none;
    border-bottom-color: #cccccc;
    border-radius: 0px;
    box-shadow: none;
    /*padding: 12px;*/
}

.relatas-navbar-inner
{
    background-color: #ccedfa;
    background-image: none;
    border-bottom-color: #cccccc;
    border-radius: 0px;
    box-shadow: none;
    padding: 12px;
}

.relatas-navbar .relatas-nav
{
    margin-top: 6px;
    font-size: 15px;
    text-transform: uppercase;
}

.relatas-navbar .relatas-nav > li > a
{
    text-shadow: none;
    color: #666666;
    font-weight: 700;
    padding-right: 10px;
}

.relatas-navbar .relatas-nav > li > a:hover
{
    background: none !important;
}

.relatas-container
{
    padding: 0px;
}

.left-sidebar
{
    background-color: #dfdfdf;
    border-right: 1px solid #c8c8c8;
    position: relative;
}

.right-sidebar
{
    background-color: #dfdfdf;
    border-left: 1px solid #c8c8c8;
    position: relative;
}

.container-title
{
    color: #33b5eb;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.main-content, .content-row
{
    padding: 20px;
    padding-bottom: 0px;
}

.grey-bg
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 104PX;
    background-color: #c3c3c3;
    width: 100%;
}

.profile-picture-new
{
    text-align: center;
    padding-top: 40px;
    border-radius: 64px;
    width: 129px;
    height: 129px;
    margin: 0px auto;
    margin-bottom: 56px;
    position: relative;
}

.profile-picture
{
    text-align: center;
    padding-top: 40px;
    border-radius: 64px;
    width: 129px;
    height: 129px;
    margin: 0px auto;
    margin-bottom: 56px;
    position: relative;
}

.profile-picture-red, .profile-picture-small
{
    text-align: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    position: relative;
}

.profile-picture-medium
{
    border-radius: 46px;
    width: 92px;
    height: 92px;
    position: relative;
}

.profile-pic-img-small
{
    position: absolute;
    width: 52px;
    border-radius: 26px;
    top: 2px;
    left: 2px;
}

.invite-profile-pic
{
    position: absolute;
    width: 90px;
    border-radius: 45px;
    top: 1px;
    left: 1px;
}

.profile-picture-border
{
    position: relative;
    z-index: 10;
}

.sidebar-menu, .dash-menu
{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.sidebar-menu li
{
    line-height: 48px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    margin-top: -1px;
    padding-left: 16px;
}

.sidebar-menu a, .sidebar-menu span
{
    color: #615f5f;
    font-size: 14px;
    /*font-weight: 700;*/
}

.sidebar-menu a:hover
{
    color: #615f5f;
    text-decoration: none;
}

.dash-menu li
{
    line-height: 68px;
    margin-top: -1px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    padding-left: 8px;
    position: relative;
}

.dash-menu a, .dash-menu span
{
    color: #615f5f;
    font-size: 13px;
    font-weight: 700;
    padding-left: 4px;
}

.dash-menu a:hover
{
    color: #615f5f;
    text-decoration: none;
}

.dash-menu .active
{
    background-color: #f5be57;
    border-top: 1px solid #dcab4e;
    border-bottom: 1px solid #dcab4e;
    z-index: 100;
}

.dash-menu .active span
{
    color: #FFF;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.person-details
{
    margin-bottom: 16px;
}

.person-detail
{
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #615f5f;
    line-height: 2em;
}

.user-msg
{
    font-size: 21px;
    font-weight: 700;
    background-color: #f67b3f;
    line-height: 57px;
    border-bottom: 1px solid #ef6522;
    color: #FFF;
    padding-left: 20px;
}

.user-msg-name
{
    text-transform: uppercase;
}

.user-msg-secondary
{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.dash-stat
{
    border-right: solid 1px #f67b3f;
}

.dash-stat:last-child
{
    border-right: none;
}

.dash-stat div
{
    text-align: center;
}

.dash-stat-href:hover
{
    text-decoration: none;

}

.dash-stat-val
{
    color: #00a3e6;
    font-size: 72px;
    font-weight: 300;
}

.dash-stat-title
{
    font-size: 14px;
    font-weight: 700;
    color: #666;
}

.content-title
{
    font-size: 21px;
    font-weight: 700;
    color: #333;
}

.meeting-details
{
    background-color: #f9f9f9;
    line-height: 1.8em;
    color: #666;
    padding: 6px;
    padding-right: 4px;
    height: 100%;
    width: 33%;
    margin: 4px;
    border-right: 1px solid #c3c3c3;
}

.meeting-details:last-child
{
    border-right: none;
}

.meeting-title
{
    font-size: 18px;
    font-weight: 700;
}

.meeting-time
{
    margin: 4px 0px;
}

.meeting-location
{
    font-weight: 700;
}

.meeting-title, .meeting-time, .meeting-location
{
    margin-left: 4px;
}

.meetings-table
{
    width: 100%;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    margin: 5px 0px;
}

.meetings-table td
{
    vertical-align: top;
}

.meetings-table table
{
    width: 100%;
}

.meetings-table .meeting-details-column
{
    border-right: 1px solid #c3c3c3;
    width: 33%;
    height: 100%;
    padding: 4px;
}

.meetings-table .meeting-details-column:first-child
{
    padding-left: 0px;
}

.meetings-table .meeting-details-column:last-child
{
    border-right: none;
    padding-right: 0px;
}

.meeting-meta-title
{
    font-weight: 700;
    color: #999;
}

.add-participant-btn
{
    margin: 7px;
}

.meeting-participant-pic
{
    display: inline-block;
    margin: 7px;
}

.meeting-attachment
{
    /*width: 52px;*/
    text-align: center;
    display: inline-block;
    margin: 7px;
    color: #666;
}

.meeting-attachment1
{
    display: inline-block;
    margin: 7px;
    color: #666;
}

.meeting-attachment:hover
{
    text-decoration: none;
}

.meeting-attachment-icon
{
    display: inline-block;
}

.meeting-attachment-title
{
    width: 52px;
    display: block;
    word-wrap: break-word;
    line-height: 1.5em;
    font-size: 11px;
}

.meeting-attachment-title1
{
    font-weight: 700;
    margin-left: 3px;
}

.add-attachment-btn
{
    vertical-align: top;
}

.add-attachment-btn img
{
    position: absolute;
}

.empty-attachment-msg
{
    line-height: 1.5em;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 700;
    color: #999;
    display: inline-block;
}

.meeting-invites-list
{
    position: relative;
}

.meeting-invite-card
{
    display: inline-block;
    width: 228px;
    background-color: #f6f4f4;
    border: 1px solid #dfdddd;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 45px;
}

.invite-card-blue-bg
{
    background-color: #00a3e6;
    height: 72px;
}

.invite-card-prodile-pic
{
    margin: 0px auto;
    margin-top: -45px;
}

.invite-sent-by-label
{
    font-style: italic;
}

.invitee-name
{
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #dfdddd;
}

.meeting-invite-title
{
    font-weight: 700;
    font-size: 21px;
    color: #4c4c4c;
    margin-bottom: 4px;
}

.meeting-invite-date
{
    font-size: 18px;
    color: #7f7f7f;
}

.add-invite-btn
{
    vertical-align: top;
}

.add-invite-btn img
{
    position: absolute;
    top: 100px;
}

.icon-tabs
{
    list-style: none;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    /*margin-top: 64px;*/
    margin-bottom: 0px;
    padding-left: 0px;
}

.icon-tab-item
{
    display: inline-block;
    margin-left: -4px;
    border-left: 1px solid #c8c8c8;
}

.icon-tab-item-href
{
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 7.5px;
}

.icon-tab-item:first-child
{
    border-left: none;
    margin-left: 0px;
}

.icon-tab-item .active
{
    background-color: #f3b44c;
}

.social-tab-content
{
    background-color: #f5be57;
    overflow: auto;
    display: none;
    margin-top: -1px;
    height: 260px;
}

#relatas-tab-content
{
    background-color: #f5be57;
    margin-top: 0px;
}

.small-login-container
{
    border: 1px solid #df951c;
    border-radius: 2px;
    background-color: #f3b44c;
    width: 153px;
    height: 117px;
    padding: 16px;
    text-align: center;
    margin: 60px auto;
}


.small-message-container
{
    border: 1px solid #df951c;
    border-radius: 2px;
    background-color: #f3b44c;
    width: 153px;
    height: 117px;
    padding: 16px;
    text-align: center;
    margin: 60px auto;
}

.small-login-message
{
    font-weight: 700;
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.social-tab-content-title
{
    color: #FFF;
    background-color: #f3b44c;
    line-height: 37px;
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding-left: 16px;
}

.social-connections-list
{
    list-style: none;
    padding: 5px 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f3b44c;
    margin-bottom: 2px;
}

.social-connection-item
{
    display: inline-block;
}

.social-connection-profile-picture
{
    margin: 5px 5px;
}

.social-latest-post
{
    padding: 5px 16px;
}

.social-post-title
{
    color: #FFF;
    font-size: 13px;
    /*border-bottom: 1px solid #FFF;*/
    padding-bottom: 5px;
}

.social-post-tools
{
    color: #7f7f7f;
    font-size: 11px;
    padding: 3px;
}

.social-post-action
{
    color: #7f7f7f;
    text-decoration: underline;
}

.social-post-action-separator
{
    margin: 0px 3px;
}

.selected-times-panel
{
    background-color: #c3c3c3;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    padding: 8px 0px;
    overflow: hidden;
    height: 58px;
}

.selected-times-label
{
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 700;
    padding-left: 24px;
}

.selected-times-toggle
{
    display: inline-block;
    float: right;
    margin-right: 16px;
}

.selected-times-list
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    display: inline-block;
}

.selected-time-item
{
    display: inline-block;
    border: 1px dashed #abaaaa;
    padding: 1px;
    margin-right: 10px;
}

.selected-time-display
{
    background-color: #f67b3f;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    padding: 4px 10px;
}

.ib-container
{
    display: inline-block;
    vertical-align: top;
}

.selected-times-label-cont
{
    padding-top: 10px;
}

.send-invite-btn-cont img
{
    vertical-align: top;
    padding-top: 5px;
    width:146px;
    height: 35px;
}

.selected-times-table-container
{
    margin: 8px 24px 0px 24px;
}

.selected-times-table-container table
{
    background-color: #FFF;
    width: 100%;
    line-height: 30px;
}

.selected-times-table-container thead, .document-uploaded-table thead
{
    background-color: #f67b3f;
    color: #FFF;
}

.selected-times-table-container th
{
    border: 1px solid #c76333;
    padding-left: 15px;
}

.selected-times-table-container td
{
    padding-left: 15px;
    border: 1px solid #cecdcd;
}

.document-uploaded-table td:last-child
{
    text-align: right;
    padding-right: 10px;
}

.document-uploaded-table
{
    background-color: #FFF;
    width: 100%;
    line-height: 36px;
    border: 1px solid #cecdcd;
    font-size: 16px;
}

.document-uploaded-table td
{
    padding-left: 4px;
    border-bottom: 1px solid #cecdcd;
}

.document-uploaded-table th
{
    padding-left: 9px;
}

#back-cal-btn
{
    font-size: 17px;
    font-weight: 700;
    color: #4c4c4c;
    line-height: 26px;
}

#back-cal-btn:hover
{
    text-decoration: none;
}

#back-cal-btn img
{
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

.confirmation-people-container
{
    margin-top: -20px;
    padding: 6px;
    position: relative;
}

.confirmation-people-content
{
    background-color: #ccedfa;
    padding-left: 14px;
    padding-top: 3px;
    padding-bottom: 50px;
}

.confirmation-invitation-title
{
    color: #f67b3f;
    font-size: 31px;
    font-weight: 700;
    font-style: italic;
    margin: 10px 0px;
}

.confirmation-invitation-msg
{
    font-size: 18px;
}

.confirmation-right-sidebar
{
    margin-top: -20px;
}

.confirmation-inviter-details
{
    margin-bottom: 10px;
}

.confirmation-sub-title
{
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.confirmation-profile-picture, .meeting-sender-picture
{
    display: inline-block;
    margin-right: 10px;
}

.confirmation-inviter-name
{
    display: inline-block;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
}

.confirmation-empty-invitees-msg
{
    font-style: italic;
    margin-top: 10px;
    color: #666;
}

.confirmation-content-table
{
    padding-right: 6px;
}

.confirmation-content-table table
{
    width: 100%;
}

.confirmation-content-table tr
{
    border: 1px solid #c3c3c3;
}

.confirmation-content-table td
{
    padding: 10px;
}

.conf-sug-times-table td:last-child
{
    text-align: right;
}

.confirmation-docs-table td
{
    border: 1px solid #c3c3c3;
}

.conf-suggested-times-btn, .document-table-btn
{
    color: #FFF;
    font-weight: 700;
    line-height: 27px;
    padding: 0px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 2px;
}

.document-table-btn
{
    background-color: #4e90dc;
}

.document-table-btn1
{
    background-color: #4fc5f6;
}

.conf-suggested-times-btn:hover, .document-table-btn:hover
{
    text-decoration: none;
    color: #FFF;
}

.conf-confirm-btn
{
    background-color: #00a3e6;
}

.conf-suggest-new-btn
{
    background-color: #f67b3f;
}

.conf-sug-time-label
{
    font-weight: 900;
}

.conf-sug-time-value
{
    font-weight: 700;
}

.conf-doc-detail
{
    font-size: 12px;
    font-weight: 700;
}

.document-table-icon-btn
{
    display: inline-block;
}

.document-table-icon-btn img
{
    margin-top: -7px;
}

.document-table-stat
{
    font-weight: 700;
    font-style: italic;
    color: #333333;
    margin-right: 14px;
}

.document-table-controls
{
    margin-top: 25px;
}

.back-btn, .next-btn
{
    display: inline-block;
}

.back-btn img, .next-btn img
{
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
}

.document-pages-list
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.page-num
{
    font-size: 13px;
    color: #000;
    border-right: 1px solid #000;
    padding: 0px 6px;
}

.page-num:last-child
{
    border-right: none;
}

.page-num:hover
{
    color: #000;
    text-decoration: none;
}

.active-page
{
    font-weight: 700;
}

.document-share-table
{
    background-color: #f4f2f2;
    border: 1px solid #cecdcd;
}

.document-share-table td
{
    padding: 15px;
    border-right: 1px solid #CECDCD;
    text-align: center;
}

.document-share-table input[type='text']
{
    font-weight: bold;
    font-size: 12px;
    line-height: 33px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #a7a7a7;
    padding-left: 10px;
}

#document-email-input
{
    width: 250px;
}

#document-time-frame-input
{
    width: 200px;
}

.document-file-btn
{
    line-height: 29px;
}

.document-share-file-submit
{
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    padding: 0px 17px;
}

/**
 * popup styles
 */

#endDate{
    margin-left: 5px;
}

.popover
{
    box-shadow: none;
    border: 1px solid #f67b3f;
    border-radius: 0px;
    padding: 1px;
    max-width: 323px;

}

.popover.left > .arrow
{
    border-left-color: #f67b3f;
}

.popover.right > .arrow
{
    border-right-color: #f67b3f;
}

.popover-content
{
    padding: 0px;
    margin-top: -1px;
}

.popover-content input[type='text']
{
    width: 100%;
    height: 40px;
    border: none;
    border-top: solid 1px #f67b3f;
    padding-left: 14px;
}

.popover-content select
{
    width: 100%;
    height: 40px;
    border: none;
    border-top: solid 1px #f67b3f;
    padding-left: 14px;
}

.popover-content textarea
{
    width: 100%;
    height: 100px;
    border: none;
    border-top: solid 1px #f67b3f;
    padding-left: 14px;
}

.popover-title
{
    display: none;
}

.popup-btn
{
    background: #47c3f6;
    border: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
}

.popup-close
{
    background: #47c3f6;
    border: none;
    color: #fff;
    text-transform: uppercase;
    float: left;
    line-height: 25px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
}


.meeting-request-detail
{
    padding: 12px 12px 0px 12px;
}

.meeting-sender-name
{
    /*border-top: 1px solid #f67b3f;*/
    padding: 6px 12px 18px 12px;
    margin-top: 6px;
}

/**
 * END popover styles
 */

/**
 * pre-written selectors (keeping the same name for the sake of compatibility with already written JS)
 */

#profilePic, #sender-right-side-profilePic
{
    position: absolute;
    width: 128px;
    border-radius: 64px;
    margin: 0px auto;
    top: 40px;
    left: 0px;
}

#name
{
    font-size: 18px;
}

#designation
{

}

#editProfile
{
    position: relative;
}

.Button_block
{
    background-color: #dfdfdf;
    padding: 10px;
    text-align: right;
}
.suggest-button-block{
    background-color: #dfdfdf;
    padding: 10px;
    text-align: center;
}

#meetingTitle
{
    /*color: #FFF;*/
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    line-height: 44px;
    width: 300px;
    /*background-color: #f67b3f;*/
    margin: 0px;
    padding-left: 10px;
}


/**
 * END pre-written selectors
 */

.right-p0
{
    padding-right: 0px;
}

.top-p0
{
    padding-top: 0px;
}

.p0
{
    padding: 0px;
}

.text-right-align
{
    text-align: right;
}

.white{
    color: #ffffff;
}

.arrows{
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-weight: 900;
}

