#usingGoogle{
	display: none;
}
 .wrapper{

background-color:#;
width:100%;
height:auto;
margin:0 auto;
padding:0;
}
.head{
background:#006699;
height:90px;
}
.head h1{  
font-size:30px;
font-family:sans-serif,arial;
padding-left:70px;
padding-top:30px;
font-weight:bold;
color:white;
}
.login {
width: 500px;
height: 520px;
margin: 39px auto;
border-radius:10px;

}
.login h1{
padding-top:30px;
text-align:center;
font-family:arial;
font-size: 23px;
font-weight: bold;
}
.Button_class {
margin-left: 100px;
margin-top: 20px;	
}
.Button_class input{
font-weight: bold;
font-family:arial;
font-size: 16px;
color: white;
box-shadow: 10px;
border: 1px #006699 solid;
background: #006699;
width: 300px;
height: 60px;
border-radius: 10px;
}
.Button_class h4{
margin-top: 20px;
margin-left: 50px;
font-family: arial,sans-serif;
font-weight: bold;
}
.text_box{
margin-left: 115px;
margin-top: 20px;
margin-bottom: 30px;	
}
.text_box input {
width: 270px;
height: 40px;

font-size:14px; 
padding-left: 20px;
font-family: arial;
border-radius: 5px; 	
background: #ffffff;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.check_box{
padding-left: 20px;
margin-left:100px;
margin-top: -30px;
font-family: italic;
font-size: 15px;
}.paragraph{
	font-family: arial;
	font-size: 14px;
margin:-15px;
margin-left: 200px;
}
.Login_button{
width: 200px;
height: 40px; 
font-weight: bold;
color: white; 
margin-left:180px;
margin-top: 40px ;
margin-bottom: 30px;
border-radius:5px;
background:#006699; 

}
.forgot p{
margin-bottom: 30px;
text-align:center;
margin:-20px;
margin-bottom:30px;
text-decoration: none;
font-family: italic;
font-size: 14px;
}