@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', sans-serif!important;
    font-size: 12px !important;
    color: rgb(56, 60, 63) !important;
}

.top-menu {
    background: #4da1d6;
    border-bottom: 1px solid #49B5A6;
    margin-left: -15px;
    margin-right: -15px;
}

.logo {
    /*background: #4da1d6;*/
    /*width: 25px;*/
    width: 25px;
    text-align: center;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-top: -5px;
}
.top-menu .fa-bars{
    display: none;
}

.hidden_info {
    display: none;
    background: #fff;
    border: 1px solid;
    box-shadow: 1px 2px 5px #ccc;
    position: absolute;
    width: 125px;
    right: -120px;
    top:5px;
    font-size: 14px;
    padding: 5px 0;
}

.hidden_info li {
    padding: 0;
    padding-left: 5px !important;
    text-align: left;
    background: #4da1d6;
    color: #fff;
}

.left-menu li:hover {
    /*background: #fff;*/
    /*cursor: pointer;*/
}

.hidden_info li:hover {
    /*background: #fff;*/
    cursor: pointer;
    /*color: #4da1d6;*/
    opacity: 0.7;
}

.myhover {
    position: relative;
}

.bottom-footer span{
    font-weight: bold;
}

.bottom-footer {
    position: fixed;
    border-top: 1px solid #fff;
    background: #fff;
    bottom: 0;
    left: 40px;
    right: 0;
    padding: 5px;
    color: #4da1d6;
}

.myhover .header {
    color: #4da1d6;
    margin-top: -5px;
    background: #fff;
}

.myhover .header:hover{
    /*background: #4da1d6;*/
    /*color: #fff;*/
}

.myhover:hover .hidden_info {
    display: block;
}

.left-menu {
    /*width: 150px;*/
    width: 40px;
    color: #fff;
    background: #4da1d6;
    font-size: 16px;
    margin-left: -15px;
    padding-left: 10px;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 10px;
    border-right: 1px solid #4da1d66b;
    text-align: center;
    z-index: 9999;
}

.bottom img {
    width: 25px;
    height: 25px;
    border-radius: 55%;
    object-fit: cover;
}

.bottom {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.left-menu .fas {
    margin-right: 10px;
}

.ct-series-a .ct-bar {
    stroke: #FE9E83 !important;
}

.ct-series-b .ct-bar {
    stroke: #8ECECB !important;
}

.ct-series-c .ct-bar {
    stroke: rgb(99, 140, 166) !important;
}

.right-section .filters {
    border-bottom: 1px solid #ccc;
    margin-left: -30px;
    padding-left: 15px !important;
    margin-right: -15px;
}

.right-section {
    margin-left: 50px;
}

.right-section .top-bar {
    /*background: #4da1d6;*/
}

.right-section .top-bar li {
    display: inline-block;
    padding: 5px 10px;
    border-right: 1px solid #4da1d6;
    color: #4da1d6;
    height: 15px;
    margin-top: 10px;
    line-height: 5px;
}

.right-section .top-bar li:hover {
    cursor: pointer;
    background: #4da1d6;
    color: #fff;
    border-right: 1px solid #4da1d6;
    height: 20px;
    padding-bottom: 10px;
    transition: all .2s ease-in-out;
}

.filters {
    padding: 10px 5px 0 5px !important;
    /*background: #4da1d61c;*/
}

#moreBtns {
    display: none;
}

.filters li {
    display: inline-block;
    margin-right: 10px;
}

.filters select {
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 2px;
}

.filters .profile .list-unstyled {
    width: 175px;
    height: 155px;
    position: absolute;
    top: 40px;
    background: #fafafa;
    box-shadow: 2px 3px 2px #eee;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}

.filters .profile .list-unstyled li {
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.filters .profile .list-unstyled li:hover {
    background: #eee;
}

.filters .profile .selected {
    cursor: pointer;
    padding-left: 10px;
}

.drop-down-ls {
    display: none;
}

.selected:hover .drop-down-ls {
    display: block;
    transition: all .2s ease-in-out;
}

.filters .profile span {
    font-weight: bold;
    margin-left: 5px;
}

.user-list img,
.filters .profile img {
    width: 25px;
    height: 25px;
    border-radius: 55%;
    object-fit: cover;
}

.more-buttons {
    color:#4da1d6;
}

.data-wrapper {
    text-align: left;
    /*background: #f2f2f2;*/
    padding-top: 15px;
}

.list-unstyled {
    margin-bottom: 0;
}

.user-list table {
    width: 100%;
}

.user-list th {
    padding: 5px;
    background: #eee;
}

.user-list td {
    width: 350px;
}

.user-list td {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.load-more {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

h5 {
    font-size: 1rem !important;
}

.pg-name {
    margin-right: 15px;
}

.user-list tr:hover {
    background: #f9f9f9;
    cursor: pointer;
}

input {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.ct-performance .ct-series line.ct-point {
    display: none;
}

.ct-performance .ct-series line.ct-point:last-of-type {
    stroke: green;
    display: inherit;
    stroke-width: 15px;
}

.inline-graph {
    margin-top: 50px;
}

.inline-graph .ct-chart{
    position: absolute;
}

.inline-graph .ct-chart-q1{
    left: 50px;
}

.inline-graph .ct-chart-q2{
    left: 250px;
}

.inline-graph .ct-chart-qcurrent{
    left: 450px;
}

.inline-graph .ct-chart-qnext{
    left: 650px;
}

.inline-graph .chartist-tooltip {
    color: #fff;
}

.inline-graph .ct-point {
    stroke-width:5px
}

.inline-graph .ct-line {
    /*stroke-width: 1px;*/
    stroke-width: 0;
}

.inline-graph .ct-area {
    fill-opacity: .15;
}

.inline-graph .ct-series-a .ct-area {
    fill: #56a698; //winning
}

.inline-graph .ct-series-b .ct-area {
    fill: #FE9E83; //target
}

.inline-graph .ct-series-c .ct-area {
    fill: #767777; //pipeline
}

.inline-graph .ct-grid {
    display: none;
}
