.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}
@media screen and (min-width:320px) {
    .showLeftbar-icns{
        margin:-4px 13px 0 0 !important;
    }
    .time-zone-container{
        width: 93%;
        padding: 4px 28px 4px 18px
}
    .time-zone-container span{
        font-size: 7px!important;
    }
    .networked_contacts h4{
        font-size: 14px;

    }
    #sidebar-wrapper{
        width: 70px;
        margin-top: -15px;
    }
    .un-prepared-meetings .loosing-inner-section p{
        font-size: 12px;
    }
    .left-aside-for-user-meeting h4{
        padding: 10px;

    }
    .leftside-bar{
        display: block!important;
    }
    .btn-go {
        margin-top: 8px;
        margin-left: 0px;
        padding: 3px;

    }

    .showContainerleftbar{
        width: 254px;
        height:700px;
        margin:13px 0px 0 -69px!important;
    }
    .message-infotion{
        font-size: 12px;
    }

    .search{
        margin: auto;
        width: 260px;
    }
    .search {
        background: url('http://icons.iconarchive.com/icons/custom-icon-design/mini/16/Search-icon.png') no-repeat 232px 9px;
    }

    /*========================
               Second
    ==========================*/
    .inner-container-meeting{
        width: 100%;
    }
   .icons-for-contacts{
       width: 20px;
   }
    .relationship-label{
        margin-top: 15px;
    }
    /*.meeting-location-inner-containers{
        text-align: center;
    }*/

}
@media screen and (min-width:480px) {
    .time-zone-container{
        width: 96%;
        padding: 4px 34px 4px 14px
    }
    .showContainerleftbar{
        width: 414px;
        height:800px;
        margin:13px 0px 0 -69px!important;
    }
    .showLeftbar-icns{
        margin:-4px 13px 0 0 !important;
    }
    #sidebar-wrapper {
        width: 70px;
    }

    #leftbar {
        width: 18em !important;

    }
    .leftside-bar {
        width: 9em;
    }



}
@media screen and (min-width:768px) {
    .time-zone-container span {
        font-size: 12px !important;
        padding-right: 7px;
    }

    .showContainerleftbar {
        display: none !important;
    }

    .overlay {
        display: none;
    }

    #leftbar {
        width: 18em !important;
    }

    .un-prepared-meetings span {
        font-size: 25pt !important;

    }

    .un-prepared-meetings .loosing-inner-section p {
        font-size: 13px;
        line-height: 15px;
    }

    .set-up {
        font-size: 11px !important;
        font-weight: 400 !important;
        margin-left: -23px !important;
    }

    .btn-go {
        margin-top: 0px;
        margin-left: -43px;

    }

    .showdiv {
        display: block !important;
    }

    #sidebar-wrapper {
        margin-top: 54px;
    }

    .search {
        margin: auto;
        width: 460px;
    }

    .search {
        background: url('http://icons.iconarchive.com/icons/custom-icon-design/mini/16/Search-icon.png') no-repeat 430px 9px;
    }

    .profile-banner-grid {
        width: 103.4%;
    }

    .time-zone-container {
        width: 97%;

    }

    /*========================
            Second
 ==========================*/
    .inner-container-meeting {
        width: 77.2%;
    }
/*    .meeting-location-inner-containers{
        text-align: left;
    }*/
}
@media screen and (min-width:1024px) {
    .un-prepared-meetings span{
        font-size:30pt!important;

    }
    .un-prepared-meetings .loosing-inner-section p{
        font-size: 15px;
        line-height: 20px;
    }
    .set-up {
        font-size: 14px!important;
        font-weight:600!important;
        margin-left:-28px!important;
    }
    .networked_contactsp p,.interaction-container p{
        font-size: 14px;

    }

    .btn-go {
        margin-top:0;
    }

    /*========================
            Second
 ==========================*/
    .inner-container-meeting{
        width:77.2%;
    }

}
