html,
body {
    background: white!important;
    height: 100%;
    color: #2d3e48;
    font-size: 16px;
}
html,
body
{
    /*font-family: 'museo', slab !important;*/
    font-family: 'Lato', sans-serif!important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2d3e48; 
}
a {
    color: #2d3e48; 
}
a:hover {
    color: #2d3e48;
    text-decoration: none; 
}

.text-green {
    color: #377268;
}
.text-orange {
    color: #f86b4f;
}
.text-small {
    font-size: 14px;
}

.grey-bg {
    background-color: #f5f3f0;
}
.light-green-bg {
    background-color: #f9faf9;
}

.full_height {
    min-height: 100%;
}
#wrapper,
#first_container {
    height: 100%;
}
#wrapper > section {
    min-height: calc(100% - 160px);
    padding-bottom: 50px;
}

#sidebar {
    height: 100%;
    padding-right: 0px;
}
#sidebar > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 40px;
    background: #66beae;
    height: 100%;
}
#sidebar > ul > li > a {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}
#sidebar > ul > li > a:hover {
    background: #267368;
}
#sidebar > ul > li > a > i {
    color: white;
}
#sidebar > ul > li > .sub_menu {
    height: 100%;
    background: #f4f3ef;
    position: absolute;
    top: 0px;
    width: calc(100% - 55px);
    left: 55px;
    border-right: solid 1px #dbdad5;
}
#sidebar > ul > li > .sub_menu h2 {
    margin: 0px;
    padding: 10px 20px;
    font-size: 18px;
}
.sidebar_closed {
    width: 100%;
}

footer {
    border-top: solid 1px #f0f0f0;
    background: #f9f9f9;
    padding: 30px 0px;
}

.btn,
.btn-primary {
    background-image: none;
    border-radius: 3px;
    background: #267368;
    font-weight: bold;
    font-size: 12px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 18px;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background: #65bead!important;
    border-color: transparent!important;
}
.btn-primary:focus {
    background: #65bead;
    border-color: transparent;
}
.btn-stripe {
    color: #fff;
    background: #008cdd;
    background-image: -webkit-linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);
    background-image: -moz-linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    background-image: -o-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    background-image: linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    background: linear-gradient(top, #7dc5ee, #008cdd 85%, #30a2e4);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    border-color: #008cdd;
}
.btn-stripe:hover {
    color: #fff;
    background-position: 0;
}
.btn-stripe:active {
    background: #008cdd;
}
.btn-social {
    padding: 10px 15px!important;
    border-radius: 3px;
    color: white!important;
}
.btn-social i {
    color: white;
    margin-right: 10px;
}
.btn-social.btn-linkedin:hover,
.btn-social.btn-linkedin {
    background-color: #0084c4!important;
}
.btn-social.btn-linkedin:hover,
.btn-social.btn-linkedin i {
    background-color: #0084c4!important;
}
.btn-social.btn-google:hover,
.btn-social.btn-google {
    background-color: #ec422b!important;
}
.btn-social.btn-google:hover,
.btn-social.btn-google i {
    background-color: #ec422b!important;
}
.image-placeholder-medium {
    width: 78px;
    position: relative;
	height: 78px;
    font-size: 30px;
    color: #70848d;
    background-color: #ebf2ed;
    padding: 17px 12px;
    border-radius: 100%;
    border: 2px solid #ddd;
}
.image-placeholder-big {
    position: relative;
    font-size: 40px;
    color: #70848d;
    background-color: #ebf2ed;
    padding: 2px;
    border-radius: 100%;
    margin-right: 20px!important;
    border: 2px solid #ddd;
    width: 100px;
    height: 100px;
}
.profile-banner-picture{
   background:red;
}

.image-placeholder-small {
    position: relative;
    color: #70848d;
    background-color: #ebf2ed;
    padding: 1px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid #ddd;
    width: 47px;
    height: 47px;
    object-fit: cover;
}

header {
    padding: 5px 20px;
    border-bottom: solid 1px #999;
}
header a {
    color: #777;
    padding: 15px 0px;
    font-weight: 600;
    cursor: pointer;
}
header a:hover {
    color: #009be0;
    text-decoration: none;
}
header > ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 15px;
}
header ul li {
    float: left;
    margin-right: 20px;
}
header ul li:last-of-type {
    margin-right: 0px;
}
.container-fluid.logged_in header#logged_in {
    display: block;
}
.container-fluid.logged_in header#not_logged_in {
    display: none;
}
header ul.dropdown-menu {
    width: 250px;
    right: 0px;
    left: auto;
    border-top: 5px solid #009be0;
    border-radius: 0px;
    margin-top: 18px;
}
header ul.dropdown-menu li {
    padding: 20px 15px;
    border-bottom: solid 1px #cfcfcf;
    display: block;
    width: 100%;
}
header ul.dropdown-menu li:last-of-type {
    border-bottom: 0px;
}
header ul.dropdown-menu li a {
    position: relative;
}
/*header ul.dropdown-menu li a:hover,
header ul.dropdown-menu li a:focus {
    background: inherit!important;
}*/
header a.profile_link {
    margin: 18px;
    padding: 8px 0px;
    display: none;
}

.profile_link{
    margin: 3px 13px 0 0 !important;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
header a#signupMenu {
    background-color: #009be0 !important;
    border: 2px solid #009be0 !important;
    border-radius: 2px;
    padding: 5px;
    color: white;
    font-weight: normal;
}
header a#signupMenu:hover {
    opacity: 0.9;
}
header .search_container {
    width: calc(100% - 268px);
    display: none;
}
.search_container .input-group {
    height: 34px;
    max-width: 370px;
    margin: 11px auto;
    
}
/*.Navigation_menu{
    
    -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}*/
.navbar {
    background: #fff;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.1);
    height: 55px;
}
.navbar-nav{
    margin: -2.5px -15px;

}
.navbar-nav > li > a{
    padding-top:2px;
    padding-bottom:0; 
}
.navbar-nav > li > a:hover{
    background: none;
}

.form-control{
    height: 34px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 1px solid #ccc;
}

header .search_container .input-group {
    max-width: 400px;
    margin: 0px auto;
    margin-top: 7px;
}

header .search_container .input-group .input-group-addon {
    background: #267368;
    border-color: #267368;
}
.input-group-addon i{
    color: #fff;
  
}
header .search_container .input-group .input-group-addon i {
    color: white;
}
div.logged_in header .search_container {
    display: block;
}
div.logged_in header a.profile_link {
    display: block;
}
div.logged_in header ul#not_logged_in_links {
    display: none;
}
header a i {
    color: #70848d;
    background-color: #ebf2ed;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 100%;
    position: relative;
    margin-left: 10px;
}
/*=======================================
              SCHEDULE CUSTOM CSS
=========================================*/
.commonConnectionsName{
    color: #267368;
    font-weight: 600;
    font-size: 14px;

}
.available_time{
    font-size: 18pt;

}
.available_time_info{
    font-size: 24px;
    font-style: italic;
}
.select-times{
    width:100%;
    margin-bottom: 13px;
    
}
.confirm-slot-time{
    max-width: 600px;
    margin: auto;
}
.available-time-slot:hover{
     cursor: pointer;

}
.available-time-slot{
    cursor: pointer;
    background-image: none;
    background: #eee;
    font-size: 15px;
    border-color: transparent;
    box-shadow: none;
    padding: 12px 100px 3px 70px;
    margin-bottom: 2%;
}
.available-time-slot:hover{
    background-image: none;
    border-radius: 3px;
    background: #267368;
    color: #fff;
    font-size: 16px;
    border-color: transparent;
}
.available-time-slot p{
    width: 140px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.available-confirm-time-slot{
    cursor: pointer;
    background-image: none;
    background:#ddd;
    color: #fff;
    font-size: 15px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 4px;
    padding: 15px 36px 15px 36px;
}
.available-confirm-time-slot:hover{
     cursor: pointer;
     color: #fff;
}
.available-time-slot-data{
    cursor: pointer;
    background-image: none;
    background:#ddd;
    color: #fff;
    font-size: 15px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 4px;
    padding: 15px 74px 15px 74px;
    line-height: 63px;
}
.available-time-slot-data:hover{
    cursor: pointer;
    color: #fff;
}
.checked-map{
   font-weight: normal;
   cursor: pointer;
}


/*========================================
      CUSTOM CSS FOR MEETING DETAILS
==========================================*/
.select-time-slot-container{
    border-bottom: 1px #eee solid;
}
.select-time-slot-container label{
    padding: 15px;
    font-size: 18pt;
}
.select-time-slot-container span{
    font-size: 18pt;
    font-style: italic;
}

.meeting_schedule_options{
    padding: 20px 40px 40px 40px;
    margin: auto;
    max-width: 500px;

}

.input-form-control{
    margin-top:10px;
    height: 40px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius:0;

}
.meeting_location{
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    height: 40px;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    border: 1px #ccc solid;
    -moz-border-radius:0;
}
.btn-color{
    font-size: 14px!important;
}
textarea{
    resize: none;
    height: 100px!important;
}


.sb-search-input-icons{
    background: #e67e22;
}
a.sso {
    padding: 10px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    width: 230px;
    margin: 0px auto;
}
a.sso:hover {
    text-decoration: none;
}
a.sso i {
    margin-right: 10px;
    color: white;
}
a.sso.gplus {
    background: #e64836;
    color: white;
    margin-bottom: 20px;
    border-radius: 0;
    //font-size: 18px;
}
a.sso.gplus i {
    background: #e64836;

}
a.sso.linkedin {
    background: #0076b5;
    color: white;
    border-radius: 0;
    margin-bottom: 24px;

}
a.sso.linkedin_social_media i {
    background: #0076b5;
}

.profile_information {
    background: #f1f4f0;
}
.profile_information .fa-user {
    color: #70848d;
    background-color: #ebf2ed;
    padding: 15px 25px;
    font-size: 70px;
    border-radius: 58px;
    margin-right: 25px;
    position: relative;
    top: -20px;
}
.profile_information .fa-map-marker {
    color: #f76646;
    margin-right: 5px;
}
.profile_information > div {
    display: inline-block;
    margin: 40px 0px;
}
.profile_information > div h1 {
    font-size: 24pt;
    margin: 0px;
    margin-top: 10px;

}
.profile_information > div h2 {
    font-size: 18pt;
    margin: 10px 0px;
}

.setup_meeting {
    border: solid 1px #ddd;
    border-width: 1px 0px;
    padding: 31px 0px 50px 0;
    margin-bottom: 30px;
}
.setup_meeting b {
    font-size: 18px;
    color: #2d3e46;
}
.setup_meeting .btn,
.setup_meeting .btn-primary {
    margin-right: 5px;
}

.locked_container {
    padding: 30px 0px;
}
.locked_container .fa-lock {
    background-color: #495256;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 30px;
}
.locked_container p {
    margin: 20px auto;
}

.selected_slot {
    border: solid 1px #eaeaea;
    border-width: 1px 0px;
    padding: 15px 0px;
}
.selected_slot_meeting_form {
    max-width: 320px;
    margin: 0px auto;
    margin-top: 30px;
}
.selected_slot_meeting_form .form-group {
    margin-bottom: 15px;
}
.selected_slot_meeting_form textarea {
    height: 75px;
}

.time_slot_details {
    font-weight: bold;
    padding: 20px 0px;
    border: solid 1px #eaeaea;
    border-width: 1px 0px;
}
.time_slot_details > .row {
    max-width: 600px;
    margin: 0px auto;
}
.time_slot_details select.locations {
    display: inline;
    width: calc(100% - 92px);
    margin-left: 10px;
}

.choose_date {
    margin: 0px auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    float: none;
    margin-bottom: 20px;
}
.choose_date .fa-chevron-left {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.choose_date .fa-chevron-right {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.available_slot_times {
    margin: 0px auto;
    font-size: 16px;
    font-weight: normal;
    float: none;
}
.available_slot_times .fa-chevron-left {
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.available_slot_times .fa-chevron-right {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.choose_time_slot {
    margin-top: 20px;
}
.choose_time_slot .my_calendar {
    display: none;
}
.choose_time_slot > .row {
    max-width: 320px;
    margin: 0px auto;
}
.choose_time_slot .col-md-12 .row.not_selected {
    background: #f1f3f2;
    color: #a2a5a3;
    padding: 10px 0px;
    margin-bottom: 10px;
    cursor: pointer;
}
.choose_time_slot .col .row:hover:not(.selected) {
    background: #2c3f46!important;
    color: white!important;
}
.choose_time_slot .row.selected {
    background: none;
    margin-bottom: 10px;
    display: none;
}
.choose_time_slot .row.selected .btn {
    margin: 0px;
    width: 100%;
}
.choose_time_slot .row.selected .col-xs-6:first-of-type {
    background: #6e7a80;
    cursor: pointer;
    margin-left: 15px;
    width: calc(50% - 15px);
    color: white;
    padding: 8px 0px;
}
.choose_time_slot .col-striped {
    background: repeating-linear-gradient( 45deg, #fbfbfb, #fbfbfb 5px, #f1f3f2 5px, #f1f3f2 10px);
    padding: 10px 0px;
    margin-bottom: 10px;
}
.calendar_slot .fa-info,
.choose_time_slot .fa-info {
    background-color: #e2e0e1;
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    color: white;
    background: #267368;
}
.calendar_slot input[type='checkbox'],
.choose_time_slot input[type='checkbox'] {
    margin-right: 5px;
}

#social_intelligence_container .fa-chevron-down {
    color: #e7725b;
    background-color: white;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(207, 207, 207, 1);
    -moz-box-shadow: 1px 0px 5px 1px rgba(207, 207, 207, 1);
    box-shadow: 1px 0px 5px 1px rgba(207, 207, 207, 1);
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 30px;
    position: relative;
    top: -55px;
    z-index: 1;
    cursor: pointer;
}
#social_intelligence_container > .row {
    border-bottom: solid 1px #eee;
    position: relative;
    top: -80px;
    margin: 0px auto;
    text-align: center;
}
#social_intelligence_container > .row.alternate_color {
    background: #fdfdfd;
}
#social_intelligence_container > .row .col-md-12 {
    padding: 30px 40px;
    max-width: 600px;
    margin: 0px auto;
    float: none;
}
#social_intelligence_container > .row h3 {

    font-size: 18pt;
    font-weight: bold;
    margin-top: 0px;
}
#social_intelligence_container > .row .col-md-12 .tweets_time {
    font-size: 13px;
    color: #6e7a80;
}
#social_intelligence_container > .row .col-md-12.past_companies {
    padding: 30px;
}
#social_intelligence_container > .row .col-md-12.past_companies ul {
    padding-left: 0px;
    }
#social_intelligence_container > .row .col-md-12.past_companies li {
    color: #ff7255;
    font-size: 18px;
}
#social_intelligence_container > .row .col-md-12.past_companies li span {
    color: #585858;
    font-size: 16px;
}




/*=========================================================
                CSS for Meeting Confirmation
===========================================================*/

.confirmation-message{
    width: 100%;
    color: #fff;
    z-index: 10000;
    position: fixed;
    background: rgba(64,64,64,0.5);
    top: 0;
}
.confirmation-message label{
    font-size: 15pt;
    padding: 13px 0 9px 0!important;
    font-weight: 400;
}
.confirm-cross-icon{
    float: right;
    margin: 13px 30px 0 0;
    cursor: pointer;

}


#social_intelligence_container > .row .col-md-12.past_companies li:last-of-type {
    padding-right: 0px;
}
#social_intelligence_container > .row .col-md-12:last-of-type {
    border-bottom: 0px;
}
#social_intelligence_container > .row .col-md-12.tweets span.tweets_time {
    display: block;
    margin-top: 10px;
}
#social_intelligence_container > .row .col-md-12.tweets span.tweets_time a {
    background: #fefefe;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
}
#social_intelligence_container > .row .col-md-12.tweets span.tweets_time a i {
    margin-right: 5px;
    color: #62c0e1;
}

.row .col-md-12.common_connections {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0px auto;
}
.row .col-md-12.common_connections .connection {
    display: inline-block;
    margin-right: 30px;
    width: 80px;
    text-align: center;
}
.row .col-md-12.common_connections .connection a {
    display: block;
    margin: 0px auto;
    color: #377268;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}
.row .col-md-12.common_connections .fa-user {
    color: #70848d;
    background-color: #ebf2ed;
    padding: 10px 15px;
    font-size: 60px;
    border-radius: 58px;
    display: block;
    margin: 0px auto;
}
.row .col-md-12.common_connections h3 {
    margin-bottom: 30px;
}

.calendar_slot .calendar_row {
    max-width: 1000px;
    margin: 0px auto;
}
.calendar_slot .calendar_header {
    margin-top: 40px;
}
.calendar_slot .calendar_row_header {
    width: 100%;
    background: #f1f3f1;
    color: #2c3f46;
    margin-top: 25px;
    padding: 5px 0px;
    font-weight: bold;
}
.calendar_slot .calendar_row .calendar_col {
    border: solid 1px #f1f3f1;
    color: #2c3f46;
}
.calendar_slot .calendar_header .calendar_col {
    background: none;
    padding: 0px!important;
    cursor: default;
    border-width: 0px!important;
}
.calendar_slot .calendar_footer {
    margin-bottom: 10px;
}
.calendar_slot .calendar_row .calendar_col {
    //width: calc(100%/7);
    padding: 20px 0px;
    cursor: pointer;
}
.calendar_slot .calendar_row .calendar_col:hover {
    background: #2c3f46;
    color: white!important;
}
.calendar_slot .calendar_row .calendar_col:hover .start_time {
    color: white!important;
}
.calendar_slot .calendar_row .calendar_col .start_time {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}
.calendar_slot .calendar_header .calendar_col:hover {
    background: transparent;
    color: #2c3f46;
}

.modal {
    top: 60px;
}
.modal-backdrop {
    margin-top: 60px;
    height: calc(100% - 60px);
}
#login_modal .modal-content {
    margin-top: 40px;
    padding:62px 0 31px;
    border-radius:0;
}

#toast-container {
    position: fixed;
    top: 60px;
    color: white!important;
}
.toast-error,
.toast-success {
    width: 100%!important;
}
.toast-message {
    color: white!important;
    padding-top: 5px;
}

.slot_information {
    border-top: solid 1px #eaeaea;
    padding-top: 15px;
}
.slot_information .row {
    max-width: 740px;
    margin: 0px auto;
    margin-top: 15px;
}
.slot_information .row .label_col:after {
    content: ':';
}
.slot_information .row:first-of-type {
    font-weight: bold;
    font-size: 15px;

}

.quick-links a {
    color: #666;
    font-weight: 700;
}

.t-c,
.t-c a {
    color: #888;
    font-weight: 300;
}
.t-c a {
    text-decoration: underline;
    margin: 0 1px;
}

.soc-sprite {
    //background: url(/assets/images/SocialIcons.png) no-repeat center center;
    display: inline-block;
}
.twitter {
    background-position: 0px 0px;
    padding: 15px !important;
    float: left;
    margin: 0 2px;
}
.facebook {
    background-position: -30px 0px;
    padding: 15px !important;
    float: left;
    margin: 0 2px;
}
.google {
    background-position: -60px 0px;
    padding: 15px !important;
    float: left;
    margin: 0 2px;
}

.google_plus_social{
    cursor: pointer;
    background: #e64836;
    background-image: none;
    color: #fff;
    font-size: 15px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 18px;
    padding: 15px 22px 15px 22px;
}

.google_plus_social:hover{
    color: #fff;
}
.linkedin_social{
    cursor: pointer;
    background-image: none;
    background: #337ab7;
    color: #fff;
    font-size: 15px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 18px;
    padding: 15px 17px 15px 17px;
    line-height: 93px;

}
.linkedin_social:hover{
    color: #fff;
    
}

#ad_banner {
    position: relative;
    top: -30px;
    left: -30px;
    height: 75px;
    width: calc(100% + 60px);
}

.today-btn:hover,
.today-btn:hover i {
    color: white!important;
}
.today_tabs {
    background: #367268;
    color: white;
    margin-right: 2px;
    padding: 10px 0px;
    cursor: pointer;
    width: calc((100% - 9px)/4);
}
.today_tabs:first-of-type {
    border-radius: 3px 0px 0px 3px;
}
.today_tabs:last-of-type {
    border-radius: 0px 3px 3px 0px;
    margin-right: 0px;
}
.today_tabs.active,
.today_tabs:hover {
    background: #66beae;
    color: white;
    text-decoration: none;
}

.content-row-title {
    padding-bottom: 10px!important;
    padding-top: 30px !important;
}
.content-row-title h2 {
    margin: 0px;
    font-size: 21px;
    font-weight: 700;
}

.dashboard-row
{
    padding: 20px 0px 40px 0px;
}

.dashboard-row .stat {
    display: inline-block;
}

.dashboard-row .stat-val {
    font-weight: 300;
    font-size: 80px;
    padding: 0px 30px;
    border-radius: 5px;
    display: inline-block;;
}

.dashboard-row .stat-caption {
    margin-top: 10px;
}

.dashboard-row.dashboard-past-7 .stat-val {
    font-size: 70px;
    padding: 0px;
    line-height: 1em;
}

.dashboard-row.dashboard-past-7 .stat-caption {
}

.dashboard-row .profile {

}

.dashboard-row .profile-img-holder {
    border: 5px solid #ebf2ed;
    border-radius: 45px;
    background-color: #ebf2ed;
    display: inline-block;
}

.dashboard-row .profile-img-holder img, .dashboard-row .profile-img-holder-1 img  {
    border-radius: 45px;
    height: 92px;
}

.dashboard-row .profile-caption-1 {
    font-weight: 700;
    color: #377268;
    margin-top: 8px;
}

.dashboard-row .profile-caption-2 {
    font-weight: 700;
}
.default-hide{
    display: none;
}

/*=======================================================
            CALENDER LOCK CUSTOM CSS IN SCHEDULE
=========================================================*/
.calendar_lock_container{
    max-width: 600px;
    margin: auto;

}
.remove-padding{
    padding-left: 0;
    padding-right: 0;

}

/*=======================================================
           USERS CALENDER CUSTOM CSS IN SCHEDULE
=========================================================*/
 .wrapper {
     width:300px;
     margin:3% auto;
 }
.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
}
.dropdown dt a span {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    padding-left: 7px;
}
.dropdown dt a img {
    position: relative;
    z-index: 1;
}
.dropdown dt a span span {
    display: inline-block;
    padding: 0;
}
.dropdown dt a span span:first-child {
    padding: 0;
}
.dropdown dd {
    position: relative;
}
.dropdown a, .dropdown a:visited {
    color: #4a535f;
    text-decoration: none;
    outline: none;
}
.dropdown a:hover {
    color: #5d4617;
}
.dropdown dt a:hover, .dropdown dt a:focus {
    color: #5d4617;
}
.dropdown dt a {
    position: relative;
    //background: #e3e6ef;
    display: block;
    padding-right: 20px;
    overflow: hidden;
}
.dropdown dd ul {
    background: #f0f2f7;
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    width: 184px;
    border:1px solid #aaa;
    list-style: none;
    max-height: 170px;
    overflow-y: scroll;
    z-index: 2;
}

li a {
    font-size:13px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown dd ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-left:1px solid rgba(0,0,0,0.1);
}
.dropdown dd ul::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
}
.dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
    background: blue;
}
.dropdown span.value {
    display: none;
}
.dropdown dd ul li a {
    padding: 5px;
    display: block;
    font-size: 12px !important;
    font-style: italic;
    padding-left: 7px;
    cursor: pointer;
}
.dropdown dd ul li a:hover {
    background-color: rgba(0,0,0,0.05);
}
dl.dropdown {
    display: inline-block;
    height:17px;
    border: 0;
    margin-left:1px;
    box-shadow: -6px 6px 0px -4px #ddd, 6px 6px 0px -4px #ddd;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
dl.dropdown span:nth-child(3) {
    color: rgba(0,0,0,0.4)
}
dl.dropdown > span:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
dl.dropdown span:nth-child(3) {
    float: right;
}
dl.dropdown dt span:nth-child(2) {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6em;
}
dl.dropdown dt span:nth-child(3) {
    display: none;
}

/*=======================================================
           USERS CALENDER CUSTOM CSS IN SCHEDULE
=========================================================*/
.user_calendar{
    margin: auto;
    //max-width: 900px;
    //min-width:200px;
    border: 2px solid red;

}
.user_calendar_container{
    margin: auto;
    min-width: 10%;
//max-width: 900px;
    border: 2px solid green;

}

.select-time-slots{
    padding:31px 0px 26px 0!important;
}
.calendar_container_section{
    margin:auto;
    max-width:900px;
    margin-bottom: 10px;
    padding:20px;
}
.checked-map-container{
    margin-bottom: 54px;
}
.user_calendar-days>div{
    text-align: center;
    display: inline-block;
}
.user_calendar>div{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 1px solid #cccccc;
}
.btn-change{
    font-size: 11px!important;
    display: block;
    margin: auto;
    margin-left: 44%;
}

.pm-container,.am-container{
    margin-top: 20px;
    border: 1px solid #ccc;
}
.event{
    font-weight: 900;
    font-size:18pt;
}
#contentwrapper { text-align: center; }
#content {
    min-width: 100px;
    min-height: 80px;
    max-width: 1366px;
    margin: 0 auto;
    display: inline-block;
}
.slot_left {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    position: relative;
}
.slot_right {
    padding:5px 22px 0 13px;
    position: relative;
    display: inline-block;
}

.follow-button{
    background-color: #ccd6dd;
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 6px 5px;
    position: relative;
}
/*=========================
     Meeting invite
===========================*/
.meeting_invite_container{
    margin: auto;
    max-width: 670px;
    padding: 8px 0 0 14px;
    line-height: 14px;
}

.meeting_invite_container_info{
    margin:10px auto;
    border: 2px solid red;
}
.schedule-meeting{
    margin:auto;
    background: #267368;
    color: white;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 10px;
    display: block;
    cursor: pointer;
    width: 230px;

}
.schedule-meeting span{
    font-weight: 600;
    line-height: 20px;
    font-size: 14pt;
}
.schedule-meeting:hover{
    color:#fff;
    background-color:#65bead!important;
    border-color:transparent;
}

.meeting-details{
    padding-left: 53px;
    padding-right: 0;
    font-size: 15px;
}
.meeting_invite_container>div{
    margin: auto;
    max-width: 400px;
}
.button_container{
    margin-top: 20px;
}


/*==================================
          SCROLLBAR ON BODY
====================================*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/*==============================
      CSS for strip
================================*/
.stripe-1 {
    border: 1px solid #ccc;
    cursor: auto !important;
    background: -webkit-repeating-linear-gradient(-38deg,#eee, #eee 2px, #fff 2px, #fff 5px);
    background: repeating-linear-gradient(-38deg,#eee, #eee 2px, #fff 2px, #fff 5px);
}
.stripe-1:hover{
    color: #000;
    border: 1px solid #ccc!important;
    cursor: auto !important;
    background: -webkit-repeating-linear-gradient(-38deg,#eee, #eee 2px, #fff 2px, #fff 5px)!important;
    background: repeating-linear-gradient(-38deg,#eee, #eee 2px, #fff 2px, #fff 5px)!important;

}

/*==================================
          advertisement css
====================================*/
.dropdown-menu.pull-right{
    top: 52px!important;
}
.advertisement{
    padding:10px;
    left: 0px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 94px;
    position:fixed;
     bottom:0px;
}
.inner-advertisement{
    padding: 6px;
    background: #fff;
    margin: auto;
    max-width: 517px;
    border-radius: 94px;
    height: 74px;
}

.download-btn{
    background-image: none;
    background: #31b0d5;
    font-weight: bold;
    font-size: 16px;
    border-color: transparent;
    box-shadow: none;
    margin-top: 18px;
    padding: 5px 12px 4px 10px;
    border-radius: 94px;
    border-radius: 94px;
}
.download-btn:hover{
    border: 2px #31b0d5 solid;
    border-radius: 94px;

}
/*======================================
     Navigation for When user not login
========================================*/
.user-not-login-container ul{
    margin: auto;
    background: #fff;
    list-style: none;
}
.user-not-login-container ul li{
    padding: 13px 10px 10px 0;
    text-transform: uppercase;
    cursor: pointer;

}
.user-not-login-container ul li a{
    color: #777;
    font-size: 14px;
    font-weight: 700;
}
.user-not-login-container ul li a:hover{
    color: #337ab7;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-toggle{
    border-radius: 2px;
    background-color: #555;
    margin-right: 31px!important;
}

.disable-icons{
    display: none;
}
#wrapper {
    padding-left:0;
}
.dropdown-menu{
    min-width: 80px!important;
}

.dropdown-menu .divider {
    margin: 1px 0!important;
    }
    
    


/*Styles from http://showcase.relatas.com/stylesheets/C/styles.css*/

.secNav select { width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.secNav .select2-container .select2-choice, .secNav .selector { border-color: #c8c8c8; }
.secNav .select2-container { width: 100%!important; max-width: 100%; }



.jqstooltip { z-index: 10001; border: 1px solid #303030!important; box-shadow: none; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }


/* # General styles
================================================== */

html { height: 100%; }
body {font-size: 12px; line-height: ; color: #5f5f5f; min-height: 100%; position: relative; }

#page { padding-top: 55px;  }
#content {

	padding-bottom: 60px;
	position: relative;
	//margin-left:329px;
	padding-top: 49px;
	//background: green;
}

.wrapper1 {
	//width: 100%;!important;
	margin: 0 22px;
}

/* # Typography
================================================== */

/* === Headings === */

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


/* === Text colors === */

.red { color: #A64949; }
.green { color: #4D7F12; }
.grey { color: #aaa; }



#sidebar { display: block;min-height: 100%; position: absolute; z-index: 999; border-right: 1px solid #c3c3c3;margin-top: 47px; }
.mainNav {
	width: 85px;
    position: fixed;
    display: inline-block;
    z-index: 99;
    background-color:#16A085;
    height: 700px;
	margin-top: 50px;
}
.secNav {
	background: #eee;
	z-index: 98;
	margin-top: 55px;
	padding: 0;
	margin-left: -25px;
	min-height:1649px;
}
.secNav2{
	min-height: 854px;
}

.secNav h6 { font-size: 12px; padding: 0 15px; }
.secNav .secWrapper:after { content: ""; display: block; clear: both; }
#sidebar .legend { display: none; }
#sidebar .divider { height: 0; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #f5f5f5; position: relative; margin: 20px 0; }
#sidebar .sidePad { padding: 0 15px; }



.secNav .tagsinput { background: none; border: none; padding: 0 8px; margin: -3px 0; }
.secNav .tagsinput span.tag {
	margin: 3px;
	color: #5f5f5f;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
}


/* # Media queries
================================================== */

@media only screen and (max-width: 1350px) {
body { -webkit-text-size-adjust: none; }
.fluid .grid12 { width: 99.99999998999999%; *width: 99.94680850063828%; }
}

@media only screen and (max-width: 1024px) {
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
.quickStats { position: absolute; right: 22px;}
.quickStats li a { display: none; }
.quickStats li strong { font-size: 16px; }
.chzn-container { width: 100%!important; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
#sidebar { width: 100px; }
#sidebar [class*="dataNum"] { display: inline-block; float: right; margin-left: 14px; position: static; margin-top: 1px; }
.moreFields ul li { width: 12%; }
}

@media only screen and (min-width: 481px) {
#sidebar { display: block!important; }
}

@media only screen and (max-width: 768px) {
.breadLine { text-align: right; padding-right: 22px; }
.breadLinks { float: none; display: inline-block; margin: 0; }
.under .breadLinks > ul > li > a span, .under .breadLinks ul li a strong { display: none; visibility: hidden; }
.under .breadLinks ul li a i { float: none; margin: 0; padding: 4px; }

}

@media only screen and (min-width: 769px) {
.nav li:hover ul { display: none; }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
.contentTop { overflow: hidden; }
.breadLinks { display: none; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#sidebar {
		background: none;
		width: 100%;
		border: none;
		min-height: 0;
		display: none;
	}

	.secNav {
		display: none;
	}

	.mainNav {
		float: left;
		width: 100%;
	}

	.nav li {
		display: inline-block;
	}

	.nav li a span {
		display: none;
	}

	.nav li ul {
		top: 53px;
		padding: 0;
		right: 0;
		left: 0;
	}

	.nav li ul li {
		display: block;
	}

	.visibility-md-custom {
		display: block !important;
		position: absolute;
		z-index: 1000;
		margin-left: 109px;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .15);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
}
