<div class="commit" ng-controller="commit">

    <div class="filters clearfix">
        <div class="clearfix">
            <div class="header pull-left">
                <h5>
                    <select ng-change="getDatForRange(selectedCommitRange)"
                            ng-init="selectedCommitRange = commitRanges[1]"
                            ng-model="selectedCommitRange"
                            ng-options="x.name for x in commitRanges">
                    </select>
                    Forecast <span class="fs-10">([[currentMonth]])</span>
                </h5>
            </div>
            <div class="pull-right">
                <button class="btn btn-green" data-ng-click="openCommitModal()">UPDATE MY COMMIT</button>
            </div>

            <div class="pull-right" style="margin-top: 10px;padding: 0 5px;">

                <div class="pull-left relative" style="margin: 0 10px;">
                    <label><input type="radio" ng-model="dataBy" value="org" ng-change="getCommitDataBy('org')"> Org Hierarchy &nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <label ng-show="groupedPortfolios.length>0"><input type="radio" ng-model="dataBy" value="pa" ng-click="openPortfolios('pa')"> Portfolio Access</label>
                    <div class="row portfolio-ls" ng-show="showByPa" style="[[widthStyle]]">
                        <div class="clearfix">
                            <div class="pull-left" style="width: 82%;margin-top: 7px;font-weight: bold;">
                                Please select a portfolio for which you wish to see the commit team members.
                            </div>
                            <div class="pull-right">
                                <button class="btn close-btn" style="margin-top: 10px;margin-left: 15px;
                           padding: 2px 6px;font-size: 10px !important;font-weight: bold !important;background: #fff;" data-ng-click="closePa()">Close</button>
                            </div>
                            <div class="pull-right">
<!--                                <button class="btn btn-green" data-ng-click="getOppsBasedOnPortfolios()">Apply</button>-->
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">

                            <div class="[[colClass]]" ng-repeat="item in groupedPortfolios">
                                <strong>[[item.type]]</strong>
                                <label ng-repeat="el in item.data" style="display: block;font-weight: 400;margin-bottom: 1px;">
                                    <input type="radio" ng-click="getDataBySomething(el)" ng-model="el.selected" value="[[el.name]]" name="subportfoliosLs">
                                    [[el.name]]
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                <!--            <div class="pull-right">-->
                <!--                <button class="btn btn-white [[allSelection]]" data-ng-click="viewAllMyAccess()">MATRIX ACCESS</button>-->
                <!--            </div>-->

                            <div class="pull-right" ng-show="dataBy == 'org'">
                                <button class="btn btn-white [[teamSelection]]" style="margin-top: 0;" data-ng-click="viewTeamCommits()">TEAM COMMIT</button>
                            </div>
                <!--            <div class="pull-right">-->
                <!--                <button class="btn btn-white [[selfSelection]]" data-ng-click="viewSelfCommits()">COMMIT</button>-->
                <!--            </div>-->
                <!--            <div class="pull-right owner">-->
                <!--                <strong>[[owner.fullName]]'s</strong>-->
                <!--            </div>-->
            </div>
        </div>
        <div class="clearfix row some-box" ng-show="dataBy != 'org' && canViewSummary">
            <div>
                <strong style="font-size: 14px;">Summary for [[portfolioNameSelected]]</strong>
            </div>
            <div class="row">
                <div class="col-md-2">

                    <strong>
                        Target (T)
                    </strong>
                    <p style="color:#FE9E83">[[totalTarget]]</p>
                </div>
                <div class="col-md-2">
                    <strong>Won (W)
                    </strong>
                    <p style="color:#8ECECB">[[totalAchievement]]</p>
                </div>
                <div class="col-md-2">

                    <strong>
                        Self Commit (C)
                    </strong>
                    <p style="color:#638ca6">[[totalCommit]]</p>
                </div>
                <div class="col-md-2">
                    <strong>
                        [[commitStage]] Pipeline
                    </strong>
                    <p style="color:#767777">[[totalPipeline]]</p>
                </div>
                <div class="col-md-2">
                    <strong>
                        Gap = C-T
                    </strong>
                    <p class="[[gapCss]]">
                        <span ng-show="gapCss == 'high'">+</span>
                        [[totalGap]]
                    </p>
                </div>
                <div class="col-md-2">
                    <strong>
                        Team Committed
                    </strong>
                    <p style="color:#767777">[[teamCommitPerc]]</p>
                </div>
            </div>

            <div class="col-md-2" style="width:12%;display:none">
                <strong>Summary for CRM</strong>
            </div>
            <div class="col-md-7" style="display:none">
                <table class="table">
                    <tr>
                        <th>Target (T)</th>
                        <th>Won (W)</th>
                        <th>Commit (C)</th>
                        <th>Gap = [T-W] - C</th>
                        <th>Pipeline</th>
                        <th>Team Committed</th>
                    </tr>
                    <tr>
                        <td>15 K</td>
                        <td>7.5 K (50%)</td>
                        <td>11 K (73.33%)</td>
                        <td style="color: #2ecc71">+1.5 K</td>
                        <td>40 K</td>
                        <td>6/10 (60%)</td>
                    </tr>
                </table>
            </div>
        </div>

<!--        <div class="pull-right hierarchy">-->
<!--            <select ng-change="getDatForHierarchy(selectedHierarchy)"-->
<!--                    ng-init="selectedHierarchy = hierarchyList[0]"-->
<!--                    ng-model="selectedHierarchy"-->
<!--                    ng-options="x.name for x in hierarchyList">-->
<!--            </select>-->
<!--        </div>-->
    </div>
    <div ng-show="loadingData" class="text-center relative">
        <div class="loading-contacts">
            <span><i></i></span><span><i></i></span><span><i></i></span>
        </div>
    </div>

    <div class="reports-modal" ng-show="commitModalOpen">
        <div class="reports-modal-body">

            <div class="clearfix head">
                <h5 class="pull-left" style="font-weight: lighter;">
                    <span ng-show="selectedCommitRange.name == 'Week'">[[weeklyCommitCutOff]]</span>
                    <span ng-show="selectedCommitRange.name == 'Month'">[[monthlyCommitCutOff]]</span>
                    <span ng-show="selectedCommitRange.name == 'Quarter'">[[quarterlyCommitCutOff]]</span>
                </h5>
                <button class="btn close-btn pull-right" data-ng-click="closeModal()">Close</button>

                <div ng-show="canCommitForNext" class="pull-right">
                    <button class="btn btn-white" data-ng-click="commitForNextRanges()">
                        <span ng-show="!committingForNext">Commit for next [[selectedCommitRange.name]]</span>
                        <span ng-show="committingForNext">Go Back</span>
                    </button>
                </div>
            </div>
            <div ng-show="loadingData" class="text-center relative">
                <div class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
            </div>

            <div ng-show="!loadingData">
                <div class="row" ng-show="!committingForNext">

                    <div class="row margin0">
                        <div class="col-md-6 padding0" ng-show="selectedCommitRange.name != 'Week'">
                            <div class="graph-o">

                                <div class="clearfix margin0">
                                    <div class="wrapper">
                                        <div ng-style="commits.graph.target"></div>
                                    </div>

                                    <div class="legend text-right">
                                        Target(T) ([[commits.graph.targetVal]])
                                    </div>
                                </div>

                                <div class="clearfix margin0">
                                    <div class="wrapper">
                                        <div ng-style="commits.graph.achievement"></div>
                                    </div>

                                    <div class="legend text-right">
                                        Won(W) ([[commits.graph.achievementVal]])
                                    </div>
                                </div>
                                <div class="clearfix margin0">
                                    <div class="wrapper">
                                        <div ng-style="commits.graph.commitPipeline"></div>
                                    </div>

                                    <div class="legend text-right">
                                        [[commitStage]] Pipeline([[commits.graph.commitPipelineVal]])
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-class="selectedCommitRange.name == 'Week'?'col-md-12':'col-md-6'" class="text-center">
                            <div ng-show="!committingForNext">
                                <input ng-disabled="!commits.editAccess" ng-model="commits.selfCommitValue">

                                <div ng-show="commits.editAccess">
                                    <button class="btn btn-green" data-ng-click="updateCommit()" ng-disabled="saving">
                                        <span ng-show="!saving">SAVE COMMIT</span>
                                        <span ng-show="saving">SAVING...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 ng-show="selectedCommitRange.name != 'Week'" style="margin-left: 20px;font-size: 24px;margin-top: 20px;">
                        Shortfall(T-W): [[shortfall]]
                    </h4>

                </div>
                <div ng-show="committingForNext" class="row text-center" style="margin: auto;width: 55%;">
                    <div class="col-md-12">
                        <input ng-model="next.selfCommitValue">

                        <button class="btn btn-green" data-ng-click="updateCommit()" ng-disabled="saving">
                            <span ng-show="!saving">SAVE COMMIT </span>
                            <span ng-show="saving">SAVING...</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-review">

        <table class="table team-tank-tb">
            <tr class="header-tb">
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='fullName'">
                    <p class="team-btn">Team member</p>
                    <p class="text-center" ng-show="dataBy == 'org'">([[teamList.length]])</p>
                </th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetSort'">
                    <p class="target">Target </p>
                    <p class="text-center" ng-show="dataBy == 'org'">([[totalTarget]])</p>
                </th>
                <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetAndAchievement.won'">
                    <p class="won">Won</p>
                    <p class="text-center" ng-show="dataBy == 'org'">([[totalAchievement]])</p>
                </th>
                <th class="cursor text-center" data-ng-click="sortReverse = !sortReverse;sortType='commitSort'">
                    <p class="commit">Commit</p>
                    <p class="text-center" ng-show="dataBy == 'org'">([[totalCommit]])</p>
                </th>
            </tr>

            <tr class="cursor grey-bg [[member.selected]]" ng-repeat="member in teamList | orderBy:sortType:sortReverse" data-ng-init="$first && seeReview(member)" data-ng-click="seeReview(member)">
                <td style="width: 120px;">
                    <div class="team-profiles clearfix reset"  title="[[member.title]]">
                        <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                        <strong style="[[member.underlineStyle]]">[[member.fullName]]</strong>
                    </div>
                </td>
                <td class="text-center">
                    [[member.targetAndAchievement.target]]
                </td>
                <td class="text-center">
                    [[member.targetAndAchievement.wonWithCommas]]
                    <div class="won-percentage">
                        <div ng-style="member.wonPercentageStyle"></div> <span>[[member.wonPercentage]]</span>
                    </div>
                </td>
                <td class="text-center">
                    [[member.commit]]
                    <div class="won-percentage">
                        <div ng-style="member.commitPercentageStyle"></div> <span>[[member.commitPercentage]]</span>
                    </div>

                </td>
                <!--<td>-->
                <!--[[member.targetAndAchievement.commitPipelineWithCommas]]-->
                <!--</td>-->
            </tr>
        </table>
    </div>

    <div class="opp-inisghts-wrapper" ng-show="showOppInsights || teamTask">
        <div class="opp-insights team-task" ng-show="teamTask">
            <div data-ng-include="'/opportunities/tasks'"></div>
        </div>
        <div class="opp-insights" ng-show="showOppInsights">
            <div class="basic-details">
                <h5>[[opp.opportunityName]]</h5>
                <p>[[opp.member.fullName]]</p>
                <p>Created Date: [[opp.createdDateFormatted]]</p>
                <div class="cursor close-btn" ng-click="closeOppInsightsModal()" style="padding:0 5px;border-radius:2px;position: absolute;
    right: 10px;
    top: 10px;">Close</div>
            </div>
            <div>
                <div class="row headers">
                    <table style="width: 100%;">
                        <tr>
                            <td class="cursor [[basicSelected]]" data-ng-click="openView('basic')">Basic</td>
                            <td class="cursor [[insightsSelected]]" data-ng-click="openView('insights')">Insights</td>
                            <td class="cursor [[internalTeamSelected]]" data-ng-click="openView('internalTeam')">team</td>
                            <td class="cursor [[tasksSelected]]" data-ng-click="openView('tasks')">Tasks</td>
                            <td class="cursor [[notesSelected]]" data-ng-click="openView('notes')">Notes</td>
                            <!--<td class="cursor" data-ng-click="openView('activitylog')">log</td>-->
                        </tr>
                    </table>
                </div>
            </div>

            <div class="button-wrapper" ng-show="showOppInsights && viewModeFor != 'insights' && viewModeFor != 'tasks' && viewModeFor != 'notes' && !opp.isNotOwner">
                <button class="btn btn-green" data-ng-click="saveOpp()">Save</button>
            </div>

            <div ng-show="viewModeFor == 'internalTeam'" class="int-team">
                <div data-ng-include="'/opportunities/team'"></div>
            </div>
            <!--<div ng-show="viewModeFor == 'activitylog'">-->
            <!--<div data-ng-include="'/opportunities/activity'"></div>-->
            <!--</div>-->
            <div ng-show="viewModeFor == 'notes'">
                <div data-ng-include="'/opportunities/notes'"></div>
            </div>

            <div ng-show="viewModeFor == 'tasks'">
                <div data-ng-include="'/opportunities/tasks'"></div>
            </div>

            <div ng-show="viewModeFor == 'basic'" class="reset-basic">
                <div data-ng-include="'/opportunities/basic'"></div>
            </div>

            <div ng-show="viewModeFor == 'close details'" class="close-details">
                <div data-ng-include="'/opportunities/close'"></div>
            </div>

            <div ng-show="viewModeFor == 'insights'">

                <div class="insights">
                    <ul class="list-unstyled">
                        <li class="clearfix" ng-repeat="item in insights">
                            <div class="pull-left"><span class="[[item.riskClass]]"></span></div>
                            <div class="pull-left">[[item.text]]</div>
                        </li>
                    </ul>
                </div>

                <div class="row blue">
                    <div class="col-md-4">
                        <span ng-style="opp.daysClosureStyle">[[opp.daysToClosure]]</span><br>
                        Days to Closure
                    </div>
                    <div class="col-md-4">
                        <span>[[opp.amountWithCommas]]</span><br>
                        Amount
                    </div>
                    <div class="col-md-4">
                        <span>[[interactionsCount]]</span><br>
                        Interactions
                    </div>
                </div>
                <div class="int-summary">

                    <h5>Interactions summary</h5>

                    <div class="summary-graph">
                        <div class="int-growth"></div>
                        <div class="label-markers clearfix">
                            <div class="line-1 clearfix">
                                <div class="pull-left">
                                    <i></i><span class="line"></span>
                                </div>
                                <div class="pull-left">
                                    <span>US</span>
                                </div>
                            </div>
                            <div class="line-2 clearfix">
                                <div class="pull-left">
                                    <i></i><span class="line"></span>
                                </div>
                                <div class="pull-left">
                                    <span>THEM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent">
                    <h5>Recent summary</h5>
                    <table>
                        <tr ng-repeat="item in interactions" style="margin-bottom: 10px;">
                            <td style="max-width: 205px;width: 205px;padding-right:15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">[[item.title]]</td>
                            <td>
                                <div class="team-profiles clearfix reset"  title="[[item.member.fullName]], [[item.member.emailId]]">
                                    <span ng-if="item.member.noPicFlag">[[item.member.nameNoImg]]</span>
                                </div>
                            </td>
                            <td>[[item.interactionDateFormatted]]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="action-board" style="width: 60.66%;">

        <div ng-show="actionloadingData" class="text-center relative">
            <div class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>

        <div ng-show="!actionloadingData">

            <div ng-show="teamCommitsViewing && !allMyAccess" class="team-commit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="graph-o" ng-show="selectedCommitRange.name != 'Week'">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Team Target([[commits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Team Achievement([[commits.graph.achievementVal]])
                                </div>
                            </div>
                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="commits.graph.commitPipeline"></div>
                                </div>

                                <div class="legend text-right">
                                    Team [[commitStage]] Pipeline ([[commits.graph.commitPipelineVal]])
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p>Closing this [[selectedCommitRange.name]]</p>
                        <!--<h3>[[closingThisSelection.formatted]]</h3>-->
                        <h3>[[oppValueSelectedForDisplay]]</h3>
                    </div>
                    <div class="col-md-3">
                        <p>[[selectedCommitRange.name]]ly Commit</p>
                        <h3>[[commitValueSelectedForDisplay]]</h3>
                    </div>
                </div>
                <div class="table">
                    <table>
                        <tr>
                            <th>Select</th>
                            <th class="cursor" data-ng-click="sortReverseTeam = !sortReverseTeam;sortTypeTeam='fullName'">
                                Team Member
                            </th>
                            <th class="cursor" data-ng-click="sortReverseTeam = !sortReverseTeam;sortTypeTeam='target'">FY Target<br>
                                ([[targetForDisplay]])
                            </th>
                            <th class="cursor" data-ng-click="sortReverseTeam = !sortReverseTeam;sortTypeTeam='won'" class="text-center">FY Achievement<br>
                                ([[achievementForDisplay]])
                            </th>
                            <th class="cursor" data-ng-click="sortReverseTeam = !sortReverseTeam;sortTypeTeam='oppsValueUnderCommitStageSort'" class="text-center">
                                Commit Stage<br> Value
                                ([[oppValueSelectedForDisplay]])
                            </th>
                            <th class="cursor" data-ng-click="sortReverseTeam = !sortReverseTeam;sortTypeTeam='valueSort'" class="text-center">
                                Self Commit <br>
                                ([[commitValueSelectedForDisplay]])
                            </th>
                            <th class="text-center">Committed Date</th>
                            <th class="text-center">Task</th>
                        </tr>
                        <tr ng-repeat="item in commitsByUsers | orderBy:sortTypeTeam:sortReverseTeam">
                            <td><input type="checkbox" ng-model="item.selected" data-ng-click="selectedUserValues(item);reCalClosingThisSelection(item)"></td>
                            <td class="relative cursor underline" data-ng-click="showOppsFor(item.profile)">
                                <span class="[[item.commitMet]] circle">

                                </span>
                                <div class="team-profiles clearfix reset"  title="[[item.profile.fullName]], [[item.profile.emailId]]">
                                    <span ng-if="item.profile.noPicFlag">[[item.profile.nameNoImg]]</span>
                                    <strong>[[item.profile.fullName]]</strong>
                                </div>
                            </td>
                            <td class="text-right">[[item.fyTarget]]</td>
                            <td class="text-right fix-right">
                                [[item.fyAchivement]]
                                <div class="won-percentage">
                                    <div ng-style="item.wonPercentageStyle" style="max-width: 100%;"></div> <span style="right: -40px;">[[item.wonPercentage]]</span>
                                </div>
                            </td>
                            <td class="text-right">[[item.oppsValueUnderCommitStage]]</td>
                            <td class="text-right">[[item.value]]</td>
                            <td class="text-center">[[item.commitDateTime]]</td>
                            <td class="text-center">
                                <button class="btn btn-white" data-ng-click="assignTaskTeamMember(item.profile)">Assign</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="!teamCommitsViewing && !allMyAccess && selectedCommitRange.name != 'Week' && dataBy != 'pa'" class="opp-move">
                <h5>
                    Past [[selectedCommitRange.name]] Commit opportunities movement
                    <i class="fa fa-info-circle black-color" style="font-size: 10px;" title="Opp commit movements shows all opportunities owned by the user that were in the 'Commit' stage and how these opportunities moved in the past month. Any opportunity that was not in the commit stage but was won will not show here."></i>
                </h5>
                <p style="color: orangered;text-align: center;position: absolute;left: 0;right: 0;margin: auto;top: 25px;" ng-show="!selfCommit || selfCommit==0">
                    No Commit data found
                </p>
                <div ng-show="commitMvMtLoading" class="text-center relative">
                    <div class="loading-contacts">
                        <span><i></i></span><span><i></i></span><span><i></i></span>
                    </div>
                </div>
                <table ng-show="!commitMvMtLoading">
                    <tr>
                        <td>
                            <div class="clearfix blue">
                                <div class="pull-left">Commit</div>
                                <div class="pull-right">[[initialCommitPipeline.amount]]([[initialCommitPipeline.count]])</div>
                            </div>
                            <div class="self" ng-show="commitMet == 'not-met'">
                                Self Commit [[selfCommit]] (<span class="[[commitMet]]">Not met</span>)
                            </div>
                            <div class="self" ng-show="commitMet == 'met'">
                                Self Commit [[selfCommit]] (<span class="[[commitMet]]">Met</span>)
                            </div>
                        </td>
                        <td>
                            <div class="clearfix won">
                                <div class="pull-left">Won</div>
                                <div class="pull-right">[[won.amount]] ([[won.count]])</div>
                            </div>
                            <div class="text-center">
                                [[won.percentage]]
                            </div>
                        </td>
                        <td>
                            <div class="clearfix idle">
                                <div class="pull-left">IDLE</div>
                                <div class="pull-right">[[idle.amount]] ([[idle.count]])</div>
                            </div>
                            <div class="text-center">
                                [[idle.percentage]]
                            </div>
                        </td>
                        <td>
                            <div class="clearfix lost">
                                <div class="pull-left">Lost</div>
                                <div class="pull-right">[[lost.amount]] ([[lost.count]])</div>
                            </div>
                            <div class="text-center">
                                [[lost.percentage]]
                            </div>
                        </td>
                        <td>
                            <div class="clearfix pipeline">
                                <div class="pull-left">Pipeline</div>
                                <div class="pull-right">[[pipeline.amount]] ([[pipeline.count]])</div>
                            </div>
                            <div class="text-center">
                                [[pipeline.percentage]]
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="clearfix filter-opps">
                    <div class="pull-left">
                        [[commitStage]] Pipeline: [[commitPipeline]]
                    </div>
                    <div class="pull-right cursor" for="closingThis" data-ng-click="filterOpps('range')">
                        <input type="radio" name="filterOpp" value="range" ng-model="closing.this">Opps Closing this [[selectedCommitRange.name]]
                    </div>
                    <div class="pull-right cursor" for="closingAll" data-ng-click="filterOpps('all')">
                        <input type="radio" name="filterOpp" value="all" ng-model="closing.this">Opps in [[commitStage]] Stage
                    </div>
                </div>
                <table class="opps">
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='riskMeter'">Risk</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='opportunityName'">Name/<br>Account</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='fullName'">Owner /<br>Team</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='closeDate'">Value/<br>Close Date</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='amountWithNgm'">Topline/<br>Margin</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='productType'">Product</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='region'">Region</th>
                    <th class="cursor" data-ng-click="oppSortReverse = !oppSortReverse;oppSortType='age'">Age<br>(days)</th>
                    <th>Task</th>
                    <tr ng-style="item.closingThisWeek" ng-repeat="item in oppsInCommitStage | orderBy:oppSortType:oppSortReverse">
                        <td>
                            <span class="[[item.riskClass]]">
                                <i ng-show="item.riskClass == 'red'">[[item.riskMeter]]</i>
                            </span>
                        </td>
                        <td class="underline">
                            <span class="cursor" data-ng-click="getInteractionHistory(item)">[[item.opportunityNameTruncated]]</span><br>
                            <a class="fs-10 grey-color cursor" href="/accounts/all?accountName=[[item.account]]" target="_blank">
                            [[item.account]]
                        </a>
                        </td>
                        <td class="clearfix relative cursor" style="min-width: 60px;" data-ng-click="goToTeamTab(item)" >
                            <div class="team-profiles clearfix reset pull-left" title="[[item.member.fullName]], [[item.member.emailId]]">
                                <span ng-if="item.member.noPicFlag" style="[[item.isNotOwnerClass]]">[[item.member.nameNoImg]]</span>
                            </div>
                            <div class="pull-left user-access" ng-show="item.usersWithAccess.length>0">
                                + [[item.usersWithAccess.length]]
                            </div>
                        </td>
                        <td class="text-center" style="min-width: 75px;">
                            [[item.amountWithCommas]]
                            <br>
                            <span class="fs-10 [[item.isStaleClass]]">[[item.closeDateFormatted]]</span>
                        </td>
                        <td class="text-center">
                            [[item.topLine]]
                            <br>
                            <span class="fs-10 grey-color">
                        [[item.netGrossMargin]] %
                        </span>
                        </td>
                        <td style="max-width: 90px;width: 90px;padding-right:5px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                            [[item.productType]]
                        </td>
                        <td>[[item.region]]</td>
                        <td>[[item.age]]</td>
                        <td class="text-center">
                            <button class="btn btn-white" data-ng-click="assignTaskOpp(item)">Assign</button>
                        </td>
                    </tr>
                </table>

                <div style="text-align: center;padding: 15px;color: orangered;" ng-show="!oppsInCommitStage || oppsInCommitStage.length == 0">
                    <p ng-show="closing.this != 'all'">
                        No opportunities in [[commitStage]] stage closing this [[selectedCommitRange.name]]
                    </p>
                    <p ng-show="closing.this == 'all'">
                        No opportunities in [[commitStage]] stage
                    </p>
                </div>
            </div>
            <div ng-show="!teamCommitsViewing && !allMyAccess" class="relative margin-t15">
                <h5 class="bold">Commit Vs Achievement Vs Target </h5>
                <p style="color: orangered;text-align: center;padding: 15px;position: absolute;left: 0;right: 0;margin: auto;top: 0;" ng-show="!commitHistoryExists">No Commit vs Achievement data found</p>
                <div class="pipeline-comparison"></div>
            </div>
        </div>
    </div>
</div>
