<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Commits | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #00000080;
            stroke-opacity: .2;
        }

        .link:hover {
            stroke-opacity: .5;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>

</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid reports">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
    </div>
    <div class="row relative" ng-controller="wrapper_controller">
         <div class="right-panel res-col-js" style="left: 70px;">

             <div ng-controller="liu_hierarchy">
             </div>
             <div ng-include="'/commits/commit'"></div>
         </div>
    </div>
</div>

<script src="/javascripts/schedule/slide/toastr.min.js"></script>

<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/commits/index.js"></script>
<script type="text/javascript" src="/javascripts/commits/commit.js"></script>
<script type="text/javascript" src="/javascripts/opportunity/services.js"></script>
<script type="text/javascript" src="/javascripts/common/activityLog.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/javascripts/tasks/index.js"></script>
<script type="text/javascript" src="/javascripts/tasks/services.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/reports/d3-sankey.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<!--<script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>-->

<script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places" async defer></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
