<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Mail Insights | Relationship Intelligence | Relatas</title>
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>

        #sidebar-wrapper {
            margin-top: -10px !important;
        }
        .page-status{
            position: relative;
            top: -4px;
        }
        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>
<div id="wrapper">
    <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
    </div>

    <div id="page-content-wrapper">

        <div class="container-fluid mail-analysis" data-ng-controller="mailAction">
            <div class="col-md-6">
                <i class="fa fa-info-circle fs-12" title="Past 14 days mails"></i>
                <div class="row">
                    <div class="col-md-5 border-right">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h5 title="Past 14 days mails">Mail Type</h5>
                                <ol class="list-unstyled">
                                    <li data-ng-click="filterEmailsBy('important')" class="cursor"><span class="important"></span> Important - [[importantNumber]]</li>
                                    <li data-ng-click="filterEmailsBy('onlyToMe')" class="cursor"><span class="only-me"></span> Only to me - [[onlyToMeNumber]]</li>
                                    <li data-ng-click="filterEmailsBy('followUp')" class="cursor"><span class="follow-up"></span> Follow up - [[followUpNumber]]</li>
                                </ol>
                            </div>
                            <div class="pull-right chart-wrapper">
                                <div class="chart-mail-types"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h5 title="Past 14 days mails">Mail Sentiment</h5>
                                <ol class="list-unstyled">
                                    <li data-ng-click="filterEmailsBy('Positive')" class="cursor"><span class="positive"></span> Positive - [[positiveNumber]]</li>
                                    <li data-ng-click="filterEmailsBy('Negative')" class="cursor"><span class="negative"></span> Negative - [[negativeNumber]]</li>
                                </ol>
                            </div>
                            <div class="pull-right chart-wrapper">
                                <div class="chart-mail-sentiment"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-include="'/insights/mailsTable'"></div>

            </div>
            <div class="col-md-6">
                <div ng-show="!showMailActionBoard" class="action-board">
                    <div data-ng-include="'/todaySeries/mailsToRespondActionBoard_v2'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }
    });
</script>

<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/insights/insightsMail.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/meetingView.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/mailsToRespond_v2.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
</body>

</html>