<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box intelligent CRM providing intelligence dashboard. All your meetings collated in one place with people intelligence">
    <meta name="author" content="Relatas">
    <title>Mail Insights | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.4.7/angular-sanitize.min.js"></script>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <style>

        #sidebar-wrapper {
            margin-top: -10px !important;
        }
        .page-status{
            position: relative;
            top: -4px;
        }
        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>
<div id="wrapper">
    <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
    </div>

    <div id="page-content-wrapper">

        <div class="container-fluid" data-ng-controller="mailAction">

            <div class="row">
                <div class="col-md-8 all-mails">

                    <div class="row" style="margin-bottom: 2px;">
                        <div class="pull-left [[underlineColorAll]]" ng-class="mailActionNav.all" ng-click="fetchMailsByFilter('all')">
                            All([[numberOfAllMails]])
                        </div>
                        <!--<div class="pull-left [[underlineColorImp]]" ng-class="mailActionNav.important" ng-click="fetchMailsByFilter('important')">-->
                            <!--Important([[numberOfImportant]])-->
                        <!--</div>-->
                        <div class="pull-left [[underlineColorMr]]" ng-class="mailActionNav.responsePending" ng-click="fetchMailsByFilter('mailResponsePending')" title="Mails addressed to me">
                            Response Pending([[numberOfMailResponsePending]])
                        </div>
                        <div class="pull-left [[underlineColorFu]]" ng-class="mailActionNav.followUp" ng-click="fetchMailsByFilter('followUp')">
                            Follow Up ([[numberOfFollowUp]])
                        </div>
                        <div class="pull-left" style="text-align: left">
                            <i class="fa fa-exclamation-circle" title="Important: Relatas suggested important mails&#xA;Response Pending: Mails addressed to me&#xA;Follow Up: Mails sent by me that didn't get a response">
                            </i>
                        </div>
                        <!--<div class="pull-right">-->
                            <!--<form><input type="text" class="search-accounts" ng-model="fullName" placeholder="Search by name"></form>-->
                        <!--</div>-->
                    </div>

                    <div class="row">
                        <div class="col-md-12 padding0 bg-white">

                            <div class="action-bar-data-loading" ng-if="isLoading">
                                <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
                            </div>
                            <div ng-show="!isLoading" class="email-action mail-actionI-item-div" ng-repeat="item in mailActionItems | startFrom:currentPageMails*pageSizeMails | limitTo:pageSizeMails | orderBy:'-sortDate' | filter:fullName" ng-class="{'contact-clicked': $index === mailSelected}" ng-click="replyToThisMail(item,'mailResponsePending',$index)" ng-init="$first && replyToThisMail(item,'mailResponsePending',$index)">
                                <div class="row margin0">
                                    <div class="col-md-3 padding0">
                                        <div class="pull-left participant clearfix">
                                            <div class="pull-left relative">
                                                <span class="action-type">
                                                    <i class="rotate-45" ng-class="item.actionType"></i>
                                                </span>
                                                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="participants-image" style="width: 35px;">
                                                <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                            </div>
                                            <div class="pull-left">
                                                <label>[[item.name]]</label>
                                                <p>[[item.company]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <p>
                                            [[item.interactionDate]]
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <p title="[[item.fullSubject]]">
                                            [[item.subject]]
                                        </p>
                                    </div>
                                    <div class="email-action-item-hover-wrapper margin-r20">
                                        <ul class="list-unstyled">
                                            <!--<li title="Ignore Mail" ng-click="ignoreInsight(item)"><img src="/images/dashboard-icons/ignore.png"></li>-->
                                            <li title="Reply to Mail" ng-click="replyToThisMail(item,'mailResponsePending',$index,true)"><i class="fa fa-mail-reply green-color"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="vertical-button-wrapper" ng-show="!isLoading" ng-click="resetSelection()">
                                <button class="action text-buttons left" ng-hide="currentPageMails == 0" ng-click="currentPageMails=currentPageMails-1"> <i class="fa fa-angle-left"></i> </button>
                                <span class="page-status" ng-show="totalPagesMails > 0 ">Showing [[currentPageMails + 1]] of [[totalPagesMails]]</span>
                                <button class="action text-buttons right" ng-hide="currentPage >= numberOfResponsesPending/pageSizeMails - 1" ng-click="currentPageMails=currentPageMails+1"> <i class="fa fa-angle-right"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 margin-l20">

                </div>
            </div>

            <div class="action-board" ng-if="actionBoardToggle">
                <div ng-if="showEmail">
                    <div data-ng-include="'/todaySeries/mailsToRespondActionBoard'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        $("body").on('click', '#menu-toggle', function(e) {
            e.preventDefault();
            $(".overlay").show();
        });
        $(window).resize(function() {
            var scrollWidth = $(window).width();
            if (scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });
</script>
<!--<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>-->
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/insights/insightsMailAction.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script>
    $(document).ready(function() {
        $('.open-add-task').popover();
        $('[data-toggle="tooltip"]').tooltip();

        // var socket = io.connect('http://localhost:7000');

        $('.selectpicker').selectpicker({
            style: 'btn-primary width-45 margin0'
        });

    });
</script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notifications.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/meetingView.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/mailsToRespond.js"></script>
</body>

</html>