<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Revenue at Risk Insights | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/datatables.bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls-1.3.2.min.js"></script>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

    <style>
        #sidebar-wrapper {
            margin-top: 40px !important;
        }

        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak>

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>

<div style="display: inline-block;width: 296px;margin-left: auto;" >
    <div class="row">
        <div class="leftside-bar">
            <div class="mainNav toggle-sidebar" style="margin-top: 40px;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
            </div>
        </div>
    </div>
</div>

<div class="body-v-align border-b-lite" data-ng-controller="selfOrCompany">
    <div class="top-control-panel">
        <div class="container-fluid padding0 text-center">
            <div ng-class="selectedSelf" ng-click="selectHierachy('self')">
                <!--<div class="pull-left insights-glance">-->
                    <!--Total Losing Touch: 27-->
                <!--</div>-->
                SELF
            </div>
            <div ng-class="selectedHierarchy" ng-click="selectHierachy('team')">
                <!--<div class="pull-right insights-glance">-->
                    <!--Total Losing Touch: 105-->
                <!--</div>-->
                MY HIERARCHY
            </div>
        </div>
    </div>
</div>

<div class="container-fluid insights-table-wrapper" data-ng-controller="losingTouchDetails as showCase">
    <div class="losing-touch-tables">
        <div ng-if="!forTeam">
            <table id="interactions_table" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                <colgroup>
                    <col width="155">
                    <col width="30">
                    <col width="30">
                    <col width="30">
                    <col width="50">
                    <col width="30">
                    <col width="275">
                    <col width="155">
                    <col width="80">
                </colgroup>
                <thead>
                <tr class="grey-bg text-center font-12">
                    <th>CONTACT</th>
                    <th>COMPANY</th>
                    <th>Interaction growth</th>
                    <th>Total pipeline Value ([[currency]])</th>
                    <th>LAST INTERACTED</th>
                    <th>RELATIONSHIP TYPE</th>
                    <th>SUGGESTION</th>
                    <th>ACTION</th>
                    <th>IGNORE</th>
                </tr>
                </thead>
                <tbody class="font-12 table-fa">
                <tr ng-repeat="item in showCase.persons" class="insights-table">
                    <td fullName="[[item.contactName]]" title="[[item.contactName]]&#13;[[item.designation]]">
                        <div ng-click="goToContactSelected(item.contactEmailId,item.mobileNumber)" class="cursor clearfix">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <img ng-if="!item.no_pic" class="tb-image-placeholder" src="[[item.contactImage]]">
                                    <span ng-if="item.no_pic" class="tb-image-placeholder">[[item.contactImage]]</span>
                                </div>
                                <div class="pull-left pull-left-with-margin">
                                    <span>[[item.contactName]]<br>
                                    [[item.designation]]</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="truncate-table-cell capitalize">[[item.company]]</td>
                    <td class="text-center">[[item.interactionGrowth]]</td>
                    <td class="text-center">
                        <input style="text-align: right;" type="text" ng-model="item.contactValue" ng-blur="updateInProcessValue(item.contactValue,item.contactEmailId)" value="[[item.contactValue]]">
                    </td>
                    <td class="text-center">[[item.lastInteracted]]</td>
                    <td class="text-center">
                                <span class="cursor" ng-click="updateRelation(item,'influencer')" title="Influencer">
                                    <i class="[[item.influencerCss]]"></i>
                                </span>
                        /
                                <span class="cursor" ng-click="updateRelation(item,'decision_maker')" title="Decision Maker">
                                    <i class="[[item.decisionMakerCss]]"></i>
                                </span>
                    </td>
                    <td>
                        <div ng-click="viewEmail(item, 'yes')" class="grey-color cursor-pointer">
                            <span class="[[item.interactionIconType]]" aria-hidden="true"></span>
                            [[item.title]]
                            <p class="interaction-track" ng-if="item.showTrackInfo">[[item.readOn]]</p>
                                    <span ng-if="item.showEmailBody">
                                        <p>
                                            <span ng-bind-html="item.description" class="text-left"></span>
                                            <div style="text-align: center" ng-if="item.emailFetch == true" class="text-center"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                        </p>
                                    </span>
                        </div>
                        <!--<pre>[[item.suggestion]]</pre>-->
                        [[item.suggestion]]
                    </td>
                    <td class="insights-action text-center clearfix">
                        <div title="Schedule Meeting" class="action"><a class="btn btn-primary" href="[[item.publicProfileUrl]]" ng-click="actionTaken(null, item.contactName, item.contactEmailId, null, 'meeting', 'revenueAtRisk', item.index, item.suggestion, 'self')"><i class="fa fa-calendar"></i></a></div>
                        <div title="Send an Email" class="action"><a class="btn btn-primary" ng-click="showEmailDiv(item,showCase.persons);viewPastEmail(item);"><i class="fa fa-envelope-o"></i></a></div>
                        <div title="Tweet" ng-if="item.ifTweets" class="action"><a href="#" class="btn twitter-bg-color" ng-click="showTwitterForm(item,showCase.persons)"><i class="fa fa-twitter-square"></i></a></div>
                        <div class="compose-email-insights-wrapper">
                            <div ng-if="item.emailShow" class="email-insights-form">
                                <p class="text-left"><label>Compose Email</label></p>
                                <div class="form">
                                    <div class="margin-tb1">
                                        <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
                                    </div>
                                    <div class="margin-tb1">
                                        <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix insights-form-btn">
                                    <div class="pull-left">
                                        <label style="font-weight: 300;font-size: 14px;">
                                            <input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
                                    </div>

                                    <div class="pull-right">
                                        <input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response" ng-click="showEmailDiv(item,showCase.persons);">
                                        <input id="send-email-but" type="button" ng-click="logToInsightsActionTaken(item.contactId,item.contactEmailId);sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,item.contactName,item.contactEmailId,item.contactId, item.index, item.suggestion, 'self', item);showEmailDiv(item,showCase.persons)" value="Send Message" class="send-message btn-primary">
                                    </div>
                                    <br/>
                                    <br/>
                                    <div class="text-left" ng-if="item.lastInteractionType == 'email'" >
                                        <label class="text-left">Subject: [[item.title]]</label>
                                        <p><span ng-bind-html="item.description"></span></p>
                                        <div class="text-center" ng-if="item.emailFetch == true && item.lastInteractionType == 'email'"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="item.showTwitter" class="insights-twitter-form clearfix">
                            <div>
                                <strong>Latest Tweet<br></strong>
                                <i>[[item.twitterTitle]]</i>
                                <textarea ng-model="item.compose_twitter_reply" class="form-control" ng-if="item.ifTweets"></textarea>
                            </div>
                            <div ng-if="item.ifTweets">
                                <div class="pull-right">
                                    <input type="button" value="Cancel" class="email-inline btn btn-green" id="hide-email-response" ng-click="showTwitterForm(item,showCase.persons);">
                                    <input id="send-email-but" type="button" ng-click="logToInsightsActionTaken(item.contactId,item.contactEmailId);replyTwitterPost(item.twitterRefId,item.compose_twitter_reply)" value="Tweet" class="send-message btn btn-green">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="radio">
                            <input ng-model="remind" name="[[item.radioLabelA]]" type="radio" id="[[item.radioLabelA]]" value="[[item.radioLabelA]]" checked ng-change="ignoreLosingTouch(item.contactId,item.contactEmailId,30);actionTaken(null, item.contactName, item.contactEmailId, null, 'Ignore 30 Days', 'revenueAtRisk', item.index, item.suggestion, 'self')">
                            <label for="[[item.radioLabelA]]">30 Days</label>
                        </div>
                        <div class="radio">
                            <input ng-model="remind" name="[[item.radioLabel]]" type="radio" id="[[item.radioLabel]]" value="[[item.radioLabel]]" ng-change="ignoreLosingTouch(item.contactId,item.contactEmailId,'never');actionTaken(null, item.contactName, item.contactEmailId, null, 'Ignore Forever', 'revenueAtRisk', item.index, item.suggestion, 'self')">
                            <label for="[[item.radioLabel]]">Forever</label>
                        </div>
                        <!--<i ng-click="ignoreLosingTouchTemp(item.contactId,item.contactEmailId,'never');actionTaken(null, item.contactName, item.contactEmailId, null, 'ignore', 'revenueAtRisk', item.index, item.suggestion, 'self')" class="fa fa-close green-color cursor"></i>-->
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="custom-pagination" data-ng-controller="selfPagination">
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged('self')" max-size="maxSize" force-ellipses="true" boundary-link-numbers="true" rotate="true"></uib-pagination>
            </div>
        </div>
        <span ng-if="showAllBtn" class="btn btn-green show-more-insights" ng-click="showMoreInsights()">Show All</span>

        <!--Table for hierarchy-->
        <div ng-if="forTeam">
            <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                <colgroup>
                    <col width="55">
                    <col width="55">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="100">
                    <col width="125">
                    <!--<col width="10">-->
                </colgroup>
                <thead>
                <tr class="grey-bg text-center font-12">
                    <th>OWNER</th>
                    <th>CONTACT</th>
                    <th>COMPANY</th>
                    <th>DESIGNATION</th>
                    <th>interaction growth</th>
                    <th>Total pipeline Value ([[currency]])</th>
                    <th>LAST INTERACTED</th>
                    <th>RELATIONSHIP TYPE</th>
                    <!--<th>SUGGESTION</th>-->
                    <th>Follow up with my team</th>
                    <!--<th>IGNORE</th>-->
                </tr>
                </thead>
                <tbody class="font-12 table-fa">
                <tr ng-repeat="item in showCase.persons" class="insights-table">

                    <td fullName="[[item.contactOwner]]" class="truncate-table-name" title="[[item.ownerFullName]]">
                        <img ng-if="!item.owner_no_pic" class="tb-image-placeholder" src="[[item.ownerImage]]">
                        <span ng-if="item.owner_no_pic" class="tb-image-placeholder">[[item.ownerImage]]</span>
                        <!--<span>[[item.contactOwner]]</span>-->
                    </td>

                    <td fullName="[[item.contactName]]" class="truncate-table-name" title="[[item.contactName]]">
                        <i class="[[item.relation]]" title="[[item.relationTitle]]"></i>
                        <img ng-if="!item.no_pic" class="tb-image-placeholder" src="[[item.contactImage]]">
                        <span ng-if="item.no_pic" class="tb-image-placeholder">[[item.contactImage]]</span>
                        <span>[[item.contactName]]</span>
                    </td>
                    <td class="truncate-table-cell capitalize">[[item.company]]</td>
                    <td class="truncate-table-cell capitalize" title="[[item.designation]]">[[item.designation]]</td>
                    <td class="text-center">[[item.interactionGrowth]]</td>
                    <td class="text-center">
                        [[item.contactValue]]
                        <!--<input type="text" ng-model="" ng-blur="updateInProcessValue(item.contactValue,item.contactId)">-->
                    </td>

                    <td>[[item.lastInteracted]]</td>
                    <td class="text-center">
                        <span title="Influencer">
                            <i class="[[item.influencerCss]]"></i>
                        </span>
                        /
                        <span title="Decision Maker">
                            <i class="[[item.decisionMakerCss]]"></i>
                        </span>
                    </td>
                    <!--<td>[[item.suggestion]]</td>-->
                    <td class="text-center">
                        <a class="btn btn-green mSendEmail email-inline" ng-click="showEmailDiv(item,showCase.persons);"><i class="fa fa-envelope"></i>Send an Email</a>
                        <!-- <div title="Send an Email" class="action"><a class="btn btn-primary" ng-click="showEmailDiv(item,showCase.persons);"><i class="fa fa-envelope-o"></i></a></div> -->
                        <div class="compose-email-insights-wrapper">
                            <div ng-if="item.emailShow" class="email-insights-form">
                                <p class="text-left"><label>Compose Email</label></p>
                                <p class="text-left">To: [[item.ownerFullName]] <[[item.ownerEmailId]]></p>
                                <div class="form">
                                    <div class="margin-tb1">
                                        <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
                                    </div>
                                    <div class="margin-tb1">
                                        <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix insights-form-btn">
                                    <div class="pull-left">
                                        <label style="font-weight: 300;font-size: 14px;">
                                            <input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
                                    </div>

                                    <div class="pull-right">
                                        <input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response" ng-click="showEmailDiv(item,showCase.persons);">
                                        <input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,item.ownerFullName,item.ownerEmailId,item.ownerId, item.index, item.suggestion, 'hierarchy', null);showEmailDiv(item,showCase.persons);" value="Send Message" class="send-message btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                    <!--<td><i ng-click="ignoreLosingTouch(item.contactId)" class="fa fa-close green-color cursor"></i></td>-->
                </tr>
                </tbody>
            </table>

            <div class="custom-pagination" data-ng-controller="teamPagination">
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged('team')" max-size="maxSize" force-ellipses="true" boundary-link-numbers="true" rotate="true"></uib-pagination>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/insights/insightsRevenueRisk.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>