<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Insights | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/datatables.bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
</head>
<style>
.toast-top-full-width {
    left: 150px;
}
.contactValueDiv{
    border:1px solid #ccc;
    position:relative;
}
 
.closeButton{
    position:absolute;
    right:7px;
    top:2px;
    cursor:pointer;
}

.link{
    text-decoration: underline;
}

</style>

<style>
    #sidebar-wrapper {
        margin-top: 40px !important;
    }

    .navbar-nav li a img {
        width: 120px;
        height: 36px;
        margin: 9px 0 9px 15px;
    }

    @media only screen and (max-width: 768px) {
        .toggle-sidebar {
            display: none;
        }
        .nav>li>a>img {
            height: 30px;
            width: 30px;
        }
        #menu-toggle {
            position: relative;
            top: 5px;
        }
        .width-xs {
            width: 100%;
        }
    }

    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait){
        .toggle-sidebar {
            display: block;
        }
    }
</style>

<body style="overflow-x:hidden;" ng-cloak>

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
</div>

<div style="display: inline-block;width: 296px;margin-left: auto;" >
    <div class="row">
        <div class="leftside-bar">
            <div class="mainNav toggle-sidebar" style="margin-top: 40px;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
            </div>
        </div>
    </div>
</div>
    <div class="body-v-align border-b-lite" data-ng-controller="selfOrCompany">
        <div class="top-control-panel">
            <div class="container-fluid padding0 text-center">
                <div ng-class="selectedSelf" ng-click="selectHierachy('self')">
                    SELF
                </div>
                <div ng-class="selectedHierarchy" ng-click="selectHierachy('team')">
                    MY HIERARCHY
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid insights-table-wrapper" data-ng-controller="CRRDetails as showCase">
        <div class="losing-touch-tables">
            <div ng-if="!forTeam">
                <table id="interactions_table" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                    <colgroup>
                        <col width="350">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                    </colgroup>
                    <thead>
                        <tr class="grey-bg text-center font-12">
                            <th>COMPANY</th>
                            <th>TOTAL OPPORTUNITY VALUE(INR)</th>
                            <th>INTERACTIONS(Past 30 days)</th>
                            <th>CONTACTS</th>
                            <th>DECISION MAKERs</th>
                            <th>INFLUENCERS</th>
                            <th>EXTENDED NETWORK</th>
                        </tr>
                    </thead>
                    <tbody class="font-12 table-fa">
                        <tr ng-repeat="item in showCase.persons" class="insights-table">
                            <td class="truncate-table-cell capitalize">
                                <a href="#" style="text-decoration:none;" ng-click="contactShow(item,showCase.persons);"><span class='link green-color'>[[item.company]]</span></a>
                                <br>
                                <div class="contactValueDiv" ng-if="item.contactsShow">
                                    <p class='closeButton' ng-click="contactShow(item,showCase.persons);">X</p>
                                    <table id="interactions_table" class="table table-striped table-padding tb-vertical-line row-border hover" style="margin:0;">
                                        <thead>
                                            <tr class="grey-bg text-center font-12">
                                                <th>Name</th>
                                                <th>Total <br>opportunity value(INR)</th>
                                                <th>relationship<br>type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(i,contacts) in item.contacts track by $index">
                                                <td><span style='cursor:pointer;' title="[[contacts.name]]">[[contacts.name | limitTo: 15]][[contacts.name.length > 15 ? ' ...' : '']]</span>
                                                </td>
                                                <td class="text-center">
                                                    <input style="width:100px;text-align:right;" ng-model='item.contacts[i].value' ng-blur="updateContactValue(item.contacts[i].value, item.contacts[i], item, contacts.email)" type="text" value="[[contacts.value]]" />
                                                </td>
                                                <td class="text-center">
                                                    <a title="Influencer" class="mContactInfluencer" ng-click="updateRelation(item.contacts[i], 'influencer', item)" style="cursor: pointer;[[item.contacts[i].relation == 'influencer' ? 'color: #f86b4f;background: transparent !important;border: none;' : 'color: #777777!important';]]"><i class="fa fa-share-alt" style="[[item.contacts[i].relation == 'influencer' ? 'color: #f86b4f;background: transparent !important;border: none;' : 'color: #777777!important';]]"></i>&nbsp </a>
                                                /
                                                    <a title="Decision Maker" class="mContactDecisionMaker" ng-click="updateRelation(item.contacts[i], 'decision_maker', item)" style="cursor: pointer;[[item.contacts[i].relation == 'decision_maker' ? 'color: #f86b4f;background: transparent !important;border: none;' : 'color: #777777!important';]]"><i class="fa fa-user" style="[[item.contacts[i].relation == 'decision_maker' ? 'color: #f86b4f;background: transparent !important;border: none;' : 'color: #777777!important';]]"></i>&nbsp</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="text-align:center;"><button ng-click="company(item.company)" class='btn btn-green'>Company wide interactions</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td class="text-center">[[item.value]]</td>
                            <td class="text-center">
                                [[item.interaction]]
                            </td>
                            <td class="text-center"><span  class='link green-color' style="cursor:pointer" ng-click="company(item.company)">[[item.noOfContact]]</span></td>
                            <td class="text-center">[[item.decisionmaker]]</td>
                            <td class="text-center">[[item.influencer]]</td>
                            <td class="text-center"><a class='link green-color' href="/contact/connect?searchContent=[[item.company]]&yourNetwork=false&extendedNetwork=true&forCompanies=true&forInsights=true">[[item.extendedNetwork]]</a></td>
                        </tr>
                    </tbody>
                </table>
                <span class="btn btn-green show-more-insights" style="margin-left:10px;" ng-click="showMoreSelf()">Show All</span>
            </div>
            <!--Table for hierarchy-->
            <div ng-if="forTeam">
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                    <colgroup>
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="50">
                        <col width="450">
                    </colgroup>
                    <thead>
                        <tr class="grey-bg text-center font-12">
                            <th>TEAM MEMBERS</th>
                            <th>COMPANY</th>
                            <th>TOTAL OPPORTUNITY VALUE(INR)</th>
                            <th>INTERACTIONS</th>
                            <th>CONTACTS</th>
                            <th>Follow up with my team</th>
                        </tr>
                    </thead>
                    <tbody class="font-12 table-fa">
                        <tr ng-repeat="item in showCase.persons" class="insights-table">
                            <td class="text-center" fullName="[[item.nameH]]" class="truncate-table-name" title="[[item.nameH]]">
                                <img ng-if="!item.no_pic" title="[[item.nameH]]" class="tb-image-placeholder" src="[[item.contactImage]]">
                                <span ng-if="item.no_pic" title="[[item.nameH]]" class="tb-image-placeholder">[[item.contactImage]]</span>
                            </td>
                            <td>[[item.companyH]]</td>
                            <td class="text-center">[[item.valuesH]]</td>
                            <td class="text-center">[[item.intractionsH]]</td>
                            <td class="text-center">[[item.contactsH]]</td>
                            <td class="text-center">
                                <a class="btn btn-green mSendEmail email-inline" ng-click="showEmailDiv(item,showCase.persons);"><i class="fa fa-envelope"></i>Send an Email</a>
                                <div ng-if="item.emailShow" class="compose-email-container padding1 compose-email-inline">
                                    <div style='text-align:left'>
                                        <p class="text-left"><label>Compose Email</label></p>
                                        <p class="text-left">To: [[item.nameH]] <[[item.emailH]]></p>
                                        <div class="form">
                                            <div class="row margin-tb1" style="padding:0;">
                                                <div class="col-xs-12" style="padding:0;">
                                                    <input style="text-align:left;" ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
                                                </div>
                                            </div>
                                            <div class="row" style="padding:0;">
                                                <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
                                            </div>
                                            <div style="padding: 10px;text-align:left;">
                                                <label style="font-weight: 300;font-size: 14px;">
                                                    <input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response" ng-click="showEmailDiv(item,showCase.persons);">
                                            <input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,item.nameH,item.emailH,item._id,item.index, item.mobileNumber, 'hierarchy', showCase.persons)" value="Send Message" class="send-message btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="btn btn-green show-more-insights" style="margin-left:10px;" ng-click="showMoreHierarchy()">Show All</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>
    <script type="text/javascript" src="/javascripts/insights/insightsCRR.js"></script>
    <script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>

</html>
