
<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Insights | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/datatables.bootstrap.min.css" rel="stylesheet">

    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

    <style>
        #sidebar-wrapper {
            margin-top: 40px !important;
        }

        .navbar-nav li a img {
            width: 120px;
            height: 36px;
            margin: 9px 0 9px 15px;
        }

        .visited-color-p{
            color: rgb(56, 60, 63) !important;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
            }
            .width-xs {
                width: 100%;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak>
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header_no_mid'"></nav>
    </div>

    <div style="display: inline-block;width: 296px;margin-left: auto;">
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" style="margin-top: 43px;">
                </div>
            </div>
        </div>
    </div>

<div class="body-v-align border-b-lite" data-ng-controller="revenue_at_risk">
    <div class="top-control-panel">
        <div class="container-fluid padding0 text-center" data-ng-controller="selfOrCompany">
            <div ng-class="selectedSelf" ng-click="selectHierachy('self')">
                SELF
            </div>
            <div ng-class="selectedHierarchy" ng-click="selectHierachy('team')">
                MY HIERARCHY
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="section-header margin-top50 text-center">
            Revenue at Risk
            <i class="fa fa-info-circle green-color font-12" id="rev-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Revenue at Risk shows your pipeline value which is at risk. Relatas suggests you to connect with selected contacts to reduce your Revenue at Risk"></i>
        </h3>
        <div class="row row-eq-height padding-tb15">
            <div class="col-md-6 border-right">
                <h2 class="text-center margin-b25">[[selection]]</h2>
                <div id="revenueRiskChart" ng-click="goToDetails()"></div>
            </div>
            <div class="col-md-2 text-center border-right insights-mid-section">
                <p>Total Pipeline value</p>
                <h2>[[currency]] [[allContactsValue]]</h2>
                <p>Revenue at Risk</p>
                <h2>[[currency]] [[valueAtRisk]]</h2>
                <p>Risk Percentage</p>
                <h2>[[revenueAtRiskPercentage]]</h2>
            </div>
            <div class="col-md-4 revenue-risk">
                <div class="row">
                    <h2 class="text-left margin-b25 margin-l20">[[selection]] vs Company</h2>
                    <div class="col-md-7 revenue-risk" style="padding-top:0 !important;">
                        <div id="gaugeChartRevenue"></div>
                        <div class="custom-legend clearfix">
                            <div class="pull-left">
                                <span class="box1"></span>
                                <p>[[selection]]</p>
                                <h4>[[revenueAtRiskPercentage]]</h4>
                            </div>
                            <div class="pull-left">
                                <span class="box2"></span>
                                <p>Company Average</p>
                                <h4>[[companyRevenueAtRisk]]</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-0 text-center" ng-if="!hide">
                        <div class="insights-suggestions-box" ng-click="goToDetails()">
                            <div ng-if="revenueAtRiskNumber == 0">
                                <h2>
                                    <a href="/insights/revenue/risk/details" class="green-color underline">10</a>
                                </h2>suggested contacts <br>to update<br>revenue numbers
                            </div>
                            <div ng-if="revenueAtRiskNumber>0">
                                <h2>
                                    <a href="/insights/revenue/risk/details" class="green-color underline">[[revenueAtRiskSuggestion]]</a>
                                </h2> suggested contacts<br>to reduce <br>revenue risk
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
        <!--<div ng-if="!hideUpdatePopUp" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-ng-controller="revenue_at_risk as showCase">-->
        <!--<div class="modal-dialog insights-modal" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header clearfix">-->
                    <!--<button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-right" ng-click="saveUpdateDataInit(remind30days,remindNever,showCase.persons)">Save & Close</button>-->
                    <!--<h4 class="modal-title pull-left" id="myModalLabel">Update Contact Details</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<table id="insights_init_table_wrapper" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">-->
                        <!--<colgroup>-->
                            <!--<col width="100">-->
                            <!--<col width="125">-->
                            <!--<col width="125">-->
                            <!--<col width="150">-->
                            <!--<col width="100">-->
                            <!--<col width="100">-->
                            <!--<col width="200">-->
                        <!--</colgroup>-->
                        <!--<thead>-->
                        <!--<tr class="grey-bg text-center font-12">-->
                            <!--<th>CONTACT</th>-->
                            <!--<th>COMPANY</th>-->
                            <!--<th>DESIGNATION</th>-->
                            <!--<th>LAST INTERACTED</th>-->
                            <!--<th>TOTAL INTERACTIONS</th>-->
                            <!--<th>RELATIONSHIP TYPE</th>-->
                            <!--<th>TOTAL PIPELINE VALUE (INR)</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody class="font-12 table-fa">-->
                        <!--<tr ng-repeat="item in showCase.persons" class="insights-table">-->
                            <!--<td class="truncate-table-name capitalize">[[item.name]]</td>-->
                            <!--<td class="capitalize">[[item.company]]</td>-->
                            <!--<td class="capitalize">[[item.designation]]</td>-->
                            <!--<td class="text-center">[[item.lastInteracted]]</td>-->
                            <!--<td class="text-center">[[item.interactionsCount]]</td>-->
                            <!--<td class="text-center">-->
                                <!--<span class="cursor" ng-click="updateRelation(item.email,'influencer')" title="Influencer">-->
                                    <!--<i class="[[item.influencerCss]]"></i>-->
                                <!--</span>-->
                                <!--/-->
                                <!--<span class="cursor" ng-click="updateRelation(item.email,'decisionmaker')" title="Decision Maker">-->
                                    <!--<i class="[[item.decisionMakerCss]]"></i>-->
                                <!--</span>-->
                            <!--</td>-->
                            <!--<td class="text-center"><input style="text-align: right;" type="text" ng-class="item.preSelectedValue" ng-model="item.inProcessValue" ng-blur="updateInProcessValue(item.inProcessValue,item.email)" value="[[item.inProcess]]"></td>-->
                            <!--&lt;!&ndash;<td class="text-center"><input type="text" ng-model="item.inProcessValue" ng-blur="updateInProcessValue(item.inProcessValue,item.contactId)" placeholder="[[item.inProcess]]" ng-if="!item.inProcessValEmpty"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div class="modal-footer clearfix">-->
                    <!--<div class="pull-left">-->
                        <!--<div class="checkbox checkbox-inline">-->
                            <!--<input ng-model="remind30days" type="checkbox" id="inlineCheckbox7">-->
                            <!--<label for="inlineCheckbox7"> Do not prompt me again for next 30 Days. </label>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="checkbox checkbox-inline">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input ng-model="remindNever" type="checkbox" id="inlineCheckbox2">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label for="inlineCheckbox2"> Do not prompt me again. </label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="pull-right">-->
                        <!--<button type="button" class="btn btn-primary" ng-click="saveUpdateDataInit(remind30days,remindNever,showCase.persons)">Save & Close</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>


    <hr>

<div class="container">
    <div class="border-b-lite row" data-ng-controller="losing_touch&company_risk">
            <h3 class="section-header margin-top20 text-center">
                Losing Touch
                <i class="fa fa-info-circle green-color font-12" id="lt-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Losing Touch shows you the contacts you are losing touch with, based on last 60 days interactions. Relatas suggests re-connecting with selected contacts to help you stay in touch"></i>
            </h3>
        <div class="row margin-top20 row-eq-height">
            <div class="col-md-5 text-center border-right col-md-offset-1 losing-touch-insights">
                <h2 class="text-center margin-b25">[[selection]]</h2>
                <div id="chartLosingTouch" ng-click="goToDetails('lt')"></div>
            </div>
            <div class="col-md-2 text-center border-right insights-mid-section">

                <p>TOTAL CONTACTS</p>
                <h2>[[contactsCount]]</h2>
                <p>IN TOUCH</p>
                <h2>[[inTouch]]</h2>
                <p>LOSING TOUCH</p>
                <h2>[[losingTouch]]</h2>

            </div>
            <div class="col-md-4">
                <h2 class="text-left margin-b25  margin-l20">[[selection]] vs Company</h2>
                <div class="row">
                    <div class="col-md-7 revenue-risk" style="padding-top:0 !important;">
                        <div id="gaugeChart"></div>
                        <div class="custom-legend clearfix">
                            <div class="pull-left">
                                <span class="box1"></span>
                                <p>[[selection]]</p>
                                <h4>[[losingTouchSelfAverage]]</h4>
                            </div>
                            <div class="pull-left">
                                <span class="box2"></span>
                                <p>Company Average</p>
                                <h4>[[losingTouchCompanyAverage]]</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-0 text-center" ng-if="!hide">
                        <div class="insights-suggestions-box" ng-click="goToDetails('lt')">
                            <h2><a href="/insights/losing/touch/details" class="green-color underline">[[donutCenter]]</a></h2> suggested contacts<br>to stay in touch
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- <div class="row margin-top20">
            <h3 class="section-header text-center">Company Relationship Risk</h3>
            <div class="col-md-6 text-center col-md-offset-1 losing-touch-insights">
                <div id="chartCompanyRelationshipRisk" ng-click="goToDetails('crr')"></div>
            </div>
        </div> -->


        <h3 class="section-header margin-top50 text-center">
            Company Relationship Risk
            <i class="fa fa-info-circle green-color font-12" id="crr-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Company Relationship Risk shows your Interactions / Dollar and suggests ways to improve the same"></i>
        </h3>
        <div class="row row-eq-height padding-tb15">
            <div class="col-md-6 border-right">
                <h2 class="text-center margin-b25">[[selection]]</h2>
                <div id="chartCompanyRelationshipRisk" ng-click="goToDetails('crr')"></div>
            </div>
            <div class="col-md-2 text-center border-right insights-mid-section">

                <p>[[msgFor]] <br>Interaction/[[currency]] <br>rate is</p>
                <h2>[[interactionPerDollar]]</h2>
                <p ng-if="interactionPerDollar != '0%'"><span ng-class="warningCssForCR">[[avg]]</span> than the Company Average</p>

            </div>
            <div class="col-md-4 revenue-risk">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 text-center">
                        <div ng-if="suggestionCRR" class="insights-suggestions-box" ng-click="interactionPerDollar != '0%' ? goToDetails('crr') : goToDetails('rr')">
                            <div ng-if="interactionPerDollar != '0%'">
                                <h2><a href="/insights/company/relationship/risk/details" class="green-color underline">10</a></h2>
                                companies with high
                                <br>relationship risk
                            </div>
                            <div ng-if="interactionPerDollar == '0%'">
                                <h2><a href="/insights/revenue/risk/details" class="green-color underline">10</a></h2>
                                suggested contacts
                                <br>to update $ Value
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 text-center">
                        <a style="text-decoration: none;" href=[[urlForExtendedNetwork]]>
                            <div ng-if="suggestionCRR" class="insights-suggestions-box" >
                                <h2><span class="green-color underline">[[extendedNetwork]]</span></h2>
                                <span class="visited-color-p">suggested contacts to improve your relationship</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-if="!hide">
    <section id="responsePending">
        <div class="border-b-lite row" data-ng-controller="responsePending">
            <h3 class="section-header margin-top20 text-center">
                Your Response Pending
                <i class="fa fa-info-circle green-color font-12" id="rp-show" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Response Pending shows your actionable emails"></i>
            </h3>
            <div class="row margin-top20 row-eq-height">
                <div class="col-md-5 text-center border-right col-md-offset-1 losing-touch-insights">
                    <h2 class="text-center margin-b25">Last 15 Days</h2>
                    <div id="chartResponsePending15Days"></div>
                </div>

                <div class="col-md-5 text-center border-right col-md-offset-1 losing-touch-insights">
                    <h2 class="text-center margin-b25">Today</h2>
                    <div id="chartResponsePendingToday"></div>
                </div>

                <div class="col-md-4">
                        <div class="col-md-8 col-md-offset-0 text-center">
                            <div class="insights-suggestions-box">
                                <h2><a href="/insights/your/responses/pending/details?filter=external&days=0" class="green-color underline">[[todayExternalMails]]</a></h2> external mails<br>needing your<br>attention today
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
    <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
        <!--Launch demo modal-->
    <!--</button>-->

    <!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-ng-controller="getContactValues as showCase">
        <div class="modal-dialog insights-modal" role="document">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-right" ng-click="saveUpdateDataInit(remind30days,remindNever)">Save & Close</button>
                    <h4 class="modal-title pull-left" id="myModalLabel">Update Contact Details</h4>
                </div>
                <div class="modal-body">
                    <table id="insights_init_table_wrapper" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                        <colgroup>
                            <col width="100">
                            <col width="125">
                            <col width="125">
                            <col width="150">
                            <col width="100">
                            <col width="100">
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr class="grey-bg text-center font-12">
                            <th>CONTACT</th>
                            <th>COMPANY</th>
                            <th>DESIGNATION</th>
                            <th>LAST INTERACTED</th>
                            <th>TOTAL INTERACTIONS</th>
                            <th>DECISION MAKER/INFLUENCER</th>
                            <th>TOTAL PIPELINE VALUE</th>
                        </tr>
                        </thead>
                        <tbody class="font-12 table-fa">
                        <tr ng-repeat="item in showCase.persons" class="insights-table">
                            <td class="truncate-table-name">[[item.name]]</td>
                            <td>[[item.company]]</td>
                            <td>[[item.designation]]</td>
                            <td class="text-center">[[item.lastInteracted]]</td>
                            <td class="text-center">[[item.interactionsCount]]</td>
                            <td class="text-center">
                                <span class="cursor" ng-click="updateRelation(item.contactId,'influencer')" title="Influencer">
                                    <i class="[[item.influencerCss]]"></i>
                                </span>
                                /
                                <span class="cursor" ng-click="updateRelation(item.contactId,'decisionmaker')" title="Decision Maker">
                                    <i class="[[item.decisionMakerCss]]"></i>
                                </span>
                            </td>
                            <td class="text-center"><input type="text" ng-model="item.inProcessValue" ng-blur="updateInProcessValue(item.inProcessValue,item.contactId)" value="[[item.inProcess]]"></td>
                            <!--<td class="text-center"><input type="text" ng-model="item.inProcessValue" ng-blur="updateInProcessValue(item.inProcessValue,item.contactId)" placeholder="[[item.inProcess]]" ng-if="!item.inProcessValEmpty"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer clearfix">
                    <div class="pull-left">
                        <div class="checkbox checkbox-inline">
                            <input ng-model="remind30days" type="checkbox" id="inlineCheckbox7">
                            <label for="inlineCheckbox7"> Do not prompt me again for next 30 Days. </label>
                        </div>
                        <div class="checkbox checkbox-inline">
                            <input ng-model="remindNever" type="checkbox" id="inlineCheckbox2">
                            <label for="inlineCheckbox2"> Do not prompt me again. </label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="saveUpdateDataInit(remind30days,remindNever)">Save & Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<script>
    $(document).ready(function () {
        $('#rev-show').hover(function(){
            $('#rev-show').popover('toggle');
        })

        $('#lt-show').hover(function(){
            $('#lt-show').popover('toggle');
        })

        $('#rp-show').hover(function(){
            $('#rp-show').popover('toggle');
        })

        $('#crr-show').hover(function(){
            $('#crr-show').popover('toggle');
        })

        if(window.location.hash == '#/responsePending?navigatedFrom=todayLanding') {
            setTimeout(function(){
                $('html,body').animate({
                    scrollTop: $('#responsePending').offset().top
                });
            }, 1500);
        }
    });
</script>
<script type="text/javascript" src="/javascripts/common/pathseg.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/insights/insightsLanding.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>