<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Insights | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/datatables.bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

</head>
<style>
    .toast-top-full-width {
        left: 150px;
    }

    .contactValueDiv {
        border: 1px solid #ccc;
        position: relative;
    }

    .closeButton {
        position: absolute;
        right: 7px;
        top: 2px;
        cursor: pointer;
    }

    .link {
        text-decoration: underline;
    }

    .cursor-pointer{
        cursor:pointer;
    }

    .select{
        width:150px;
        height:20px;
        padding:0;
        margin:0;
        font-size: inherit;
        font-family: inherit;
    }
    .filter-section{
        position:absolute;
        z-index: 9;
        width: 75%;
        margin:0px;
        padding:0px;
        display:inline;
    }
    .filter-container{
        margin:0px;
        padding:0px;
        display:inline;
    }
</style>

<body style="overflow-x:hidden;" ng-cloak>
<div class="navigation-container">
    <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
</div>
<div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;">
    <div class="row">
        <div class="leftside-bar">
            <div class="mainNav" style="margin-top: 40px;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid insights-table-wrapper" data-ng-controller="responsePending as showCase">

    <div class="losing-touch-tables" style="position:relative;">
        <div class="container filter-container">
            <div class="row row-eq-height filter-section">
                <div class="col-md-3 margin-top10">
                    <p class="fs-15"><strong>[[pageName]]</strong></p>
                </div>

                <div class="col-md-2 margin-top10 pull-right">
                    <select ng-show="showCompanyList" ng-model="companyFilter" ng-change="filter()" class='form-control select'>
                        <option ng-repeat='company in companies' value='[[company.name]]'>[[company.name]] ([[company.value]])</option>
                    </select>
                </div>

                <div  class="col-md-3 radio pull-right" style="margin-top:12px;">
                    <div class="pull-right">
                        <span class="fs-12">Source:</span>
                        <input name="internal" ng-model="contactTypeFilter" type="radio" id="internal" value="internal" ng-change="filter()">
                        <label for="internal">Internal</label>

                        <input name="external" ng-model="contactTypeFilter" type="radio" id="external" value="external" ng-change="filter()">
                        <label for="external">External</label>
                    </div>
                </div>

            </div>
        </div>
            <table id="interactions_table" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                <colgroup>
                    <col width="155">
                    <col width="50">
                    <col width="77">
                    <col width="50">
                    <col width="300">
                    <col width="105">
                    <col width="20">
                </colgroup>
                <thead>
                <tr class="grey-bg text-center font-12">
                    <th>contact</th>
                    <th>TOTAL pipeline VALUE(INR)</th>
                    <th>mail received date</th>
                    <th>relationship type</th>
                    <th>mail subject</th>
                    <th>action</th>
                    <th>ignore</th>
                </tr>
                </thead>
                <tbody class="font-12 table-fa">
                <tr ng-repeat="item in showCase.persons" class="insights-table">
                    <td fullName="[[item.contactName]]" class="truncate-table-name" title="[[item.contactName]]&#13;[[item.designation]]">
                        <a href='/contact/selected?context=[[item.email]]'>
                            <div class="cursor clearfix">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <img ng-if="!item.no_pic" class="tb-image-placeholder" src="[[item.contactImage]]">
                                        <span ng-if="item.no_pic" class="tb-image-placeholder">[[item.contactImage]]</span>
                                    </div>
                                    <div class="pull-left pull-left-with-margin">
                                        <span>[[item.contactName]]<br>
                                            [[item.designation]]<br>
                                            [[item.company]]
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td class="text-center">
                        <input type="text" style='text-align:right' ng-model="item.value" ng-blur="updateInProcessValue(item.value,item.contactId)" value="[[item.value]]">
                    </td>
                    <td class="text-center">[[item.interactionDate]]</td>
                    <td class="text-center">
                                <span class="cursor" ng-click="updateRelation(item,'influencer')" title="Influencer">
                            <i class="[[item.influencerCss]]"></i>
                        </span> /
                                <span class="cursor" ng-click="updateRelation(item,'decision_maker')" title="Decision Maker">
                            <i class="[[item.decisionMakerCss]]"></i>
                        </span>
                    </td>
                    <td>
                        <div  ng-click="viewEmail(item, 'no')" class="grey-color cursor-pointer">
                            <span class="fa fa-envelope margin0" aria-hidden="true"></span>
                            [[item.title]]
                            <!-- <p class="interaction-track">[[item.readOn]]</p> -->
                            <span ng-if="item.showEmailBody">
                                <div>
                                    <div ng-bind-html="item.description" class="text-left"></div>
                                    <div style="text-align: center" ng-if="item.emailFetch == true" class="text-center"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                </div>
                            </span>
                        </div>
                        <!-- [[item.suggestion]] -->
                    </td>
                    <td class="insights-action text-center clearfix">
                        <div title="Remind to Connect" class="action remindToConnectSelector[[item.index]]" ng-click="ignore(item);actionTaken(item.userId, item.contactName, item.email, item.mobileNumber, 'remindToConnect', 'responsePending', item.index, null, null)" ng-mouseover="openCalander(item.index, item.contactId, item,showCase.persons)"><span class="btn btn-primary"><i class="fa fa-clock-o"></i></span></div>
                        <div title="Send an Email" class="action"><a class="btn btn-primary" ng-click="showEmailDiv(item,showCase.persons);viewEmail(item, 'yes');"><i class="fa fa-envelope-o"></i></a></div>
                        <div class="compose-email-insights-wrapper">
                            <div ng-if="item.emailShow" class="email-insights-form">
                                <p class="text-left">
                                    <label>Compose Email</label>
                                </p>
                                <div class="form">
                                    <div class="margin-tb1">
                                        <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
                                    </div>
                                    <div class="margin-tb1">
                                        <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix insights-form-btn">
                                    <div class="pull-left">
                                        <label style="font-weight: 300;font-size: 14px;">
                                            <input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
                                    </div>
                                    <div class="pull-right">
                                        <input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response" ng-click="showEmailDiv(item,showCase.persons);">
                                        <input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,false,true,compose_email_remaind,item.contactName,item.email,item.contactId,item.index,item.suggestion, null,item.refId,item.mobileNumber,item);ignore(item);removeItem(item,showCase.persons);" value="Send Message" class="send-message btn-primary">
                                    </div>
                                </div>
                                <div class="text-left">
                                    <label>Subject: [[item.title]]</label><br/>
                                    <div ng-bind-html="item.description"></div>
                                <div class="text-center" style="text-align: center" ng-if="item.emailFetch == true"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i ng-click="ignore(item);removeItem(item,showCase.persons);actionTaken(item.userId, item.contactName, item.email, item.mobileNumber, 'ignore', 'responsePending', item.index, null, null)" class="fa fa-close green-color cursor"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="custom-pagination" data-ng-controller="pagination">
                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" force-ellipses="true" boundary-link-numbers="true" rotate="true"></uib-pagination>
            </div>
            <!-- <span class="btn btn-green show-more-insights" style="margin-left:10px;" ng-click="showMore()">Show All</span> -->
    </div>
</div>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/insights/insightsResponsePending.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script src="/angular-bootstrap/ui-bootstrap-tpls-1.3.2.min.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>
