<div class="clearfix">
    <div class="pull-right">
        <div class="clearfix pagination">
            <div class="pull-left" data-ng-click="prevPage(skip-10)" ng-style="prevBtn">
                << Prev
            </div>
            <div class="pull-left num-of-pages">
                [[showingPages]] of [[totalPages]]

            </div>
            <div class="pull-right"  data-ng-click="nextPage(skip+10)" ng-style="nextBtn">
                Next >>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th ng-click="sortType = 'fullName';sortReverse = !sortReverse">
                Contact
                <i ng-show="sortReverse && sortType == 'fullName'" class="fa fa-caret-down"></i>
                <i ng-show="!sortReverse && sortType == 'fullName'" class="fa fa-caret-up"></i>
            </th>
            <th>Subject</th>
            <th ng-click="sortType = 'date';sortReverse = !sortReverse">
                Date
                <i ng-show="sortReverse && sortType == 'date'" class="fa fa-caret-down"></i>
                <i ng-show="!sortReverse && sortType == 'date'" class="fa fa-caret-up"></i>
            </th>
            <th ng-click="sortType = 'type';sortReverse = !sortReverse">
                Type
                <i ng-show="sortReverse && sortType == 'type'" class="fa fa-caret-down"></i>
                <i ng-show="!sortReverse && sortType == 'type'" class="fa fa-caret-up"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="[[item.mailSelected]]" ng-repeat="item in mails | orderBy:sortType:sortReverse" ng-click="replyToThisMail(item,'mailResponsePending',$index)" ng-init="!isMobileView?$first && replyToThisMail(item,'mailResponsePending',$index):doNothing()">
            <td>
                <div class="team-profiles clearfix"  title="[[item.fullName]], [[item.emailId]]">
                    <p class="margin0">[[item.fullNameTrunc]]</p>
                </div>
            </td>
            <td title="[[item.subjectFull]]" style="max-width: 250px;">
                [[item.subject]]
            </td>
            <td>
                [[item.dateFormatted]]
            </td>
            <td class="[[item.sentimentClass]]">
                [[item.type]]
            </td>
        </tr>
        </tbody>
    </table>
</div>