<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Insights | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/datatables.bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
</head>
<style>
.toast-top-full-width {
    left: 150px;
}

.contactValueDiv {
    border: 1px solid #ccc;
    position: relative;
}

.closeButton {
    position: absolute;
    right: 7px;
    top: 2px;
    cursor: pointer;
}

.link {
    text-decoration: underline;
}

.cursor-pointer{
    cursor:pointer;
}
</style>

<body style="overflow-x:hidden;" ng-cloak>
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;">
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" style="margin-top: 40px;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid insights-table-wrapper" data-ng-controller="peopleToConnect as showCase">

        <div class="no-data-to-show" ng-if="noDataToShow">
            <div class="no-data-to-show-overlay">

                <div ng-if="!remindToConnectContacts">
                    <h1>You have not set any reminders.</h1>
                    <p>There are 2 ways to get remind to connect with your <a href="/contacts/landing" class="green-color underline">contacts</a></p>
                    <ol>
                        <li>Click on a contact and select the date you wish be reminded to connect on. No more calendar reminders.</li>
                        <li>Send mails to your contacts through Relatas and see when they read the mails and get reminded to connect back in 7 days.</li>
                    </ol>
                    <div ng-if="noUniqueContacts">
                        Get started today.<br>Would you like us to set reminders for the contacts that you interacted with in past 3 days?
                        <br><button class="btn btn-primary" ng-click="setReminder()">YES</button>
                    </div>

                </div>
                <div ng-if="remindToConnectContacts">
                  <h1>You do not have any reminders for today.</h1>
                    <!--<p>Reminder(s) have been set for [[noOfContacts]] contact(s)</p>-->
                </div>
            </div>
        </div>

        <div class="losing-touch-tables">
            <div ng-if="!forTeam">
                <table id="interactions_table" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
                    <colgroup>
                        <col width="155">
                        <col width="77">
                        <col width="50">
                        <col width="55">
                        <col width="50">
                        <col width="300">
                        <col width="105">
                        <col width="20">
                    </colgroup>
                    <thead>
                        <tr class="grey-bg text-center font-12">
                            <th>contact</th>
                            <th>company</th>
                            <th>TOTAL pipeline VALUE(INR)</th>
                            <th>last interacted</th>
                            <th>relationship type</th>
                            <th>suggestion</th>
                            <th>action</th>
                            <th>ignore reminder</th>
                        </tr>
                    </thead>
                    <tbody class="font-12 table-fa">
                        <tr ng-repeat="item in showCase.persons" class="insights-table">
                            <td fullName="[[item.contactName]]" class="truncate-table-name" title="[[item.contactName]]&#13;[[item.designation]]">
                                <a href='/contact/selected?context=[[item.email]]'>
                                    <div class="cursor clearfix">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <img ng-if="!item.no_pic" class="tb-image-placeholder" src="[[item.contactImage]]">
                                                <span ng-if="item.no_pic" class="tb-image-placeholder">[[item.contactImage]]</span>
                                            </div>
                                            <div class="pull-left pull-left-with-margin">
                                                <span>[[item.contactName]]<br>
                                            [[item.designation]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td>[[item.company]]</td>
                            <td class="text-center">
                                <input type="text" style='text-align:right' ng-model="item.value" ng-blur="updateInProcessValue(item.value,item.contactId)" value="[[item.value]]">
                            </td>
                            <td class="text-center">[[item.lastInteracted]]</td>
                            <td class="text-center">
                                <span class="cursor" ng-click="updateRelation(item,'influencer')" title="Influencer">
                            <i class="[[item.influencerCss]]"></i>
                        </span> /
                                <span class="cursor" ng-click="updateRelation(item,'decision_maker')" title="Decision Maker">
                            <i class="[[item.decisionMakerCss]]"></i>
                        </span>
                            </td>
                            <td>
                                <div  ng-click="viewEmail(item, 'yes')" ng-if="item.reminder_notify == 'notify'" class="grey-color cursor-pointer">
                                    <span class="fa fa-envelope margin0" aria-hidden="true"></span>
                                    [[item.title]]
                                    <p class="interaction-track">[[item.readOn]]</p>
                                    <span ng-if="item.showEmailBody">
                                        <p>
                                            <span ng-bind-html="item.description" class="text-left"></span>
                                            <div style="text-align: center" ng-if="item.emailFetch == true" class="text-center"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                        </p>
                                    </span>
                                </div>
                                <div ng-if="item.reminder_notify == 'reminder'" class="grey-color">
                                    <span class="fa fa-clock-o grey-color" aria-hidden="true"></span>
                                    [[item.remindToconnect]]
                                </div>
                                [[item.suggestion]]
                            </td>
                            <td class="insights-action text-center clearfix">
                                <div title="Schedule Meeting" class="action"><a class="btn btn-primary" href="[[item.publicProfileUrl]]" ng-click="actionTaken(item.userId, item.contactName, item.email, item.mobileNumber, 'meeting', 'peopleToConnect', item.index, item.suggestion, null);ignore(item)"><i class="fa fa-calendar"></i></a></div>
                                <div title="Send an Email" class="action"><a class="btn btn-primary" ng-click="showEmailDiv(item,showCase.persons);viewEmail(item, 'no');"><i class="fa fa-envelope-o"></i></a></div>
                                <div class="compose-email-insights-wrapper">
                                    <div ng-if="item.emailShow" class="email-insights-form">
                                        <p class="text-left">
                                            <label>Compose Email</label>
                                        </p>
                                        <div class="form">
                                            <div class="margin-tb1">
                                                <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
                                            </div>
                                            <div class="margin-tb1">
                                                <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
                                            </div>
                                        </div>
                                        <div class="clearfix insights-form-btn">
                                            <div class="pull-left">
                                                <label style="font-weight: 300;font-size: 14px;">
                                                    <input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
                                            </div>
                                            <div class="pull-right">
                                                <input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response" ng-click="showEmailDiv(item,showCase.persons);">
                                                <input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,false,true,compose_email_remaind,item.contactName,item.email,item.contactId,item.index,item.suggestion, null,item.refId,item.mobileNumber,item);removeItem(item,showCase.persons)" value="Send Message" class="send-message btn-primary">
                                            </div>
                                        </div>
                                        <p class="text-left" ng-if="item.reminder_notify == 'notify'" >
                                            <label>Subject: [[item.title]]</label><br/>
                                            <span ng-bind-html="item.description"></span>
                                            <div class="text-center" style="text-align: center" ng-if="item.emailFetch == true && item.reminder_notify == 'notify'"><img style="width: 10%;" src="/images/load_image.gif"></div>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <i ng-click="ignore(item);removeItem(item,showCase.persons);actionTaken(item.userId, item.contactName, item.email, item.mobileNumber, 'ignore', 'peopleToConnect', item.index, item.suggestion, null)" class="fa fa-close green-color cursor"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="btn btn-green show-more-insights" style="margin-left:10px;" ng-click="showMore()">Show All</span> -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>
    <script type="text/javascript" src="/javascripts/insights/peopleToConnect.js"></script>
    <script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>

</html>
