<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
	<meta name="author" content="Relatas">
	<title>Interactions | Relationship Intelligence | Relatas</title>
	<script src="/javascripts/schedule/jquery.js"></script>
	<script src="/javascripts/dataTables.js"></script>
	<script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>
	<script type="text/javascript" src="//code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="/stylesheets/css/als_style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
	<link rel="apple-touch-icon" href="/relatasIcon.png">
	<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
	<link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
	<link href="/stylesheets/css/styles.css" rel="stylesheet">
	<!--<link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">-->
	<link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/css/toastr.css" rel="stylesheet">
	<link href="/stylesheets/main-app.css" rel="stylesheet">

	<script src="/javascripts/schedule/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
	<script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/javascripts/moment.js"></script>
	<script src="/javascripts/moment-timezone.js"></script>
	<script src="/javascripts/schedule/slide/toastr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
	<link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
<style>
	.popup-custom {
		display: none;
		position: absolute;
		background-color: #fff;
		left: 25%;
		z-index: 9999;
		margin-top: 10px;
		overflow: hidden;
	}
	.actionBar i {
		color:#FFFFFF !important;
	}
	.dt-loading {display: none !important;}

	[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
</style>
</head>
<body style="overflow-x:hidden;" ng-cloak>
<div class=""></div>
<div data-ng-controller="left_contacts_bar">
	<div class="navigation-container">
		<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
	</div>
	<div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
		<div class="row">
			<div class="leftside-bar">
				<div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
				</div>
			</div>

			<div data-ng-include="'/contacts/left/bar/template/v2'" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">

			</div>
		</div>
	</div>
</div>

<div class="main-page-wrapper set-height" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute;">
	<div class="row margin0">
		<div class="col-xs-12 col-md-12">
			<div class="row grey-green-bg" style="margin-top: 55px;" data-ng-controller="contact_details">
				<div class="row margin0">
				<div class="col-sm-6 col-md-6 tb-cell this-height" style="min-height: 250px;">
					<div class="row" style="margin-top: 4%;">
						<div class="col-xs-4 col-md-4">
							<div class="" style="margin:55px 0;">
								<span ng-show="no_pic" class="no-image-placeholder" style="padding: 32px 0;">[[p_pic]]</span>
								<img ng-show="!no_pic" class="no-image-placeholder" ng-src="[[p_pic]]" imageonload="imageNotLoaded()">
							</div>
						</div>
						<div class="col-xs-8 col-md-8 contact-details">
							<h2>[[p_name]]</h2>
							<p class="[[p_class_invisible]]">[[p_position]]</p>
							<ul class="list-unstyled" style="margin-left: -2.5px;">
								<li><span class="fa fa-map-marker orange-color" aria-hidden="true"></span>[[p_location]]</li>
								<li><span class="fa fa-phone orange-color" aria-hidden="true"></span>[[p_mobileNumber]]</li>
								<li><span class="fa fa-envelope orange-color" aria-hidden="true"></span>[[p_emailId]]</li>
								<li><a style="cursor: pointer;[[p_favoriteColor_a]]" ng-click="updateFavorite(p_id,p_favorite)" class="favourite btn-white-border"><i class="fa fa-star fa-lg orange-color fs-14" style="[[p_favoriteColor]];position: relative;top:-2px;"></i>&nbsp Favourite</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 grey-bg tb-cell col-height">
					<div class="row">
						<div class="col-md-11 col-md-offset-0">

							<div class="row">
								<div class="text-center fs-14" style="margin-top: 20px;">Total Interactions</div>
								<p class="text-center fs-40 lite orange-color fs" style="margin-top: 15px;">[[totalInteractionsCount]]</p>
							</div>
							<div class="row" style="margin: 55px 0 0 -25px">
								<ul class="graph">
									<li>
                        <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                            <p class="values-top">[[interactionsByType.a.count]]</p>
                        </span></li>
									<li>
                        <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                            <p class="values-top">[[interactionsByType.b.count]]</p>
                        </span></li>
									<li>
                        <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                            <p class="values-top">[[interactionsByType.c.count]]</p>
                        </span></li>
									<li>
                        <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                            <p class="values-top">[[interactionsByType.d.count]]</p>
                        </span></li>
									<!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
									<li>
                        <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                            <p class="values-top">[[interactionsByType.f.count]]</p>
                        </span></li>
									<!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->
								</ul>
								<ul class="graph-icons">
									<li><i class="fa fa-calendar-check-o green-color"></i></li>
									<li><i class="fa fa-phone green-color"></i></li>
									<li><i class="fa fa-reorder green-color"></i></li>
									<li><i class="fa fa-envelope green-color"></i></li>
									<!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
									<li><i class="fa fa-twitter-square twitter-color "></i></li>
									<!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
								</ul>

							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
			<div class="row grey-bg contact-action" data-ng-controller="action_on_contact">
				<div class="col-sm-12" style="position: relative;padding: 7px 11px;">
					<strong>Act on this contact: &nbsp;</strong>

					<a href="[[scheduleMeeting]]" class="btn btn-green mScheduleMeeting"><i class="fa fa-calendar"></i>Schedule Meeting</a>
					<a class="btn btn-green mSendEmail email-inline"><i class="fa fa-envelope"></i>Send an Email</a>
					<!--<a ng-click="assignTask()" class="btn btn-green assignTasks mAssignTaskInteractions"><i class="fa fa-check-square-o"></i>Assign a Task</a>-->

					<div class="compose-email-container padding1 compose-email-inline" data-ng-controller="send_email_controller">
						<div>

							<label>To: </label>
							<span>[[cEmailId]]</span>
							<br>
							<label ng-click="addCC = !addCC" style="cursor: pointer;">Add CC</label>
							<div class="form" ng-show="addCC">
								<div class="row margin0" style="padding:0;">
									<div class="col-xs-8 form-control" style="padding:0;">

										<div>
											<input ng-model="email_cc" type="text" placeholder="Add recipients" class="compose-text-box" ng-change="searchContacts(email_cc)" style="width: 100%;height: 32px;border: 0;padding: 6px 12px;">
										</div>
										<ul class="list-unstyled email-id-cc">
											<li ng-repeat="item in searchedContacts track by $index" ng-click=removeRecipient(item)>[[item]]</li>
										</ul>
										<div class="search-box-wrapper clearfix" ng-show="showResults">
											<div ng-repeat="item in contacts track by $index">
												<div class="clearfix cursor" ng-click="addRecipient(item)">
													<div class="pull-left relative">
														<img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
														<span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
													</div>
													<div class="pull-left">
														<p class="margin0">[[item.name]]</p>
														<p class="margin0">[[item.emailId]]</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<br>
							<label>Compose Email</label>
							<div class="form">
								<div class="row margin-tb1" style="padding:0;">
									<div class="col-xs-12" style="padding:0;">
										<input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
									</div>
									<!--<div class="col-xs-4 text-right">-->
										<!--<label class="upload-document attach-document disabled">-->
											<!--<input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>-->
											<!--Attach File-->
										<!--</label>-->
										<!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_doc_tracking" class="ng-pristine ng-valid ng-untouched">Enable tracking</label>-->
									<!--</div>-->
								</div>

								<div class="row" style="padding:0;">
									<textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
								</div>
								<div style="padding: 10px">
									<!--<label style="font-weight: 300;font-size: 14px;margin-right:15px;"><input type="checkbox" ng-model="compose_email_track_viewed" class="ng-pristine ng-valid ng-untouched">Track email</label>-->
									<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
								</div>
							</div>
							<div class="text-right">
								<input type="button" value="Cancel" class="email-inline btn-primary" id="hide-email-response">
								<input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId,null,true)" value="Send Message" class="send-message btn-primary">
							</div>
						</div>
					</div>

				</div>
				<div class="row" id="add-task-box" data-ng-controller="task-assign" style="display: none;">

					<div class="add-task clearfix" style="display: block;">
						<div class="row margin0">
							<div class="col-xs-3 padding0 ">

								<label>Action Item</label>
							</div>
							<div class="col-xs-9 padding0">
								<input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>
							</div>

						</div>
						<div class="row margin0">
							<div class="col-xs-3 padding0">

								<label>Description</label>
							</div>
							<div class="col-xs-9 padding0">
								<textarea ng-model="taskDescription" id="taskDescription" style="height: 175px !important;" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>
							</div>

						</div>
						<div class="row margin0">
							<div class="col-xs-3 padding0">

								<label>Due Date</label>
							</div>
							<div class="col-xs-9 padding0">
								<input tabindex="3" type="text" id="dueDateTask" class="form-control input-arrow-task" placeholder="Date & Time"/>
							</div>

						</div>
						<div class="text-right">
							<input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">
							<input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary re-schedule-button" tabindex="4">

						</div>

					</div>

				</div>

			</div>


		</div>
			<div class="row margin0 clearfix interactions-table" style="margin-top:30px;" data-ng-controller="contact_interaction_table as showCase">
				<div class="clearfix">
					<div ng-show="show_loadMore" class="interactions-load-more" id="" ng-click="getInteractions(cEmailId,companyName,designation,name,url,userId,0,totalRecords)">Showing latest [[page_records]] interactions <button class="btn btn-green">Show all</button></div>
				</div>

				<table id="interactions_table" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstanceCallback" class="table table-striped table-padding tb-vertical-line row-border hover">
					<colgroup>
						<col width="160">
						<col width="50">
						<col width="305">
						<col width="160">
						<col width="220">
					</colgroup>
					<thead>
				<tr class="grey-bg font-12">
					<th>DATE INTERACTED</th>
					<th>TYPE</th>
					<th>DESCRIPTION</th>
					<th>ACTION TAKEN ON</th>
					<th>ACTION</th>
				</tr>
				</thead>
					<tbody class="font-12 table-fa">
					<tr ng-repeat="item in showCase.persons" style="[[item.dataObj.emailPointer]]">
						<td dateSort="[[item.dateSort]]" ng-click="showEmailBody(item.dataObj,'view',false)">[[item.dateInteracted]]</td>
						<td ng-click="showEmailBody(item.dataObj,'view',false)" class="relative">
							<i class="fa [[item.dataObj.iconClass]] font-20" title="[[item.dataObj.iconTitle]]"></i>
							<span class="pos-abs-action-type">
								<i class="[[item.dataObj.actionType]] rotate-45"></i>
							</span>
						</td>
						<td title="[[item.fullTitle]]">
							<p ng-if="isMobileInteraction">[[item.dataObj.callDescription]]</p>
							<div style="[[item.actionTakenClass]]" ng-click="showEmailBody(item.dataObj,'view',false)">[[item.title]]</div>
							<div ng-show="item.emailRead" class="email-read">First read on [[item.viewedOn]] [[item.localtimezone]] ([[item.emailOpens]])</div>

								<div class="table-email-container" ng-show="item.dataObj.composeMailBox">
									<div class="compose-email-container padding1 table-email clearfix">
										<br>
										<label ng-click="addCC = !addCC" style="cursor: pointer;">Add CC</label>
										<div class="form" ng-show="addCC">
											<div class="row margin0" style="padding:0;">
												<div class="col-xs-8 form-control" style="padding:0;">
													<ul class="pull-right list-unstyled email-id-cc">
														<li ng-repeat="item in searchedContacts track by $index" ng-click=removeRecipient(item)>[[item]]</li>
													</ul>
													<div class="pull-left" style="width: 30%;">
														<input ng-model="email_cc" type="text" placeholder="Add recipients" class="compose-text-box" ng-change="searchContacts(email_cc)" style="width: 100%;height: 32px;border: 0;padding: 6px 12px;">
													</div>
													<div class="search-box-wrapper clearfix" ng-show="showResults">
														<div ng-repeat="item in contacts track by $index">
															<div class="clearfix cursor" ng-click="addRecipient(item)">
																<div class="pull-left relative">
																	<img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
																	<span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
																</div>
																<div class="pull-left">
																	<p class="margin0">[[item.name]]</p>
																	<p class="margin0">[[item.emailId]]</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<label>Compose Email</label>
										<div class="form">
											<div class="row margin-tb1" style="padding:0;">
												<div class="col-xs-12" style="padding:0;">
													<input ng-model="item.dataObj.compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid ng-untouched">
												</div>
											</div>

											<div class="row" style="padding:0;">
												<textarea ng-model="item.dataObj.compose_email_body" class="message-send form-control ng-pristine ng-valid ng-untouched"></textarea>
											</div>
											<div class="pull-left" style="padding: 15px 0">
												<!--<label style="font-weight: 300;font-size: 14px;margin-right:15px;"><input type="checkbox" ng-model="item.dataObj.compose_email_track_viewed" class="ng-pristine ng-valid ng-untouched">Track email</label>-->
												<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="item.dataObj.compose_email_remaind" class="ng-pristine ng-valid ng-untouched">Notify in 7 Days</label>
											</div>
											<div class="pull-right">
												<input type="button" value="Cancel" class="btn-primary" ng-click="item.dataObj.composeMailBox = false; item.dataObj.emailBodyBox = false">
												<input type="button" ng-click="sendEmail(item.dataObj.compose_email_subject,item.dataObj.compose_email_body,item.dataObj.compose_email_doc_tracking,item.dataObj.compose_email_track_viewed,item.dataObj.compose_email_remaind,p_name,cEmailId,cuserId,item.dataObj)" value="Send Message" class="send-message btn-primary send-email-but">
											</div>
										</div>
									</div>
							</div>
							<div class="reply-to-this" ng-show="item.dataObj.emailBodyBox">
								<hr style="margin-top: 0;">
								<div style="padding:0 0 0 10px" class="timeline-text-trunc-2"><strong>Subject : &nbsp;</strong><strong>[[item.dataObj.subjectNormal]]</strong></div>
								<div class="timeline-view" ng-bind-html="item.dataObj.bodyContent">

								</div>
								<div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 10%;" src="/images/load_image.gif"></div>
							</div>
						</td>
						<td dateSort="[[item.actionTakenDate]]" ng-click="showEmailBody(item.dataObj,'view',false)">[[item.actionTakenOn]]</td>
						<td class="actionBar">
							<span ng-show="item.dataObj.meetingActionTextShow">[[item.dataObj.meetingActionText]]</span>
							<input ng-show="item.dataObj.taskCheckBut" type="checkbox" ng-model="item.dataObj.status" ng-disabled="!item.dataObj.updateTaskStatus" ng-change="updateTaskStatus(item.dataObj.taskId,item.dataObj.status,item.dataObj._id)">
							<a ng-show="item.dataObj.followUpBut" ng-click="showEmailBody(item.dataObj,'reply',true)" class="btn btn-green response-hide mFollowUp">Follow Up</a>
							<a ng-show="item.dataObj.replyBut" ng-click="showEmailBody(item.dataObj,'reply',true)" class="btn btn-green response-hide mFollowUp">Reply</a>
							<a ng-show="item.dataObj.calendarPasswordApprove" ng-click="approveCalPass(item.dataObj._id,item.dataObj.reqId,item.dataObj.name,item.dataObj.emailId)" class="btn btn-green response-hide" >Approve</a>
							<a ng-show="item.dataObj.ignoreBut" ng-click="ignoreEmail(item.dataObj._id,item.dataObj.isCalPassReq,item.dataObj.reqId)" class="btn btn-green mIgnore response-hide" id="ignore-response">Ignore</a>
							<a ng-show="item.dataObj.docActionView" href="[[item.dataObj.url]]" class="btn btn-green response-hide">View</a>
							<a ng-show="item.dataObj.docActionAnalytics" id="[[item.dataObj.docId]]" ng-click="docActionAnalytics(item.dataObj.docId)" class="btn btn-green response-hide">View Stats</a>

							<a ng-show="item.dataObj.tweetReplyBut" class="btn btn-green" id="[[item.dataObj.postId]]" ng-click="twitterAction(item.dataObj.postId,item.dataObj.replyAction)"><i class="fa fa-mail-reply" style="color:#FFFFFF !important;"></i></a>
							<a ng-show="item.dataObj.reTweetBut" class="btn btn-green" ng-click="twitterAction(item.dataObj.postId,item.dataObj.reTweet)"><i class="fa fa-retweet" style="color:#FFFFFF !important;"></i></a>
							<a ng-show="item.dataObj.tweetFavorite" class="btn btn-green" ng-click="twitterAction(item.dataObj.postId,item.dataObj.favorite)"><i class="fa fa-star" style="color:#FFFFFF !important;"></i></a>

							<a ng-show="item.dataObj.shareBtn" class="cursor linkedinShare" ng-click="linkedinShare(item.dataObj.postUrl)"><i class="fa fa-linkedin-square"></i>Share</a>
							<a ng-show="item.dataObj.commentBut" class="btn btn-green open-comment"><i class="fa fa-comment" style="color:#FFFFFF !important;"></i></a>

							<a ng-show="item.dataObj.likeLink" ng-click="facebookLike(item.dataObj.postId)" class="cursor fb-share"><i class="fa fa-facebook-official"></i>Like</a>
							<a ng-show="item.dataObj.commentLink" ng-click="collapsed=!collapsed" class="cursor fbComment-open"><i class="fa fa-facebook-official"></i>Comment</a>

							<a ng-show="item.dataObj.shareLink" ng-click="facebookShare(item.dataObj.postId)" class="cursor fb-share">
								<i class="fa fa-facebook-official"></i>Share
							</a>
							<div ng-show="collapsed">
								<form ng-show="item.dataObj.commentLink">
									<p>Post a comment</p>
									<textarea ng-model="fbComment"></textarea>
									<a ng-click="facebookComment(item.dataObj.postId, fbComment)" class="btn btn-green">Comment</a>

								</form>
							</div>
						</td>
					</tr>

					</tbody>
				</table>
				<!--<div class="dt-loading" id="load_image_table"><img style="width: 100px;" src="/images/load_image.gif"></div> -->
			</div>
		</div>
	</div>
</div>

<div id="comment-section" data-ng-controller="comment-social">
	<form>
		<div class="form-group">
			<p>Comment on this tweet</p>
			<textarea ng-model="commentSocialFeed" id="commentSocialFeedId" class="form-control" rows="3" tabindex="1" placeholder="Comment"></textarea>
		</div>
		<div class="text-right">
			<a class="btn btn-primary margin0 open-comment" tabindex="3">Cancel</a>
			<a ng-click="submitCommentSocial(commentSocialFeed)" class="btn btn-primary margin0" tabindex="2">Submit</a>
		</div>
	</form>
</div>

<div class="row popup-custom" id="analytics-box" data-ng-controller="docAnalytics">
	<div class="compose-email-container padding1">
		<div class="timeline1-sec">
			<div style="width:100%; background-color: #ffffff;text-align: -webkit-center;"><br><br>
				<div class="meeting-request-detail" id="analyticsDetails">
					<span id="firstAccessed">[[firstAccessed]]</span></br>
					<span id="lastAccessed">[[lastAccessed]]</span></br>
					<span id="accessCount">[[numerOfTimesAccessed]]</span></br>
				</div><br>
				<span id="analyticMsg"></span>
				<div id="doc_chart">
				</div>

				<button style="float:right;margin-top: -2%;" id="close-doc-analytics" class="btn-primary">Close</button>
			</div>
		</div>
	</div>
</div>

</div>
<script>
	$(document).ready(function(){

		var updateCompany = function(v){
			var scope = angular.element(
					document.getElementById("compay_more_details")).scope();
			scope.$apply(function () {
				scope.updateCustomRequest(v);
			});
		}

		toastr.options = {
			"closeButton": true,
			"debug": true,
			"newestOnTop": false,
			"progressBar": false,
			"positionClass": "toast-top-right",
			'positionClass':'toast-top-full-width',
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "8000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};

		$("body").on('click','#menu-toggle',function(e) {
			e.preventDefault();
			$(".overlay").show();
		});

		$(window).resize(function() {
			var scrollWidth = $( window ).width();
			if(scrollWidth >= 768) {
				$(".overlay").hide();
			}
		});
	});

</script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/secondSeries/interactionsV2.js"></script>
<script type="text/javascript" src="/javascripts/common/imageLoadDirective.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>