<div ng-include="'/contact/create/template'" ng-show="addContactModal"></div>

<div class="secNav sidebar-height" xmlns="//www.w3.org/1999/html">
    <div class="secWrapper">
        <div class="contact-list-filter-affix">
            <div class="clearfix add-contact">
                <button class="btn btn-black margin0" data-ng-click="toggleContactPopup()">
                    <i class="fa fa-plus"></i> Add new contact
                </button>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-change="contactSearchChanged()" id="searchContent" ng-model="searchContent" ng-enter="searchContacts(searchContent)">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        [[filterSelection]]
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-click="setFilter('all')"><a href="#">All</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="setFilter('customer')"><a href="#">Customers</a></li>
                        <li ng-click="setFilter('decision_maker')"><a href="#">Decision Makers</a></li>
                        <li ng-click="setFilter('favorite')"><a href="#">Important</a></li>
                        <li ng-click="setFilter('influencer')"><a href="#">Influencers</a></li>
                        <li ng-click="setFilter('lead')"><a href="#">Leads</a></li>
                        <li ng-click="setFilter('partner')"><a href="#">Partners</a></li>
                        <li ng-click="setFilter('prospect')"><a href="#">Prospects</a></li>
                        <li ng-click="setFilter('recentlyInteracted')"><a href="#">Recent</a></li>
                        <li ng-click="setFilter('dnt')"><a href="#">Do Not Track</a></li>
                    </ul>
                </div>
            </div>
            <div class="center">
                Showing <strong>[[calculateFromTo(currentLength-24)]] to [[currentLength]]</strong> out of <strong>[[grandTotal]]</strong>
            </div>
        </div>
        <div class="text-center" ng-show="contactsList.length == 0">
            No contacts found.
        </div>
        <div class="secondary-navbar contact-list-filter clearfix cursor-pointer"
             ng-repeat="contact in contactsList"
             ng-click="showInteractions(contact.emailId,contact.fullCompanyName,contact.fullDesignation,contact.fullName,contact.url,contact.userId,true,contact.mobileNumber)">
             <!--ng-init="$first && showInteractions(contact.emailId,contact.fullCompanyName,contact.fullDesignation,contact.fullName,contact.url,contact.userId,true,contact.mobileNumber)">-->
            <div class="pull-left">
                <img class="image-placeholder-small" title="[[contact.fullName]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" imageonload="imageNotLoaded(contact)">
                <span class="image-placeholder-small-text" title="[[contact.fullName]]" ng-show="contact.noPicFlag==1" ng-style="{'background-color': contact.backgroundCol}">
                    <span style="text-align: center;display: block;">[[contact.noPPic]]</span>
                </span>
            </div>
            <div class="pull-left">
                <ul class="list-unstyled">
                    <li title="[[contact.fullName]]">[[contact.name]]<span class="hashtag-true">[[contact.hashtag]]</span></li>
                    <li title="[[contact.fullDesignation]]">[[contact.designation]]</li>
                    <li title="[[contact.fullCompanyName]]">[[contact.companyName]]</li>
                    <li class="li-date" title="[[contact.lastInteractedDate]]"><i class="fa [[contact.interactionType]]"></i>[[contact.lastInteractedDate]]</li>
                </ul>
            </div>
        </div>
        <div class="clearfix" style="background-color: #fff;">
            <a ng-show="show_contacts_back" class="pull-left" ng-click="loadMoreContacts(currentLength-25,25,searchContent,true)" title="Prev" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;"><i class="fa fa-chevron-left"></i>Prev</a>
            <a ng-hide="currentLength >= grandTotal" class="pull-right" ng-click="loadMoreContacts(currentLength,25,searchContent,false)" title="Next" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;">Next<i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>