<div class="secNav sidebar-height left-aside-for-user-meeting" xmlns="//www.w3.org/1999/html">
    <div class="secWrapper">
        <div id="alt1" class="active" style="display: block;">
            <div class="padding0 contact-list-filter-affix">
                <div class="contacts-filter">
                    <div class="row" style="margin-top: 13px;">
                        <div class="col-xs-2">
                            <a href="#" ng-click="refreshContactsList()"><i class="fa fa-refresh green-color"></i></a>
                        </div>
                        <div class="col-xs-8 padding-lr4">
                            <input type="text" class="form-control mContactSearch searchContentClass" ng-change="contactSearchChanged()" ng-model="searchContent" ng-enter="searchContacts(searchContent)" id="checkHash" placeholder="Search Contacts">
                        </div>
                        <div class="col-xs-2 padding0">
                            <!--<a href="#"><i class="fa fa-filter mContactsFilter green-color"></i></a>-->
                        </div>
                    </div>
                    <div class="row text-center" style="font-size: 12px;margin-top: -15px;">
                        <br>
                        <div class="filter-options clearfix">
                            
                           <ul class="list-unstyled">
                               <li>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:'favorite',customer:customer,prospect:prospect,influencer:influencer,decision_maker:decision_maker,hashtag:hashtag})">
                                       <input name="typeFilter1" data-ng-model="selectedFilter.selection" value="favorite" type="radio">
                                       <label> Favourites</label>
                                   </div>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:favorite,customer:customer,prospect:prospect,influencer:influencer,decision_maker:decision_maker,lead:'lead'})">
                                       <input name="typeFilter" data-ng-model="selectedFilter.selection" value="lead" type="radio">
                                       <label>Leads</label>
                                   </div>
                               </li>
                               <li>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:favorite,customer:'customer',prospect:prospect,influencer:influencer,decision_maker:decision_maker})" >
                                       <input name="typeFilter2" data-ng-model="selectedFilter.selection" value="customer" type="radio">
                                       <label> Customer &nbsp;</label>
                                   </div>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:favorite,customer:customer,prospect:'prospect',influencer:influencer,decision_maker:decision_maker})">
                                       <input name="typeFilter3" data-ng-model="selectedFilter.selection" value="prospect" type="radio">
                                       <label> Prospect </label>
                                   </div>
                               </li>
                               <li>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:favorite,customer:customer,prospect:prospect,influencer:'influencer',decision_maker:decision_maker})">
                                       <input name="typeFilter4" data-ng-model="selectedFilter.selection" value="influencer" type="radio">
                                       <label> Influencer &nbsp;</label>
                                   </div>
                                   <div class="radio radio-inline" ng-click="searchContacts_filter(searchContent,{favorite:favorite,customer:customer,prospect:prospect,influencer:influencer,decision_maker:'decision_maker'})">
                                       <input name="typeFilter5" data-ng-model="selectedFilter.selection" value="decision_maker" type="radio">
                                       <label> Decision Maker</label>
                                   </div>
                               </li>
                               <li>
                                   <div class="radio radio-inline" ng-click="sortContactsBy('all')">
                                       <input name="typeFilter6" data-ng-model="selectedFilter.selection" value="all" type="radio">
                                       <label> A-Z</label>
                                   </div>
                                   <div class="radio radio-inline" ng-click="sortContactsBy('recentlyInteracted')">
                                       <input name="typeFilter7" data-ng-model="selectedFilter.selection" value="recentlyInteracted" type="radio">
                                       <label> Recently Interacted</label>
                                   </div>
                               </li>
                           </ul>
                        </div>
                        Showing <strong>[[calculateFromTo(currentLength-25)]] to [[currentLength]]</strong> out of <strong>[[grandTotal]]</strong>
                        <!--<div class="filter-by-buttons">-->
                            <!--<div class="[[filterSelectedleft]] fbb-left btn btn-green pull-left" ng-click="sortContactsBy('recentlyInteracted')">-->
                                <!--recently interacted-->
                            <!--</div>-->
                            <!--<div class="[[filterSelectedright]] fbb-right btn btn-green pull-right" ng-click="sortContactsBy('all')">-->
                                <!--a-z-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<select ng-model="selected_id" ng-options="o.id as o.name for o in options" ng-change="selected_name=(options|filter:{id:selected_id})[0].name"></select>-->
                    </div>
                </div>
                <div>
                    <div class="secondary-navbar contact-list-filter clearfix cursor-pointer" ng-repeat="contact in contactsList" ng-click="showInteractions(contact.emailId,contact.fullCompanyName,contact.fullDesignation,contact.fullName,contact.url,contact.userId,true,contact.mobileNumber)">
                        <div class="pull-left">
                            <img class="image-placeholder-small" title="[[contact.fullName]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" imageonload="imageNotLoaded(contact)">
                            <span class="image-placeholder-small-text" title="[[contact.fullName]]" ng-show="contact.noPicFlag==1"><span style="text-align: center;display: block;">[[contact.noPPic]]</span></span>
                        </div>
                        <div class="pull-left">
                            <ul class="list-unstyled">
                                <li title="[[contact.fullName]]">[[contact.name]]<span class="hashtag-true">[[contact.hashtag]]</span></li>
                                <li title="[[contact.fullDesignation]]">[[contact.designation]]</li>
                                <li title="[[contact.fullCompanyName]]">[[contact.companyName]]</li>
                                <li class="li-date" title="[[contact.lastInteractedDate]]"><i class="fa [[contact.interactionType]]"></i>[[contact.lastInteractedDate]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="background-color: #fff;">
                    <a ng-show="show_contacts_back" class="pull-left" ng-click="loadMoreContacts(currentLength-25,25,searchContent,true)" title="Prev" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;"><i class="fa fa-chevron-left"></i>Prev</a>
                    <a ng-hide="currentLength >= grandTotal" class="pull-right" ng-click="loadMoreContacts(currentLength,25,searchContent,false)" title="Next" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;">Next<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>