<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Accounts | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<!--<div class="navigation-container">-->
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>
<!--</div>-->

<div class="page-wrapper row clearfix access-settings">

    <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'">
    </div>

    <div class="main-page-wrapper set-height col-md-12" ng-controller="access_control">
        <div class="row margin0">
            <div class="col-md-2 left-pane">
                <ul class="list-unstyled">
                    <li data-ng-click="showAccessControl()" class="[[accessSelected]]">Access Control</li>
                    <li data-ng-click="showAccountTransfer()" class="[[transferSelected]]">Transfer accounts</li>
                </ul>
            </div>
            <div class="col-md-10 mid-board">
                <div class="row base-fluid-template">
                    <div ng-show="accessControl">
                        <div class="sub-header clearfix" ng-show="accountsForAccess.length == 0">
                            No new requests for account access.
                        </div>
                        <div class="sub-header clearfix" ng-show="accountsForAccess.length>0">
                            <div class="pull-left">
                                <h5>Grant Access</h5>
                                The following team members have requested for account access.
                            </div>
                            <div class="pull-right">
                                <h5></h5>
                                <button data-ng-click="grantAccessToAll()">Grant access to selected members</button>
                            </div>
                        </div>
                        <div class="body table-responsive" ng-show="accountsForAccess.length>0">
                            <table class="table">
                                <tr style="background: #eee;">
                                    <th>Account</th>
                                    <th style="width:350px;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <th>
                                                    <div class="profile-wrapper">
                                                        Team member
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dt-width">
                                                        Requested Date
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="dt-width relative">
                                                        <div class="checkbox checkbox-success margin0 inline-block">
                                                            <input type="checkbox" ng-model="grantAccess" data-ng-click="grantAllRequests()">
                                                            <label></label>
                                                        </div>
                                                        <p style="position: absolute;margin: 0;top:0;left: 25px;">Select all</p>
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>
                                        <!--<div class="clearfix" style="width:350px;">-->
                                            <!--<div class="pull-left">-->
                                                <!--Team member-->
                                            <!--</div>-->
                                            <!--<div class="pull-left">-->
                                                <!--Requested Date-->
                                            <!--</div>-->
                                            <!--<div class="pull-right relative">-->
                                                <!--<div class="checkbox checkbox-success margin0 inline-block">-->
                                                    <!--<input type="checkbox" data-ng-click="grantAllRequests()">-->
                                                    <!--<label></label>-->
                                                <!--</div>-->
                                                <!--<p style="position: absolute;margin: 0;top:8px;right: 145px;">Select all</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </th>

                                </tr>
                                <tr ng-repeat="item in accountsForAccess" class="req-row">
                                    <td style="width: 225px;">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <img class="image-placeholder-small" title="[[item.fullName]]" ng-src="[[item.image]]" ng-hide="item.noPicFlag==1" errortoggle>
                                                <span class="image-placeholder-small-text" title="[[item.fullName]]" ng-show="item.noPicFlag==1"><span style="text-align: center;display: block;">[[item.noPPic]]</span></span>
                                            </div>
                                            <div class="pull-left">
                                                <ul class="list-unstyled">
                                                    <li title="[[item.fullName]]" class="clearfix">
                                                        <div class="card">
                                                            [[item.name]]
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:350px;">
                                        <table style="width: 100%;">
                                            <tr ng-repeat="user in item.accountAccessRequested">
                                                <td>
                                                    <div class="profile-wrapper">
                                                        <div class="owner contact-profile" title="[[user.profile.fullName]], [[user.profile.emailId]]">
                                                            <div class="relative inline-block">
                                                                <img ng-if="!user.profile.noPicFlag" src="[[user.profile.image]]" title="[[user.profile.fullName]], [[user.profile.emailId]]" imageonload="imageNotLoaded(user)">
                                                                <span class="no-img" ng-if="user.profile.noPicFlag" title="[[user.profile.fullName]], [[user.profile.emailId]]">[[user.profile.nameNoImg]]</span>

                                                                <div class="inline-block name">
                                                                    [[user.profile.fullName]]<br>
                                                                    [[user.profile.emailId]]
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dt-width">
                                                        [[user.date]]
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dt-width">
                                                        <div class="checkbox checkbox-success inline-block">
                                                            <input type="checkbox" ng-model="user.accessStatus">
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-show="accountTransfer">

                        <div class="sub-header clearfix">
                            <div class="pull-left">
                                <h5>Transfer Account</h5>
                                Select accounts to transfer.
                            </div>
                            <div class="pull-left search-bar">
                                <div class="input-group">
                                    <input type="text" style="height: 27px;margin: 0;" class="form-control" placeholder="Search for account" ng-change="contactSearchChanged()" id="searchContent" ng-model="searchContent" ng-enter="searchAccounts(searchContent)">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" ng-click="searchAccounts(searchContent)">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left relative" ng-show="isCorporateAdmin">
                                <div class="selection" data-ng-click="showList = true">
                                    <div class="team-profiles reset" title="[[selectedUser2.fullName]], [[selectedUser2.emailId]]">
                                        <img ng-if="!selectedUser2.noPicFlag && !selectedUser2.isAll" src="[[selectedUser2.image]]" imageonload="imageNotLoaded(selectedUser2)">
                                        <span ng-if="selectedUser2.noPicFlag && !selectedUser2.isAll">[[selectedUser2.nameNoImg]]</span>
                                        <strong>[[selectedUser2.fullName]]</strong>
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="absolute" ng-show="showList">
                                    <input ng-model="contact">
                                    <div ng-repeat="user in teamArray | filter:contact | orderBy:'fullName'" class="horizontal-menu-top">
                                        <div class="team-profiles reset" title="[[user.fullName]], [[user.emailId]]" data-ng-click="selectTeamMember(user)">
                                            <img ng-if="!user.noPicFlag && !user.isAll" src="[[user.image]]" imageonload="imageNotLoaded(user)">
                                            <span ng-if="user.noPicFlag && !user.isAll">[[user.nameNoImg]]</span>
                                            <strong><strong style="display: inline-block;margin-left: 12px;" ng-show="user.isAll"></strong>[[user.fullName]]</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <h5></h5>
                                <button ng-show="selectedAccounts>0" data-ng-click="transferAll()">Transfer [[selectedAccounts]] accounts</button>
                            </div>
                        </div>
                        <div class="modal-open convert-modal-sidebar" ng-show="isOppModalOpen">
                            <div class="modal-open nested-transfer-modal" ng-show="showTeamMembers">
                                <div class="opportunity-form form-box-shadow width-sm">
                                    <div class="modal-header clearfix">
                                        <h5 class="pull-left">Transfer [[selectedAccounts]] accounts</h5>
                                        <div class="pull-right fs-16 cursor" data-ng-click="closeModal()">X</div>
                                    </div>
                                    <div class="body">
                                        <h5>Select team member</h5>
                                        <input placeholder="Enter name or email address" ng-model="teamMate" ng-change="searchForTeamMate(teamMate)">

                                        <div ng-show="transferToThisUser" class="team-profiles reset" title="[[selectedUser.fullName]], [[selectedUser.emailId]]">
                                            <img ng-if="!selectedUser.noPicFlag" src="[[selectedUser.image]]" imageonload="imageNotLoaded(selectedUser)">
                                            <span ng-if="selectedUser.noPicFlag">[[selectedUser.nameNoImg]]</span>
                                            <strong>[[selectedUser.fullName]]</strong> ( [[selectedUser.emailId]] )
                                        </div>
                                        <div class="overflow" ng-show="searchUsers.length>0">
                                            <div class="list">
                                                <div ng-repeat="member in searchUsers | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="selectUser(member);transferToThisUser = true" title="[[member.fullName]], [[member.emailId]]">
                                                    <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                                                    <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                                    <strong>[[member.fullName]]</strong> ( [[member.emailId]] )
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="footer clearfix">
                                        <button class="btn btn-green pull-right" ng-click="startTransferring()">Transfer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="!loadingTargets" class="loading-contacts" style="margin: auto;width: 25%;">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>

                        <div class="body table-responsive" ng-show="contactsList.length>0">
                            <table class="table">
                                <tr style="background: #eee;">
                                    <th>Account</th>
                                    <th>
                                        <div class="clearfix" style="width:270px;">

                                            Owner
                                            <div class="pull-left">
                                                <!--Team member-->
                                            </div>
                                            <div class="pull-right">
                                                <!--Requested Date-->
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center relative">
                                        <div class="checkbox checkbox-success inline-block margin0">
                                            <input type="checkbox" id="selectAll" data-ng-click="thisAcc = !thisAcc;selectedAll()">
                                            <label></label>

                                            <div class="inline-block" style="width: 100px;left: 0px;top: 0px;position: absolute;">
                                                Select all
                                            </div>
                                        </div>
                                    </th>
                                    <th class="relative">
                                        <!--<div class="inline-block" style="left: -30px;position: absolute;">-->
                                            <!--Select all-->
                                        <!--</div>-->
                                    </th>
                                    <th>
                                        <div class="clearfix pagination" ng-show="!disablePagination">
                                            <div class="pull-left" data-ng-click="prevPage(skip-skipValue)" ng-style="prevBtn">
                                                << Prev
                                            </div>
                                            <div class="pull-left num-of-pages">
                                                [[showingPages]] of [[totalPages]]
                                            </div>
                                            <div class="pull-right"  data-ng-click="nextPage(skip+skipValue)" ng-style="nextBtn">
                                                Next >>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr ng-repeat="item in contactsList" class="req-row">
                                    <td style="width: 225px;">
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <img class="image-placeholder-small" title="[[item.fullName]]" ng-src="[[item.image]]" ng-hide="item.noPicFlag==1" errortoggle>
                                                <span class="image-placeholder-small-text" title="[[item.fullName]]" ng-show="item.noPicFlag==1"><span style="text-align: center;display: block;">[[item.noPPic]]</span></span>
                                            </div>
                                            <div class="pull-left">
                                                <ul class="list-unstyled">
                                                    <li title="[[item.fullName]]" class="clearfix">
                                                        <div class="card">
                                                            [[item.name]]
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:270px;">
                                        <div class="owner contact-profile" title="[[item.profile.fullName]], [[item.profile.emailId]]">
                                            <div class="relative inline-block">
                                                <img ng-if="!item.profile.noPicFlag" src="[[item.profile.image]]" title="[[item.profile.fullName]], [[item.profile.emailId]]" imageonload="imageNotLoaded(user)">
                                                <span class="no-img" ng-if="item.profile.noPicFlag" title="[[item.profile.fullName]], [[item.profile.emailId]]">[[item.profile.nameNoImg]]</span>

                                                <div class="inline-block name">
                                                    [[item.profile.fullName]]<br>
                                                    [[item.profile.emailId]]
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="checkbox checkbox-success inline-block">
                                            <input type="checkbox" ng-model="item.thisAcc" data-ng-click="item.thisAcc != item.thisAcc;transferThis(item)">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

</script>

<script type="text/javascript" src="/javascripts/common/angularConfig_v2.js"></script>
<script type="text/javascript" src="/javascripts/accounts/accessSettings.js"></script>
<script type="text/javascript" src="/javascripts/common/dataService.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/activityLog.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>

</body>
</html>
