<div class="access-forbidden">

    <div class="account-logo">
        <img class="company-logos" ng-src="[[companyLogo]]" ng-hide="displayLogo" errortoggle>
        <span class="company-logos" ng-show="displayLogo">[[companyNoName]]</span>
        <p class="capitalize">[[account_name]]</p>

        <div>
            <strong>Account Owner: </strong> [[account_owner]]
            <br><br>
            <i class="cursor btn btn-green" ng-show="!requestedForAccess" ng-click="requestAccess()">Request access</i>
            <p ng-show="requestedForAccess"><i class="fa fa-check-circle"></i> Request for access sent on [[requestedDate]]</p>
        </div>
    </div>

</div>