<div class="modal-open convert-modal-sidebar" ng-if="isNoteModalOpen">
    <div class="opportunity-form form-box-shadow">
        <div class="modal-header clearfix">
            <div class="col-md-5">
                <h3>Add Note</h3>
            </div>

            <div class="col-md-7 clearfix">
                <button class="btn btn-flat pull-right" ng-click="addNoteForContact(note)">SAVE</button>
                <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
            </div>
        </div>
        <div class="row max-height">
            <div class="col-md-12">
                <label>Contact</label>
                <input type="text" ng-change="searchContacts(contact,'contact')" ng-model="contact" id="noteContact">
                <div search-results-contacts></div>

                <label>Note</label>
                <textarea type="text" ng-model="note" autofocus></textarea>
            </div>
        </div>
    </div>
</div>