<div ng-controller='hierarchy'>
    <div class="parent-wrapper">
        <div class="chart-controls clearfix">
            <h5 class="title">Account Hierarchy</h5>
            <div class="pull-right">
                <button id="unassignedList" class="btn btn-white">Unmapped Contacts</button>
            </div>
        </div>
        <div class="chart-wrapper relative">

            <div class="unassigned-list">
                <p ng-show="unassigned.length==0" class="text-center padding-tb35">
                    No unmapped contacts found
                </p>
                <ul class="list-unstyled">
                    <li ng-repeat="item in unassigned | orderBy:'fullName' | filter:search" ng-if='unassigned.length > 0' class="liCommonClass" ng-class="{'on': selected==item}" ng-click='add(item);'>
                        <span class="image-placeholder-small-text textImage" ng-if="item.noImage === 1"><span class="ng-binding" style="text-align: center;display: block;">[[item.fullName.substring(0,2)]]</span></span>
                        <div class='name'><strong style='color:#00796b;'>[[item.fullName]]</strong></div>
                        <br/>
                        <div class='designation' style='color:#00796b;'>[[item.designation]]</div>
                    </li>
                </ul>
            </div>
            <div id="chart-container"></div>
            <div ng-if="!hierarchyExists.settings" class="no-hierarchy">
                <h5 class="no-hr-text">No organisation hierarchy built. Start by identifying the organisation head.</h5>
                <div ng-show="orgHead.emailId.length>0">
                    <span class="image-placeholder-small-text" style="font-size:14px;line-height: 45px;height:45px;width:45px;text-align: center;display: inline-block;" ng-if="orgHead.noImage === 1"><span>[[orgHead.fullName.substring(0,2)]]</span></span>
                    <div class='name' style="margin-left: 0">
                        <strong>[[orgHead.fullName]]</strong>
                        <span>[[orgHead.designation]]</span>
                    </div>
                </div>
                <input type="text" class="no-hr-text" ng-change="searchForUser(keyword)" ng-model="keyword" placeholder="Search for contact">
                <div search-results-no-hierarchy></div>
                <button id="resetOrgHead" class="btn btn-white close-btn" ng-show="orgHead.emailId?true:false">Cancel</button>
                <button data-ng-click="assignOrgHead()" class="btn btn-primary" ng-show="orgHead.emailId?true:false">Set Org. Head</button>
            </div>
            <div class="modal-wrapper modal-open" ng-show="editUserData">
                <div class="inner-el-wrapper">
                    <div class="modal-header clearfix">
                        <div class="pull-left clearfix" ng-show="!user.editContact">
                           <div class="pull-left">
                               <strong>[[user.fullName]]</strong>
                               <p class="margin0">[[user.designation]]</p>
                               <p class="margin0">[[user.emailId]]</p>
                           </div>
                            <!--<div class="edit-btn pull-right">(EDIT)</div>-->
                        </div>
                        <div class="pull-right clearfix" ng-show="user.editContact">
                            <div class="clearfix">
                                <button class="btn btn-white close-btn" data-ng-click="user.editContact = false">Back</button>
                                <button class="btn btn-primary margin0" data-ng-click="saveContactDetails(user)">SAVE</button>
                            </div>
                        </div>
                        <div class="pull-right" ng-show="!user.editContact">
                            <button type="button" class="btn btn-white close-btn" data-ng-click="removeUser(user)" title="Remove [[user.fullName]] from hierarchy">Remove from Hierarchy</button>
                            <button class="btn btn-white close-btn" data-ng-click="closeModal()">Close</button>
                            <button class="btn btn-primary margin0" data-ng-click="saveUserData(user)" type="button">SAVE</button>
                        </div>
                    </div>

                    <div class="modal-body" ng-show="!user.editContact">
                        <div class="clearfix">
                            <label class="bold">Full name</label>
                            <input ng-model="user.fullName" type="text" placeholder="Enter full name">
                            <label class="bold margin-top10">Designation</label>
                            <input ng-model="user.designation" type="text"  placeholder="Enter desgination">
                        </div>
                        <hr>
                        <div class="clearfix">
                            <div class="pull-left" style="margin-right: 10px">
                                <label class="bold">Assign reportee</label>
                            </div>
                            <div class="pull-left cursor reportee" ng-show="item.fullName" data-ng-click="resetReportee()">
                                <span class="image-placeholder-small-text textImage" style="font-size:10px;line-height: 25px;height:25px;width:25px;text-align: center;display: inline-block;" ng-if="item.noImage === 1"><span>[[item.emailId.substring(0,2)]]</span></span>
                                <div class='name' style="margin-left: 0;display: inline-block">
                                    <strong>[[item.fullName]]</strong>
                                    <span>[[item.designation]]</span>
                                </div>
                                <div class="remove-user">
                                    (X)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix section">
                            <input type="text" ng-model="keyword" placeholder="Search for contact" ng-change="searchForUser(keyword)">
                        </div>
                        <div search-results></div>

                        <div class="relationship-container margin-tb10">
                            <strong>Relationship</strong>
                            <a class="btn btn-white-border [[influencerCss]]" data-ng-click="setRelationshipType('Influencer')">Influencer</a>
                            <a class="btn btn-white-border [[dmCss]]" data-ng-click="setRelationshipType('Decision Maker')">Decision Maker</a>
                        </div>
                        <div class="types margin-tb10">
                            <strong>Type</strong>
                            <a class="btn btn-white-border [[friendlyCss]]" data-ng-click="setType('Friendly')">Friendly</a>
                            <a class="btn btn-white-border [[neutralCss]]" data-ng-click="setType('Neutral')">Neutral</a>
                            <a class="btn btn-white-border [[detractorCss]]" data-ng-click="setType('Detractor')">Detractor</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>