
<div ng-controller="interactions_sidebar_settings">
    <div class="modal-open convert-modal-sidebar">
        <div class="opportunity-form form-box-shadow">
            <div class="modal-header clearfix">

                <div class="col-md-5 clearfix">
                    <h3>Reply </h3>
                </div>
                <div class="col-md-7 clearfix">
                    <div class="pull-left">
                        <div class="checkbox checkbox-inline">
                            <input type="checkbox" ng-model="item.dataObj.compose_email_remaind">
                            <label > Notify in 7 Days</label>
                        </div>
                    </div>
                    <button class="btn btn-flat pull-right" ng-click="replyEmail(replyBody,item)">SEND</button>
                    <button class="btn btn-flat pull-right cancel" ng-click="closeModal()" >CANCEL</button>
                </div>
            </div>
            <div class="row max-height email">
                <div class="col-md-12">
                    <div class="mail-view">
                        <div class="reply-to-this">
                            <div class="timeline-text-trunc"><strong>Subject : &nbsp;</strong><strong>[[item.subject]]</strong></div>
                            <div class="timeline-view" ng-bind-html="item.dataObj.bodyContent">

                            </div>
                            <div style="text-align: center" ng-show="item.dataObj.loading"><img style="width: 6.66%;" src="/images/load_image.gif"></div>
                        </div>
                        <div id="[[item.dataObj.bindHtmlKey]]"></div>
                    </div>
                    <label>Reply</label>
                    <textarea ng-model="replyBody" autofocus></textarea>
                </div>
            </div>
        </div>
    </div>
</div>