
<div class="account-interactions">
    <div class="clearfix">
        <div class="pull-left">
            <div class="cursor close" data-ng-click="closeAllInteractions()">X</div>
        </div>
        <div class="pull-right">
            <div class="clearfix pagination">
                <div class="pull-left" data-ng-click="prevPage(skip-skipValue)" ng-style="prevBtn">
                    << Prev
                </div>
                <div class="pull-left num-of-pages">
                    [[showingPages]] of [[totalPages]]

                </div>
                <div class="pull-right"  data-ng-click="nextPage(skip+skipValue)" ng-style="nextBtn">
                    Next >>
                </div>
            </div>
        </div>
    </div>
    <div class="table">
        <table class="">
            <tr>
                <th class="cursor" ng-click="sortType = 'interactionDate';sortReverse = !sortReverse">Date</th>
                <th class="cursor" ng-click="sortType = 'interactionType';sortReverse = !sortReverse">Type</th>
                <th class="cursor" ng-click="sortType = 'subject';sortReverse = !sortReverse">Subject</th>
                <th class="cursor" ng-click="sortType = 'emailId';sortReverse = !sortReverse">Contact</th>
                <th class="cursor" ng-click="sortType = 'ownerName';sortReverse = !sortReverse">Owner</th>
            </tr>
            <tr ng-repeat="item in interactions | orderBy:sortType:sortReverse" class="[[item.cursor]] [[item.noAccessClass]]" title="[[item.title]]" data-ng-click="interactionDetails(item)">
                <td>[[item.dateText]]</td>
                <td class="relative">
                    <i class="fa [[item.iconClass]] font-20 timeline-icons"></i>
                    <span class="pos-abs-action-type-4series [[item.interactionInitClass]]"><i class="[[item.actionType]] rotate-45"></i></span>
                </td>
                <td style="width: 75%;">[[item.subject]]</td>
                <td>[[item.dataObj.interaction.emailId]]</td>
                <td>
                    <div class="owner contact-profile" title="[[item.owner.fullName]], [[item.owner.emailId]]">
                        <div class="relative inline-block">
                            <img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">
                            <span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-show="showInteractionDetails">
    <div ng-include="'/accounts/interactions/sidebar'"></div>
</div>