<div class="modal-open convert-modal-sidebar" ng-show="showInteractionInitiations">
    <div class="opportunity-form form-box-shadow">
        <div class="modal-header clearfix">

            <div class="col-md-5 clearfix">
                <h3>Interaction Initiations </h3>
            </div>
            <div class="col-md-7 clearfix">
                <button class="btn btn-flat pull-right cancel" ng-click="closeModal()" >CLOSE</button>
            </div>
        </div>

        <div class="clearfix">
            <!--<h5 class="[[active.company]]" data-ng-click="viewSelection()">Initiated by [[account_name]]</h5>-->
            <h5 class="[[active.company]]" data-ng-click="viewSelection()">Initiated by Them</h5>
            <h5 class="[[active.team]]" data-ng-click="viewSelection('teamBlock')">Initiated by Us</h5>
            <h5 class="[[active.hierarchy]]" data-ng-click="viewSelection('viewHierarchy')">Hierarchy</h5>
        </div>

        <div ng-show="accGraphs.length == 0 && !teamBlock" class="no-data-col-bg-2">
            <p>No interactions found.</p>
        </div>

        <div ng-show="teamGraphs.length == 0 && teamBlock" class="no-data-col-bg-2">
            <p>No interactions found.</p>
        </div>

        <div class="col-md-12" ng-show="!teamBlock && !viewHierarchy">
            <div class="bar-graph-dynamic" ng-show="accGraphs.length>0">
                <table style="width: 100%;">
                    <tr style="margin-bottom: 10px;">
                        <th class="cursor" ng-click="sortType = 'emailId';sortReverse = !sortReverse">Contact</th>
                        <!--<th style="border-right:1px solid #ccc;" class="cursor" ng-click="sortType = 'emailId';sortReverse = !sortReverse">Designation</th>-->
                        <th class="cursor" ng-click="sortType = 'lastInteractedSort';sortReverse = !sortReverse">Last Interaction Date</th>
                        <th class="cursor" ng-click="sortType = 'count';sortReverse = !sortReverse">Interactions <span style="font-size: 10px;font-weight:lighter">(Overall)</span></th>
                    </tr>
                    <tr ng-repeat="item in accGraphs | orderBy:sortType:sortReverse" data-ng-click="goToContact(item.emailId)" class="cursor">
                        <td style="min-width: 200px;text-align: left !important;" class="relative">
                            <div class="owner contact-profile">
                                <div class="relative inline-block">
                                    <span class="no-img">[[item.emailIdForImg]]</span>
                                    [[item.emailId]]
                                </div>
                            </div>
                        </td>
                        <!--<td style="min-width: 175px;border-right:1px solid #ccc;" class="relative">[[item.designation]]</td>-->
                        <td class="text-center">[[item.lastInteracted]]</td>
                        <td>
                            <div class="inline-block">
                                <div class="bar-meter-wrapper relative">
                                    <div class="bar" ng-style="item.style"></div>
                                    <div class="absolute">[[item.count]]</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12" ng-show="teamBlock">
            <div class="bar-graph-dynamic" ng-show="teamGraphs.length>0">
                <table style="width: 100%;">
                    <tr style="margin-bottom: 10px;">
                        <th class="cursor" ng-click="sortType = 'owner.fullName';sortReverse = !sortReverse">Team member</th>
                        <th class="cursor" ng-click="sortType = 'owner.emailId';sortReverse = !sortReverse">Email Id</th>
                        <th class="cursor" ng-click="sortType = 'lastInteractedSort';sortReverse = !sortReverse">Last Interaction Date</th>
                        <th class="cursor" ng-click="sortType = 'count';sortReverse = !sortReverse">Interactions</th>
                    </tr>
                    <tr ng-repeat="item in teamGraphs | orderBy:sortType:sortReverse">
                        <td style="text-align: left;">
                            <div class="owner contact-profile">
                                <div class="relative inline-block">
                                    <img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">
                                    <span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>
                                    [[item.owner.fullName]]
                                </div>
                            </div>
                        </td>
                        <td style="text-align: left;">[[item.owner.emailId]]</td>
                        <td>[[item.lastInteracted]]</td>
                        <td>
                            <div class="inline-block">
                                <div class="bar-meter-wrapper relative">
                                    <div class="bar" ng-style="item.style"></div>
                                    <div class="absolute">[[item.count]]</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12" ng-show="viewHierarchy">
            <div ng-include="'/accounts/hierarchy'"></div>
        </div>
    </div>
</div>