<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Accounts | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<!--<div class="navigation-container">-->
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>
<!--</div>-->

<div class="page-wrapper row clearfix">
    <div data-ng-controller="left_contacts_bar" class="contact-list-hidden-xs col-md-3 padding-r0">
        <div class="contacts-list-v2">
            <div>
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'">
                </div>
            </div>

            <div data-ng-include="'/customer/middle/bar'" id="leftbar" style="padding-left:0;margin-left: auto;">

            </div>
        </div>
    </div>
    <div class="main-page-wrapper set-height accounts col-md-9">
        <div class="row margin0">
            <div ng-controller="allInteractions">
                <div ng-show="showAllInteractions">
                    <div data-ng-include="'/account/interactions/template'"></div>
                </div>
            </div>
            <div class="col-md-8 mid-board relative">
                <div class='refresh-data-widget' ng-controller="refresh_data" ng-show="!dataRefreshed">
                    [[message]] <span data-ng-click="refreshData()" ng-show="!dataNoSync">Update now</span>
                </div>
                <div class="row base-fluid-template box-ui settings" ng-controller="account_snapshot">
                    <div class="col-md-3 col-lg-offset-3" ng-show="loading">
                        <div ng-show="loading" class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                    </div>
                    <div ng-show="noAccess">
                        <div data-ng-include="'/access/forbidden'"></div>
                    </div>

                    <div ng-show="!loading" class="col-md-2 cursor" ng-click="goToExtLink(accountWebsites)">
                        <div class="account-logo web-links" ng-show="!account.isTesting">
                            <img class="company-logos" ng-src="[[companyLogo]]" ng-hide="displayLogo" errortoggle>
                            <span class="company-logos" ng-show="displayLogo">[[companyNoName]]</span>
                            <p class="capitalize">[[account_name]]</p>
                            <!--<button ng-disabled="!account.isOwner" ng-style="partnerSelection" data-ng-click="updatePartnerRelationship()">Partner</button>-->
                            <!--<button ng-disabled="!account.isOwner" ng-style="importantSelection" data-ng-click="updateImportantRelationship()">Important</button>-->

                        </div>

                        <div class="account-logo web-links" ng-show="account.isTesting">
                            <span class="company-logos apple">
                                <i class="fa fa-apple"></i>
                            </span>
                            <p class="capitalize">[[account_name]]</p>
                            <!--<button ng-disabled="!account.isOwner" ng-style="partnerSelection" data-ng-click="updatePartnerRelationship()">Partner</button>-->
                            <!--<button ng-disabled="!account.isOwner" ng-style="importantSelection" data-ng-click="updateImportantRelationship()">Important</button>-->
                        </div>
                    </div>
                    <div class="col-md-10 clearfix" ng-show="!loading">
                        <h5 class="bold text-left margin-top0" style="padding-left: 15px;float: left">Snapshot [[currentFy]]</h5>
                        <p class="pull-right cursor underline" data-ng-click="viewMasterData(account)">View master account details</p>
                        <table class="text-center" style="width: 100%;">
                            <tr class="fs-13 lite">
                                <td ng-show="targetValue>0">Achievement</td>
                                <td>Won</td>
                                <td>Pipeline</td>
                                <td>Total Deals</td>
                                <!--<td>Deals at Risk</td>-->
                            </tr>
                            <tr class="fs-18 bold">
                                <td ng-show="targetValue>0">
                                    <div class="auto">

                                        <div class="bar-meter-wrapper relative">
                                            <span>FY </span>
                                            <div class="bar" ng-style="fyWonStyle">
                                            </div>
                                            <div class="absolute ng-binding">[[wonPercentage]]</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    [[achievementWithCommas]]
                                </td>
                                <td>
                                    [[pipelineWithCommas]]
                                </td>
                                <td>
                                    [[totalDeals]]
                                </td>
                                <!--<td>-->
                                    <!--[[dealsAtRisk]]-->
                                <!--</td>-->
                            </tr>
                        </table>
                    </div>
                </div>

                <div ng-controller="interactions_team_verbose">
                    <div class="row base-fluid-template">
                        <div class="col-md-6 padding0">
                            <div class="graph-sm box-ui stats">
                                <h5 class="bold">Interactions by Type </h5>
                                <div data-ng-controller="interactionInitiations">
                                    <div ng-show="loading" class="loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>

                                    <div class="row graph-wrapper" style="margin-top:48px;">
                                        <ul class="graph">
                                            <li>
                            <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                                <p class="values-top">[[interactionsByType.a.count]]</p>
                            </span>
                                            </li>
                                            <li>
                    <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                        <p class="values-top">[[interactionsByType.b.count]]</p>
                    </span></li>
                                            <li>
                    <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                        <p class="values-top">[[interactionsByType.c.count]]</p>
                    </span></li>
                                            <li>
                    <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                        <p class="values-top">[[interactionsByType.d.count]]</p>
                    </span></li>
                                            <!--<li>-->
                                            <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                                            <!--</span></li>-->
                                            <li>
                    <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                        <p class="values-top">[[interactionsByType.f.count]]</p>
                    </span></li>
                                            <!--<li>-->
                                            <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                                            <!--</span></li>-->
                                        </ul>
                                        <ul class="graph-icons">
                                            <li><i class="fa fa-calendar-check-o green-color"></i></li>
                                            <li><i class="fa fa-phone green-color"></i></li>
                                            <li><i class="fa fa-reorder green-color"></i></li>
                                            <li><i class="fa fa-envelope green-color"></i></li>
                                            <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                                            <li><i class="fa fa-twitter-square twitter-color "></i></li>
                                            <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding0">

                            <div class="row">
                                <div class="row">
                                    <div data-ng-include="'/account/interaction/initiations'"></div>
                                    <div class="col-md-6 padding0 cursor" data-ng-click="interactionInitiations()">
                                        <div class="box-ui stats">
                                            <h5 class="bold">Initiated by Them</h5>
                                            <div class="abs">
                                                [[totalAccInteractionsInit]]
                                            </div>
                                            <div class="account-chart"></div>
                                            <div class="text-center">
                                                <img class="no-data" ng-show="!totalAccInteractionsInit || totalAccInteractionsInit == 0" src="/images/account_images/blank.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 padding0 cursor" data-ng-click="interactionInitiations()">
                                        <div class="box-ui stats">
                                            <h5 class="bold">Initiated by Us</h5>
                                            <div class="abs">
                                                [[totalTeamInteractionsInit]]
                                            </div>
                                            <div class="team-chart"></div>
                                            <div class="text-center-md">
                                                <img class="no-data" ng-show="!totalTeamInteractionsInit || totalTeamInteractionsInit == 0" src="/images/account_images/blank.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="spiderChart">
                    <div class="box-ui stats" style="min-height: 300px">
                        <div class="section detach" style="background: transparent!important;">
                            <h5 class="bold">Opportunities v/s Interactions</h5>
                            <div ng-show="loading" class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <div ng-show="!noAccountIntsAndOpps" id="spiderChart2" class="cursor" data-ng-click="interactionInitiationsHierarchy('hierarchy')"></div>;
                            <img src="/images/insights/spider.jpg" ng-show="noAccountIntsAndOpps">
                            <div class="side-insights">
                                <div class="borders" ng-show="dealsAtRiskCount>0">
                                    <strong class="margin-b5 block">Deals at Risk</strong>
                                    <table>
                                        <tr>
                                            <td style="width: 50%;">
                                                <span class="fs-16">[[dealsAtRiskCount]]</span>
                                            </td>
                                            <td>
                                                [[currency]] [[dealsAtRiskAmt]] worth of revenue at risk.
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--<div class="borders">-->
                                    <!--<strong class="margin-b5 block">Avg interactions/[[currency]] won</strong>-->
                                    <!--<p>[[averageInteractionsPerDealWon]]</p>-->
                                <!--</div>-->
                                <div class="borders" ng-show="avgDaysSinceOpen>0">
                                    <strong>Avg age of open opps</strong>(days)
                                    <div class="margin-b5"></div>
                                    <table>
                                        <tr>
                                            <td style="width: 50%;">
                                                <span class="fs-16">[[avgDaysSinceOpen]]</span>
                                                <i class="fa fa-caret-up" style="color:#cc4527" ng-show="avgDaysSinceOpen>avgDaysToWin"></i>
                                                <i class="fa fa-caret-down" style="color:rgb(15, 165, 151)" ng-show="avgDaysSinceOpen<avgDaysToWin"></i>
                                            </td>
                                            <td>
                                                <p ng-show="avgDaysSinceOpen>avgDaysToWin">
                                                    Avg age for open opps vs WON opps is higher
                                                </p>
                                                <p ng-show="avgDaysSinceOpen<avgDaysToWin">
                                                    Avg age for open opps vs WON opps is lower
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="borders">
                                    <strong class="margin-b5 block" ng-show="allOppsCount>0";>Decision Makers & Influencers</strong>

                                    <table ng-show="noDmsCount>0" style="border-bottom: 1px solid #eee;">
                                        <tr>
                                            <td style="width: 50%;">
                                                <span class="fs-16">[[noDmsAmt]]</span>
                                            </td>
                                            <td>
                                                No decision makers identified for [[noDmsCount]] opps worth [[currency]] [[noDmsAmt]]
                                            </td>
                                        </tr>
                                    </table>
                                    <table ng-show="noInflsCount>0">
                                        <tr>
                                            <td style="width: 50%;">
                                                <span class="fs-16">[[noInflsAmt]]</span>
                                            </td>
                                            <td>
                                                No influencers identified for [[noInflsCount]] opps worth [[currency]] [[noInflsAmt]]
                                            </td>
                                        </tr>
                                    </table>
                                    <p ng-show="allOppsCount == 0" style="font-size: 14px;text-align: center;padding-top: 25%;">
                                        No opps exist for [[account_name]]. <br>Please <a style="text-decoration: underline;'" href="/opportunities/all">create</a> your first opportunity.
                                    </p>
                                </div>
                            </div>
                            <div class="legends">
                                <div class="inline-block" style="margin-right: 10px">
                                    <div class="inline-block opps"></div>
                                    <div class="inline-block">Opportunities</div>
                                </div>
                                <div class="inline-block">
                                    <div class="inline-block ints"></div>
                                    <div class="inline-block">Interactions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="interactions_opps_notes">

                    <div class="box-ui">
                        <div class="section detach" ng-class="futureMeetings.length == 0? 'no-data-row-bg' : ''">
                            <h5>Upcoming meetings</h5>
                            <div ng-repeat="item in futureMeetings">
                                <div class="clearfix interactions [[item.cursor]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId,'view')">
                                    <div class="pull-left first-child">
                                        <div class="clearfix relative" style="[[item.dataObj.itemPointer]]">
                                            <i class="fa [[item.iconClass]] font-20 timeline-icons"></i>
                                            <span class="pos-abs-action-type-4series [[item.interactionInitClass]]"><i class="[[item.actionType]] rotate-45"></i></span>
                                            <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]"></span>
                                            <span class="email-read" style="display: block;float: left;margin-top: -10px;" ng-show="item.callDuration">[[item.callDuration]]</span>
                                            <div class="pull-left fs-11" style="margin-top: -10px;color:#888 !important;">([[item.emailId]])</div>
                                            <div ng-show="item.emailRead" class="email-read" style="float: left;">Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                                        </div>
                                    </div>
                                    <div class="owner contact-profile pull-right" title="[[item.owner.fullName]], [[item.owner.emailId]]">
                                        <div class="relative inline-block">
                                            <img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">
                                            <span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>
                                            <!--<p class="fs-12">[[val.owner.fullName]] (Owner)</p>-->
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <div><span class="time-info-details bold">[[item.dateText]]</span></div>
                                        <div><span class="time-info-details lite">[[item.duration]]</span></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="futureMeetings.length>0">
                                <div class="load-all" ng-show="!showingAllMeetings && meetingsLen>3" data-ng-click="loadAllUpcomingMeetings();showingAllMeetings=!showingAllMeetings">Load all</div>
                                <div class="load-all" ng-show="showingAllMeetings" data-ng-click="loadAllUpcomingMeetings(true);showingAllMeetings=!showingAllMeetings">Show only 3</div>
                            </div>

                            <div ng-show="futureMeetings.length == 0">
                                <p>No upcoming meetings found.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-ui">
                        <div class="section" ng-class="pastInteractions.length == 0? 'no-data-row-bg' : ''">
                            <h5>Recent Interactions</h5>
                            <div ng-show="showInteractionDetails">
                                <div ng-include="'/accounts/interactions/sidebar'"></div>
                            </div>
                            <div ng-repeat="item in pastInteractions">
                                <div class="clearfix interactions [[item.cursor]] [[item.noAccessClass]]" title="[[item.title]]" data-ng-click="viewInteraction(item)">
                                    <div class="pull-left first-child">
                                        <div class="clearfix relative">
                                            <i class="fa [[item.iconClass]] font-20 timeline-icons"></i>
                                            <span class="pos-abs-action-type-4series [[item.interactionInitClass]]"><i class="[[item.actionType]] rotate-45"></i></span>
                                            <span class="pull-left timeline-text-trunc" ng-bind-html="item.title" style="[[item.colorClass]]"></span>
                                            <span class="email-read duration-css" ng-show="item.callDuration">[[item.callDuration]]</span>
                                            <div ng-show="!item.emailRead" class="pull-left fs-11" style="margin-top: -10px;color:#888 !important;">([[item.emailId]])</div>
                                            <div ng-show="item.emailRead" class="email-read" style="float: left;">
                                                <div style="margin-top: -10px;color:#888 !important;">([[item.emailId]])</div>
                                                <div>Read on [[item.viewedOn]] [[item.localtimezone]]</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owner contact-profile pull-right" title="[[item.owner.fullName]], [[item.owner.emailId]]">
                                        <div class="relative inline-block">
                                            <img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">
                                            <span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div><span class="time-info-details bold">[[item.dateText]]</span></div>
                                        <div><span class="time-info-details lite">[[item.duration]]</span></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="pastInteractions.length>0 && interactionsLen>3">
                                <div class="load-all" data-ng-click="loadAllInteractions()">Load all</div>
                            </div>

                            <div ng-show="pastInteractions.length == 0">
                                <p>No interactions found.</p>
                            </div>
                        </div>
                        <div class="section" ng-class="opportunities.length == 0? 'no-data-row-bg' : ''">
                            <div class="clearfix">
                                <h5 class="pull-left">Opportunities</h5>
                                <!--<div class="load-all pull-right" data-ng-click="createOpp()">+ Opp.</div>-->
                            </div>
                            <div ng-repeat='item in opportunities' title="[[item.title]]" class="clearfix opportunities [[item.cursor]]" ng-click="editOpportunity(item)">

                                <div class="clearfix">
                                    <div class="pull-left name-value">
                                        <p ng-show="item.sourceType != 'Renewal'"><i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="item.isStale"></i> [[item.opportunityName]]</p>
                                        <p ng-show="item.sourceType == 'Renewal'"><i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="item.isStale"></i> [[item.opportunityName]] - Auto Renewal</p>
                                    </div>
                                    <div class="pull-left base-style [[item.stageStyle]]" ng-style="item.stageStyle2">[[item.relatasStage]]</div>
                                    <!--<div class="pull-left">[[item.wonOrLost]]</div>-->
                                    <div class="owner contact-profile pull-right" title="[[item.owner.fullName]], [[item.owner.emailId]]">
                                        <div class="relative inline-block [[item.nonOwnerHighlight]]">
                                            <img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">
                                            <span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>
                                            <!--<p class="fs-12">[[val.owner.fullName]] (Owner)</p>-->
                                        </div>
                                    </div>
                                    <div class="pull-right close-dt">
                                        <p>[[item.closeDateFormatted]]</p>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="margin-set currency">
                                        <p>
                                            <span class="normal">[[item.currency]]&nbsp; [[item.amountWithNgm]]</span>
                                            <span ng-show="item.ngmReq">([[item.netGrossMargin]]% of [[item.amount]])</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ng-include="'/account/view/opportunity'"></div>

                            <div ng-show="opportunities.length>0">
                                <div class="load-all" ng-show="!showingAllOpps && oppsLen>3" data-ng-click="loadAllOpps();showingAllOpps=!showingAllOpps">Load all</div>
                                <div class="load-all" ng-show="showingAllOpps" data-ng-click="loadAllOpps(true);showingAllOpps=!showingAllOpps">Show only 3</div>
                            </div>
                            <div ng-show="opportunities.length == 0">
                                <p>
                                      <span>No opportunities found.<br>
                                    <a href="#" data-ng-click="createOpp()" class="green-color">
                                        Click here
                                    </a> to create your first opportunity for this account.
                                </span>
                                </p>
                            </div>
                        </div>
                        <!--<div class="section" ng-class="notes.length == 0? 'no-data-row-bg' : ''">-->
                            <!--<h5>Notes</h5>-->

                            <!--<div ng-include="'/account/add/note'"></div>-->

                            <!--<div ng-repeat='item in notes' class="clearfix notes">-->
                                <!--<div class="pull-left">-->
                                    <!--[[item.text]]-->
                                <!--</div>-->
                                <!--<div class="owner contact-profile pull-right" title="[[item.owner.fullName]], [[item.owner.emailId]]">-->
                                    <!--<div class="relative inline-block">-->
                                        <!--<img ng-if="!item.owner.noPicFlag" src="[[item.owner.image]]" title="[[item.owner.fullName]], [[item.owner.emailId]]" imageonload="imageNotLoaded(item.owner)">-->
                                        <!--<span class="no-img" ng-if="item.owner.noPicFlag" title="[[item.owner.fullName]], [[item.owner.emailId]]">[[item.owner.nameNoImg]]</span>-->
                                        <!--&lt;!&ndash;<p class="fs-12">[[val.owner.fullName]] (Owner)</p>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="pull-right">-->
                                    <!--[[item.dateFormatted]]-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div ng-show="notes.length == 0">-->
                                <!--<p>No notes found.-->
                                    <!--<a href="#" data-ng-click="createNote()" class="green-color">-->
                                        <!--Click here-->
                                    <!--</a><span> to create first note for this account. e.g.</span>-->
                                    <!--<ol>-->
                                        <!--<li>Who introduced you to this account</li>-->
                                        <!--<li>Where did you first interact with the contact of this account</li>-->
                                        <!--<li>Account landscapes, products they are interested in.</li>-->
                                    <!--</ol>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4 right-bar">
                <div ng-include="'/accounts/settings/sidebar'"></div>
                <div class="base-fluid-template">

                    <div ng-controller="access_control">
                        <div class="box-ui stats" style="min-height: inherit">
                            <i class="fa fa-cog cursor" ng-show="ifLiuIsAccountOwner" data-ng-click="account_settings()"></i>
                            <div>
                                <strong>Account Owner: </strong> [[account_owner]]
                            </div>
                            <div class="clearfix" ng-show="showSharedAccess">
                                <div class="pull-left margin-tb5" style="margin-right: 10px;">
                                    <strong>Shared Access: </strong>
                                </div>
                                <div class="pull-left margin-tb5">
                                    <div class="pull-left profile-wrapper" ng-repeat="item in usersWithAccess">
                                        <div class="owner contact-profile pull-right" title="[[item.fullName]], [[item.emailId]]">
                                            <div class="relative inline-block">
                                                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)">
                                                <span class="no-img" ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]">[[item.nameNoImg]]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left margin-tb5 cursor" title="Account access requested" ng-show="account.accountAccessRequested.length>0 && account.isOwner" data-ng-click="account_settings()">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-controller="account_insights">
                        <div class="box-ui stats insights" ng-show="!account.isTesting" ng-class="noInsightsFound? 'no-data-col-bg' : ''">
                            <div>
                                <h5 class="bold">Insights</h5>

                            <p ng-show="noInsightsFound">
                                There is not enough interaction data to gauge insights. Pl. interact more with this customer.
                            </p>

                                <ul ng-show="!noInsightsFound" class="list-unstyled">
                                    <li class="clearfix" ng-show="oppsPastCloseDate>0">
                                        <div class="circle low pull-left"></div>
                                        <div class="insight pull-left">[[oppsPastCloseDate]] - opp past close date</div>
                                    </li>
                                    <li class="clearfix" ng-show="lastInteractionSentiment == 'Negative'">
                                        <div class="circle low pull-left"></div>
                                        <div class="insight pull-left">Last email sentiment indicates there are roadblocks</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-ui stats insights" ng-show="account.isTesting">
                            <h5 class="bold">Insights</h5>
                            <ul class="list-unstyled">
                                <li class="clearfix" ng-show="oppsPastCloseDate>0">
                                    <div class="circle low pull-left"></div>
                                    <div class="insight pull-left">Apple Mkt Team opp unlikely to close by 18 May 2019</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle low pull-left"></div>
                                    <div class="insight pull-left">Last email sentiment indicates there are roadblocks</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle low pull-left"></div>
                                    <div class="insight pull-left">Customer requested for RFP on 2 Jan 2019. Team hasn't responded yet.</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle low pull-left"></div>
                                    <div class="insight pull-left">Prospect hasn't responded to past 3 team mails</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle mid pull-left"></div>
                                    <div class="insight pull-left">Payment due on 02 August not yet received</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle mid pull-left"></div>
                                    <div class="insight pull-left">Upcoming subscription renewal on 01 Oct 2019</div>
                                </li>
                                <li class="clearfix" ng-show="oppsPastCloseDate>0">
                                    <div class="circle low pull-left"></div>
                                    <div class="insight pull-left">[[oppsPastCloseDate]] - opp past close date</div>
                                </li>
                                <li class="clearfix">
                                    <div class="circle high pull-left"></div>
                                    <div class="insight pull-left">Customer signed the NDA</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="box-ui stats">
                        <div data-ng-controller="opportunitiesByStage">
                            <h5 class="bold">Pipeline Funnel <span class="fs-12 lite">([[fiscalYear]])</span></h5>
                            <div ng-show="loadingImpactValues" class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <div class="bar-graph clearfix cursor" ng-show="!loadingImpactValues" data-ng-click="goToOpp()">

                                <div ng-show="noPipeline">
                                    <div class="left" title="Total opportunities count">
                                        <div class="leftbar" ng-repeat="item in funnels">
                                            <span ng-style="item.countLength"></span>
                                            <i>[[item.oppsCount]]</i>
                                        </div>
                                    </div>
                                    <div class="center">
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" ng-repeat="item in funnels">[[item.name]]</div>
                                    </div>
                                    <div class="right" title="Total opportunities value">
                                        <div class="rightbar" ng-repeat="item in funnels">
                                            <span ng-style="item.amountLength"></span>
                                            <i>[[item.amount]]</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-controller="opp_growth">
                        <div class="box-ui stats" ng-class="noOpp? 'no-data-col-bg' : ''">
                            <div>
                                <h5 class="bold">Conversion Rate</h5>
                                <div class="opp-growth" ng-show="!noOpp"></div>
                                <div ng-show="!noOpp" class="label-markers clearfix">
                                    <div ng-show="label1" class="line-1 clearfix" style="margin-left: 20px;">
                                        <div class="pull-left">
                                            <i></i><span class="line"></span>
                                        </div>
                                        <div class="pull-left" style="margin-left: 35px;">
                                            <span>[[label1]]</span>
                                        </div>
                                    </div>
                                    <div ng-show="label2" class="line-2 clearfix">
                                        <div class="pull-left">
                                            <i></i><span class="line"></span>
                                        </div>
                                        <div class="pull-left" style="margin-left: 35px;">
                                            <span>[[label2]]</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="noOpp" class="no-data-box">
                                <p>No opportunities found.<br>
                                    <a href="#" data-ng-click="createOpp()" class="green-color">
                                        Click here
                                    </a> to create your first opportunity for this account.
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-ui stats" ng-controller="account_costs">
                        <div data-ng-include="'/accounts/settings'"></div>
                        <h5 class="bold">
                            Account Cost
                        </h5>
                        <table class="text-center">
                            <tr class="fs-13 lite">
                                <!--<td>Avg. Sales Cycle <span class="fs-12">(days)</span></td>-->
                                <!--<td>Avg. Int/[[currency]] won</td>-->
                                <td style="width: 49%;">Cost of Sales ([[currency]])</td>
                                <td style="width: 49%;">Cost of Delivery ([[currency]])</td>
                            </tr>
                            <tr class="fs-18 bold">
                                <!--<td>[[daysToWinCloseAllDeals]]</td>-->
                                <!--<td>[[averageInteractionsPerDealWon]]</td>-->
                                <td>[[account.costOfSalesWithComma]]</td>
                                <td>[[account.costOfDeliveryWithComma]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

</script>

<link href="/stylesheets/jquery.orgchart.min.css" rel="stylesheet">
<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/common/angularConfig_v2.js"></script>
<script type="text/javascript" src="/javascripts/accounts/landing_v2.js"></script>
<script src="/javascripts/common/jquery.orgchart.js"></script>
<script type="text/javascript" src="/javascripts/accounts/hierarchy.js"></script>
<script type="text/javascript" src="/javascripts/accounts/accessControl.js"></script>
<script type="text/javascript" src="/javascripts/accounts/interactionsOppsNotes_v2.js"></script>
<script type="text/javascript" src="/javascripts/accounts/graphs.js"></script>
<script type="text/javascript" src="/javascripts/accounts/sidebar.js"></script>
<script type="text/javascript" src="/javascripts/accounts/allInteractions_v2.js"></script>
<script type="text/javascript" src="/javascripts/accounts/interactionsSidebar.js"></script>
<script type="text/javascript" src="/javascripts/common/dataService.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/oppApi.js"></script>
<script type="text/javascript" src="/javascripts/common/activityLog.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/pulse/palette.js"></script>
<script type="text/javascript" src="/javascripts/pulse/color-scheme.min.js"></script>
<script type="text/javascript" src="/javascripts/pulse/please.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places&callback=initAutocomplete" async defer></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
