<div class="secNav sidebar-height">
    <div class="secWrapper">
        <div class="padding0 contact-list-filter-affix">
            <div class="contacts-filter">
                <div class="row" style="margin-top: 5px;">
                    <div class="col-xs-2">
                        <a href="#" ng-click="refreshContactsList()"><i class="fa fa-refresh green-color"></i></a>
                    </div>
                    <div class="col-xs-10 padding-lr4">
                        <div class="input-group">
                            <input type="text" style="height: 27px;margin: 0;" class="form-control" placeholder="Search" ng-change="contactSearchChanged()" id="searchContent" ng-model="searchContent" ng-enter="searchContacts(searchContent)">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" ng-click="searchContacts(searchContent)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!--<input type="text" class="form-control mContactSearch searchContentClass" ng-model="searchContent" ng-enter="searchContacts(searchContent)" id="exampleInputName2" placeholder="Search">-->
                    </div>
                </div>

                <ul class="filters-inline">

                    <li ng-repeat="el in filters" class="[[el.class]]" ng-click="setFilter(el.filter)">[[el.filter]]</li>
                    <!--<li ng-click="setFilter('All')"><a href="#">All</a></li>-->
                    <!--<li ng-click="setFilter('My')"><a href="#">My</a></li>-->
                    <!--<li ng-click="setFilter('Recent')"><a href="#">Recent</a></li>-->
                    <!--<li ng-click="setFilter('Important')"><a href="#">Important</a></li>-->
                </ul>
                <div ng-show="accountListLoading" class="loading-contacts">
                    <span><i></i></span><span><i></i></span><span><i></i></span>
                </div>
                <div ng-show="!accountListLoading" class="row text-center" style="font-size: 12px;margin-top: -15px;">
                    <br>
                    Showing <strong>[[(currentLength == 0) ? calculateFromTo(currentLength-returned) : (calculateFromTo(currentLength-returned) + 1)]] to [[currentLength]]</strong> out of <strong>[[grandTotal]]</strong>
                </div>
            </div>
            <div>
                <div class="secondary-navbar contact-list-filter clearfix cursor-pointer [[contact.selection]]" ng-repeat="contact in contactsList" ng-click="accountSelected(contact);showContacts = !showContacts">

                    <div class="clearfix">
                        <div class="pull-left" ng-show="!contact.isTesting">
                            <img class="image-placeholder-small" title="[[contact.fullName]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" errortoggle>
                            <span class="image-placeholder-small-text" title="[[contact.fullName]]" ng-show="contact.noPicFlag==1"><span style="text-align: center;display: block;">[[contact.noPPic]]</span></span>
                        </div>
                        <div class="pull-left apple" ng-show="contact.isTesting">
                            <span class="image-placeholder-small-text" title="[[contact.fullName]]">
                                <i class="fa fa-apple"></i>
                            </span>
                        </div>
                        <div class="pull-left">
                            <ul class="list-unstyled">
                                <li title="[[contact.fullName]]" class="clearfix">
                                    <div class="card">
                                        [[contact.name]]
                                        <i class="[[contact.accessIcon]]"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="clearfix" ng-show="showContacts">-->
                    <!--<ul>-->
                    <!--<li ng-repeat="el in contact.contacts">-->
                    <!--<div class="owner contact-profile pull-right" title="[[el]]">-->
                    <!--<div class="relative inline-block">-->
                    <!--<span class="no-img" imagefromemailid>[[el.image]]</span>[[el]]-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
            <div ng-show="!accountListLoading" class="clearfix" style="background-color: #fff;">
                <a ng-show="show_contacts_back" class="pull-left" ng-click="loadMoreContacts(currentLength-25,25,searchContent,true)" title="Prev" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;"><i class="fa fa-chevron-left"></i>Prev</a>
                <a ng-hide="currentLength >= grandTotal" class="pull-right" ng-click="loadMoreContacts(currentLength,25,searchContent,false)" title="Next" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;">Next<i class="fa fa-chevron-right"></i></a>
            </div>

        </div>
    </div>
</div>