
<div class="account-modal modal-open" ng-show="data.openModal">
    <div class="modal form-box-shadow">
        <div class="modal-header clearfix">
            <h5 class="pull-left">Account settings</h5>
            <div class="pull-right fs-16 cursor" data-ng-click="data.openModal = false;">X</div>
        </div>
        <div class="body">
            <h5>Cost Of Sales</h5>
            <input ng-model="data.costOfSales">
            <h5>Cost Of Delivery</h5>
            <input ng-model="data.costOfDelivery">
        </div>
        <div class="footer clearfix">
            <button class="btn btn-green pull-right" ng-click="update()">Save</button>
        </div>
    </div>
</div>