<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Business Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="../stylesheets/css/Mediaquery.css" rel="stylesheet">
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak >

<div class="navigation-container">
    <nav class="navbar navbar-fixed-top">
        <div class="row" data-ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image"
                                 class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;"/>
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image"
                                 class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg"/>
                        </a>
                    </li>

                </ul>
                <ul style="position: fixed" class="showIconleftbar keep-open">
                    <li class="dropdown keep-open" style="list-style: none;" id="ipad-open">
                        <a class="dropdown-toggle pull-right profile_link showLeftbar-icns open-leftbar no-overflow hidden-lg" href="#" data-toggle="dropdown"aria-expanded="true" id="menu-toggle">
                            <i class="fa fa-bars fa-2x profile-pic" id="showLeftbar"></i>
                        </a><br>

                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center" >
                <div class="search_container pull-left" ng-show="{{isLoggedIn}}">
                    <div class="input-group">
                        <input type="text" ng-model="headerSearchContent" class="form-control search-height input-search form-width show-networks" ng-enter="searchFromHeader(headerSearchContent,yourNetwork,extendedNetwork,forCompanies)" placeholder="Search" style="width: 330px;"/>
                        <div class="input-group-addon btn hidden-xs" ng-click="searchFromHeader(headerSearchContent,yourNetwork,extendedNetwork,forCompanies)"><i class="fa fa-search"></i></div>
                    </div>
                    <div class="toggle-networks">
                        <div class="nw-search-head clearfix">
                            <span class="pull-left">SEARCH: </span><a class="pull-right close-toggle-networks show-networks" title="Close">X</a>
                        </div>
                        <ul class="list-unstyled clearfix margin0">
                            <li>
                                <div class="checkbox">
                                    <input ng-init="yourNetwork = true" ng-model="yourNetwork" id="checkbox5" type="checkbox">
                                    <label for="checkbox5">
                                        My Network
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input ng-init="extendedNetwork = true" ng-model="extendedNetwork" id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                        Extended Network
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input ng-model="forCompanies" id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                        For Companies
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 login_header" ng-show="{{isLoggedIn}}" data-ng-controller="logedinUser">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                        <span>[[l_usr.firstName]]</span><img class="image-placeholder-small" ng-src="[[l_usr.profilePicUrl]]"/>
                    </a><br/>
                    <div class="dropdown-menu pull-right profile_link" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss">
                            <li><a m_event="profile" href="/settings">Profile</a></li>
                            <li class="divider"><a href=""></a></li>
                            <li><a m_event="logout"href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>

            <div ng-show="{{!isLoggedIn}}">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse user-not-login-container" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a m_event="company link" href="/company">Company <span class="sr-only">(current)</span></a></li>
                        <li><a m_event="product link" href="/Relationship-Intelligence">Product</a></li>
                        <li><a data-toggle="modal" data-target="#login_modal" id="login_model_button">login</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</div>

<div style="display: inline-block;width: 296px;margin-left: auto;">
    <div class="row">
        <div class="leftside-bar">
            <div class="mainNav toggle-sidebar" id="sidebar-wrapper" data-ng-include="&#39;/schedule/left_menubar&#39;" style="margin-top: 40px;">
            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper contacts-landing set-height">
    <div data-ng-controller="checkCorporateUser" class="non-customer">
        <p>This feature is available to <strong>Relatas for Business</strong> customers.<br>

            <!--
            -->
            <div data-ng-controller="contactRelatas">
                <h5 class="text-center" style="font-weight: 300;">Go live in less than 15 minutes. See business impact in a week. <br>Witness what your existing network and data can do for you.<br>Signup today.</h5>
                <div class="row after-sign-up">
                    <div class="form-group col-sm-3 col-sm-offset-3">
                        <input type="text" class="form-control" ng-model="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="text" class="form-control" ng-model="lastName" placeholder=" Last Name">
                    </div>
                </div>
                <div class="row after-sign-up">
                    <div class="form-group col-sm-3 col-sm-offset-3">
                        <input type="text" class="form-control" ng-model="emailId" placeholder="Business Email">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="text" class="form-control" ng-model="companyName" placeholder=" Company">
                    </div>
                </div>
                <div class="row after-sign-up">
                    <div class="form-group col-sm-3 col-sm-offset-3">
                        <input type="text" class="form-control" ng-model="phoneNumber" placeholder="Phone">
                    </div>
                    <div class="form-group col-sm-3 not-required">
                        <input type="text" class="form-control" ng-model="skypeId" placeholder="Skype">
                    </div>
                </div>
                <div class="text-center margin-top35">
                    <p><a class="btn blue-btn btn-lg fs23" ng-click="submit(firstName,lastName,emailId,companyName,phoneNumber,skypeId)">Submit</a></p>
                </div>
            </div>

            <!--
            -->

            <div style="font-size: 16px;text-align: center;margin: 20px 0;">You can also reach us at <a class="green-color" href="mailto:hello@relatas.com">hello@relatas.com</a> from your business email id for a demo.</div style="font-size: 16px;text-align: center;ma">
        <hr>
        <h3>Features in Relatas for Business include</h3>
        <ol>
            <li>Who within your company can introduce you to your next lead?</li>
            <li>Which clients are falling off-radar and need immediate attention?</li>
            <li>How well is the team interacting with customers?</li>
            <li>Who within your team is following the most revenue?</li>
            <li>Lead tracking and notifications</li>
            <li>Company wide Intelligent Insights</li>
        </ol>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

</script>

<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/treemap.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/angularConfig.js"></script>
<script type="text/javascript" src="/javascripts/companyCustomerjs/nonCustomer.js"></script>
<script type="text/javascript" src="/javascripts/directives/error-toggle.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>

</body>
</html>
