<div class="modal-open convert-modal-sidebar" ng-show="isOppModalOpen">
    <div class="opportunity-form form-box-shadow">
        <div class="modal-header clearfix">
            <div class="col-md-5">
                <h3>Add/Edit Opportunity</h3>
                <div class="clearfix">
                    <div class="owner pull-left" ng-show="opp.owner.fullName" title="[[opp.owner.fullName]], [[opp.owner.emailId]]">
                        <img ng-if="!opp.owner.noPicFlag" src="[[opp.owner.image]]" imageonload="imageNotLoaded(opp.owner)">
                        <span ng-if="opp.owner.noPicFlag">[[opp.owner.nameNoImg]]</span>
                        <strong>[[opp.owner.fullName]]</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-7 clearfix">
                <div class="clearfix">
                    <div class="pull-left" ng-show="mailOptions">
                        <label>
                            <input  ng-disabled="opp.isNotOwner" type="checkbox" ng-model="mailOrgHead" ng-disabled="notificationForOrgHead">Mail Organisation Head
                        </label>
                        <label>
                            <input  ng-disabled="opp.isNotOwner" type="checkbox" ng-model="mailRm" ng-disabled="notificationForReportingManager">Mail Reporting Manager
                        </label>
                    </div>
                    <button class="btn btn-flat pull-right" ng-click="saveOpportunity()" ng-show="!opp.isNotOwner">SAVE</button>
                    <button class="btn btn-flat pull-right cancel" ng-click="closeModal()">CANCEL</button>
                </div>
                <div>
                    <div ng-show="createdDateFormatted" class="text-right margin-top10">
                        Created Date: [[createdDateFormatted]]
                    </div>
                </div>
            </div>
        </div>
        <div class="max-height">

            <div class="row">
                <div class="col-md-12">
                    <label>Contact <span class="required">*</span></label>
                    <input ng-disabled="opp.isNotOwner" type="text" ng-change="searchContacts(contact,'contact')" ng-model="contact" id="oppContact">
                    <div search-results-contacts></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Opportunity Name <a class="green-color underline" href="#" ng-show="opp.source == 'renewal'" data-ng-click="loadSourceOpp(opp)">( View Source )</a>  <span class="required">*</span></label>
                    <input ng-disabled="opp.isNotOwner" type="text" ng-model="opp.opportunityName">
                </div>
                <div class="col-md-6">
                    <label>Close Date <span class="required">*</span></label>
                    <input onkeydown="return false" ng-disabled="opp.isNotOwner" type="text" ng-model="opp.closeDateFormatted" id="opportunityCloseDateSelector" ng-mouseover="registerDatePickerId()">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Stage <span class="required">*</span></label>
                    <select ng-disabled="opp.isNotOwner" ng-model="opp.stage" class="stage-list" ng-change="ifOppClose(opp.stage)">
                        <option ng-repeat="stage in stages" value=[[stage]]>[[stage]]</option>
                    </select>
                </div>
                <div class="col-md-6" ng-if="!netGrossMargin">
                    <label>Amount (<i class="[[currency]]"></i>) <span class="required">*</span></label>
                    <input  ng-disabled="opp.isNotOwner" type="text" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                </div>
                <div class="col-md-6" ng-if="netGrossMargin">
                    <div class="row margin0">
                        <div class="col-md-7 padding-l0">
                            <label>Amount (<i class="[[currency]]"></i>) <span class="required">*</span></label>
                            <input  ng-disabled="opp.isNotOwner" type="text" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                        </div>
                        <div class="col-md-5 padding-r0">
                            <label>Net Gross Margin % <span class="required">*</span></label>
                            <input  ng-disabled="opp.isNotOwner" type="text" ng-model="opp.netGrossMargin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div ng-show="companyDetails.geoLocations.length>0">
                        <label>Region <span ng-show="isRegionRequired" class="required">*</span></label>
                        <div class="add-town clearfix">
                            <select ng-disabled="opp.isNotOwner" ng-model="opp.geoLocation.zone">
                                <option ng-repeat="item in companyDetails.geoLocations" ng-selected="opp.geoLocation.zone == item.region" value="[[item.region]]">[[item.region]]</option>
                            </select>
                            <input  ng-disabled="opp.isNotOwner" type="text" placeholder="Add Location" value="[[opp.geoLocation.town]]" ng-model="opp.geoLocation.town" id="autocompleteCity">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-show="companyDetails.sourceList.length>0">
                        <label>Source <span ng-show="isSourceRequired" class="required">*</span></label>
                        <div class="product-list clearfix">
                            <select ng-model="opp.sourceType" ng-disabled="opp.isNotOwner">
                                <option ng-repeat="item in companyDetails.sourceList" ng-selected="opp.sourceType == item.name" value="[[item.name]]">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--<hr>-->
            <div class="row">

                <div class="col-md-6">
                    <div ng-show="companyDetails.productList.length>0">
                        <label>Products <span ng-show="isProductRequired" class="required">*</span></label>
                        <div class="product-list clearfix">
                            <select ng-disabled="opp.isNotOwner" ng-model="opp.productType">
                                <option ng-repeat="item in companyDetails.productList" ng-selected="opp.productType == item.name" value="[[item.name]]">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div ng-show="companyDetails.verticalList.length>0">
                        <label>Vertical <span ng-show="isVerticalRequired" class="required">*</span></label>
                        <div class="product-list clearfix">
                            <select ng-disabled="opp.isNotOwner" ng-model="opp.vertical">
                                <option ng-repeat="item in companyDetails.verticalList" ng-selected="opp.vertical == item.name" value="[[item.name]]">[[item.name]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Add Decision Makers</label>
                    <input  ng-disabled="opp.isNotOwner" type="text" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker">
                    <div search-results-d></div>

                    <div class="contacts child" ng-show="opp.decisionMakers.length>0">
                        <div ng-repeat="item in opp.decisionMakers track by $index" class="profile-wrapper">
                            <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                <div class="relative" data-toggle="dropdown">
                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li ng-click="removeRecipient(item,'decisionMaker')" class="cursor">Delete</li>
                                    <li class="divider"></li>
                                    <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                </ul>
                                <p class="margin0">[[item.name]]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Add Influencers</label>
                    <input  ng-disabled="opp.isNotOwner" type="text" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer">
                    <div search-results-i></div>
                    <div class="contacts child" ng-show="opp.influencers.length>0">
                        <div ng-repeat="item in opp.influencers track by $index" class="profile-wrapper">
                            <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                <div class="relative" data-toggle="dropdown">
                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li ng-click="removeRecipient(item,'influencer')" class="cursor">Delete</li>
                                    <li class="divider"></li>
                                    <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                </ul>
                                <p class="margin0">[[item.name]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <label>Add Partners/Resellers</label>
                    <input  ng-disabled="opp.isNotOwner" type="text" ng-change="searchContacts(partner,'partner')" ng-model="partner">
                    <div search-results-p></div>
                    <div class="contacts child" ng-show="opp.partners.length>0">
                        <div ng-repeat="item in opp.partners track by $index" class="profile-wrapper">
                            <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfile(item)">
                                <div class="relative" data-toggle="dropdown">
                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                    <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li ng-click="removeRecipient(item,'partner')" class="cursor">Delete</li>
                                    <li class="divider"></li>
                                    <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                </ul>
                                <p class="margin0">[[item.name]]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Competitor</label>
                    <input  ng-disabled="opp.isNotOwner" type="text" ng-model="opp.competitor">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 opp-checkbox">
                    <label style="margin-bottom: 15px;">BANT Test</label> <br>
                    <label>
                        <input ng-disabled="opp.isNotOwner" ng-model="budget" type="checkbox" ng-change="changeSelection()"> Budget
                    </label>
                    <label>
                        <input ng-disabled="opp.isNotOwner" ng-model="authority" type="checkbox" ng-change="changeSelection()"> Authority
                    </label>
                    <label>
                        <input ng-disabled="opp.isNotOwner" ng-model="need" type="checkbox" ng-change="changeSelection()"> Need
                    </label>
                    <label>
                        <input ng-disabled="opp.isNotOwner" ng-model="time" type="checkbox" ng-change="changeSelection()"> Time
                    </label>
                </div>
            </div>

            <div class="row" ng-show="opp.closeReasons.length>0">
                <div class="col-md-6 comma-after-span">
                    <label>Close Reasons</label>
                    <span class="fs-14 lite" ng-repeat="el in opp.closeReasons">[[el]]</span>
                </div>
                <div class="col-md-6 ">
                    <label>Close Description</label>
                    <p class="fs-14 lite">[[opp.closeReasonDescription]]</p>
                </div>
            </div>
            <div class="logs row" ng-show="opp.logs">
                <div class="col-md-12">
                    <label>Activity log</label>
                    <div>
                        <ol>
                            <li ng-repeat="log in opp.logs | orderBy:'-date'">
                                [[log.message]]
                                <p ng-show="log.noteExist"> <strong>Reason: </strong>&nbsp;[[log.notes]]</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="reasonsRequired" class="nested-modal">
            <div class="header clearfix">
                <!--<i class="fa fa-arrow-circle-o-left cursor" data-ng-click="reasonsRequired =! reasonsRequired" title="Back to opportunity"></i>-->
            </div>
            <div class="body">
                <div class="row border-lite padding-10">
                    <div class="row" style="margin-top: 0;">
                        <strong>Opportunity Close Reasons</strong>
                    </div>
                    <div class="row" style="margin-top: 0;">
                        <div class="col-md-4">
                            <label ng-repeat="item in companyDetails.closeReasons | orderBy:'name'">
                                <input type="checkbox" ng-model="item.selected" data-ng-click="addToReasonList(item.name)"> [[item.name]]
                            </label>
                        </div>
                        <div class="col-md-7">
                            <label>Reason in detail</label>
                                                    <textarea ng-model="opp.closeReasonDescription">

                                                    </textarea>
                        </div>
                    </div>
                </div>

                <div class="row border-lite padding-10" ng-show="opp.stage == 'Close Won'">
                    <strong>Renewal opportunity</strong>
                    <label>
                        <input type="checkbox" ng-model="opp.renewThisOpp">
                        [[opp.opportunityName]] is a renewal opportunity
                    </label>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Amount (<i class="[[currency]]"></i>)</label>
                            <input type="text" ng-model="renewalAmount" id="renewalAmount" autofocus="autofocus">
                        </div>
                        <div class="col-md-6">
                            <label>Close Date</label>
                            <input onkeydown="return false" type="text" ng-model="renewalCloseDateFormatted" id="opportunityCloseDateSelector4" ng-mouseover="registerDatePickerIdRenewal('renewal')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="btn btn-flat" ng-click="goBackToOpp()" ng-show="!opp.isNotOwner">Save & Back to opp.</button>
            </div>
        </div>
    </div>
</div>