<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Relationship Intelligence - Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="/stylesheets/css/Mediaquery.css" rel="stylesheet">
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        .link {
            stroke: #888;
        }

        #heat-map {
            margin: auto;
            width: 75%;
        }

        .node text {
            pointer-events: none;
            font: 10px sans-serif;
        }

        svg {
            border: 1px solid #eee;
            padding: 10px;
        }

        .legend {
            font-size: 12px;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak>
<div class=""></div>
<div data-ng-controller="left_contacts_bar">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>

            <div data-ng-include="'/customer/middle/bar'" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">

            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper set-height" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">
    <div class="row margin0">

        <div class="col-xs-12 col-md-12 set-height">
            <!--<div class="row company-overview" style="margin-top: 55px;">-->
                <!--<ol class="breadcrumb">-->
                    <!--<li><a href="#">Company</a></li>-->
                    <!--<li><a class="breadcrumb-active" href="#">GE</a></li>-->
                <!--</ol>-->
                <!--<div class="col-sm-6 col-md-2 text-center">-->
                    <!--<img class="company-logos" src="/images/ge.png">-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-9">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                            <!--<p>Within your network</p>-->
                            <!--<h4 class="green-color">44</h4>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                            <!--<p>Your extended network</p>-->
                            <!--<h4 class="green-color">17</h4>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <div class="row grey-green-bg company-overview" style="margin-top: 55px;">
                <div class="clearfix" ng-controller="hierarchyController">
                <ol class="breadcrumb pull-left" style="margin-right: 1%;margin-bottom: 0;background-color: transparent;">
                    <li><a class="breadcrumb-active">[[companyName]]</a></li>
                </ol>
                    <div class="pull-left" style="padding: 8px 1px;">
                        <button type="button" class="btn-primary shw-heirarchy margin0">Hierarchy</button>
                    </div>
                </div>
                <div class="c-heirarchy">
                    <div class="toggle-heirarchy" style="border-top: 1px solid #ddd;">
                        <div class="c-tree">
                            <ul id="root"></ul>

                            <div style="margin-left: 20px;">
                                <button type="button" style="margin:10px 5px;" class=" btn-green btn" id="updateHierarchy">Apply</button>
                                <button type="button" style="margin:10px 5px;" class=" btn-green btn" id="checkAllHierarchy">Select All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 text-center" ng-controller="logoController">
                    <img class="company-logos" ng-src="[[companyLogo]]" ng-hide="displayLogo" errortoggle>
                    <span class="company-logos" style="padding-top: 35px;" ng-show="displayLogo">[[companyNoName]]</span>
                </div>
                <div class="col-sm-6 col-md-9" ng-controller="networkCountController">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>My Network</p>
                            <h4 class="green-color">[[myNetworkCount]]</h4>
                        </div>
                        <div class="col-xs-6">
                            <p>Extended Network</p>
                            <h4 class="green-color">[[extendedNetworkCount]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row chart-area margin-top20" ng-controller="monthlyInteractionController">

        <div ng-if="noInteractions"><h1>NO INTERACTIONS TO SHOW</h1></div>

        <h3 class="section-header text-center" style="margin-bottom: 5px;">
            Past [[testing]]
                <span>
                <span class="dropdown">
                    <button class="btn btn-green dropdown-toggle" id="dropdown-value-1" style="display: inline;margin: 0 5px;" type="button" data-toggle="dropdown">180
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-widget" id="dropdown-selected-1">
                        <li><a href="#" drop-type="monthlyInteraction">365</a></li>
                        <li><a href="#" drop-type="monthlyInteraction">180</a></li>
                        <li><a href="#" drop-type="monthlyInteraction">90</a></li>
                        <li><a href="#" drop-type="monthlyInteraction">30</a></li>
                    </ul>
                </span>
                </span> Days Interactions</h3>
        <div class="col-sm-6 col-md-6">
            <div id="chart"></div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="row chart-right-data">
                <div class="col-xs-6 selected-month">
                    <h4>Company Wide</h4>
                    <span class="ps-abs">
                        [[selectedMonth]]
                    </span>
                    <ol class="list-unstyled">
                      <li><p>[[companyInteractionPercentage]]<span ng-if="companyInteractionPercentage != 'NA'">%</span></p>Past Month Growth</li>
                        <li><p>[[companyTotalInteraction]]</p>Total Interactions</li>
                    </ol>
                </div>
                <div class="col-xs-6 selected-month">
                    <h4>Selected Hierarchy</h4>
                    <span class="ps-abs">
                        [[selectedMonth]]
                    </span>
                    <ol class="list-unstyled">
                        <li><p>[[selfTotalInteractionPercentage]]<span ng-if="selfTotalInteractionPercentage != 'NA'">%</span></p>Past Month Growth</li>
                        <li><p>[[selfTotalInteraction]]</p>Total Interactions</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>

    <div class="interations-relationship-past-90-days text-left row ng-scope" data-ng-controller="participantPast90Days">
        <!--<h2 class="text-center">Past 90 Days</h2>-->

        <hr class="hr-line">

        <div class="text-center interactions-initiations00 col-md-5">
            <div class="row">
                <h4 class="">
                    <!--Past-->
                <!--<span>-->
                <!--<span class="dropdown">-->
                    <!--<button class="btn btn-green dropdown-toggle" id="dropdown-value-2" style="display: inline;margin: 0 5px;" type="button" data-toggle="dropdown">180-->
                        <!--<span class="caret"></span></button>-->
                    <!--<ul class="dropdown-menu dropdown-widget" id="dropdown-selected-2">-->
                        <!--<li><a href="#" drop-type="interactionInitiative">ALL</a></li>-->
                        <!--<li><a href="#" drop-type="interactionInitiative">180</a></li>-->
                        <!--<li><a href="#" drop-type="interactionInitiative">90</a></li>-->
                        <!--<li><a href="#" drop-type="interactionInitiative">30</a></li>-->
                    <!--</ul>-->
                <!--</span>-->
                <!--</span>-->
                    Interactions Initiations
                </h4>
            </div>
            <div class="donut-wrapper">
                <canvas id="donut-chart" width="200" height="200"> Your browser does not support Charts. Please update here.</canvas>
                <div class="donut-num ng-binding">
                  [[totalInteractionsInitiatives]]
                </div>
            </div>
            <div class="row interactions-init" style="margin-top:-15px;">
                <div class="col-xs-1 col-xs-offset-4 orange-bg">
                    <span class="ng-binding">[[myInitiatives]]</span>
                </div>
                <div class="col-xs-2" style="line-height: 15px;text-align: left;margin-left: -10px;margin-right: 10px;">
                   Selected Hierarchy
                </div>
                <div class="col-xs-1 orange-off-bg">
                    <span class="ng-binding">[[othersInitiative]]</span>
                </div>
                <div class="col-xs-3 ng-binding" style="
                                     line-height: 35px;
                                     margin-left: -10px; max-width:92px;max-height: 45px;overflow:hidden;">
                    Company
                </div>
            </div>
        </div>

        <div class="col-md-6" ng-controller="interactionsTypeController">
            <div class="row text-center">
                <h4>Interactions</h4>
                <!--<div class="orange-color ng-binding" style="font-size:30px;">21<span style="font-size: 20px !important;color: #aaa;font-weight: 300;"> /100 </span></div>-->
            </div>
            <div class="row" style="margin: 135px 0 0 0;">
            <ul class="graph" style="width: 325px;">
                <li>
                        <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                            <p class="values-top">[[interactionsByType.a.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                            <p class="values-top">[[interactionsByType.b.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                            <p class="values-top">[[interactionsByType.c.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                            <p class="values-top">[[interactionsByType.d.count]]</p>
                        </span></li>
                <!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
                <li>
                        <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                            <p class="values-top">[[interactionsByType.f.count]]</p>
                        </span></li>
                <!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->

            </ul>
                <ul class="graph-icons" style="width: 325px;">
                    <li><i class="fa fa-calendar-check-o green-color"></i></li>
                    <li><i class="fa fa-phone green-color"></i></li>
                    <li><i class="fa fa-reorder green-color"></i></li>
                    <li><i class="fa fa-envelope green-color"></i></li>
                    <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                    <li><i class="fa fa-twitter-square twitter-color "></i></li>
                    <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
                </ul>

            </div>
            <!--<div class="row" style="margin-top: 25px;">-->
                <!--<div class="col-sm-10 col-sm-offset-2 slider-btn">-->

                    <!--<strong style="font-size: 16px;">Your Rating: &nbsp;&nbsp;&nbsp; </strong>-->
                    <!--<input id="ex3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>-->
                    <!--<span id="relationshipStrength_updated" class="">57</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div><hr>
    <!--<div class="conmmon-connection-and-invite-member-container">-->

        <!--<div class="invite-team-members-container margin-tb45 ng-scope" data-ng-controller="commonConnections_company">-->
            <!--<span class="fs-15B center-block text-center ng-binding">People from your company who have interacted with <span class="text-uppercase">[[companyName]]</span><a class="btn btn-green">INVITE TEAM MEMBERS </a></span>-->
        <!--<div class="l text-center" ng-show="no_connections_by_company" style="margin-top: 15px;opacity: 0.05;">-->

                <!--<div class="non-connections">-->
                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                    <!--<div class="block-center">-->
                        <!--<img src="/images/default.png" class="profile-img2">-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <!--<div class="als-container common-Connection-box ng-hide" id="demo4" style="width: 79.9%;" ng-show="!no_connections_by_company">-->
                <!--<span class="als-prev hide" id="als-prev_c"><img src="/landing/img/arrow_left.png" ng-click="PrevConn()" style="width: 76px;" alt="Prev" title="Previous"></span>-->
                <!--<div class="als-viewport" style="display: table;">-->
                    <!--<ul class="als-wrapper">-->
                        <!--&lt;!&ndash; ngRepeat: connection in cConnections &ndash;&gt;-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<span class="als-next hide" id="als-next_c"><img src="/landing/img/arrow_right.png" ng-click="NextConn()" style="width: 76px;" alt="Next" title="Next"></span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<hr>-->
        <!--<div id="heat-map">-->

        <!--</div>-->
    <!--</div>-->
    <div class="container-fluid" >
        <!--<div class="row text-center">-->
            <!--<h3 class="section-header"> Global Interactions Map</h3>-->

            <!--<div class="col-sm-offset-1 col-md-10 map-interactions" style="position: relative;">-->
                <!--<div id="map" style="height:450px; margin-top:12px"></div></br></br>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--<div class="invite-team-members" style="max-width: 768px;margin: auto;position:relative" data-ng-controller="interaction_timeline">-->
        <!--<span class="btn-primary btn-lg btn invite-team-members-btn" ng-click="timelineTimeline(cuserId,cEmailId)" id="timeline-button">TIMELINE</span>-->
        <!--<span class="btn-primary btn-lg btn invite-team-members-btn mSocial-3b" ng-click="timelineSocial(cuserId,cEmailId)" id="social-button">SOCIAL</span>-->
        <!--<span class="btn-primary btn-lg btn invite-team-members-btn mFiles-3b" ng-click="timelineFiles(cuserId,cEmailId)" id="files-button">FILES</span>-->
        <!--&lt;!&ndash;<span class="btn-primary btn-lg btn invite-team-members-btn" ng-click="timelineTasks(cuserId,cEmailId)" id="task-button">TASKS</span>&ndash;&gt;-->
        <!--&lt;!&ndash;Timeline Section &ndash;&gt;-->
        <!--<div id="timeline1-sec" class="timeline1-sec text-left">-->
            <!--<div class="l row" style="margin-bottom: 8px;" >-->
                <!--<div class="last-interaction col-xs-6">-->
                    <!--<label>Your last Interaction was on [[lastInteraction]]</label>-->
                <!--</div>-->
                <!--<div class="send-email-btn text-right col-xs-6">-->
                    <!--<a style="cursor: pointer" class="btn-green btn" ng-click="openSendEmailContainer()" id="send-email"><i class="fa fa-envelope-o"></i> &nbsp; Send Email</a>-->
                    <!--<a class="btn-green mScheduleMeeting btn" ng-href="[[scheduleMeeting]]"><i class="fa fa-calendar"></i> &nbsp; Schedule Meeting</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="compose-email-container" ng-show="send_email_container" style="padding-bottom: 6px;">-->
                <!--<label>Compose Email</label>-->
                <!--<div class="form">-->
                    <!--<div class="row" style="padding:0;">-->
                        <!--<div class="col-xs-8" style="padding:0;">-->
                            <!--<input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box">-->
                        <!--</div>-->
                        <!--<div class="col-xs-4 text-right">-->
                            <!--&lt;!&ndash;<label class="upload-document attach-document disabled" >&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;Attach File&ndash;&gt;-->
                            <!--&lt;!&ndash;</label>&ndash;&gt;-->
                            <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_doc_tracking"><span class="input-label-align"> Enable tracking</span></label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row margin-r0" style="padding:0;">-->
                        <!--<textarea ng-model="compose_email_body" class="message-send form-control"></textarea>-->
                    <!--</div>-->
                    <!--<div style="padding: 10px">-->
                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_track_viewed"><span class="input-label-align">Track email</span></label> &nbsp;&nbsp;-->
                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_remaind"> <span class="input-label-align">Notify in 7 Days</span></label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="text-right">-->
                    <!--<input type="button" ng-click="openSendEmailContainer()" value="Cancel" class="cancel-message btn-primary" tabindex="-1">-->
                    <!--<input type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId)" value="Send Message" class="send-message mSendEmail-3b btn-primary">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div ng-repeat="item in timelineItems" class="row [[item.className]]" >-->
                <!--<div style="" class="col-xs-2 text-right padding0">-->
                    <!--<p class="time-info-details lite">[[item.duration]]</p>-->
                    <!--<p class="time-info-details bold">[[item.dateText]]</p>-->
                <!--</div>-->
                <!--<div class="col-xs-10" style="">-->
                    <!--<labe class='timeline1-sec-dot'></labe>-->
                    <!--<div class="facebook-linkedin-twitter clearfix">-->

                        <!--<i class="fa [[item.iconClass]] font-20 timeline-icons"></i>-->
                        <!--<span class="pull-left timeline-text-trunc" ng-bind-html="item.title"></span>-->

                        <!--<a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId)" class="btn-green-timeline pull-right">&nbsp; [[item.but]]</a>&nbsp-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="[[item.dataObj.bindHtmlKey]]">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;Social Section &ndash;&gt;-->
        <!--<div class="timeline1-sec text-left" id="social-sec">-->
            <!--<div class="row" ng-repeat="item in socialTimeline">-->
                <!--<div class="col-xs-2 text-right">-->
                    <!--<p class="time-info-details">[[item.duration]]</p>-->
                    <!--<p class="time-info-details">[[item.dateText]]</p>-->
                <!--</div>-->
                <!--<div class="col-xs-10">-->
                    <!--<labe class='timeline1-sec-dot'></labe>-->
                    <!--<div class="facebook-linkedin-twitter l facebook-info-details social-facebook-info-details">-->
                        <!--<i class="fa [[item.iconClass]] font-20"></i>&nbsp [[item.title]]-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;files Section &ndash;&gt;-->
        <!--<div class="timeline1-sec text-left" id="files-sec">-->
            <!--<div class="l text-right">-->
                <!--<a class="btn-primary disabled"><i class="fa fa-upload"></i> &nbsp; Upload Document</a>-->
            <!--</div>-->
            <!--<br/>-->
            <!--<div class="row" ng-repeat="item in docsTimeline">-->
                <!--<div class="col-xs-2 text-right">-->
                    <!--<p class="time-info-details">[[item.duration]]</p>-->
                    <!--<p class="time-info-details">[[item.dateText]]</p>-->
                <!--</div>-->
                <!--<div class="col-xs-10 ">-->
                    <!--<labe class='timeline1-sec-dot'></labe>-->
                    <!--<div class="social-trends l facebook-info-details">-->
                        <!--<i class="fa fa-file-pdf-o font-20"></i>&nbsp [[item.title]]-->
                        <!--<a style="cursor: pointer;[[item.showButton]]" id="[[item.viewitemId]]" ng-click="viewItem(item.action,item.refId,item.dataObj,item.viewitemId)" class="btn-primary view-fb-btn">&nbsp; [[item.but]]</a>&nbsp-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="[[item.dataObj.bindHtmlKey]]">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;Task Section &ndash;&gt;-->
        <!--&lt;!&ndash;-->
        <!--<div class="timeline1-sec text-left" id="tasks-sec">-->
            <!--<div class="l text-right" style="position: relative">-->
                <!--<a class="btn-primary cursor-pointer mAddTaskDetails" id="add-task-timeline" ng-click="assignTaskTimeline($event)"><i class="fa fa-check-square-o"></i> &nbsp; Add New Task</a>-->
                <!--<div class="row" id="add-task-box" style="display: none;">-->

                    <!--<div class="add-task2 clearfix" style="display: block;">-->
                        <!--<div class="row margin0">-->
                            <!--<div class="col-xs-3">-->

                                <!--<label>Action Item</label>-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 padding0">-->
                                <!--<input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="row margin0">-->
                            <!--<div class="col-xs-3">-->

                                <!--<label>Description</label>-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 padding0">-->
                                <!--<textarea ng-model="taskDescription" id="taskDescription" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="row margin0">-->
                            <!--<div class="col-xs-3">-->

                                <!--<label>Due Date</label>-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 padding0">-->
                                <!--<input tabindex="3" type="text" id="dueDateTask" class="form-control input-arrow-task" placeholder="Date & Time"/>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="text-right">-->
                            <!--<input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">-->
                            <!--<input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary mAddedTask-3b re-schedule-button" tabindex="4">-->

                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <!--<table class="table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>OWNER</th>-->
                    <!--<th>TASK</th>-->
                    <!--<th>DESCRIPTION</th>-->
                    <!--<th>DUE DATE</th>-->
                    <!--<th>ACTION</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="item in tasksTimeline">-->
                    <!--<td class="text-center"><img class="image-placeholder-small" src="[[item.ownerPic]]" title="[[item.owner]]" style="width: 30px;height: 30px;"></td>-->
                    <!--<td title="[[item.titleFull]]">[[item.title]]</td>-->
                    <!--<td title="[[item.descriptionFull]]">[[item.description]]</td>-->
                    <!--<td class="[[item.textColor]]">[[item.dueDate]]</td>-->
                    <!--<td class="text-center"><input type="checkbox" class="mTaskAction" ng-show="item.showCheckBox" ng-model="item.status" ng-disabled="!item.updateTaskStatus" ng-change="updateTaskStatus(item.taskId,item.status)"></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--&ndash;&gt;-->
        <!--<a ng-show="show_show_more" ng-click="goToUrl(interactionUrl)" class="pull-right fs-14 cursor-pointer" style="color: #267368;">See More <i class="fa fa-chevron-right"></i></a>-->
    <!--</div>-->

    <br>
    <br>
    <br>
</div>


</div>
</div>
<div class="row" id="email-response" data-ng-controller="send_email_controller">
    <div class="compose-email-container padding1">
        <div class="timeline1-sec">
            <label>Compose Email</label>
            <div class="form">
                <div class="row margin-tb1" style="padding:0;">
                    <div class="col-xs-8" style="padding:0;">
                        <input ng-model="compose_email_subject" type="text" placeholder="Subject :" class="form-control compose-text-box ng-pristine ng-valid">
                    </div>
                    <div class="col-xs-4 text-right">
                        <!--<label class="upload-document attach-document disabled">-->
                            <!--<input type="file" style=" position: fixed;top: -1000px;"><i class="fa fa-upload"></i>-->
                            <!--Attach File-->
                        <!--</label>-->
                        <!--<label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_doc_tracking" class="ng-pristine ng-valid">Enable tracking</label>-->
                    </div>
                </div>

                <div class="row" style="padding:0;">
                    <textarea ng-model="compose_email_body" class="message-send form-control ng-pristine ng-valid"></textarea>
                </div>
                <div style="padding: 10px">
                    <label style="font-weight: 300;font-size: 14px;margin-right:15px;"><input type="checkbox" ng-model="compose_email_track_viewed" class="ng-pristine ng-valid">Track email</label>
                    <label style="font-weight: 300;font-size: 14px;"><input type="checkbox" ng-model="compose_email_remaind" class="ng-pristine ng-valid">Notify in 7 Days</label>
                </div>
            </div>
            <div class="text-right">
                <input type="button" value="Cancel" class="email-reply btn-primary" id="hide-email-response">
                <input id="send-email-but" type="button" ng-click="sendEmail(compose_email_subject,compose_email_body,compose_email_doc_tracking,compose_email_track_viewed,compose_email_remaind,p_name,cEmailId,cuserId)" value="Send Message" class="send-message btn-primary">
            </div>
        </div>
    </div>
</div>

<div class="row popup-custom" id="analytics-box" data-ng-controller="docAnalytics">
    <div class="compose-email-container padding1">
        <div class="timeline1-sec">
            <div style="width:100%; background-color: #ffffff;text-align: -webkit-center;"><br><br>
                <div class="meeting-request-detail" id="analyticsDetails">
                    <span id="firstAccessed">[[firstAccessed]]</span></br>
                    <span id="lastAccessed">[[lastAccessed]]</span></br>
                    <span id="accessCount">[[numerOfTimesAccessed]]</span></br>
                </div><br>
                <span id="analyticMsg"></span>
                <div id="doc_chart">
                </div>

                <button style="float:right;margin-top: -2%;" id="close-doc-analytics" class="btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>

</div>
<div ng-controller="dropWatchController" ></div>
<script>

    //Stacked Area Chart
</script>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

</script>
<script>
    $('#ex3').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
        }
    });
</script>

<script>


</script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script>
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/javascripts/markerCluster.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/angularConfig.js"></script>
<script type="text/javascript" src="/javascripts/companyCustomerjs/selected.js"></script>
<script type="text/javascript" src="/javascripts/directives/error-toggle.js"></script>
<script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>
