<div ng-controller="sidebar_settings">
    <div class="modal-open convert-modal-sidebar" ng-show="account.show">
        <div class="opportunity-form form-box-shadow">
            <div class="modal-header clearfix">

                <div class="col-md-5 clearfix">
                    <h3>Account Settings </h3>
                </div>
                <div class="col-md-7 clearfix">
                    <button class="btn btn-flat btn-green pull-right" ng-click="saveAccountSettings(account)">SAVE</button>
                    <button class="btn btn-flat pull-right cancel" ng-click="closeModal()" >CLOSE</button>
                </div>
            </div>

            <div class="col-md-12">

                <div class="row forms">
                    <div style="padding-left: 0;">

                        <h5 class="bold">Target</h5>
                        <div class="table">
                            <table class="access-control-table targets">
                                <tr>
                                    <th>FY</th>
                                    <th>Target</th>
                                    <th>Cost Of Sales</th>
                                    <th>Cost Of Delivery</th>
                                </tr>
                                <tr ng-repeat="item in datesAndTargets">
                                    <td style="min-width: 100px;">[[item.year]]</td>
                                    <td>
                                        <input ng-model="item.amount" ng-disabled="item.disableEdit" onkeypress="return validateFloatKeyPress(this,event);">
                                    </td>
                                    <td>
                                        <input ng-model="item.costOfSales" ng-disabled="item.disableEdit" onkeypress="return validateFloatKeyPress(this,event);">
                                    </td>
                                    <td>
                                        <input ng-model="item.costOfDelivery" ng-disabled="item.disableEdit" onkeypress="return validateFloatKeyPress(this,event);">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7" style="padding-left: 0;" ng-show="account.accessRequired && account.accessRequired.length>0">
                        <h5 class="bold">New requests for access</h5>
                        <div class="table">
                            <table class="access-control-table">
                                <tr>
                                    <th class="text-left">Grant access</th>
                                    <th>Team member</th>
                                    <th>Requested on</th>
                                </tr>
                                <tr ng-repeat="item in account.accessRequired">
                                    <td class="text-left" ng-click="grantAccess(item)">
                                        <input type="checkbox">
                                    </td>
                                    <td>
                                        <div class="owner contact-profile" title="[[item.fullName]], [[item.emailId]]">
                                            <div class="relative inline-block">
                                                <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)">
                                                <span class="no-img" ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]">[[item.nameNoImg]]</span>
                                                <p class="inline-block">[[item.fullName]]<br>[[item.emailId]]</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>[[item.dateFormatted]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-5" style="padding-left: 0;">

                        <div ng-show="usersWithAccess.length>0" >

                            <h5 class="bold">Shared with </h5>
                            <div class="table">
                                <table class="access-control-table">
                                    <tr>
                                        <th class="text-left">Access</th>
                                        <th>Team mate</th>
                                    </tr>
                                    <tr ng-repeat="item in usersWithAccess">
                                        <td class="text-left" ng-click="removeAccess(item)">
                                            <input type="checkbox" ng-model="item.checked" ng-disabled="item.disabled">
                                        </td>
                                        <td>
                                            <div class="owner contact-profile" title="[[item.fullName]], [[item.emailId]]">
                                                <div class="relative inline-block">
                                                    <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" imageonload="imageNotLoaded(item)">
                                                    <span class="no-img" ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]">[[item.nameNoImg]]</span>
                                                    <p class="inline-block">[[item.fullName]]<br>[[item.emailId]]</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <hr>
                        </div>
                        <label>
                            <input type="checkbox" ng-model="account.reportingHierarchyAccess" ng-click="reConfirmRemoval()">
                            Access to reporting hierarchy
                        </label>
                    </div>
                </div>

                <div class="row" ng-show="activityLog.length>0">

                    <div class="col-md-10 padding0">
                        <h5 class="bold">Activity</h5>

                        <div class="table">
                            <table class="access-control-table">
                                <tr>
                                    <th>Date</th>
                                    <th>What</th>
                                    <th>Who</th>
                                </tr>
                                <tr ng-repeat="item in activityLog">
                                    <td>[[item.date]]</td>
                                    <td>[[item.activity]]</td>
                                    <td>[[item.who.emailId]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-open convert-modal-sidebar" ng-show="account.showMasterData">
        <div class="opportunity-form form-box-shadow">
            <div class="modal-header clearfix">

                <div class="col-md-5 clearfix">
                    <h3>Account Master Data </h3>
                </div>
                <div class="col-md-7 clearfix">
                    <button class="btn btn-flat pull-right cancel" ng-click="closeModal()" >CLOSE</button>
                </div>
            </div>

            <div class="col-md-12">

                <div class="row" ng-repeat="acc in masterDataAccs">
                    <strong>[[acc._id]]</strong>
                    <table class="table">
                        <tr>
                            <th ng-repeat="item in acc.importantHeaders" ng-show="item.name != '_id'">
                                [[item.name]]
                                <i ng-show=" item.name == 'relatasAccount'" class="fs-10 fa fa-info-circle black-color" title="'relatasAccount' is reserved column">
                                </i>
                            </th>
                        </tr>
                        <tr ng-repeat="el in acc.data" class="hover">
                            <td ng-repeat="(key, value) in el" ng-show="key != '_id'" style="background: #fff;">
                                [[value]]
                            </td>
                        </tr>
                    </table>
                    <p ng-show="typeHeaders.length == 0">No master data details found for [[account.name]]</p>
                </div>

                <div class="row">
                    <table class="table">
                        <tr>
                            <th ng-repeat="item in typeHeaders" ng-show="item.name != '_id'">
                                [[item.name]]
                                <i ng-show=" item.name == 'relatasAccount'" class="fs-10 fa fa-info-circle black-color" title="'relatasAccount' is reserved column">
                                </i>
                            </th>
                        </tr>
                        <tr ng-repeat="el in lists" class="cursor hover">
                            <td ng-repeat="(key, value) in el" ng-show="key != '_id'">
                                [[value]]
                            </td>
                        </tr>
                    </table>
                    <p ng-show="typeHeaders.length == 0">No master data details found for [[account.name]]</p>
                </div>
            </div>
        </div>
    </div>
</div>