<div class="embed-converter" ng-show="createNewTask">
    <div class="tasks-create-new form-box-shadow">

        <div class="modal-header clearfix">
            <div class="pull-left">
                <div class="inline-block">
                    <label>To</label>
                </div>
                <div class="inline-block">
                    <div class="contact-list">
                        <ul class="list-unstyled">
                            <li ng-repeat="item in assignList" title="[[item.fullName]], [[item.emailId]]" data-ng-click="removeFromAssigneeList(item)">
                                <span ng-if="item.noPicFlag">[[item.nameNoImg]]</span>
                                <img ng-if="!item.noPicFlag" src="[[item.image]]" imageonload="imageNotLoaded(item)">
                                <p>[[item.fullName]] <i>X</i></p>
                            </li>
                        </ul>
                    </div>
                    <input type="text" ng-show="assignList.length == 0" class="addPeople" ng-model="assignTo" ng-change="searchContacts(assignTo,'onlyOne')">
                    <searched-contacts-1></searched-contacts-1>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary margin0" data-ng-click="saveTask()">ASSIGN</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-white close-btn" data-ng-click="closeTaskCreator()">CANCEL</button>
            </div>
        </div>
        <div class="body">
            Please note that copy-pasting of task description is not supported.
            <div class="row text-editor">
                <div>
                    <label>Task(<span style="color:tomato;">Please note that copy-pasting of task description is not supported.</span>)</label>
                    <!--<textarea type="text" ng-model="task.taskName"></textarea>-->
                    <text-angular ta-toolbar ="toolBarList" ng-model="task.taskName">

                    </text-angular>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cursor selectDate" ng-mouseover="pickDueDate()">
                        <div class="inline-block">
                            Due Date: <i class="fa fa-calendar"></i><span id="dueDate">[[dueDateFormatted]]</span>
                        </div>
                    </div>
                    <div>
                        <div class="inline-block pull-left">
                            <label>Priority</label>
                        </div>
                        <div class="inline-block pull-left clearfix">
                            <div class="pull-left radio">
                                <input id="high" type="radio" ng-model="task.priority" value="high">
                                <label for="high" class="high">
                                    High
                                </label>
                            </div>

                            <div class="pull-left radio">
                                <input id="medium" type="radio" ng-model="task.priority" value="medium">
                                <label for="medium" class="medium">
                                    Medium
                                </label>
                            </div>
                            <div class="pull-left radio">
                                <input id="low" type="radio" ng-model="task.priority" value="low">
                                <label for="low" class="low">
                                    Low
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Add team members</label>
                    <div class="contact-list">
                        <ul class="list-unstyled">
                            <li ng-repeat="item in toList" title="[[item.fullName]], [[item.emailId]]" data-ng-click="removeFromToList(item)">
                                <span ng-if="item.noPicFlag">[[item.nameNoImg]]</span>
                                <img ng-if="!item.noPicFlag" src="[[item.image]]" imageonload="imageNotLoaded(item)">
                                <p>[[item.fullName]] <i>X</i></p>
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="addPeople" ng-model="keyword" ng-change="searchContacts(keyword)">
                    <searched-contacts></searched-contacts>
                </div>
            </div>
        </div>
    </div>

</div>