<div class="modal-open" ng-show="createNewTask">
    <div class="tasks-create-new form-box-shadow">

        <div class="modal-header clearfix">
            <div class="pull-left">
                <h5 class="bold">Create new discussion point</h5>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary margin0" data-ng-click="saveTask()">SEND</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-white close-btn" data-ng-click="createNewTask = false">CANCEL</button>
            </div>
        </div>
        <div class="body">

            <div class="row">
                <label>Add team members</label>
                <div class="contact-list">
                    <ul class="list-unstyled">
                        <li ng-repeat="item in toList" title="[[item.fullName]], [[item.emailId]]" data-ng-click="removeFromToList(item)">
                            <span ng-if="item.noPicFlag">[[item.nameNoImg]]</span>
                            <img ng-if="!item.noPicFlag" src="[[item.image]]" imageonload="imageNotLoaded(item)">
                            <p>[[item.fullName]] <i>X</i></p>
                        </li>
                    </ul>
                </div>
                <input type="text" ng-model="keyword" ng-change="searchContacts(keyword)">
                <searched-contacts></searched-contacts>
            </div>
            <div class="row">
                <div ng-mouseover="pickStartDate()">
                    <div class="inline-block">
                        Start Date
                    </div>
                    <div class="inline-block">
                        <i class="fa fa-hourglass-start"></i><span id="startDate">[[startDateFormatted]]</span>
                    </div>
                </div>
                <div ng-mouseover="pickDueDate()">
                    <div class="inline-block">
                        Due Date
                    </div>
                    <div class="inline-block">
                        <i class="fa fa-hourglass-end"></i><span id="dueDate">[[dueDateFormatted]]</span>
                    </div>
                </div>
                <div>
                    <div class="inline-block">
                        <label>Priority</label>
                    </div>
                    <div class="inline-block clearfix">
                        <div class="pull-left radio">
                            <input id="high" type="radio" ng-model="task.priority" value="high">
                            <label for="high" class="high">
                                High
                            </label>
                        </div>

                        <div class="pull-left radio">
                            <input id="medium" type="radio" ng-model="task.priority" value="medium">
                            <label for="medium" class="medium">
                                Medium
                            </label>
                        </div>
                        <div class="pull-left radio">
                            <input id="low" type="radio" ng-model="task.priority" value="low">
                            <label for="low" class="low">
                                Low
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Title</label>
                    <input type="text" ng-model="task.taskName">
                </div>
                <div>
                    <label>Description</label>
                    <textarea type="text" ng-model="task.description"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>