<div ng-show="ifTaskDiscussion" class="conversations row">

    <div class="reply row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <textarea ng-model="replyMessage" placeholder="Type your message..."></textarea>
            <div class="btn btn-primary" data-ng-click="sendMessage(replyMessage,task)" >
                SEND
            </div>
        </div>
    </div>

    <div ng-show="showTaskNameEditor" class="only-te">
        <div class="text-editor">
            <label>Task</label>
            <div text-angular="text-angular" name ="taskName" ta-toolbar ="toolBarList" ng-model="taskName">
            </div>
        </div>
        <div class="footer">
            <button class="btn btn-white close-btn" data-ng-click="closeTaskName()">CANCEL</button>
            <button class="btn btn-primary" data-ng-click="saveTaskName(taskName)">SAVE</button>
        </div>
    </div>

    <div class="col-md-3">
        <div class="task-in-focus">
            <div class="separator">
                <div data-ng-click="changePriority()">
                    <div class="inline-block">Priority: </div>
                    <div class="inline-block">
                        <div class="inline-block priority cursor">
                            <div class="[[task.priority]]">
                                [[task.priority]]
                            </div>
                        </div>
                        <div class="drop-down-list" ng-show="openPriorityList">
                            <ul class="list-unstyled">
                                <li ng-repeat="el in taskPrioritiesList" data-ng-click="selectNewPriority(task,el)">[[el]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cursor" id="changeDueDate" ng-mouseover="pickDueDate()">Due Date: [[task.dueDateFormatted]]</div>
                    <div>
                        <div ng-show="openNewStatusList" class="close-div drop-down-list">
                            <ul class="list-unstyled">
                                <li ng-repeat="el in taskStatus" data-ng-click="selectNewStatus(task,el)">[[el]]</li>
                            </ul>
                        </div>
                        <div class="inline-block status cursor" data-ng-click="changeStatus()">Status: [[task.statusFormatted]]</div>
                    </div>
                </div>
            </div>
            <div class="separator">
                <div title="[[task.to.fullName]],[[task.to.emailId]]">Assigned To: [[task.to.fullName]]</div>
                <div>Others:</div>
                <ul class="inline-block list-unstyled">
                    <li ng-repeat="item in task.otherParticipants">[[item.fullName]]</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="header clearfix">

            <div class="pull-left">
                <h5 class="title cursor" data-ng-click="editTaskName()">
                    <div ng-bind-html="[[task.taskName]]">

                    </div>
                </h5>
            </div>
            <div class="pull-right">
                <button class="btn btn-white close-btn" data-ng-click="closeDiscussion()">CLOSE</button>
            </div>
        </div>

        <div class="history">
            <div ng-repeat="message in pastMessages" class="clearfix">
                <div class="pull-left receiver" ng-show="!message.isSender">
                    <div class="profile pull-left" title="[[message.profile.fullName]], [[message.profile.emailId]]">
                        <span ng-if="message.profile.noPicFlag">[[message.profile.nameNoImg]]</span>
                        <img ng-if="!message.profile.noPicFlag" src="[[message.profile.image]]" imageonload="imageNotLoaded(message.profile)">
                    </div>
                    <div class="message pull-left">
                        <div>
                            [[message.text]]
                        </div>
                        <div class="lite">
                            [[message.sentDateTime]]
                        </div>
                    </div>
                </div>
                <div class="pull-right sender" ng-show="message.isSender">
                    <div class="profile pull-right">
                        <!--<span ng-if="message.profile.noPicFlag">[[message.profile.nameNoImg]]</span>-->
                        <!--<img ng-if="!message.profile.noPicFlag" src="[[message.profile.image]]" imageonload="imageNotLoaded(message.profile)">-->
                        <!--[[message.profile.firstName]]-->
                    </div>
                    <div class="message pull-right">
                        <div>
                            [[message.text]]
                        </div>
                        <div class="lite">
                            [[message.sentDateTime]]
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>