<div class="pipeline-comparison" ng-show="graphLoading">
    <i class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
</div>
<div class="row" ng-show="!graphLoading">
    <div class="col-md-4">
        <h5 class="bg">Not Started <span class="fs-12">([[notStartedList.length]])</span></h5>
        <div class="tasks-column">
        <!--<div ng-repeat="item in notStartedList" class="task-wrapper row" ng-init="$first && openDiscussion(item)" data-ng-click="openDiscussion(item)">-->
        <div ng-repeat="item in notStartedList" class="task-wrapper row" data-ng-click="openDiscussion(item)">
            <div>
                <div class="object">
                    <div class="clearfix header">
                        <div class="pull-left">
                            <div class="lite date">Due on [[item.dueDateFormatted]]</div>
                            <div class="lite date">Assigned on [[item.createdDateFormatted]]</div>
                        </div>
                        <div class="pull-right priority">
                            <div class="[[item.priority]]">
                                [[item.priority]]
                            </div>
                        </div>
                    </div>
                    <h5 class="title">
                        <div ng-bind-html="[[item.taskName]]"></div>
                    </h5>
                    <div ng-show="openNewStatusList" class="drop-down-list">
                        <ul class="list-unstyled">
                            <li ng-repeat="el in taskStatus" data-ng-click="selectNewStatus(item,el)">[[el]]</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix people">
                <div class="pull-left">
                    <strong>To:</strong>
                </div>
                <div class="pull-left">
                    <div class="profile" title="[[item.to.fullName]], [[item.to.emailId]]">
                        <span ng-if="item.to.noPicFlag">[[item.to.nameNoImg]]</span>
                        <img ng-if="!item.to.noPicFlag" src="[[item.to.image]]" imageonload="imageNotLoaded(item.to)">
                        [[item.to.fullName]]
                    </div>
                </div>
            </div>
            <div class="clearfix people">
                <div class="pull-left">
                    <strong>By:</strong>
                </div>
                <div class="pull-left">
                    <div class="profile" title="[[item.by.fullName]], [[item.by.emailId]]">
                        <span ng-if="item.by.noPicFlag">[[item.by.nameNoImg]]</span>
                        <img ng-if="!item.by.noPicFlag" src="[[item.by.image]]" imageonload="imageNotLoaded(item.by)">
                        [[item.by.fullName]]
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="bg">In Progress <span class="fs-12">([[inProgressList.length]])</span></h5>
        <div class="tasks-column">
            <div ng-repeat="item in inProgressList" class="task-wrapper row" data-ng-click="openDiscussion(item)">
                <div>
                    <div class="object">
                        <div class="clearfix header">
                            <div class="pull-left">
                                <div class="lite date">Due on [[item.dueDateFormatted]]</div>
                                <div class="lite date">Assigned on [[item.createdDateFormatted]]</div>
                            </div>
                            <div class="pull-right priority">
                                <div class="[[item.priority]]">
                                    [[item.priority]]
                                </div>
                            </div>
                        </div>
                        <h5 class="title">
                            <div ng-bind-html="[[item.taskName]]"></div>
                        </h5>
                        <div ng-show="openNewStatusList" class="drop-down-list">
                            <ul class="list-unstyled">
                                <li ng-repeat="el in taskStatus" data-ng-click="selectNewStatus(item,el)">[[el]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix people">
                    <div class="pull-left">
                        <strong>To:</strong>
                    </div>
                    <div class="pull-left">
                        <div class="profile" title="[[item.to.fullName]], [[item.to.emailId]]">
                            <span ng-if="item.to.noPicFlag">[[item.to.nameNoImg]]</span>
                            <img ng-if="!item.to.noPicFlag" src="[[item.to.image]]" imageonload="imageNotLoaded(item.to)">
                            [[item.to.fullName]]
                        </div>
                    </div>
                </div>
                <div class="clearfix people">
                    <div class="pull-left">
                        <strong>By:</strong>
                    </div>
                    <div class="pull-left">
                        <div class="profile" title="[[item.by.fullName]], [[item.by.emailId]]">
                            <span ng-if="item.by.noPicFlag">[[item.by.nameNoImg]]</span>
                            <img ng-if="!item.by.noPicFlag" src="[[item.by.image]]" imageonload="imageNotLoaded(item.by)">
                            [[item.by.fullName]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="bg">Completed <span class="fs-12">([[completedList.length]])</span></h5>
        <div class="tasks-column">
        <div ng-repeat="item in completedList" class="task-wrapper row" data-ng-click="openDiscussion(item)">
            <div>
                <div class="object">
                    <div class="clearfix header">
                        <div class="pull-left">
                            <div class="lite date">Due on [[item.dueDateFormatted]]</div>
                            <div class="lite date">Assigned on [[item.createdDateFormatted]]</div>
                        </div>
                        <div class="pull-right priority">
                            <div class="[[item.priority]]">
                                [[item.priority]]
                            </div>
                        </div>
                    </div>
                    <h5 class="title">
                        <div ng-bind-html="[[item.taskName]]"></div>
                    </h5>
                    <div ng-show="openNewStatusList" class="drop-down-list">
                        <ul class="list-unstyled">
                            <li ng-repeat="el in taskStatus" data-ng-click="selectNewStatus(item,el)">[[el]]</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix people">
                <div class="pull-left">
                    <strong>To:</strong>
                </div>
                <div class="pull-left">
                    <div class="profile" title="[[item.to.fullName]], [[item.to.emailId]]">
                        <span ng-if="item.to.noPicFlag">[[item.to.nameNoImg]]</span>
                        <img ng-if="!item.to.noPicFlag" src="[[item.to.image]]" imageonload="imageNotLoaded(item.to)">
                        [[item.to.fullName]]
                    </div>
                </div>
            </div>
            <div class="clearfix people">
                <div class="pull-left">
                    <strong>By:</strong>
                </div>
                <div class="pull-left">
                    <div class="profile" title="[[item.by.fullName]], [[item.by.emailId]]">
                        <span ng-if="item.by.noPicFlag">[[item.by.nameNoImg]]</span>
                        <img ng-if="!item.by.noPicFlag" src="[[item.by.image]]" imageonload="imageNotLoaded(item.by)">
                        [[item.by.fullName]]([[item.by.emailId]])
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>