<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp" class="ng-scope">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box CRM which provides smart Relationship Intelligence for small businesses and sales teams.">
    <meta name="author" content="Relatas">
    <title>Help | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    <script async="" src="/Today_files/analytics.js"></script>
    <style type="text/css">@charset "UTF-8";

    ng\:form {
        display: block;
    }</style>

    <link href="/Today_files/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/Today_files/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="stylesheets/css/Mediaquery.css" rel="stylesheet">
    <link href="/stylesheets/css/calendar.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/chartist.min.css">
    <script src="/Today_files/jquery.js"></script>
    <script src="/Today_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>
    <script src="/Today_files/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../javascripts/help/help.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!--[endif]-->

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="/Today_files/Mediaquery.css" rel="stylesheet">
    <style>
        .nav>li>a>img {
            max-width: 120px;
            margin-top: 9px;
        }

        #sidebar-wrapper {
            margin-top: 50px !important;
        }

        @media only screen and (max-width: 768px) {
            .toggle-sidebar {
                display: none;
            }
            .nav>li>a>img {
                height: 30px;
                width: 30px;
            }
            #menu-toggle {
                position: relative;
                top: 5px;
                right: 98px;
            }
        }

        @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation: portrait){
            .toggle-sidebar {
                display: block;
            }
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    <script>

        $(document).ready(function(){
            $(".open-leftbar").click(function(){
                $("#sidebar-wrapper").toggle();
            });
        });
    </script>
</head>

<body style="overflow-x:hidden" ng-cloak>
<div id="header-v2" data-ng-include="'/schedule/header_no_mid'"></div>

    <div class="row">
        <div id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}} toggle-sidebar" id="{{disableNav}}"></div>
    </div>
</div>


<div class="container" style="margin-top: 15vh;">

    <div class="row">

        <div class="col-md-8 text-center">
            <div class="col-md-4">
                <div class="col-md-offset-1 col-md-4 hidden-xs hidden-sm" style="    padding-top: 10px;"><p style="font-size: 13px;">HELP</p></div>
                <div class="col-sm-12 hidden-md hidden-lg" style="padding: 0;"><p style="font-size: 13px;">HELP</p></div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;">
                        <p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Settings</p>
                        <p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Settings</p>
                        <p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Deactive daily mails</p></div>
                    <div id="bsettings" class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;">
                        <a href="/settings" class="btn btn-primary" type="submit" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;">
                            <p style="padding-top: 5px;">Settings</p></a>
                    </div>


                    <div id="set_sm-dontShow" class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-10 hidden-md hidden-lg" style="background-color: #267368;    margin-top: 10px;    margin-bottom: 10px;    height: 345px !important; display:none;">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Deactivate Mail Notifications</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Deactivate Mail Notifications</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Deactive daily mails</p></div>
                    <div id="bsettings" class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;">
                        <a href="/settings#from-help" class="btn btn-primary" type="submit" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">Deactivate</p></a></div>


                    <div id="set_sm-DontShow" class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-10 hidden-md hidden-lg" style="background-color: #267368;    margin-top: 10px;    margin-bottom: 10px;    height: 345px !important; display:none;">

                        <div class="row">
                            <p style="  color: white;  text-align: center;    padding: 12px 0px;">Settings<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
                            <textarea class="form-control" style="border-right: none; border-left: none; text-align: justify;    height: 250px !important;    font-size: 12px; color:#B9B9B9" placeholder="Settings">
                            </textarea>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Product Tour</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Product Tour</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Product Tour</p></div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;">
                        <button class="btn btn-primary" type="submit" style="outline: none;text-transform: uppercase;font-weight: 400;padding: 0;width: 200px;border-radius: 0;color: white;margin-top: 0px;">
                            <p style="padding-top: 5px;" ng-controller="external_links">
                                <a ng-show="isCorporate" style="color:#fff;" href="https://s3.amazonaws.com/relatas-live-storage/OnboardRelatasForBusiness.pdf" target="_blank">Take Product Tour</a>
                                <a ng-show="!isCorporate" style="color:#fff;" href="https://s3.amazonaws.com/relatas-live-storage/OnboardRetail_Relatas.pdf" target="_blank">Take Product Tour</a>
                            </p>
                        </button>
                    </div>

                    <div id="tour_sm" class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-10 hidden-md hidden-lg" style="margin-top: 10px;    margin-bottom:10px;   height: 345px !important;    border: 1px solid #CCCCCC;display:none;">
                        <div class="row">
                            <p style="  color: grey;  text-align: center;    padding: 12px 0px;">PRODUCT TOUR<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>

                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <!--<div class="item active">-->
                                        <!--<img src="/images/onboarding/su-right-bg-2.jpg" alt="Schedule">-->
                                    <!--</div>-->
                                    <div class="item active">
                                        <img src="/images/onboarding/dashboard.jpg" alt="Dashboard">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/GIM.jpg" alt="Global Interaction Maps">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/contact.jpg" alt="Contacts">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/interactions.jpg" alt="Interactions">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/3A.jpg" alt="Interactions">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/ExtendedSearch.jpg" alt="Interactions">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/hashtag.jpg" alt="Interactions">
                                    </div>
                                    <div class="item">
                                        <img src="/images/onboarding/schedule.jpg" alt="Schedule Two">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="fa fa-chevron-left " aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Support</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Support</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Support</p></div>
                    <div id="bcontact" class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;"> <button class="btn btn-primary" type="submit" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">Click to Contact</p></button></div>

                    <div id="cnt_sm" class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-10 hidden-md hidden-lg" style="margin-top: 10px;    margin-bottom:10px;    border: 1px solid #CCCCCC; display:none;">

                        <div class="row" style=" background-color: #73c8ff;    padding: 15px 0px;">
                            <p style="  color: white;  text-align: center;">Happy To Help You
                                <a style="color: white;cursor: pointer;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="    background-color: white;">
                                <div class="col-sm-12">
                                    <p style="color: #73c8ff"><img src="landing/img/logo-sm.png"><span style="padding-left: 25px;">Arjun</span></p>
                                </div>
                                <div class="col-sm-12">
                                    <p style="font-size: 12px;  color: #B9B9B9; margin-bottom: 0px;"><i class="fa fa-envelope"></i> support@relatas.com</p>
                                    <p style=" font-size: 12px;   color: #B9B9B9;"><i class="fa fa-envelope" style="    color: white;"></i> Happy to Help you</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <textarea class="form-control" rows="3" style="border-right: none; border-left: none;     height: 200px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you ....."></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-7" style="    padding: 15px 0px; color:#949494">
                                <p style="font-size: 12px; margin-bottom: 0px;">Suresh Hoel</p>
                                <p style="font-size: 12px; margin-bottom: 0px;">Phone : +91 9090909090</p>
                                <p style="font-size: 12px; margin-bottom: 0px;">Email : shoel@gmail.com</p>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-primary" type="submit" style="    outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;    width: 100%;    border-radius: 0;    color: white;  margin-top: -5px;    margin-bottom: 15px;">SEND</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Privacy Policy</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Privacy Policy</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Privacy Policy</p></div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;"> <a class="btn btn-primary" href="https://relatas.com/privacy" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">View</p></a></div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Terms of Service</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Terms of Service</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Terms of Service</p></div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;"> <a class="btn btn-primary" href="https://relatas.com/terms" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">View</p></a></div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">FAQ</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">FAQ</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">FAQ</p></div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;"> <a class="btn btn-primary" href="https://relatas.com/faq" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">View</p></a></div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-12" style="padding-top: 10px;"><p class="hidden-sm hidden-xs" style="font-size: 13px;    float: left;">Delete account</p><p class="hidden-md hidden-lg hidden-sm" style="font-size: 13px;">Delete account</p><p class="hidden-md hidden-lg hidden-xs" style="font-size: 13px;float: left;  margin-left:150px;">Delete account</p></div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="    z-index: 5;"> <button id="contactDelete" class="btn btn-primary" type="submit" style="outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;     width: 200px;    border-radius: 0;    color: white;       margin-top: 0px;"><p style="    padding-top: 5px;">Click to contact</p></button></div>

                    <!--<div id="del_sm" class="col-sm-offset-3 col-sm-7 col-xs-offset-1 col-xs-10 hidden-md hidden-lg" style="margin-top: 10px;    margin-bottom:10px;    border: 1px solid #CCCCCC; display:none;">-->

                        <!--<div class="row" style=" background-color: #73c8ff;    padding: 15px 0px;">-->
                            <!--<p style="  color: white;  text-align: center;"><span style=" float: left;"><i class="fa fa-user fa-2x" style="    margin-left: 15px;"></i></span>Happy To Help You<span style="color: white;cursor: pointer;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></span></p>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-12" style="    background-color: white;">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<p style="color: #73c8ff"><img src="landing/img/logo-sm.png"><span style="padding-left: 25px;">Arjun</span></p>-->
                                <!--</div>-->
                                <!--<div class="col-sm-12">-->
                                    <!--<p style="font-size: 12px;  color: #B9B9B9; margin-bottom: 0px;"><i class="fa fa-envelope"></i> support@relatas.com</p>-->
                                    <!--<p style=" font-size: 12px;   color: #B9B9B9;"><i class="fa fa-envelope" style="    color: white;"></i> Happy to Help you</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row">-->
                            <!--<textarea class="form-control" rows="3" style="border-right: none; border-left: none;     height: 200px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you ....."></textarea>-->
                        <!--</div>-->
                        <!--<div row>-->
                            <!--<div class="col-md-7" style="    padding: 15px 0px; color:#949494">-->
                                <!--<p style="font-size: 12px; margin-bottom: 0px;">Suresh Hoel</p>-->
                                <!--<p style="font-size: 12px; margin-bottom: 0px;">Phone : +91 9090909090</p>-->
                                <!--<p style="font-size: 12px; margin-bottom: 0px;">Email : shoel@gmail.com</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-5">-->
                                <!--<button class="btn btn-primary" type="submit" style="    outline: none;    text-transform: uppercase;    font-weight: 400;    padding: 0px 0px;    width: 100%;    border-radius: 0;    color: white;  margin-top: -5px;    margin-bottom: 15px;"><p style="    padding-top: 5px;">SEND</p></button>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>
            </div>
        </div>

        <!-- product tour -->
        <div id="tour" class="col-md-12 hidden-sm hidden-xs" style="margin-top: 5vh;padding: 10px;margin-bottom: 15px;  min-height: 250px !important;    border: 1px solid #CCCBCB; display:none;    z-index: 5;    margin-left: 3%;">
            <p class="text-center" style="color: #AFAFAF;    padding: 20px 0px;">PRODUCT TOUR</p>
            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!--<div class="item">-->
                        <!--<img src="/images/onboarding/su-right-bg-2.jpg" alt="Schedule">-->
                    <!--</div>-->
                    <div class="item active">
                        <img src="/images/onboarding/dashboard.jpg" alt="Dashboard">
                    </div>
                    <div class="item">
                        <img src="/images/onboarding/GIM.jpg" alt="Global Interaction Maps">
                    </div>
                    <div class="item">
                        <img src="/images/onboarding/contact.jpg" alt="Contacts">
                    </div>
                    <div class="item">
                        <img src="/images/onboarding/interactions.jpg" alt="Interactions">
                    </div>

                    <div class="item">
                        <img src="/images/onboarding/schedule.jpg" alt="Schedule Two">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left " aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- product tour//end -->


        <!-- contact -->

        <div id="contact" class="col-md-4 col-sm-12 hidden-sm hidden-xs" style=" border:1px solid #CCCBCB; display:none;z-index: 5;" data-ng-controller="support_controller">
            <div class="row" style=" background-color: #267368;    padding: 15px 0px;">
                <p style="  color: white;  text-align: center;"><span class="pull-left" style="font-size: 14px;padding: 0 15px;">Happy To Help You</span><a style="color: white;cursor: pointer;" class="close-help"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
            </div>
            <div class="row">
                <textarea class="form-control" rows="3" placeholder="How we can help you?" ng-model="messageSupport" style="height: 250px !important;border-left: none;border-right: none;font-size: 12px;"></textarea>
            </div>
            <div class="row clearfix">
                <button class="btn btn-primary" type="submit" ng-click="sendEmail(messageSupport)" style="margin: 10px;text-align: right;float: right;">SEND</button>
            </div>
        </div>

        <!-- contact//end -->


        <!-- Privacy policy -->

        <div id="privacy" class="col-md-4 col-sm-12 hidden-sm hidden-xs" style=" border: 1px solid #CCCBCB;    height: 500px !important;     background-color: #267368; display:none;  z-index: 5;">
            <div class="row" style=" background-color: #267368;    padding: 15px 0px;  ">
                <p style="  color: white;  text-align: center;">Privacy Policy<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
            </div>


            <div class="row">
                <textarea class="form-control disabled" style="    background-color: white !important;    opacity: 1;border-right: none; border-left: none; text-align: justify;    height: 400px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you .....">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </textarea>
            </div>
        </div>

        <!-- Privacy policy//end -->



        <!-- Terms -->

        <div id="terms" class="col-md-4 col-sm-12 hidden-sm hidden-xs" style=" border: 1px solid #CCCBCB;    height: 500px !important;     background-color: #267368; display:none;  z-index: 5;">
            <div class="row" style=" background-color: #267368;    padding: 15px 0px;  ">
                <p style="  color: white;  text-align: center;">Terms of Service<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
            </div>


            <div class="row">
                <textarea class="form-control disabled" style="    background-color: white !important;    opacity: 1;border-right: none; border-left: none; text-align: justify;    height: 400px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you .....">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </textarea>
            </div>
        </div>

        <!-- Terms//end -->


        <!-- FAQ -->

        <div id="faq" class="col-md-4 col-sm-12 hidden-sm hidden-xs" style=" border: 1px solid #CCCBCB;    height: 500px !important;     background-color: #267368; display:none; z-index: 5;">
            <div class="row" style=" background-color: #267368;    padding: 15px 0px;   ">
                <p style="  color: white;  text-align: center;">FAQ<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>
            </div>


            <div class="row">
                <textarea class="form-control" style="border-right: none; border-left: none; text-align: justify;    height: 400px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you .....">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </textarea>
            </div>
        </div>

        <!-- FAQ//end -->



        <!-- Settings -->

        <!--<div id="settings" class="col-md-4 hidden-sm hidden-xs" style=" border: 1px solid #CCCBCB;    height: 500px !important;     background-color: #267368; display:none; z-index: 5;">-->
            <!--<div class="row" style=" background-color: #267368;    padding: 15px 0px;   ">-->
                <!--<p style="  color: white;  text-align: center;">Settings<a href="" style="color: white;"><span style=" float: right;    margin-right: 25px;    border: 1px solid white;    border-radius: 50%;    padding: 2px 7px;">X</span></a></p>-->
            <!--</div>-->


            <!--<div class="row">-->
                <!--<textarea class="form-control" style="border-right: none; border-left: none; text-align: justify;    height: 400px !important;    font-size: 12px; color:#B9B9B9" placeholder="Please let us know how we can help you .....">-->
                <!--</textarea>-->
            <!--</div>-->
        </div>

        <!-- Settings//end -->



    </div>


    <!-- line settings ////////////////////-->
    <div id="ls1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;      margin: -480px 680px;
    z-index: 3; display:none;"></div>
    <div id="ls2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -480px 575px;
  z-index: 3; display:none;"></div>
    <!-- /////////////////////////////// -->



    <!-- line tour ////////////////////-->
    <div id="lt1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    border-right: 1px solid #D6D5D5;    margin: -510px 680px;    z-index: 3;    height: 245px;display:none;"></div>
    <div id="lt2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style=" position: absolute;    border-top: 1px solid #D6D5D5;    border-right: 1px solid #D6D5D5;    margin: -506px 600px;    z-index: 3;    height: 242px;display:none;"></div>
    <!-- /////////////////////////////// -->



    <!-- line contact ////////////////////-->
    <div id="lc1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;  margin: -410px 680px;    z-index: 3; display:none; "></div>
    <div id="lc2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -410px 575px;  z-index: 3; display:none; "></div>
    <!-- /////////////////////////////// -->


    <!-- line privacy ////////////////////-->
    <div id="lp1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;  margin: -365px 680px;    z-index: 3;  display:none; "></div>
    <div id="lp2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -365px 575px;  z-index: 3; display:none; "></div>
    <!-- /////////////////////////////// -->


    <!-- line terms ////////////////////-->
    <div id="ltr1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;  margin: -330px 680px;    z-index: 3; display:none;"></div>
    <div id="ltr2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -330px 575px;  z-index: 3; display:none;"></div>
    <!-- /////////////////////////////// -->



    <!-- line faq ////////////////////-->
    <div id="lf1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;  margin: -290px 680px;    z-index: 3; display:none;"></div>
    <div id="lf2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -290px 575px;  z-index: 3; display:none;"></div>
    <!-- /////////////////////////////// -->



    <!-- line del ////////////////////-->
    <div id="ld1" class="col-lg-1 hidden-md hidden-xs hidden-sm" style="position: absolute;  border-top: 1px solid #D6D5D5;  margin: -255px 680px;    z-index: 3; display:none;"></div>
    <div id="ld2" class="col-md-1 hidden-lg hidden-xs hidden-sm" style="position: absolute;    border-top: 1px solid #D6D5D5;    margin: -255px 575px;  z-index: 3; display:none;"></div>
    <!-- /////////////////////////////// -->



    <script type="text/javascript">

        $(document).ready(function() {

            /*settings*/
            document.getElementById('bsettings').addEventListener('click', function () {
                $("#terms,#privacy,#contact,#tour,#faq,#lt1,#lt2,#lc1,#lc2,#lp1,#lp2,#ltr1,#ltr2,#lf1,#lf2,#ld1,#ld2,#tour_sm,#cnt_sm,#pri_sm,#terms_sm,#faq_sm,#del_sm").css("display", "none");//hiddn sections
                $("#settings,#ls1,#ls2,#set_sm").css("display", "block");//shw sections
                //alert('Error');
            }, false);

            /*tour*/
            document.getElementById('btour').addEventListener('click', function () {
                $("#terms,#privacy,#contact,#faq,#settings,#lc1,#lc2,#lp1,#lp2,#ltr1,#ltr2,#lf1,#lf2,#ld1,#ld2,#ls1,#ls2,#set_sm,#cnt_sm,#pri_sm,#terms_sm,#faq_sm,#del_sm").css("display", "none");//hiddn sections
                $("#tour,#lt1,#lt2,#tour_sm").fadeIn();//shw sections
                //alert('Error');
            }, false);


            /*support*/
            document.getElementById('bcontact').addEventListener('click', function () {
                $("#terms,#privacy,#tour,#faq,#settings,#lt1,#lt2,#lp1,#lp2,#ltr1,#ltr2,#lf1,#lf2,#ld1,#ld2,#ls1,#ls2,#set_sm,#tour_sm,#pri_sm,#terms_sm,#faq_sm,#del_sm").css("display", "none");//hiddn sections
                $("#contact,#lc1,#lc2,#cnt_sm").fadeIn();//shw sections
                //alert('Error');
            }, false);

//            /*privacy*/
//            document.getElementById('bprivacy').addEventListener('click', function () {
//                $("#terms,#contact,#tour,#faq,#settings,#lt1,#lt2,#lc1,#lc2,#ltr1,#ltr2,#lf1,#lf2,#ld1,#ld2,#ls1,#ls2,#set_sm,#tour_sm,#cnt_sm,#terms_sm,#faq_sm,#del_sm").css("display", "none");//hiddn sections
//                $("#privacy,#lp1,#lp2,#pri_sm").fadeIn();//shw sections
//                //alert('Error');
//            }, false);
//
//            /*terms*/
//            document.getElementById('bterms').addEventListener('click', function () {
//                $("#privacy,#contact,#tour,#faq,#lt1,#lt2,#lc1,#lc2,#lp1,#lp2,#lf1,#lf2,#ld1,#ld2,#ls1,#ls2,#set_sm,#tour_sm,#cnt_sm,#pri_sm,#faq_sm,#del_sm").css("display", "none");//hiddn sections
//                $("#terms,#ltr1,#ltr2,#terms_sm").fadeIn();//shw sections
//                //alert('Error');
//            }, false);
//
//            /*faq*/
//            document.getElementById('bfaq').addEventListener('click', function () {
//                $("#privacy,#contact,#tour,#terms,#settings,#lt1,#lt2,#lc1,#lc2,#lp1,#lp2,#ltr1,#ltr2,#ld1,#ld2,#ls1,#ls2,#set_sm,#tour_sm,#cnt_sm,#pri_sm,#terms_sm,#del_sm").css("display", "none");//hiddn sections
//                $("#faq,#lf1,#lf2,#faq_sm").fadeIn();//shw sections
//                //alert('Error');
//            }, false);
//            /*del*/

            document.getElementById('contactDelete').addEventListener('click', function () {
                $("#privacy,#faq,#tour,#terms,#settings,#lt1,#lt2,#lp1,#lp2,#ltr1,#ltr2,#lf1,#lf2,#lc1,#lc2,#ls1,#ls2,#set_sm,#tour_sm,#cnt_sm,#pri_sm,#terms_sm,#faq_sm").css("display", "none");//hiddn sections
                $("#contact,#ld1,#ld2,#del_sm").fadeIn();//shw sections
                //alert('Error');
            }, false);

        });
    </script>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>

</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });

</script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
<script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>
</body>
</html>