
<div class="container clearfix-top ">
    <div class="row clearfix">
        <div class="col-md-5" >
            <form>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Opportunity Reference</label>
                    <div class="col-md-6">
                    <input type="text" readonly class="form-control" value="opportunity with Relatas">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Quotation Number</label>
                    <div class="col-md-6">
                    <input type="text" readonly class="form-control" value="AZE8909090">
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-4 col-form-label">Validity Date</label>
                        <div class="col-md-6">
                        <input type="text" class="form-control" value="12/5/18">
                        </div>
                </div>
            </form>
            
        </div>
        
        <div class="col-md-5 pull-right" >
            <form>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Contact Name</label>
                    <div class="col-md-6">
                    <input type="text" readonly class="form-control" value="john@relatas.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Reference Number</label>
                    <div class="col-md-6">
                    <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Version Number</label>
                    <div class="col-md-6">
                    <input type="text" readonly class="form-control" value="2.1">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container text-xs-center clearfix-table">
    <div class="row">
        <div class="col-md-4" >
            <div class="card">
                <div class="card-header">
                    <p><b>From</b></p>
                </div>
                <input type="text" class="card-block" value="Sudip Dutta"> 
                <textarea class="card-block" rows="1" cols="50"></textarea>                          
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <p><b>Bill To</b></p>
                </div>
                <input type="text" class="card-block" value="Nandan">                                                       
                <textarea class="card-block" rows="1" cols="50"></textarea>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <p><b>Ship To</b></p>
                </div>
                <input type="text" class="card-block" value="Nandan">
                <textarea class="card-block" rows="1" cols="50"></textarea>                        
            </div>
        </div>
    </div>
</div>   
        <div class="col-md-12">
            <div class="col-margin" ng-controller = "onlineQuotation">
                <table class="table ">
                    <tr>
                        <th ng-repeat="header in tableHeaders">[[header]]</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>[[product.type]]</td>
                            <td contenteditable='true'>[[product.description]]</td>
                            <td contenteditable='true'>[[product.hsn]]</td>
                            <td contenteditable='true'>[[product.quantity]]</td>
                            <td contenteditable='true'>[[product.currency]]</td>
                            <td contenteditable='true'>[[product.rate]]</td>
                            <td>[[product.subTotal]]</td>
                            <td contenteditable='true'>[[product.cgst]]</td>
                            <td contenteditable='true'>[[product.sgst]]</td>
                            <td contenteditable='true'>[[product.igst]]</td>
                            <td>[[product.total]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-5">
            <!-- <a href="#"><span class="add-row">+Add Another Line</span></a> -->
        </div>
        <div class="col-md-5 pull-right">
            <form>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Adjustments</label>
                    <div class="col-md-6">
                    <input type="text" class="form-control" value="0">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Total</label>
                    <div class="col-md-6">
                    <input type="text" readonly class="form-control" value="4500">
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>
        
            <div class="container clearfix-top">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>Terms and Conditions</b></p>
                        <textarea class="description" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
        
            <div class="container clearfix-top">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>Additional Notes for the Customer</b></p>
                        <textarea class="description" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>