<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Reports | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
    <nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

    <div class="container-fluid opportunity-page">
        <div class="row">
            <div class="leftside-bar contact-list-hidden-xs">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
            </div>
            <div class="wrapper admin-insights" ng-controller="insights">
                <div class="main">
                    <div class="filters horizontal-menu-top clearfix">
                        <h4 style="text-align: center;margin-top: -10px;text-decoration: underline;">Data for [[selection.fullName]] ([[selectedCompany]])</h4>
                        <div class="pull-left">

                            <div class="inline-block">
                                Activity for the last
                            </div>

                            <div class="inline-block">
                                <div class="dt-range [[range.selected]]" ng-repeat="range in dateRanges" data-ng-click="getForRange(range)">
                                    [[range.name]]
                                </div>
                            </div>
                        </div>
                        <div class="pull-right clearfix">
                            <div class="inline-block">
                                <ul class="list-unstyled clearfix">
                                    <li>
                                        <button class="btn btn-green">Download XLS</button>
                                    </li>
                                    <li>
                                        <div class="company-list">
                                            <select ng-model="selectedCompany" ng-options="x for x in names | orderBy" ng-change="getCompany(selectedCompany)">
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team-list clearfix">
                                            <div class="team-profiles" ng-click="selectFromList = !selectFromList;showProductList = false" title="[[selection.fullName]], [[selection.emailId]]">
                                                <span ng-show="selection.noPicFlag">[[selection.nameNoImg]]</span>
                                                <strong>[[selection.fullName]]</strong>
                                                <i class="fa fa-caret-down"></i>
                                            </div>

                                            <div ng-show="selectFromList" class="list">
                                                <input ng-model="member.fullName">
                                                <p ng-show="team.length>1" class="cursor text-center" data-ng-click="getInsightsFor('all')">Show All Team Members</p>
                                                <div ng-repeat="member in team | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="getInsightsFor(member)" title="[[member.fullName]], [[member.emailId]]">
                                                    <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                                    <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                                    <strong>[[member.fullName]]</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Deals At Risk</h5>
                                    <div>Today: [[dealsAtRiskCount]] opps ([[dealsAtRiskValue]])</div>
                                    <div class="[[dealsCaret]]">
                                        Deal Value Impact: [[primaryCurrency]]<span> [[totalDealValueAtRisk]]</span>
                                        <i ng-show="dealsCaret == 'up'" class="fa fa-caret-up"></i>
                                        <i ng-show="dealsCaret == 'down'" class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="pull-right highlight [[dealsCaret]]">
                                    <div>Change: <span>[[dealsAtRiskImprovement]]</span></div>
                                </div>
                            </div>
                            <div class="relative" id="dealsAtRisk"></div>
                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Action Taken</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Total Deals at Risk</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-3 box-ui">-->
                            <!--<div class="clearfix">-->
                                <!--<h5>Opp Recommendations Conversion</h5>-->
                                <!--<div class="down">-->
                                    <!--Deal Value Impact: <span>USD 170K</span> <i class="fa fa-caret-down"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="relative" id="oppRec"></div>-->
                        <!--</div>-->
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Losing Touch</h5>
                                    <div>Today: [[losingTouchToday]] contacts</div>
                                    <div class="[[ltCaret]]">
                                        Deal Value Impact: [[primaryCurrency]]<span> [[ltImpact]]</span>
                                        <i ng-show="ltCaret == 'up'" class="fa fa-caret-up"></i>
                                        <i ng-show="ltCaret == 'down'" class="fa fa-caret-down"></i>
                                    </div>
                                </div>
                                <div class="pull-right highlight [[ltCaret]]">
                                    <div>Change: <span>[[ltImprovement]]</span></div>
                                </div>
                            </div>
                            <div class="relative" id="losingTouch"></div>

                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Contacts</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Impact</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Interactions</h5>
                                    <div>Today: [[interactionsCount]]</div>
                                </div>
                                <div class="pull-right highlight [[intCaret]]">
                                    <div>Change: <span>[[interactionsImprovement]]</span></div>
                                </div>
                            </div>
                            <div class="relative" id="interactions"></div>
                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>All Ints</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Opp Ints</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Pipeline Velocity</h5>
                                    <div class="[[pvCaret]]">
                                        Shortfall: [[primaryCurrency]]<span> [[shortfall]]</span>
                                        <i ng-show="pvCaret == 'up'" class="fa fa-caret-up"></i>
                                        <i ng-show="pvCaret == 'down'" class="fa fa-caret-down"></i>
                                        <br>
                                    </div>
                                </div>
                                <!--<div class="pull-right highlight">-->

                                <!--</div>-->
                            </div>
                            <div class="relative" id="pipelineVelocity"></div>
                            <div class="label-markers clearfix">
                                <div class="line-2 clearfix" style="width: 60%;">
                                    <div class="pull-left">
                                        <i></i><span class="line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Pipeline Velocity</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Web Usage Reports</h5>
                                </div>

                                <div class="pull-right highlight">
                                    <div>Change: <span>[[webImprovement]]</span></div>
                                </div>
                            </div>
                            <div class="relative" id="webReports"></div>
                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="totalActiveUsers"></i><span class="totalActiveUsers line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Active Users</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="uniqueWebLogins"></i><span class="uniqueWebLogins line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Unique Logins</span>
                                    </div>
                                </div>
                                <div class="line-3 line-2 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="totalWebLogins"></i><span class="totalWebLogins line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Web Logins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 box-ui">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h5>Mobile Usage Reports</h5>
                                </div>
                                <div class="pull-right highlight">
                                    <div>Change: <span>[[mobImprovement]]</span></div>
                                </div>
                            </div>
                            <div class="relative" id="mobileReports"></div>
                            <div class="label-markers clearfix">
                                <div class="line-1 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="totalActiveUsers"></i><span class="totalActiveUsers line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Active Users</span>
                                    </div>
                                </div>
                                <div class="line-2 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="uniqueWebLogins"></i><span class="uniqueWebLogins line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Unique Logins</span>
                                    </div>
                                </div>
                                <div class="line-4 line-2 clearfix" style="width: 42%;">
                                    <div class="pull-left">
                                        <i class="totalMobLogins"></i><span class="totalMobLogins line"></span>
                                    </div>
                                    <div class="pull-left">
                                        <span>Mobile Logins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
    <script type="text/javascript" src="/javascripts/adminInsights/index.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
</body>

</html>
