<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{companyName}} Admin | Relatas</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateCompanyDetails.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <style>
        tr {
            padding: 5px;
        }
        table{
            width:100%
        }
        table .first{
            width: 15%;
        }
        .width50{
            width: 50%;
        }
        .width25{
            width: 25%;
        }
        table .table2{
            width: 41%;
        }
        .cursor-pointer{
            cursor: pointer;
        }
        #detailsTable img{
            width: 20px;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container">
        <div class="mainNav" id="sidebar-wrapper">
            <ul class="sidebar-nav custom-side-nav">
                <li><a href="/insights" title='Insights'><img src="/images/left-menu/icon_insights.png"><p>Insights</p></a></li>
                <li><a href="/team/commit/review" title='Team'><img src="/images/left-menu/review.png"><p>Commit</p></a></li>
                <li><a href="/opportunities/all" title='Opportunities'><i class="fa fa-dollar fs-18"></i><p>Opp</p></a></li>
                <li><a href="/accounts/all" title='Company'><img src="/images/left-menu/icon_company.png"><p>Accounts</p></a></li>
                <li><a href="/contacts/all" title='Contacts'><img src="/images/left-menu/icon_contacts.png"><p>Contacts</p></a></li>
                <!--<li><a href="/reports" title='Reports'><img src="/images/left-menu/icon_reports.png"><p>Reports</p></a></li>-->
                <li><a href="/pulse/team/reports" title='Team'><img src="/images/left-menu/icon_team.png"><p>Team</p></a></li>
                <li><a href="/tasks/all" title='Tasks'><img src="/images/left-menu/icon_tasks.png"><p>Tasks</p></a></li>
                <li><a href="/document/index" title='Documents'><img src="/images/left-menu/documents.png"><p>Documents</p></a></li>
                <li><a href="/help/new" title='See More'><img src="/images/left-menu/icon_help.png"><p>Help</p></a></li>
                <li style="margin: 0"><hr style="margin: 0"></li>
                <li class="sidebar-highlight"><a href="/corporate/admin" title='Admin'><i class="fa fa-user-secret"></i><p>Admin</p></a></li>
            </ul>
        </div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Company Details</a></li>
        </ul>
        <div class="left-panel">
            <ul class="list-unstyled">
                <li id="showcompanyBasic">Company Basic</li>
                <li id="showcommitSettings">Commit Settings</li>
            </ul>
        </div>
        <div class="right-panel">
            <div id="companyBasic" style="width: 450px;">
                <table id="detailsTable">
                    <tr>
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            <span>Company Name</span>
                            <div>
                                <input class="width50" type="text" id="companyName">
                                <button id="saveDetails">Save</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            <span>Email Domains</span>
                            <div>
                                <input class="width50" type="text" id="emailDomains">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            <span>FY Start Month</span>
                            <div>
                                <select id="month">
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                                <button id="setFYMonth">Save</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            <span>Company Logo</span>
                            <div>
                                <img src="/images/edit_transparent.png" title="Change Logo" id="header-logo-edit" style="display:none;width:75px;cursor: pointer">
                                <!--<span id="header-logo-name" style="display: none"></span>-->
                                <input type="button" id="header-logo" style="display: none" value="Upload">

                                <input type="file" accept=".png,.jpg,image/*" id="header-logo-upload" style="visibility: hidden;width:0px;height: 0px">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="commitSettings" style="width: 450px;">
                <table>
                    <tr class="regions-wrapper" style="margin-top:30px;">
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            Commit Cutoff Weekday
                            <div>
                                <select id="commitWeekday">
                                    <option>Sunday</option>
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                </select>
                                <input id="commitWeekHour" placeholder="Time">
                                <button id="setCommitWeekday">Save</button>
                            </div>
                        </td>
                    </tr>
                    <tr class="regions-wrapper" style="margin-top:30px;">
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            Commit Cutoff Monthly
                            <div>
                                <select id="commitMonthly">
                                    <option value="5">Before 5th of month</option>
                                    <option value="10">Before 10th of month</option>
                                    <option value="15">Before 15th of month</option>
                                    <option value="20">Before 20th of month</option>
                                    <option value="25">Before 25th of month</option>
                                </select>
                                <button id="setCommitMonthly">Save</button>
                            </div>
                        </td>

                    </tr>
                    <tr class="regions-wrapper" style="margin-top:30px;">
                        <td style="border: 1px solid #ccc;border-radius: 2px;padding: 10px">
                            Commit Cutoff Quarterly
                            <div>

                                <select id="commitQtrly">
                                    <option value="15">Before 15th of 1st month of quarter</option>
                                    <option value="25">Before 25th of 1st month of quarter</option>
                                    <option value="40">Before 10th of 2nd month of quarter</option>
                                    <option value="50">Before 20th of 2nd month of quarter</option>
                                </select>
                                <button id="setCommitQtrly">Save</button>
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
