<!DOCTYPE html>
<html ng-app='newHierarchy'>

<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Org Hierarchy Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet" />
    <link href="/stylesheets/css/toastr.css" rel="stylesheet" />
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/angular.js"></script>
    <script src="/controllers/newHierarchy.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
</head>

<body class="this-height">
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                        <span class="text_transform">{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link text_transform" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>

<div ng-controller='hierarchy'>
    <div class="container-fluid col-height {{blur}}">
        <div class="row">
          <div class="col-md-2 padding0">
              <div class='unassignedDiv col-height'>
                  <div class="search-container">
                      <input class='form-control input-search-lg' type="text" placeholder="Search" ng-model='search'>
                  </div>
                <div class='unassigned'>
                    <ul class='chartUl'>
                        <li ng-repeat="item in model.unassignedArray | orderBy:'nameF' | filter:search" ng-if='model.unassignedArray.length > 1' class="liCommonClass" ng-class="{'on': model.selected==item}" ng-click='add(item); this.class = "liCommonClassSelected"'>
                            <img class="img-circle" width="46px" height="46px" ng-src="{{item.imageUrl}}" ng-if='item.noImage === 0' imageonload='imageNotLoaded(item)'>
                            <span class="image-placeholder-small-text textImage" ng-if="item.noImage === 1"><span class="ng-binding" style="text-align: center;display: block;">{{item.nameF.substring(0,2)}}</span></span>
                            <div class='name'><strong style='color:#00796b;'>{{item.nameF + ' ' + item.nameL}}</strong></div>
                            <br/>
                            <div class='designation' style='color:#00796b;'>{{item.designation}}</div>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-md-10 padding0 col-height">
              <div class="alert-admin">
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                      <div class="clearfix">
                          <div class="org-head pull-left">
                              <div ng-show="!isOrgHeadSet">
                                  <label>Organisation head</label><br>
                              </div>
                              <img ng-if="!orgHead.noPicFlag && isOrgHeadSet" src="{{orgHead.image}}" title="{{orgHead.fullName}}, {{orgHead.emailId}}" class="contact-image" imageonload="imageNotLoaded(orgHead)">
                              <span ng-if="orgHead.noPicFlag && isOrgHeadSet" title="{{orgHead.fullName}}, {{orgHead.emailId}}"><span class="contact-no-image">{{orgHead.nameNoImg}}</span></span>
                              {{orgHead.fullName}} <i ng-show="isOrgHeadSet">(Organisation head)</i>
                              <input ng-model="query" type="text" ng-change="searchForUser(query)" placeholder="Set organisation head" ng-show="!isOrgHeadSet">
                              <div search-results></div>
                          </div>

                          <div class="pull-right">
                              <a class="cursor" data-ng-click="toggleHelp()">See help</a>
                          </div>
                      </div>
                      <div ng-show="showHelp" class="help-modal">
                          <div class="clearfix">
                              <div class="pull-right cursor" style="margin:10px 25px 0 0;font-size: 16px;font-weight: 600" data-ng-click="toggleHelp()">X</div>
                          </div>
                          <div class="modal-body">
                              <strong>To assign a manager</strong>
                              <ol>
                                  <li>Select the person you wish to assign in the Hierarchy from Left Bar.</li>
                                  <li>Select the person you wish to assign this selected person to in the Hierarchy.</li>
                                  <li>Click on "Assign".</li>
                                  <li>Repeat the process.</li>
                                  <li>Once the assignments have been done click on "Save Hierarchy"</li>
                              </ol>
                              <strong>To unassign a person</strong>
                              <ol>
                                  <li>Select a non-manager from chart.</li>
                                  <li>Click unassign.</li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class='chart_scroll'>
                <div id="chart_div" class='chart'></div>
            </div>
          </div>
        </div>
        <div>
            <div class="alert-messages">
                <div class="quick-btn-group">
                    <button ng-disabled="!isOrgHeadSet" type="button" class='btn btn-green' ng-click='addNode()' ng-show='showAdd === true' data-html="true" data-toggle="popover"
                            data-placement="top" title="To assign a manager"
                            data-content="1. Select the person from left navigation.<br/>2. Select the manager from chart.<br/>3. Click assign.">Assign</button>
                    <button ng-disabled="!isOrgHeadSet" type="button" class='btn btn-green' ng-click='deleteNode()' ng-show='showDelete === true' data-toggle="popover"
                            data-html="true" data-placement="top" title="Unassign person from hierarchy"
                            data-content="1. Select a non-manager from chart.<br/>2. Click unassign.">Unassign</button>
                    <button ng-disabled="!isOrgHeadSet" type="button" class='btn btn-green' ng-click='save()' data-toggle="popover" data-html="true" data-placement="top"
                            title="Save hierarchy"
                            data-content="Click button 'Save Hierarchy' to save your assignments">Save Hierarchy</button>
                </div>
            </div>
        </div>
    </div>      
</div>
<script>
    $(document).ready(function() {
        var colHeight = $(".this-height").height();
        $(".col-height").css("height", colHeight);
    });

    $(function () {
        $('[data-toggle="popover"]').popover({
                animated : 'fade',
                placement : 'top',
                container: '.row',
                trigger: "hover"
            })
    })

    $("body").on('click', '.close', function (e) {
        $(".chart_scroll").css("top", 0);
    });

</script>
</body>
</html>
