<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Org Hierarchy Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateAdminHierarchy.js"></script>
<style>
    .odd {
        background-color: #ddd;
        padding: 5px;
    }
    .even {
        background-color: #eee;
        padding: 5px;
    }
    td{
        width: 30%;
    }
    .dataTables_filter{
        margin-top: -4.6%;
    }
</style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="container bg-strong-grey" style="height: 40px;">
    <table style="margin-top: 1%;">
        <tr>
            <td>
                <a id="clear-hierarchy" style="cursor: pointer;">Clear Hierarchy</a>
            </td>
            <td>
                <a style="cursor: pointer;" href="/corporate/admin/log/{{companyId}}">log</a>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>
<br>
<div class="container">
    <table id="people">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email ID</th>
            <th>Tree Level</th>
            <th>Assigned to</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="corporate-footer clearfix">
    <div class="container-fluid pull-right">
        <a href="/Relationship-Intelligence">product</a>
        <a href="/company">company</a>
        <!--<a href="#">pricing</a> -->
        <a href="/"><img src="/landing/img/rel_logo_GS.jpg"></a>
    </div>
</div>
</body>
</html>