<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Relationship Intelligence - Relatas</title>

    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

	<link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />

	<script src="/lib/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/dataTables.js"></script>
	<script type="text/javascript" src="/javascripts/corporateFiles/corporateLanding.js"></script>
	<style>
		body{
			padding-top: 27px;
		}
		#company-contact-list_filter{
			display:none;
		}
		#company-contact-list_length{
			display:none;
		}
		#company-contact-list{
			border: none;
		}
		table.dataTable thead .sorting {
			background: url("/images/sort_both.png") no-repeat center left;
		}
		table.dataTable thead .sorting_asc {
			background: url("/images/sort_asc.png") no-repeat center left;
		}
		table.dataTable thead .sorting_desc {
			background: url("/images/sort_desc.png") no-repeat center left;
		}
		.contact-img{
			width: 35px;
			border: none;
		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
			vertical-align: middle;
		}
		table.dataTable thead th, table.dataTable thead td {
			padding: 10px 18px;
			border-bottom: 1px solid #FF9843;
		}
	</style>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=648923528511433&version=v2.3";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row padding10 border-grey">
				<div class="col-md-3">
					<img src="{{companyLogo}}">
				</div>
				<div class="col-md-9">
					<p id="description">

					</p>
					<br>

					<h4 class="bold presentation" id="presentationTitle"></h4>
					<hr class="margin-top0 presentation">
					<div class="videoWrapper presentation">
						<iframe width="85.9999%" height="275px" id="video-frame">
						</iframe>
					</div>
				</div>
			</div>

			<div class="row margin-top12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="bold">Contact</h4>
					</div>
				</div>
				<div class="table-responsive bold border-grey">
				  <table class="table border-row bg-grey margin0" id="company-contact-list">
					<thead>
					  <tr class="sub-header">
						<th style="background: none;"></th>
						<th style="border-bottom: none">Name</th>
						<th style="border-bottom: none">Designation</th>
						<th style="border-bottom: none">Contact For</th>
						<th style="background: none;"></th>
					  </tr>
					</thead>
					<tbody>
					</tbody>
				  </table>
				</div>
				<br>
				<br>
			</div>
		</div>
		<div class="col-md-4 sidebar">
			<div class="row padding-lr-10">
				<div class="col-md-12 border-grey bg-grey padding10">
					<strong>{{companyName}}&nbsp; Employee <a href="/onboarding/signup">Login</a></strong>
				</div>
				<br>
				<br>
				<div class="col-md-12 border-grey bg-grey">
					<h4>Quick Statistics</h4>
					<strong>Website: </strong> <a id="website"></a><br>
					<strong id="founded">Founded in: </strong><br>
					<strong id="headquarters">Headquarters:</strong><br>
					<strong id="company-size">Company Size: </strong><br>
					<strong id="industry">Industry:  </strong><br>
					<!--<strong id="clients">Clients: </strong><a href="#">Click here to view all</a><br>-->
				</div>
				<div class="col-md-12 border-grey margin-top12 padding10" id="latestNews">
					<h4>Latest News</h4>
				<!-- <strong> News</strong><br>
					<a href="#">Read More</a>
					<hr>
					<strong> Next News article</strong><br>
					<a href="#">Read More</a> -->
				</div>
				<div id="twitter-box" class="col-md-12 clearfix border-grey margin-top12 padding10" style="height: 250px;overflow: auto;">
					<div class="clearfix">
						<a class="twitter-timeline" id="twitter-share-content" data-widget-id="584321921195479040"  data-tweet-limit="3">Tweets</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

					</div>
				</div>
				<div id="facebook-box" class="col-md-12 border-grey margin-top12 padding10">
					<div class="clearfix">
						<div class="fb-page" id="facebook-share-content" data-href="//www.facebook.com/Infosys?fref=ts" data-width="348" data-height="224" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
					</div>
				</div>
				<div id="linkedin-box" class="col-md-12 border-grey margin-top12 padding10">
					<div class="clearfix">
						<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
						<script id="linkedin-share-content" type="IN/CompanyProfile" data-format="inline"></script>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>

	<div class="margin-top12 bg-grey">
	<hr>
		<div class="container clearfix">
			<div class="pull-right">
				<i style="text-decoration: underline;"> Want a landing page for
					your business? <a href="#">Click here</a>
				</i>&nbsp;&nbsp;&nbsp; <i>Powered by: &nbsp;&nbsp;</i> <img
					src="/landing/img/rsz_relatas.png" style="width: 30%;">
			</div>
		</div>
	</div>

</body>