<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Document | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link href="/stylesheets/quotationStyle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/javascripts/form-builder.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>
</head>
<body style="overflow-x:hidden;" ng-cloak>
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row ">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>     
        <div class="row wrapper">
            <div class="col-md-12 main" data-ng-controller="relatasDocumentController">
                <div ng-show="viewFor === 'new document'">
                    <div data-ng-include="'/documents/show/templates'"></div>
                </div>

                <div ng-show="viewFor === 'add document'">
                    <div data-ng-include="'/documents/create/template'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/documents/adminDocumentIndex.js"></script>
<script type="text/javascript" src="/javascripts/documents/adminDocument.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/activityLog.js"></script>
<!-- <script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script> -->
<!-- <script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script> -->
<!-- <script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script> -->
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>