<!DOCTYPE html>
<html lang="en" class="fuelux">
<head>
    <meta charset="utf-8">
    <title>{{companyName}} Sign up | Relatas</title>
    <meta name="viewport" content="width=device-width">

    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrapValidator.css" rel="stylesheet">
    <link href="/stylesheets/relatas.css" rel="stylesheet">
    <link href="/stylesheets/popupMessageStyle.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>

    <script src="/lib/require.js"></script>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/pace.js"></script>
    <script  src="/stylesheets/relatas.css"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/selectOption.js"></script>
    <script src="/javascripts/corporateFiles/corporateLinkedinSignUp.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51230566-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("103b26e671cadd758afcc38d8bec881b");</script>
</head>

<body>

<div class="navbar relatas-navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a class="relatas-logo" href="/">
                    <span>{{companyName}}</span>
                </a>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right relatas-nav">
                    <li>
                        <a href="/about"target="_blank" >About</a>
                    </li>
                    <li>
                        <a href="/contact" target="_blank">Contact</a>
                    </li>
                    <li>
                        <a href="//relatas.freshdesk.com/support/solutions" target="_blank" id="faq">FAQ</a>
                    </li>
                    <li>
                        <a href="//blog.relatas.com/" target="_blank" id="blog">Blog</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sub-header">
    <div class="container" style="text-align:center">
        <h4 id="user-name"> You are just 60 seconds away from your relatas Account</h4>
    </div>

</div>


<div class="container">
    <div class="page-width margin-top20px">
        <div id="MyWizard" class="wizard" style="display: none">
            <ul class="steps">
                <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Create Your Account<span class="chevron"></span></li>
                <li data-target="#step2"><span class="badge">2</span>Add Profile Details<span class="chevron"></span></li>
                <li data-target="#step3"><span class="badge">3</span>Connect Social Networks</li>
            </ul>
        </div>
        <div class="step-content" style="min-height: 10px">
            <div class="step-pane active" id="step1">
                <div class="odd clearfix">
                    <div class="profile-picture pull-left" style="width: 460px; height: 100px">
                        <img id="profilePic" src="/images/default.png" class="circle" style="height: 120%;width: 25%;margin-top: -2%"/>
                        <input type="button" id="changeProfileImageBut" class="btn btn-sm btn-primary" value="Change Profile Picture" style="margin-top: 7%">

                        <form action="/uploadImage" method="POST" style="display: none" id="changeProfileImgForm" enctype="multipart/form-data" >
                            <input name="file" type="file" style="display: none" id="changeProfileImage" accept="image/*">
                        </form>
                    </div>
                    <form class="form-inline" role="form">
                        <div class="form-group margin-top45">
                            <input type="first-name" class="form-control" placeholder="First Name" id="firstName" style="margin-left: -19%;margin-top: 7%;width: 55%">
                            <input type="last-name" class="form-control" placeholder="Last Name" id="lastName" style="width: 55%;margin-top:  7%;margin-left: 5%">
                        </div>
                    </form>
                </div>

                <div class="even">
                    <div class="row">
                        <div class="col-md-9" style="margin-top: 7px; width: 71%;margin-left: 10px"><label>Your unique Relatas identity (This will be your public profile address). //www.relatas.com/&nbsp;&nbsp;<span class="badge tool-tip" data-toggle="tooltip" data-placement="top" title="This id will be your unique Relatas identity available publicly. Please select a name so that other users can identify you. This id once selected can't be changed.
">?</span></label></div>
                        <div class="col-md-3" ><input type="text" class="form-control" placeholder="*" id="publicProfileUrl"></div>
                    </div>
                </div>
                <input type="text" id="linkedinId" style="display: none">
                <input type="text" id="serviceLogin" style="display: none">
                <input type="text" id="location" style="display: none">
                <input type="text" id="designation" style="display: none">
                <input type="text" id="companyName" style="display: none">
                <div class="odd">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> Email </div>
                        <div class="col-md-4" ><input type="text" class="form-control" placeholder="*" id="emailId" readonly></div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> Key </div>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder=" Enter key*" id="key"></div>
                    </div>
                </div>

                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-5 margin-top12">
                        <img src="/img/social_g+.png"><label id="primaryGmailAccount" style="cursor: pointer">Add Your Google Calendar*&nbsp;&nbsp;<span class="badge tool-tip" data-toggle="tooltip" data-placement="top" title="We ask for access to Google because Relatas helps you with scheduling and is needed to Sync your multiple calendars and help you with scheduling and getting the Social Intelligence for your meeting and many more features that Relatas provides. When you type in your Google credentials, we use them to generate a secure token from Google. This secure token is the only thing we store on our servers, we never store your actual Google credentials.
">i</span>&nbsp;</label>:
                    </div>
                    <div class="col-xs-3 col-sm-3" style="margin-top: 18px;">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addGooleAccount" >
                            <label class="onoffswitch-label" for="addGooleAccount">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div><div class="margin-top12"><i id="addGooleAccountText">abc@abc.com</i></div><br>

                </div>
                <div class="even">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-lock">Your Calendar appointments are always kept private and secure.</span></div>
            </div>
            <!--End of Step 1-->
            <div class="step-pane" id="step2">

            </div>
            <!--End of Step 2-->


            <div class="step-pane" id="step3"></div>
            <!--End of Step 3-->
        </div>
        <div style="margin-left: 39%">

            <p class="para"><input type="checkbox" id="acceptTerms" >&nbsp;&nbsp;I agree to the <a href="/terms" target="_blank">terms & conditions </a></p>
        </div>
        <div class=" text-align-center">
            <!--  <input type="button" class="btn btn-mini" id="btnWizardPrev" value="prev">-->
            <input type="button" class="btn btn-mini btn-success" id="saveDetailsButton" value="Create Account">
        </div><br>

        <br>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("[data-toggle='tooltip']").tooltip();
        /* $("#btnWizardNext").on("click",function(){
         alert('kjhjk')
         })*/
    });
</script>
<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

        </div>
    </div>
</script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script type="text/javascript" src="//assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
    FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Relatas+Help%2C+Support+and+Feedback&submitThanks=Relatas+team+appreciates+you+taking+the+time+to+help+us+with+your+feedback.", "widgetType": "popup", "buttonType": "text", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#03a2ea", "alignment": "4", "offset": "235px", "submitThanks": "Relatas team appreciates you taking the time to help us with your feedback.", "formHeight": "500px", "url": "//relatas.freshdesk.com"} );
</script>
</body>
</html>
