<!DOCTYPE html>
<html lang="en" class="fuelux">
<head>
    <meta charset="utf-8">
    <title>{{companyName}} Sign up | Relatas</title>
    <meta name="viewport" content="width=device-width">

    <link href="/dist/css/fuelux.css" rel="stylesheet">
    <link href="/dist/css/main.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrapValidator.css" rel="stylesheet">
    <link href="/stylesheets/relatas.css" rel="stylesheet">
    <link href="/stylesheets/popupMessageStyle.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/lib/require.js"></script>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/pace.js"></script>
    <script  src="/stylesheets/relatas.css"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/selectOption.js"></script>
    <script src="/javascripts/corporateFiles/corporateOfficeSignUp.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51230566-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("103b26e671cadd758afcc38d8bec881b");</script>
</head>

<body>

<div class="navbar relatas-navbar" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a class="relatas-logo" href="/">
                    <span>{{companyName}}</span>
                </a>
            </div>
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-right relatas-nav">
                    <li>
                        <a href="/about"target="_blank" >About</a>
                    </li>
                    <li>
                        <a href="/contact" target="_blank">Contact</a>
                    </li>
                    <li>
                        <a href="//relatas.freshdesk.com/support/solutions" target="_blank" id="faq">FAQ</a>
                    </li>
                    <li>
                        <a href="//blog.relatas.com/" target="_blank" id="blog">Blog</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sub-header">
    <div class="container" style="text-align:center">
        <h4 id="user-name"> You are just 60 seconds away from your relatas Account</h4>
    </div>

</div>


<div class="container">
    <div class="page-width margin-top20px">
        <div id="MyWizard" class="wizard" style="display: none">
            <ul class="steps">
                <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Create Your Account<span class="chevron"></span></li>
                <li data-target="#step2"><span class="badge">2</span>Add Profile Details<span class="chevron"></span></li>
                <li data-target="#step3"><span class="badge">3</span>Connect Social Networks</li>
            </ul>
        </div>
        <div class="step-content" style="min-height: 10px">
            <div class="step-pane active" id="step1">
                <div class="odd clearfix">
                    <div class="profile-picture pull-left" style="width: 460px; height: 100px">
                        <img id="profilePic" src="/images/default.png" class="circle" style="height: 120%;width: 25%;margin-top: -2%"/>
                        <input type="button" id="changeProfileImageBut" class="btn btn-sm btn-primary" value="Change Profile Picture" style="margin-top: 7%">

                        <form action="/uploadImage" method="POST" style="display: none" id="changeProfileImgForm" enctype="multipart/form-data" >
                            <input name="file" type="file" style="display: none" id="changeProfileImage" accept="image/*">
                        </form>
                    </div>
                    <form class="form-inline" role="form">
                        <div class="form-group margin-top45">
                            <input type="first-name" class="form-control" placeholder="First Name" id="firstName" style="margin-left: -19%;margin-top: 7%;width: 55%">
                            <input type="last-name" class="form-control" placeholder="Last Name" id="lastName" style="width: 55%;margin-top:  7%;margin-left: 5%">
                        </div>
                    </form>
                </div>

                <div class="even">
                    <div class="row">
                        <div class="col-md-9" style="margin-top: 7px; width: 71%;margin-left: 10px"><label>Your unique Relatas identity (This will be your public profile address). //www.relatas.com/&nbsp;&nbsp;<span class="badge tool-tip" data-toggle="tooltip" data-placement="top" title="This id will be your unique Relatas identity available publicly. Please select a name so that other users can identify you. This id once selected can't be changed.
">?</span></label></div>
                        <div class="col-md-3" ><input type="text" class="form-control" placeholder="*" id="publicProfileUrl"></div>
                    </div>
                </div>
                <input type="text" id="googleId" style="display: none">
                <input type="text" id="serviceLogin" style="display: none">
                <input type="text" id="officeData" style="display: none">
                <div class="odd">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> Email </div>
                        <div class="col-md-4" ><input type="text" class="form-control" placeholder="*" id="emailId" readonly></div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> Key </div>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder=" Enter key*" id="key"></div>
                    </div>
                </div>
                <div class="even">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> *Designation </div>
                        <div class="col-md-4" style="width: 31%"><input type="text" class="form-control" id="designation"></div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> *Company Name </div>
                        <div class="col-md-4" style="width: 31%"><input type="text" class="form-control" id="companyName"></div>
                    </div>
                </div>
                <div class="even">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> *Mobile No. </div>
                        <div class="col-md-4" style="width: 31%"><input type="text" class="form-control PhoneNo" placeholder="+XX-XXX-XXX-XXXX" id="mobile"></div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px">&nbsp;Skype ID </div>
                        <div class="col-md-4" style="width: 31%"><input type="text" class="form-control"  id="skypeId"></div>
                    </div>
                </div>
                <div class="even">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> *Location </div>
                        <div class="col-md-4" style="width: 31%"><input type="text" class="form-control" id="location"></div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> &nbsp;Date of Birth </div>
                        <div class="col-md-1" style="width: 8%">
                            <select style="font-size: 11px;" id="day" class="form-control">
                                <option value="Day">DD</option>
                                <!--<option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option> -->
                            </select>
                        </div>
                        <div class="col-md-1" style="margin-left: 2.3%">
                            <select style="font-size: 11px;" id="month" class="form-control" >
                                <option value="Month">MM</option>
                                <!--<option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                                <option value="five">Five</option> -->
                            </select>
                        </div>
                        <div class="col-md-2" style="width: 10%; margin-left: 2.3%">
                            <select style="font-size: 11px;" id="year" class="form-control" >
                                <option value="Year">YYYY</option>
                                <!--<option value="two">Two</option>
                                    <option value="three">Three</option>
                                    <option value="four">Four</option>
                                    <option value="five">Five</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="even">
                    <div class="row">
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 10px"> *Time Zone </div>
                        <div class="col-md-4" style="width: 31%">
                            <select class="form-control" id="timezone">

                            </select>
                        </div>
                        <div class="col-md-2" style="margin-top: 7px;margin-left: 0.7%"> &nbsp;Work hours </div>
                        <div class="col-md-4" style="width: 32%">
                            <table class="table table-condensed">
                                <tr>
                                    <td>
                                        From:
                                    </td>
                                    <td>
                                        <select style="font-size: 11px;" id="workHoursStart" class="form-control times">

                                        </select>
                                    </td>
                                    <td>
                                        To:
                                    </td>
                                    <td>
                                        <select style="font-size: 11px;" id="workHoursEnd" class="form-control times times2">

                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="even" style="margin-left: 0.7%">
                        <div class="row">
                            <div class="col-md-2" style="margin-top: 7px">
                                Profile Type
                                <span class="badge tool-tip" data-toggle="tooltip" data-placement="top" title="'Public' - If you choose Public profile type all users coming to your calendar will see all blocked times as 'Busy' and can choose from other options. If you choose Select Public profile type, then you can choose what time you want to show 'Available' to others.">?</span> </div>
                            <div class="col-md-7 ver-line-rt">

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="public" value="option1" checked>
                                        Public
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="selectPublic" value="option2">
                                                Select Public
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-3 col-sm-9">
                                        <table class="table table-condensed">
                                            <tr>
                                                <td>Option01: From</td>
                                                <td>

                                                    <select style="font-size: 11px;" id="startTime1" class="form-control">

                                                    </select>
                                                </td>
                                                <td>To: </td>
                                                <td>

                                                    <select style="font-size: 11px;" id="endTime1" class="form-control">

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Option02: From</td>
                                                <td>

                                                    <select style="font-size: 11px;" id="startTime2" class="form-control">

                                                    </select>
                                                </td>
                                                <td>To: </td>
                                                <td>

                                                    <select style="font-size: 11px;" id="endTime2" class="form-control">

                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox" style="margin-left: 7%">
                                    <label >
                                        <input  type="checkbox" id="profilePrivate">
                                        Make Profile Private <span class="badge tool-tip" data-toggle="tooltip" data-placement="right" title="With this option you can password protect your calendar. Even though your profile may be Public or Select Public only users with your password can view your calendar and schedule on your calendar.">?</span>
                                    </label>
                                </div>
                                <input style=" width: 85%;margin-left: 7%;" type="password" class="form-control" id="profilePrivatePassword" placeholder="Please enter password">

                            </div>
                        </div>
                    </div>
                    <div class="even">
                        <div class="row">
                            <div class="col-md-3" style="margin-top: 7px;margin-left: 7px"> Profile Description </div>
                            <div class="col-md-9" style="width: 73%"><textarea id="profileDescription" rows="5" cols="30" class="form-control" placeholder="Tell us about yourself"></textarea></div>
                        </div>
                    </div>

                </div>

                <!-- start of social info -->

                <div class="row margin0 even hr">
                    <div class="even">
                        <div class="col-xs-6 col-sm-6">
                            <img src="/images/icon_linkedin.png"> <label id="addLinkedinAccountH3" style="cursor: pointer">Add your Linkedin Account</label>
                        </div>
                        <div class="col-xs-3 col-sm-6 margin-top12">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"  id="addLinkedinAccount"  >
                                <label class="onoffswitch-label" for="addLinkedinAccount">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-6" style="width: 30%">
                        <img src="/img/social_g+.png"><label>Add your Google Calendar</label>
                    </div>
                    <div style="margin-top: 1%"><span>Your Calendar appointments are always kept private and secure.</span></div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-5 col-xs-offset-1 margin-top12">
                        <label id="primaryGmailAccount" style="cursor: pointer">Primary Gmail Account*</label>: <i id="addGooleAccountText">abc@abc.com</i>
                    </div>
                    <div class="col-xs-3 col-sm-3 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addGooleAccount" >
                            <label class="onoffswitch-label" for="addGooleAccount">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="sm-static-box " style="background: #41b27a">
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-5 col-xs-offset-1 margin-top12">
                        <label id="addAnotherGoogleAccount1Text" style="cursor: pointer">Add another Gmail Account</label>
                    </div>
                    <div class="col-xs-3 col-sm-3 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addAnotherGoogleAccount1" >
                            <label class="onoffswitch-label" for="addAnotherGoogleAccount1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="sm-static-box " style="background: #67a3bc">
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-5 col-xs-offset-1 margin-top12">
                        <label id="addAnotherGoogleAccount2Text" style="cursor: pointer">Add another Gmail Account</label>
                    </div>
                    <div class="col-xs-3 col-sm-3 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addAnotherGoogleAccount2" >
                            <label class="onoffswitch-label" for="addAnotherGoogleAccount2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="sm-static-box " style="background: #876a9d">
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-5 col-xs-offset-1 margin-top12">
                        <label id="addAnotherGoogleAccount3Text" style="cursor: pointer">Add another Gmail Account</label>
                    </div>
                    <div class="col-xs-3 col-sm-3 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addAnotherGoogleAccount3"  >
                            <label class="onoffswitch-label" for="addAnotherGoogleAccount3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="sm-static-box " style="background: #FFFF00">
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-6 ">
                        <img src="/img/social_twitter.png"><label id="addTwitterAccountH3" style="cursor: pointer">Add your Twitter Account</label>
                    </div>
                    <div class="col-xs-3 col-sm-6 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addTwitterAccount" >
                            <label class="onoffswitch-label" for="addTwitterAccount">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row margin0 even hr">
                    <div class="col-xs-6 col-sm-6">
                        <img src="/img/social_fb.png"><label id="addFacebookAccountH3" style="cursor: pointer">Add your Facebook Account</label>
                    </div>
                    <div class="col-xs-3 col-sm-6 margin-top12">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="addFacebookAccount" >
                            <label class="onoffswitch-label" for="addFacebookAccount">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left: 39%">

            <p class="para"><input type="checkbox" id="acceptTerms" >&nbsp;&nbsp;I agree to the <a href="/terms" target="_blank">terms & conditions </a></p>
        </div>
        <div class=" text-align-center">
            <!--  <input type="button" class="btn btn-mini" id="btnWizardPrev" value="prev">-->
            <input type="button" class="btn btn-mini btn-success" id="saveDetailsButton" value="Create Account">
        </div><br>

        <br>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("[data-toggle='tooltip']").tooltip();
        /* $("#btnWizardNext").on("click",function(){
         alert('kjhjk')
         })*/
    });
</script>
<script type="text/template" id="message-popup">
    <div class="dialog3" id="message-box">
        <br> <div id="popupTitle" style="margin-left: 4%"></div>
        <br> <div id="message" style="margin-left: 4%"></div><br>

        <div class="Button_block">
            <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

        </div>
    </div>
</script>
<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
<script src="/javascripts/selectTimezone.js"></script>
<script type="text/javascript" src="//assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
    FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Relatas+Help%2C+Support+and+Feedback&submitThanks=Relatas+team+appreciates+you+taking+the+time+to+help+us+with+your+feedback.", "widgetType": "popup", "buttonType": "text", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#03a2ea", "alignment": "4", "offset": "235px", "submitThanks": "Relatas team appreciates you taking the time to help us with your feedback.", "formHeight": "500px", "url": "//relatas.freshdesk.com"} );
</script>
</body>
</html>
