<!DOCTYPE html>
<html data-ng-app="reletasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{companyName}} Admin | Relatas</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/dataTables.css" rel="stylesheet" type="text/css" />

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/dataTables.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateMeetingRooms.js"></script>
    <style>
        .odd {
            background-color: #ddd;
            padding: 5px;
        }
        .even {
            background-color: #eee;
            padding: 5px;
        }
        td{
            width: 30%;
        }
        .dataTables_filter{
            margin-top: -4.6%;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="container bg-strong-grey" style="height: 40px;">
    <table style="margin-top: 1%;">
        <tr>
            <td>
                <a id="clear-hierarchy" style="cursor: pointer;display: none">Clear Hierarchy</a>
            </td>
            <td>
                <a style="cursor: pointer;display: none" href="/corporate/admin/log/{{companyId}}">log</a>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
</div>
<br>
<div class="container">
    <table id="meetingRooms">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Unique Name</th>
            <th>Email ID</th>
            <th>Created On</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<br>
<br>
<div class="container" data-ng-controller="create_meeting_room">
    <div class="bg-strong-grey" style="height: 30px;text-align: center;"><span style="vertical-align: middle">Create Meeting Room</span></div><br>
    <table style="text-align: center;width: 30%;">
        <tr>
          <td>First Name</td>
          <td><input type="text" ng-model="firstName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" ng-model="lastName"></td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td><input type="text" ng-model="emailId"></td>
        </tr>
        <tr>
            <td>Unique Name</td>
            <td><input type="text" ng-model="publicProfileUrl" ng-blur="validateUniqueName(publicProfileUrl)"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" value="Create" ng-click="createMeetingRoom(firstName,lastName,emailId,publicProfileUrl)"></td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="corporate-footer clearfix">
    <div class="container-fluid pull-right">
        <a href="/Relationship-Intelligence">product</a>
        <a href="/company">company</a>
        <!--<a href="#">pricing</a> -->
        <a href="/"><img src="/landing/img/rel_logo_GS.jpg"></a>
    </div>
</div>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script src="/javascripts/schedule/slide/toastr.min.js"></script>
<script src="/javascripts/common/common.js"></script>
</body>
</html>