<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Corporate Landing Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="corporate-landing">
<span id="company-object-hidden" style="display: none">{{company}}</span>
	<div class="bg-img-corp">
	       <div class="container ver-align">
		   
	        <div class="row text-center margin-top10 company">
	            <div class="col-md-6 col-md-offset-3">
	                <div class="bg-white">
						<img id="company-logo" src="/landing/img/Optimized-ExampleCorp.jpg">
	                </div>
	                
			        <div class="bg-white-transparent padding7 margin-top10">
			        	<h1 class="light text-grey margin0">Login</h1>
			        		<div class="margin-top15">
				        		<a href="/corporate/googleSignUp/fromLoginPage"><span class="corp-btn-sprite corp-sign-google"></span></a>
				        		<a href="/corporate/office365Auth"><span class="corp-btn-sprite corp-sign-office"></span></a>
			        		</div>
			        </div>
			        
			        <div class="bg-white-transparent padding7 margin-top10 corporate-register-form">
			        	<h2 class="light text-grey margin0" id="msg">Register with your corporate email address</h2>
							 <input type="email" class="form-control" id="corporate-first-name" placeholder="First Name">
							 <input type="text" class="form-control" id="corporate-last-name" placeholder=" Last Name">
							 <input type="text" class="form-control" id="corporate-email-id" placeholder=" Your Email Address">
	            	 		 <span class="btn blue-btn btn-lg fs23" id="generate">Get Key</span>
			        </div>
	            </div>
	        </div>
        </div>
	</div>
	
	<div class="corporate-footer clearfix">
		<div class="container-fluid pull-right">
			<a href="/Relationship-Intelligence">product</a>
			<a href="/company">company</a>
			<!--<a href="#">pricing</a> -->
			<a href="/"><img src="/landing/img/rel_logo_GS.jpg"></a>
		</div>
	</div>

	<script type="text/template" id="message-popup">
		<div class="dialog3" id="message-box">
			<br> <div id="popupTitle" style="margin-left: 4%"></div>
			<br> <div id="message" style="margin-left: 4%"></div><br>

			<div class="Button_block">
				<input type="button" id="closePopup-message" value="Close" class="popup-btn" >

			</div>
		</div>
	</script>

	<script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/corporateFiles/corporateLoginSignUp.js"></script>
	<script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
</body>
</html>