<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin | Opportunity</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">

    <style >
        .pointer {cursor: pointer;}
    </style>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateDocumentDetails.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type='text/javascript' src="/directives/angular-drag-and-drop-lists.js"></script>
    <script src="/javascripts/moment.js"></script>
    <style>[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}</style>
</head>
<body ng-cloak>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container" data-ng-controller="documentDetails">
        <div class="mainNav ng-scope" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Documents</a></li>
        </ul>
        <div class="left-panel">
            <ul class="list-unstyled">
                <li ng-repeat="item in menu" class="[[item.selected]]" data-ng-click="selectMenu(item)">[[item.name]]</li>
            </ul>
        </div>
        <div class="right-panel">

            <!-- Beginning category list -->
            <div ng-show="currentSelection == 'Category'">
                <div class="clearfix add-section">
                    <div class="pull-right">
                        <label>Add Document Category</label>
                        <input class="table2" type="text" id="category" ng-model="docCategory" placeholder="Add Category">
                        <button data-ng-click="addDocumentCategory(docCategory)">Add</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in documentCategoryList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <!-- <td><a href="#" data-ng-click="deleteDocumentCategory(el)">Delete</a> </td> -->
                        <td ng-show="el.active"><a href="#" data-ng-click="toggleDocCategoryActivation(el, false)">Deactivate</a> </td>
                        <td ng-show="!el.active"><a href="#" data-ng-click="toggleDocCategoryActivation(el, true)">Activate</a> </td>
                    </tr>
                </table>
            </div>
            <!-- End of Category list -->

            <!-- Beginning Document templates -->
            <div ng-show="currentSelection == 'Delete Document Templates'">
                <div class="clearfix add-section">
                    <div class="pull-right" ng-show="documentTemplateList.length>0">
                        <button class="delete" data-ng-click="deleteDocumentTemplates()">Delete selected document templates</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th class="pointer"> Template Type </th>
                        <th class="pointer"> Template Name </th>
                        <th class="pointer"> Created Date </th>
                        <th class="pointer"> Used By </th>
                        <th><input data-ng-click="toggleSelectionDocumentTemplates()" ng-model="selectAll" type="checkbox"> Select all </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div ng-show="loadingDocuments" class="loading-bars">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="el in documentTemplateList | orderBy:tableHeaderName:reverse">
                        <td>[[el.documentTemplateType]]</td>
                        <td>[[el.documentTemplateName]]</td>
                        <td>[[el.createdDate | date: 'dd MMM yyyy']]</td>
                        <td>[[el.numberOfDocumentsCreated]]</td>
                        <td><input ng-model="el.select" type="checkbox"></td>
                    </tr>
                </table>
            </div>
            <!-- End of Document templates -->

            <!-- Beginning Document delete -->
            <div ng-show="currentSelection == 'Delete Documents'">
                <div class="clearfix add-section">
                    <div class="pull-right">
                        <label for="repeatSelect">Select team member: </label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="fetchDocumentForUser(data.model)">
                            <option ng-repeat="option in data.teamMembers" value="[[option._id]]">[[option.name]]</option>
                        </select>
                    </div>
                    <div class="pull-right" ng-show="documentList.length>0">
                        <button class="delete" data-ng-click="deleteDocuments()">Delete selected documents</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th ng-click="sortBy('opportunityName')" class="pointer"> Template Type </th>
                        <th ng-click="sortBy('relatasStage')" class="pointer"> Template Name </th>
                        <th ng-click="sortBy('amount')" class="pointer"> Document Name </th>
                        <th ng-click="sortBy('createdDate')" class="pointer"> Created Date </th>
                        <th ng-click="sortBy('createdDate')" class="pointer"> Stage </th>
                        <th><input data-ng-click="toggleSelectionDocuments()" ng-model="selectAll" type="checkbox"> Select all </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div ng-show="loadingDocuments" class="loading-bars">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="el in documentList | orderBy:tableHeaderName:reverse">
                        <td>[[el.documentTemplateType]]</td>
                        <td>[[el.documentTemplateName]]</td>
                        <td>[[el.documentName]]</td>
                        <td>[[el.documentCreatedDate | date: 'dd MMM yyyy']]</td>
                        <td>[[el.documentStage]]</td>
                        <td><input ng-model="el.select" type="checkbox"></td>
                    </tr>
                </table>
            </div>
            <!-- End of document delete -->
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>