<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">

    <title>{{companyName}} Dashboard | Relatas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/stylesheets/bootstrap-3.2.0.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href='/stylesheets/relatasjq/jquery-ui.css' rel='stylesheet'>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,700,900' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/relatas.css' media='all' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/popupMessageStyle.css' media='all' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="images/favicon.ico"/>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <!-- Bootstrap Core CSS -->

    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <style>
        .fc-agenda-slots {
            line-height: 2.5em !important;
        }
        .abc{
            background-color: #f9f9f9;
            line-height: 1.8em;
            color: #666;
            /* padding: 6px; */
            padding-right:4px;
            height: 100%;
            margin: 4px;

        }
        .scroll {
            float: left;
            width: 100%;
            overflow-y: auto;
            height: 200px;
        }
        .meeting-details2 {
            background-color: #f9f9f9;
            line-height: 1.8em;
            color: #666;
            padding: 6px;
            padding-right: 4px;
            height: 100%;
            background-color: #f9f9f9;
            margin: 4px;
        }
        .progress {
            color: #0063a6;
            font-size: .6em;
            line-height: 1.5em;
            text-indent: .5em;
            width: 15em;
            background: #0063a6;

            display: none;
        }
        /* Moving on to the styling, we'll start with the main progress bar first and then the value part of it. After that, we'll do some experiments :D */

        progress {
            width: 400px;
            height: 14px;
            display: block;
            /* Important Thing */
            -webkit-appearance: none;
            border: #000000;
        }

        /* All good till now. Now we'll style the background */
        progress::-webkit-progress-bar {
            background: #fcfbfa;
            border-radius: 50px;
            padding: 2px;
            box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
        }

        /* Now the value part */
        progress::-webkit-progress-value {
            border-radius: 50px;
            box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
            background:
            -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
            -webkit-linear-gradient(left, #33ab6f, #33ab6f);

            /* Looks great, now animating it */
            background-size: 25px 14px, 100% 100%, 100% 100%;
            -webkit-animation: move 5s linear 0 infinite;
        }

        /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

        @-webkit-keyframes move {
            0% {background-position: 0px 0px, 0 0, 0 0}
            100% {background-position: -100px 0px, 0 0, 0 0}
        }

        /* Prefix-free was creating issues with the animation */

        .progress::-webkit-progress-bar { background: #c8c8c8; }
        .progress::-webkit-progress-value { background: #f67b3f; }
        .noLine a:hover{
            text-decoration: none;
        }
        .cursor-pointer{
            cursor: pointer;
        }
        .fc-header-title{
            padding-right: 2%;
            padding-left: 2%;
        }
        .fc-event-title,.fc-event-time{
            font-weight: bold;
        }
    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51230566-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("103b26e671cadd758afcc38d8bec881b");</script>
    <meta name="referrer" content="default" id="meta_referrer">
    <meta property="fb:app_id" content="863619133666334">
    <meta property="og:site_name" content="Relatas">
    <meta property="og:title" content="Relatas Dashboard | Smart Calendar and Intelligent Document Tracking">
    <meta property="og:type" content="article">
    <meta property="og:url" content="//relatas.com/">
    <meta property="og:image" content="//relatas.com/images/relatasIcon.png">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="Relatas is the new Smart Calendar and Page level Document Analytics product for easy Online Scheduling and Intelligent Document Tracking. Relatas Intelligently tells you what happens to the Document after you sed them and lets you revoke access post sending. Relatas helps you with Unified communication, Smart Online Calendar, Page Level Document Analytics and Global Interaction Map. Try it for FREE.">
    <meta name="keywords" content="cal, conference call, contacts, exchange, gmail, google, ical, icloud, outlook, meeting, Facebook, Linkedin, Twitter, online scheduling, mobile calendar, android calendar, IOS calendar, smart calendar, document tracking, document analytics" />

</head>

<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '863619133666334',
            xfbml      : true,
            version    : 'v2.1'
        });
    };

    (function(d, s, id){

        var js, fjs = d.getElementsByTagName(s)[0];

        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;

        js.src = "//connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));
</script>


<script type="text/javascript">
    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img style="width: 184px;height: 48px" src="{{companyLogo}}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container-fluid" style="margin-top: -1.5%">
    <div class="row">
        <div class="col-md-2 left-sidebar" id="sidebarHeight">
            <div class="grey-bg"></div>

            <div class="profile-picture">
                <img class="profile-picture-border" src="/images/profile_picture_border.png"  />
                <img class="imgLoad" id="profilePic" style="width: 100%;height: 100%"><br>
            </div>

            <div class="person-details">
                <div class="person-detail bold" id="name"></div>
                <div class="person-detail" id="designation"></div>
                <div class="person-detail bold" id="companyName"></div>
            </div>

            <ul class="dash-menu">
                <li class="active">
                    <a href="/dashboard">
                        <img src="/images/dash_icon_gray.png" />
                        <span>DASHBOARD</span>
                    </a>
                </li>
                <li>
                    <a href="/editProfile">
                        <img src="/images/icon_person_grey.png" />
                        <span>PROFILE</span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        &nbsp;&nbsp;<img src="/images/notification.png" />
                        <span>&nbsp;NOTIFICATIONS</span>
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        <img src="/images/icon_contacts_grey.png" />
                        <span>CONTACTS</span>
                    </a>
                </li>
                <!--  <li>
                      <a href="#">
                          <img src="/images/icon_people_grey.png" />
                          <span>MEETINGS</span>
                      </a>
                  </li> -->
                <li >
                    <a href="/calendar">
                        <img src="/images/icon_calendar1_grey.png" />
                        <span>CALENDARS</span>
                    </a>
                </li>
                <li >
                    <a href="/docs">
                        <img src="/images/icon_documents_grey.png" />
                        <span>DOCUMENTS</span>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <img src="/images/icon_calendar2_grey.png" />
                        <span>EVENTS</span>
                    </a>
                </li>
                <li>
                    <a {{adminContent}} href="/corporate/admin">
                        <img src="/images/icon_person_grey.png" />
                        <span>&nbsp;ADMIN</span>
                    </a>
                </li>
            </ul>
            <div style="margin-left: 10%">
                <a href="/privacy" target="_blank">Privacy</a><br>
                <a href="/terms" target="_blank">Terms & Conditions </a><br>
                <a href="/contact" target="_blank">Contact</a><br><br>
                <div>
                    <span style="text-decoration: underline">Connect with us on:</span><br>
                    <span>Follow us <a id="relatasSocialTwitter" target="_blank">@relatas</a></span><br>
                    <span>Connect with us on <a id="relatasSocialLinkedin" target="_blank">Linkedin</a></span><br>
                    <span>Like us on <a id="relatasSocialFacebook" target="_blank">Facebook</a></span><br>
                    <p id="dashboardStatusInfo" class="{{statusInfo}}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-msg">Welcome <span class="user-msg-name" id="user-name">{{firstName}}</span>. <span style="font-weight: 400;font-size: 15px;">&nbsp;&nbsp;Your unique Relatas ID (<a target="_blank" href="/{{uniqueName}}" style="font-weight: bold;color:#FFFFFF;">{{uniqueUrl}}</a>).</span></div>
                </div>
            </div>

            <div id="dashboardShowHide" style="display: none">
                <table style="border-bottom: 1px solid #f67b3f">
                    <tr>
                        <td colspan="8" style="background: #faf7f5">
                            &nbsp;&nbsp; <table style="margin-left: 2%">
                            <tr>
                                <td>
                                    <!-- <span style="font-weight: bold;font-size: 15px;color: #666666">Congratulations&nbsp;!</span>
                                      <span style="color: #666666">&nbsp;&nbsp;your unique Relatas ID <span style="color: #f67b3f;font-weight: bold" id=""></span> is now activated.</span> -->
                                </td>
                            <tr/>
                            <tr>
                                <td>
                                    <span style="color: #00a3e6">Getting Started:&nbsp;<a style="color: #00a3e6;text-decoration: underline;" target="_blank" href="//blog.relatas.com/how-to-capture-relationship-intelligence/">Click here to understand how you can use Relatas effectively</a></span>
                                </td>
                            </tr>
                        </table>
                            &nbsp;&nbsp;
                        </td>
                        <td colspan="4" style="background: #faf7f5">
                            <span style="color: #666666;">Setup Progress:</span><span style="color: #666666;" id="progress">10%</span><br>
                            <progress style="width: 50%;border: 1px solid #c8c8c8;border-radius: 4px;" id="profileProgressbar" class="profile_progress"  value="30" max="100"></progress><div style="margin-top: -7%;" id="closeDashboardMessage" class="close">&times</div>
                        </td>
                    </tr>
                    <tr style="background: #faf7f5" class="noLine">
                        <td>&nbsp;&nbsp;&nbsp;<img style="width: 40px;" src="/images/green/acc_created.png"></td><td style="width: 1%"><span style="color: #666666;">Account Created</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><a href="/editProfile"><img id="updateProfile" style="width: 40px" src="/images/gray/profile.png"></a></td><td><a href="/editProfile"><span style="color: #666666;">Complete <br>your Profile</span></a></td>
                        <td><a href="/editProfile"><img id="changeProfilePic" style="width: 40px" src="/images/gray/profile_pic.png"></a></td><td><a href="/editProfile"><span style="color: #666666;">Add LinkedIn<br> Profile</span></a></td>
                        <td><a id="uploadContactsUrl" href="/contacts"><img id="uploadContacts" style="width: 40px" src="/images/gray/upload_contacts.png"></a></td><td><a id="uploadContactsUrl2" href="/contacts"><span style="color: #666666;">Sync<br> Contacts</span></a></td>
                        <td><a href="/contacts"><img id="sendMails" style="width: 40px;cursor: pointer" src="/images/gray/email.png" ></a></td><td><a href="/contacts"><span style="color: #666666;cursor: pointer">Send email to<br> your contacts</span></a></td>
                        <td><img id="shareImageId" style="width: 40px;cursor: pointer" src="/images/gray/share.png"></td><td><span  id="shareTextId" style="color: #666666;cursor: pointer">Share your ID<br> in your network</span></td>
                    </tr>
                    <tr style="background: #faf7f5">
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="4">
                            <div id="shareContent" style="background-color: rgba(242, 207, 165, 0.4);display: none">
                                <table  style="margin-left: 2%;margin-top: 2%;margin-bottom: 2%;width: 95%;">
                                    <tr>
                                        <td>

                                            Share your ID to use the system effectively. <div id="shareBoxClose" class="close">×</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <a style="text-decoration: none" target="_blank" href="//www.facebook.com/sharer/sharer.php?u={{uniqueUrl}}">
                                                <img id="fbShare" style="width:7%; cursor: pointer"  src="/images/icon_facebook.png">
                                                &nbsp;
                                            </a>
                                            <a style="text-decoration: none" target="_blank" href="//twitter.com/share?text=I blocked my unique identity ( {{uniqueUrl}} ) at Relatas - a new age Relationship Intelligence platform. Check yours at :&url=//relatas.com">
                                                <img id="twitShare" style="width:7%"  src="/images/icon_twitter.png">
                                            </a>
                                            <a style="text-decoration: none" target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url={{uniqueUrl}}&title=Relatas - Business Relationship Intelligence.&summary=Relatas is the new way to interact with your contacts for both business and life. Relatas helps you with Unified Communication/ Scheduling/ Document Analysis/ Global Meetings map. All on one platform. Try it for FREE.&source={{uniqueUrl}}">
                                                &nbsp; <img id="linkShare" style="width:7%" src="/images/icon_linkedin.png">&nbsp;
                                            </a>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row content-row" style="text-align: -moz-center;">
                <div>
                    <table style="width: 50%;">
                        <tr>
                            <td style="width: 35%;"><h2 class="content-title">Current View: &nbsp;</h2></td>
                            <td>
                                <!-- Current View -->
                                <select class="form-control" id="team-member-select" style="margin-top: 4%;">

                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row content-row" id="data" style="display: none">
                <div class="col-md-2 dash-stat">
                    <a class="dash-stat-href"  id="past-meeting-count-href" href="/calendar">
                        <div class="dash-stat-val"  id="pastMeetingCount"></div></a>
                    <div class="dash-stat-title">Past Meetings</div>
                </div>
                <div class="col-md-2 dash-stat">
                    <a class="dash-stat-href" id="upcoming-meeting-count-href" href="/calendar">
                        <div class="dash-stat-val" id="upcomingMeetingCount"></div></a>
                    <div class="dash-stat-title">Upcoming Meetings</div>
                </div>
                <div class="col-md-2 dash-stat">
                    <a class="dash-stat-href" id="contacts-count-href" href="/contacts">
                        <div class="dash-stat-val" id="contactsCount"></div></a>
                    <div class="dash-stat-title">Contacts</div>
                </div>
                <div class="col-md-2 dash-stat">
                    <a class="dash-stat-href" id="documents-shared-count-href" href="/docs">
                        <div class="dash-stat-val" id="documentsSharedCount"></div></a>
                    <div class="dash-stat-title">Documents</div>
                </div>
                <div class="col-md-2 dash-stat">
                    <a class="dash-stat-href" id="notification-count-href" href="/notifications">
                        <div class="dash-stat-val" id="notificationsCount">0</div></a>
                    <div class="dash-stat-title">Action required</div>
                </div>
            </div>
            <center id="noData" style="padding: 5px;display: none"> <table style="width: 50%">
                <tr>
                    <td valign="middle" colspan="3"><center><span>You can perform any of the following actions to get data insights</span></center></td>
                </tr>
                <tr>
                    <td><center><a href="/contacts"><img style="width: 70%;" src="/images/schedule_meeting.png"></a></center></td>
                    <td><center><a href="/docs"><img style="width: 70%;" src="/images/share_document.png"></a></center></td>
                    <td><center><a href="/contacts"><img style="width: 70%;" src="/images/upload_contacts.png"></a></center></td>
                </tr>
            </table>
            </center>
            <div class="row content-row" id="dashboardPopupLink" style="display: none;">
                <div class="col-md-12" style="text-align: center;margin-top: 2%;background-color: #f7f7f7;">
                    <div style="padding: 4px">
                        <img src="/images/icon_90.gif" style="width: 25px;">&nbsp;&nbsp;<a href="/onBoarding?status=showMap" style="color: #03A2EA;text-decoration: underline;font-family: 'Lato', bold;cursor: pointer;">Check interaction details for the past 90 days</a>
                    </div>
                </div>
            </div>
            <div class="row content-row" id="today-meetings">
                <h2 class="content-title">Today's Agenda<span style="color: #666666;font-weight: 300" id="todayDate"></span></h2>
                <div class="col-md-12" id="meetings-table-content">
                    <!-- Today's meetings -->
                </div>
            </div>
            <div class="row content-row" id="latest-meeting-invites">
                <h2 class="content-title">Latest Meeting Invites</h2>
                <div class="meeting-invites-list">
                    <table style="width: initial;" cellspacing="10">
                        <tr id="requests">

                        </tr>
                    </table>
                    <!-- Latest meeting invites -->
                </div>
            </div>

            <div class="row content-row">
                <h2 class="content-title" id="mapPopup">Your Global Interactions Map</h2>
                <span>This map shows all your Interactions with your contacts across the globe.</span>
                <div id="map" style="height:450px; margin-top:12px"></div></br></br>
            </div>
        </div>
    </div>

    <script type="text/template" id="addInvitees-template-details">
        <div class="dialog" id="addInvitees-box">

            <div class="meeting-request-detail">
                <label>Participant Email </label>
                <input type="email" id="inviteesEmails" placeholder="Add emails (,)" class="popup-input">
            </div>

            <div class="Button_block">
                <input type="button" id="closePopup-addInvitees" value="Close" class="popup-btn" >
                <input type="button" id="addInvitees-submit" class="popup-btn" value="submit" >
            </div>
        </div>
    </script>
    <script type="text/template" id="calPass-popup">
        <div class="dialog3" id="calPass-box"><br>
            &nbsp;&nbsp;<input id="approve" checked name="acceptRequest" type="radio">&nbsp;Approve and Send Password&nbsp;&nbsp;<br>
            &nbsp;&nbsp;<input id="notApproved" name="acceptRequest" type="radio">&nbsp;Do Not send password&nbsp;&nbsp;<br><br>
            <textarea id="messageCalPass" placeholder="Message to the requester"></textarea>
            <div class="Button_block">
                <input type="button" style="float:left" id="closePopup-calPass" value="Close" class="popup-btn" >
                <input type="button" id="calPass-submit" class="popup-btn" value="submit" >
            </div>
        </div>
    </script>

    <script type="text/template" id="googleMeetingInfo-popup">
        <div class="dialog3" id="googleMeetingInfo-box"> &nbsp; &nbsp;
            <div style="margin-left: 3%;margin-bottom: 3%">
                <table>
                    <tr>
                        <td style="width: 60%">
                            People Met:
                        </td>
                        <td id="totalPeople">
                            01
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 60%">
                            Total Interactions:
                        </td>
                        <td id="totalMeetings">
                            01
                        </td>
                    </tr>
                </table>
            </div>
            <hr style="border-top: 1px solid #dfdfdf">
            <div style="margin-left: 3%;margin-bottom: 3%">
                <table id="gTable">
                    <thead>
                    <tr style="border-bottom: thin"><td style="width: 30%">Name</td><td style="width: 30%;text-align: center">Total Interactions</td></tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="Button_block">
                <input type="button" id="closePopup-googleMeetingInfo" value="Close" class="popup-btn" >
            </div>
        </div>
    </script>
    <script type="text/template" id="uploaded-docs-popup">
        <div class="dialog3" id="uploaded-docs-box"><br>
            &nbsp;&nbsp;&nbsp;&nbsp; <span>Select from your uploaded Documents below</span><br> <br>
            <div class="scroll"  style="border: 1px solid #f67b3f;">
                <table class="table border-row" id="uploadedDocTable">

                </table>
            </div>
            &nbsp;&nbsp;
            <br>
            <span>OR upload new document </span>&nbsp;&nbsp;<img id="addDocument" style="cursor: pointer; margin-bottom: 1%" src="images/upload_doc_btn.png" />
            <div class="Button_block">

                <input type="button" id="closePopup-uploaded-docs" value="Close" class="popup-btn" >

            </div>
        </div>
    </script>
    <script type="text/template" id="message-popup">
        <div class="dialog3" id="message-box">
            <br> <div id="popupTitle" style="margin-left: 4%"></div>
            <br> <div id="message" style="margin-left: 4%"></div><br>

            <div class="Button_block">
                <input type="button" id="closePopup-message" value="Close" class="popup-btn" >

            </div>
        </div>
    </script>
    <!--<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-2.3.2.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-1.6.0.js"></script>
    <script type="text/javascript" src="/javascripts/pace.js"></script>
    <script src="/javascripts/jstz-1.0.4.min.js" type="text/javascript"></script>
    <script src='/javascripts/jquery-ui.custom.min.js' type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateDashboard.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="/javascripts/markerCluster.js"></script>
    <script type="text/javascript" src="/javascripts/privacy.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/imagesloaded.pkgd.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#shareImageId").on("click",function(){
                $("#shareContent").slideToggle();
            })
            $("#shareTextId").on("click",function(){
                $("#shareContent").slideToggle();
            })
            $("#shareBoxClose").on("click",function(){
                $("#shareContent").slideToggle();
            })
            $(".left-sidebar").css("min-height", $(document).height() - 50);
        });
    </script>
    <script type="text/javascript" src="//assets.freshdesk.com/widget/freshwidget.js"></script>
    <script type="text/javascript">
        FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=Relatas+Help%2C+Support+and+Feedback&submitThanks=Relatas+team+appreciates+you+taking+the+time+to+help+us+with+your+feedback.", "widgetType": "popup", "buttonType": "text", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#03a2ea", "alignment": "4", "offset": "235px", "submitThanks": "Relatas team appreciates you taking the time to help us with your feedback.", "formHeight": "500px", "url": "//relatas.freshdesk.com"} );
    </script>
    <div class="margin-top12 bg-grey">
        <hr>
        <div class="container clearfix">
            <div class="pull-right">
                <i style="text-decoration: underline;"> Want a landing page for
                    your business? <a href="#">Click here</a>
                </i>&nbsp;&nbsp;&nbsp; <i>Powered by: &nbsp;&nbsp;</i> <img
                    src="/landing/img/rsz_relatas.png" style="width: 30%;">
            </div>
        </div>
    </div>
</body>
</html>