<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin | Opportunity</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">

    <style >
        .pointer {cursor: pointer;}
    </style>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/corporateOppDetails.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type='text/javascript' src="/directives/angular-drag-and-drop-lists.js"></script>
    <script src="/javascripts/moment.js"></script>
    <style>[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}</style>
</head>
<body ng-cloak>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container" data-ng-controller="companyDetails">
        <div class="mainNav ng-scope" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Opportunity</a></li>
        </ul>
        <div class="left-panel">
            <ul class="list-unstyled">
                <li ng-repeat="item in menu" class="[[item.selected]]" data-ng-click="selectMenu(item)">[[item.name]]</li>
            </ul>
        </div>
        <div class="right-panel">
            <div ng-show="currentSelection == 'Stages'" class="iframe-reset">
                <div style="height: 100%">
                    <iframe src="/corporate/admin/edit/opportunity/stages"></iframe>
                </div>
            </div>
            <div ng-show="currentSelection == 'Customer Setting'">

                <table class="table table-striped">
                    <tr>
                        <th>Type</th>
                        <th>Mandatory</th>
                    </tr>
                    <tr ng-repeat="el in contactSettings | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td>
                            <input type="checkbox" ng-model="el.mandatory" data-ng-click="makeContactMandatory(el)">
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Close Reasons'">

                <div class="top-section clearfix">
                    <h5 class="bold pull-left">On opportunity close send email report to:</h5>
                    <div class="pull-right">
                        <input type="checkbox" value="" id="orgHeadNotif"> Company Head &nbsp;&nbsp;
                        <input type="checkbox" value="" id="rmNotif">Reporting Manager&nbsp;&nbsp;
                        <!--<input type="checkbox" value="" id="tmWithAcessNotif"> Team members with access&nbsp;-->
                    </div>
                </div>
                
                <div class="top-section clearfix">
                    <h5 class="bold pull-left" style="margin: 0;">Renewal opportunity status selection mandatory: </h5>
                    <div class="pull-left">
                        &nbsp;&nbsp;<input type="checkbox" value="" id="renewalStatus"> Renewal Status
                    </div>
                </div>

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="reason" placeholder="Add reason">
                        <button id="addCloseReasons">Add</button>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in closeReasons | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisReason(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>

            <div ng-show="currentSelection == 'Regions'">
                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="region" placeholder="Add regions">
                        <button id="addRegion">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" value="" id="regionRequired"> Region selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in regions | orderBy:'region'">
                        <td>[[el.region]]</td>
                        <td><a href="#" data-ng-click="deleteThisRegion(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Verticals'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="vertical" placeholder="Add vertical">
                        <button id="addVertical">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" value="" id="verticalRequired">Vertical selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in verticalList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisVertical(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Products'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="product" placeholder="Add product">
                        <button id="addProduct">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" value="" id="productRequired"> Product selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in productList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisProduct(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Solutions'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="solution" placeholder="Add Solution">
                        <button data-ng-click="addSolution()">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" ng-model="solutionRequired" ng-change="solutionRequiredStatus()">Solution selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in solutionList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisSolution(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Type'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="type" placeholder="Add Type">
                        <button data-ng-click="addType()">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" ng-model="typeRequired" ng-change="typeRequiredStatus()">Type selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th>Is Renewal Type</th>
                        <th>Default Renewal Type <i class="fa fa-info-circle black-color" title="All Auto Renewals would be selected as this Type"></i></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in typeList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td>
                            <input type="checkbox"
                                   name="isDefaultRenewalType"
                                   ng-change="updateRenewalType(el)"
                                   ng-model="el.isTypeRenewal">
                        </td>
                        <td>
                            <input ng-show="el.isTypeRenewal" type="checkbox"
                                   name="isDefaultRenewalType"
                                   ng-change="updateDefaultRenewalType(el)"
                                   ng-model="el.isDefaultRenewalType">
                        </td>
                        <td><a href="#" ng-show="!el.isDefaultRenewalType" data-ng-click="deleteThisType(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Business Units'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="bu" placeholder="Add Business Unit">
                        <button data-ng-click="addBu()">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" ng-model="businessUnitRequired" ng-change="buRequiredStatus()">Business unit selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in businessUnits | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisBu(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Sources'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" id="source" placeholder="Add source">
                        <button id="addSource">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" value="" id="sourceRequired">Source selection mandatory<br>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in sourceList | orderBy:'name'">
                        <td>[[el.name]]</td>
                        <td><a href="#" data-ng-click="deleteThisSource(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Currency'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <input class="table2" type="text" ng-model="currencyInput" ng-change="searchForCurrency(currencyInput)" placeholder="Search and add currency" id="currency">
                        <div class="wrap-cl" ng-show="currencyLists.length>0">
                            <div ng-repeat="item in currencyLists" data-ng-click="selectThisCurrency(item)">
                                [[item.symbol]]: [[item.name]]
                            </div>
                        </div>
                        <input class="table2" type="text" placeholder="Exchange rate" id="xr" onkeypress="return validateFloatKeyPress(this,event);">
                        <button data-ng-click="addCurrency()">Add</button>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" id="netGrossMargin">Net Gross Margin selection mandatory
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>Currency</th>
                        <th>Exchange Rate</th>
                        <th>Primary currency</th>
                        <th>Deactivate</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in currencyList | orderBy:'name'">
                        <td>[[el.name]] ([[el.symbol]])</td>
                        <td class="editable">
                            <span ng-show="!el.editThis" data-ng-click="editXr(el)">
                                <span ng-show="!el.isPrimary">[[inPrimaryCurrency]]</span>[[el.xr]] <span ng-show="!el.isPrimary">[[el.symbol]]</span>
                            </span>
                            <div ng-show="el.editThis">
                                <input type="text" ng-model="el.xr" onkeypress="return validateFloatKeyPress(this,event);"><button data-ng-click="saveXr(el)">OK</button>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="primaryCurrency"
                                   ng-change="updatePrimaryCurrency(el)"
                                   ng-model="el.isPrimary">
                        </td>
                        <td>
                            <input type="checkbox"
                                   name="deactive"
                                   ng-change="updateCurrencyStatus(el)"
                                   ng-model="el.isDeactivated">
                        </td>
                        <td><a href="#" data-ng-click="deleteThisCurrency(el)">Delete</a> </td>
                    </tr>
                </table>
            </div>
            <div ng-show="currentSelection == 'Salesforce Integration'">

                <div class="clearfix add-section">
                    <div class="pull-right"><button id="saveSfSettings">Save Settings</button></div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col-md-2">Consumer Key</div>
                    <div class="col-md-2"><input class="table2" type="text" id="sfClientId"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Consumer Secret</div>
                    <div class="col-md-2">
                        <input class="table2" type="text" id="sfClientSecret">
                    </div>
                </div>
            </div>

            <div ng-show="currentSelection == 'Transfer/Delete'">

                <div class="clearfix add-section">
                    <div class="pull-right">
                        <label for="repeatSelect">Select team member: </label>
                        <select name="repeatSelect" id="repeatSelect" ng-model="data.model" ng-change="fetchForUser(data.model)">
                            <option ng-repeat="option in data.teamMembers" value="[[option._id]]">[[option.name]]</option>
                        </select>

                    </div>
                    <div class="pull-right" ng-show="oppList.length>0">
                        <button data-ng-click="openPopup()">Transfer selected opps</button>
                        <button class="delete" data-ng-click="deleteOpps()">Delete selected opps</button>
                    </div>
                </div>

                <div class="other-modal" ng-show="showPopup">
                    <div class="body">
                        <div class="box" ng-show="teamMembers.length>0">
                            <div ng-repeat="item in teamMembers" data-ng-click="selectUserForOppTransfer(item)">
                                [[item.name]]<br>[[item.emailId]]
                            </div>
                        </div>
                        <div>
                            <label>Search for new opportunity owner</label>
                            <input type="text" ng-model="searchText" ng-change="searchForUser(searchText)">
                        </div>
                        <div class="clearfix add-section">
                            <div class="pull-left">
                                <button data-ng-click="transferOpps()">Transfer</button>
                                <button class="delete" data-ng-click="openPopup()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th><input data-ng-click="toggleSelectionOpps()" ng-model="selectAll" type="checkbox"> Select all </th>
                        <th ng-click="sortBy('opportunityName')" class="pointer"> Opportunity name </th>
                        <th ng-click="sortBy('relatasStage')" class="pointer"> Stage </th>
                        <th ng-click="sortBy('amount')" class="pointer"> Amount </th>
                        <th ng-click="sortBy('productType')" class="pointer"> Product </th>
                        <th ng-click="sortBy('zone')" class="pointer"> Zone </th>
                        <th ng-click="sortBy('town')" class="pointer"> Town </th>
                        <th ng-click="sortBy('createdDate')" class="pointer"> Created </th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div ng-show="loadingOpps" class="loading-bars">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="el in oppList | orderBy:tableHeaderName:reverse">
                        <td><input ng-model="el.select" type="checkbox"></td>
                        <td>[[el.opportunityName]]</td>
                        <td>[[el.relatasStage]]</td>
                        <td>[[el.amount]]</td>
                        <td>[[el.productType]]</td>
                        <td>[[el.zone]]</td>
                        <td>[[el.town]]</td>
                        <td>[[el.createdDate | date: 'dd MMM yyyy']]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>