<div class="document-header clearfix">
    <div class="col-md-5">
        <h3>[[templateName]]</h3>
    </div>

    <div class="col-md-7 clearfix">
        <div class="clearfix margin-btn">
            <button class="btn btn-white close-btn pull-right">Close</button>
            <button class="btn btn-primary pull-right" >SAVE</button>
            <button class="btn btn-white close-btn pull-right">Close</button>            
            <button class="btn btn-white close-btn pull-right">Delete</button>
        </div>
    </div>
</div>

<div class="form-wrap form-builder">
    <div class="stage-wrap pull-left ">
        <ul id="sortable" class="frmb place-element" style="min-height: 0px;">
            <!-- <li class="drag"><textarea class="resize"></textarea></li> -->
        </ul>
    </div>

    <div class="cb-wrap pull-right">
        <ul class="frmb-control ui-sortable">
            <li class="icon-textarea generate-input-text"><i class="icon-toolbox fa fa-text-height"></i>Input Text</li>
            <li class="icon-textarea generate-input-box"><i class="icon-toolbox fa fa-square-o"></i>Text Box</li>
            <li class="generate-table"><i class="icon-toolbox fa fa-table"></i>Table</li>
            <li class="icon-textarea generate-image"><i class="icon-toolbox fa fa-picture-o"></i>Image</li>
            <li class="icon-textarea generate-header"><i class="icon-toolbox fa fa-header"></i>Header</li>
        </ul>
    </div>
</div>

<!-- <div ng-click="changeProfilePic()" class="col-md-3 col-sm-3 col-xs-6 edit-profile-image" style="border: 1px solid #CCCCCC;max-height: 172px;text-align: center;height: 172px;">
    <div>
        <div id="profilePicUpdated_parent"><img id="profilePicUpdated" style="width: 100px;height: 100px;margin-top: 30px;object-fit: cover;" ng-src="[[profilePic]]"></div>
        <p>Change Profile Picture</p>
    </div>
    <input name="file" type="file" accept="image/*" style="display: none" id="selectPic"/>
</div> -->
