<div class="col-md-3 form-main">
    <form role="form"> 
        <div class="form-group">
            <label>Template Type</label>
            <input type="text" class="form-control" data-ng-model="templateType">
        </div>
        <div class="form-group">
            <label>Template Name</label>
            <input type="text" class="form-control" data-ng-model="templateName">
        </div>
        <button type="submit" class="btn btn-default" ng-click="showDocumentTemplate(templateName)">create</button>
    </form>
</div>