<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Matrix Access Control</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/portfolio.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/matrixAccess.js"></script>
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="mainNav ng-scope" style="top: -4px;z-index: 999;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
    <ul class="breadcrumb">
        <li><a href="/corporate/admin/">Admin View</a></li>
        <li><a href="#" class="your-are-here">Matrix Access</a></li>
    </ul>
    <div class="container table-responsive code-display" data-ng-controller="assign_ownership">

        <div class="custom-modal" ng-show="showModal">
            <div class="clearfix close-modal" style="border-bottom: 1px solid #ccc">

                <div class="pull-left info">
                    <i class="fa fa-exclamation-circle"></i>WARNING!<br>
                    Matrix access gives access to portfolios and reporting team members.
                </div>
                <div class="pull-right" style="margin-left: 15px;">
                    <button class="btn btn-green" data-ng-click="saveSettings()">Save</button>
                </div>
                <div class="pull-right cursor" data-ng-click="closeModal()">
                    <button class="btn btn-green close-btn">Close</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 overflow" ng-repeat="ac in accessibleProperties">
                    <ul>
                        <li>
                            <h6 style="margin: 0 0 5px 0px;font-weight: bold;">
                                <input ng-model="ac.all" type="checkbox" data-ng-click="selectAll(ac.name)">
                                All [[ac.name]]
                            </h6>
                        </li>
                        <li ng-repeat="item in ac.items">

                            <input type="checkbox" ng-model="item.selected" ng-change="setAccessControl(item.selected,item,user)">[[item.name]]
                        </li>
                    </ul>
                </div>
            </div>
<!--            <div class="row" style="border-top: 1px solid #ccc;padding-top: 10px;margin-top: 5px;">-->
<!--                <strong class="cursor" data-ng-click="openTeamMembersList()">-->
<!--                    Reporting Team Members <i class="fa fa-plus-square green-color"></i>-->
<!--                </strong>-->
<!--                <ul class="list-unstyled user-abs" ng-show="displayTeamMembersList">-->
<!--                    <li>-->
<!--                        <input type="text" ng-model="user.fullName" placeholder="Search and add reportees">-->
<!--                    </li>-->
<!--                    <li ng-repeat="user in teamMembers | filter:user.fullName | orderBy:'fullName'">-->
<!--                        <input type="checkbox" ng-model="user.selected" data-ng-click="addReportees(user)">-->
<!--                        [[user.fullName]]([[user.emailId]])-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <p ng-show="reportees.length == 0" style="font-weight: normal;">-->
<!--                    No reportees added.-->
<!--                </p>-->
<!--                <ul class="list-unstyled reportees" ng-show="reportees.length>0">-->
<!--                    <li ng-repeat="rm in reportees" title="[[rm.emailId]]" class="clearfix">-->
<!--                        <div class="pull-left">-->
<!--                            [[rm.fullName]]-->
<!--                        </div>-->
<!--                        <div class="pull-right cursor" data-ng-click="removeReportee(rm)">-->
<!--                            (x)-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

        <div class="row" style="margin: 0">
            <div>
                <div class="clearfix">
                    <div class="pull-right">
                        <input ng-model="user" placeholder="Search user" type="text">
                    </div>
                </div>
                <table class="table table-hover [[background]]">
                    <tr>
                        <th data-ng-click="sortByAlpha = !sortByAlpha" class="cursor">User</th>
                        <th ng-repeat="el in headers">[[el]]</th>
                    </tr>
                    <tr ng-repeat="user in teamList | filter:user | orderBy:'fullName':sortByAlpha" class="cursor" data-ng-click="setAccess(user)">
                        <td class="wid20">
                            <div class="css-rest-image clearfix">
                                <div class="clearfix cursor search-box-wrapper" title="[[user.fullName]], [[user.emailId]]">
                                    <div class="pull-left relative">
                                        <span ng-if="user.noPicFlag" title="[[user.fullName]], [[user.emailId]]"><span class="contact-no-image">[[user.nameNoImg]]</span></span>
                                    </div>
                                    <div class="pull-left">
                                        <p class="margin0">[[user.fullName]]</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><span ng-repeat="el in user.regionList">[[el]]</span><span ng-show="user.regionOwner.length>3">+ [[user.regionOwner.length-3]]</span></td>
                        <td><span ng-repeat="el in user.productList">[[el]]</span><span ng-show="user.productTypeOwner.length>3">+ [[user.productTypeOwner.length-3]]</span></td>
                        <td><span ng-repeat="el in user.verticalList">[[el]]</span><span ng-show="user.verticalOwner.length>3">+ [[user.verticalOwner.length-3]]</span></td>
                        <td><span ng-repeat="el in user.businessUnitsList">[[el]]</span><span ng-show="user.businessUnits.length>3">+ [[user.businessUnits.length-3]]</span></td>
<!--                        <td>-->
<!--                            <span ng-repeat="el in reportees track by $index">-->
<!--                                <span ng-show="$index<=1">[[el.fullName]],</span></span>-->
<!--                            <span ng-show="reportees.length>2">+ [[reportees.length-2]]</span>-->
<!--                        </td>-->
                    </tr>
                </table>
            </div>
        </div>

        <div class="side-board">
            <div class="c-heirarchy action-board" ng-show="toggleDisplay">
                <div class="clearfix relative">
                    <div class="abs-right fs-16" data-ng-click="toggleDisplay = false;">X</div>
                </div>
                <div>
                    <div class="c-tree">
                        <ul id="root"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
