<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Targets Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/memberTargets.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="padding: 0;">
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="container-fluid relative" data-ng-controller="assign_ownership">
    <div class="mainNav ng-scope" style="top: -4px;z-index: 999;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
    <ul class="breadcrumb" style="top: 50px;">
        <li><a href="/corporate/admin/">Admin View</a></li>
        <li><a href="#" class="your-are-here">Target Settings</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12" style="padding-left: 85px;">
            <div ng-show="setupCompany" style="margin-bottom: 25px;padding-bottom: 10px;">
                <div class="target-list-wrapper table-responsive" style="padding-bottom: 10px;margin-top: 100px;">
                    <table class="table table-hover target-list">
                        <tr class="fixed">
                            <th></th>
                            <th ng-repeat="fy in fiscalYear">[[fy]]</th>
                        </tr>
                        <tr ng-repeat="user in companyList">
                            <td class="wid20">
                                <div class="css-rest-image clearfix">
                                    <div class="clearfix search-box-wrapper">
                                        <div class="pull-left">
                                            <p class="margin0">[[user.fullName]]</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td ng-repeat="el in user.targets">
                                <input ng-model="el.target" ng-change="saveSettings(user)">
                            </td>
                        </tr>
                    </table>
                    <div style="margin: auto;width: 85px;">
                        <button class="btn btn-green text-center" style="margin: auto" data-ng-click="saveCompanySettings()">Save Targets</button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="clearfix" style="margin-top: 110px;">
                <div class="pull-left">
                    <h4>Setup Monthly Target</h4>
                </div>
                <div class="pull-right">
                    <input ng-model="user" placeholder="Search user" type="text" style="margin-left: 10px">
                    <span class="fs-14 cursor underline" data-ng-click="toggleSideBoard()" style="margin-left: 10px">View hierarchy</span>
                    <button class="btn btn-green" data-ng-click="saveTargets()" style="margin-left: 10px">Save Targets</button>
                    <button class="btn btn-green" data-ng-click="setupCompany = !setupCompany" style="margin-left: 10px">Setup Company Target</button>
                </div>
            </div>

            <div class="target-list-wrapper table-responsive">
                <table class="table table-hover target-list">
                    <tr class="fixed">
                        <th data-ng-click="sortByAlpha = !sortByAlpha" class="cursor">User</th>
                        <th ng-repeat="fy in fiscalYear">[[fy]]</th>
                    </tr>
                    <tr ng-repeat="user in teamList | filter:user | orderBy:'fullName':sortByAlpha" data-ng-click="setAccess(user)">
                        <td class="wid20">
                            <div class="css-rest-image clearfix">
                                <div class="clearfix search-box-wrapper" title="[[user.fullName]],[[user.designation]], [[user.emailId]]">
                                    <div class="pull-left relative">
                                        <img ng-if="!user.noPicFlag" src="[[user.image]]" class="contact-image" imageonload="imageNotLoaded(user)">
                                        <span ng-if="user.noPicFlag" title="[[user.fullName]], [[user.emailId]]"><span class="contact-no-image">[[user.nameNoImg]]</span></span>
                                    </div>
                                    <div class="pull-left">
                                        <p class="margin0">[[user.fullName]]</p>
                                        <p class="margin0">[[user.designationXs]]</p>
                                        <p class="margin0">[[user.emailIdXs]]</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-repeat="el in user.targets">
                            <input ng-model="el.target" onkeypress="return validateFloatKeyPress(this,event);" ng-change="saveSettings(user)">
                        </td>
                        <td class="text-right bold" style="width: 60px;padding-right: 5px !important;">
                            [[user.totalTarget]]
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="clearfix side-board" ng-controller="hierarchyController">
    <div class="c-heirarchy action-board" ng-show="toggleDisplay">
        <div class="clearfix relative">
            <div class="abs-right fs-16" data-ng-click="toggleDisplay = false;">X</div>
        </div>
        <div>
            <div class="c-tree">
                <ul id="root"></ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>