<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Access Control Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/oppPropOwner.js"></script>
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

    <div class="bg-strong-grey" style="margin-top: -1.5%">
        <div class="mainNav ng-scope" style="top: -4px;z-index: 999;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Access Control Settings</a></li>
        </ul>
        <div class="container table-responsive code-display" data-ng-controller="assign_ownership">

            <div class="custom-modal" ng-show="showModal">
                <div class="clearfix close-modal">
                    <div class="pull-left">
                        <div>
                            [[userSelected.name]]<span class="lite"> ([[userSelected.emailId]] )</span> <a style="color: #00a3e6;text-decoration: underline;" href="/corporate/admin/NewsetHierarchy" target="_blank">View Hierarchy</a>
                        </div>
                        <div>
                            <strong>
                                Reporting Manager:
                            </strong>
                            [[rm.name]]<span class="lite"> ([[rm.emailId]] )</span>
                        </div>
                    </div>
                    <div class="pull-right cursor" data-ng-click="closeModal()">X</div>
                </div>

                <div class="row info">
                    <i class="fa fa-exclamation-circle"></i>WARNING!<br>This access control is <strong>ONLY</strong>
                    for exceptional access.<br>
                    Use this only if team members need exceptional opportunity view access other than their reporting hierarchy.
                </div>
                <div class="row">
                    <div class="col-md-4 overflow" ng-show="region.length>0">
                        <h6><input ng-model="allRegion" type="checkbox" ng-disabled="regionDisabled" data-ng-click="selectAll('region')">All Region</h6>
                        <ul>
                            <li ng-repeat="item in region">
                                <input type="checkbox" ng-model="item.selected" ng-disabled="item.disabled" ng-change="setAccessControl(item.selected,item,user)">[[item.name]]
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 overflow" ng-show="product.length>0">
                        <h6><input ng-model="allProduct" type="checkbox" ng-disabled="prodDisabled" data-ng-click="selectAll('product')">All Product</h6>
                        <ul>
                            <li ng-repeat="item in product | orderBy:'name':sortByAlpha">
                                <input type="checkbox" ng-model="item.selected" ng-disabled="item.disabled" ng-change="setAccessControl(item.selected,item,user)">[[item.name]]
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 overflow" ng-show="vertical.length>0">
                        <h6><input ng-model="allVertical" type="checkbox" ng-disabled="verticalDisabled" data-ng-click="selectAll('vertical')">All Vertical</h6>
                        <ul>
                            <li ng-repeat="item in vertical | orderBy:'name':sortByAlpha">
                                <input type="checkbox" ng-model="item.selected" ng-disabled="item.disabled" ng-change="setAccessControl(item.selected,item,user)">[[item.name]]
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 text-left">
                        <h6><input ng-model="userSelected.companyTargetAccess" type="checkbox" data-ng-click="setCompanyTarget(userSelected)">Can view company targets</h6>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-green" data-ng-click="saveSettings()">Save</button>
                </div>
            </div>

            <div class="row" style="margin: 0">
                <div class="col-md-12" style="padding-left: 45px;">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4>Setup Access Control</h4>
                        </div>
                        <div class="pull-right">
                            <input ng-model="user" placeholder="Search user" type="text">
                            <span class="fs-14 cursor underline" data-ng-click="toggleSideBoard()" style="margin-left: 10px">View hierarchy</span>
                        </div>
                    </div>
                    <table class="table table-hover [[background]]">
                        <tr>
                            <th data-ng-click="sortByAlpha = !sortByAlpha" class="cursor">User</th>
                            <th>Region</th>
                            <th>Product</th>
                            <th>Vertical</th>
                        </tr>
                        <tr ng-repeat="user in teamList | filter:user | orderBy:'fullName':sortByAlpha" class="cursor" data-ng-click="setAccess(user)">
                            <td class="wid20">
                                <div class="css-rest-image clearfix">
                                    <div class="clearfix cursor search-box-wrapper" title="[[user.fullName]], [[user.emailId]]">
                                        <div class="pull-left relative">
                                            <img ng-if="!user.noPicFlag" src="[[user.image]]" class="contact-image" imageonload="imageNotLoaded(user)">
                                            <span ng-if="user.noPicFlag" title="[[user.fullName]], [[user.emailId]]"><span class="contact-no-image">[[user.nameNoImg]]</span></span>
                                        </div>
                                        <div class="pull-left">
                                            <p class="margin0">[[user.fullName]]</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><span ng-repeat="el in user.regionList">[[el]]</span><span ng-show="user.regionOwner.length>3">+ [[user.regionOwner.length-3]]</span></td>
                            <td><span ng-repeat="el in user.productList">[[el]]</span><span ng-show="user.productTypeOwner.length>3">+ [[user.productTypeOwner.length-3]]</span></td>
                            <td><span ng-repeat="el in user.verticalList">[[el]]</span><span ng-show="user.verticalOwner.length>3">+ [[user.verticalOwner.length-3]]</span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="side-board">
                <div class="c-heirarchy action-board" ng-show="toggleDisplay">
                    <div class="clearfix relative">
                        <div class="abs-right fs-16" data-ng-click="toggleDisplay = false;">X</div>
                    </div>
                    <div>
                        <div class="c-tree">
                            <ul id="root"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>