<!DOCTYPE html>
<html ng-app='oppStages'>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Stage Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet" />
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>

    <script src="/controllers/oppStages.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type='text/javascript' src="/directives/angular-drag-and-drop-lists.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="padding: 0;">
<span id="company-object-hidden" style="display: none">{{company}}</span>
<!-- Navigation -->

<div class="container drag-drop">
    <simple-list></simple-list>
</div>

</body>
</html>