<!DOCTYPE html>
<html ng-app='newHierarchy'>

<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Organisation Hierarchy Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet" />
    <link href="/stylesheets/css/toastr.css" rel="stylesheet" />
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/angular.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="/javascripts/common/jquery.orgchart.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <!--<link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">-->
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <link href="/stylesheets/jquery.orgchart.min.css" rel="stylesheet">
    <script src="/javascripts/admin/orgHierarchy.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
</head>

<body class="this-height">
    <nav class="navbar navbar-fixed-top">
        <div class="row margin0" ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                        </a>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
            </div>
            <div class="col-xs-4 login_header">
                <li class="dropdown" id="menuLogin" style="list-style: none;">
                    <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                        <span class="text_transform">{{profileName}}</span>
                        <img class="image-placeholder-small" ng-src="{{profileImage}}" />
                    </a>
                    <br/>
                    <div class="dropdown-menu pull-right profile_link text_transform" style="padding:5px;text-align: center;">
                        <ul style='list-style:none;' class="notificationsss anchor-padding">
                            <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                            <li class="divider">
                                <a href=""></a>
                            </li>
                            <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>
    </nav>

<div ng-controller='hierarchy'>
    <div class="container-fluid">
        <div class="mainNav ng-scope" style="top: 0;z-index: 999;" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Organisation Hierarchy</a></li>
        </ul>
        <div class="chart-controls clearfix">
            <div class="pull-left">
                <button id="unassignedList" class="btn btn-white">Unassigned users</button>
            </div>
            <h5 class="title">Organisation Hierarchy</h5>
            <div class="pull-right">
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="unassigned-list">
                <ul class="list-unstyled">
                    <li ng-repeat="item in unassigned | orderBy:'firstName' | filter:search" ng-if='unassigned.length > 0' class="liCommonClass" ng-class="{'on': selected==item}" ng-click='add(item);'>
                        <img class="img-circle" width="46px" height="46px" ng-src="{{item.image}}" ng-if='item.noImage === 0' imageonload='imageNotLoaded(item)'>
                        <span class="image-placeholder-small-text textImage" ng-if="item.noImage === 1"><span class="ng-binding" style="text-align: center;display: block;">{{item.firstName.substring(0,2)}}</span></span>
                        <div class='name'><strong style='color:#00796b;'>{{item.fullName}}</strong></div>
                        <br/>
                        <div class='designation' style='color:#00796b;'>{{item.designation}}</div>
                    </li>
                </ul>
            </div>
            <div id="chart-container"></div>
            <div ng-show="!hierarchyExists" class="no-hierarchy">
                <h5 class="no-hr-text">No organisation hierarchy built. Start by identifying the organisation head.</h5>
                <div ng-show="orgHead.image.length>0">
                    <img class="img-circle" width="45px" height="45px" ng-src="{{orgHead.image}}" ng-if='orgHead.noImage === 0' imageonload='imageNotLoaded(orgHead)'>
                    <span class="image-placeholder-small-text" style="font-size:14px;line-height: 45px;height:45px;width:45px;text-align: center;display: inline-block;" ng-if="orgHead.noImage === 1"><span>{{orgHead.firstName.substring(0,2)}}</span></span>
                    <div class='name' style="margin-left: 0">
                        <strong>{{orgHead.fullName}}</strong>
                        <span>{{orgHead.designation}}</span>
                    </div>
                </div>
                <input type="text" class="no-hr-text" ng-change="searchForUser(keyword)" ng-model="keyword" placeholder="Search for team members">
                <div search-results-no-hierarchy></div>
                <button id="resetOrgHead" class="btn btn-white close-btn" ng-show="orgHead.image?true:false">Cancel</button>
                <button data-ng-click="assignOrgHead()" class="btn btn-primary" ng-show="orgHead.image?true:false">Set Org. Head</button>
            </div>
            <div class="modal-wrapper modal-open" ng-show="editUserData">
                <div class="inner-el-wrapper">
                    <div class="modal-header clearfix">
                        <div class="pull-left">
                            <strong>{{user.firstName}} {{user.lastName}}</strong>
                            <p class="margin0">{{user.designation}}</p>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-white close-btn" data-ng-click="removeUser(user)" title="Remove {{user.firstName}} {{user.lastName}} and children from hierarchy">Remove user</button>
                            <button class="btn btn-white close-btn" data-ng-click="closeModal()">Close</button>
                            <button class="btn btn-primary margin0" data-ng-click="saveUserData(user)" type="button">SAVE</button>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="clearfix">
                            <div class="pull-left" style="margin-right: 10px">
                                <label>Assign reportee</label>
                            </div>
                            <div class="pull-left cursor reportee" ng-show="item.fullName" data-ng-click="resetReportee()">
                                <img class="img-circle" width="25px" height="25px" ng-src="{{item.image}}" ng-if='item.noImage === 0' imageonload='imageNotLoaded(item)'>
                                <span class="image-placeholder-small-text textImage" style="font-size:10px;line-height: 25px;height:25px;width:25px;text-align: center;display: block;" ng-if="item.noImage === 1"><span>{{item.firstName.substring(0,2)}}</span></span>
                                <div class='name' style="margin-left: 0">
                                    <strong>{{item.fullName}}</strong>
                                    <span>{{item.designation}}</span>
                                </div>
                                <div class="remove-user">
                                    (X)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix section">
                            <input type="text" ng-model="keyword" placeholder="Search for team member" ng-change="searchForUser(keyword)">
                        </div>
                        <div search-results></div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>
</body>
</html>
