<!DOCTYPE html>
<html ng-app='newHierarchy'>

<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | Organisation Roles Setup | [[companyName]]</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet" />
    <link href="/stylesheets/css/toastr.css" rel="stylesheet" />
    <link href='/stylesheets/main-app.css' media='all' rel='stylesheet' type='text/css' />
    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script src="/lib/angular.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    <script src="/javascripts/admin/orgRoles.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="this-height">
<nav class="navbar navbar-fixed-top">
    <div class="row margin0" ng-controller="header_controller">
        <div class="col-xs-3">
            <ul class="nav navbar-nav">
                <li>
                    <a m_event="relatas logo" href="/">
                        <img alt="Relatas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive hidden-xs" style="margin-left: 15px;">
                    </a>
                    <a m_event="relatas logo" href="/">
                        <img alt="Reletas" src="/landing/img/logo-sm.png" id="school_side_image" class="profile-pic logo-xs img-responsive hidden-md hidden-sm hidden-lg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-5 col-sm-4 col-sm-offset-1 text-center padding-xs-l0">
        </div>
        <div class="col-xs-4 login_header">
            <li class="dropdown" id="menuLogin" style="list-style: none;">
                <a class="dropdown-toggle pull-right profile_link" href="#" data-toggle="dropdown" id="navLogin">
                    <span class="text_transform">[[profileName]]</span>
                    <img class="image-placeholder-small" ng-src="[[profileImage]]" />
                </a>
                <br/>
                <div class="dropdown-menu pull-right profile_link text_transform" style="padding:5px;text-align: center;">
                    <ul style='list-style:none;' class="notificationsss anchor-padding">
                        <li><a m_event="profile" href="/settings" class="text_transform">Profile</a></li>
                        <li class="divider">
                            <a href=""></a>
                        </li>
                        <li><a m_event="logout" href="/logout" id="mLogout" class="text_transform">Logout</a></li>
                    </ul>
                </div>
            </li>
        </div>
    </div>
</nav>

<div ng-controller='hierarchy'>
    <div class="container-fluid">
        <div class="mainNav ng-scope" style="top: 0" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Opportunity Internal Team Roles Management</a></li>
        </ul>
        <div class="role-header clearfix">
            <button data-ng-click="addNewRole()" class="pull-right btn btn-primary">New Role</button>
        </div>
        <div class="clearfix set-left-margin60">
            <div ng-repeat="item in rolesList" class="new-role">
                <div class="role-card">
                    <div class="inner-el-wrapper">
                        <div class="modal-header">
                            <div class="clearfix">
                                <strong ng-show="!item.editRole && item.nonEditable">
                                    <u ng-show="!item.nonEditable">[[item.roleName]]</u>
                                    <span ng-show="item.nonEditable">[[item.roleName]]</span>
                                </strong>
                                <strong class="cursor" ng-show="!item.editRole && !item.nonEditable" data-ng-click="editRoleName(item)">
                                    <u ng-show="!item.nonEditable">[[item.roleName]]</u>
                                    <span ng-show="item.nonEditable">[[item.roleName]]</span>
                                </strong>
                                <input type="text" style="width: 78%;float: left" ng-show="item.editRole" placeholder="Add new role" ng-model="newRoleName">
                                <button style="margin-left: 15px !important;padding-top: 8px !important;padding-bottom: 8px !important;" class="pull-left btn btn-primary margin0" ng-show="item.editRole" data-ng-click="updateRoleName(item,newRoleName)">OK</button>
                            </div>
                            <div class="clearfix" ng-show="!item.editRole && !item.nonEditable">
                                <button type="button" class="btn btn-white close-btn" data-ng-click="removeRole(item)">Delete role</button>
                                <button class="btn btn-white" data-ng-click="openTeamMemberAdd(item)">Add Team member</button>
                                <button class="btn btn-primary margin0" data-ng-click="saveUserData(item)" type="button">SAVE</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="clearfix section" ng-show="item.showTeamMemberAdd">
                                <input type="text" ng-model="item.keyword" placeholder="Add team member" ng-change="searchForUser(item,item.keyword)">
                            </div>
                            <div class="clearfix section search" ng-show="item.users.length>0">
                                <input type="text" ng-model="item.searchText" placeholder="Search team member">
                            </div>

                            <div search-results></div>
                            <div class="existing-users">
                                <div data-ng-repeat="user in item.users | filter:item.searchText">
                                    <div class="cursor clearfix users" ng-show="user.fullName" data-ng-click="removeUser(item,user)">
                                        <img class="img-circle" width="25px" height="25px" ng-src="[[user.image]]" ng-if='user.noImage === 0' imageonload='imageNotLoaded(user)'>
                                        <span class="image-placeholder-small-text textImage" style="font-size:10px;line-height: 25px;height:25px;width:25px;text-align: center;display: block;" ng-if="user.noImage === 1"><span>[[user.firstName.substring(0,2)]]</span></span>
                                        <div class='name' style="margin-left: 0">
                                            <strong>[[user.fullName]]</strong>
                                            <p>[[user.designation]]</p>
                                        </div>
                                        <div class="remove-user-from-role">
                                            (X)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>