<!DOCTYPE html>
<html data-ng-app="relatasApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Portfolio Management</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/index.css" rel="stylesheet">
    <link href="/stylesheets/corporateAdmin/portfolio.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">

    <style >
        .pointer {cursor: pointer;}
    </style>

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/portfolios.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
    <script type='text/javascript' src="/directives/angular-drag-and-drop-lists.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>

    <style>[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}</style>
</head>
<body ng-cloak>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

<div class="bg-strong-grey" style="margin-top: -1.5%">
    <div class="container" data-ng-controller="companyDetails">
        <div class="mainNav ng-scope" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'"></div>
        <ul class="breadcrumb">
            <li><a href="/corporate/admin/">Admin View</a></li>
            <li><a href="#" class="your-are-here">Portfolios</a></li>
<!--            <li class="pull-right bc-reset"><button class="primary-btn" data-ng-click="openPortfolioCreationForm()">New Portfolio</button></li>-->
        </ul>
        <div class="left-panel">
            <ul class="list-unstyled">
                <li ng-repeat="item in menu" class="[[item.selected]]" data-ng-click="selectMenu(item)">[[item.name]]</li>

            </ul>
        </div>
        <div class="right-panel">

            <div class="modal" ng-show="showPortfolioForm" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="max-width: 275px;margin: auto;">

                        <div class="modal-body">
                            <div>
                                <label>Portfolio Name</label>
                                <input ng-model="portfolioName" type="text" style="max-width: 250px;width: 100%;">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn primary-btn" data-ng-click="savePortfolio(portfolioName)">Save</button>
                            <button type="button" class="btn btn-default" data-ng-click="closeForm()" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-show="!dataLoaded" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
            <div ng-show="!dataLoaded" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
            <div ng-show="!dataLoaded" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>

            <div ng-show="dataLoaded" style="position: relative;">
                <div class="clearfix add-section">
                    <div class="pull-left fs-12" >
<!--                        <i class="fa fa-arrow-circle-left cursor" style="color:#888;"></i>-->
                        <strong>FY:  [[fy]]</strong>
<!--                        <i class="fa fa-arrow-circle-right cursor" style=color:#888;></i>-->
                    </div>
                    <div class="pull-right">
                        <input class="table2" style="width: 225px;" type="text" ng-model="newItem" placeholder="Add [[currentSelection]]">
                        <button data-ng-click="addNewItem(currentSelection,newItem)">Add</button>
                    </div>
                    <div class="pull-right" ng-show="currentSelection != 'Regions'">
                        <input type="checkbox" value="" id="required"> [[currentSelection]] selection mandatory<br>
                    </div>
                    <div class="pull-right" ng-show="actionType == 'Delete'" >
                        <button class="btn btn-white close-btn" data-ng-click="deletePortfolio(currentSelection)"> [[actionType]] [[currentSelection]]</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <tr>
                        <th title="Post the edit, all the opportunities linked with the old value will retain the earlier value. Reports can only be generated on the new value and NOT the old value. The users will see the new value for selection.">
                            [[currentSelection]]
                        </th>
<!--                        <th>Head</th>-->
<!--                        <th class="text-center" ng-repeat="month in FyMonths">-->
<!--                            [[month.name]] <br> <span class="fs-10">([[month.monthFormatted]])</span>-->
<!--                        </th>-->
<!--                        <th class="text-center">Head Target</th>-->
                        <th class="text-center">Targets</th>
                        <th class="text-center">Manage Users</th>
                        <!--                        <th class="text-center">Targets</th>-->
                        <th class="text-center">Delete</th>
                    </tr>
<!--                    <tr ng-repeat="el in portfolioList | orderBy:'name'" data-ng-init="$first && openPortfolioManager(el)" ng-click="openPortfolioManager(el)">-->
                    <tr ng-repeat="el in portfolioList | orderBy:'name'">
                        <td style="width: 325px;" title="Post the edit, all the opportunities linked with the old value will retain the earlier value. Reports can only be generated on the new value and NOT the old value. The users will see the new value for selection.">
                            <input style="text-align: left!important;width: 100%;" ng-model="el.name" ng-blur="buildLog(el)">
                        </td>
<!--                        <td style="min-width: 80px;">-->
<!--                            <div class="cursor" data-ng-click="showAllUsers(el)">-->
<!--                                [[el.head]] ([[el.emailId]])-->
<!--                            </div>-->
<!--                            <ul class="list-unstyled p-user-ls" ng-show="el.allUsersList">-->
<!--                                <li ng-repeat="user in data.teamMembers" title="[[user.emailId]]" class="cursor" data-ng-click="selectUser(el,user)">[[user.name]]</li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                        <td ng-repeat="tr in el.targets[0].values">-->
<!--                            <input ng-show="tr.monthYear != 'Total'" ng-model="tr.amount" ng-change="reCalculateValues(tr,el)">-->
<!--                            <div ng-show="tr.monthYear == 'Total'" style="text-align: center">-->
<!--                                [[tr.valueFormatted]]-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="text-center" style="width: 55px;">-->
<!--                            [[el.headTarget]]-->
<!--                        </td>-->
                        <td class="text-center cursor relative" style="width: 55px;text-decoration: underline;" ng-click="showMessage(el)">
                            [[el.allTarget]]
                            <div class="dismiss-ths" style="text-decoration: none;
    position: absolute;
    background: #eee;
    padding: 0px 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: auto;
    left: 350px;" ng-show="el.showSomeMessage">
                                Portfolio Target is the summation of Targets of all team members.<br> Please update team targets under “Manage” to see updated value here
                            </div>
                        </td>
                        <td style="width: 255px;" class="text-center cursor" ng-click="openPortfolioManager(el)">
                            <a>Manage</a>
                        </td>
                        <td class="text-center" style="width: 35px;">
                            <a href="#" data-ng-click="deleteThisItem(el)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="text-center">
                    <button class="primary-btn" data-ng-click="saveData()">SAVE</button>
                </div>

                <div ng-show="showPortfolioManager" class="full-width-modal">
                    <div class="clearfix">
                        <div class="pull-left">
                            [[currentSelection]] / <strong>[[selectedPortfolio.name]] / [[fy]]</strong>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-white close-btn" style="margin-left: 10px;" data-ng-click="closePortmanager()"> Close</button>
                        </div>
                        <div class="pull-right">
                            <input ng-model="selectedUser.name" style="width: 275px;" placeholder="Select and add users to this portfolio..." ng-click="showAllUsersForSelection()">
                            <ul class="list-unstyled p-user-ls" ng-show="showUsers">
                                <li ng-repeat="user in teamMembersForSelection | filter : selectedUser.name" title="[[user.emailId]]" class="cursor" data-ng-click="selectUser_sub(el,user)">[[user.name]]</li>
                            </ul>
<!--                            <button class="btn btn-green" ng-click="addUser()">Add User</button>-->
                        </div>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th>User</th>
                            <th>Head</th>
                            <th class="text-center" ng-repeat="month in FyMonths">
                                [[month.name]]
                            </th>
                            <th>Access</th>
<!--                            <th>Sync Targets</th>-->
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="el in subportfolios">
                            <td style="min-width: 80px;">
                                <div>
                                    <strong>[[el.userName]]</strong><br>([[el.ownerEmailId]])
                                </div>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-model="el.isHead" ng-change="setHead(el,subportfolios)">
<!--                                <input type="radio" ng-model="el.isHead" ng-change="setHead(el,subportfolios)">-->
                            </td>
                            <td ng-repeat="tr in el.targets[0].values">
                                <input ng-show="tr.monthYear != 'Total'" ng-model="tr.amount" ng-change="reCalculateValues_sub(tr,el)">
                                <div ng-show="tr.monthYear == 'Total'" style="text-align: center">
                                    [[tr.valueFormatted]]
                                </div>
                            </td>
                            <td class="cursor text-center acc-levels">
                                <a ng-click="openAccessLevel(el)" style="    background: #267368;
    color: #fff;
    font-size: 9px;
    padding: 1px 5px;
    border-radius: 2px;
    text-decoration: none;">Edit</a>
                                <div class="abs row clearfix" ng-show="el.showAccess">
                                    <div class="clearfix" style="    background: #ddd;
    padding-right: 5px;">
                                        <div class="pull-left" style="padding: 5px;font-size: 12px;font-weight: bold;">
                                            <span ng-show="!el.isHead">Please confirm access for [[el.userName]] for [[selectedPortfolio.name]] portfolio</span>
                                            <span ng-show="el.isHead">Access for [[el.userName]] for [[selectedPortfolio.name]] portfolio</span>
                                        </div>
                                        <div class="close-btn" style="    width: 55px;
    margin: 5px 2px 10px;
    float: right;
    border-radius: 2px;" ng-click="el.showAccess = false;">Close</div>
                                    </div>
                                    <div>
                                        <div class="col-md-3">
                                            <div style="padding-top:5px;">
                                                <strong style="font-size:11px;">[[currentSelection]]</strong>
                                                <input type="checkbox" disabled checked>[[selectedPortfolio.name]]
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-repeat="item in allPortfolios" ng-show="item.name != el.type">
                                            <strong style="font-size:11px;" ng-show="!el.isHead">
                                                <input type="checkbox" ng-model="item.allSelected" ng-disabled="el.isHead" ng-click="selectAll(item.list,item.allSelected,el,item.name)">
                                               [[item.name]]
                                            </strong>
                                            <strong style="font-size:11px;" ng-show="el.isHead">
                                                <input type="checkbox" ng-model="item.allSelected" checked ng-disabled="el.isHead" ng-click="selectAll(item.list,item.allSelected,el,item.name)">
                                               [[item.name]]
                                            </strong>
                                            <ul class="list-unstyled" ng-show="!el.isHead">
                                                <li ng-repeat="li in item.list">
                                                    <input type="checkbox" ng-change="updateAccessLevels(el,li.name,li.selected,item.name)" ng-disabled="el.isHead" ng-model="li.selected">[[li.name]]
                                                </li>
                                            </ul>
                                            <ul class="list-unstyled" ng-show="el.isHead">
                                                <li>
                                                    <input type="checkbox" checked ng-disabled="el.isHead">All [[item.name]]
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
<!--                            <td class=cursor" ng-click="syncTargets(el)">-->
<!--                                <a><i class="fa fa-refresh"></i></a>-->
<!--                            </td>-->
                            <td class="text-center" style="width: 35px;">
                                <a href="#" data-ng-click="deleteThisItem_sub(el,$index)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <div class="text-center">
                        <button class="primary-btn" data-ng-click="saveData_sub()">SAVE</button>
                    </div>
                </div>
                <div class="activity-logs">
                    <strong style="cursor: pointer" data-ng-click="displayActivityLog = !displayActivityLog">Activity Log</strong>
                    <div ng-show="displayActivityLog">
                        <p ng-show="activityLogs.length == 0">
                            No logs found
                        </p>
                        <ul class="list-unstyled">
                            <li ng-repeat="log in activityLogs">
                                <div class="clearfix">
                                    <div class="pull-left">
                                    </div>
                                    <div class="pull-left">
                                        <strong>[[log.by]] </strong> [[log.what]]
                                        <p class="fs-10">[[log.formattedDate]]</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>

<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
