<div class="row opp-stages">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-xs-4 padding0">
                <h5>Stages for opportunities</h5>
            </div>

            <div class="pull-right padding0">
                <div ng-show="!editData" data-ng-click="editData = true;$ctrl.editSettings()" class="pull-right btn btn-primary">Edit stage properties</div>
                <div ng-show="editData" data-ng-click="$ctrl.saveSettings()" class="pull-right btn btn-primary">Save Stages</div>
                <div ng-show="editData" data-ng-click="$ctrl.cancel()" style="margin-right: 10px;color: #666;font-weight: 600" class="pull-right btn btn-white">Cancel</div>
            </div>
        </div>

        <div class="header row">
            <div class="inline-block-col col-xs-1">
                Order
            </div>
            <div class="inline-block-col col-xs-3">
                Stage
            </div>
            <div class="inline-block-col col-xs-2">
                Weightage
            </div>
            <div class="inline-block-col col-xs-3">
                Opportunities Count
            </div>
            <div class="inline-block-col col-xs-2">
                Commit Stage
            </div>
            <div class="inline-block-col col-xs-1">

            </div>
        </div>

        <div class="body">

            <ul class="list-group" drag-to-reorder="$ctrl.stages">
                <li class="list-group-item row" ng-repeat="stage in $ctrl.stages" dtr-draggable dtr-event="cardDropped" dtr-init="{{$ctrl.draggable}}">
                    <i class="fa fa-exclamation-circle" ng-show="stage.hasBlankForm"></i>
                    <div class="inline-block-col col-xs-1" ng-bind="stage.order"></div>
                    <div class="inline-block-col col-xs-3">
                        <div ng-show="!stage.EditThis" ng-bind="stage.name"></div>
                        <input ng-show="stage.EditThis && $index+1 == $ctrl.stages.length" autofocus="autofocus" ng-model="stage.name" type="text">
                        <input ng-show="stage.EditThis && $index+1 != $ctrl.stages.length" ng-model="stage.name" type="text">
                    </div>
                    <div class="inline-block-col col-xs-2">
                        <div ng-show="!stage.EditThis" ng-bind="stage.weight"></div>
                        <input ng-show="stage.EditThis" ng-change="$ctrl.limitMaxValue(stage)" onkeypress="return validateFloatKeyPress(this,event);" ng-model="stage.weight" type="text">
                    </div>
                    <div class="inline-block-col col-xs-3" ng-bind="stage.oppsCount">
                    </div>
                    <div class="inline-block-col col-xs-2">
                        <input type="checkbox" ng-model="stage.commitStage" ng-change="$ctrl.commitThisStage(stage)">
                    </div>
                    <div class="inline-block-col col-xs-1">
                        <div class="delete" ng-show="stage.EditThis && stage.name != 'Close Won' && stage.name != 'Close Lost' && !stage.commitStage" data-ng-click="$ctrl.deleteStage(stage)"><i class="fa fa-trash"></i></div>
                    </div>
                </li>
            </ul>

            <div style="margin: auto;text-align: center;">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.add()">Add stage</button>
            </div>
        </div>

        <div class="modal-open" ng-show="showModal.display">
            <div class="body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h5>Transfer opportunities</h5>
                    </div>
                    <div class="pull-right">
                        <button class="white" data-ng-click="$ctrl.cancel()">Cancel</button>
                        <button data-ng-click="$ctrl.transferOpps()">Done</button>
                    </div>
                </div>
                <p>Existing <span ng-bind="oppsCount"></span> opportunities have to be moved to a new stage before deletion.</p>
                <h6>Select stage</h6>
                <div class="list">
                    <div ng-repeat="stage in $ctrl.stages">
                        <label ng-click="$ctrl.handleRadioClick(stage)">
                            <input type="radio" ng-model="junk.moveToThis" name="stage-name" value="stage.name">
                            <span ng-bind="stage.name"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>