<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Relatas | web2Lead Setup | {{companyName}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/landing/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <!-- Custom CSS -->
    <link href="/landing/css/main.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">

    <script src="/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/corporateFiles/web2Lead.js"></script>
    <script src="/javascripts/aws-sdk-2.0.11.min.js" type="text/javascript"></script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="/landing/img/logo.png"></a>
        </div>

    </div>
    <!-- /.container -->
</nav>

<span id="company-object-hidden" style="display: none">{{company}}</span>

    <div class="bg-strong-grey" style="margin-top: -1.5%">
        <div id="flash-messages"></div>

        <div class="container code-display">

            <p>Support Team</p>
            <div class="current-support-team">
            </div>

            <div>
                <p>Add to Support Team</p>
                <input class="supportTeam" placeholder="Search team mate ">
            </div>
            <div id="team-support"></div>
            <div class="message-setup">
                <p>Set welcome message</p>
                <input class="supportTeam" id="welcomeTitle" placeholder="eg: Welcome to Relatas. ">
                <p>Set background color</p>
                <input class="supportTeam" id="majorColor" placeholder="eg: #777. ">
                <p>Set text color</p>
                <input class="supportTeam" id="textColor" placeholder="eg: #fff. Choose background color's contrast">
                <p>Action success message</p>
                <input class="supportTeam" id="successReply" placeholder="eg: Thanks for mailing us!">
                <p>Action failure message</p>
                <input class="supportTeam" id="failureReply" placeholder="eg: Something went wrong. Please try again later!">
                <p>Default Meeting Agenda</p>
                <input class="supportTeam" id="meetingTitle" placeholder="eg: One2One meeting">
                <p>Email Subject</p>
                <input class="supportTeam" id="mailSubject" placeholder="eg: Thanks for the interest!">
            </div>

            <p>HTML Tag</p>
            <textarea id="relatas-html-include"></textarea>
            <p>Code</p>
            <textarea id="relatas-js-include"></textarea>
            <button class="btn" id="saveConfiguration">Save</button>
        </div>
    </div>

</body>
</html>