
<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Recommendation | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        .tr-bg-highlight{
            background-color: #ccc;
        }
        .tr-bg-normal{
            background-color: white;
        }
        .col-margin {
            margin-top: 100px;
        }
    </style>
    </style>

    <style>

    table {
        border: 1px solid grey;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr{background-color: #ffffff}

    th {
        background-color: #3f5566;
        color: white;
    }

    </style>


</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>

<div class="page-wrapper row clearfix">
    <div class="contact-list-hidden-xs col-md-3 padding-r0">
        <div class="contacts-list-v2">
            <div>
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'">
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4">
            <div class="col-margin" ng-controller = "recommendationController">
                <div class="pull-right">
                    <a type="button" class="btn btn-success" href="/download/recommendations" target="_blank">Download</a>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th ng-repeat="header in headers">[[header]]</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="recommendation in recommendations">
                        <td>[[recommendation.companyName]]</td>
                        <td>[[recommendation.accountDomainName]]</td>
                        <td>[[recommendation.rlUserEmailId]]</td>
                        <td>[[recommendation.interactionsCount]]</td>
                        <td>[[recommendation.oppsWonCount]]</td>
                        <td>[[recommendation.oppsLostCount]]</td>
                        <td>[[recommendation.oppsPipeLineCount]]</td>
                        <td>[[recommendation.oppsTotalCount]]</td>
                        <td>[[recommendation.minAmount]]</td>
                        <td>[[recommendation.maxAmount]]</td>
                        <td>[[recommendation.recommendedProduct]]</td>
                        <td>[[recommendation.recommendedAmount]]</td>
                        <td>[[recommendation.recommendedUser]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

    });

</script>

<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/recommendation/index.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>

</body>
</html>