<div class="row" id="add-task-box" data-ng-controller="task-assign" style="display: none;">

    <div class="add-task clearfix" style="display: block;">
        <div class="row margin0">
            <div class="col-xs-3 padding0 ">

                <label>Action Item</label>
            </div>
            <div class="col-xs-9 padding0">
                <input tabindex="1" ng-model="taskTitle" id="taskTitle" placeholder="Tasks title" type="text" class="form-control"/>
            </div>

        </div>
        <div class="row margin0">
            <div class="col-xs-3 padding0">

                <label>Description</label>
            </div>
            <div class="col-xs-9 padding0">
                <textarea ng-model="taskDescription" id="taskDescription" class="form-control" rows="3" tabindex="2" placeholder="Description"></textarea>
            </div>

        </div>
        <div class="row margin0">
            <div class="col-xs-3 padding0">

                <label>Due Date</label>
            </div>
            <div class="col-xs-9 padding0">
                <input tabindex="3" type="text" id="dueDateTask" class="form-control input-arrow-task" placeholder="Date & Time"/>
            </div>

        </div>
        <div class="text-right">
            <input type="button" ng-click="closePopup()" value="Close" class="btn-primary close-button close-btn" tabindex="5">
            <input type="button" ng-click="assignTaskFinal(taskTitle,taskDescription)" value="Submit" class="btn-primary re-schedule-button" tabindex="4">

        </div>

    </div>

</div>