<!DOCTYPE html>
<html data-ng-app="reletasApp" class="this-height">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas is an out-of-the-box CRM which provides Relationship Intelligence for Enterprise sales teams.">
    <meta name="author" content="Relatas">
    <title>Enterprise Login | Relationship Intelligence | Relatas</title>
    <!--scroll bar-->
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="../stylesheets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="../stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="../stylesheets/css/main-non-app.css" rel="stylesheet">
    <link href="../stylesheets/css/toastr.css" rel="stylesheet">
    <script src="../javascripts/schedule/jquery.js"></script>
    <script src="../javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="../javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../javascripts/moment.js"></script>
    <script src="../javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

    <script>!function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);
            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document, 'script', 'twitter-wjs');
    </script>
    <style>
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    <script>

        $(document).ready(function(){
            $(".open-leftbar").click(function(){
                $("#sidebar-wrapper").toggle();
            });
        });
    </script>
</head>
<body style="overflow-x: hidden;background: #f7f7f7;" ng-cloak>

<div class="KK">
    <nav class="navbar navbar-fixed-top">
        <div class="row" data-ng-controller="header_controller">
            <div class="col-xs-3">
                <ul class="nav navbar-nav">
                    <li>
                        <a m_event="relatas logo" href="/">
                            <img alt="Reletas" src="/landing/img/logo.png" id="school_side_image" class="profile-pic img-responsive" style="margin: 9px;"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pull-right" style="margin: 15px 85px 0 0;">
                <a href=' https://play.google.com/store/apps/details?id=com.relatas.android&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
                    <img alt='Get it on Google Play' class="g_play_icon" src='../images/play_badge_new.png'/>
                </a>
            </div>
        </div>
    </nav>
</div>
<span id="company-object-hidden" style="display: none">{{company}}</span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 register col-height">
                <img id="company-logo" class="img-responsive center-block" src="{{companyLogo}}">
              <h4 class="margin-tb25">
                  Sign in with your Official email id
              </h4>
                <ul class="list-unstyled login-btns" data-ng-controller="signup_box">
                    <li ng-show="displayGoogleBtn">
                        <a ng-click="signUp('google')"><img src="/images/new_google_btn.png"></a>
                    </li>
                    <li ng-show="displayOutlookBtn">
                        <a ng-click="signUp('outlook')"><img src="/images/office365.png"></a>
                     </li>
                    <li>
                        <p id="info-show" data-toggle="popover" data-trigger="focus"  data-html="true" data-placement="bottom" data-content="When you connect your email to Relatas, we add intelligence and predictive analytics to your interactions, without having you to log any data. Relatas follows industry standard privacy practices to protect your data. You can disconnect your email anytime.">
                            <span>Why do we ask?</span>
                            <i class="fa fa-info-circle fs-12"></i>
                        </p>
                    </li>
                </ul>
                <p class="fs-16 lite">Relatas is trusted by people working<br> with Industry Leaders in Technology<br> & Enterprises </p>
                <p class="fs-14 lite">You are in control of your data. <br> You can <strong>revoke access anytime</strong>.</p>


                <div class="su-f">
                    <a href="/privacy" target="_blank">Privacy Policy</a> |
                    <a href="/terms" target="_blank">Terms & Conditions</a> |
                    <a href="/relationship-intelligence-product" target="_blank">Product</a>
                </div>
            </div>
            <div class="col-sm-7 signup-right col-height">
                <img src="/images/new_side_img_login.png">

            </div>
        </div>
  </div>
<script>

    var colHeight = $(".this-height").height();
    $(".col-height").css("height", colHeight);

    $(document).ready(function () {
        $('#info-show').click(function(){
            $('#info-show').popover('toggle');
        });

        $('body').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    });



</script>

<script src="/javascripts/onboarding/signup.js"></script>
</body>
</html>
