<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Recommendations | Relationship Intelligence | Relatas</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/documentTemplateStyle.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css'
          media='all' />
    <link rel='stylesheet' href='https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css' type='text/css' media='all'
    />
    <link rel='stylesheet' href='https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css' type='text/css'
          media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <style>
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none !important
        }
    </style>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper document-wrapper">
            <div class="col-md-12 main">
                <div class="horizontal-menu-top clearfix">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12" ng-show="true">
                                <div class="row clearfix">
                                    <div class="col-md-9">
                                    </div>
                                    <div class="col-md-3 clearfix">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-controller="recommendationController">
                    <div class="containter-fluid">
                        <div class="row">
                            <div class="col-md-6 document-search-box show-all-documents">
                                <input type="text" class="form-control" ng-model="searchAccountOppsInsights" style="border-radius: 30px;border: transparent;" placeholder="Search here to filter Account Opportunities Insights">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 list-document" style="max-height: 500px;overflow: auto;">
                                <div class="pull-right">
                                    <a type="button" class="btn btn-primary pull-right" style="color:white;" href="/download/recommendations/account/opportunities" target="_blank">Download</a>
                                </div>

                                <div >
                                    <h4> Accounts Opportunities Insights</h4>
                                </div>

                                <table id="show-all-doc-table" class="table table-hover">
                                    <tr>
                                        <th ng-repeat="header in accountOppsHeaders">[[header]]</th>
                                    </tr>
                                    <tbody>
                                    <tr ng-repeat="insight in accountOppsInsights | filter : searchAccountOppsInsights">
                                        <td>[[insight.companyName]]</td>
                                        <td>[[insight.accountDomainName]]</td>
                                        <td>[[insight.rlUserEmailId]]</td>
                                        <td>[[insight.interactionsCount]]</td>
                                        <td>[[insight.oppsWonCount]]</td>
                                        <td>[[insight.oppsLostCount]]</td>
                                        <td>[[insight.oppsPipeLineCount]]</td>
                                        <td>[[insight.oppsTotalCount]]</td>
                                        <td>[[insight.minAmount]]</td>
                                        <td>[[insight.maxAmount]]</td>
                                        <td>[[insight.recommendedProduct]]</td>
                                        <td>[[insight.recommendedAmount]]</td>
                                        <td>[[insight.recommendedUser]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="margin-top:51px;">
                            <div class="col-md-6 document-search-box show-all-documents">
                                <input type="text" class="form-control" ng-model="searchAccountInteractionsInsights" style="border-radius: 30px;border: transparent;" placeholder="Search here to filter Account Interactions Insights">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 list-document" style="max-height: 500px;overflow: auto;">
                                <div class="pull-right">
                                    <a type="button" class="btn btn-primary pull-right" style="color:white;" href="/download/recommendations/account/interactions" target="_blank">Download</a>
                                </div>
                                <div >
                                    <h4> Accounts Interactions Insights</h4>
                                </div>
                                <table class="table table-hover">
                                    <tr>
                                        <th ng-repeat="header in accountInteractionHeaders">[[header]]</th>
                                    </tr>
                                    <tbody>
                                    <tr ng-repeat="insight in accountInteractionsInsights | filter : searchAccountInteractionsInsights">
                                        <td>[[insight.companyName]]</td>
                                        <td>[[insight.accountDomainName]]</td>
                                        <td>[[insight.rlUserEmailId]]</td>
                                        <td>[[insight.interactionsCount]]</td>
                                        <td>[[insight.nSparkPositiveSentiments]]</td>
                                        <td>[[insight.nSparkNegativeSentiments]]</td>
                                        <td>[[insight.nSignedDocumentsSent]]</td>
                                        <td>[[insight.nImportantDocumentsRequested]]</td>
                                        <td>[[insight.nQuestionAskedAndNotAnswered]]</td>
                                        <td>[[insight.recommendedProduct]]</td>
                                        <td>[[insight.recommendedAmount]]</td>
                                        <td>[[insight.recommendedUser]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass': 'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click', '#menu-toggle', function (e) {
            e.preventDefault();
            $(".overlay").show();
        });

    });
</script>

<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/recommendation/index.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>

</body>

</html>