<div class="row" >
    <div class="col-md-4">
        <div ng-controller = "recommendationController">
            <table border="0">
                <tr>
                    <th ng-repeat="header in headers">[[header]]</th>
                </tr>

                <tbody>
                    <tr ng-repeat="recommendation in recommendations">
                        <td>[[recommendation.oppName]]</td>
                        <td>[[recommendation.closeDate]]</td>
                        <td>[[recommendation.emailId]]</td>
                        <td>[[recommendation.stage]]</td>
                        <td>[[recommendation.region]]</td>
                        <td>[[recommendation.city]]</td>
                        <td>[[recommendation.currency]]</td>
                        <td>[[recommendation.amount]]</td>
                        <td>[[recommendation.margin]]</td>
                        <td>[[recommendation.source]]</td>
                        <td>[[recommendation.vertical]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>