<div data-ng-controller="taskMenu" class="tasks-menu">
    <div class="clearifx">
        <div class="pull-left">
            <div class="selected" data-ng-click="displayFilter()">[[defaultMenu]] <i class="fa fa-caret-down"></i></div>
            <ul class="list-unstyled drop-down-list task-filter" ng-show="isDisplayFilter">
                <li ng-repeat="item in filters" data-ng-click="selectFilter(item)">
                    [[item.name]]
                </li>
            </ul>
        </div>
        <div class="pull-left">
            <div class="selected" data-ng-click="selectDateRange()">
                [[dateRange]] <i class="fa fa-caret-down"></i>
            </div>

            <div class="drop-down-list-2" ng-show="displayDatePicker">
                <ul class="list-unstyled">
                    <li ng-mouseover="pickDueDate()" id="start">
                        <input placeholder="Start date" type="text" ng-model="startFormatted">
                    </li>
                    <li ng-mouseover="pickDueDate()" id="end">
                        <input placeholder="End date" type="text" ng-model="endFormatted">
                    </li>
                    <li class="text-center">
                        <button style="padding: 3px 10px;font-size: 10px;margin-right: 5px;" class="btn btn-white close-btn" data-ng-click="clearDateRange()">CANCEL</button>
                        <button style="padding: 3px 10px;font-size: 10px;margin-right: 5px;" class="btn margin0 btn-primary" data-ng-click="tasksByDateRange(start,end)">DONE</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pull-right" ng-show="!createFormIsOpen">
            <div class="create-new text-right">
                <button class="btn btn-primary" data-ng-click="createNew()">NEW TASK</button>
            </div>
        </div>
    </div>
</div>