<th>Achievement</th>
<td class="text-center sidebar">
    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter1.targetStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-show="!quarter1.ifExceptionalAccess" ng-style="quarter1.wonStyle"></div>
            <div ng-show="quarter1.ifExceptionalAccess" class="ea clearfix">
                <div ng-style="quarter1.userWonStyle" class="user-won"></div>
                <div ng-style="quarter1.eaWonStyle" class="ea-won"></div>
            </div>
        </div>
        <p>[[quarter1.achievementPercentage]]</p>
        <div class="to-remove">
            <div> Target [[quarter1.targetWithCommas]]</div><div>Won [[quarter1.wonWithCommas]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="tr"></i>Target</td>
                        <td><span>[[quarter1.targetWithCommas]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="won"></i>Won</td>
                        <td><span>[[quarter1.wonWithCommas]]</span></td>
                    </tr>
                    <tr ng-show="quarter1.ifExceptionalAccess">
                        <td><i class="ea-won"></i>Exceptional Access</td>
                        <td><span>[[quarter1.eaWithCommas]]</span></td>
                    </tr>
                    <tr>
                        <td><i class="transparent"></i>% Won</td>
                        <td><span>[[quarter1.achievementPercentage]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">
    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter2.targetStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-show="!quarter2.ifExceptionalAccess" ng-style="quarter2.wonStyle"></div>
            <div ng-show="quarter2.ifExceptionalAccess" class="ea clearfix">
                <div ng-style="quarter2.userWonStyle" class="user-won"></div>
                <div ng-style="quarter2.eaWonStyle" class="ea-won"></div>
            </div>
        </div>
        <p>[[quarter2.achievementPercentage]]</p>
        <div class="to-remove">
            <div> Target [[quarter2.targetWithCommas]]</div><div>Won [[quarter2.wonWithCommas]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="tr"></i>Target</td>
                        <td><span>[[quarter2.targetWithCommas]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="won"></i>Won</td>
                        <td><span>[[quarter2.wonWithCommas]]</span></td>
                    </tr>
                    <tr ng-show="quarter2.ifExceptionalAccess">
                        <td><i class="ea-won"></i>Exceptional Access</td>
                        <td><span>[[quarter2.eaWithCommas]]</span></td>
                    </tr>
                    <tr>
                        <td><i class="transparent"></i>% Won</td>
                        <td><span>[[quarter2.achievementPercentage]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">
    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter3.targetStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-show="!quarter3.ifExceptionalAccess" ng-style="quarter3.wonStyle"></div>
            <div ng-show="quarter3.ifExceptionalAccess" class="ea clearfix">
                <div ng-style="quarter3.userWonStyle" class="user-won"></div>
                <div ng-style="quarter3.eaWonStyle" class="ea-won"></div>
            </div>
        </div>
        <p>[[quarter3.achievementPercentage]]</p>
        <div class="to-remove">
            <div> Target [[quarter3.targetWithCommas]]</div><div>Won [[quarter3.wonWithCommas]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="tr"></i>Target</td>
                        <td><span>[[quarter3.targetWithCommas]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="won"></i>Won</td>
                        <td><span>[[quarter3.wonWithCommas]]</span></td>
                    </tr>
                    <tr ng-show="quarter3.ifExceptionalAccess">
                        <td><i class="ea-won"></i>Exceptional Access</td>
                        <td><span>[[quarter3.eaWithCommas]]</span></td>
                    </tr>
                    <tr>
                        <td><i class="transparent"></i>% Won</td>
                        <td><span>[[quarter3.achievementPercentage]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">
    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter4.targetStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-show="!quarter4.ifExceptionalAccess" ng-style="quarter4.wonStyle"></div>
            <div ng-show="quarter4.ifExceptionalAccess" class="ea clearfix">
                <div ng-style="quarter4.userWonStyle" class="user-won"></div>
                <div ng-style="quarter4.eaWonStyle" class="ea-won"></div>
            </div>
        </div>
        <p>[[quarter4.achievementPercentage]]</p>
        <div class="to-remove">
            <div> Target [[quarter4.targetWithCommas]]</div><div>Won [[quarter4.wonWithCommas]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="tr"></i>Target</td>
                        <td><span>[[quarter4.targetWithCommas]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="won"></i>Won</td>
                        <td><span>[[quarter4.wonWithCommas]]</span></td>
                    </tr>
                    <tr ng-show="quarter4.ifExceptionalAccess">
                        <td><i class="ea-won"></i>Exceptional Access</td>
                        <td><span>[[quarter4.eaWithCommas]]</span></td>
                    </tr>
                    <tr>
                        <td><i class="transparent"></i>% Won</td>
                        <td><span>[[quarter4.achievementPercentage]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>