<th>Avg Deal Size</th>
    <td>[[quarter1.averageDealSize]]</td>
<td>[[quarter2.averageDealSize]]</td>
<td>
    -
    <span style="display: none;">[[quarter3.averageDealSize]]</span></td>
<td>-<span style="display: none;">[[quarter4.averageDealSize]]</span></td>