
<div class="row">

    <div class="col-md-12 map-interactions" style="position: relative;">
        <h5 class="bold">Global View</h5>
        <div id="map" style="height:450px;"></div>
    </div>
</div>