<th>Interactions/$ Won</th>
<td>[[quarter1.interactionsPerDeal]]</td>
<td>[[quarter2.interactionsPerDeal]]</td>
<td>
    -
    <span style="display: none;">[[quarter3.interactionsPerDeal]]</span></td>
<td>-<span style="display: none;">[[quarter4.interactionsPerDeal]]</span></td>