<div class="clearfix margin-top20">
    <h5 class="bold pull-left">Opportunities in [[stageSelection]] stage <span class="fs-12" ng-show="weekSelection">( [[weekSelection]] )</span></h5>
    <h5 class="pull-left cursor" data-ng-click="toggleOppsClosingInTimeFrame(opps)"> <div class="inline-block" style="background: rgb(202, 227, 221);
    padding: 6px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;"></div> Opps. closing in the selected time frame</h5>
    <h5 class="pull-right bold cursor btn-ea-hide" data-ng-click="closeTable()">Close (X)</h5>
</div>
<div class="opps-for-week" ng-show="opps.length>0">
    <table class="table">
        <tr>
            <th class="cursor" ng-click="sortType = 'opportunityName';sortReverse = !sortReverse">Opportunity</th>
            <th class="cursor" ng-click="sortType = 'userEmailId';sortReverse = !sortReverse">Owner</th>
            <th class="cursor" ng-click="sortType = 'account';sortReverse = !sortReverse">Account</th>
            <th class="text-center">Currency</th>
            <th class="cursor text-center" ng-click="sortType = 'amountNonNGM';sortReverse = !sortReverse">Top Line</th>
            <th class="cursor text-center" ng-click="sortType = 'netGrossMargin';sortReverse = !sortReverse">Margin <br>(%)</th>
            <th class="cursor text-center" ng-click="sortType = 'amount';sortReverse = !sortReverse">Bottom Line</th>
            <th class="cursor" ng-click="sortType = 'closeDateSort';sortReverse = !sortReverse">Close Date</th>
            <th class="cursor" ng-click="sortType = 'productType';sortReverse = !sortReverse">Product</th>
            <th class="cursor" ng-click="sortType = 'geoLocation.town';sortReverse = !sortReverse">Region</th>
            <th class="cursor" ng-click="sortType = 'vertical';sortReverse = !sortReverse">Vertical</th>
            <th class="cursor" ng-click="sortType = 'age';sortReverse = !sortReverse">Age <br> (days)</th>
        </tr>
        <tr ng-repeat="item in opps | orderBy:sortType:sortReverse" ng-style="item.closingThisWeek">
            <td title="[[item.opportunityName]]">[[item.opportunityNameTruncated]]</td>
            <td title="[[item.userEmailId]]">[[item.userEmailId]]</td>
            <td class="capitalize">[[item.account]]</td>
            <td class="text-center">[[item.currency]]</td>
            <td class="text-center">[[item.topLine]]</td>
            <td class="text-center">[[item.netGrossMargin]]</td>
            <td class="text-center">[[item.amountWithCommas]]</td>
            <td>[[item.closeDate]]</td>
            <td>[[item.productType]]</td>
            <td>[[item.geoLocation.zone]]</td>
            <td>[[item.vertical]]</td>
            <td>[[item.age]]</td>
        </tr>
    </table>
</div>

<div class="no-data">
    <p ng-show="opps.length == 0">Data not available</p>
</div>