<th>Pipeline Velocity</th>
<td class="sidebar text-center">
    -
    <div class="graph-xs vertical" style="display: none;">
        <div class="base clearfix">
            <div ng-style="quarter1.targetStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter1.wonStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter1.pipelineStyle_v" class="abs"></div>
        </div>
        <div class="pop-up">
            <table>
                <tr>
                    <td>
                        <i class="tr"></i>Target</td>
                    <td><span>[[quarter1.targetWithCommas]]</span></td>
                </tr>
                <tr>
                    <td><i class="won"></i>Won</td>
                    <td><span>[[quarter1.wonWithCommas]]</span></td>
                </tr>
                <!--<tr>-->
                    <!--<td><i class="lo"></i>Lost</td>-->
                    <!--<td><span>[[quarter1.lostAmountWithCommas]]</span></td>-->
                <!--</tr>-->
                <tr>
                    <td><i class="pl"></i>Pipeline</td>
                    <td><span>[[quarter1.openValueWithCommas]]</span></td>
                </tr>
            </table>
        </div>
    </div>
</td>
<td class="sidebar text-center">
    <div class="graph-xs vertical">
        <div class="base clearfix">
            <div ng-style="quarter2.targetStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter2.wonStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter2.pipelineStyle_v" class="abs"></div>
        </div>
        <div class="pop-up">
            <table>
                <tr>
                    <td>
                        <i class="tr"></i>Target</td>
                    <td><span>[[quarter2.targetWithCommas]]</span></td>
                </tr>
                <tr>
                    <td><i class="won"></i>Won</td>
                    <td><span>[[quarter2.wonWithCommas]]</span></td>
                </tr>
                <!--<tr>-->
                    <!--<td><i class="lo"></i>Lost</td>-->
                    <!--<td><span>[[quarter2.lostAmountWithCommas]]</span></td>-->
                <!--</tr>-->
                <tr>
                    <td><i class="pl"></i>Pipeline</td>
                    <td><span>[[quarter2.openValueWithCommas]]</span></td>
                </tr>
            </table>
        </div>
    </div>
</td>
<td class="sidebar text-center">
    <div class="graph-xs vertical">
        <div class="base clearfix">
            <div ng-style="quarter3.targetStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter3.wonStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter3.pipelineStyle_v" class="abs"></div>
        </div>
        <div class="pop-up">
            <table>
                <tr>
                    <td>
                        <i class="tr"></i>Target</td>
                    <td><span>[[quarter3.targetWithCommas]]</span></td>
                </tr>
                <tr>
                    <td><i class="won"></i>Won</td>
                    <td><span>[[quarter3.wonWithCommas]]</span></td>
                </tr>
                <!--<tr>-->
                    <!--<td><i class="lo"></i>Lost</td>-->
                    <!--<td><span>[[quarter3.lostAmountWithCommas]]</span></td>-->
                <!--</tr>-->
                <tr>
                    <td><i class="pl"></i>Pipeline</td>
                    <td><span>[[quarter3.openValueWithCommas]]</span></td>
                </tr>
            </table>
        </div>
    </div>
</td>
<td class="sidebar text-center">
    <div class="graph-xs vertical">
        <div class="base clearfix">
            <div ng-style="quarter4.targetStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter4.wonStyle_v" class="abs"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter4.pipelineStyle_v" class="abs"></div>
        </div>
        <div class="pop-up">
            <table>
                <tr>
                    <td>
                        <i class="tr"></i>Target</td>
                    <td><span>[[quarter4.targetWithCommas]]</span></td>
                </tr>
                <tr>
                    <td><i class="won"></i>Won</td>
                    <td><span>[[quarter4.wonWithCommas]]</span></td>
                </tr>
                <!--<tr>-->
                    <!--<td><i class="lo"></i>Lost</td>-->
                    <!--<td><span>[[quarter4.lostAmountWithCommas]]</span></td>-->
                <!--</tr>-->
                <tr>
                    <td><i class="pl"></i>Pipeline</td>
                    <td><span>[[quarter4.openValueWithCommas]]</span></td>
                </tr>
            </table>
        </div>
    </div>
</td>