<h5 class="bold">Qtr Pipeline Analysis</h5>

<div class="markers">
    <div class="inline-block">
        <div class="inline-block target"></div>
        <div class="inline-block">Target</div>
    </div>
    <div class="inline-block">
        <div class="inline-block predicted"></div>
        <div class="inline-block">Predicted</div>
    </div>
    <div class="inline-block">
        <div class="inline-block won"></div>
        <div class="inline-block">Won</div>
    </div>
    <div class="inline-block">
        <div class="inline-block pipeline"></div>
        <div class="inline-block">Pipeline</div>
    </div>
</div>

<div class="box-ui velocity scroll-xs">
    <div class="width-set current-qtr">
        <div class="clearfix">
            <div>
                <strong>Current Quarter</strong>
            </div>
            <div>
                <div class="target"></div>
                <div class="pipeline">
                    <div class="abs">

                    </div>
                    <div class="achievement">
                        <div>

                        </div>
                        <div class="prediction"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="width-set last-qtr">
        <div class="clearfix">
            <div>
                <strong>Last Quarter</strong>
            </div>
            <div>
                <div class="target"></div>
                <div class="pipeline">
                    <div class="abs">

                    </div>
                    <div class="achievement">
                        <div>

                        </div>
                        <div class="prediction"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="width-set last-yr-qtr">
        <div class="clearfix">
            <div>
                <strong>Same Quarter Last Year</strong>
            </div>
            <div>
                <div class="target"></div>
                <div class="pipeline">
                    <div class="abs">

                    </div>
                    <div class="achievement">
                        <div>

                        </div>
                        <div class="prediction"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>