<div>
    <h5 class="bold">Sales Predictor <span class="lite fs-12">(FY 2017-18)</span></h5>
    <p class="markers">
        <i class="fa fa-dot-circle-o target"></i>Target
        <i class="fa fa-dot-circle-o predicted"></i> Predicted
        <i class="fa fa-dot-circle-o won"></i> Won
        <i class="fa fa-dot-circle-o pipeline"></i> Pipeline
    </p>
    <div class="quarters">

        <div class="row margin0 relative top">
            <div class="qtr qtr1">
                Q1
                <span class="yr">2017 (Actual)</span>
                <p class="amt [[class1]]">[[wonAmountQtr1]]</p>
                <p class="perc [[class1]]">[[wonQtr1Percentage1]]</p>
            </div>
            <div class="qtr qtr2">Q2
                <span class="yr">2017 (Actual)</span>
                <p class="amt [[class2]]">[[wonAmountQtr2]]</p>
                <p class="perc [[class2]]">[[wonQtr1Percentage2]]</p>
            </div>
            <div class="qtr qtr3">Q3
                <span class="yr">2017 (Prediction)</span>
                <p class="amt [[class3]]">[[wonAmountQtr3]]</p>
                <p class="perc [[class3]]">[[wonQtr1Percentage3]]</p>
            </div>
            <div class="qtr qtr4">Q4
                <span class="yr">2017 (Prediction)</span>
                <p class="amt [[class]]">0</p>
                <!--<p class="perc [[class]]">[[wonQtrPercentage]]</p>-->
            </div>
        </div>
        <div class="row margin0">
            <div class="col-sm-3" style="margin-top: 6px;">
                <canvas id="chart-0"></canvas>
                <i class="fa fa-dot-circle-o won" ng-style="wonStyleQtr1"></i>
                <i class="fa fa-dot-circle-o target" ng-style="targetStyleQtr1"></i>
                <!--<i class="fa fa-dot-circle-o predicted" ng-style="predictionStyleQtr1"></i>-->
            </div>
            <div class="col-sm-3">
                <canvas id="chart-1"></canvas>
                <i class="fa fa-dot-circle-o won" ng-style="wonStyle2"></i>
                <i class="fa fa-dot-circle-o target" ng-style="targetStyle2"></i>
                <!--<i class="fa fa-dot-circle-o predicted" ng-style="predictionStyle2"></i>-->
            </div>
            <div class="col-sm-3">
                <canvas id="chart-2"></canvas>
                <i class="fa fa-dot-circle-o won" ng-style="wonStyle3"></i>
                <i class="fa fa-dot-circle-o target" ng-style="targetStyle"></i>
                <i class="fa fa-dot-circle-o predicted" ng-style="predictionStyle3"></i>
                <i class="fa fa-dot-circle-o pipeline" ng-style="pipelineStyle3"></i>
            </div>
            <div class="col-sm-3">
                <canvas id="chart-3"></canvas>
                <!--<i class="fa fa-dot-circle-o won" ng-style="wonStyle"></i>-->
                <i class="fa fa-dot-circle-o target" ng-style="targetStyle"></i>
                <!--<i class="fa fa-dot-circle-o predicted" ng-style="predictionStyle"></i>-->
            </div>

        </div>
    </div>
</div>