<th>Productivity Measure</th>
<td class="text-center sidebar">

    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter1.oneWayInteractionsWithOppContactsStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter1.oneWayInteractionStyle"></div>
        </div>
        <p>[[quarter1.oneWayInteractionsProductivityRatio]]</p>
        <div class="to-remove">
            <div> Int With Opp Contacts [[quarter1.oneWayInteractionsWithOppContacts]]</div><div>All interactions[[quarter1.oneWayInteractionCount]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="intPerDeal"></i>Int. with imp. Contacts</td>
                        <td><span>[[quarter1.oneWayInteractionsWithOppContacts]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="intOverall"></i>Overall int.</td>
                        <td><span>[[quarter1.oneWayInteractionCount]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">

    <div class="graph-xs">
        <div class="base clearfix">
            <div ng-style="quarter2.oneWayInteractionsWithOppContactsStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter2.oneWayInteractionStyle"></div>
        </div>
        <p>[[quarter2.oneWayInteractionsProductivityRatio]]</p>
        <div class="to-remove">
            <div> Int With Opp Contacts [[quarter2.oneWayInteractionsWithOppContacts]]</div><div>All interactions[[quarter2.oneWayInteractionCount]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="intPerDeal"></i>Int. with imp. Contacts</td>
                        <td><span>[[quarter2.oneWayInteractionsWithOppContacts]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="intOverall"></i>Overall int.</td>
                        <td><span>[[quarter2.oneWayInteractionCount]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">
-
    <div class="graph-xs" style="display: none;">
        <div class="base clearfix">
            <div ng-style="quarter3.oneWayInteractionsWithOppContactsStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter3.oneWayInteractionStyle"></div>
        </div>
        <p>[[quarter3.oneWayInteractionsProductivityRatio]]</p>
        <div class="to-remove">
            <div> Int With Opp Contacts [[quarter3.oneWayInteractionsWithOppContacts]]</div><div>All interactions[[quarter3.oneWayInteractionCount]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="intPerDeal"></i>Int. with imp. Contacts</td>
                        <td><span>[[quarter3.oneWayInteractionsWithOppContacts]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="intOverall"></i>Overall int.</td>
                        <td><span>[[quarter3.oneWayInteractionCount]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>
<td class="text-center sidebar">
-
    <div class="graph-xs" style="display: none;">
        <div class="base clearfix">
            <div ng-style="quarter4.oneWayInteractionsWithOppContactsStyle"></div>
        </div>
        <div class="base clearfix">
            <div ng-style="quarter4.oneWayInteractionStyle"></div>
        </div>
        <p>[[quarter4.oneWayInteractionsProductivityRatio]]</p>
        <div class="to-remove">
            <div> Int With Opp Contacts [[quarter4.oneWayInteractionsWithOppContacts]]</div><div>All interactions[[quarter4.oneWayInteractionCount]]</div>
        </div>

        <div class="vertical pop-up-md">
            <div class="pop-up">
                <table>

                    <tr>
                        <td><i class="intPerDeal"></i>Int. with imp. Contacts</td>
                        <td><span>[[quarter4.oneWayInteractionsWithOppContacts]]</span></td>
                    </tr>

                    <tr>
                        <td><i class="intOverall"></i>Overall int.</td>
                        <td><span>[[quarter4.oneWayInteractionCount]]</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</td>