<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Pulse | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">

    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper">
            <div class="col-md-12 main">

                <!--<div class="top-stats-horizontal" data-ng-controller="top_stats">-->

                    <!--<table class="table">-->

                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th></th>-->
                            <!--<th ng-repeat="item in topStats" class="width">-->
                                <!--<p>[[item.header]]</p>-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="reset">-->
                                <!--<p>Current</p>-->
                                <!--<p>Previous Week</p>-->
                            <!--</td>-->
                            <!--<td ng-repeat="item in topStats">-->
                                <!--<p class="fs [[item.class]]">[[item.today]]</p>-->
                                <!--<p>[[item.qs]]</p>-->
                            <!--</td>-->
                        <!--</tr>-->

                        <!--</tbody>-->
                    <!--</table>-->

                    <!--&lt;!&ndash;<div class="row margin0">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-2 box">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<h5><br> </h5>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<p>FY</p>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<p>Quarter Start</p>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<p>Today </p>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Current Week</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Previous Week</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-sm-2 box" ng-repeat="item in topStats">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h5>[[item.header]]</h5>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="pull-left">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h2>[[item.today]]</h2>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="pull-right [[item.header]]">&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;<p class="fy">[[item.fy]]</p>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;<p class="qs">[[item.qs]]</p><i class="fa fa-angle-up"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <div class="horizontal-menu-top clearfix" data-ng-controller="topContextMenu">

                    <ul class="list-unstyled clearfix pull-left">
                        <li ng-show="contacts.length>1">
                            <div class="li-btn" data-ng-click="showContactList = !showContactList">[[contactSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showContactList">
                                    <input ng-model="contact">
                                    <div ng-repeat="contact in contacts | filter:contact | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(contact,'contact')">
                                        [[contact.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="date-range" style="display: none">
                            <div class="li-btn" data-ng-click="showDateRangePicker = !showDateRangePicker">[[dateRange]]<i class="fa fa-caret-down"></i></div>
                            <div ng-show="showDateRangePicker" class="list">
                                <!--<input ng-model="startDt" id="startDt" placeholder="Start Date" ng-mouseover="registerDatePickerId('startDt')">-->
                                <p data-ng-click="showAllDateRange()">All close dates</p>
                                <input ng-model="endDt" id="endDt" placeholder="End Date" ng-mouseover="registerDatePickerId('endDt')">
                            </div>
                        </li>
                        <!--<li class="amount-range">-->
                        <!--<div class="li-btn" data-ng-click="showmAmountRange = !showmAmountRange">[[amountRange]]<i class="fa fa-caret-down"></i></div>-->
                        <!--<div ng-show="showmAmountRange" class="list">-->
                        <!--<p>[[amountRange]]</p>-->
                        <!--<input ng-model="minAmt" placeholder="Min. Amt">-->
                        <!--<input ng-model="maxAmt" placeholder="Max. Amt">-->
                        <!--</div>-->
                        <!--</li>-->
                        <li ng-show="companies.length>1">
                            <div class="li-btn" data-ng-click="showCompanyList = !showCompanyList;selectFromList = false">[[companySelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showCompanyList">
                                    <input ng-model="company">
                                    <div ng-repeat="company in companies | filter:company | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(company,'company')">
                                        [[company.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="geoLocations.length>1">
                            <div class="li-btn" data-ng-click="showLocationList = !showLocationList;selectFromList = false">[[locationSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showLocationList">
                                    <input ng-model="location">
                                    <div ng-repeat="location in geoLocations | filter:location | orderBy:'region'" class="selections" data-ng-click="filterOpportunities(location,'location')">
                                        [[location.region]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="productTypes.length>1">
                            <div class="li-btn" data-ng-click="showProductList = !showProductList;selectFromList = false">[[productSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showProductList">
                                    <input ng-model="product">
                                    <div ng-repeat="product in productTypes | filter:product | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(product,'product')">
                                        [[product.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="verticals.length>1">
                            <div class="li-btn" data-ng-click="showVerticalList = !showVerticalList;selectFromList = false">[[verticalSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showVerticalList">
                                    <input ng-model="vertical">
                                    <div ng-repeat="vertical in verticals | filter:vertical | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(vertical,'vertical')">
                                        [[vertical.name]]
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="horizontal-menu-top hierarchy-header clearfix" ng-controller="liu_hierarchy">
                    <div class="clearfix" style="border-bottom: 1px solid #eee;margin-bottom: 5px;">
                        <ul class="list-unstyled clearfix pull-right">
                            <li>
                                <div class="team-list clearfix">
                                    <div class="team-profiles" ng-click="selectFromList = !selectFromList;showProductList = false" title="[[selection.fullName]], [[selection.emailId]]">
                                        <span ng-if="selection.noPicFlag">[[selection.nameNoImg]]</span>
                                        <strong>[[selection.fullName]]</strong>
                                        <i class="fa fa-caret-down"></i>
                                    </div>

                                    <div ng-show="selectFromList" class="list">
                                        <input ng-model="member.fullName">
                                        <p class="text-center cursor" data-ng-click="getDataFor('all')">Show All Team Members</p>
                                        <div ng-repeat="member in team | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="getDataFor(member)" title="[[member.fullName]], [[member.emailId]]">
                                            <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                            <strong>[[member.fullName]]</strong>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div data-ng-controller="prediction" class="inline-graph" style="margin-left: 15px;">

                    <div class="ct-chart cursor" data-ng-click="getDataForQtr('qc-2')">
                        <div class="ct-chart-q1"></div>
                        <div class="abs-btm">
                            <p>Quarter: [[qtrQ1]]</p>
                            <table class="targets-container" ng-show="!loadingDealsQtr1">
                                <tr>
                                    <td><i class="tr"></i>Target</td>
                                    <td style="text-align: right!important;">[[t1]]</td>
                                </tr>
                                <tr>
                                    <td><i class="won"></i>Won</td>
                                    <td style="text-align: right!important;">[[w1]]([[wp1]])</td>
                                </tr>
                                <tr>
                                    <td><i class="pl"></i>Pipeline</td>
                                    <td style="text-align: right!important;">[[p1]]</td>
                                </tr>
                                <tr>
                                    <td><i class="commits"></i>Commit</td>
                                    <td style="text-align: right!important;">[[c1]]([[cp1]])</td>
                                </tr>
                                <!--<tr>-->
                                <!--<td>Interaction/$ won</td>-->
                                <!--<td style="text-align: right!important;">75</td>-->
                                <!--</tr>-->
                            </table>
                        </div>

                        <div ng-show="loadingDealsQtr1" class="text-center relative">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="ct-chart cursor" data-ng-click="getDataForQtr('qc-1')">
                        <div class="ct-chart-q2"></div>
                        <p>Quarter: [[qtrQ2]]</p>
                        <table class="targets-container" ng-show="!loadingDealsQtr2">
                            <tr>
                                <td><i class="tr"></i>Target</td>
                                <td style="text-align: right!important;">[[t2]]</td>
                            </tr>
                            <tr>
                                <td><i class="won"></i>Won</td>
                                <td style="text-align: right!important;">[[w2]]([[wp2]])</td>
                            </tr>
                            <tr>
                                <td><i class="pl"></i>Pipeline</td>
                                <td style="text-align: right!important;">[[p2]]</td>
                            </tr>
                            <tr>
                                <td><i class="commits"></i>Commit</td>
                                <td style="text-align: right!important;">[[c2]]([[cp2]])</td>
                            </tr>
                            <!--<tr>-->
                            <!--<td>Interaction/$ won</td>-->
                            <!--<td style="text-align: right!important;">75</td>-->
                            <!--</tr>-->
                        </table>
                        <div ng-show="loadingDealsQtr2" class="text-center relative">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="ct-chart cursor" data-ng-click="getDataForQtr('qcurrent')">
                        <div class="ct-chart-qcurrent"></div>
                        <p>Quarter: [[qtrCurrent]]</p>
                        <table class="targets-container" ng-show="!loadingDealsQtrC">
                            <tr>
                                <td><i class="tr"></i>Target</td>
                                <td>[[tcurrent]]</td>
                            </tr>
                            <tr>
                                <td><i class="won"></i>Won</td>
                                <td>[[wcurrent]]([[wpcurrent]])</td>
                            </tr>
                            <tr>
                                <td><i class="pl"></i>Pipeline</td>
                                <td>[[pcurrent]]</td>
                            </tr>
                            <tr>
                                <td><i class="commits"></i>Commit</td>
                                <td>[[ccurrent]]([[cpcurrent]])</td>
                            </tr>
                            <!--<tr>-->
                            <!--<td>Interaction/$ won</td>-->
                            <!--<td>75</td>-->
                            <!--</tr>-->
                        </table>
                        <div ng-show="loadingDealsQtrC" class="text-center relative">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="ct-chart cursor" data-ng-click="getDataForQtr('next')">
                        <div class="ct-chart-qnext"></div>
                        <p>Quarter: [[qtrNext]]</p>
                        <table class="targets-container" ng-show="!loadingDealsQtrNext">
                            <tr>
                                <td><i class="tr"></i>Target</td>
                                <td style="text-align: right!important;">[[tnext]]</td>
                            </tr>
                            <tr>
                                <td><i class="won"></i>Won</td>
                                <td style="text-align: right!important;">[[wnext]]([[wpnext]])</td>
                            </tr>
                            <tr>
                                <td><i class="pl"></i>Pipeline</td>
                                <td style="text-align: right!important;">[[pnext]]</td>
                            </tr>
                            <tr>
                                <td><i class="commits"></i>Commit</td>
                                <td style="text-align: right!important;">[[cnext]]([[cpnext]])</td>
                            </tr>
                            <!--<tr>-->
                            <!--<td>Interaction/$ won</td>-->
                            <!--<td style="text-align: right!important;">75</td>-->
                            <!--</tr>-->
                        </table>
                        <div ng-show="loadingDealsQtrNext" class="text-center relative">
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="reports">
                        <p class="text-center bold" ng-show="noDataFound">No data found.</p>
                        <div class="opps-table" ng-show="opps.length>0">
                            <table class="table">
                                <tr>
                                    <th>Opp Name</th>
                                    <th class="cursor" data-ng-click="sortTable('amount')">Amount</th>
                                    <th class="cursor" data-ng-click="sortTable('Stage')">Stage</th>
                                    <th class="cursor" data-ng-click="sortTable('closeDate')">Close Date</th>
                                    <th>Account</th>
                                    <th>Contact</th>
                                    <th>Product</th>
                                    <th class="cursor" data-ng-click="sortTable('Opp Owner')">Opp Owner</th>
                                </tr>
                                <tr ng-repeat="op in opps|orderBy:sortType:sortReverse">
                                    <td>[[op.opportunityName]]</td>
                                    <td>[[op.amount]]</td>
                                    <td>[[op.stageName]]</td>
                                    <td>[[op.closeDateFormatted]]</td>
                                    <td>[[op.account]]</td>
                                    <td>[[op.contactEmailId]]</td>
                                    <td>[[op.productType]]</td>
                                    <td>[[op.userEmailId]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">

<script type="text/javascript" src="//maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/javascripts/markerCluster.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script>
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript" src="/javascripts/common/pathseg.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/pulse/pulse.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNm_XeNP6J28wlTMWdRUx9XgT6VMUIpMs" async defer></script>-->
</body>
</html>
