<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Team Commit Review | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper">
            <div class="col-md-12 main">

                <div class="horizontal-menu-top fixed-header clearfix" data-ng-controller="topContextMenu">
                    <div class="pull-left" style="padding: 1%;">
                        Current Month([[currentMonth]])
                    </div>
                    <div class="pull-right">
                        <div class="hierarchy-switch" style="margin-right: 145px;">
                            <div class="selection" data-ng-click="toggleHierarchyList()">
                                [[hierarchySelection]]<i class="fa fa-caret-down"></i>
                            </div>
                            <ul class="list-unstyled list" ng-show="showHierarchyList">
                                <li ng-repeat="item in hierarchyList" class="selections" data-ng-click="switchHierarchy(item)">[[item]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pulse">

                    <div class="col-md-12">

                        <div data-ng-controller="team_list" class="weekly-review">
                            <div data-ng-include="'/pulse/teamAnalysisSideBar'"></div>

                            <div class="table-review">

                                <table class="table team-tank-tb">
                                    <tr class="header-tb">
                                        <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='fullName'">
                                            Team member <br>
                                            <p class="text-padding-l">([[totalTeamMembers]])</p>
                                        </th>
                                        <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetSort'">
                                            Monthly Target <br>
                                            <p class="text-padding-l">[T] = [[totalTarget]]</p>
                                        </th>
                                        <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='targetAndAchievement.won'">
                                            Achievement <br>
                                            <p class="text-padding-l">[A] = [[totalAchievement]]</p>
                                        </th>
                                        <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='commitSort'">
                                            Commit <br>
                                            <p class="text-padding-l">[C] = [[totalCommit]]</p>
                                        </th>
                                        <th class="cursor" data-ng-click="sortReverse = !sortReverse;sortType='differenceSort'">
                                            Difference <br>
                                            <p class="text-padding-l">[T-C] = [[totalDiff]]</p>
                                        </th>
                                        <th></th>
                                    </tr>

                                    <tr class="cursor white-bg" ng-repeat="member in teamList | orderBy:sortType:sortReverse" data-ng-click="seeWeeklyReview(member)">
                                        <td>
                                            <div class="team-profiles clearfix reset"  title="[[member.fullName]], [[member.emailId]]">
                                                [[$index+1]].
                                                <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                                <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                                <strong>[[member.fullName]]</strong>
                                            </div>
                                        </td>
                                        <td class="fs-16">
                                            [[member.targetAndAchievement.target]]
                                        </td>
                                        <td class="fs-16">
                                            <!--[[member.targetAndAchievement.won]]-->
                                            [[member.targetAndAchievement.wonWithCommas]]
                                        </td>
                                        <td class="fs-16 bg-grey-dark">
                                            [[member.commit]]
                                        </td>
                                        <td class="fs-16">
                                            [[member.difference]]
                                        </td>

                                        <td class="fs-16">View Details</td>
                                    </tr>
                                </table>
                            </div>
                            <!--<div class="wr-list list cursor" ng-repeat="member in teamList | orderBy:'fullName'" data-ng-click="seeWeeklyReview(member)">-->

                                <!--<div class="team-profiles clearfix reset inline-block"  title="[[member.fullName]], [[member.emailId]]">-->
                                    <!--[[$index+1]].-->
                                    <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                    <!--<span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>-->
                                    <!--<strong>[[member.fullName]]</strong>-->
                                <!--</div>-->
                                <!--<div class="inline-block">-->
                                     <!--[[member.targetAndAchievement.target]]-->
                                <!--</div>-->
                                <!--<div class="inline-block">-->
                                     <!--[[member.targetAndAchievement.won]]-->
                                <!--</div>-->
                                <!--<div class="inline-block">-->
                                     <!--[[member.commit]]-->
                                <!--</div>-->
                                <!--<div class="inline-block">-->
                                     <!--[[member.difference]]-->
                                <!--</div>-->
                                <!--<div class="inline-block progress-txt">-->
                                     <!--<strong>View monthly progress </strong>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/schedule/jquery.js"></script>
<script src="/javascripts/schedule/bootstrap.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script src="/javascripts/schedule/slide/toastr.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
<script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
<script type="text/javascript" src="/javascripts/common/pathseg.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/pulse/weeklyReview.js"></script>
<script type="text/javascript" src="/javascripts/pulse/monthlyReview.js"></script>
<script type="text/javascript" src="/javascripts/pulse/quarterlyReview.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>

<script type="text/javascript" src="/javascripts/tasks/index.js"></script>
<script type="text/javascript" src="/javascripts/tasks/services.js"></script>

<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNm_XeNP6J28wlTMWdRUx9XgT6VMUIpMs" async defer></script>-->
</body>
</html>