<div class="team-summary" ng-show="companies.length>0 || regions.length>0 || products.length>0 || verticals.length>0">

    <div class="row">

        <div class="col-md-3">
            <h5>Companies (<i class="[[currency]]"></i> [[companyAmount]])</h5>

            <div class="clearfix">
                <div class="pull-left">
                    <strong ng-show="companies.length>0">Top [[companies.length]]</strong>
                    <ol>
                        <li ng-repeat="item in companies" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                    </ol>
                </div>
                <div class="company-chart pull-right"></div>
            </div>
        </div>

        <div class="col-md-3">
            <h5>Regions (<i class="[[currency]]"></i> [[regionAmount]])</h5>

            <div class="clearfix">
                <div class="pull-left">
                    <strong ng-show="regions.length>0">Top [[regions.length]]</strong>
                    <ol>
                        <li ng-repeat="item in regions" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                    </ol>
                </div>
                <div class="region-chart pull-right"></div>
            </div>
        </div>

        <div class="col-md-3">
            <h5>Products (<i class="[[currency]]"></i> [[productAmount]])</h5>

            <div class="clearfix">
                <div class="pull-left">
                    <strong ng-show="products.length>0">Top [[products.length]]</strong>
                    <ol>
                        <li ng-repeat="item in products" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                    </ol>
                </div>
                <div class="product-chart pull-right"></div>
            </div>
        </div>

        <div class="col-md-3">
            <h5>Verticals (<i class="[[currency]]"></i> [[verticalAmount]])</h5>

            <div class="clearfix">
                <div class="pull-left">
                    <strong ng-show="verticals.length>0">Top [[verticals.length]]</strong>
                    <ol>
                        <li ng-repeat="item in verticals" title="[[item.name]]">[[item.nameTruncated]] - [[item.amountWithCommas]]</li>
                    </ol>
                </div>
                <div class="vertical-chart pull-right"></div>
            </div>
        </div>
    </div>
</div>