<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas integrates with your email, calendars, calls, SMS, social feeds and more to keep you informed on your professional connections.">
    <meta name="author" content="Relatas">
    <title>Team Analysis | Relationship Intelligence | Relatas</title>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
</head>

<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper">
            <div class="col-md-12 main">

                <div class="horizontal-menu-top fixed-header clearfix" data-ng-controller="topContextMenu">

                    <ul class="list-unstyled clearfix pull-left">

                        <li ng-show="companies.length>1">
                            <div class="li-btn" data-ng-click="showCompanyList = !showCompanyList;selectFromList = false">[[companySelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showCompanyList">
                                    <input ng-model="company">
                                    <div ng-repeat="company in companies | filter:company | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(company,'company')">
                                        [[company.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="geoLocations.length>1">
                            <div class="li-btn" data-ng-click="showLocationList = !showLocationList;selectFromList = false">
                                <div class="[[locationClass]]"></div>
                                [[locationSelected]]<i class="fa fa-caret-down"></i>
                            </div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showLocationList">
                                    <input ng-model="location">
                                    <div ng-repeat="location in geoLocations | filter:location | orderBy:'region'" class="selections" data-ng-click="filterOpportunities(location,'location')">
                                        [[location.region]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="productTypes.length>1">
                            <div class="li-btn" data-ng-click="showProductList = !showProductList;selectFromList = false">
                                <div class="[[productClass]]"></div>
                                [[productSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showProductList">
                                    <input ng-model="product">
                                    <div ng-repeat="product in productTypes | filter:product | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(product,'product')">
                                        [[product.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="verticals.length>1">
                            <div class="li-btn" data-ng-click="showVerticalList = !showVerticalList;selectFromList = false">
                                <div class="[[verticalClass]]"></div>
                                [[verticalSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showVerticalList">
                                    <input ng-model="vertical">
                                    <div ng-repeat="vertical in verticals | filter:vertical | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(vertical,'vertical')">
                                        [[vertical.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="sources.length>1">
                        <!--<li>-->
                            <div class="li-btn" data-ng-click="showSourceList = !showSourceList;selectFromList = false">[[sourceSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showSourceList">
                                    <input ng-model="source">
                                    <div ng-repeat="source in sources | filter:source | orderBy:'name'" class="selections" data-ng-click="filterOpportunities(source,'source')">
                                        [[source.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="quarters.length>1">
                            <div class="li-btn" data-ng-click="showQuarterList = !showQuarterList;selectFromList = false">
                                <div class="[[quarterClass]]"></div>
                                [[quarterSelected]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showQuarterList">
                                    <div ng-repeat="quarter in quarters" class="selections" data-ng-click="getOpportunitiesForQuarter(quarter)">
                                        [[quarter.name]]
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-show="quarters.length>1">
                            <div class="li-btn" data-ng-click="showAllList = !showAllList;selectFromList = false" title="[[usersWithTargets]]">
                                <div class="[[targetClass]]"></div>
                                [[usersWithTargets]]<i class="fa fa-caret-down"></i></div>
                            <div class="products-list clearfix">
                                <div class="list" ng-show="showAllList">
                                    <div class="selections" data-ng-click="showAll(allUsers)">
                                        [[allUsers]]
                                    </div>
                                    <div class="selections" data-ng-click="showAll(withTargetSet)">
                                        [[withTargetSet]]
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list-unstyled clearfix pull-right">
                        <li>
                            <div ng-show="ifTeam" class="team-list clearfix">
                                <div class="team-profiles" ng-click="selectFromList = !selectFromList;showProductList = false" title="[[selection.fullName]], [[selection.emailId]]">
                                    <img ng-if="!selection.noPicFlag" src="[[selection.image]]" imageonload="imageNotLoaded(selection)">
                                    <span ng-if="selection.noPicFlag">[[selection.nameNoImg]]</span>
                                    <strong>[[selection.fullName]]</strong>
                                    <i class="fa fa-caret-down"></i>
                                </div>

                                <div ng-show="selectFromList" class="list">
                                    <input ng-model="member.fullName">
                                    <p ng-show="team.length>1" data-ng-click="getOpportunities('all')">Show All Team Members</p>
                                    <div ng-repeat="member in team | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="getOpportunities(member)" title="[[member.fullName]], [[member.emailId]]">
                                        <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                                        <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                        <strong>[[member.fullName]]</strong>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <div class="hierarchy-switch">
                            <div class="selection" data-ng-click="toggleHierarchyList()">
                                [[hierarchySelection]]<i class="fa fa-caret-down"></i>
                            </div>
                            <ul class="list-unstyled list" ng-show="showHierarchyList">
                                <li ng-repeat="item in hierarchyList" class="selections" data-ng-click="switchHierarchy(item)">[[item]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pulse">

                    <div class="col-md-12">

                        <div data-ng-controller="team_summary">
                            <div data-ng-include="'/pulse/summary'"></div>
                        </div>

                        <div data-ng-controller="team_rank">
                            <div data-ng-include="'/pulse/teamRankV2'"></div>
                        </div>

                        <div data-ng-controller="teamAnalysis">
                            <div data-ng-include="'/pulse/teamAnalysisSideBar'"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/schedule/jquery.js"></script>
<script src="/javascripts/schedule/bootstrap.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone.js"></script>
<script src="/javascripts/schedule/slide/toastr.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
<script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
<script type="text/javascript" src="/javascripts/common/pathseg.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/pulse/team.js"></script>
<script type="text/javascript" src="/javascripts/pulse/weeklyReview_for_team_page.js"></script>
<script type="text/javascript" src="/javascripts/pulse/palette.js"></script>
<script type="text/javascript" src="/javascripts/pulse/color-scheme.min.js"></script>
<script type="text/javascript" src="/javascripts/pulse/please.js"></script>
<script type="text/javascript" src="/javascripts/pulse/ng-csv.min.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script type="text/javascript" src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>

<script type="text/javascript" src="/javascripts/tasks/index.js"></script>
<script type="text/javascript" src="/javascripts/tasks/services.js"></script>
<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNm_XeNP6J28wlTMWdRUx9XgT6VMUIpMs" async defer></script>-->
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>