

<div ng-controller="teamCommit">
    <div class="commits">
        <div class="container">
            <div class="row" style="margin: 1px !important;">

                <div class="col-md-4 border-right graph-base">
                    <div ng-show="viewMode == 'week'" class="no-graph">
                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsWeekly(weeklyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this week</span>
                                <p class="num link">[[weeklyCommits.oppValue]]</p>
                            </div>
                            <div class="pull-right cursor" ng-click="getTeamCommitsWeek(weeklyCommits)">
                                <p class="num link">[[weeklyCommits.selfCommitValueFormat]]</p>
                                <p class="absolute-text-r">Weekly Team Commit</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'week'" class="cursor make-abs" data-ng-click="viewCommitFor('week')">
                        View <strong>Team</strong> Weekly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[weeklyCommitCutOff]]</p>
                </div>
                <div class="col-md-4 border-right graph-base">
                    <div ng-show="viewMode == 'month'">
                        <div class="graph-o" id="[[monthlyCommits.graph.idForHover]]">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="monthlyCommits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Target([[monthlyCommits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="monthlyCommits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Achievement([[monthlyCommits.graph.achievementVal]])
                                </div>
                            </div>
                        </div>
                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsMonth(monthlyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this month</span>
                                <p class="num link">[[monthlyCommits.oppValue]]</p>
                            </div>
                            <div class="pull-right cursor" ng-click="getTeamCommitsMonth(monthlyCommits)">
                                <p class="num link">[[monthlyCommits.selfCommitValueFormat]]</p>
                                <p class="absolute-text-r">Monthly Team Commit</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'month'" class="cursor make-abs" data-ng-click="viewCommitFor('month')">
                        View <strong>Team</strong> Monthly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[monthlyCommitCutOff]]</p>
                </div>
                <div class="col-md-4 graph-base">
                    <div ng-show="viewMode == 'qtr'">
                        <div class="graph-o" id="[[quarterlyCommits.graph.idForHover]]">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="quarterlyCommits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Target([[quarterlyCommits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="quarterlyCommits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Achievement([[quarterlyCommits.graph.achievementVal]])
                                </div>
                            </div>
                        </div>
                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsQuarter(quarterlyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this quarter</span>
                                <p class="num link">[[quarterlyCommits.oppValue]]</p>
                            </div>
                            <div class="pull-right cursor" ng-click="getTeamCommitsQuarter(quarterlyCommits)">
                                <p class="num link">[[quarterlyCommits.selfCommitValueFormat]]</p>
                                <p class="absolute-text-r">Quarterly Team Commit</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'qtr'" class="cursor make-abs" data-ng-click="viewCommitFor('qtr')">
                        View <strong>Team</strong> Quarterly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[quarterlyCommitCutOff]]</p>
                </div>
            </div>
            <div ng-show="chLoading" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>
    </div>

    <div class="team-commits" ng-show="commitsByUsers.length>0">
        <div class="clearfix">
            <h5 class="pull-left bold" style="text-transform: capitalize;">[[selectionType]]</h5>
            <h5 class="pull-right bold cursor" data-ng-click="closeCommitTable()">Close (X)</h5>
        </div>

        <div class="opps-for-week">

            <div class="opportunities-dialog-box" ng-show="opportunitiesForCommit.length>0 && showOppForCommits">
                <div class="clearfix">
                    <h5 class="pull-left bold margin0">[[selectedUser.profile.fullName]]'s Opportunities in [[commitStage]]</h5>
                    <button class="btn-white pull-right close-btn" data-ng-click="closeOppForCommit()">Close</button>
                </div>
                <table class="table">
                    <tr>
                        <th>Opportunity name</th>
                        <th>Close Date</th>
                        <th>Currency</th>
                        <th>Top line</th>
                        <th>Margin</th>
                        <th>Bottom line</th>
                    </tr>
                    <tr ng-repeat="op in opportunitiesForCommit">
                        <td>[[op.opportunityName]]</td>
                        <td>[[op.closeDateFormatted]]</td>
                        <td>[[op.currency]]</td>
                        <td>[[op.topLine]]</td>
                        <td>[[op.netGrossMargin]]</td>
                        <td>[[op.bottomLine]]</td>
                    </tr>
                </table>
            </div>

            <table class="table">
                <tr>
                    <th></th>
                    <th class="cursor" data-ng-click="sortType = 'profile.fullName';sortReverse = !sortReverse">Team member</th>
                    <th class="text-right cursor" data-ng-click="sortType = 'oppsValueUnderCommitStageSort';sortReverse = !sortReverse">Opp. Value in [[commitStage]] Stage ([[oppValueSelectedForDisplay]])</th>
                    <th class="text-right cursor" data-ng-click="sortType = 'valueSort';sortReverse = !sortReverse">Commit Value ([[commitValueSelectedForDisplay]])</th>
                    <th class="text-right cursor" data-ng-click="sortType = 'commitDateTime';sortReverse = !sortReverse">Commit Date</th>
                </tr>
                <tr ng-repeat="item in commitsByUsers | orderBy:sortType:sortReverse">
                    <td><input type="checkbox" ng-model="item.selected" data-ng-click="selectedUserValues(item)"></td>
                    <td width="20%">[[item.profile.fullName]]</td>
                    <td width="30%" class="text-right onhover" data-ng-click="showOpportunities(item,$index)">[[item.oppsValueUnderCommitStage]]</td>
                    <th width="20%" class="text-right">[[item.value]]</th>
                    <td width="20%" class="text-right">[[item.commitDateTime]]</td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="currentWeek">
        <div data-ng-include="'/pulse/user/oppsTable'"></div>
    </div>
</div>