
<div class="modal-open convert-modal-sidebar weekly-review" ng-show="isSideBarOpen">
    <div class="opportunity-form form-box-shadow">

        <div class="clearfix relative" data-ng-controller="weeklyReview">

            <div class="row">
                <!--<div class="col-md-2 side-panel [[forWeeklyReview]]">-->
                <div class="col-md-2 side-panel">
                    <div class="text-center">
                        Viewing - [[hierarchySelection]]
                    </div>
                    <div class="clearfix">
                        <div class="modal-header">
                            <div data-ng-click="selectFromList = true;" class="owner pull-left" style="margin:10px !important;" ng-show="member.fullName" title="[[member.fullName]], [[member.emailId]]">
                                <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                <strong>[[member.nameTruncate]]</strong>

                                <i class="fa fa-caret-down cursor"></i>
                            </div>

                            <div ng-show="selectFromList" class="list">
                                <div ng-repeat="user in team | filter:user.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="closeList(user)" title="[[user.fullName]], [[user.emailId]]">
                                    <!--<img ng-if="!user.noPicFlag" src="[[user.image]]" imageonload="imageNotLoaded(user)">-->
                                    <span ng-if="user.noPicFlag">[[user.nameNoImg]]</span>
                                    <strong>[[user.fullName]]</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li class="cursor [[item.selected]]" data-ng-click="selectItem(item)" ng-repeat="item in subMenu">[[item.name]]</li>
                    </ul>
                </div>
                <div class="col-md-10 hero">
                    <div data-ng-include="'/pulse/overlay/module'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
