
<h5 class="bold">Team Rank<span class="lite fs-12">(Apr - Jun 17)</span></h5>
<div class="box-ui horizontal-menu-top user-list scroll-xs">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="header-tb">
                    <th>User</th>
                    <th data-ng-click="sortReverse = !sortReverse;sortType='interactions'">
                        Win Analysis
                        <i ng-show="sortReverse && sortType == 'interactions'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'interactions'" class="fa fa-caret-up"></i>
                    </th>
                    <th data-ng-click="sortReverse = !sortReverse;sortType='gapNum'">
                        Target Analysis
                        <i ng-show="sortReverse && sortType == 'gapNum'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'gapNum'" class="fa fa-caret-up"></i>
                    </th>
                    <th data-ng-click="sortReverse = !sortReverse;sortType='nextQtr'">Next Qtr Pipeline
                        <i ng-show="sortReverse && sortType == 'nextQtr'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'nextQtr'" class="fa fa-caret-up"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in team | filter:member.fullName | orderBy:sortType:sortReverse" data-ng-click="getOpportunities(member)" title="[[member.fullName]], [[member.emailId]]">
                    <td>
                        <div class="team-profiles clearfix reset">
                            <strong>[[$index+1]].</strong>
                            <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                            <strong>[[member.fullName]]</strong>
                        </div>
                    </td>
                    <td>
                        <div class="graph-xs">
                            <div class="base clearfix">
                                <div ng-style="member.targetStyle"></div>
                                <!--<span>[[member.target]]</span>-->
                            </div>
                            <div class="base clearfix">
                                <div ng-style="member.wonStyle"></div>
                                <!--<span>[[member.won]]</span>-->
                            </div>
                            <div class="base clearfix">
                                <div ng-style="member.interactionsStyle"></div>
                                <!--<span>[[member.interactions]]</span>-->
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="fs-16 lite [[member.gapClass]]">[[member.gap]]</span>
                    </td>
                    <td>
                        <span class="fs-16 lite [[member.nextQtrGapClass]]">[[member.nextQtrGap]]</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="teamCache.length>10 && team.length<=10" class="load-all" title="Show all users" data-ng-click="loadAllUsers()">
            <i class="fa fa-angle-double-down"></i>
        </div>
        <div ng-show="team.length>10" class="load-all" title="Show top 10 users" data-ng-click="top10Users()">
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
</div>