<div class="box-ui horizontal-menu-top user-list scroll-xs">
    <div class="table-responsive">

        <i ng-show="teamRankLoading" class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>

        <div ng-show="teamRank.length == 0 && !teamRankLoading" style="text-align: center;position: absolute;top: 150px;left: 0;right: 0;font-size: 14px;">
            You have not created opportunities for this quarter yet. Please click here to <a class="green-color" href="/opportunities/all">create opportunities</a>.
        </div>

        <table class="table team-tank-tb">
            <thead>
                <tr class="header-tb">
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='index'">
                        Rank
                        <i ng-show="sortReverse && sortType == 'index'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'index'" class="fa fa-caret-up"></i>
                    </th>
                    <th style="padding-left: 22px;" data-ng-click="sortReverse = !sortReverse;sortType='fullName'">
                        User
                        <i ng-show="sortReverse && sortType == 'fullName'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'fullName'" class="fa fa-caret-up"></i>
                    </th>
                    <th data-ng-click="sortReverse = !sortReverse;sortType='index'">
                        Achievement
                        <i ng-show="sortReverse && sortType == 'index'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'index'" class="fa fa-caret-up"></i>
                    </th>
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='gapNum'">
                        Conversion Rate
                        <i ng-show="sortReverse && sortType == 'gapNum'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'gapNum'" class="fa fa-caret-up"></i>
                    </th>
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='averageDealSize_sort'">
                        Avg Deal Size<br>([[currency]])
                        <i ng-show="sortReverse && sortType == 'averageDealSize_sort'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'averageDealSize_sort'" class="fa fa-caret-up"></i>
                    </th>
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='avgSalesCycle_sort'">
                        Avg Sales Cycle<br>(days)
                        <i ng-show="sortReverse && sortType == 'avgSalesCycle_sort'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'avgSalesCycle_sort'" class="fa fa-caret-up"></i>
                    </th>
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='interactionsPerDeal'">
                        Interactions/ <br> 1000 [[currency]] Won
                        <i ng-show="sortReverse && sortType == 'interactionsPerDeal'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'interactionsPerDeal'" class="fa fa-caret-up"></i>
                    </th>
                    <th data-ng-click="sortReverse = !sortReverse;sortType='productivityMeasure_sort'">
                        Productivity<br> Measure
                        <i ng-show="sortReverse && sortType == 'productivityMeasure_sort'" class="fa fa-caret-down"></i>
                        <i ng-show="!sortReverse && sortType == 'productivityMeasure_sort'" class="fa fa-caret-up"></i>
                    </th>
                    <th class="text-center" data-ng-click="sortReverse = !sortReverse;sortType='oneWayinteractions'">
                        Relationship<br> Relevance
                        <!--<i ng-show="sortReverse && sortType == 'interactions'" class="fa fa-caret-down"></i>-->
                        <!--<i ng-show="!sortReverse && sortType == 'interactions'" class="fa fa-caret-up"></i>-->
                    </th>

                </tr>
            </thead>
            <tbody class="check-last-tr">
                <tr ng-repeat="member in teamRank | filter:fullName | orderBy:sortType:sortReverse" data-ng-click="getDetails(member)" class="reset-height">

                    <td class="text-center">
                        <strong>[[member.index]]</strong>
                    </td>
                    <td>
                        <div class="team-profiles clearfix reset"  title="[[member.fullName]], [[member.emailId]]">
                            <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                            <strong>[[member.fullName]]</strong>
                        </div>
                    </td>

                    <td class="text-center" style="display: none;">
                        <div class="graph-xs">
                            <div class="base clearfix">
                                <div ng-style="member.targetStyle"></div>
                            </div>
                            <div class="base clearfix">
                                <div ng-show="!member.ifExceptionalAccess" ng-style="member.wonStyle"></div>
                                <div ng-show="member.ifExceptionalAccess" class="ea clearfix">
                                    <div ng-style="member.userWonStyle" class="user-won"></div>
                                    <div ng-style="member.eaWonStyle" class="ea-won"></div>
                                </div>
                            </div>
                            <p>[[member.achievementPercentage]]</p>
                            <div class="to-remove">
                                <div> Target [[member.targetWithCommas]]</div><div>Won [[member.wonWithCommas]]</div>
                            </div>

                            <div class="vertical pop-up-md">
                                <div class="pop-up">
                                    <table>

                                        <tr>
                                            <td><i class="tr"></i>Target</td>
                                            <td><span>[[member.targetWithCommas]]</span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="won"></i>Won</td>
                                            <td><span>[[member.wonWithCommas]]</span></td>
                                        </tr>
                                        <tr ng-show="member.ifExceptionalAccess">
                                            <td><i class="ea-won"></i>Exceptional Access</td>
                                            <td><span>[[member.eaWithCommas]]</span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="transparent"></i>% Won</td>
                                            <td><span>[[member.achievementPercentage]]</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="relative achievement text-center">
                        <table class="[[member.lineChart2ToolTip]]" ng-show="member.showTooltip">
                            <tr>
                                <th></th>
                                <th ng-repeat="month in member.monthlyOppWon">[[month.meta]]</th>
                            </tr>
                            <tr>
                                <td class="text-left width">
                                    <div class="legend-t">
                                    </div>Target
                                </td>
                                <td class="text-right" ng-repeat="month in member.targetsArray">[[month.valueWithCommas]]</td>
                            </tr>
                            <tr>
                                <td class="text-left width">
                                    <div class="legend-a">
                                    </div>Achievement</td>
                                <td class="text-right" ng-repeat="month in member.monthlyOppWon">[[month.valueWithCommas]]</td>
                            </tr>
                        </table>
                        <div class="[[member.lineChart2]]" ng-mouseover="displayToolTip(member)" ng-mouseleave="member.showTooltip=false"></div>
                        <!--<div class="[[member.lineChart2]]" ng-mouseover="displayToolTip(member)"></div>-->
                        <div class="conversion-rate">[[member.achievementPercentage]]</div>
                    </td>

                    <td class="relative cr text-center">
                        <table class="[[member.lineChart3ToolTip]]" ng-show="member.showTooltip2">
                            <tr>
                                <th></th>
                                <th ng-repeat="month in member.monthlyCreated">[[month.meta]]</th>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <div class="legend-t">
                                    </div>
                                    <div class="inline-block">
                                        Created
                                    </div>
                                </td>
                                <td class="text-right" ng-repeat="month in member.monthlyCreated">[[month.valueWithCommas]]</td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <div class="legend-a">
                                    </div>
                                    <div class="inline-block">
                                        Closed
                                    </div>
                                </td>
                                <td class="text-right" ng-repeat="month in member.monthlyClosed">[[month.valueWithCommas]]</td>
                            </tr>
                        </table>
                        <div class="[[member.lineChart]]" ng-mouseover="displayToolTip2(member)" ng-mouseleave="member.showTooltip2=false"></div>
                        <div class="conversion-rate">[[member.conversionRate]]</div>
                    </td>

                    <td class="relative custom-tooltip">
                        <div id="[[member.pieChartId2]]"></div>
                        <div id="[[member.pieChartId3]]" class="chart-3"></div>

                        <div class="pieNumber">
                            <p>Target: [[member.targetWithCommas]]</p>
                            <p>Won: [[member.wonWithCommas]]</p>
                            <p>% Won: [[member.achievementPercentage]]</p>
                        </div>
                        <p class="abs"> [[member.achievementPercentage]]</p>
                        <div class="to-remove">
                            <p> Target [[member.target]]</p><p>Won [[member.won]]</p>
                        </div>

                    </td>

                    <td class="text-center">
                        <span class="fs-16 lite">[[member.averageDealSize]]</span>
                        <div class="to-remove">
                            <p> Amount Won [[member.won]]</p><p>Num of deals won [[member.wonDeals]]</p>
                        </div>
                    </td>
                    <td class="text-center">
                        <span class="fs-16 lite">[[member.avgSalesCycle]]</span>
                        <div class="to-remove">
                            <div> Days to close win opp [[member.daysToWinCloseDeal]]</div><div>Won Deals [[member.wonDeals]]</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span class="fs-16 lite">[[member.interactionsPerDeal]]</span>
                        <div class="to-remove">
                            <p> Num of interactions won [[member.interactionsCountWon]]</p><p>Num of deals won [[member.wonDeals]]</p><p>Amount won [[member.wonAmount]]</p>
                        </div>
                    </td>
                    <td class="text-center">

                        <div class="graph-xs margin-auto-set">
                            <div class="base clearfix">
                                <div ng-style="member.oneWayInteractionsWithOppContactsStyle"></div>
                            </div>
                            <div class="base clearfix">
                                <div ng-style="member.oneWayInteractionStyle"></div>
                            </div>
                            <p>[[member.oneWayInteractionsProductivityRatio]]</p>
                            <div class="to-remove">
                                <div> Int With Opp Contacts [[member.oneWayInteractionsWithOppContacts]]</div><div>All interactions[[member.oneWayInteractionCount]]</div>
                            </div>

                            <div class="vertical pop-up-md">
                                <div class="pop-up">
                                    <table>

                                        <tr>
                                            <td><i class="intPerDeal"></i>Int. with imp. Contacts</td>
                                            <td><span>[[member.oneWayInteractionsWithOppContacts]]</span></td>
                                        </tr>

                                        <tr>
                                            <td><i class="intOverall"></i>Overall int.</td>
                                            <td><span>[[member.oneWayInteractionCount]]</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="relative">
                        <div id="[[member.pieChartId]]" class="text-center"></div>
                        <div class="to-remove">

                            <ul>
                                <li>Important Interactions [[member.contactRelevance.importantInteractions]]</li>
                                <li>Partners Interactions [[member.contactRelevance.partnersInteractions]]</li>
                                <li>DMs Interactions [[member.contactRelevance.decisionMakersInteractions]]</li>
                                <li>Infls Interactions [[member.contactRelevance.influencersInteractions]]</li>
                                <li>Others Interactions [[member.contactRelevance.othersInteractions]]</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>