<h5>Coming soon...</h5>
<!--<div class="user-reports">-->
    <!--<div class="row box">-->
        <!--<div class="col-md-3 clearfix">-->
            <!--<h5>Companies (<i class="[[currency]]"></i> [[companyAmount]])</h5>-->
            <!--<div class="clearfix">-->
                <!--<div class="pull-left">-->
                    <!--<div class="user-company-chart"></div>-->
                <!--</div>-->
                <!--<div class="pull-left numbers">-->
                    <!--<p>Top [[topCompanies.length]]</p>-->
                    <!--<ol>-->
                        <!--<li title="[[item.name]]" ng-repeat="item in topCompanies">[[item.nameTruncated]]- [[item.amountWithCommas]]</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3 clearfix">-->
            <!--<h5>Regions (<i class="[[currency]]"></i> [[regionAmount]])</h5>-->
            <!--<div class="clearfix">-->
                <!--<div class="pull-left">-->
                    <!--<div class="user-region-chart"></div>-->
                <!--</div>-->
                <!--<div class="pull-left numbers">-->
                    <!--<p>Top [[topRegions.length]]</p>-->
                    <!--<ol>-->
                        <!--<li title="[[item.name]]" ng-repeat="item in topRegions">[[item.nameTruncated]]- [[item.amountWithCommas]]</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3 clearfix">-->
            <!--<h5>Products (<i class="[[currency]]"></i> [[productAmount]])</h5>-->
            <!--<div class="clearfix">-->
                <!--<div class="pull-left">-->
                    <!--<div class="user-product-chart"></div>-->
                <!--</div>-->
                <!--<div class="pull-left numbers">-->
                    <!--<p>Top [[topProducts.length]]</p>-->
                    <!--<ol>-->
                        <!--<li title="[[item.name]]" ng-repeat="item in topCompanies">[[item.nameTruncated]]- [[item.amountWithCommas]]</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3 clearfix">-->
            <!--<h5>Vertical (<i class="[[currency]]"></i> [[verticalAmount]])</h5>-->
            <!--<div class="clearfix">-->
                <!--<div class="pull-left">-->
                    <!--<div class="user-vertical-chart"></div>-->
                <!--</div>-->
                <!--<div class="pull-left numbers">-->
                    <!--<p>Top [[topVerticals.length]]</p>-->
                    <!--<ol>-->
                        <!--<li title="[[item.name]]" ng-repeat="item in topCompanies">[[item.nameTruncated]]- [[item.amountWithCommas]]</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<table class="table">-->
            <!--<tr>-->
                <!--<th class="cursor" ng-click="sortType = 'opportunityName';sortReverse = !sortReverse">Opportunity</th>-->
                <!--<th class="cursor" ng-click="sortType = 'amount';sortReverse = !sortReverse">Amount</th>-->
                <!--<th class="cursor" ng-click="sortType = 'relatasStage';sortReverse = !sortReverse">Stage</th>-->
                <!--<th class="cursor" ng-click="sortType = 'closeDateSort';sortReverse = !sortReverse">Close Date</th>-->
                <!--<th class="cursor" ng-click="sortType = 'company';sortReverse = !sortReverse">Company</th>-->
            <!--</tr>-->
            <!--<tr ng-repeat="item in companyOpps | orderBy:sortType:sortReverse">-->
                <!--<td>[[item.opportunityName]]</td>-->
                <!--<td>[[item.amountWithCommas]]</td>-->
                <!--<td>[[item.relatasStage]]</td>-->
                <!--<td>[[item.closeDate]]</td>-->
                <!--<td>[[item.company]]</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->