<div class="review">

    <div class="commits switch">
        <div class="container">
            <div class="row" ng-show="!chLoading" style="margin: 1px !important;min-height: 90px;">

                <div class="col-md-4 border-right graph-base">
                    <div ng-show="viewMode == 'week'" class="no-graph">
                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsWeekly(weeklyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this week</span>
                                <p class="num link">[[weeklyCommits.oppValue]] </p>
                            </div>
                            <div class="pull-right">
                                <p class="num" ng-show="!weeklyCommits.editAccess">
                                    [[weeklyCommits.selfCommitValueFormat]]
                                </p>
                                <p class="absolute-text-r" ng-show="!weeklyCommits.editAccess">Weekly Commit</p>
                                <input class="num" ng-show="weeklyCommits.editAccess" ng-change="updateStoreValue(weeklyCommits)" data-ng-focus="formatPlaceHolder(weeklyCommits,'numbersOnly')" data-ng-blur="formatPlaceHolder(weeklyCommits)" ng-model="weeklyCommits.selfCommitValueFormat" type="text">
                                <p class="absolute-text-r" ng-show="weeklyCommits.editAccess">Enter Weekly Commit</p>
                                <div ng-show="!chLoading" class="btn-group-sm">
                                    <div class="btn btn-primary" ng-show="weeklyCommits.editAccess" data-ng-click="saveWeeklyCommits(weeklyCommits)">Save Commits</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'week'" class="cursor make-abs" data-ng-click="viewCommitFor('week',member)">
                        View Weekly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[weeklyCommitCutOff]]</p>
                </div>
                <div class="col-md-4 border-right graph-base">
                    <div ng-show="viewMode == 'month'">
                        <div class="graph-o" id="[[monthlyCommits.graph.idForHover]]">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="monthlyCommits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Target([[monthlyCommits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="monthlyCommits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Achievement([[monthlyCommits.graph.achievementVal]])
                                </div>
                            </div>
                        </div>
                        <!--<div class="tooltip-xs" id="[[monthlyCommits.graph.idForTooltip]]" ng-show="monthlyCommits.graph.displayToolTip">-->
                            <!--<table>-->
                                <!--<tr>-->
                                    <!--<td><span class="inline-block target"></span>Target</td>-->
                                    <!--<td>[[monthlyCommits.graph.targetVal]]</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><span class="inline-block achievement"></span>Achievement</td>-->
                                    <!--<td>[[monthlyCommits.graph.achievementVal]]</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><span class="inline-block" ng-style="monthlyCommits.graph.backgroundColor"></span>Opp [[commitStage]] Stage</td>-->
                                    <!--<td>[[monthlyCommits.graph.relatasCommitVal]]</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td><span class="inline-block self"></span>Self commit</td>-->
                                    <!--<td>[[monthlyCommits.graph.selfCommitVal]]</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->

                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsMonthly(monthlyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this month</span>
                                <p class="num link">[[monthlyCommits.oppValue]]</p>
                            </div>
                            <div class="pull-right">
                                <p class="num" ng-show="!monthlyCommits.editAccess">
                                    [[monthlyCommits.selfCommitValueFormat]]
                                </p>
                                <p class="absolute-text-r" ng-show="!monthlyCommits.editAccess">Monthly Commit</p>
                                <input class="num" ng-show="monthlyCommits.editAccess" ng-change="updateMonthlyStoreValue(monthlyCommits)" data-ng-focus="formatPlaceHolder(monthlyCommits,'numbersOnly')" data-ng-blur="formatPlaceHolder(monthlyCommits)" ng-model="monthlyCommits.selfCommitValueFormat" type="text">
                                <p class="absolute-text-r" ng-show="monthlyCommits.editAccess">Enter Monthly Commit</p>
                                <div ng-show="!chLoading" class="btn-group-sm">
                                    <div class="btn btn-primary" ng-show="monthlyCommits.editAccess" data-ng-click="saveMonthlyCommits(monthlyCommits)">Save Commits</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'month'" class="cursor make-abs" data-ng-click="viewCommitFor('month',member)">
                        View Monthly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[monthlyCommitCutOff]]</p>
                </div>
                <div class="col-md-4 graph-base">
                    <div ng-show="viewMode == 'qtr'">
                        <div class="graph-o" id="[[quarterlyCommits.graph.idForHover]]">

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="quarterlyCommits.graph.target"></div>
                                </div>

                                <div class="legend text-right">
                                    Target([[quarterlyCommits.graph.targetVal]])
                                </div>
                            </div>

                            <div class="clearfix margin0">
                                <div class="wrapper">
                                    <div ng-style="quarterlyCommits.graph.achievement"></div>
                                </div>

                                <div class="legend text-right">
                                    Achievement([[quarterlyCommits.graph.achievementVal]])
                                </div>
                            </div>
                        </div>

                        <div class="clearfix rel-padding">
                            <div class="pull-left cursor" ng-click="showOppsQuarterly(quarterlyCommits)">
                                <span class="fs-12 absolute-text">Opp. closing this quarter</span>
                                <p class="num link">[[quarterlyCommits.oppValue]]</p>
                            </div>
                            <div class="pull-right">
                                <p class="num" ng-show="!quarterlyCommits.editAccess">
                                    [[quarterlyCommits.selfCommitValueFormat]]
                                </p>
                                <p ng-show="!quarterlyCommits.editAccess" class="absolute-text-r">Quarterly Commit</p>
                                <input class="num" ng-show="quarterlyCommits.editAccess" ng-change="updateMonthlyStoreValue(quarterlyCommits)" data-ng-focus="formatPlaceHolder(quarterlyCommits,'numbersOnly')" data-ng-blur="formatPlaceHolder(quarterlyCommits)" ng-model="quarterlyCommits.selfCommitValueFormat" type="text">
                                <p class="absolute-text-r" ng-show="quarterlyCommits.editAccess">Enter Quarterly Commit</p>
                                <div ng-show="!chLoading" class="btn-group-sm">
                                    <div class="btn btn-primary" ng-show="quarterlyCommits.editAccess" data-ng-click="saveQuarterlyCommits(quarterlyCommits)">Save Commits</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="viewMode != 'qtr'" class="cursor make-abs" data-ng-click="viewCommitFor('qtr',member)">
                        View Quarterly Commits
                    </div>
                    <p class="fs-12 abs-bottom">[[quarterlyCommitCutOff]]</p>
                </div>
            </div>
            <div ng-show="chLoading" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
        </div>
    </div>

    <div ng-show="viewingTeamData">
        <div data-ng-include="'/pulse/user/commits'"></div>
    </div>

    <div ng-show="currentWeek">
        <div data-ng-include="'/pulse/user/oppsTable'"></div>
    </div>

    <div ng-show="exceptionalAccess" class="excp-access">
        <div data-ng-include="'/pulse/user/oppsTable'"></div>
    </div>

    <div class="pc-wrapper switch">
        <h5>Commit History <span class="fs-12">([[viewModeFull]])</span></h5>
        <div class="clearfix" ng-show="!graphLoading">
            <div class="pull-right">
                <!--<div class="dropdown">-->
                    <!--<button class="btn btn-white dropdown-toggle" type="button" ng-click="registerDp();selectDates = !selectDates">[[rangeSelection]]-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<div class="date-selection" ng-show="selectDates">-->
                        <!--<label>Start Date</label>-->
                        <!--<input type="text" id="startDate" placeholder="Select start date" ng-model="startDate" ng-mouseover="registerDatePickerId('startDate')">-->
                        <!--<label>End Date</label>-->
                        <!--<input type="text" id="endDate" placeholder="Select end date" ng-model="endDate" ng-mouseover="registerDatePickerId('endDate')">-->
                        <!--<button class="btn btn-save" data-ng-click="getData();selectDates = !selectDates">DONE</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="loader-wrapper">
            <i ng-show="graphLoading" class="fa fa-spinner orange-color fa-spin" aria-hidden="true"></i>
        </div>
        <div class="pipeline-comparison-wrapper" ng-show="!graphLoading">
            <div class="pipeline-comparison" style="max-width: 960px">
            </div>
        </div>
        <div ng-show="weekByWeek">
            <div data-ng-include="'/pulse/user/oppsTable'"></div>
        </div>
    </div>
</div>