<div class="review">
    <div class="prev-values">
        <div ng-repeat="item in pipelineReview" ng-style="item.widthOfBox" class="inline-block [[item.isFirst]] [[item.isLast]]">
            <h5>[[item.relatasStage]]</h5>
            <table>
                <tr>
                    <th data-ng-click="showOppsForStage(item,true)">Previous</th>
                    <th data-ng-click="showOppsForStage(item)">Current</th>
                </tr>
                <tr>
                    <td data-ng-click="showOppsForStage(item,true)">[[item.prevAmount]]</td>
                    <td data-ng-click="showOppsForStage(item)">[[item.currentAmount]] <i class="fa [[item.growthStatus]]"></i></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-show="prevAndCurrentWeek">
        <div data-ng-include="'/pulse/user/oppsTable'"></div>
    </div>
</div>