<div class="opportunity-page tasks">
    <div class="row wrapper">
        <div class="col-md-12 main">
            <div data-ng-include="'/tasks/menu'"></div>
            <div data-ng-controller="taskCreateNew">
                <div data-ng-include="'/tasks/createNew'"></div>
            </div>
            <div data-ng-controller="tasksList" class="tasks-list">
                <div data-ng-include="'/tasks/list'"></div>
            </div>
            <div data-ng-controller="taskDiscussion">
                <div data-ng-include="'/tasks/discussion'"></div>
            </div>
        </div>
    </div>
</div>