
<div class="actions clearfix">
    <div class="pull-left">
        <h4>[[templateHeader]] <span ng-show="!reports">([[dataForRange]])</span>
            <div class="btn btn-white btn-nav" ng-show="templateHeader == 'Commits'" data-ng-click="navigateCommits('prev',currentSelection,member,viewMode)"><i class="fa fa-chevron-left"></i></div>
            <div class="btn btn-white btn-nav" ng-show="templateHeader == 'Commits' && !nextButtonDisabled" data-ng-click="navigateCommits('next',currentSelection,member,viewMode)"><i class="fa fa-chevron-right"></i></div>
        </h4>
    </div>
    <div class="pull-right btn btn-white close-btn" data-ng-click="close()">
        Close
    </div>
    <div class="pull-right btn-group-sm commit-switch">
        <button class="btn style-none">[[member.fullName]] 's</button>
        <button class="btn btn-white selected" data-ng-click="viewSelectedUserCommits(member,viewMode)"> Commits</button>
        <button class="btn btn-white" data-ng-click="viewTeamCommits(member,viewMode)">Team Commits</button>
        <button class="btn btn-white" data-ng-click="viewExceptionalAccess(member,viewMode)">All my Access</button>
    </div>
</div>

<div ng-show="achievement" data-ng-include="'/pulse/user/achievement'"></div>
<div ng-show="pr" data-ng-include="'/pulse/user/pipelineReview'"></div>
<div ng-show="pc" data-ng-include="'/pulse/user/pipelineComparison'"></div>
<div ng-show="fm" data-ng-include="'/pulse/user/pipelineComparison'"></div>
<div ng-show="dp" data-ng-include="'/pulse/user/discussionPoints'"></div>
<div ng-show="reports" data-ng-include="'/pulse/user/reports'"></div>