<div class="row" ng-show="opp.logs">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>What</th>
                    <th>Old value</th>
                    <th>New value</th>
                    <th>By</th>
                    <th>Time</th>
                </tr>
                <tr ng-repeat="log in opp.logs | orderBy:'-date'" ng-show="log.oldValue != '' || log.newValue.length != '' || log.action == 'Renewal'">
                    <td>[[log.what]]</td>
                    <td>[[log.oldValue]]</td>
                    <td>[[log.newValue]]</td>
                    <td>[[log.by]]</td>
                    <td>[[log.dateFormatted]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>