<div class="row">
    <div class="col-md-5" ng-show="!showOppInsights">
        <label>Opportunity Name <a class="green-color underline" href="#" ng-show="opp.type == 'Renewal' && opp.isOppOwner" data-ng-click="loadSourceOpp(opp)">( View Source )</a> <span class="required">*</span></label>
        <input type="text" ng-change="checkErrorMessageStatus()" ng-model="opp.opportunityName" ng-disabled="opp.isNotOwner">
        <div class="input-text-error" ng-show="opp.opportunityNameReq">[[errorMessages.opportunityName]]</div>
    </div>
    <div class="col-md-2">
        <label>Close Date <span class="required">*</span></label>
        <i class="fa fa-calendar input-abs-right"></i>
        <input type="text" autocomplete="off" onkeydown="return false" ng-model="opp.closeDateFormatted" id="opportunityCloseDateSelector" ng-mouseover="registerDatePickerId()" ng-disabled="(opp.isNotOwner || opp.isOppClosed) && !isCorporateAdmin">
        <div class="input-text-error" ng-show="opp.closeDateReq">[[errorMessages.closeDate]]</div>
    </div>
    <div class="col-md-5 primary-contact">
        <label>Primary Contact Email Id <span class="required">*</span></label>
        <input type="text" placeholder="Enter email Id of the person selling to" ng-disabled="opp.isNotOwner" ng-change="searchContacts(opp.searchContent,'contact',opp);checkErrorMessageStatus()" ng-model="opp.searchContent">
        <div class="input-text-error" ng-show="opp.contactEmailIdReq">[[errorMessages.contactEmailId]]</div>
        <div search-results-contacts></div>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <label>Stage <span class="required">*</span></label>
        <select ng-model="opp.stage" class="stage-list" ng-disabled="opp.isNotOwner || opp.isOppClosed" ng-change="ifOppClose(opp.stage);checkErrorMessageStatus()">
            <option ng-repeat="stage in stagesSelection" ng-selected="opp.stage == stage" value=[[stage]]>[[stage]]</option>
        </select>
        <div class="input-text-error" ng-show="opp.stageReq">[[errorMessages.stage]]</div>
    </div>

    <!--<div class="col-md-4" ng-show="!showOppInsights">-->
    <div class="col-md-4">
        <div ng-show="companyDetails.geoLocations.length>0">
            <label>Region <span ng-show="isRegionRequired" class="required">*</span></label>
            <div class="add-town clearfix">
                <select ng-model="opp.geoLocation.zone" ng-change="setZone(opp,opp.geoLocation.zone);checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.geoLocations | orderBy : 'region'" ng-selected="opp.geoLocation.zone == item.region" value="[[item.region]]">[[item.region]]</option>
                </select>
                <input type="text" placeholder="Add city name" ng-change="checkErrorMessageStatus()" value="[[opp.geoLocation.town]]" ng-model="opp.geoLocation.town" id="autocompleteCity" ng-disabled="opp.isNotOwner">
            </div>
            <div class="input-text-error" ng-show="opp.geoLocationReq">[[errorMessages.geoLocation]]</div>
        </div>
    </div>

    <div class="col-md-2" ng-show="companyDetails.typeList.length>0 && !showOppInsights">
        <div>
                <label>Type <span ng-show="companyDetails.opportunitySettings.typeRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.type" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.typeList | orderBy : 'name'" ng-selected="opp.type == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.typeReq">[[errorMessages.type]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-2" ng-show="companyDetails.sourceList.length>0 && !showOppInsights">
        <div>
            <label>Source <span ng-show="isSourceRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.sourceType" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.sourceList | orderBy : 'name'" ng-selected="opp.sourceType == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.sourceTypeReq">[[errorMessages.sourceType]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-2" ng-show="companyDetails.verticalList.length>0 && !showOppInsights">
        <div>
            <label>Vertical <span ng-show="isVerticalRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.vertical" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.verticalList | orderBy : 'name'" ng-selected="opp.vertical == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.verticalReq">[[errorMessages.vertical]]</div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row products-array">-->
<div class="row">
    <div class="col-md-2" ng-show="companyDetails.productList.length>0 && !showOppInsights">
        <div>
            <label>Product <span ng-show="isProductRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.productType" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.productList | orderBy : 'name'" ng-selected="opp.productType == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.productTypeReq">[[errorMessages.productType]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-2" ng-show="companyDetails.solutionList.length>0 && !showOppInsights">
        <div>
            <label>Solution <span ng-show="companyDetails.opportunitySettings.solutionRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.solution" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.solutionList | orderBy : 'name'" ng-selected="opp.solution == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.solutionReq">[[errorMessages.solution]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-2" ng-show="companyDetails.businessUnits.length>0 && !showOppInsights">
        <div>
            <label>Business Unit <span ng-show="companyDetails.opportunitySettings.businessUnitRequired" class="required">*</span></label>
            <div class="product-list clearfix">
                <select ng-model="opp.businessUnit" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.businessUnits | orderBy : 'name'" ng-selected="opp.businessUnit == item.name" value="[[item.name]]">[[item.name]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.businessUnitReq">[[errorMessages.businessUnit]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <label>Currency</label>
        <div class="product-list clearfix">
            <div class="product-list clearfix">
                <select ng-model="opp.currency" ng-change="checkErrorMessageStatus()" ng-disabled="opp.isNotOwner">
                    <option ng-repeat="item in companyDetails.currency | orderBy : 'symbol'" ng-selected="opp.currency == item.symbol" ng-show="!item.isDeactivated" value="[[item.symbol]]">[[item.symbol]]</option>
                </select>
                <div class="input-text-error" ng-show="opp.currencyReq">[[errorMessages.currency]]</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row" style="margin-top: 0;">
            <div class="col-md-6">
                <label>Amount  <span class="required">*</span></label>
                <input type="text" ng-change="checkErrorMessageStatus();recalculateNgm(opp)" ng-disabled="opp.isNotOwner" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                <div class="input-text-error" ng-show="opp.amountReq"><div ng-bind-html="errorMessages.amount"></div></div>
            </div>
            <div class="col-md-4" title="Net Gross Margin">
                <label>Margin % <span ng-show="netGrossMargin" class="required">*</span></label>
                <input type="text" ng-change="checkErrorMessageStatus();recalculateNgm(opp);validateNetGrossMargin(opp.netGrossMargin)" ng-disabled="opp.isNotOwner" onkeypress="return validateFloatKeyPress(this,event);" ng-model="opp.netGrossMargin">
                <div class="input-text-error" ng-show="opp.netGrossMarginReq">
                    <div ng-bind-html="errorMessages.netGrossMargin"></div>
                </div>
            </div>
            <div class="col-md-2">
                <!--<i class="fa fa-plus-circle add-more-btn-r-abs" data-ng-click="addItems()"></i>-->
            </div>
        </div>
    </div>
</div>

<!--<div class="basic-selection" ng-include="'/contact/create/template/v2'" ng-show="showContactCreateModal">-->
<!--</div>-->

<div class="customer-selection" ng-show="showContactCreateModal">
    <div class="modal-open contact-add-new convert-modal-sidebar contact-edit">
        <div class="opportunity-form add-new-wrapper form-box-shadow">
            <div class="modal-header  clearfix">
                <h3 class="pull-left">Add Contact</h3>

                <div class="pull-right clearfix">
                    <button class="btn btn-primary margin-top0 pull-right" data-ng-click="saveContact()">SAVE</button>
                    <button class="btn btn-white margin-top0 pull-right close-btn" data-ng-click="toggleContactPopup()" id="cancelContactCreate" style="margin-right: 10px">CANCEL</button>
                </div>
            </div>
            <div class="row max-height">
                <div class="col-md-12 clearfix">

                    <form class="contact-add-new-form">
                        <table>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Full Name:</label>
                                </td>
                                <td><input type="text" ng-model="cc.fullName"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Email Id:</label>
                                </td>
                                <td><input type="text" ng-model="cc.p_emailId"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Phone Number:</label>
                                </td>
                                <td><input type="text" ng-model="cc.p_mobileNumber"></td>
                            </tr>
                            <tr>
                                <td><label>Designation:</label></td>
                                <td><input type="text" ng-model="cc.designation"></td>
                            </tr>
                            <tr>
                                <td><label>Company:</label></td>
                                <td><input type="text" ng-model="cc.companyName"></td>
                            </tr>
                            <tr>
                                <td><label for="p_location">City:</label></td>
<!--                                <td><input type="text"  class="autocompleteNewContact" id="p_location"></td>-->
                                <td><input type="text" ng-model="cc.location"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="opp-timeline">

    <strong data-ng-click="viewOppTimeline()" ng-show="!showOppInsights">View Opportunity Timeline</strong>

    <div ng-show="loadingOppTimeline" class="loading-contacts" style="    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
    top: 25px;">
        <span><i></i></span><span><i></i></span><span><i></i></span>
    </div>

    <div class="clearfix dates-rg relative" ng-if="showOppTimeline">
        <div class="title">
        </div>
        <div class="pull-right">
            <input type="text" placeholder="From" onkeydown="return false" ng-model="chart.chartStartDate" id="chartStartDate" ng-mouseover="registerDatePickerIdChart('chartStartDate')">
            <input type="text" placeholder="To" onkeydown="return false" ng-model="chart.chartEndDate" id="chartEndDate" ng-mouseover="registerDatePickerIdChart('chartEndDate')">
            <button class="btn btn-white" data-ng-click="viewOppTimeline(chart)">Save</button>
        </div>
    </div>
    <div ng-if="showOppTimeline" class="chartjs-wrapper">
        <canvas id="myChart" width="400" height="210"></canvas>
    </div>
</div>
