<div ng-show="reasonsRequired">
    <div class="body">
        <div class="in-page-warning-block" ng-show="closingOpp">
            Opportunity once closed can not be edited. Please verify all details before closing.
            <div class=" clearfix meta-info">
                <div class="pull-left underline cursor" data-ng-click="goToBasic()">
                    Opportunity Close Date: [[opp.closeDateFormatted]]
                </div>
                <div class="pull-left underline cursor" data-ng-click="goToBasic()">
                    Opportunity Amount: [[opp.amountWithNgm]] ([[opp.netGrossMargin]]% of [[opp.amount]])
                </div>
            </div>
        </div>
        <div class="row border-lite padding-10">
            <div class="row" style="margin-top: 0;">
                <strong><span style="left: 10px;" class="required">*</span>Opportunity close reasons</strong>
                <div class="input-text-error" ng-show="opp.closeReasonsReq">[[errorMessages.closeReasons]]</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label ng-repeat="item in companyDetails.closeReasons | orderBy:'name'">
                        <input ng-disabled="opp.isNotOwner" type="checkbox" ng-model="item.selected" data-ng-click="addToReasonList(item);checkErrorMessageStatus()"> [[item.name]]
                    </label>
                </div>
                <div class="col-md-7">
                    <label style="position: absolute;top: -15px;font-weight: bold;">Reason in detail</label>
                    <div class="input-text-error" style="max-height:inherit" ng-show="opp.closeReasonsReq">[[errorMessages.closeReasons]]</div>
                    <textarea ng-disabled="opp.isNotOwner" ng-model="opp.closeReasonDescription"></textarea>
                </div>
            </div>
        </div>

        <div class="row border-lite padding-10" ng-show="opp.stage == 'Close Won' && !opp.renewed.createdDate" style="padding-bottom: 20px;">
            <strong> <span style="left: 7px;" class="required" ng-show="companyDetails.opportunitySettings.renewalStatusRequired">*</span>Opportunity renewal &nbsp;&nbsp;</strong>
            <label>
                Is [[opp.opportunityName]] a renewal opportunity? <br>
                <input ng-disabled="opp.isNotOwner" ng-change="oppRenewalStatusSet(opp)" ng-value="true" type="radio" ng-checked="opp.renewThisOpp" ng-model="opp.renewThisOpp"> &nbsp;Yes&nbsp;&nbsp;
                <input ng-disabled="opp.isNotOwner" ng-show="opp.opportunityId" ng-change="oppRenewalStatusSet(opp)" ng-value="false" type="radio" ng-checked="!opp.renewThisOpp" ng-model="opp.renewThisOpp">
                <input ng-disabled="opp.isNotOwner" ng-show="!opp.opportunityId" ng-change="oppRenewalStatusSet(opp)" ng-value="false" type="radio" ng-model="opp.renewThisOpp"> &nbsp;No
                <span ng-show="opp.renewalStatusSelectionReq" class="input-text-error">Please select an option</span>
            </label>

            <div class="row" ng-show="opp.renewThisOpp">
                <div class="col-md-6">
                    <label>Amount  <span class="required">*</span></label>
                    <input ng-disabled="opp.isNotOwner" type="text" ng-model="renewalAmount" ng-change="setRenewalAmount(renewalAmount)" id="renewalAmount" autofocus="autofocus" onkeypress="return validateFloatKeyPress(this,event);">
                    <div class="input-text-error" ng-show="opp.renewalAmountReq">
                        <div ng-bind-html="errorMessages.renewalAmount"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Close Date <span class="required">*</span><span class="input-text-error" ng-show="opp.renewalCloseDateReq">[[errorMessages.renewalCloseDate]]</span></label>
                    <input ng-disabled="opp.isNotOwner" onkeydown="return false" type="text" ng-model="renewalCloseDateFormatted" id="opportunityCloseDateSelector4" ng-mouseover="registerDatePickerIdRenewal('renewal')">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row padding-10" ng-show="opp.renewed.createdDate">

    <div class="col-md-6">
        <ul class="list-unstyled">
            <li>Renewal opportunity created: [[opp.renewed.createdDate]]</li>
            <li>Renewal close date: [[opp.renewed.closeDate]]</li>
            <li>Renewal opportunity amount: [[opp.renewed.amount]]</li>
        </ul>
    </div>
</div>

<div ng-show="mailOptions || opp.stageName == 'Close Won' || opp.stageName == 'Close Lost'">
    <div class="row padding-10">
        <div>
            <strong>Send opportunity close summary to </strong>
        </div>
    </div>
    <div class="row margin0">
        <div class="col-md-4">
            <div>
                <label>
                    <input ng-disabled="opp.isNotOwner" type="checkbox" ng-model="opp.mailOrgHead" ng-disabled="notificationForOrgHead">Mail Organisation Head
                </label>
                <label>
                    <input ng-disabled="opp.isNotOwner" type="checkbox" ng-model="opp.mailRm" ng-disabled="notificationForReportingManager">Mail Reporting Manager
                </label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row margin0 border-lite">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li>Opportunity created by: [[opp.creator.fullName]]</li>
                        <li>Opportunity owner: [[opp.owner.fullName]]</li>
                        <li>Opportunity amount: [[opp.amountWithNgm]]</li>
                        <li>Opportunity created date: [[createdDateFormatted]]</li>
                        <li>Close reasons: <span ng-repeat="el in opp.closeReasons">[[el]],</span></li>
                        <li>
                            <label>Close Description:</label>
                            <p>[[opp.closeReasonDescription]]</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6" ng-show="opp.stage == 'Close Won' || opp.stageName == 'Close Won'">
                    <ul class="list-unstyled">
                        <li>Renewal opportunity created: [[opp.renewed.createdDate]]</li>
                        <li>Renewal close date: [[opp.renewed.closeDate]]</li>
                        <li>Renewal opportunity amount: [[opp.renewed.amount]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>