
<div class="row">
    <div class="col-md-6 primary-contact">
        <label>Primary Contact Email Id <span class="required">*</span></label>
        <input type="text" ng-disabled="opp.isNotOwner" placeholder="Enter email Id of the person selling to" ng-change="searchContacts(opp.searchContent,'contact');checkErrorMessageStatus()" ng-model="opp.searchContent">
        <div class="input-text-error" ng-show="opp.contactEmailIdReq">[[errorMessages.contactEmailId]]</div>
        <div search-results-contacts></div>
    </div>
    <!--<div class="col-md-4">-->
        <!--<label>Competitor</label>-->
        <!--<input type="text" ng-model="opp.competitor" ng-disabled="opp.isNotOwner">-->
    <!--</div>-->
</div>

<div class="customer-selection" ng-show="showContactCreateModal">
    <div class="modal-open contact-add-new convert-modal-sidebar contact-edit">
        <div class="opportunity-form add-new-wrapper form-box-shadow">
            <div class="modal-header  clearfix">
                <h3 class="pull-left">Add Contact</h3>

                <div class="pull-right clearfix">
                    <button class="btn btn-primary margin-top0 pull-right" data-ng-click="saveContact()">SAVE</button>
                    <button class="btn btn-white margin-top0 pull-right close-btn" data-ng-click="toggleContactPopup()" id="cancelContactCreate" style="margin-right: 10px">CANCEL</button>
                </div>
            </div>
            <div class="row max-height">
                <div class="col-md-12 clearfix">

                    <form class="contact-add-new-form">
                        <table>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Full Name:</label>
                                </td>
                                <td><input type="text" ng-model="cc.fullName"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Email Id:</label>
                                </td>
                                <td><input type="text" ng-model="cc.p_emailId"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="data-mandatory">*</span>
                                    <label>Phone Number:</label>
                                </td>
                                <td><input type="text" ng-model="cc.p_mobileNumber"></td>
                            </tr>
                            <tr>
                                <td><label>Designation:</label></td>
                                <td><input type="text" ng-model="cc.designation"></td>
                            </tr>
                            <tr>
                                <td><label>Company:</label></td>
                                <td><input type="text" ng-model="cc.companyName"></td>
                            </tr>
                            <tr>
                                <td><label for="p_location_2">City:</label></td>
                                <td><input type="text" ng-model="cc.location"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfield more-customers">
    <div class="col-md-4">
        <label>Decision Makers <span ng-show="dmSelectionRequired" class="required">*</span><span class="input-text-error" ng-show="opp.dmRequired">At least one decision maker is required</span></label>
        <input type="text" placeholder="Enter email id of decision maker" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker" ng-disabled="opp.isNotOwner">
        <div search-results-d></div>

        <div class="opp-org-roles-user" ng-show="opp.decisionMakers.length>0">
            <div ng-repeat="item in opp.decisionMakers track by $index">
                <div class="cursor clearfix users" title="[[item.fullName]], [[item.emailId]]" ng-click="removeRecipient(item,'decisionMaker')">
                    <div class="name">
                        <strong>[[item.fullName]]</strong>
                        <p>[[item.emailId]]</p>
                    </div>
                    <div class="remove-user-from-role">(X)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label>Influencers <span ng-show="inflSelectionRequired" class="required">*</span><span class="input-text-error" ng-show="opp.inflRequired">At least one influencer is required</span></label>
        <input type="text" placeholder="Enter email id of influencer" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer" ng-disabled="opp.isNotOwner">
        <div search-results-i></div>

        <div class="opp-org-roles-user" ng-show="opp.influencers.length>0">
            <div ng-repeat="item in opp.influencers track by $index">
                <div class="cursor clearfix users" title="[[item.fullName]], [[item.emailId]]" ng-click="removeRecipient(item,'influencer')">
                    <div class="name">
                        <strong>[[item.fullName]]</strong>
                        <p>[[item.emailId]]</p>
                    </div>
                    <div class="remove-user-from-role">(X)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label>Partners/Resellers <span ng-show="partnerSelectionRequired" class="required">*</span><span class="input-text-error" ng-show="opp.partnerRequired">At least one Partner/Reseller is required</span></label>
        <input type="text" placeholder="Enter email id of partners/resellers" ng-change="searchContacts(partner,'partner')" ng-model="partner" ng-disabled="opp.isNotOwner">
        <div search-results-p></div>

        <div class="opp-org-roles-user" ng-show="opp.partners.length>0">
            <div ng-repeat="item in opp.partners track by $index">
                <div class="cursor clearfix users" title="[[item.fullName]], [[item.emailId]]" ng-click="removeRecipient(item,'partner')">
                    <div class="name">
                        <strong>[[item.fullName]]</strong>
                        <p>[[item.emailId]]</p>
                    </div>
                    <div class="remove-user-from-role">(X)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="master-acc">

    <div class="row mandatory-selection [[list.highlight]]" ng-repeat="list in data.availableOptions">
        <div class="col-md-12">
            <div>
                <div class="master-name">
                    <strong>
                        <span class="required" ng-show="list.oppLinkMandatory">*</span>
                        [[list.name]]
                    </strong>
                    <span class="input-text-error" ng-show="list.isRequired">Selection of [[list.name]] is required</span>
                </div>
                <div class="horizontal-line-r">
                    <button class="btn btn-green" data-ng-click="getMasterDataFor(list)"><i class="fa fa-plus-circle"></i>Select [[list.name]]</button>
                </div>
            </div>
            <div class="table-responsive existing-master-data">
                <table class="table" data-ng-init="attachExistingData(list)">
                    <tr>
                        <th ng-repeat="item in list.typeHeaders" ng-show="item.name != '_id' && item.name != '$$hashKey'">
                            [[item.name]]
                            <i ng-show=" item.name == 'relatasAccount'" class="fs-10 fa fa-info-circle black-color" title="'relatasAccount' is reserved column">
                            </i>
                        </th>
                    </tr>
                    <tr ng-repeat="el in list.lists" data-ng-click="removeMasterData(el,list)" class="cursor hover">
                        <td ng-repeat="(key, value) in el track by $index" ng-show="key != '_id'">
                            [[value]]
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-open" ng-show="addMoreMasterData">
        <div class="table-responsive">

            <div class="list">
                <input type="text" placeholder="Search for [[addList.name]]..." ng-model="addList.accName">
                <button type="button" class="close" ng-show="ifMasterAccSearching" data-ng-click="clearSearch(addList.name)">&times;</button>
                <button class="btn btn-white" style="right: 70px;" data-ng-click="searchForMasterAccount(addList.accName,addList)">Search</button>
                <button class="btn btn-white close-btn" style="color: orangered;border-color: orangered" data-ng-click="closeMDPopup()">Close</button>
            </div>

            <table class="table">
                <tr>
                    <th ng-repeat="item in typeHeaders" ng-show="item.name != '_id' && item.name != '$$hashKey'">
                        [[item.name]]
                        <i ng-show=" item.name == 'relatasAccount'" class="fs-10 fa fa-info-circle black-color" title="'relatasAccount' is reserved column">
                        </i>
                    </th>
                </tr>
                <tr ng-repeat="el in lists" data-ng-click="selectMasterType(el,addList)" class="cursor hover">
                    <td ng-repeat="(key, value) in el" ng-show="key != '_id'">
                        [[value]]
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--<div class="row" ng-show="accountTypes.length>0">-->

    <!--<h5 class="bold">Accounts</h5>-->

    <!--<div class="col-md-4" ng-repeat="account in accountTypes">-->
        <!--<label>[[account._id]] <span class="required">*</span></label>-->
        <!--<input type="text" ng-disabled="opp.isNotOwner" ng-model="account.searchText" placeholder="Search and select account..." ng-change="searchForAccountName(account);checkErrorMessageStatus();">-->
        <!--<div class="input-text-error" ng-show="account.req">[[errorMessages.accounts]]</div>-->
        <!--<div class="acc-list-wrapper" ng-show="account.accountList.length>0">-->
            <!--<div ng-repeat="item in account.accountList" data-ng-click="selectThisAccount(item,account)">-->
                <!--[[item.name]]-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
