<div class="containter-fluid">
    <div class="row" ng-hide="hideSearchBar">
        <div class="col-md-6 document-search-box show-all-documents">
            <input type="text" class="form-control" ng-model="searchDocuments" style="border-radius: 30px;border: transparent;" placeholder="Search here to filter Documents">
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 list-document">
            <button class="btn btn-primary pull-right" style="margin-bottom: 10px;" ng-click="createDocument()">Create Document</button>
            <table id="show-all-doc-table" class="table table-hover">
                <tr>
                    <th ng-repeat="header in docHeaders" class="[[header.align]]" style="[[header.styleWidth]]">[[header.name]]</th>
                </tr>
                <tbody ng-show="!loadingDocuments">
                <tr ng-repeat="docs in filteredDocuments | orderBy:'documentName' | filter : searchDocuments" ng-click="showSelectedDocument(docs)">
                    <td>[[$index + 1]]</td>
                    <td>[[docs.currentDocumentVersion]]</td>
                    <td>[[docs.documentTemplateType]]</td>
                    <td>[[docs.documentName]]</td>
                    <td>[[docs.documentCreatedBy]]</td>
                    <td>[[docs.documentCreatedDate]]</td>
                    <td>[[docs.documentUpdatedDate]]</td>
                    <td>[[docs.documentStage]]</td>
                </tr>
                </tbody>
                <tbody ng-show="loadingDocuments" class="no-border">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td>
                            <div class="loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
