<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Opportunities | Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--    <script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper">
            <div class="col-md-12 main">

                <div class="clearfix targets-container" data-ng-controller="oppTargets">
                    <div ng-show="loadTargets">
                        <div ng-show="loadingTargets" class="loading-contacts">
                            <span><i></i></span><span><i></i></span><span><i></i></span>
                        </div>
                        <div class="row">
                            <div class="col-md-8 border-right">
                                <h4 class="bold fs-14">Monthly Target vs Achievement</h4>
                                <div class="when-overflow clearfix" ng-show="!loadingTargets">
                                    <div class="target-graph-wrapper" ng-repeat="value in targetGraph">
                                        <div class="target">
                                            <span ng-style="value.heightTarget"></span>
                                        </div>
                                        <div class="won">
                                            <span ng-style="value.heightWon"></span>
                                        </div>
                                        <div class="total">
                                            <span ng-style="value.heightTotal"></span>
                                        </div>
                                        <h6>[[value.monthYear]]</h6>
                                        <i ng-show="value.highLightCurrentMonth" title="Current Month" class="fa fa-caret-up"></i>
                                        <div class="pop-up">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <i class="tr"></i>Target</td>
                                                    <td><span>[[value.target]]</span></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="won"></i>Won</td>
                                                    <td><span>[[value.won]]</span></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="lo"></i>Lost</td>
                                                    <td><span>[[value.lost]]</span></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="pl"></i>Pipeline</td>
                                                    <td><span>[[value.openValue]]</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="auto">
                                    <h4 class="bold fs-14">Quarter Snapshot <span class="fs-12 lite">([[cqHeader]])</span></h4>
                                    <table class="achievement-tb">
                                        <tr>
                                            <th>Target</th>
                                            <th>Achieved</th>
                                            <th>Pipeline</th>
                                        </tr>
                                        <tr>
                                            <td>[[cqTarget]]</td>
                                            <td>[[cqWon]]</td>
                                            <td>[[cqPipeline]]</td>
                                        </tr>
                                    </table>

                                    <div class="bar-meter-wrapper relative">
                                        <span style="left: -75px;">Current Qtr </span>
                                        <div class="bar" ng-style="cqWonStyle">
                                        </div>
                                        <div class="absolute">[[cqWonPercentage]]</div>
                                    </div>

                                    <div class="bar-meter-wrapper relative">
                                        <span style="left: -75px;">Current FY </span>
                                        <div class="bar" ng-style="fyWonStyle">
                                        </div>
                                        <div class="absolute">[[wonPercentage]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="horizontal-menu-top clearfix" data-ng-controller="topContextMenu">

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-unstyled clearfix">
                                <li>
                                    <div ng-show="ifTeam" class="team-list clearfix">
                                        <div class="team-profiles" ng-click="selectFromList = !selectFromList;showProductList = false" title="[[selection.fullName]], [[selection.emailId]]">
                                            <!--<img ng-if="!selection.noPicFlag" src="[[selection.image]]" imageonload="imageNotLoaded(selection)">-->
                                            <span ng-show="selection.noPicFlag">[[selection.nameNoImg]]</span>
                                            <strong>[[selection.fullName]]</strong>
                                            <i class="fa fa-caret-down"></i>
                                        </div>

                                        <div ng-show="selectFromList" class="list">
                                            <input ng-model="member.fullName">
                                            <!--<p ng-show="team.length>1" data-ng-click="getOpportunities('all')">Show All Team Members</p>-->
                                            <div ng-repeat="member in team | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="getOpportunities(member)" title="[[member.fullName]], [[member.emailId]]">
                                                <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                                                <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                                                <strong>[[member.fullName]]</strong>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li title="[[accessHelpTxt]]" class="li-btn data-btn" data-ng-click="getOpportunityWithAccess();showMyOppBtn=!showMyOppBtn" ng-show="!showMyOppBtn && !hideExchange">
                                    My Exceptional Access
                                </li>

                                <li class="li-btn flip-btn" data-ng-click="getOpportunityWithAccess('liu');showMyOppBtn=!showMyOppBtn" ng-show="showMyOppBtn">My opportunities</li>
<!--                                <li ng-show="portfolios.length>0" class="portfolio-ls [[portfolioSelected]]" style="position: relative" data-ng-click="openPortfolios()">-->
<!--                                    <span>Portfolios</span>-->
<!--                                    <ul class="list-unstyled" ng-show="displayPortfolios" style="[[widthStyle]]">-->

<!--                                        <li class="no-float"><button class="btn btn-primary" data-ng-click="getOppsBasedOnPortfolios()">Apply</button></li>-->
<!--                                        <li class="inline-block" ng-repeat="el in groupedFilters">-->
<!--                                            <input ng-model="el.selected" type="checkbox" data-ng-change="selectAll(el)"> <strong>[[el.type_format]]</strong>-->
<!--                                            <div ng-repeat="po in el.values" class="values">-->
<!--                                                <input ng-model="po.selected" data-ng-change="isAllSelected(el)" type="checkbox"> [[po.name]]-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                                <!--<li class="li-btn data-btn" title="Transfer Opportunities" ng-show="!hideExchange" data-ng-click="transferOpp()">-->
                                    <!--Transfer-->
                                <!--</li>-->
<!--                                <li class="li-btn data-btn" title="Click to view achievements and targets" data-ng-click="openTargets()">-->
<!--                                    Achievements-->
<!--                                </li>-->
                                <!--<li class="li-btn data-btn" title="View Recommendations" data-ng-click="openRecommendations()">-->
                                    <!--Recommendations-->
                                <!--</li>-->
                                <li class="li-btn add-btn pull-right" ng-show="!hideExchange" title="Add new Opportunity" data-ng-click="openOpportunityForm()">
                                    Add Opportunity
                                </li>
                                <li class="li-btn close-btn" title="Cancel" ng-show="hideExchange" data-ng-click="transferOpp()">
                                    <span>Cancel</span>
                                </li>
                                <li class="li-btn add-btn" title="Transfer selected Opportunities" ng-show="hideExchange" data-ng-click="selectTeamMemberAndTransfer()">Start transfer</li>
                            </ul>
                        </div>
                        <div ng-show="!hideExchange" class="col-md-12">
                            <ul style="margin-right: 0" class="list-unstyled clearfix">
                                <li ng-show="contacts.length>1">
                                    <div class="li-btn" ng-class="{selected: contactSelected != 'All contacts'}" data-ng-click="showContactList = !showContactList">[[contactSelected]]<i class="fa fa-caret-down"></i></div>
                                    <div class="products-list clearfix">
                                        <div class="list" ng-show="showContactList">
                                            <input ng-model="contact">
                                            <div ng-repeat="contact in contacts | filter:contact" class="selections" data-ng-click="filterOpportunities(contact,'contact')">
                                                [[contact.name]]
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li ng-show="companies.length>1">
                                    <div class="li-btn" ng-class="{selected: companySelected != 'All companies'}" data-ng-click="showCompanyList = !showCompanyList;selectFromList = false">[[companySelected]]<i class="fa fa-caret-down"></i></div>
                                    <div class="products-list clearfix">
                                        <div class="list" ng-show="showCompanyList">
                                            <input ng-model="company">
                                            <div ng-repeat="company in companies | filter:company" class="selections" data-ng-click="filterOpportunities(company,'company')">
                                                [[company.name]]
                                            </div>
                                        </div>
                                    </div>
                                </li>

<!--                                <li ng-show="productTypes.length>1">-->
<!--                                    <div class="li-btn" ng-class="{selected: productSelected != 'All products'}" data-ng-click="showProductList = !showProductList;selectFromList = false">[[productSelected]]<i class="fa fa-caret-down"></i></div>-->
<!--                                    <div class="products-list clearfix">-->
<!--                                        <div class="list" ng-show="showProductList">-->
<!--                                            <input ng-model="product">-->
<!--                                            <div ng-repeat="product in productTypes | filter:product" class="selections" data-ng-click="filterOpportunities(product,'product')">-->
<!--                                                [[product.name]]-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->

<!--                                <li ng-show="verticals.length>1">-->
<!--                                    <div class="li-btn" ng-class="{selected: verticalSelected != 'All verticals'}" data-ng-click="showVerticalList = !showVerticalList;selectFromList = false">[[verticalSelected]]<i class="fa fa-caret-down"></i></div>-->
<!--                                    <div class="products-list clearfix">-->
<!--                                        <div class="list" ng-show="showVerticalList">-->
<!--                                            <input ng-model="vertical">-->
<!--                                            <div ng-repeat="vertical in verticals | filter:vertical" class="selections" data-ng-click="filterOpportunities(vertical,'vertical')">-->
<!--                                                [[vertical.name]]-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->

                                <li>
                                    <div class="li-btn">
                                        <label data-ng-click="filterOpportunities('past','fy')"><input type="radio" ng-model="filter" value="past">Past FY</label>
                                        <label data-ng-click="filterOpportunities('current','fy')"><input type="radio" ng-model="filter" value="current">Current FY</label>
                                        <label data-ng-click="filterOpportunities('future','fy')"><input type="radio" ng-model="filter" value="future">Future FY</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="components">
                    <div data-ng-controller="opportunities">

                        <div ng-show="!transferOpportunities" class="row [[rowType]] margin0">
                            <div ng-repeat="stage in stages" class="[[stage.colClass]] [[colType]] [[stage.lastChildCol]] padding-l0">
                                <div class="header">
                                    <div class="arrow_box [[stage.firstChild]] [[stage.lastChild]]">
                                        <div class="meta-data">
                                            <h5>[[stage.name]] <span class="no-of-opp fs-12 lite">([[stage.values.length]] opps)</span></h5>
                                            <p>[[currency]] [[stage.sumOfAmountWithCommas]]</p>
                                            <!--<p>[[currency]] [[stage.sumOfAmount]]</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="oppsLoading" class="loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>

                                <div class="stage-column" ng-show="!oppsLoading">
                                    <!--<div ng-repeat="val in stage.values" ng-style="val.stageStyle2" class="values [[val.stageName]]" title="[[val.stageName]]" data-ng-click="showOpportunity(val)" data-ng-init="val.opportunityName == 'SpiderMan Merchandise' && showOpportunity(val)">-->
                                    <div ng-repeat="val in stage.values" ng-style="val.stageStyle2" class="values [[val.stageName]] [[val.transferredOpp]]" title="[[val.stageName]]" data-ng-click="showOpportunity(val)">
                                        <h5 ng-show="val.type != 'Renewal'">[[val.opportunityName]]</h5>
                                        <h5 ng-show="val.type == 'Renewal'">[[val.opportunityName]]</h5>
                                        <p>
                                            [[val.currency]] <span class="normal">[[val.amountWithNgmCommas]]</span>
                                            <span class="lite">([[val.netGrossMargin]]% of [[val.amountWithCommas]])</span>
                                        </p>

                                        <div class="account">
                                            <i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="val.isStale"></i>
                                            [[val.closeDateFormatted]]
                                        </div>
                                        <div class="account" style="font-size: 14px;color: #777777;font-weight: bold;margin: 0;">
                                            [[val.account]]
                                        </div>
                                        <div class="clearfix">
                                            <div class="contact-profile pull-left" title="[[val.fullName]], [[val.contactEmailId]]" ng-init="getContactProfile(val)">
                                                <div class="relative inline-block">
                                                    <!--<img ng-if="!val.noPicFlag" src="[[val.image]]" title="[[val.fullName]], [[val.contactEmailId]]" imageonload="imageNotLoaded(val)">-->
                                                    <span ng-if="val.noPicFlag" title="[[val.fullName]], [[val.contactEmailId]]">[[val.nameNoImg]]</span>
                                                    <p class="fs-12">
                                                        [[val.fullName]]
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="contact-profile owner-right" title="[[val.owner.fullName]], [[val.owner.emailId]]" ng-init="getContactProfile(val)">
                                                <div class="relative inline-block [[val.nonOwnerHighlight]]">
                                                    <!--<img ng-if="!val.owner.noPicFlag" src="[[val.owner.image]]" title="[[val.owner.fullName]], [[val.owner.emailId]]" imageonload="imageNotLoaded(val.owner)">-->
                                                    <span ng-show="val.owner.noPicFlag" title="[[val.owner.fullName]], [[val.owner.emailId]]">[[val.owner.nameNoImg]]</span>
                                                    <!--<p class="fs-12">[[val.owner.fullName]] (Owner)</p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-include="'/opportunities/add/edit'"></div>
                        </div>

                        <div ng-show="transferOpportunities">
                            <div data-ng-include="'/opportunity/transferOpp'"></div>
                        </div>
                    </div>
                </div>
                <div data-ng-controller="recommendations">
                    <div class="recommendations-opp-wrapper" ng-show="recommendationsShow">
                        <div class="clearfix">
                            <button data-ng-click="closeRecommendations()" class="btn btn-white close-btn pull-right">Close</button>
                        </div>
                        <table>
                            <tr>
                                <th>Product</th>
                                <!--<th>Amount</th>-->
                                <th>Account</th>
                                <th>Ignore</th>
                                <th>Convert</th>
                            </tr>
                            <tr ng-repeat="op in opps">
                                <td>[[op.recommendedProduct]]</td>
                                <!--<td class="text-right">[[op.recommendedAmount]]</td>-->
                                <td>[[op.accountName]]</td>
                                <td>
                                    <button class="btn btn-white ignore-btn" data-ng-click="ignoreRecommendation(op)">Ignore</button>
                                </td>
                                <td>
                                    <button class="btn btn-green" data-ng-click="convertRecommendation(op)">Convert</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>
<script type="text/javascript" src="/javascripts/opportunity/index.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/tasks/index.js"></script>
<script type="text/javascript" src="/javascripts/common/oppApi.js"></script>
<script type="text/javascript" src="/javascripts/opportunity/services.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/activityLog.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/javascripts/tasks/services.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBtrhyur4ut1hL_xWLEMf8rLmGyrRDFfM8&libraries=places&callback=initAutocomplete" async defer></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>
<script type='text/javascript' src="//www.gstatic.com/firebasejs/6.0.1/firebase-messaging.js"></script>
<script type="text/javascript" src="/javascripts/firebaseWebConfiguration.js"></script>
</body>
</html>
