<div class="row notes-tasks">
    <div class="col-md-12 clearfield">
        <div class="clearfix">
            <div class="pull-right">
                <button ng-disabled="opp.isNotOwner" ng-show="!showNotesModule" class="btn btn-green" data-ng-click="openNotesModule()"><i class="fa fa-sticky-note"></i>Add Note</button>
            </div>
        </div>
        <div class="other-modal" ng-show="showNotesModule">
            <div class="body">
                <div style="text-align: right">
                    <button class="btn btn-white close-btn input-abs-right" style="top: 5px;
    right: 70px;
    padding: 2px 5px;
    margin: 2px;
    font-size: 12px;
    color: red;" ng-show="showNotesModule" data-ng-click="closeNotesModule()">Cancel</button>
                    <button class="btn btn-green input-abs-right" style="top: 5px;" ng-show="showNotesModule" data-ng-click="addNote(note)">Save</button>
                </div>
                <label>Note</label>
                <textarea placeholder="Enter a note..." ng-model="note"> </textarea>
            </div>
        </div>

        <div class="existing-notes-tasks table-responsive" ng-show="notes.length>0">
            <table class="table">
                <thead>
                <tr>
                    <th>Note</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="note in notes">
                    <td style="width: 88.88%;line-height: 5px;text-align: left;">[[note.text]]</td>
                    <td>[[note.dateFormatted]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
