<div class="modal-open full-page-modal" ng-show="isOppModalOpen">
    <div class="modal-open nested-transfer-modal" ng-show="showTeamMembers">
        <div class="opportunity-form width-sm">
            <div class="modal-header clearfix">
                <h5 class="pull-left">Transfer [[oppRemoveList.length]] opportunities</h5>
                <div class="pull-right fs-16 cursor" data-ng-click="showTeamMembers = false">X</div>
            </div>
            <div class="body">
                <h5>Select team member</h5>
                <input placeholder="Enter name or email address" ng-model="teamMate" ng-change="searchForTeamMate(teamMate)">

                <div ng-show="transferToThisUser" class="team-profiles reset" title="[[selectedUser.fullName]], [[selectedUser.emailId]]">
                    <!--<img ng-if="!selectedUser.noPicFlag" src="[[selectedUser.image]]" imageonload="imageNotLoaded(selectedUser)">-->
                    <span ng-if="selectedUser.noPicFlag">[[selectedUser.nameNoImg]]</span>
                    <strong>[[selectedUser.fullName]]</strong> ( [[selectedUser.emailId]] )
                </div>
                <div class="overflow" ng-show="searchUsers.length>0">
                    <div class="list">
                        <div ng-repeat="member in searchUsers | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="selectUser(member);transferToThisUser = true" title="[[member.fullName]], [[member.emailId]]">
                            <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                            <strong>[[member.fullName]]</strong> ( [[member.emailId]] )
                        </div>
                    </div>
                </div>

                <h5>Note</h5>
                <textarea placeholder="Enter a note" ng-model="note" style="min-height: 50px !important;background: #fff;padding: 5px"></textarea>

            </div>
            <div class="footer clearfix">
                <button class="btn btn-green pull-right" ng-click="startTransferring()">Transfer</button>
            </div>
        </div>
    </div>
    <div class="opportunity-form">
        <div class="clearfix relative">
            <div class="row margin0">
                <div class="left-data col-md-2">
                    <ul class="list-unstyled">
                        <li ng-repeat="item in oppDetailsNav" class="[[item.selected]] [[item.isNewOpp]] [[item.closeOpp]]" data-ng-click="openViewFor(item)">
                            [[item.name]]
                            <i class="fa fa-exclamation-circle" ng-show="item.errorExists"></i>
                        </li>
                    </ul>
                </div>
                <div class="right-data col-md-10">
                    <div class="modal-header clearfix">
                        <div class="col-md-5">
                            <h3>[[opp.opportunityName]]</h3>
                        </div>

                        <div class="col-md-7 clearfix">
                            <div class="clearfix margin-btn">
                                <button class="btn btn-primary pull-right" ng-click="saveOpportunity()" ng-show="!opp.isNotOwner && !opp.isOppClosed && !isCorporateAdmin">SAVE</button>
                                <button class="btn btn-primary pull-right" ng-click="saveOpportunity()" ng-show="isCorporateAdmin">SAVE</button>
                                <button class="btn btn-white close-btn pull-right" ng-click="closeModal(opp)">Close</button>
                                <!--<button class="btn btn-white close-btn pull-right" ng-click="transferSingleOpp()">Transfer</button>-->
                                <!--<button class="btn btn-white close-btn pull-right" ng-click="deleteOpportunity(opp)" ng-show="!opp.isNotOwner">Delete</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="opp-meta-info clearfix" ng-show="isExistingOpp">
                        <div class="pull-left fs-14">Created by: <span class="bold fs-14">[[opp.creator.fullName]]</span></div>
                        <div class="pull-left fs-14">Created date: <span class="bold fs-14">[[createdDateFormatted]]</span></div>
                        <div class="pull-left fs-14">Owner: <span class="bold fs-14">[[opp.owner.fullName]]</span></div>
                        <div class="pull-left fs-14">Amount: <span class="bold fs-14">[[opp.currency]] [[opp.amountWithNgmCommas]]</span></div>
                        <div class="pull-left fs-14 stale-block" title="Please change the close date to a future close date." ng-show="opp.isStale">STALE OPP</div>
                    </div>
                    <div ng-show="viewFor == 'basic'">
                        <div data-ng-include="'/opportunities/basic'"></div>
                    </div>
                    <div ng-show="viewFor == 'customer'">
                        <div data-ng-include="'/opportunities/customer'"></div>
                    </div>
                    <div ng-show="viewFor == 'internal team'">
                        <div data-ng-include="'/opportunities/team'"></div>
                    </div>
                    <div ng-show="viewFor == 'notes'">
                        <div data-ng-include="'/opportunities/notes'"></div>
                    </div>
                    <div ng-show="viewFor == 'tasks'">
                        <div data-ng-include="'/opportunities/tasks'"></div>
                    </div>
                    <div ng-show="viewFor == 'close details'">
                        <div data-ng-include="'/opportunities/close'"></div>
                    </div>
                    <div ng-show="viewFor == 'documents'">
                        <div data-ng-include="'/opportunities/document/list'"></div>
                    </div>
                    <div ng-show="viewFor == 'activity log'">
                        <div data-ng-include="'/opportunities/activity'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>