<div class="modal-open convert-modal-sidebar" ng-show="isOppModalOpen">
    <div class="modal-open nested-transfer-modal" ng-show="showTeamMembers">
        <div class="opportunity-form form-box-shadow width-sm">
            <div class="modal-header clearfix">
                <h5 class="pull-left">Transfer [[oppRemoveList.length]] opportunities</h5>
                <div class="pull-right fs-16 cursor" data-ng-click="showTeamMembers = false">X</div>
            </div>
            <div class="body">
                <h5>Select team member</h5>
                <input placeholder="Enter name or email address" ng-model="teamMate" ng-change="searchForTeamMate(teamMate)">

                <div ng-show="transferToThisUser" class="team-profiles reset" title="[[selectedUser.fullName]], [[selectedUser.emailId]]">
                    <img ng-if="!selectedUser.noPicFlag" src="[[selectedUser.image]]" imageonload="imageNotLoaded(selectedUser)">
                    <span ng-if="selectedUser.noPicFlag">[[selectedUser.nameNoImg]]</span>
                    <strong>[[selectedUser.fullName]]</strong> ( [[selectedUser.emailId]] )
                </div>
                <div class="overflow" ng-show="searchUsers.length>0">
                    <div class="list">
                        <div ng-repeat="member in searchUsers | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="selectUser(member);transferToThisUser = true" title="[[member.fullName]], [[member.emailId]]">
                            <img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">
                            <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                            <strong>[[member.fullName]]</strong> ( [[member.emailId]] )
                        </div>
                    </div>
                </div>

                <h5>Note</h5>
                <textarea placeholder="Enter a note" ng-model="note" style="min-height: 50px !important;background: #fff;padding: 5px"></textarea>

            </div>
            <div class="footer clearfix">
                <button class="btn btn-green pull-right" ng-click="startTransferring()">Transfer</button>
            </div>
        </div>
    </div>
    <div class="opportunity-form form-box-shadow">
        <div class="clearfix relative">
            <div class="modal-header clearfix">
                <div class="col-md-5">
                    <h3>Add/Edit Opportunity</h3>

                    <div class="owner pull-left" ng-show="opp.owner.fullName" title="[[opp.owner.fullName]], [[opp.owner.emailId]]">
                        <img ng-if="!opp.owner.noPicFlag" src="[[opp.owner.image]]" imageonload="imageNotLoaded(opp.owner)">
                        <span ng-if="opp.owner.noPicFlag">[[opp.owner.nameNoImg]]</span>
                        <strong>[[opp.owner.fullName]]</strong>
                    </div>

                </div>

                <div class="col-md-7 clearfix">
                    <div class="clearfix margin-btn">
                        <button class="btn btn-primary pull-right" ng-click="saveOpportunity()" ng-show="!opp.isNotOwner">SAVE</button>
                        <button class="btn btn-white close-btn pull-right" ng-click="closeModal()">Close</button>
                        <button class="btn btn-white close-btn pull-right" ng-click="transferSingleOpp()"><i class="fa fa-exchange"></i></button>
                        <!--<button class="btn btn-white close-btn pull-right" ng-click="deleteOpportunity(opp)" ng-show="!opp.isNotOwner">Delete</button>-->
                    </div>
                    <div>
                        <div ng-show="createdDateFormatted" class="text-right margin-top10">
                            Created Date: [[createdDateFormatted]]
                        </div>
                    </div>

                    <div class="pull-right" ng-show="mailOptions">
                        <label style="display: inline-block;margin-right: 5px;">
                            <input type="checkbox" ng-model="mailOrgHead" ng-disabled="notificationForOrgHead">Mail Organisation Head
                        </label>
                        <label style="display: inline-block;">
                            <input type="checkbox" ng-model="mailRm" ng-disabled="notificationForReportingManager">Mail Reporting Manager
                        </label>
                    </div>
                </div>
            </div>
            <div class="max-height">

                <div class="row">
                    <div class="col-md-12">
                        <label>Contact <span class="required">*</span></label>
                        <input type="text" ng-change="searchContacts(searchContent,'contact')" ng-model="searchContent">
                        <div search-results-contacts></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Opportunity Name <a class="green-color underline" href="#" ng-show="opp.source == 'renewal'" data-ng-click="loadSourceOpp(opp)">( View Source )</a> <span class="required">*</span></label>
                        <input type="text" ng-model="opp.opportunityName" ng-disabled="opp.isNotOwner">
                    </div>
                    <div class="col-md-6">
                        <label>Close Date <span class="required">*</span></label>
                        <input type="text" onkeydown="return false" ng-model="opp.closeDateFormatted" id="opportunityCloseDateSelector" ng-mouseover="registerDatePickerId()" ng-disabled="opp.isNotOwner">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Stage <span class="required">*</span></label>
                        <select ng-model="opp.stage" class="stage-list" ng-disabled="opp.isNotOwner" ng-change="ifOppClose(opp.stage)">
                            <option ng-repeat="stage in stagesSelection" ng-selected="opp.stage == stage" value=[[stage]]>[[stage]]</option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-if="!netGrossMargin">
                        <label>Amount (<i class="[[currency]]"></i>) <span class="required">*</span></label>
                        <input type="text" ng-model="opp.amount" ng-disabled="opp.isNotOwner" onkeypress="return validateFloatKeyPress(this,event);">
                    </div>
                    <div class="col-md-6" ng-if="netGrossMargin">
                        <div class="row margin0">
                            <div class="col-md-7 padding-l0">
                                <label>Amount (<i class="[[currency]]"></i>) <span class="required">*</span></label>
                                <input type="text" ng-model="opp.amount" onkeypress="return validateFloatKeyPress(this,event);">
                            </div>
                            <div class="col-md-5 padding-r0">
                                <label>Net Gross Margin % <span class="required">*</span></label>
                                <input type="text" ng-model="opp.netGrossMargin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div ng-show="companyDetails.geoLocations.length>0">
                            <label>Region <span ng-show="isRegionRequired" class="required">*</span></label>
                            <div class="add-town clearfix">
                                <select ng-model="opp.geoLocation.zone" ng-disabled="opp.isNotOwner">
                                    <option ng-repeat="item in companyDetails.geoLocations" ng-selected="opp.geoLocation.zone == item.region" value="[[item.region]]">[[item.region]]</option>
                                </select>
                                <input type="text" placeholder="Add Location" value="[[opp.geoLocation.town]]" ng-model="opp.geoLocation.town" id="autocompleteCity" ng-disabled="opp.isNotOwner">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div ng-show="companyDetails.sourceList.length>0">
                            <label>Source <span ng-show="isSourceRequired" class="required">*</span></label>
                            <div class="product-list clearfix">
                                <select ng-model="opp.sourceType" ng-disabled="opp.isNotOwner">
                                    <option ng-repeat="item in companyDetails.sourceList" ng-selected="opp.sourceType == item.name" value="[[item.name]]">[[item.name]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<hr>-->
                <div class="row">
                    <div class="col-md-6">
                        <div ng-show="companyDetails.productList.length>0">
                            <label>Products <span ng-show="isProductRequired" class="required">*</span></label>
                            <div class="product-list clearfix">
                                <select ng-model="opp.productType" ng-disabled="opp.isNotOwner">
                                    <option ng-repeat="item in companyDetails.productList" ng-selected="opp.productType == item.name" value="[[item.name]]">[[item.name]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div ng-show="companyDetails.verticalList.length>0">
                            <label>Vertical <span ng-show="isVerticalRequired" class="required">*</span></label>
                            <div class="product-list clearfix">
                                <select ng-model="opp.vertical" ng-disabled="opp.isNotOwner">
                                    <option ng-repeat="item in companyDetails.verticalList" ng-selected="opp.vertical == item.name" value="[[item.name]]">[[item.name]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Add Decision Makers</label>
                        <input type="text" ng-change="searchContacts(decisionMaker,'decisionMaker')" ng-model="decisionMaker" ng-disabled="opp.isNotOwner">
                        <div search-results-d></div>

                        <div class="contacts child" ng-show="opp.decisionMakers.length>0">
                            <div ng-repeat="item in opp.decisionMakers track by $index" class="profile-wrapper">
                                <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfileDetails(item)">
                                    <div class="relative" data-toggle="dropdown">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li ng-click="removeRecipient(item,'decisionMaker')" class="cursor">Delete</li>
                                        <li class="divider"></li>
                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                    </ul>
                                    <p class="margin0">[[item.name]]</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Add Influencers</label>
                        <input type="text" ng-change="searchContacts(influencer,'influencer')" ng-model="influencer" ng-disabled="opp.isNotOwner">
                        <div search-results-i></div>
                        <div class="contacts child" ng-show="opp.influencers.length>0">
                            <div ng-repeat="item in opp.influencers track by $index" class="profile-wrapper">
                                <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfileDetails(item)">
                                    <div class="relative" data-toggle="dropdown">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li ng-click="removeRecipient(item,'influencer')" class="cursor">Delete</li>
                                        <li class="divider"></li>
                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                    </ul>
                                    <p class="margin0">[[item.name]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <label>Add Partners/Resellers</label>
                        <input type="text" ng-change="searchContacts(partner,'partner')" ng-model="partner" ng-disabled="opp.isNotOwner">
                        <div search-results-p></div>
                        <div class="contacts child" ng-show="opp.partners.length>0">
                            <div ng-repeat="item in opp.partners track by $index" class="profile-wrapper">
                                <div class="cursor dropdown" title="[[item.emailId]]" ng-init="getContactProfileDetails(item)">
                                    <div class="relative" data-toggle="dropdown">
                                        <img ng-if="!item.noPicFlag" src="[[item.image]]" title="[[item.fullName]], [[item.emailId]]" class="contact-image" imageonload="imageNotLoaded(item)">
                                        <span ng-if="item.noPicFlag" title="[[item.fullName]], [[item.emailId]]"><span class="contact-no-image">[[item.nameNoImg]]</span></span>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li ng-click="removeRecipient(item,'partner')" class="cursor">Delete</li>
                                        <li class="divider"></li>
                                        <li ng-click="goToContact(item)" class="cursor">View Contact</li>
                                    </ul>
                                    <p class="margin0">[[item.name]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Competitor</label>
                        <input type="text" ng-model="opp.competitor" ng-disabled="opp.isNotOwner">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 opp-checkbox">
                        <label style="margin-bottom: 15px;">BANT Test</label> <br>
                        <label>
                            <input ng-model="budget" type="checkbox" ng-disabled="opp.isNotOwner" ng-change="changeSelection()"> Budget
                        </label>
                        <label>
                            <input ng-model="authority" type="checkbox" ng-disabled="opp.isNotOwner" ng-change="changeSelection()"> Authority
                        </label>
                        <label>
                            <input ng-model="need" type="checkbox" ng-disabled="opp.isNotOwner" ng-change="changeSelection()"> Need
                        </label>
                        <label>
                            <input ng-model="time" type="checkbox" ng-disabled="opp.isNotOwner" ng-change="changeSelection()"> Time
                        </label>
                    </div>
                </div>

                <div class="row" ng-show="opp.closeReasons.length>0">
                    <div class="col-md-6 comma-after-span">
                        <label>Close Reasons</label>
                        <span class="fs-14 lite" ng-repeat="el in opp.closeReasons">[[el]]</span>
                    </div>
                    <div class="col-md-6 ">
                        <label>Close Description</label>
                        <p class="fs-14 lite">[[opp.closeReasonDescription]]</p>
                    </div>
                </div>

                <div class="logs row" ng-show="opp.logs">
                    <div class="col-md-12">
                        <label>Activity log</label>
                        <div>
                            <ol>
                                <li ng-repeat="log in opp.logs | orderBy:'-date'">
                                    [[log.message]]
                                    <p ng-show="log.noteExist"> <strong>Reason: </strong>&nbsp;[[log.notes]]</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="reasonsRequired" class="nested-modal">
                <div class="header clearfix">
                    <!--<i class="fa fa-arrow-circle-o-left cursor" data-ng-click="reasonsRequired =! reasonsRequired" title="Back to opportunity"></i>-->
                </div>
                <div class="body">
                    <div class="row border-lite padding-10">
                        <div class="row" style="margin-top: 0;">
                            <strong><span style="left: 22px;" class="required">*</span>Opportunity Close Reasons</strong>
                        </div>
                        <div class="row" style="margin-top: 0;">
                            <div class="col-md-4">
                                <label ng-repeat="item in companyDetails.closeReasons | orderBy:'name'">
                                    <input type="checkbox" ng-model="item.selected" data-ng-click="addToReasonList(item)"> [[item.name]]
                                </label>
                            </div>
                            <div class="col-md-7">
                                <label>Reason in detail</label>
                                <textarea ng-model="opp.closeReasonDescription">

                                                            </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row border-lite padding-10" ng-show="opp.stage == 'Close Won'">
                        <strong>Renewal opportunity</strong>
                        <label>
                            <input type="checkbox" ng-model="opp.renewThisOpp">
                            [[opp.opportunityName]] is a renewal opportunity
                        </label>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Amount (<i class="[[currency]]"></i>)</label>
                                <input type="text" ng-model="renewalAmount" id="renewalAmount" autofocus="autofocus">
                            </div>
                            <div class="col-md-6">
                                <label>Close Date</label>
                                <input onkeydown="return false" type="text" ng-model="renewalCloseDateFormatted" id="opportunityCloseDateSelector4" ng-mouseover="registerDatePickerIdRenewal('renewal')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-flat" ng-click="goBackToOpp()" ng-show="!opp.isNotOwner">Save & Back to opp.</button>
                </div>
            </div>
        </div>
    </div>
</div>