<div class="row notes-tasks">
    <div class="col-md-12 clearfield">
        <div class="clearfix">
            <div class="pull-right">
                <button class="btn btn-green toggle" ng-show="!createNewTask" ng-disabled="opp.isNotOwner" data-ng-click="openTaskModule()"><i class="fa fa-tasks"></i>Add Task</button>
            </div>
            <div class="pull-right" ng-show="teamTask">
                <button class="btn close-btn" data-ng-click="closeTeamTask()">Close</button>
            </div>
        </div>

        <div class="other-modal" ng-show="createNewTask">
            <div class="body" style="text-align: left !important;">
                <div data-ng-include="'/opportunities/tasks/createNew'"></div>
            </div>
        </div>

        <div class="existing-notes-tasks table-responsive" ng-show="tasks.length>0">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th style="max-width: 135px;min-width: 135px;">Task</th>
                    <th>To</th>
                    <th ng-show="!showOppInsights">Priority</th>
                    <th style="min-width: 85px;" ng-show="!showOppInsights">Status</th>
                    <th style="min-width: 85px;" ng-show="showOppInsights">Status</th>
                    <th style="min-width: 80px;">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in tasks">
                    <td><input type="checkbox" ng-model="task.completed" ng-change="setTaskCompletion(task)"></td>
                    <td>
                        <div ng-bind-html="task.taskName">
                        </div>
                    </td>
                    <td>
                        <div ng-show="task.profile">
                            <div class="team-profiles clearfix reset pull-left" title="[[task.profile.fullName]], [[task.profile.emailId]]">
                                <span ng-if="task.profile.noPicFlag">[[task.profile.nameNoImg]]</span>
                            </div>
                        </div>
                        <div ng-show="!task.profile">
                            [[task.assignedToEmailId]]
                        </div>

                    </td>
                    <td class="task-in-focus" ng-show="!showOppInsights">
                        <div class="priority">
                            <span class="[[task.priority]]"></span>
                        </div>
                    </td>
                    <td ng-show="!showOppInsights">[[task.statusFormatted]]</td>
                    <td class="task-in-focus" ng-show="showOppInsights">
                        <div class="priority">
                            <span class="[[task.priority]]"></span>
                        </div>
                        [[task.statusFormatted]]
                    </td>
                    <td>[[task.dateFormatted]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>