<div class="body">
    <div class="in-page-warning-block">
        Team members added here will get default access to this opportunity.
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label>Opportunity Owner <span class="required">*</span></label>
        <input type="text" ng-disabled="!opp.canTransferOpp || opp.isNotOwner" ng-model="oppOwner.value" ng-change="searchForTeamMember(oppOwner.value)">
        <div search-results-team></div>
    </div>
</div>
<div class="row clearfield">
    <div class="col-md-4 float-set-height" ng-repeat="role in rolesList">
        <label>[[role.roleName]]</label>
        <input type="text" ng-disabled="opp.isNotOwner" ng-model="role.user" ng-change="searchForUser(role.user,role)">
        <div search-results></div>

        <div ng-show="role.usersWithAccess.length>0">
            <h5 class="bold">Team members with access</h5>
            <div class="opp-org-roles-user">
                <div data-ng-repeat="user in role.usersWithAccess | filter:item.searchText">
                    <div class="clearfix users" ng-show="opp.isNotOwner && user.fullName">
                        <img class="img-circle" width="25px" height="25px" ng-src="[[user.image]]" ng-if='user.noImage === 0' imageonload='imageNotLoaded(user)'>
                        <span class="image-placeholder-small-text textImage" style="font-size:10px;line-height: 25px;height:25px;width:25px;text-align: center;display: block;" ng-if="user.noImage === 1"><span>[[user.firstName.substring(0,2)]]</span></span>
                        <div class='name' style="margin-left: 0">
                            <strong>[[user.fullName]]</strong>
                            <p>[[user.designation]]</p>
                        </div>
                        <div class="remove-user-from-role">
                            (X)
                        </div>
                    </div>
                    <div class="cursor clearfix users" ng-show="!opp.isNotOwner && user.fullName" data-ng-click="removeUser(role,opp,user)">
                        <img class="img-circle" width="25px" height="25px" ng-src="[[user.image]]" ng-if='user.noImage === 0' imageonload='imageNotLoaded(user)'>
                        <span class="image-placeholder-small-text textImage" style="font-size:10px;line-height: 25px;height:25px;width:25px;text-align: center;display: block;" ng-if="user.noImage === 1"><span>[[user.firstName.substring(0,2)]]</span></span>
                        <div class='name' style="margin-left: 0">
                            <strong>[[user.fullName]]</strong>
                            <p>[[user.designation]]</p>
                        </div>
                        <div class="remove-user-from-role">
                            (X)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

