<div class="row margin0 [[rowType]]">
    <div ng-repeat="stage in stages" class="[[stage.colClass]] [[colType]] [[stage.lastChildCol]] padding-l0">
        <div class="header">
            <div class="arrow_box [[stage.firstChild]] [[stage.lastChild]]">
                <div class="meta-data">
                    <h5>[[stage.name]]</h5>
                    <p><i class="[[currency]]"></i>[[stage.sumOfAmount]] <span class="no-of-opp"><i class="fa fa-circle"></i>[[stage.values.length]] opportunities</span></p>
                    <!--<p>[[currency]] [[stage.sumOfAmount]]</p>-->
                </div>
            </div>
        </div>
        <div class="stage-column">
            <div ng-repeat="val in stage.values" class="values [[val.stageName]] [[val.selected]]" title="[[val.stageName]]" data-ng-click="selectOpp(val)">
                <!--<i ng-show="val.transferThis" class="opp-selected fa fa-check"></i>-->
                <h5>[[val.opportunityName]]</h5>
                <i class="fa fa-exclamation-circle" title="Stale Opportunity" ng-show="val.isStale"></i>
                <p><i class="[[currency]]"></i>[[val.amountWithCommas]]</p>
                <!--<p>[[currency]] [[val.amount]]</p>-->
                <!--[[val.contactEmailId]]-->

                <div class="account">
                    [[val.account]]
                </div>

                <div class="clearfix">
                    <div class="contact-profile pull-left" title="[[val.fullName]], [[val.contactEmailId]]" ng-init="getContactProfile(val)">
                        <div class="relative inline-block">
                            <!--<img ng-if="!val.noPicFlag" src="[[val.image]]" title="[[val.fullName]], [[val.contactEmailId]]" imageonload="imageNotLoaded(val)">-->
                            <span ng-if="val.noPicFlag" title="[[val.fullName]], [[val.contactEmailId]]">[[val.nameNoImg]]</span>
                            <p class="fs-12">[[val.fullName]]</p>
                        </div>
                    </div>
                    <div class="contact-profile owner-right" title="[[val.owner.fullName]], [[val.owner.emailId]]" ng-init="getContactProfile(val)">
                        <div class="relative inline-block">
                            <!--<img ng-if="!val.owner.noPicFlag" src="[[val.owner.image]]" title="[[val.owner.fullName]], [[val.owner.emailId]]" imageonload="imageNotLoaded(val.owner)">-->
                            <span ng-if="val.owner.noPicFlag" title="[[val.owner.fullName]], [[val.owner.emailId]]">[[val.owner.nameNoImg]]</span>
                            <!--<p class="fs-12">[[val.owner.fullName]] (Owner)</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-open" ng-show="showTeamMembers">
    <div class="opportunity-form form-box-shadow width-sm">
        <div class="modal-header clearfix">
            <h5 class="pull-left">Transfer opportunities</h5>
            <div class="pull-right fs-16 cursor" data-ng-click="showTeamMembers = false">X</div>
        </div>
        <div class="body">
            <h5>Select team member</h5>
            <input placeholder="Enter name or email address" ng-model="teamMate" ng-change="searchForTeamMate(teamMate)">
            <div ng-show="transferToThisUser" class="team-profiles reset" title="[[selectedUser.fullName]], [[selectedUser.emailId]]">
                <!--<img ng-if="!selectedUser.noPicFlag" src="[[selectedUser.image]]" imageonload="imageNotLoaded(selectedUser)">-->
                <span ng-if="selectedUser.noPicFlag">[[selectedUser.nameNoImg]]</span>
                <strong>[[selectedUser.fullName]]</strong> ( [[selectedUser.emailId]] )
            </div>
            <div class="overflow" ng-show="searchUsers.length>0">
                <div class="list">
                    <div ng-repeat="member in searchUsers | filter:member.fullName | orderBy:'fullName'" class="team-profiles reset" data-ng-click="selectUser(member);transferToThisUser = true" title="[[member.fullName]], [[member.emailId]]">
                        <!--<img ng-if="!member.noPicFlag" src="[[member.image]]" imageonload="imageNotLoaded(member)">-->
                        <span ng-if="member.noPicFlag">[[member.nameNoImg]]</span>
                        <strong>[[member.fullName]]</strong> ( [[member.emailId]] )
                    </div>
                </div>
            </div>
        </div>
        <div class="footer clearfix">
            <button class="btn btn-green pull-right" ng-click="startTransferring()">Transfer</button>
        </div>
    </div>
</div>