<!DOCTYPE html>
<html lang="en" data-ng-app="reletasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Business Relationship Intelligence | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/>
    <link href="/stylesheets/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/stylesheets/css/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/commonTodaySeries.css" rel="stylesheet">
    <link href="/stylesheets/C/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet">
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <link href="../stylesheets/css/Mediaquery.css" rel="stylesheet">
    <style>
        .popup-custom {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 25%;
            z-index: 9999;
            margin-top: 10px;
            overflow: hidden;
        }
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
</head>
<body style="overflow-x:hidden;" ng-cloak >

<div data-ng-controller="left_contacts_bar">
    <div class="navigation-container">
        <nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/header'"></nav>
    </div>
    <div class="hidden-xs" style="display: inline-block;width: 296px;margin-left: auto;" >
        <div class="row">
            <div class="leftside-bar">
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}">
                </div>
            </div>

            <div data-ng-include="'/customer/middle/bar'" id="leftbar" style="padding-right: 15px;padding-left:0;margin-left: auto;">

            </div>
        </div>
    </div>
</div>

<div class="main-page-wrapper contacts-landing set-height" style="display: inline-block;max-width:100%;width:-moz-available;position: absolute">

    <div class="container-fluid grey-green-bg margin-top50 padding0" data-ng-controller="contacts_data_controller">
        <!--<div class="row">-->
            <!--<div class="alert alert-contacts alert-dismissible" role="alert">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>-->
                <!--You haven't imported your Linkedin contacts or uploaded other contacts.<br> Please connect to extend your-->
                <!--network and get intelligence across your contacts.-->
            <!--</div>-->
        <!--</div>-->
        <div class="clearfix" ng-controller="hierarchyController">
            <div ng-show="isCorporateUser" style="margin-top: 15px;border-bottom: 1px solid #ddd;" class="clearfix">
                <ol class="breadcrumb pull-left" style="margin-right: 1%;background-color: transparent;padding-bottom: 0;" ng-hide="true">
                    <li><a class="breadcrumb-active" href="#">GE</a></li>
                </ol>
                <div class="pull-left" style="padding: 5px 1px;margin-left: 20px;" ng-show="isCorporateUser">
                    <button type="button" class="btn-primary shw-heirarchy margin0">Hierarchy</button>
                </div>
            </div>
        </div>
        <div class="c-heirarchy">
            <div class="toggle-heirarchy">
                <div class="c-tree">
                    <ul id="root"></ul>
                </div>
                <div class="margin-top10" style="margin-left: 20px;">
                    <button type="button" style="margin:10px 5px;" class=" btn-green btn" id="updateHierarchy">Apply</button>
                    <button type="button" style="margin:10px 5px;" class=" btn-green btn" id="checkAllHierarchy">Select All</button>
                </div>
            </div>
        </div>
        <!--<div class="row text-center contact-landing-r1">-->
            <!--<p class="fs-14">Looking to connect with someone <strong>NEW</strong> in a company? <br>Search for any of-->
                <!--<strong>650,000+</strong> networked contacts and we will help you connect</p>-->
            <!--<form>-->
                <!--<div class="form-group col-sm-6 col-sm-offset-3">-->
                    <!--<input type="text" class="form-control input-search-lg" ng-model="search_content" ng-enter="mySearchFunction(search_content)">-->
                    <!--<div class="text-center">-->
                        <!--<button class="btn btn-green" ng-click="selectFile()"><i class="fa fa-file-excel-o"></i>Upload Contacts from XLS</button>-->
                        <!--<button class="btn btn-green" ng-click="selectFile()"><i class="fa fa-linkedin-square"></i>Import Linkedin Contacts</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">-->
            <!--</form>-->
        <!--</div>-->

    </div>    <!--Container Fluid -->

    <div class="container-fluid">
    <!--<div class="container-fluid grey-green-bg margin-top50" data-ng-controller="contacts_data_controller">-->
        <!--<div class="row">-->
            <!--<div class="alert alert-contacts alert-dismissible" role="alert">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>-->
                <!--You haven't imported your Linkedin contacts or uploaded other contacts.<br> Please connect to extend your-->
                <!--network and get intelligence across your contacts.-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix">-->
            <!--<ol class="breadcrumb pull-left" style="margin-right: 3%;">-->
                <!--<li><a href="#">Company</a></li>-->
                <!--<li><a class="breadcrumb-active" href="#">GE</a></li>-->
            <!--</ol>-->
            <!--<div class="pull-left" style="padding: 8px 15px;">-->
                <!--<button type="button" class="btn-primary shw-heirarchy margin0">Show Heiracrchy</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="c-heirarchy">-->
            <!--<div class="toggle-heirarchy">-->
                <!--<div>-->
                    <!--<button type="button" style="margin:10px 5px;" class=" btn-green btn" id="updateHierarchy">Update</button>-->
                <!--</div>-->
                <!--<div class="c-tree">-->
                    <!--<ul id="root"></ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row text-center contact-landing-r1">-->
            <!--<p class="fs-14">Looking to connect with someone <strong>NEW</strong> in a company? <br>Search for any of-->
                <!--<strong>650,000+</strong> networked contacts and we will help you connect</p>-->
            <!--<form>-->
                <!--<div class="form-group col-sm-6 col-sm-offset-3">-->
                    <!--<input type="text" class="form-control input-search-lg" ng-model="search_content" ng-enter="mySearchFunction(search_content)">-->
                    <!--<div class="text-center">-->
                        <!--<button class="btn btn-green" ng-click="selectFile()"><i class="fa fa-file-excel-o"></i>Upload Contacts from XLS</button>-->
                        <!--<button class="btn btn-green" ng-click="selectFile()"><i class="fa fa-linkedin-square"></i>Import Linkedin Contacts</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<input type="file" name="file" accept=".csv,.xlsx,.xls" id="selectedFile" style="display: none">-->
            <!--</form>-->
        <!--</div>-->

    <!--</div>    &lt;!&ndash;Container Fluid &ndash;&gt;-->

    <div class="container-fluid">
        <div class="row text-center width-set-md-1 ipad-portrait margin-b35 ng-scope" data-ng-controller="dashboard_past_7_day_interactions_by_contact_type">

            <div class="col-xs-6 col-sm-2 col-sm-offset-2 col-md-1 interactions-data simple-num-display" style="padding-top: 35px;margin-right: 15px;">
                <div class="num-display bg-none">[[companies]]</div>
                <p>Companies</p>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-8">

                <div class="wrapper-box">
                    <div class="side-border l"></div>
                    <div class="border-text">Contact Relationship</div>
                    <div class="side-border r"></div>
                    <div class="box-content">
                        <div class="row margin0">
                            <div class="col-xs-6 col-sm-2 col-md-2 interactions-data simple-num-display">
                                <div class="num-display bg-none">[[customer]]</div>
                                <p>Customers</p>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 interactions-data simple-num-display">
                                <div class="num-display bg-none">[[prospect]]</div>
                                <p>Prospects</p>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 interactions-data simple-num-display">
                                <div class="num-display bg-none">[[favorite]]</div>
                                <p>Favorites</p>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 interactions-data simple-num-display">
                                <div class="num-display bg-none">[[decision_maker]]</div>
                                <p>Decision Makers</p>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 interactions-data simple-num-display">
                                <div class="num-display bg-none">[[influencer]]</div>
                                <p>Influencers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center margin-top20" style="border-top: 1px solid #eee;padding-top: 20px;">

            <h3 class="section-header" style="margin-bottom: 5px;">
                Past
                <span>
                <span class="dropdown">
                    <button class="btn btn-green dropdown-toggle" id="dropdown-value-5" style="display: inline;margin: 0 5px;" type="button" data-toggle="dropdown">[[numOfDays]]
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-widget" id="dropdown-selected-5">
                        <li><a href="#" drop-type="interactions">ALL</a></li>
                        <li><a href="#" drop-type="interactions">180</a></li>
                        <li><a href="#" drop-type="interactions">90</a></li>
                        <li><a href="#" drop-type="interactions">30</a></li>
                    </ul>
                </span>
                </span> Days Organisation Data</h3>
            <p>(Based on your access control)</p>
        </div>

    </div>
    <!--Container Fluid-->
<div data-ng-controller="top_companies_locations_interaction_by_type">
    <div class="container-fluid">
        <div class="col-sm-3 col-sm-offset-0 clearfix" style="min-height: 184px;">

            <p class="fs-14 text-center">Top 5 Companies Interacted</p>
            <ul class="pull-left company-icons-ls list-unstyled">
                <li ng-repeat="contact in interactionsByCompanyIcons">
                    <img src="[[contact.image]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" errortoggle title="[[contact.companyName]]" ng-click="goToAcc(contact.companyName)">
                    <span ng-show="contact.noPicFlag==1" title="[[contact.companyName]]" ng-click="goToAcc(contact.companyName)">[[contact.noPPic]]</span>
                </li>
            </ul>
            <div class="graph-border-1 pull-left" style="width: 77%;">
                <div class="progress clearfix" ng-repeat="company in interactionsByCompany" ng-click="goToAcc(company.companyName)">
                    <div title="[[company.companyName]]" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="[[company.percentage]]">
                        [[company.companyName]]
                    </div>
                    <span>[[company.count]]</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <p class="text-center fs-14">Top 5 Locations Interacted</p>
            <div class="treemap-container-c">
                <div class="treemap">
                </div>
                <div class="border-line">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-center">
            <p class="fs-14">Total Interactions</p>
            <div style="margin: 25px auto 40px auto;width: 275px;" class="clearfix">
                <span class="fs-40 lite orange-color fs ng-binding">[[totalInteractionsCount]]</span>
            </div>
            <ul class="graph" style="width: 325px;">
                <li>
                        <span style="[[interactionsByType.a.value]]" title="[[interactionsByType.a.title]]">
                            <p class="values-top">[[interactionsByType.a.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.b.value]]" title="[[interactionsByType.b.title]]">
                            <p class="values-top">[[interactionsByType.b.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.c.value]]" title="[[interactionsByType.c.title]]">
                            <p class="values-top">[[interactionsByType.c.count]]</p>
                        </span></li>
                <li>
                        <span style="[[interactionsByType.d.value]]" title="[[interactionsByType.d.title]]">
                            <p class="values-top">[[interactionsByType.d.count]]</p>
                        </span></li>
                <!--<li>-->
                        <!--<span style="[[interactionsByType.e.value]]" title="[[interactionsByType.e.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.e.count]]</p>-->
                        <!--</span></li>-->
                <li>
                        <span style="[[interactionsByType.f.value]]" title="[[interactionsByType.f.title]]">
                            <p class="values-top">[[interactionsByType.f.count]]</p>
                        </span></li>
                <!--<li>-->
                        <!--<span style="[[interactionsByType.g.value]]" title="[[interactionsByType.g.title]]">-->
                            <!--<p class="values-top">[[interactionsByType.g.count]]</p>-->
                        <!--</span></li>-->

            </ul>
            <ul class="graph-icons" style="width: 325px;">
                <li><i class="fa fa-calendar-check-o green-color"></i></li>
                <li><i class="fa fa-phone green-color"></i></li>
                <li><i class="fa fa-reorder green-color"></i></li>
                <li><i class="fa fa-envelope green-color"></i></li>
                <!--<li><i class="fa fa-facebook-official fb-color"></i></li>-->
                <li><i class="fa fa-twitter-square twitter-color "></i></li>
                <!--<li><i class="fa fa-linkedin-square linkedin-color"></i></li>-->
            </ul>
        </div>

    </div>
    <!--Container Fluid-->
    <div class="container-fluid" ng-controller="heatMapController">
        <hr>
        <div class="row text-center" style="margin: 0px 0 0 0;">
            <!--<h3 class="section-header" style="margin-bottom: 5px;">-->
                <!--Past-->
                <!--<span>-->
                <!--<span class="dropdown">-->
                    <!--<button class="btn btn-green dropdown-toggle" id="dropdown-value-3" style="display: inline;margin: 0 5px;" type="button" data-toggle="dropdown">180-->
                        <!--<span class="caret"></span></button>-->
                    <!--<ul class="dropdown-menu dropdown-widget" id="dropdown-landing">-->
                        <!--<li><a href="#" drop-type="heatMap">ALL</a></li>-->
                        <!--<li><a href="#" drop-type="heatMap">180</a></li>-->
                        <!--<li><a href="#" drop-type="heatMap">90</a></li>-->
                        <!--<li><a href="#" drop-type="heatMap">30</a></li>-->
                    <!--</ul>-->
                <!--</span>-->
                <!--</span> Days Account Interactions</h3>-->
            <p>Click on the Company node to see more details</p>
            <div class="col-sm-11">
                <!--<div class="zoomin-scatterplot" ng-click="zooomScatterplot()">+</div>-->
                <!--<div class="zoomout-scatterplot" ng-click="zooomScatterplot()">-</div>-->
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        $("body").on('click','#menu-toggle',function(e) {
            e.preventDefault();
            $(".overlay").show();
        });

        $(window).resize(function() {
            var scrollWidth = $( window ).width();
            if(scrollWidth >= 768) {
                $(".overlay").hide();
            }
        });
    });

</script>

<script>
</script>
    <div ng-controller="dropWatchController" ></div>

    <!--On click of a node on the scatterplot, show the companu info in table-->
    <!--<script>-->
    <!--var updateCompany = function(v){-->
    <!--var scope = angular.element(-->
    <!--document.getElementById("compay_more_details")).scope();-->
    <!--scope.$apply(function () {-->
    <!--scope.updateCustomRequest(v);-->
    <!--});-->
    <!--}-->
    <!--&lt;!&ndash;</script>&ndash;&gt;-->

    <script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/common.js"></script>
    <script type="text/javascript" src="/javascripts/common/treemap.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/mixpanel.js"></script>
    <script type="text/javascript" src="/javascripts/common/angularConfig.js"></script>
    <script type="text/javascript" src="/javascripts/companyCustomerjs/landing.js"></script>
    <script type="text/javascript" src="/javascripts/directives/error-toggle.js"></script>
    <script type="text/javascript" src="/javascripts/common/ngEnter.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>
    <script type="text/javascript" src="/javascripts/common/leftMenuControllerReletasApp.js"></script>
    <script type="text/javascript" src="/javascripts/todaySeries/notificationsReletas.js"></script>

</body>
</html>
