<div class="secNav sidebar-height left-aside-for-user-meeting">
    <div class="secWrapper">
        <div id="alt1" class="active" style="display: block;">
            <div class="padding0 contact-list-filter-affix">
                <div class="contacts-filter">
                    <div class="row" style="margin-top: 13px;">
                        <div class="col-xs-2">
                            <a href="#" ng-click="refreshContactsList()"><i class="fa fa-refresh green-color"></i></a>
                        </div>
                        <div class="col-xs-8 padding-lr4">
                            <input type="text" class="form-control mContactSearch searchContentClass" ng-change="contactSearchChanged()" ng-model="searchContent" ng-enter="searchContacts(searchContent)" id="exampleInputName2" placeholder="Search">
                        </div>
                        <div class="col-xs-2 padding0" ng-show="show_filter">
                            <a href="#"><i class="fa fa-filter mContactsFilter green-color"></i></a>
                        </div>
                    </div>
                    <div class="row text-center" style="font-size: 12px;margin-top: -15px;">
                        <br>
                        Showing <strong>[[(currentLength == 0) ? calculateFromTo(currentLength-returned) : (calculateFromTo(currentLength-returned) + 1)]] to [[currentLength]]</strong> out of <strong>[[grandTotal]]</strong>
                    </div>
                </div>
                <div>
                    <div class="secondary-navbar contact-list-filter clearfix cursor-pointer" ng-repeat="contact in contactsList" ng-click="accountSelected(contact)">
                        <div class="pull-left">
                            <img class="image-placeholder-small" title="[[contact.fullName]]" ng-src="[[contact.image]]" ng-hide="contact.noPicFlag==1" errortoggle>
                            <span class="image-placeholder-small-text" title="[[contact.fullName]]" ng-show="contact.noPicFlag==1"><span style="text-align: center;display: block;">[[contact.noPPic]]</span></span>
                        </div>
                        <div class="pull-left">
                            <ul class="list-unstyled">
                                <li title="[[contact.fullName]]">[[contact.name]]</li>
                                <li title="[[contact.fullDesignation]]">[[contact.designation]]</li>
                                <li title="[[contact.fullCompanyName]]">[[contact.companyName]]</li>
                                <li class="li-date" title="[[contact.lastInteractedDate]]"><i class="fa [[contact.interactionType]]"></i>[[contact.lastInteractedDate]]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix" style="background-color: #fff;">
                    <a ng-show="show_contacts_back" class="pull-left" ng-click="loadMoreContacts(currentLength-25,25,searchContent,true)" title="Prev" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;"><i class="fa fa-chevron-left"></i>Prev</a>
                    <a ng-hide="currentLength >= grandTotal" class="pull-right" ng-click="loadMoreContacts(currentLength,25,searchContent,false)" title="Next" style="display: block;margin: 10px;cursor: pointer;color: #267368;font-size: 16px;">Next<i class="fa fa-chevron-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>