<div class="row today-wrapper">
    <div class="col-md-12">
        <div class="targets-container box-ui" style="margin-top: 10px" ng-controller="opportunityTargets">
            <div ng-show="loadingTargets" class="loading-contacts">
                <span><i></i></span><span><i></i></span><span><i></i></span>
            </div>
            <div class="row">
                <div class="col-md-7 border-right" style="text-align: center;">
                    <h4 class="bold fs-14">Monthly Target vs Achievement
                    <span class="fs-12 lite">(Apr 2018 - Mar 2019)</span>
                    </h4>
                    <div class="when-overflow clearfix" ng-show="!loadingTargets">
                        <div class="target-graph-wrapper" ng-repeat="value in targetGraph">
                            <div class="target graph-width-reduce">
                                <span ng-style="value.heightTarget"></span>
                            </div>
                            <div class="won graph-width-reduce">
                                <span ng-style="value.heightWon"></span>
                            </div>
                            <div class="total graph-width-reduce">
                                <span ng-style="value.heightTotal"></span>
                            </div>
                            <h6>[[value.month]]</h6>
                            <i ng-show="value.highLightCurrentMonth" title="Current Month" class="fa fa-caret-up"></i>
                            <div class="pop-up">
                                <table>
                                    <tr>
                                        <td>
                                            <i class="tr"></i>Target</td>
                                        <td><span>[[value.target]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="won"></i>Won</td>
                                        <td><span>[[value.won]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="lo"></i>Lost</td>
                                        <td><span>[[value.lost]]</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="pl"></i>Pipeline</td>
                                        <td><span>[[value.openValue]]</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="auto targets-container-today">
                        <h4 style="text-align: center;" class="bold fs-14">Quarter Snapshot <span class="fs-12 lite">([[cqHeader]])</span></h4>
                        <div class="margin-auto-set">
                            <table class="achievement-tb base">
                                <tr>
                                    <th>Target</th>
                                    <th>Achieved</th>
                                    <th>Pipeline</th>
                                </tr>
                                <tr>
                                    <td>[[cqTarget]]</td>
                                    <td>[[cqWon]]</td>
                                    <td>[[cqPipeline]]</td>
                                </tr>
                            </table>

                            <div class="bar-meter-wrapper relative base">
                                <span style="left: -75px;">Current Qtr </span>
                                <div class="bar" ng-style="cqWonStyle">
                                </div>
                                <div class="absolute">[[cqWonPercentage]]</div>
                            </div>

                            <div class="bar-meter-wrapper relative base">
                                <span style="left: -75px;">Current FY </span>
                                <div class="bar" ng-style="fyWonStyle">
                                </div>
                                <div class="absolute">[[wonPercentage]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row today-insight">
            <div class="col-md-9" ng-controller="today-primary-insight">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="box-header">
                                    <h5 class="insight-today-card-header">Commit</h5>
                                    <div class="box-header-detail">
                                        <span class="[[commit.selected]]" ng-repeat="commit in commitRange" ng-click="commitFor(commit, $index)">
                                            [[commit.name]]
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="loadingCommits" class="insight-card-no-data loading-contacts">
                                    <span><i></i></span><span><i></i></span><span><i></i></span>
                                </div>
                                <div class="reports-modal" ng-show="commitModalOpen">
                                    <div class="reports-modal-body">
                            
                                        <div class="clearfix head">
                                            <!-- <h5 class="pull-left" style="font-weight: lighter;">
                                                <span>[[commitRange[selectedCommitRange].cuttOffDate]]</span>
                                            </h5> -->
                                            <button class="btn close-btn pull-right" data-ng-click="closeModal()">Close</button>
                                        </div>
                                        
                                        <!-- <div class="row" ng-show="!committingForNext">

                                            <div class="col-md-6 padding0" ng-show="selectedCommitRange.name != 'Week'">
                                                <div class="graph-o">
                        
                                                    <div class="clearfix margin0">
                                                        <div class="wrapper">
                                                            <div ng-style="commits.graph.target" style="background: rgb(244, 173, 167); width: 0%;"></div>
                                                        </div>
                        
                                                        <div class="legend text-right ">
                                                            Target(0)
                                                        </div>
                                                    </div>
                        
                                                    <div class="clearfix margin0">
                                                        <div class="wrapper">
                                                            <div ng-style="commits.graph.achievement" style="background: rgb(142, 206, 203); width: 100%;"></div>
                                                        </div>
                        
                                                        <div class="legend text-right ">
                                                            Achievement(6 K)
                                                        </div>
                                                    </div>
                                                    <div class="clearfix margin0">
                                                        <div class="wrapper">
                                                            <div ng-style="commits.graph.commitPipeline" style="background: rgb(99, 140, 166); width: 50%;"></div>
                                                        </div>
                        
                                                        <div class="legend text-right">
                                                            Proposal Pipeline(3 K)
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 style="margin-left: 20px;font-size: 24px;margin-top: 20px;" class="ng-binding">Shortfall: 0</h4>
                                            </div>
                                            <div ng-class="selectedCommitRange.name == 'Week'?'col-md-12':'col-md-6'" class="text-center col-md-6">
                                                <div ng-show="!committingForNext">
                                                    <input ng-disabled="!commits.editAccess" ng-model="commits.selfCommitValue" class="ng-pristine ng-untouched ng-valid">
                        
                                                    <div ng-show="commits.editAccess &amp;&amp; !canCommitForNext" class="">
                                                        <button class="btn btn-green" data-ng-click="updateCommit()" ng-disabled="saving">
                                                            <span ng-show="!saving">SAVE COMMIT</span>
                                                            <span ng-show="saving" class="ng-hide">SAVING...</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div ng-show="true" class="row text-center">
                                            <div class="col-md-12">
                                                <input ng-model="selfCommitValue">
                        
                                                <button class="btn btn-green" data-ng-click="updateCommit()" ng-disabled="saving">
                                                    <span ng-show="!saving">SAVE COMMIT </span>
                                                    <span ng-show="saving" class="ng-hide">SAVING...</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="loadingCommits" class="commit-body">
                                    <h4 ng-show="commits.editAccess"> [[commitRange[selectedCommitRange].daysLeft]] Days Left</h4>
                                    <h4 ng-show="!commits.editAccess" class="insight-card-no-data"> [[commitRange[selectedCommitRange].cuttOffDate]]</h4>
                                    <p ng-show="!commits.editAccess" ng-click="openCommitModel()" class="commit-next-text">[[commitRange[selectedCommitRange].nextCommitMsg]]</p>
                                    <input ng-show="commits.editAccess" type="text" ng-model="selfCommitValue">
                                    <button ng-show="commits.editAccess && !saving" class="btn btn-primary" ng-click="updateCommit()">SAVE</button>
                                    <button ng-show="saving" class="btn btn-primary">Saving...</button>
                                </div>
                                <div class="insight-card-bottom-view">
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllOpps()">VIEW OPPS</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="insight-card-top-view">
                                    <div class="box-header">
                                        <h5 class="insight-today-card-header">Meetings</h5>
                                        <div class="box-header-detail">
                                            <span style="color: black">TODAY</span>
                                        </div>
                                    </div>
                                    <div ng-show="meetingInsights.showNoDataMsg" class="insight-card-no-data">
                                        <p>[[todayInsightNoDataMsg.meetings]]</p>
                                    </div>
                                    <div ng-show="loadingMeetings" class="insight-card-no-data loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                    <div class="meeting-body" ng-repeat="meeting in meetingInsights.todayMeetings" ng-click="openMeetingDetails(meeting, $index)">
                                        <span title="Sender: [[meeting.name ? meeting.name : meeting.personEmailId]]"> [[meeting.name ? meeting.name.slice(0,2) : meeting.personEmailId.slice(0,2)]] </span>
                                        <!-- <img ng-if="!item.to.noPicFlag" src="[[item.to.image]]" imageonload="imageNotLoaded(item.to)"> -->
                                        <div style="display: inline-block" class="ellipsis">
                                            <P>[[meeting.title]]</P>
                                            <P class="today-insight-secondary-info">[[meeting.startTime]] - [[meeting.endTime]]</P>
                                        </div>
                                    </div>
                                </div>
                                <div class="insight-card-bottom-view" ng-show="meetingInsights.totalCount>3">
                                    <div class="position-abs" ng-hide="meetingInsights.showNoDataMsg">
                                        <div class="completion-bar-wrapper">
                                            <span ng-style="meetingInsights.widthDisplay"></span>
                                        </div>
                                        <span class="display-status">
                                            [[meetingInsights.displayedCount]]
                                            <span>/[[meetingInsights.totalCount]]</span>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllMeetings()">VIEW ALL</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="insight-card-top-view">
                                    <div class="box-header">
                                        <h5 class="insight-today-card-header">Tasks</h5>
                                        <div class="box-header-detail">
                                            <span style="color: black" ng-click="viewAllTasks('today', true)">TODAY</span>
                                        </div>
                                    </div>
                                    <div ng-show="taskInsights.showNoDataMsg" class="insight-card-no-data">
                                        <p>[[todayInsightNoDataMsg.tasks]]</p>
                                    </div>
                                    <div ng-show="loadingTasks" class="insight-card-no-data loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                    <div class="task-body">
                                        <label ng-repeat="task in taskInsights.tasks track by $index">
                                            <input type="checkbox"  ng-checked="task.status == 'complete' ? true : false" ng-model="task.checked" ng-change="setTaskStatus(task)"> 
                                            <div ng-bind-html="task.formattedTaskName"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="insight-card-bottom-view" ng-show="taskInsights.totalCount>3">
                                    <div class="position-abs" ng-hide="taskInsights.showNoDataMsg">
                                        <div class="completion-bar-wrapper">
                                            <span ng-style="taskInsights.widthDisplay"></span>
                                        </div>
                                        <span class="display-status">
                                            [[taskInsights.displayedCount]]
                                            <span>/[[taskInsights.totalCount]]</span>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllTasks('today', true)">VIEW ALL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="insight-card-top-view">
                                    <div class="box-header">
                                        <h5 class="insight-today-card-header">Deals Closing Soon</h5>
                                        <div class="box-header-detail">
                                            <span style="color: black">NEXT 30 DAYS</span>
                                        </div>
                                    </div>
                                    <div ng-show="dealsClosingSoonInsights.showNoDataMsg" class="insight-card-no-data">
                                        <p>[[todayInsightNoDataMsg.dealsClosingSoon]]</p>
                                    </div>
                                    <div ng-show="loadingDealsClosing" class="insight-card-no-data loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                    <div class="meeting-body" title="Account:[[opp.companyName]]" ng-click="goToOpportunity(opp)" ng-repeat="opp in dealsClosingSoonInsights.dealsClosingSoon">
                                        <span ng-if="opp.noPicFlag" >[[opp.noPicText]]</span>
                                        <img ng-if="!opp.noPicFlag" src="[[opp.accountImageUrl]]">
                                        <div style="display: inline-block" class="ellipsis">
                                            <p>[[opp.opportunityName]]</p>
                                            <p class="today-insight-secondary-info">[[opp.closeDate | date:'dd MMM yyyy']] | [[opp.amount]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="insight-card-bottom-view" ng-show="dealsClosingSoonInsights.totalCount>3">
                                    <div class="position-abs" ng-hide="dealsClosingSoonInsights.showNoDataMsg">
                                        <div class="completion-bar-wrapper">
                                            <span ng-style="dealsClosingSoonInsights.widthDisplay"></span>
                                        </div>
                                        <span class="display-status">
                                            [[dealsClosingSoonInsights.displayedCount]]
                                            <span>/[[dealsClosingSoonInsights.totalCount]]</span>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllDealsClosingSoon()">VIEW ALL</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="insight-card-top-view">
                                    <div class="box-header">
                                        <h5 class="insight-today-card-header">Losing Touch</h5>
                                        <div class="box-header-detail">
                                            <span style="color: black">CONTACTS</span>
                                        </div>
                                    </div>
                                    <div ng-show="losingTouchInsights.showNoDataMsg" class="insight-card-no-data">
                                        <p>[[todayInsightNoDataMsg.losingTouch]]</p>
                                    </div>
                                    <div ng-show="loadingLosingTouch" class="insight-card-no-data loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                    <div class="meeting-body" title="Email:[[contact.emailId]]" ng-repeat='contact in losingTouchInsights.losingTouchContacts' ng-click="openLosingTouchContact(contact, $index)">
                                        <span>[[contact.fullName ? contact.fullName.slice(0,2) : contact.emailId.slice(0,2)]]</span>
                                        <!-- <img ng-if="!item.to.noPicFlag" src="[[item.to.image]]" imageonload="imageNotLoaded(item.to)"> -->
                                        <div style="display: inline-block" class="ellipsis">
                                            <p>[[contact.fullName ? contact.fullName : contact.emailId]]</p>
                                            <p class="today-insight-secondary-info">[[contact.lastInteractionDateFormatted]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="insight-card-bottom-view" ng-show="losingTouchInsights.totalCount>3">
                                    <div class="position-abs" ng-hide="losingTouchInsights.showNoDataMsg">
                                        <div class="completion-bar-wrapper">
                                            <span ng-style="losingTouchInsights.widthDisplay"></span>
                                        </div>
                                        <span class="display-status">
                                            [[losingTouchInsights.displayedCount]]
                                            <span>/[[losingTouchInsights.totalCount]]</span>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllLosingTouch()">VIEW ALL</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-ui insight-main-box">
                                <div class="insight-card-top-view">
                                    <div class="box-header">
                                        <h5 class="insight-today-card-header">Meeting Follow Ups</h5>
                                        <div class="box-header-detail">
                                            <span style="color: black">CONTACTS</span>
                                        </div>
                                    </div>
                                    <div ng-show="meetingFollowupInsights.showNoDataMsg" class="insight-card-no-data">
                                        <p>[[todayInsightNoDataMsg.meetingFollowup]]</p>
                                    </div>
                                    <div ng-show="loadingMeetingFollowUp" class="insight-card-no-data loading-contacts">
                                        <span><i></i></span><span><i></i></span><span><i></i></span>
                                    </div>
                                    <div class="meeting-body" title="Email:[[contact.emailId]]" ng-repeat="contact in meetingFollowupInsights.meetingFollowup | orderBy:'sortDate'" ng-click="openMeetingFollowUpDetails(contact, $index)">
                                        <span>[[contact.fullName ? contact.fullName.slice(0,2) : contact.emailId.slice(0,2) ]]</span>
                                        <div style="display: inline-block" class="ellipsis">
                                            <p>[[contact.fullName]]</p>
                                            <p class="today-insight-secondary-info">[[contact.meetingDateFormat]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="insight-card-bottom-view" ng-show="meetingFollowupInsights.totalCount>3">
                                    <div class="position-abs" ng-hide="meetingFollowupInsights.showNoDataMsg">
                                        <div class="completion-bar-wrapper">
                                            <span ng-style="meetingFollowupInsights.widthDisplay"></span>
                                        </div>
                                        <span class="display-status">
                                            [[meetingFollowupInsights.displayedCount]]
                                            <span>/[[meetingFollowupInsights.totalCount]]</span>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary insight-main-box-btn" ng-click="viewAllMeetingFollowUps()">VIEW ALL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-controller="today-secondary-insight">
                <div style="margin-left: -15px;">
                    <div class="box-ui">
                        <div class="insight-box">
                            <h5 class="insight-today-card-header insight-header">Recommendation</h5>
                            <div ng-show="loadingInsights" class="text-center loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <ul ng-show="!loadingInsights" class="list-unstyled">
                                <li ng-class="todayMetaInsight.impMailCount ? 'cursor' : ''" ng-click="showMailSection()">
                                    <span style="background-color: #f59730"></span>
                                    [[todayMetaInsight.impMailCount]] Important Mails Pending Response
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-ui">
                        <div class="insight-box">
                            <h5 class="insight-today-card-header insight-header">Upcoming</h5>
                            <div ng-show="loadingInsights" class="text-center loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <ul ng-show="!loadingInsights" class="list-unstyled">
                                <li ng-class="todayMetaInsight.upComingMeetings ? 'cursor' : ''" ng-click="viewAllUpcomingMeetings()">
                                    <span style="background-color: #49bdd4"></span>
                                    [[todayMetaInsight.upComingMeetings]] Meetings
                                </li>
                                <li ng-class="todayMetaInsight.upcomingTasks ? 'cursor' : ''" ng-click="viewAllTasks('upcoming')">
                                    <span style="background-color: #49bdd4"></span>
                                    [[todayMetaInsight.upcomingTasks]] Tasks
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-ui">
                        <div class="insight-box">
                            <h5 class="insight-today-card-header insight-header">Overdue</h5>
                            <div ng-show="loadingInsights" class="text-center loading-contacts">
                                <span><i></i></span><span><i></i></span><span><i></i></span>
                            </div>
                            <ul ng-show="!loadingInsights" class="list-unstyled">
                                <li ng-class="todayMetaInsight.staleOpportunityCount ? 'cursor' : ''"  ng-click="showStaleOpportunities()">
                                    <span style="background-color: #ea4a64"></span>
                                    [[todayMetaInsight.staleOpportunityCount]] Stale Opportunities
                                </li>
                                <li ng-class="todayMetaInsight.dealsAtRiskCount ? 'cursor' : ''"  ng-click="showDealsAtRisk()">
                                    <span style="background-color: #ea4a64"></span>
                                    [[todayMetaInsight.dealsAtRiskCount]] Deals At Risk                         
                                </li>
                                <li ng-class="todayMetaInsight.tasksOverdue ? 'cursor' : ''" ng-click="viewAllTasks('overdue')">
                                    <span style="background-color: #ea4a64"></span> 
                                    [[todayMetaInsight.tasksOverdue]] Tasks Overdue
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
