<html lang="en" ng-app="relatasApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/als_style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">

    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link href="/stylesheets/documentTemplateStyle.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <link href="/chartist/chartist.min.css" rel="stylesheet">
    <link href="/chartist/chartist-plugin-tooltip.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/chartist/chartist.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>

    <title>Customer Profile Template</title>

</head>

<body style="overflow-x:hidden;" ng-cloak ng-controller="customerProfileTemplatesController">
<nav class="navbar navbar-fixed-top" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid opportunity-page">
    <div class="row ">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
        <div class="row wrapper">
            <div class="col-md-12 main">
                <div class="document-header clearfix">
                    <div class="col-md-6">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="customerProfileTemplateType"> CP Template Type</label>
                                <input type="text" class="form-control" id="customerProfileTemplateType" ng-model="customerProfileTemplateType">
                            </div>
                            <div class="form-group">
                                <label for="customerProfileTemplateName">CP Template Name</label>
                                <input type="text" class="form-control" id="customerProfileTemplateName" ng-model="customerProfileTemplateName">
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 clearfix">
                        <div class="clearfix margin-btn">
                            <button class="btn btn-white close-btn pull-right">Close</button>
                            <button class="btn btn-primary pull-right" data-ng-click="customerProfileTemplateId ? saveCustomerProfileTemplate() : createNewCustomerProfileTemplate()" > Save</button>
                            <button class="btn btn-white close-btn pull-right" data-ng-click="closeCustomerProfileTemplate()">Close</button>
                            <button class="btn btn-white close-btn pull-right" ng-show="!isDefaultTemplate && customerProfileTemplateId" data-ng-click="updateCustomerProfileTemplateAsDefault()" >Set As Default</button>
                            <button class="btn btn-white close-btn pull-right" ng-show="isTemplateDeactivated && customerProfileTemplateId" data-ng-click="activateDocTemplate()" >Activate</button>
                            <button class="btn btn-white close-btn pull-right" ng-show="!isTemplateDeactivated && customerProfileTemplateId" data-ng-click="deactivateDocTemplate()" >Deactivate</button>
                            <button class="btn btn-white close-btn pull-right" ng-show="!isTemplateDeactivated && customerProfileTemplateId" data-ng-click="createNewCustomerProfile()" >Customer Profile</button>

                        </div>
                    </div>
                </div>

                <div class="container-fluid" ng-show="customerProfileTemplateId">
                    <div class="row">
                        <div class="col-md-9 text-center" id="main-content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active text-left" id="formBuilderContent">
                                    <div class="container-fluid" id="dropZone">
                                        <ul class="row sortable-formbuilder" element-drop ng-model="formFields" id="sortable-formbuilder-ul">
                                            <li ng-repeat="field in formFields" element-drop data-index="[[$index]]" ng-switch on="field.Type" ng-class="getElementWidth(getFieldSetting(field, 'Column Span').Value)" ng-click="formulaMode? activeFieldForFormula(field, $index, $event) : activeField(field)" data-index="[[$index]]">

                                                <div id="[[field.id]]" class="form-group drag" ng-switch-when="text" ng-class="field.Active ? 'active-field' : ''" style=[[field.Style]]>
                                                    <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                                    <input type="text" class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory') ? '*': '')]]" ng-change="changeFieldSetting(field.Name,'Field Label')"/>

                                                    <input type="text" class="form-control" value="[[field.Value]]" placeholder="[[getFieldSetting(field, 'Placeholder').Value]]">
                                                    <i class ="fa fa-times remove-ico" ng-click="formulaMode ? '' : removeElement($index)" ng-if="field.Active" ></i>
                                                </div>

                                                <div id="[[field.id]]" class="form-group k drag" ng-switch-when="date" ng-class="field.Active ? 'active-field' : ''" style=[[field.Style]]>
                                                    <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                                    <input type="text" class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]" ng-change="changeFieldSetting(field.Name,'Field Label')"/>
                                                    <div class="has-feedback">
                                                        <input type="date" class="form-control"  placeholder="[[field.Name]]">
                                                        <span class="fa fa-calendar form-control-feedback custom-feedback" aria-hidden="true"></span>
                                                        <!-- <span id="inputSuccess2Status" class="sr-only">(success)</span> -->
                                                    </div>
                                                    <i class ="fa fa-times remove-ico" ng-if="field.Active" ng-click="formulaMode? '': removeElement($index)"></i>
                                                </div>

                                                <div id="[[field.id]]" class="form-group drag" ng-switch-when="textarea" ng-class="field.Active ? 'active-field' : '' " style=[[field.Style]]>
                                                    <span ng-if="getFieldSetting(field, 'Mandatory').Value" class="orange-txt">*</span>
                                                    <input type="text" class="input-as-label" ng-model="field.Name" value="[[field.Name + (getFieldSetting(field, 'Mandatory').Value ? '*': '')]]" ng-change= "changeFieldSetting(field.Name,'Field Label')"/>
                                                    <textarea class="form-control"  rows="4"></textarea>
                                                    <i class ="fa fa-times remove-ico" ng-if="field.Active"  ng-click="formulaMode? '' : removeElement($index)"></i>
                                                </div>

                                                <div id="[[field.id]]" class="form-group drag" ng-switch-when="image" ng-class="field.Active ? 'active-field' : '' " style=[[field.Style]]>
                                                    <input type="file" fileinput="fileinptut" filepreview="getFieldSetting(field, 'Relative_Path').Value" ng-class="hideInput"/>
                                                    <!-- <img ng-src="[[filepreview]]" class="img-responsive" ng-show="filepreview"/> -->
                                                    <img ng-src="[[getFieldSetting(field, 'Absolute_Path').Value]]" class="img-responsive"/>
                                                    <i class ="fa fa-times remove-ico" ng-click="removeElement($index)" ng-if="field.Active"></i>
                                                </div>

                                                <div id="[[field.id]]" class="form-group drag" ng-switch-when="table" ng-class="field.Active ? 'active-field' : '' " style=[[field.Style]]>
                                                    <table id="demo-table" class="bordered cellpadding-0 cellspacing-0">
                                                        <thead>
                                                        <tr>
                                                            <th ng-repeat="header in field.Columns" ng-click="formulaMode? activeFieldForFormula(field, $index, $event) : getColumnIndex(field, $index, $event)">[[header.Name]]</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="header in field.Columns">
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <i class ="fa fa-times remove-ico" ng-if="field.Active"  ng-click="formulaMode? '' : removeElement($index)"></i>
                                                </div>

                                                <div id="[[field.id]]" class="form-group drag" ng-switch-when="header" ng-class="field.Active ? 'active-field' : '' " style=[[field.Style]]>
                                                    <p  ng-class="getFontWeight(getFieldSetting(field, 'Font Size').Value)">[[getFieldSetting(field, 'Field Label').Value]]</p>
                                                    <i class ="fa fa-times remove-ico" ng-if="field.Active"  ng-click="removeElement($index)"></i>
                                                </div>

                                                <div ng-switch-default>
                                                </div>
                                            </li>

                                            <li class="drop-to-add col-md-12" element-drop>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" id="sideBar">
                            <div class="tab-container text-center">
                                <ul class="neo-nav clearfix" role="tablist">
                                    <li role="presentation" class="active"><a href="#addFieldTab" id="addFieldTab_lnk" aria-controls="home" role="tab" data-toggle="tab">Add a Field</a></li>
                                    <li role="presentation"><a href="#fieldSettingTab" id="fieldSettingTab_lnk" aria-controls="profile" role="tab" data-toggle="tab">Field Settings</a></li>
                                </ul>
                            </div>

                            <div class="tab-content" id="sidebar-tab-content">
                                <div role="tabpanel" class="tab-pane active" id="addFieldTab">
                                    <div id="stdFields">
                                        <ul  ng-model="dragElements" class="sortable-stdFields">
                                            <li draggable="true" class="dragElement-wrapper" ng-repeat="ele in dragElements" element-draggable data-index="[[$index]]">
                                                <div class="drag-element" ng-click="addElement(ele)" >
                                                    <i class="[[ele.Icon]]"></i> [[ele.Name]]
                                                </div>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="fieldSettingTab">
                                    <div ng-repeat="set in current_field.Settings" ng-switch on="set.Type">
                                        <div >

                                            <div class="form-group " ng-switch-when="text" >
                                                <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                                <input ng-change="changeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value"  class="form-control" value="[[set.Value]]" >
                                            </div>

                                            <div class="form-group " ng-switch-when="formula" ng-show="set.Visibility">
                                                <label for="[[set.Name.replace(' ','_')]]">[[set.Name]]</label>
                                                <input ng-change="changeFieldSetting(set.Value, set.Name)" type="text" ng-model="set.Value" ng-focus="formulaFocus($event)" ng-blur="formulaBlur()" class="form-control" value="[[set.Value]]" placeholder="[[set.Name]]">
                                            </div>

                                            <div class="form-group" ng-switch-when="string">
                                                <label >[[set.Name]]</label>
                                                <br>
                                                <span >[[set.Value]]</span>
                                            </div>

                                            <div class="form-group" ng-switch-when="label" >
                                                <label class="pale">[[set.Name]]</label>
                                            </div>

                                            <!-- <div class="form-group " ng-switch-when="dropdown"> -->
                                            <div class="form-group " ng-switch-when="dropdown" ng-show="checkVisibility(set)">
                                                <label >[[set.Name]]</label>
                                                <select class="form-control" ng-model="set.Value" >
                                                    <option ng-repeat="op in set.PossibleValue">[[op]]</option>
                                                </select>
                                            </div>

                                            <div class="form-group " ng-switch-when="dropdown_reference" ng-show="set.Visibility">
                                                <label >[[set.Name]]</label>
                                                <select class="form-control" ng-model="set.Value" >
                                                    <option ng-repeat="op in set.PossibleValue">[[op]]</option>
                                                </select>
                                            </div>

                                            <div class="form-group " ng-switch-when="dropdown_autocomplete" ng-show="set.Visibility">
                                                <label >[[set.Name]]</label>
                                                <select class="form-control" ng-model="set.Value" >
                                                    <option ng-repeat="op in set.PossibleValue">[[op]]</option>
                                                </select>
                                            </div>

                                            <div class="form-group" ng-switch-when="radio" >
                                                <div ng-repeat="val in set.PossibleValue" class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios"  value="[[val.Checked]]" ng-checked="val.Checked">
                                                        [[val.Text]]
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-switch-when="dropdown_increment">
                                                <label class="control-label">
                                                    Choices
                                                </label>
                                                <div ng-repeat="val in set.PossibleValue" class="radio" class="form-control">
                                                    <i class="fa fa-sort fa-lg">

                                                    </i>
                                                    &nbsp;
                                                    <i class="fa fa-circle-o fa-lg">

                                                    </i>
                                                    <input type="text"  value="val.Text" ng-model="val.Text">
                                                </div>

                                            </div>

                                            <div ng-switch-when="checkBoxZone">
                                                <a role="button" data-toggle="collapse" href="#chkBoxZone">
                                                    <i class="fa fa-lg fa-plus-square-o"></i><i class="fa fa-lg fa-minus-square-o"></i> [[set.Name]]
                                                </a>
                                                <div class="collapse in" id="chkBoxZone">
                                                    <div class="form-group" ng-repeat="op in set.Options">
                                                        <label class="checkbox-inline" >
                                                            <input type="checkbox" value="[[op.Value]]" ng-model="op.Value"> [[op.Name]]
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            <p ng-switch-default>
                                                Unknown
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper row clearfix">
    <div class="contact-list-hidden-xs col-md-3 padding-r0">
        <div class="contacts-list-v2">
            <div>
                <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'">
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>

<script type="text/javascript" src="/chartist/chartist-plugin-tooltip.min.js"></script>
<script type="text/javascript" src="/chartist/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/javascripts/common/ngLodash.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/customerProfiles/corporateAdmin/createCustomerProfileTemplate.js"></script>
<script type="text/javascript" src="/javascripts/common/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>

</body>
</html>