<!DOCTYPE html>
<html data-ng-app="relationshipCartoonApp">
<head lang="en">
    <!--<title>Relationship Cartoon</title>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="description" content="Relatas is an out-of-the-box intelligent CRM which provides Relationship Intelligence for small businesses and productivity apps for sales teams. Try it for free.">-->
    <meta name="author" content="Relatas">

    <meta property="og:url"           content="//relatas.com/relationship-cartoon" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Relationship Cartoon" />
    <meta property="og:description"   content="I just got my Relationship Cartoon! Checkout yours too!"/>
    <meta property="og:image"         content="//relatas.com/landing/img/relatas_logo.png"/>
    <!--scroll bar-->
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular-route.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="/relatasIcon.png">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/css/main-non-app.css" rel="stylesheet">
    <link href="//vjs.zencdn.net/5.2.3/video-js.css" rel="stylesheet">

    <link href="../landing/css/main.css" rel="stylesheet">
    <script src="/javascripts/schedule/jquery.js"></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/javascripts/schedule/mixpanelapi.js"></script>-->
    <script src="/javascripts/schedule/slide/jquery.mCustomScrollbar.concat.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//vjs.zencdn.net/5.2.3/video.js"></script>
    <script type="text/javascript" src="/javascripts/mixpanel/token.js"></script>
    <script type="text/javascript" src="/javascripts/surveys/relationshipCartoon.js"></script>
    <style>
        .relationshipcartoo-email::-webkit-input-placeholder:after {
            content: ' ';
            color: red;
            font-size: 1.21em;
        }

        .relationshipcartoo-email:-moz-placeholder:after { /* Firefox 18- */
            content: ' ';
            color: red;
            font-size: 1.21em;
        }

        .relationshipcartoo-email::-moz-placeholder:after { /* Firefox 19+ */
            content: ' ';
            color: red;
            font-size: 1.21em;
        }

        .relationshipcartoo-email:-ms-input-placeholder:after {
            content: ' ';
            color: red;
            font-size: 1.21em;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img src="../landing/img/relatas_logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/relationship-intelligence-product">product</a>
                </li>
                <li>
                    <a href="/relationship-intelligence-company">company</a>
                </li>
                <li class="dropdown" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">login</a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li id="login-with-linkedin"><a href="#"><span class="btn-sprite log-link"></span></a></li>-->
                        <!--<li role="presentation" class="divider"></li>-->
                        <li id="login-with-google"><a href="#" class="mLandingLoginFaq"><span class="btn-sprite log-google"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown signup-ok" {{loginSignUp}}>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <button class="btn blue-btn padding5 margin0">SIGNUP</button>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li id="sign-up-with-linkedin"><a href="#"><span class="btn-sprite sign-link"></span></a></li>-->
                        <!--<li role="presentation" class="divider"></li>-->
                        <li id="sign-up-with-google"><a href="#"><span class="btn-sprite sign-google"></span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout" {{logout}}>logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="clearfix container">

    <div class="row" data-ng-controller="relationshipCartoon">
        <h2 style="margin-left: 14%;">[[shareView]] your Relationship Story</h2>

        <div class="col-md-5 col-md-offset-1 text-center" style="background-color: #eee;border-radius: 2px;padding: 2% 3%;border: 1px solid #ddd;">

            <p ng-show="error"><span style="color:red;">*</span>Please enter a valid Email ID</p>
            <p ng-show="errorName"><span style="color:red;">*</span>Please enter your Name</p>
            <p ng-show="errorGender"><span style="color:red;">*</span>Please select your gender</p>


            <img src="../images/maleV1.png" style="max-width: 155px;border-radius: 4%;border: 1px solid #ddd;" ng-show="male">
            <img src="../images/femaleV1.png" style="max-width: 155px;border-radius: 4%;border: 1px solid #ddd;" ng-show="female">

            <div ng-show="myvalue">
                <!--<h1>This is [[name]] </h1>-->
                <!--<p>[[name]] likes having fun with [[maxUse]]!</p>-->
                <!--<p>[[maxUse]] make [[name]] productive!</p>-->
                <!--<p>Be awesome like [[name]]!</p>-->
                <!--<hr>--><hr>

<div style="white-space: pre;">[[message]]</div>

<hr>
                <button onclick="myFunction()" class="btn btn-primary btn-lg">Play again</button>
                <!--<a class="btn btn-success btn-lg" href="//hrefshare.com/1bb58" target="_blank">Share on Facebook</a>-->
                <!-- Your share button code -->
                <!--<div class="fb-share-button"-->
                     <!--data-href="//relatas.com/relationship-cartoon"-->
                     <!--data-layout="button_count">-->
                <!--</div>-->
                <a class="btn btn-success btn-lg" href="//www.facebook.com/dialog/feed?
app_id=863619133666334&
link=//www.relatas.com/relationship-cartoon/&
picture=[[img]]&
name=My%20Relationship%20Cartoon&
caption=Relatas.com&
description=[[facebook]].&
message=Facebook%20Dialogs%20are%20so%20easy!&
redirect_uri=//www.relatas.com/relationship-cartoon" target="_blank">
                    Share On Facebook
                </a>
            </div>

            <div ng-show="gameform">

            <div class="form-group">
                <label>How many emails do you send daily</label>
                <!--<input type="text" class="form-control" ng-model="emailsNumber" placeholder="Number of emails">-->
                <select class="form-control" ng-model="emailsNumber">
                    <option value="15" selected="selected"><15</option>
                    <option value="30">16-30</option>
                    <option value="50">35+</option>
                </select>
            </div>
                <div class="form-group">
                    <label>How many calls do you make daily</label>
                    <!--<input type="text" class="form-control" ng-model="callsNumber" placeholder="Number of emails">-->
                    <select class="form-control" ng-model="callsNumber">
                    <option value="15" selected="selected"><15</option>
                    <option value="30">16-30</option>
                    <option value="50">35+</option>
                </select>
                </div>
                <div class="form-group">
                    <label>How many meetings you attend daily</label>
                    <!--<input type="text" class="form-control" ng-model="meetingsNumber" placeholder="Number of emails">-->
                    <select class="form-control" ng-model="meetingsNumber">
                        <option value="15" selected="selected"><15</option>
                        <option value="30">16-30</option>
                        <option value="50">35+</option>
                    </select>
                </div>
                <div class="form-group relationshipcartoo-email">
                    <label>Email address</label>
                    <input type="email" class="form-control relationshipcartoo-email" ng-model="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="name" placeholder="Name">
                </div>

            <div class="form-group">
                <label>Gender</label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="gender" value="female"> Female
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="gender" value="male"> Male
                </label>
            </div>
            <button class="btn btn-success btn-lg" ng-click="calRelationshipCartoon(email,name,emailsNumber,gender,callsNumber,meetingsNumber)">Submit</button>

            </div>
        </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="relatas-videos" ng-show="relatasVideo" style="border: 1px solid #ddd;margin: 15px 0 0 0;min-height: 255px;x">
            <video id="my-video" class="video-js vjs-default-skin" controls="" preload="auto" width="640" height="264" poster="/images/relatasIcon.png" data-setup="{}" style="width: 99%;padding: 1%;margin: auto;background-color: #eee;">
                <source src="//s3.amazonaws.com/relatas-live-imagestorage/Video/Relatas_380.mp4" type="video/mp4">

                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    supports HTML5 video
                </p>
            </video>
        </div>
        <div class="text-center" ng-show="relatasVideo">
            <h4 style="border-top: 1px solid #ddd;padding-top: 15px;color: #555;">See how Relatas can add INTELLIGENCE to your interactions.</h4>
            <button class="sign-up-open blue-btn btn-lg">Signup Now</button>
        </div>
    </div>
    </div>



</div>
<!-- Footer -->
<div class="bg-grey" style="margin-top:15px;">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="quick-links">
                                <a href="//showcase.relatas.com/">Home</a> |
                                <a href="//showcase.relatas.com/relationship-intelligence-product">Product</a> |
                                <a href="//showcase.relatas.com/relationship-intelligence-company">Company</a> |
                                <!--	<a href="#">Pricing</a> |
                                    <a href="#">Contact</a> | -->
                                <a href="//blog.relatas.com/" target="_blank">Blog</a>  |
                                <a href="//showcase.relatas.com/FAQ">FAQ</a>
                                <div class="t-c">Copyright © 2016 Relatas All Rights reserved. <a href="//showcase.relatas.com/terms">Terms &amp; Conditions. </a><a href="//showcase.relatas.com/privacy">Privacy Policy</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <strong class="pull-left" style="margin: 5px;">Follow Us:</strong>
                            <a id="relatasSocialTwitter" href="//twitter.com/RelatasHQ" class="soc-sprite twitter" target="_blank"></a>
                            <a id="relatasSocialFacebook" href="//www.facebook.com/relatasHQ/" class="soc-sprite facebook" target="_blank"></a>
                            <a id="relatasSocialLinkedin" href="//www.linkedin.com/company/relatas" class="soc-sprite linkedin" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    function myFunction() {
        location.reload();
    }

</script>

<script src="/javascripts/loginSignup.js"></script>

<script>
    $(document).ready(function(){
        $(".sign-up-open").click(function(e){

            $('html, body').animate({
                scrollTop: "10px"
            }, 800);

            $(".signup-ok").toggleClass('open');
            e.stopPropagation();
        });

        $(".sign-up-open").click(function(e) {
            $(".mobile-toggle").toggleClass('in');
        });

    });
</script>

</body>
</html>