<div class="eventPopover">
    <div class="row" style="margin: 10px 10px;">
        <i class="fa fa-calendar-minus-o fa-2x"
           style="color: #F86B4F;border-right: 1px solid #DADADA; padding-right: 15px;" ng-click="test()"></i>
        <i class="fa fa-check-square-o fa-2x" style="color: #E0E0E0;"></i>
    </div>

    <form class="form-horizontal" id="calendar">
        <div class="form-group" style="border-bottom: 1px solid #A4E0EC;">
            <label for="inputEmail3" class="col-sm-5 control-label" style="text-align: left;font-weight: 400;">Enter
                Email :</label>

            <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail3"
                       style="     box-shadow: none;border: none; width: 145%; margin-left: -85px;">
            </div>
        </div>
        <div class="form-group" style="border-bottom: 1px solid #A4E0EC;">
            <label for="title" class="col-sm-6 control-label" style="text-align: left;font-weight: 400;">Meeting /Event
                Title* :</label>

            <div class="col-sm-6">
                <input type="text" ng-model="sendData.title" value="[[eventTitle]]"
                       class="form-control" id="title"
                       style="box-shadow: none;border: none;width: 135%; margin-left: -55px;"/>
            </div>
        </div>

        <div class="form-group" style="border-bottom: 1px solid #A4E0EC;">
            <label for="location" class="col-sm-6 control-label" style="text-align: left;font-weight: 400;">Select
                Location Type* :</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" id="location" ng-model="sendData.locationType"
                       value="[[locationType]]" style="box-shadow: none;border: none;width: 135%; margin-left: -55px;">
            </div>
        </div>


        <div class="form-group" style="border-bottom: 1px solid #A4E0EC;">
            <label for="contact" class="col-sm-5 control-label" style="text-align: left;    font-weight: 400;">Phone No
                Details* :</label>

            <div class="col-sm-7">
                <input type="text" class="form-control" id="contact" ng-model="sendData.location"
                       style="box-shadow: none;border: none;    width: 123%; margin-left: -40px;"
                       value="[[location]]">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-12 control-label" style="text-align: left;    font-weight: 400;">Agenda
                / Meeting Details* :</label>

            <div class="col-sm-12">
                <input type="text" class="form-control" id="description" style="      box-shadow: none;   border: none;"
                       ng-model="sendData.description"
                       value="[[description]]">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="text-align: right;">
                <button type="button" class="btn btn-default popoverClose"
                        style="background-color: #267368 !important; color: white;">Close
                </button>
                <button type="button" class="btn btn-default"
                        style="background-color: #267368 !important; color: white;">Send
                </button>
            </div>
        </div>
    </form>
</div>