<!DOCTYPE html>
<html lang="en" data-ng-app="relatasApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Relatas provides smart Contact Intelligence for your professional contacts to help you open more doors.">
    <meta name="author" content="Relatas">
    <title>Meeting Scheduler | Relatas</title>
    <script src="/javascripts/schedule/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/schedule/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

    <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href="/stylesheets/css/toastr.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/librariesBundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/css/styles.css" rel="stylesheet">
    <link href="/stylesheets/main-app-v2.css" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="/javascripts/schedule/bootstrap.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/schedule/slide/toastr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.8/xlsx.full.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .node rect {
            cursor: move;
            fill-opacity: .9;
            shape-rendering: crispEdges;
        }

        .node text {
            pointer-events: none;
            text-shadow: 0 1px 0 #fff;
        }

        .link {
            fill: none;
            stroke: #00000080;
            stroke-opacity: .2;
        }

        .link:hover {
            stroke-opacity: .5;
        }
    </style>

</head>
<body style="overflow-x:hidden;" ng-cloak class="grey-green-bg-important">
<nav class="navbar navbar-fixed-top version-2" data-ng-include="'/schedule/headerV2'"></nav>

<div class="container-fluid reports">
    <div class="row">
        <div class="leftside-bar contact-list-hidden-xs">
            <div class="mainNav" id="sidebar-wrapper" data-ng-include="'/schedule/left_menubar'" class="{{disableIcons}}"></div>
        </div>
    </div>
    <div class="row relative meeting-scheduler" ng-controller="teamList">
        <div class="left-panel">
            <ul class="list-unstyled">
                <li class="[[item.selected]]" ng-repeat="item in menu" data-ng-click="openViewFor(item)">
                    [[item.name]]
                </li>
            </ul>
        </div>
        <div class="right-panel res-col-js">
            <div class="clearfix">
                <h5 class="pull-left bold" style="margin-top: 23px;">
                    [[meetingsDateRange]]
                </h5>
                <div class="pull-right">
                    <input type="file" placeholder="Upload XLS" id="file" ng-model="csvFile" onchange="angular.element(this).scope().ExcelExport(event)"/>
                    <label for="file" class="btn btn-primary">Upload Meetings</label>
                </div>
                <div class="pull-right" style="margin: 0 10px;margin-top: 25px;">
                    <a href="/meetings/scheduler/templates">Download Template</a>
                </div>
            </div>

            <div class="stats row">
                <div class="[[colClass]]" ng-repeat="col in cols">
                    <h5 class="bold">[[col.name]]</h5>
                    <div class="number [[col.name]]">[[col.value]] <span ng-show="col.percentage != 'null'" style="color: #333;font-size: 14px;">([[col.percentage]])</span></div>
                </div>
            </div>
            <div class="table-responsive reports">
                <table class="table">
                    <tr>
                        <th ng-repeat="th in tableHeaders" class="[[th.maxWidth]]">
                            <div ng-show="th.name == 'Delete' && canDelete">
                                <label>
                                    <input type="checkbox" ng-model="selectAllisChecked" data-ng-click="selectAll()">
                                </label>
                                <button style="background: #fff;margin: 0;padding: 2px 4px;" class="btn close-btn" data-ng-click="deleteMeetings()">Delete</button>
                            </div>
                            <div ng-show="th.name != 'Delete'">

                                <div class="[[th.cursor]]" data-ng-click="openFilter(th)">
                                    [[th.name]]
                                    <i class="fas fa-sort-down" ng-show="!sortReverse && th.name == 'Sl #'"></i>
                                    <i class="fas fa-sort-up" ng-show="sortReverse && th.name == 'Sl #'"></i>
                                </div>

                                <div ng-if="th.open" class="drop-down">


                                    <div class="body">
                                        <div ng-if="th.name == 'Date'">
                                            <input type="text" placeholder="Start Date" ng-model="startDate" ng-mouseover="registerDatePickerId('startDate')" id="startDate">

                                            <input type="text" placeholder="End Date" ng-model="endDate" ng-mouseover="registerDatePickerId('endDate')" id="endDate">
                                        </div>
                                        <div ng-show="th.name != 'Date' && th.name != 'Status'">
                                            <div ng-repeat="owner in owners">
                                                <label>
                                                    <input type="checkbox" ng-model="owner.selected">
                                                    [[owner.name]]
                                                </label>
                                            </div>
                                        </div>
                                        <div ng-show="th.name == 'Status'">
                                            <label>
                                                <input type="checkbox" ng-model="status.confirmed">
                                                Confirmed
                                            </label>
                                            <label>
                                                <input type="checkbox" ng-model="status.declined">
                                                Declined
                                            </label>
                                            <label>
                                                <input type="checkbox" ng-model="status.postponed">
                                                Postponed
                                            </label>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <button class="btn btn-green" data-ng-click="applyFilters(th)">Apply Filter</button>
                                        <button style="background: #fff;margin: 0;padding: 2px 10px;" class="btn close-btn" data-ng-click="closeFilters(th)">Close</button>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="tr in tableRows|orderBy:sortType:sortReverse" class="cursor">
                        <td data-ng-click="openMeeting(tr)">
                            [[tr.sl]]
                        </td>
                        <td data-ng-click="openMeeting(tr)">
                            <div class="hierarchy-header">
                                <div class="team-profiles reset" title="[[tr.member.emailId]]">
                                    <span ng-if="tr.member.noPicFlag">[[tr.member.nameNoImg]]</span>
                                    <strong>
                                        [[tr.member.fullName]]
                                    </strong>
                                </div>
                            </div>
                        </td>
                        <!--<td data-ng-click="openMeeting(tr)">[[tr.assignedToMe]]</td>-->
                        <td data-ng-click="openMeeting(tr)">[[tr.account]]</td>
                        <td data-ng-click="openMeeting(tr)">[[tr.contactsFormatted]]</td>
                        <td data-ng-click="openMeeting(tr)">[[tr.location.address]]</td>
                        <td data-ng-click="openMeeting(tr)">[[tr.dateFormatted]]</td>
                        <td data-ng-click="openMeeting(tr)" class="capitalize">[[tr.status]]</td>
                        <td data-ng-click="openMeeting(tr)">[[tr.notes.length]]</td>
                        <td ng-show="tr.fromEmailId === liuEmailId">
                            <input type="checkbox" ng-model="tr.delete">
                            Delete
                        </td>
                    </tr>
                </table>
                <div ng-show="tableRows.length == 0" class="text-center">
                    No scheduled meetings found.
                </div>
                <div class="commit" ng-show="meeting.openModal">
                    <div class="reports-modal">
                        <div class="reports-modal-body">
                            <div class="clearfix head">
                                <button class="btn close-btn pull-right" data-ng-click="closeModal(meeting)">Close</button>
                            </div>
                            <div>

                                <div>
                                    <label>Contacts</label>
                                    <ol style="padding-left: 15px;">
                                        <li ng-repeat="co in meeting.contacts">[[co]]</li>
                                    </ol>
                                </div>
                                <div>
                                    <label>Status</label>
                                    <div class="clearfix">
                                        <div class="pull-left radio margin0">
                                            <input id="confirm" type="radio" ng-model="meeting.status" value="confirmed">
                                            <label for="confirm">
                                                Confirmed
                                            </label>
                                        </div>

                                        <div class="pull-left radio margin0">
                                            <input id="low" type="radio" ng-model="meeting.status" value="postponed">
                                            <label for="low" class="low">
                                                Postponed
                                            </label>
                                        </div>

                                        <div class="pull-left radio margin0">
                                            <input id="high" type="radio" ng-model="meeting.status" value="declined">
                                            <label for="high" class="high">
                                                Declined
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <label>Address</label>
                                    <p>[[meeting.location.address]]</p>
                                </div>

                                <label>Notes</label>
                                <textarea ng-model="meeting.note" placeholder="Enter notes..."></textarea>

                                <table class="table">
                                    <tr ng-repeat="nt in meeting.notes">
                                        <td style="white-space: inherit;border: none;padding:5px 0;border-top: 1px solid #eee;">
                                            [[nt.text]]
                                        </td>
                                        <td title="[[nt.by.emailId]]" style="width: 170px; border: none;padding:5px 0;border-top: 1px solid #eee;line-height: 12px;">
                                            <h5 class="bold margin0" style="font-size: 11px;">[[nt.by.fullName]]</h5>
                                            <span class="fs-10" style="color: #777;">[[nt.dateFormatted]]</span>
                                        </td>
                                    </tr>
                                </table>
                                <button class="btn btn-green" data-ng-click="updateMeeting(meeting)">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            'positionClass':'toast-top-full-width',
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "8000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
</script>

<script type="text/javascript" src="/javascripts/meetingScheduler/index.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/common/common.js"></script>
<script type="text/javascript" src="/javascripts/common/leftMenuControllerRelatasApp.js"></script>
<script type="text/javascript" src="/javascripts/mixpanel/tokenV2.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-rangy.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular.min.js"></script>
<script type="text/javascript" src="/javascripts/common/textAngular-sanitize.min.js"></script>
<script src="/javascripts/datePicker/jquery.datetimepicker.js"></script>

<style>

    svg {
        font: 10px sans-serif;
    }

    .background path {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
    }

    .foreground path {
        fill: none;
        stroke: #2499c9;
    }

    .brush .extent {
        fill-opacity: .3;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .axis line,
    .axis path {
        fill: none;
        stroke: #555;
        shape-rendering: crispEdges;
    }

    .axis text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        cursor: move;
    }

    .tooltip {

        background-color: rgba(220,220,220,0.5);
        color: #333;
        margin: 10px;
        height: 25px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
    }

</style>
</body>
</html>