<div class="left-panel">
    <ul class="list-unstyled">
        <li class="[[item.selected]]" ng-repeat="item in menu" data-ng-click="openViewFor(item)">
            [[item.name]]
        </li>
    </ul>
</div>