.secNav select { width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.secNav .select2-container .select2-choice, .secNav .selector { border-color: #c8c8c8; }
.secNav .select2-container { width: 100%!important; max-width: 100%; }



.jqstooltip { z-index: 10001; border: 1px solid #303030!important; box-shadow: none; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }


/* # General styles
================================================== */

html { height: 100%; }
body {font-size: 12px; line-height: 22px; color: #5f5f5f; min-height: 100%; position: relative; }

#page { padding-top: 55px;  }
#content {

	padding-bottom: 60px;
	position: relative;
	//margin-left:329px;
	padding-top: 49px;
	//background: green;
}

.wrapper1 {
	//width: 100%;!important;
	margin: 0 22px;
}

/* # Typography
================================================== */

/* === Headings === */

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }


/* === Text colors === */

.red { color: #A64949; }
.green { color: #4D7F12; }
.grey { color: #aaa; }



#sidebar { display: block;min-height: 100%; position: absolute; z-index: 999; border-right: 1px solid #c3c3c3;margin-top: 47px; }
.mainNav {
	width: 85px;
    position: fixed;
    display: inline-block;
    z-index: 99;
    background-color:#16A085;
    height: 700px;
	margin-top: 50px;
}
.secNav {
	background: rgb(244, 243, 239);
	z-index: 98;
	margin-top: 55px;
	padding: 0;
	margin-left: -25px;
	min-height:749px;
	border-right: 1px solid #e1e1e1;
	width: 275px;
}


.sec-nav-enterprise {
	background: rgb(244, 243, 239);
	z-index: 98;
	margin-top: 55px;
	padding: 0;
	margin-left: -25px;
	min-height:749px;
	border-right: 1px solid #e1e1e1;
	width: 275px;
}

.secNav2{
	min-height: 854px;
}

.secNav h6 { font-size: 12px; padding: 0 15px; }
.secNav .secWrapper:after { content: ""; display: block; clear: both; }
#sidebar .legend { display: none; }
#sidebar .divider { height: 0; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #f5f5f5; position: relative; margin: 20px 0; }
#sidebar .sidePad { padding: 0 15px; }



.secNav .tagsinput { background: none; border: none; padding: 0 8px; margin: -3px 0; }
.secNav .tagsinput span.tag {
	margin: 3px;
	color: #5f5f5f;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
}


/* # Media queries
================================================== */

@media only screen and (max-width: 1350px) {
body { -webkit-text-size-adjust: none; }
.fluid .grid12 { width: 99.99999998999999%; *width: 99.94680850063828%; }
}

@media only screen and (max-width: 1024px) {

.quickStats { position: absolute; right: 22px;}
.quickStats li a { display: none; }
.quickStats li strong { font-size: 16px; }
.chzn-container { width: 100%!important; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
#sidebar { width: 100px; }
#sidebar [class*="dataNum"] { display: inline-block; float: right; margin-left: 14px; position: static; margin-top: 1px; }
.moreFields ul li { width: 12%; }
}

@media only screen and (min-width: 481px) {
#sidebar { display: block!important; }
}

@media only screen and (max-width: 768px) {
.breadLine { text-align: right; padding-right: 22px; }
.breadLinks { float: none; display: inline-block; margin: 0; }
.under .breadLinks > ul > li > a span, .under .breadLinks ul li a strong { display: none; visibility: hidden; }
.under .breadLinks ul li a i { float: none; margin: 0; padding: 4px; }

}

@media only screen and (min-width: 769px) {
.nav li:hover ul { display: none; }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
.contentTop { overflow: hidden; }
.breadLinks { display: none; }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	#sidebar {
		background: none;
		width: 100%;
		border: none;
		min-height: 0;
		display: none;
	}

	.secNav {
		display: none;
	}

	.mainNav {
		float: left;
		width: 100%;
	}

	.nav li {
		display: inline-block;
	}

	.nav li a span {
		display: none;
	}

	.nav li ul {
		top: 53px;
		padding: 0;
		right: 0;
		left: 0;
	}

	.nav li ul li {
		display: block;
	}

	.visibility-md-custom {
		display: block !important;
		position: absolute;
		z-index: 1000;
		margin-left: 109px;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .15);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}
}